[2022-03-30 13:16] LB-JakubSkoczylas opened #8611 "Incorrect warning for unbuilt project"
**Describe the bug**
When the user selects the build option for an already built project and cancels the operation, a warning is displayed suggesting that the project has to be built again.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Project Manager
2. Select the "Build" option for any project.
3. Select "Cancel".

**Expected behavior**
The operation is canceled and the Proj

[2022-03-30 15:45] lumberyard-employee-dm commented on #3198
This was finished with the second phase of the O3DE as an SDK work

[2022-03-30 15:45] #3198 closed

[2022-03-30 15:48] lumberyard-employee-dm commented on #3670
The is work has been completed.

[2022-03-30 15:48] #3670 closed

[2022-03-30 15:54] lumberyard-employee-dm commented on #3199
This work should be finished.

[2022-03-30 15:54] #3199 closed

[2022-03-30 16:16] lumberyard-employee-dm commented on #8480
This actually relates to another issue that we have where the project root directory is set as a scan folder.
Here is a comment about the issue: https://github.com/o3de/o3de/pull/4583#discussion_r725388552

In theory the <project-root> shouldn't be a scan folder, but instead the <project-root>/Assets directory should be the scan folder.

That would prevent any gems located within the project from

[2022-03-30 17:01] lumberyard-employee-dm commented on #8608
This is looks like an issue with setting the 3rdParty::OpenSSL target on linux

[code]

[2022-03-30 17:09] superkitcath commented on #8475
@amzn-pratikpa ; could you check if this is core? If not, you can send it back to sig/graphics, Thanks!

[2022-03-30 17:39] #1883 closed

[2022-03-30 17:57] dshmz commented on #7268
spham-amazn is working on it and the issue is currently waiting for the updated packages to be promoted to prod, before creating a final PR.

[2022-03-30 18:05] lawsonamzn opened #8613 "OSX Builders, AssetProcessor, Editor crash at random when loading the PhysX module."
**Describe the bug**
When loading on OSX, the PhysX module can crash at random.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Start the Asset Processor or Asset Builder
2. Watch for errors
3. Notice how it sometimes crashes when loading the PhysX module, seemingly randomly

**Found in Branch**
develpoment

**Desktop/Device (please complete the following information):**
 - Device:  Ma

[2022-03-30 18:08] lawsonamzn opened #8614 "AssetBuilder will hang on shutdown and emit an ebus error"
**Describe the bug**
Running AssetBuilder on its own or viewing the logs of one run by AssetProcessor reveals an ebus error on shutdown.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the AssetBuilder binary and watch the output.

**Expected behavior**
It shuts down cleanly (even if theres an error)

**Actual behavior**
It emits an ebus error and does not shut down, hanging instea

[2022-03-30 18:23] #8467 closed

[2022-03-30 18:50] santorac commented on #8529
This is not a sig-graphics issue.

There are two separate concerns:
1) The missing windows notification when the AP fails to process the material in some cases. The difference is when you change the materialType to a file that doesn't exist, the ProcessJob step fails. When you change the materialTypeVersion value to something that's invalid JSON, the CreateJobs step fails. It looks like the underl

[2022-03-30 18:57] AMZN-Gene opened #8616 "NetworkRigidBodyComponent Doesn't Force NetTransform Dependency"
**Describe the bug**
The networkrigidbody component requires net transform component to properly function, but the component isn't marked as dependent

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a project with Multiplayer Gem enabled and installed (Ex: AutomatedTesting)
2. Add NetworkRigidBodyComponent to an empty entity

**Expected behavior**
The component outline should show

[2022-03-30 18:58] santorac commented on #8552
I'm not sure where this ticket originated, was a user requesting it? There's no indication on the original jira ticket. I recommend we close this issue (unless a user is asking for it, maybe).

Also, see this video which shows how to make a custom material type that at least partially addresses this use case: https://www.youtube.com/watch?v=97dBMZXDNA4

[2022-03-30 19:08] lawsonamzn commented on #8529
Yes, the default behavior for asset processor is to keep old products available until new ones succed - however, builders can actually opt out of this behavior if so desired by setting a flag on the jobs/builder itself.  If that flag is set, jobs that fail will cause the prior products in the cache to be deleted, which will clear the assets entirely, and make them unavailable in the editor.  It de

[2022-03-30 19:29] michleza opened #8618 "Gameplay: Lookat component sets entity's uniform scaling to 1.0 when lookat target movies."
**Describe the bug**
Attaching a lookact component to an entity and moving it's target during run time will reset the entity's uniform scale back to 1.0

**Steps to reproduce**
1 - Load a new or existing level
2 - Create a new entity
3 - Set the new entity's uniform scaling to something greater than 1.0
4 - Attach a LookAt component to the entity and target the camera or another entity in the scen

[2022-03-30 20:58] #8613 closed

[2022-03-30 20:58] #8614 closed

[2022-03-30 21:00] #7225 closed

[2022-03-30 21:04] AMZN-Gene opened #8620 "Pick ModelAsset Search Match is Confusing"
**Describe the bug**
The search bar for selecting a model asset isn't working as expected.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor
2. Add a mesh component to an entity
3. Add a mesh
4. In the "Pick Model Asset" type "Primitive" to search for the basic Primitive Gem Assets

**Expected behavior**
Only assets inside the folder called "Primitive" or with "primitive" in

[2022-03-30 22:19] michleza opened #8622 "Script Canvas: Inconsistency between Color Variable and Color FromValues."
**Describe the bug**
If you provide RGBA values to a color FromValues node on a scale of 0-255 then pass the result to a light entity it will turn flat white during run time. The FromValues node does not properly translate the 0-255 scale down to 0-1 the way a color variable will with the same provided values

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new or existing level

[2022-03-31 03:31] Ulrick28 commented on #2889
Hi! Is there an issue for the RFC?

[2022-03-31 08:28] LB-RostyslavGavryliuk opened #8626 "RMB is treated the same as LMB in Project Manager context menu"
**Describe the bug**
When calling project context menu in Project Manager, options can be chosen by right-clicking them. This issue is not present on Linux, where only left-clicking options can activate them.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open PM.
2. Right-click any project.
3. Activate any option in the context menu by right-clicking it.

**Expected behavior**
Option

[2022-03-31 09:00] hultonha opened #8629 "AR Bug Report - Networking automated test failure"
**Describe the bug**

A clear and concise description of what the bug is.

**Failed Jenkins Job Information:**

Linux test_profile_nounity - failed
Windows test_cpu_profile - failed

https://jenkins.build.o3de.org/job/O3DE/job/PR-8612/1/
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-8612/1/pipeline

[code]

**Attachments**

[windows-test-cpu-profile.txt](https://github.c

[2022-03-31 09:02] LB-RostyslavGavryliuk opened #8630 "Return option from the “Configure Gems...” menu is misconfigured"
**Describe the bug**
When returning from the “Configure Gems…” menu of any project in Project Manager, the user is navigated to "Edit Project Settings" menu instead of the "My Projects" screen.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Project Manager.
2. Right-click on any project.
3. Select the “Configure Gems…” option.
4. Left-click the “Back" button or the navigation

[2022-03-31 09:12] LB-BartoszCwiek opened #8631 "Project Manager: Dependent Gems prompt window has no scroll"
**Describe the bug**
When more than 10-12 gems that require dependencies from another gems are deactivated, they appear cut off in Dependent Gems prompt window and the User is unable to select/deselect them due to lack of scroll.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Project Manager > Configure Gems.
2. Deactivate more than 10-12 gems that require dependencies.
3. Press

[2022-03-31 09:38] LB-BartoszCwiek opened #8632 "Project Manager: Swapping rapidly between the project templates results in a performance drop"
**Describe the bug**
During a new project creation when the User is swapping the project templates quickly it results in a significant fps drop.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Project Manager > New Project > Create New Project.
2. Swap between the templates rapidly.

**Expected behavior**
Project Manager remains stable when swapping rapidly between the project tem

[2022-03-31 09:58] LB-BartoszCwiek opened #8633 "Project Manager: Blue highlight remains on the buttons"
**Describe the bug**
When the User selects any of the buttons and deselects it, a blue highlight appears around it. This highlight remains after going back and forth between menus.
This concerns e.g. hamburger menus, Back button, Filter by checkboxes, Configure Gems button.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Project Manager.
2. Select hamburger menu and Edit Project S

[2022-03-31 10:00] gadams3 commented on #8350
I read through the repro steps on the wiki again. I don't think this is malfunctioning but we need to address UX issues related to menu option and dialog names.

In the wiki, a brand new material with a unique ID was created to replace FOUR with TEST. The data for the old slot is going to remain unless you clear it from the component wide context menu. All of the assignments and overrides will per

[2022-03-31 10:00] #8350 closed

[2022-03-31 10:15] LB-BartoszCwiek opened #8634 "Project Manager: Deleted project remains in the main menu"
**Describe the bug**
When the User deletes a project folder it remains in the Project Manager. It disappears after: swapping between Project and Engine tabs, restarting the Project Manager, pressing Open Editor Button or Build Project button.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Project Manager.
2. Open folder location of any project.
3. Delete folder.

**Expected behav

[2022-03-31 11:02] LB-BartoszDudzinski opened #8635 "LyShine: Render to texture does not function in Atom"
**Describe the bug**
The elements are not rendered if the "Use render to texture" checkbox is enabled in the Fader component.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor.
2. Open the UI Editor.
3. Click File > Open Canvas and open RttDirectFade from Gems\LyShineExamples\Assets\UI\Canvases\LyShineExamples\Comp\Fader.
4. Click Preview and interact with the Fade valu

[2022-03-31 11:21] LB-JakubSkorupka opened #8636 "Entity Outliner: Editor crashes after collapsing "double nested" prefab with left arrow key"
**Describe the bug**
Collapsing a selected nested prefab placed inside another nested prefab in the **Entity Outliner** with the left arrow key when its focus mode is enabled, crashes the Editor.

Note that this issue occurs on Windows and Linux.

Refer to the attached logs from a Windows machine for more information.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.

[2022-03-31 11:33] LB-TomaszSerwanski opened #8637 "Linux: Customize Toolbars window does not remain on top when clicking outside of it"
**Describe the bug**
The _Customize..._ window does not stay on top when clicking outside of it. This makes customizing toolbars inconvenient, as to remove a tool from the Toolbar, the user has to ALT+TAB while dragging the tool in order to get the _Customize..._ window on top.

Please note that the issue does not occur on Windows.

Refer to the attached video for more details.

**Steps to reprodu

[2022-03-31 11:50] LB-ArturZieba opened #8638 "Material Editor: Help > About window does not display any significant information"
**Describe the bug**
The "About" window in the Material Editor only contains the O3DE Material Editor name. For example the Editor's Help > About window displays the O3DE Editor branch, version, and terms of use.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Tools > Material Editor.
2. In the Material Editor go to Help > About.

**Expected behavior**
The About window in the Mat

[2022-03-31 12:12] LB-KacperKapusta opened #8639 "The default iOS Platform Settings refer to Lumberyard for newly created projects"
**Describe the bug**
The default values in the **iOS** tab under the Platform Settings reference **Lumberyard**, as part of **Bundle Identifier**. Note that the issue only occurs for newly created projects and it is not active for AutomatedTesting project.

Please refer to the attached screenshots for more information.

**Steps to reproduce**
1. Navigate to _File_ -> _Edit Platform Settings_ (or u

[2022-03-31 12:13] LB-KacperKapusta opened #8640 "Icons and Launchscreens missing from iOS Platform Settings for newly created projects"
**Describe the bug**
Platform Settings lack **Icons** and **Launchscreens** under iOS tab for newly created projects, which is inconsistent with the same settings for the Android platform. Note that the issue only occurs for newly created projects and it is not active for AutomatedTesting project, which seems to be only missing the following:

 **Icons:**
- App Store (1024px)
- iPhone Notification

[2022-03-31 12:32] LB-ArturZieba opened #8641 "Material Editor: Display Mapper Type button on the toolbar has no hover over icon and no tooltip"
**Describe the bug**
One of the Material Editor's buttons on the toolbar (Display Mapper Type button) displays a light-blue rectangle when hovered over, and has no tooltip, while the other toolbar buttons have them.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Tools > Material Editor.
2. Hover over all four buttons on the toolbar.

**Expected behavior**
All buttons highlight p

[2022-03-31 12:35] LB-RostyslavGavryliuk opened #8642 "“Open Editor” button is present for unbuild projects in Project Manager"
**Describe the bug**
“Open Editor” button is present for projects that were either not build successfully or never build in the first place. In addition, the "Project build required" warning disappears from the project tile in Project Manager after attempting to open an unbuilt project.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Project Manager.
2. Navigate to “New Projec

[2022-03-31 12:59] LB-HubertUberman opened #8643 "Reset option from toolbar Customize menu temporarily removes default tools"
**Describe the bug**
Using the Reset option from the toolbar customization window on Edit Mode Toolbar or Play Controls causes tools to be removed from those toolbars instead of resetting them to the default settings. Please note, that after restarting the editor all tools are displayed with no issue. Also, for the Play Controls toolbar only the Play Game option is removed, and in some cases, it i

[2022-03-31 13:30] LB-ArturZieba opened #8644 "Material Editor: Alt+MMB control to move camera on its XY plane is redundant"
**Describe the bug**
"Move camera on its xy plane" control in the Material Editor has two options available: MMB and Alt+MMB. Seeing as the base input for this control is the Middle Mouse Button, and there is no other control that uses another <button>+MMB combination it seems redundant, as e.g. "orbit camera around target" uses different buttons as a base control and alternative (RMB or Alt+LMB).

[2022-03-31 14:34] adamdbrw opened #8645 "[ROS2 Gem] Robot control component"
**Is your feature request related to a problem? Please describe.**
Users want to control their robots in simulation. Simulation developers could use flexible component(s) and abstractions to efficiently develop their desired control behaviors.

**Describe the solution you'd like**
A component which:
- [x] Handles subscription to a topic, flexible as to message type (Twist, AckermannDrive, etc.)
-

[2022-03-31 15:34] galibzon opened #8646 "LyShine: Slider Element renders the wrong "Fill" Color In Game Mode & Preview Mode"
**Describe the bug**
Slider elements do not render the defined "Fill" color, instead always render some kind of light gray for the "Fill".

**Steps to reproduce**
In the UI Editor create a new Canvas, add a Slider element from New -> Element From Slice Library -> Basics\Assets\UI\Slices\Library -> Slider.
Change the "Fill" Color to Red. It will appear Red in the UI Editor, as expected.

"Preview"

[2022-03-31 15:43] lawsonamzn commented on #8302
Thanks for getting back to us on this.  I'll try to get rev3 out soon.  The PR has some stuff folks have asked to fix.  Once that's done and tested it will get pushed to development, which would auto update to rev3 next pull.

[2022-03-31 15:59] ausrobis commented on #2889
I don't believe we've started one yet. @galibzon?

[2022-03-31 16:06] wintermute-motherbrain commented on #8278
Shapes should be owned by sig-content.  Assigning to them for triage.

[2022-03-31 16:12] wintermute-motherbrain commented on #8279
@rgba16f talking with @tjmichaels we've agreed that if the injection point of where to call aux-geom/debug drawing is inside the editor logic, we'll punt this ticket to sig-content.  Otherwise sig-graphics will own it.

[2022-03-31 16:15] jckand-amzn opened #8647 "Game Launcher: Debug Console background does not consistently draw"
**Describe the bug**
Debug Console background does not consistently draw. The background remains invisible the majority of the time, but sometimes flashes when clicking On/Off the Options button.

**Steps to reproduce**
1. Launch the GameLauncher.exe for your current project.
2. Open the Console with ~
3. Click the Options button, and then click off of the Options button onto the Console window ar

[2022-03-31 16:21] galibzon commented on #8646
Update: If I enable the "Input Enable" checkbox in the Slider component it renders properly.

I guess the "bug" is that when the input is disabled, the control tries to gray itself.

This is new behavior in O3DE, because in LY 1.2x the default behavior was different.

Maybe this is not a bug?

[2022-03-31 16:24] jckand-amzn opened #8649 "Game Launcher: Launcher hits an unhandled exception on quit in ImGuiPass::CompileResources"
**Describe the bug**
Launcher crashes on quit.

[code]

**Steps to reproduce**
1. Launch your current project's GameLauncher.exe through Visual Studio
2. Open the Console with ~
3. Type quit and confirm

**Expected behavior**
Launcher closes cleanly.

**Actual behavior**
Launcher hits an unhandled exception on quit in ImGuiPass::CompileResources. This breaks almost immediately when run through Vis

[2022-03-31 16:37] #8646 closed

[2022-03-31 16:38] #7268 closed

[2022-03-31 16:58] jckand-amzn opened #8650 "Launcher: Debug Console allows input to both the Console and the Game"
**Describe the bug**
Debug Console allows input to both the Console and the Game. This can result in unintentional camera/player moves when the Console is open and a command is being typed out.

**Steps to reproduce**
1. Launch the Editor with the AutomatedTesting project.
2. Create a new level with the default entity setup, and save.
3. Launch AutomatedTesting.GameLauncher.exe and load the saved

[2022-03-31 17:30] lawsonamzn opened #8651 "If AWS credentials cannot be retrieved from the AWS config, the Resource Mapping Tool does not appear"
**Describe the bug**
If you have a problem with your AWS Credentials retrieval, then the Resource Mapping Tool does not open but also does not indicate what went wrong.

**Steps to reproduce**
Steps to reproduce the behavior:
1. With the AWS Core Gem enabled for your proejct
2. Add a problematic aws credential_process to your aws config file and use that profile
3. Try to open the Resource Mapping

[2022-03-31 17:37] lmbr-pip commented on #8535
Needs further investigation to see if:
* Mapping file is missing or in wrong location for Android
* Or actual issue with loading json doc on Android (ie rapidjson issue).

[2022-03-31 18:34] monroegm commented on #8278
Basic shapes are actually owned by sig/core

[2022-03-31 18:35] monroegm commented on #8289
Please reopen or create a new ticket if you are able to provide more information

[2022-03-31 18:35] #8289 closed

[2022-03-31 18:35] monroegm commented on #8290
Please reopen or create a new ticket if you are able to provide more information

[2022-03-31 18:35] #8290 closed

[2022-03-31 18:52] Broganab opened #8652 "White Box Edit Mode does not show tool tips in viewport"
**Describe the bug**
When the user enters White Box Edit mode the icons at the top left of the viewport do not show tool tips.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add a white box component to the scene
2. select "Edit" on the white box component
3. Mouse over the two icons on the top left on the viewport

**Expected behavior**
A brief description of each icon appears when t

[2022-03-31 18:57] monroegm commented on #8610
The Material Editor is owned by sig/graphics-audio

[2022-03-31 19:20] onecent1101 commented on #8581
Reopen, as the PR just fixes the default slot name, the translation file is still off. Pending on requestor response.

[2022-03-31 20:52] #8292 closed

[2022-03-31 21:10] wintermute-motherbrain commented on #8279
After following up with @NicholasVanSickle sounds like this is a better fit for sig-content.  Feel free to discuss further with sig-graphics if there are any concerns.

[2022-03-31 21:26] Broganab opened #8654 "WhiteBox appears in game mode when visibility is toggled OFF"
**Describe the bug**
White Box entity appears in game mode even when the visibility is toggled to OFF.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity and add the White Box component
2. toggle the visibility "OFF"
3. press Ctrl+G to enter game mode

**Expected behavior**
White Box entity is not visible when in game mode

**Actual behavior**
White Box Entity appears in

[2022-03-31 22:49] srikappa-amzn opened #8655 "[UI-suggestion] Make focused prefab display an empty container when all entities in it are deleted"
**Is your feature request related to a problem? Please describe.**
When all the entities(and nested prefabs if they exist) are deleted from a focused prefab, it currently is displayed as s single row, with no 'focus-icon' or an empty container

**Prefab with a single entity:**
![with-single-entity](https://user-images.githubusercontent.com/82230713/161161884-2cbff2c8-2055-463a-9c26-d76ac9018c18.PN

[2022-04-01 02:10] Hsuehnj opened #8658 "Scripe Event: parameter modification cannot take effect in real time"
**Describe the bug**
Create a script event, then modify the ScriptEvent name, category, address type, return value type or parameter type,
it cannot be refreshed in the Asset Editor in real time.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Asset Editor, and create a script event
2. Modify ScriptEvent name, category, address type, return value type or parameter type
3. Check th

[2022-04-01 02:51] luoweiqiao opened #8659 "Bug Report In the Asset Browser window, create new Lua file and rename Lua file both cannot be updated in real time."
**Describe the bug**
In the Asset Browser window, create new Lua file and rename Lua file  both cannot be updated in real time..

**Steps to reproduce**
Steps to reproduce the behavior:
1. open o3de.exe.'
2. open 'Asset Browser' window
3. Select any directory
4. Right-click the mouse
5. Select 'Create New Lua Script'

**Expected behavior**
A clear and concise description of what you expected to ha

[2022-04-01 08:29] LB-KatarzynaDylska opened #8660 "Feature Request: Add copy, cut, and paste options to the context menu of entities in Entity Outliner"
**Is your feature request related to a problem? Please describe.**
There is no way to quickly copy, cut, or paste entities in Entity Outliner, they have to be duplicated and/or dragged. Copying, cutting and pasting is available in multiple other O3DE tools and implementing the feature in the Entity Outliner would allow for a more consistent workflow.

**Describe the solution you'd like**
Implement

[2022-04-01 08:47] liukaikai-g opened #8661 "When the Material name in the FBX model contains special symbols (such as ':' ), Grenerate/Manage Source Material will be failed"
**Describe the bug**
When the Material name in the FBX model contains special symbols (such as ':' ),  Grenerate/Manage Source Material will be failed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an Entity
2. Add Mesh Component and Material Component to entity
3. Assign a FBX model which has the special symbols in material name to Mesh Component
4. Use the Grenerate/Manage S

[2022-04-01 09:26] shazhenyu123 commented on #8371
Sorry i can't update.
![image](https://user-images.githubusercontent.com/89950447/161235840-0a8f564b-6a21-4352-bf2d-87ccb02a8d4e.png)

[2022-04-01 09:32] LB-KatarzynaDylska opened #8662 "Components from the Multiplayer category are missing tooltips in the Entity Inspector"
**Describe the bug**
When adding a component in the Entity Inspector, the following components in the Multiplayer category are missing tooltips:

- LocalPredictionPlayerInputComponent
- NetworkCharacterComponent
- NetworkHierarchyChildComponent
- NetworkHierarchyRootComponent
- NetworkHitVolumesComponent
- NetworkRigidBodyComponent
    - Why is there a net rigid body but no net-collider? (customer

[2022-04-01 09:36] shazhenyu123 commented on #8371
[](https://user-images.githubusercontent.com/89950447/161235840-0a8f564b-6a21-4352-bf2d-87ccb02a8d4e.png)Sorry i can't update.
image

[2022-04-01 09:55] LB-BartoszCwiek opened #8663 "Material Editor: Adding multiple logs results in overlapping Copy All and Reset buttons with the tabs"
**Describe the bug**
When the User adds multiple logs (at least 8-10) they overlap with the Copy All and Reset buttons.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Material Editor.
2. Go to Tools > Logging.
3. Add multiple logs (at least 8-10).

**Expected behavior**
Copy All and Reset buttons are properly positioned.

**Actual behavior**
Copy All and Reset buttons are

[2022-04-01 09:57] LB-ArturZieba opened #8664 "Viewport UI "Snap selected entities to the world space grid" button is not visible until the UI is hidden and shown again"
**Describe the bug**
Viewport UI has only two sets of three buttons in the top left and top right corner respectively after launching the Editor. If the Viewport UI is hidden and shown again (pressing the U key), the "Snap selected entities to the world space grid" button shows up under the set at the top right corner.

**Steps to reproduce**
Steps to reproduce the behavior:
1. With the Viewport i

[2022-04-01 10:08] wangwei46810 opened #8665 "[Rendering system] [Light source module] In Directional light, there is obvious light leakage at the edge of the model."
**Describe the bug**
In Directional light, there is obvious light leakage at the edge of the model.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the test project level.
2. Create the Directional light, manually adjust the Rotation.
3. Place an airtight cube and check the symptom.

**Expected behavior**
The result meets the expectation, and the scenario is displayed properly. Th

[2022-04-01 10:09] CGorz commented on #8371
![image](https://user-images.githubusercontent.com/88034949/161243396-e78f6cca-38f2-41b7-bda7-931c083204ce.png)

[2022-04-01 10:13] LB-BartoszCwiek opened #8666 "Material Editor: Adding Lighting or Model Settings results in a duplicated name in the selection list"
**Describe the bug**
When the User adds a new Lighting Settings or Model Settings it duplicates itself in the selection list.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Material Editor.
2. Go to Tools > Viewport Settings.
3. Add a new Lighting or Model Settings.
4. Expand the selection list.

**Expected behavior**
One name displays for each created Lighting or Model S

[2022-04-01 10:39] LB-BartoszCwiek opened #8667 "UI Editor: FlipbookAnimation component has placeholder icon"
**Describe the bug**
When the User adds a new component to the element, the FlipbookAnimation component has a placeholder icon.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > UI Editor.
2. Go to New > Empty Element.
3. Add Component.

**Expected behavior**
FlipbookAnimation component has a proper icon.

**Actual behavior**
FlipbookAnimation component has placeholder icon.

[2022-04-01 10:58] LB-BartoszDudzinski opened #8668 "EMotionFX: Editor crashes after closing Animation Editor"
**Describe the bug**
After setting up a workspace with the available assets included in the Motion Matching gem: Rinmm.actor, MotionMatching.motionset and MotionMatching_automaticdemo.animgraph and launching the preview of any motion, closing the Animation Editor tool crashes the Editor. Please note that the anim graph has to be active before launching the preview of the motion.

The issue does no

[2022-04-01 11:24] Hsuehnj opened #8669 "Tools: open the sub-editor under Tools, the check status is incorrect"
**Describe the bug**
Clink on "Tools", and then open sub-editor, sucha as Animation Editor, Lua Editor, and so on, The check status of some editor is incorret.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Editor'
2. Click on 'Tools'
3. Open sub-editor one by one
4. See the check status of opened sub-editor

**Expected behavior**
The check status of all the opened sub-editors

[2022-04-01 11:34] Hsuehnj opened #8670 "Script Canvas: Add a node in Script Canvas to Get Column of Transform"
**Is your feature request related to a problem? Please describe.**
Add a Script Canvas node that would get column of Transform by index.

**Describe the solution you'd like**
Such as the node in Lumberyard:
        AZ_INLINE Vector3Type GetColumn(const TransformType& source, NumberType index)
        {
            return source.GetColumn(AZ::GetClamp(aznumeric_cast<int>(index), 0, 3));
        }

[2022-04-01 12:17] LB-HubertUberman opened #8671 "UI Editor: Editor crashes after adding a Custom Image component to an element"
**Describe the bug**
Adding a Custom Image component to an element in the UI Editor causes the Editor to crash. Note that the issue occurs only in the "AutomatedTesting" project as Custom Image is not present in custom-made projects. The issue occurs on Windows, Linux, and macOS.

Please refer to the attached logs from the Windows machine for more information.

**Steps to reproduce**
Steps to repr

[2022-04-01 13:23] gadams3 commented on #8530
Resolved by this change https://github.com/o3de/o3de/pull/8628

[2022-04-01 13:23] #8530 closed

[2022-04-01 13:25] gadams3 commented on #8525
Resolved by this change https://github.com/o3de/o3de/pull/8657

[2022-04-01 13:25] #8525 closed

[2022-04-01 13:27] gadams3 commented on #7453
Resolved by this change https://github.com/o3de/o3de/pull/8625

[2022-04-01 13:29] #7453 closed

[2022-04-01 13:42] LB-JakubSkorupka opened #8673 "Editor crashes after entering maximized Game Mode"
**Describe the bug**
The **Editor** crashes after entering maximized Game Mode.

Reproduction of this issue is inconsistent as it occurred on 2 out of 5 tested Linux machines. On the 2 machines that it was possible to reproduce this issue, the reproduction rate is 100%.

Note that this issue did **not** occur on either of the 4 Windows machines that it was tested on.

No logs were created after re

[2022-04-01 15:41] gadams3 commented on #7397
resolved by this change https://github.com/o3de/o3de/pull/8628

[2022-04-01 15:41] #7397 closed

[2022-04-01 15:47] #8668 closed

[2022-04-01 16:46] Broganab opened #8675 "Exporting from WhiteBox to Maya and back causes asset to shrink x100"
**Describe the bug**
When an asset is exported from Maya as an FBX and attached to a mesh in O3DE, the asset will appear 100 times smaller then expected.

**Pre-Requisites**
1. WhiteBox Gem is enabled
2. User has access to Maya

**Steps to reproduce**
Steps to reproduce the behavior:
1. In O3DE, Add a WhiteBox component to an entity
3. Select "Export" from the WhiteBox Entity Inspector component a

[2022-04-01 17:58] Broganab opened #8678 "WhiteBox: Pressing X to focus on WhiteBox entity does not work in Edit Mode"
**Describe the bug**
Pressing X to  to re-focus on the White Box entity does not work when in Edit Mode

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an Entity and add the White Box component
2. Select the entity and press X (Observe that the camera focuses on the selected entity)
3. In the Entity Inspector Select "Edit" from the White Box component
4. Move the Camera so the W

[2022-04-01 19:14] michleza opened #8681 "Physx raycast from screen node not returning entities with colliders."
**Describe the bug**
Using the script canvas node RaycastFromScreen will not return any values other than invalid entity ID

**Steps to reproduce**
Steps to reproduce the behavior:
1. load a new or existing level
2. open script canvas editor
3. create a script canvas graph to cast a ray from screen space into world space similar to the one below
4. attach the script canvas graph to your camera
5.

[2022-04-01 19:55] amzn-changml opened #8682 "Increased error rates in Asset jobs in PR and Development branch AR"
**Describe the bug**
There has been reports on March 27-29 that PR and Development branch AR runs are failing in Windows and Linux pipelines. The common failure appear to be within the `asset_profile_nonunity` and `test_cpu_profile` build steps. This seem to be occurring on clean build.

**Failed Jenkins Job Information:**

Notable jobs:
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3

[2022-04-01 19:59] amzn-changml commented on #8682
We've noted that running the job incrementally seems to allow the job to succeed. New PR AR jobs use a snapshot of the development branch, so we've run a clean build, followed by a incremental build, then snapshot the workspace volume.

Pre-existing PRs will need to clean their assets, then run a incremental build as a workaround. We will be creating a bug to note the issue with clean builds, howe

[2022-04-01 19:59] #8682 closed

[2022-04-01 22:21] AMZN-Gene opened #8685 "As a dev I want a GameLift Packaging Script"
**Is your feature request related to a problem? Please describe.**
Collecting all of the binaries and assets needed for GameLift is time consuming process.  It requires hand copy+pasting a lot of files and folders.

See steps here:
   https://www.o3de.org/docs/user-guide/gems/reference/aws/aws-gamelift/build-packaging-for-linux/

**Describe the solution you'd like**
This could all be achieved via

[2022-04-01 22:24] robhaco opened #8686 "[Script Canvas][Spawnables]Undo operations when Prefab Spawn and Despawn nodes are present break their functionality"
**Describe the bug**
If the user is editing a script canvas graph that includes the Prefab Spawn and Despawn nodes, and they undo any operations while editing the graph, it creates extra Spawn Ticket output nodes that break the Spawn and Despawn nodes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Script Canvas
2. Add the Prefab > Spawning > Spawn or Despawn node to the graph

[2022-04-01 22:54] FuzzyCarterAWS opened #8688 "UI Editor: Copying a UI Entity's Drop Target and pasting it to another UI Entity retains original entity's target reference"
**Describe the bug**
Copying a UI Entity's Drop Target and pasting it to another UI Entity retains original entity's "This Element" target reference still points towards the original entity.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the UI Editor
2. Create a new Canvas
3. Create three UI entities with backgrounds so you can see them
4. Manually add a DropTarget to the first

[2022-04-02 06:38] Hsuehnj opened #8689 "How"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
A clear and concise description of what

[2022-04-02 06:38] Hsuehnj opened #8690 "How to"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
A clear and concise description of what

[2022-04-02 06:53] NiklasHenricson opened #8691 "Hover Text Renderer Component"
**Is your feature request related to a problem? Please describe.**

Requesting a Hover Text Renderer Component which displays text always facing the camera perspective. This can be used for example on player and non-player characters that have textual name tags above them, or displaying object names on mouse over, and other such applications on runtime.

Additionally you could be able just like in

[2022-04-04 11:34] LB-TomaszSerwanski opened #8692 "Project configuration fails after adding a custom Gem from PythonToolGem Template to a Pre-built SDK engine"
**Describe the bug**
Project configuration fails if custom Gem created from the PythonToolGem Template is added to the Project on a Pre-built SDK engine.

Please note that the issue does not occur on a Source engine.

Refer to the attached log file for more details.

**Prerequisites**
- O3DE engine build as Pre-built SDK ([official Building for Windows guide](https://www.o3de.org/docs/welcome-guid

[2022-04-04 11:49] LB-TomaszSerwanski opened #8693 "A warning appears when creating a new Gem from the o3de-install directory"
**Describe the bug**
The following warning appears when creating gems from the o3de-install directory (after building the engine as Pre-built SDK):
`[WARNING] o3de.manifest: D:\o3de-install\Templates\DefaultComponent\template.json does not exist`

Please note that the issue does not occur when creating gems from the o3de directory (after building the engine as Source).

**Prerequisite**
- O3DE eng

[2022-04-04 13:08] LB-KacperSzczepanski commented on #7854
The issue is does not occur on build Development (5270254) and can be closed.

[2022-04-04 13:40] LB-BartoszDudzinski commented on #8668
Verified as Fixed in Development.

[2022-04-04 17:37] santorac commented on #8371
@invertednormal are you able to understand what's going on here? (It isn't clear to me yet).

@CGorz and @shazhenyu123 those images are a bit small and hard to understand what's going on. If possible, a video might be more helpful. Also the repro steps say "open the test project level". Is this the Graphics/Sponza level that comes with the AutomatedTesting project?

[2022-04-04 18:39] Darkinggq commented on #6111
I'm checking today development de005a0632638c2aa01de773b6ab8ef29feda0ea works well vector 3 looks like it's already been fixed on Linux Manjaro (topic can be closed)

[2022-04-04 18:40] #6111 closed

[2022-04-04 18:44] SelfishOlex opened #8696 "Switching level causes an Atom crash"
**Describe the bug**
Calling LoadLevel the second time to a different level causes an Atom crash.

**Steps to reproduce**
Steps to reproduce the behavior:
1. create two levels, both can be empty levels
2. start a game launcher
3. loadlevel first level
4. loadlevel second level
5. See crash

**Expected behavior**
Second level loads to replace the first level

**Actual behavior**
Crashes
[code]
[cra

[2022-04-04 19:28] santorac commented on #8529
Based on the title, I'm going to assume the main concern here is the notification when CreateJobs failed. @LB-ArturZieba if you want to pursue the concern about the old material continuing to be displayed, then please open a separate Issue for that, thanks.

[2022-04-04 19:49] AMZN-Gene commented on #7748
repro'd crash on first open. 2nd attempt editor opened.

[2022-04-04 20:37] chanmosq opened #8700 "Material Editor should not show ReflectionProbeVisualization material type"
**Describe the bug**

This issue is created in response to this issue:
https://github.com/o3de/o3de.org/issues/1512

The Material Editor should not show **ReflectionProbeVisualization** material type, as it's not a material type for users to edit or use directly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Material Editor.
2. Click on **Create a new material** from the file me

[2022-04-04 20:39] amzn-leenguy commented on #8407
@AMZN-alexpete or @Ulrick28 could be a POC for this.

[2022-04-04 20:42] Ulrick28 commented on #8407
Yes, agreed this is a good idea. This would need to be prioritized against all of the other Project Manager work.

[2022-04-04 20:49] AMZN-alexpete commented on #8689
Closing as not valid

[2022-04-04 20:49] #8689 closed

[2022-04-04 20:52] NiklasHenricson opened #8702 "LmbrCentral has limited exposure to an extenal gem"
This is a feature request/request for change in LmbrCentral classes, unless someone could provide a solid solution that follows best practices in OOP.

Please advice on how to use LmbrCentral features in C++. Supposedly you want to redefine a shape (cylinder or box) and add more attributes, how would one proceed other than re-inventing these components at a higher level by creating their own gems/

[2022-04-04 20:58] AMZN-alexpete opened #8703 "As a developer I want a automated release build testing"
**Is your feature request related to a problem? Please describe.**
Creating a release build with packaged assets is frequently broken because assets or code are not testing in a release build.  Most developers only use debug and profile builds.

**Describe the solution you'd like**
1. A monolithic game **client** automated test is run periodically to verify
    2. A default project monolithic rele

[2022-04-04 21:10] NiklasHenricson commented on #4747
Any news on this one? It's been a while but there's no official word on when in the pipeline we could hope for this feature to come.

[2022-04-04 21:50] #7478 closed

[2022-04-04 22:01] gadams3 commented on #4747
Hello! Could you please explain more about the problem you're having and feature you're looking for? Are you looking for the ability to select and copy individual properties or a group of properties from one material to another? We would need more information to determine if and how this should be surfaced in the UI.

Are you aware of the feature that allows you to create child or derived material

[2022-04-04 22:03] evanchia-ly-sdets commented on #8108
https://github.com/o3de/o3de/pull/8445

[2022-04-04 22:03] #8108 closed

[2022-04-04 22:03] AMZN-alexpete commented on #8691
Eventually you'll be able to do this using LyShine's `UI Canvas on Mesh` component that lets you draw any UI on a quad in 3D space, but not sure that is working yet.

[2022-04-04 22:04] santorac commented on #8700
Yes, we've talked about needing some kind of filter list for the Material Editor, to hide special purpose material types that users won't care about. This is probably something that @gadams3 will take care of, related to work that @invertednormal has been doing.

[2022-04-04 22:07] AMZN-alexpete commented on #8681
Hi @michleza, what does the UI `Get Position` Script Canvas node output for the mouse co-ordinates?  Is it returning the correct mouse position? Also, have you tried setting the `Distance` parameter to something other than 0?  `Distance` controls how far out to cast the ray, so a ray of zero length is likely not hitting anything, maybe try something like 1024? Distance values are in meters.

[2022-04-04 22:08] AMZN-alexpete commented on #8681
Here is an example graph that I used when implementing the feature:
![image](https://user-images.githubusercontent.com/26804013/161640125-36414a08-5765-469b-b0e1-014cdcbe4a85.png)

[2022-04-04 22:10] santorac commented on #8665
Hm, I can't tell what these screenshots are showing.

[2022-04-04 22:12] santorac commented on #8661
This issue was already fixed, see https://github.com/o3de/o3de/pull/8083

[2022-04-04 22:12] #8661 closed

[2022-04-04 22:13] AMZN-alexpete commented on #8665
I believe the first screenshot is from outside the cube and the second screenshot is from inside and shows light leaks on the inside of the cube

[2022-04-04 22:16] AMZN-alexpete commented on #8642
I believe this is a known issue.  Currently, Project Manager cannot determine if the editor.exe and all dependencies were successfully built and will launch without crashing - so we always show this button as an option.

[2022-04-04 22:16] NiklasHenricson commented on #4747
Hello,

Practically, copy/cut/paste button functionality for the many different attributes/settings across material editor by group so that when you create several materials you get to copy values around to save time.

<img width="334" alt="material-editor" src="https://user-images.githubusercontent.com/5524755/161640978-bd333b8b-9230-4aa4-847e-e1e2311a5439.png">

[2022-04-04 22:17] AMZN-alexpete commented on #8640
@AMZN-nggieber might have an idea what's going on here.

[2022-04-04 22:19] AMZN-alexpete commented on #8632
I've noticed this too - it is likely the result of parsing all gem info for the templates and updating the gem catalog.

[2022-04-04 22:32] NiklasHenricson commented on #8691
Hi @AMZN-alexpete,

Any estimate on when this feature will become available?

[2022-04-04 22:37] o3de-issues-bot opened #8705 "Automated Review Failure - stabilization/2205"
Build url: https://jenkins.build.o3de.org/job/O3DE-stablization_2205_nightly-installer/2/

[2022-04-04 22:39] AMZN-alexpete commented on #8691
It's in progress now, there is a PR up https://github.com/o3de/o3de/pull/8538 that is required so you can use the UI Canvas render target in a material.  So the steps would be something like
1. Create a UI Canvas with the text and graphics/animations you want
2. Set the UI Canvas to output to a render target/image attachment
3. Create a material and use that render target/ image attachment in the

[2022-04-04 22:49] AMZN-nggieber commented on #8640
The templates have moved these images to another location without. The code is only checking the old location. Automated testing still has them in the old location.

https://github.com/o3de/o3de/blob/8907681d7ae05f76fcf4ae1ad0b521d2d769bdda/Code/Editor/Plugins/ProjectSettingsTool/Utils.cpp#L191

https://github.com/o3de/o3de/tree/development/AutomatedTesting/Gem/Resources/IOSLauncher/Images.xcasset

[2022-04-04 23:11] shazhenyu123 commented on #8371
It is Sponza level. Following my test steps, you should be able to directly reproduce the problem. What do you don't understand? Is there no engine to reproduce the problem?

[2022-04-04 23:12] junbo75 opened #8706 "Verify dedicated server release build for O3DE"
**Is your feature request related to a problem? Please describe.**
Developers may want to upload their release build package of the Windows/Linux dedicated server for running the server on GameLift. We need to verify that the server target can be built in release and packaged with necessary assets. Note that we tested the release server build in Dec 2021 but failed to launch the server.

**Describ

[2022-04-04 23:12] shazhenyu123 commented on #8371
By the way, we failed to upload the video.
![image](https://user-images.githubusercontent.com/89950447/161647346-775c138f-c341-49ed-8030-aedff9fc4de3.png)

[2022-04-04 23:14] junbo75 opened #8707 "Process and bundle assets for dedicated server release build"
**Is your feature request related to a problem? Please describe.**
Currently O3DE doesn't provide clear instructions for processing and bundling assets for the dedicated server target. The dedicated server package can be easily oversized due to unused assets and it can cause deployment issues on cloud services like Amazon GameLift, which has a 50G hard limit on the package size.

**Describe the so

[2022-04-04 23:58] AMZN-Gene opened #8709 "Project Manager Configure Doesn't Set MAKE_EXPORT_COMPILE_COMMANDS=ON"
**Describe the bug**
When using ProjectConfigurator to build projects, the compile_commands.json is not generated. This file is useful when creating visual studio code workspaces in order to find all the include paths.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build a project using ProjectManager
2. Inside the build folder search for compile_commands.json

**Expected behavior**
c

[2022-04-04 23:58] amzn-leenguy commented on #8478
@mattiascibien did you maybe one to pop into one of the SIG UI UX office hours to talk to this feature request more? Maybe @AMZN-nggieber can also join to brainstorm for 30 mins. What do you think?

[2022-04-05 08:46] Darkinggq opened #8711 "[GNU/LINUX] Create terrain world renderer after editor crashes problem possible on vulkan"
**Describe the bug**
Create terrain and editor immediately crashes problem maybe atom vulkan for Linux, 3-4 weeks ago it was working fine

**Video steps to reproduce**

https://user-images.githubusercontent.com/17591539/161712516-b397011c-187c-415b-94d6-fa87da03f5ee.mp4

**Date Nightly Build**
Development: 2/5/22

**Desktop/Device (please complete the following information):**
 - Device: PC
 - OS:

[2022-04-05 10:02] hultonha commented on #3897
Work has been broken down further (LYN-9963), closing this issue for now as it does not contain enough info and is currently a duplicate.

[2022-04-05 10:14] LB-BartoszDudzinski opened #8712 "Dependencies are not set for Multiplayer Compression Gem"
**Describe the bug**
The Multiplayer Compression Gem needs the Multiplayer gem enabled alongside it. If this Gem is not active, The Editor crashes at launch without any errors or logs.
As a workaround, both Gems have to be disabled, the project rebuilt and only after that the user can enable the above-mentioned Gems and build the project with a working Editor.

**Steps to reproduce**
Steps to repr

[2022-04-05 12:19] LB-JaroslawGaweda opened #8713 "Camera follows the cursor inconsistently when moving the mouse in the viewport while Simulate mode is active"
**Describe the bug**
After entering the Simulate mode and hovering the mouse over the viewport, the camera shakes while following the cursor.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Enter the Simulate mode either through Game>Simulate or by pressing Ctrl+P.
2. Hover the mouse cursor over the viewport.

**Expected behavior**
The camera follows the mouse smoothly.

**Actual behav

[2022-04-05 13:26] LB-ArturZieba commented on #8530
Issue verified as fixed on both the Development (d4f993e) and Stabilization_2205 (3e47df2) builds.

[2022-04-05 13:33] LB-HubertUberman opened #8714 "Editor crashes after entering Game Mode during Simulate mode with an asset assigned to a Blast Family component"
**Describe the bug**
Entering the Game Mode during Simulate mode with an asset assigned to the Blast Family component causes the Editor to crash. The issue occurs only on Windows as Nvidia Blast is not available on other platforms. Please refer to the attached logs for more information.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Editor and create a new level.
2. Create an

[2022-04-05 13:34] LB-ArturZieba commented on #8529
Based on the above comments, I agree that the material being displayed after failing can be disregarded as an issue, thanks for the clarification on that! Based on this, the issue can be closed when the CreateJobs problem is solved, as you have described in the comment.

[2022-04-05 13:39] LB-MateuszSzweda commented on #7550
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 13:40] LB-MateuszSzweda commented on #2263
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 13:40] LB-MateuszSzweda commented on #2770
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 13:40] LB-MateuszSzweda commented on #2470
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 13:41] LB-MateuszSzweda commented on #4215
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 13:41] LB-MateuszSzweda commented on #4994
Tagging @hultonha  as per request on PhysX issues that stand out in during exploratory testing and user workflow scenarios.

[2022-04-05 17:40] hultonha opened #8718 "AR Bug Report - AssetValidationTest.SeedListDependencyTest_AddAndRemoveList_Success Failed"
**Describe the bug**

`AssetValidationTest.SeedListDependencyTest_AddAndRemoveList_Success` Failed

[code]

**Failed Jenkins Job Information:**

The name of the job that failed, job build number, and code snippit of the failure.

Linux - test_profile_nounity

https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-8612/4/pipeline/709
https://jenkins.build.o3de.org/blue/rest/organi

[2022-04-05 17:48] invertednormal commented on #8711
I'm also seeing a crash on Vulkan with an nvidia 3070, however it's due to a context loss, not out of memory. It's possible there's multiple things going wrong. The largest recent changes have been with the forward shader and the addition of height based blending, which did make the shader a fair bit more complicated. There could be an issue in the Spir-V cross compiler, or it's possible the shade

[2022-04-05 18:04] santorac opened #8719 "Streamline Eye Material Workflow"
**Is your feature request related to a problem? Please describe.**
Currently, when you create a new eye material it defaults to a flat white surface. You would have to hook up appropriate textures for the iris, sclera, etc, before it looks anything like an eye. Also, it will not look correct on any of the preview models that come included with the Material Editor as none of them are shaped like an

[2022-04-05 18:13] santorac opened #8721 "Create AtomSampleViewer Regression Test for Eye Material Type"
**Is your feature request related to a problem? Please describe.**
A new Eye.materialtype was recently added (https://github.com/o3de/o3de/pull/8129). We should have a screenshot test for this in AtomSampleViewer to make sure it doesn't get broken in the future.

**Describe the solution you'd like**
At a minimum, we need to add a new screenshot step to AtomSampleViewer\Scripts\MaterialScreenshotTe

[2022-04-05 18:28] amzn-leenguy commented on #8255
Just checked this and validated with @AMZN-daimini . The hamburger menu is now not clickable when in edit mode. So this issue doesn't occur anymore. Consider this fixed @hultonha .

[2022-04-05 18:31] santorac commented on #2981
Should this be assigned to @gadams3 ?

[2022-04-05 18:40] santorac commented on #4747
Yeah, we had something similar on the old Material Editor in Lumberyard where you could copy and paste a whole group of settings. Be sure to consider using "child materials" as @gadams3 explained above, but I agree that this Copy/Paste feature would be useful.

(Although I don't think Cut would be applicable, so I suggest we disregard the "X" in your screenshot).

[2022-04-05 20:41] chanmosq commented on #4081
Took this on as my first issue contribution to `o3de`. Added @hultonha as the reviewer and added appropriate labels. I'm not sure how pull request reviews are triaged, so please feel free to update it and/or let me know how to improve visibility.

[2022-04-05 20:59] santorac commented on #8371
Okay, I think I can repro the issue, here's a video, please tell me if this is right. All I did was open the Sponza level, create an entity with a Quad Light component, turn on double sided, and then move the camera around.

https://user-images.githubusercontent.com/55155825/161848006-41265ced-2523-4c93-9e64-4e52ab7d15e2.mp4

[2022-04-05 21:27] santorac commented on #8665
It might just be the nature of how realtime shadows work, and the fact that they have limited resolution and depth. You can try adjusting the shadow settings on your directional light. Try using a smaller value for "Shadow far clip" and/or a larger value for "Split ratio".

It would be helpful if you could attach a sample level and/or video to show your specific issue more clearly.

[2022-04-05 21:32] AMZN-Gene commented on #8605
Failed to bind new incoming connection to socket manager, failed socket file descriptor: -1

[2022-04-05 22:34] lmbr-pip commented on #8712
AFAIK theres nothing in the MultiplayerCompression gem that requires Multiplayer, it provides compression for AzNetworking. Video does not appear to show error, and no logs provided.

Gem setups dependency on AzNetworking here: https://github.com/o3de/o3de/blob/development/Gems/MultiplayerCompression/Code/CMakeLists.txt#L20

[2022-04-05 22:38] lmbr-pip commented on #8706
Related to https://github.com/o3de/o3de/issues/8703

[2022-04-06 00:25] srikappa-amzn commented on #8233
This seems like an unintentional side effect of https://github.com/o3de/o3de/blob/b3ba73db3bd562f30e7e7e11b77ac16d2243c956/Code/Tools/SceneAPI/SceneData/Behaviors/ScriptProcessorRuleBehavior.cpp#L365 which gets called after opening FBX scene settings. It will remove all templates from PrefabSystemComponent, which also includes the templates of any levels and prefabs loaded in the editor. Looks lik

[2022-04-06 01:31] lumberyard-employee-dm opened #8732 "SDK Build fails to configure due to missing add_library call for OpenSSL"
**Describe the bug**
When configuring a project using from the SDK layout which includes installing the SDK from the Installer, OpenSSL fails to configure.
This is due to the 3rdParty::OpenSSL target not being declared within the SDK layout

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an SDK layout using the [Building for Linux](https://www.o3de.org/docs/welcome-guide/setup/s

[2022-04-06 01:39] HydrogenC commented on #8478
Now I get "Visual Studio 2019 version 16.9.2 or higher not found." on project creation. There was no VS version check in 21.11.0 and I succeeded in building with VS2022 without exceptions, so is there an option to disable the VS version check while creating a project?

[2022-04-06 07:04] santipaprika commented on #7247
Closing this as the PR associated to it just got merged.

[2022-04-06 07:04] #7247 closed

[2022-04-06 07:27] LB-JakubSkoczylas commented on #8608
This issue also occurs on Stabilization_2205 (3e47df2)

[2022-04-06 09:58] LB-BartoszCwiek opened #8733 "Inconsistency between Lua Editor and Material Editor when attempting to launch an already opened tool"
**Describe the bug**
Launching the Material Editor when it is already opened causes its Windows task bar icon to flash. This behavior does not occur for the Lua Editor.
Additionally, when launching the Material editor, the Console displays the following text: '(MaterialComponent) - Launching Material Editor'. There is no such information when launching the Lua Editor.
Please refer to the attached

[2022-04-06 10:04] hultonha commented on #8255
Awesome stuff, thank you @amzn-leenguy! 😄

[2022-04-06 10:04] #8255 closed

[2022-04-06 11:29] LB-JaroslawGaweda opened #8734 "Icon trays for manipulating entities become invisible after exiting a component's Edit mode"
**Describe the bug**
Icon trays for manipulating entities in the viewport become invisible after exiting the components Edit mode. Hovering the mouse cursor over the space where icon trays for manipulating entities buttons should be causes them to reappear. With a component like White Box that has his own icon trays, exiting the Edit mode results in part of the viewport icon trays being visible in

[2022-04-06 11:44] LB-BartoszCwiek opened #8735 "Warning in the Texture Settings window of the preview.png file overlaps with the image preview"
**Describe the bug**
When the User open the Texture Settings window for the preview.png file the warning text is stretched and overlaps with the image preview.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Asset Browser.
2. Search for the preview.png image file.
3. RMB on the preview.png and from the dropdown list choose Edit Texture Settings.

**Expected behavior**
In t

[2022-04-06 11:56] hultonha opened #8736 "Entering Game Mode while PhysX Visual Debugger window is unresponsive will freeze the Editor"
[Migrated from JIRA LYN-1913]
It was observed that when connected PhysX Visual Debugger window is rendered unresponsive, entering the Lumberyards Game Mode will freeze the Editor until the PVD tool is manually closed.

PVD window that is connected to the Editor can be currently rendered unresponsive simply by switching from default "Render" tab to "Profile" tab while any entity with PhysX componen

[2022-04-06 12:02] hultonha commented on #8736
Attention of @LB-MateuszSzweda and @LB-RobertBaczkowski (tagging @LB-BartoszDudzinski for visibility too). If someone has a moment to verify this issue is still occurring I'd really appreciate it, thank you!

[2022-04-06 12:04] hultonha opened #8737 "[PhysX] : Warning not thrown when the Layer Name in Set Collision Layer node is left blank"
[Migrated from JIRA LYN-1841]
found in build: Stabilization/2111RTE (ac03b6f)

Steps to reproduce : 
 - Create a level and add an entity to it with PhysX Collider Component and Script Canvas component.
 - IN the script canvas component add a script which contains the following nodes in the given sequence : OnGraphStart–>Set Collision Layer (Source : Self, Layer Name : Empty, Collider Tag : Empty)–

[2022-04-06 12:09] hultonha opened #8738 "Investigate PhysXCharactersBenchmarkFixture shutdown with an AZ type as a member"
[Migrated from JIRA LYN-497]
Adding to the fixture cause an allocation missing assert at shutdown.

examples:
{code:java}
const AZStd::vector<double> requestedPercentiles = {{0.5, 0.9, 0.99}};
AZ::SimpleLcgRandom rand;
{code}

[2022-04-06 12:11] hultonha commented on #8738
This is likely caused because no environment is provided where this test is running and an AZ type is created in the fixture constructor/destructor before allocators have been setup.

Best fix is to move the problematic types to a pointer, or add an environment

[2022-04-06 12:34] LB-TomaszSerwanski opened #8739 "Box selection in Entity Outliner leaves some entities selected even if the box does not hover over any entities"
**Describe the bug**
The box selection in Entity Outliner does not deselect all entities if not hovering over any entity.

Please note that the issue does not occur when box selecting entities in the Viewport.

Please refer to the attached video for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open any Level.
2. Expand all entities in the Entity Outliner.
3. Press and

[2022-04-06 12:44] LB-BartoszCwiek opened #8740 "Fbx Settings: File path is inconsistently displayed"
**Describe the bug**
When the User opens Fbx Settings from any .fbx file it shows its folder path that starts with `..\..\..\..\.`, where in the Asset Browser it is `C:\`. For more information please refer to the attached screenshot and video. Additionally, issue occurs only on Windows Pre-Built SDK.

**Steps to reproduce**
Steps to reproduce the behavior

1. Go to Tools > Asset Browser.
2. Search

[2022-04-06 12:52] hultonha opened #8741 "Moving an entity with a White Box component attached causes the Editor to crash"
[Migrated from JIRA LYN-11862]

When an entity with the White Box component is moved, the editor will lock up for a brief moment and then crash. This _could_ be related to SPEC-6158, but there's no obvious causal link.

**Found in Build**: dd1e77124c8a4c43d4b9932c278ec6e4d82f47c0 (Mon Apr 5 20:17:26 2021 +0000)

**Reproducibility**: 8/8

**Prerequisites**: A new project with a White Box gem.

**St

[2022-04-06 12:55] hultonha opened #8742 "White Box component's default material does not render"
[Migrated from JIRA LYN-11863]

When creating or editing a White Box component an error appears in the console and no material on the White Box itself renders. It can be re-shaped without issue, but only shows up via debug.

**Found in Build**: dd1e77124c8a4c43d4b9932c278ec6e4d82f47c0 (Mon Apr 5 20:17:26 2021 +0000)

**Reproducibility**: 8/8

**Prerequisites**: A new project with the White Box gem

[2022-04-06 12:56] hultonha commented on #8742
Hi @LB-RobertBaczkowski, this looks very similar to https://github.com/o3de/o3de/issues/8741, if you'd please be able to let me know who the best contact is for the White Box Tool and get them to verify I'd really appreciate it.

(Also tagging @Broganab for visibility as well)

[2022-04-06 12:57] hultonha opened #8743 "White Box: Saved .wbm files do not default to the Mesh Asset"
[Migrated from JIRA LYN-3494]
**This is ACTIVE in Mainline Spectra: main-spectra-windows-all-18.**

It has been noticed, that upon dragging and dropping a saved .wbm file from Asset Browser to the viewport, it defaults to parameters of a newly added White Box component instead of the shaped mesh it was saved with. It should be noted that the Tint is not saved as well on the .wbm files (could be re

[2022-04-06 13:28] LB-MateuszSzweda commented on #8742
The issue was verified as not occuring on both Stabilization_2205 (3e47df2) and Development (63aadae) branches on both PC and Linux versions of the Editor.

[2022-04-06 13:28] LB-MateuszSzweda commented on #8741
The issue was verified as not occuring on both Stabilization_2205 (3e47df2) and Development (63aadae) branches on both PC and Linux versions of the Editor.

[2022-04-06 13:31] LB-KacperKapusta commented on #7400
It has been observed using Stabilization_2205 (3e47df2) build that in addition to the asserts being printed, modifying Bloom settings inside the component has no effect on the Viewport on Linux.

[2022-04-06 13:38] galibzon opened #8744 "AssetBuilders are crashing in Linux asset_profile_nounity"
**Describe the bug**
Several PRs are blocked by Linux asset_profile_nounity.
Examples:
https://jenkins.build.o3de.org/job/O3DE/job/PR-8495/
https://jenkins.build.o3de.org/job/O3DE/job/PR-8544/

**Failed Jenkins Job Information:**
It seems the AssetBuilders are running out of memory and crashing.
[code]

**Attachments**
When ran locally on  my WSL2 Ubuntu virtual machine. It seems the unity build i

[2022-04-06 13:44] LB-MateuszSzweda commented on #8736
The issue was verified as not occuring on both Stabilization_2205 (3e47df2) and Development (63aadae) branches.

[2022-04-06 14:03] LB-JakubSkorupka opened #8745 "Animation Editor: Lock Feet for Foot IK does not work"
**Describe the bug**
Creating a **Foot IK** setup in the **Animation Editor** and enabling **Lock Feet** in the **AnimGraph** by using **Footplant IK** node does not lock the actor's feet.

Please note that this issue has been reproduced on Windows and on Linux.

_The issue will be updated accordingly as soon as any more information about this issue will be available._

**Steps to reproduce**
Step

[2022-04-06 14:16] hultonha commented on #8742
Awesome thank you @LB-MateuszSzweda! Much appreciated :+1:

[2022-04-06 14:16] #8742 closed

[2022-04-06 14:17] hultonha commented on #8741
Awesome thanks @LB-MateuszSzweda! 😄

[2022-04-06 14:17] #8741 closed

[2022-04-06 14:42] hultonha opened #8746 "Script Canvas: Executing the destroy actor script on an already destroyed Blast entity crashes the Editor"
[Migrated from JIRA LYN-11865]

It has been noticed that executing the destroy actor script on an already destroyed Blast entity crashes the Editor.

**Found in Build**: development

**Reproducibility**: 3/3

**Prerequisites**:

 - Blast and PythonAssetBuilder enabled and built.

**Steps to Reproduce**:

 - Add a PhysX Terrain to the level.
 - Create an entity and add a Blast components to it.
 -

[2022-04-06 14:51] jackalbe commented on #8744
interestingly, the crash happens during "python/python.sh -u scripts/build/ci_build.py --platform Linux --type asset_profile_nounity"

[2022-04-06 15:16] galibzon commented on #8744
Will in my local tests I just configured like this:
`cmake -B build -S . -G"Ninja Multi-Config" -DCMAKE_C_COMPILER=clang-12 -DCMAKE_CXX_COMPILER=clang++-12 -DLY_3RDPARTY_PATH=/mnt/d/LY3RDPARTY/lyengine/3rdParty -DLY_PROJECTS="AutomatedTesting;AtomSampleViewer" -DLY_UNITY_BUILD=OFF`
Built like this:
` cmake --build build --config profile --target AssetProcessorBatch -j 64`
And ran AssetProcessorBat

[2022-04-06 15:19] jckand-amzn opened #8747 "Gradient Signal: test_ImageGradient_ModifiesSurfaces consistently fails on Nightly runs"
**Describe the bug**
test_ImageGradient_ModifiesSurfaces consistently fails on Nightly runs. This appears to be due to an unexpected vegetation instance being found during the test.

**Failure type**
Test

**To Reproduce Test Failures**
[code]

**Expected behavior**
Test passes without issue.

**Logs**
https://jenkins-pipeline.agscollab.com/blue/rest/organizations/jenkins/pipelines/O3DE-LY-Fork-de

[2022-04-06 15:46] monroegm commented on #8713
Adding SIG-UI-UX so we can revisit simulate mode

[2022-04-06 15:49] monroegm commented on #8745
Raising to critical because this seems like existing functionality that has regressed. Please lower to major if I am mistaken.

[2022-04-06 16:08] lumberyard-employee-dm commented on #8222
@darapan-ly-sdets We are closing this issue now as we believe it is not occurring anymore, but if you do see the issue still occurring you can reopen the issue.

[2022-04-06 16:13] lumberyard-employee-dm commented on #8351
Moving to @o3de/sig-network for triaging.

[2022-04-06 16:18] lumberyard-employee-dm commented on #7717
This appears to be related or a duplicate of #7316

[2022-04-06 16:22] lumberyard-employee-dm commented on #8397
@o3de/sig-core Perhaps we should investigate adding a GHI to help with AZ Console Command argument type validation?

[2022-04-06 16:25] lumberyard-employee-dm commented on #8428
@SergeyAMZN Any thoughts?

[2022-04-06 16:26] #6904 closed

[2022-04-06 16:29] lumberyard-employee-dm commented on #8430
@greerdv Tagging for visibility

[2022-04-06 16:32] lumberyard-employee-dm commented on #8455
@o3de/sig-core Relates to the #8397 issue.
We should think about adding support for argument validation to the AZ Console system with another ticket.

[2022-04-06 16:35] lumberyard-employee-dm commented on #8475
@CGorz is this using Cloth Simulation.
Also do you know of any repro steps for the issue.

[2022-04-06 16:37] lumberyard-employee-dm commented on #8481
@adamdbrw I believe you have a PR up for this at the moment.

[2022-04-06 16:47] sptramer commented on #7674
@o3de/sig-content - Missed the request to reassign. This is likely a valid bug and just due to some semantic wording problems as called out in the Feburary comment.

[2022-04-06 16:51] hultonha opened #8749 "Blend space in Full Clip based sync as input to Blend2 with sync based goes wrong"
[Migrated from JIRA LYN-11572]

**Steps to Reproduce**: 

1.) Load the attached graph, using rin advanced locomotion motion set and actor.
2.) Move the slider in the parameters to the far right.

**Expected Result**: The speed of the run motion plays faster.

**Actual Result**: The speed of the run motion is not playing at the speed it should.

A workaround is to go inside the blend space node, an

[2022-04-06 16:54] hultonha opened #8750 "Adding ports to a node and loading old files creates wrong connections"
[Migrated from JIRA LYN-11571]
Create an anim graph with some node in a blend tree that contains let's say 3 inputs (A, B, C).

Create connections to these ports.

Now modify the node, by adding a port D, but insert the port between B and C.

So we get: A, B, D, C.

Please keep in mind that the port ID's remain the same. A=0, B=1, C=2, D=3

The port indices will be A=0, B=1, D=2, C=3.

What we see

[2022-04-06 16:56] hultonha opened #8751 "EMotionFX: Node path bar does not handle overflow gracefully"
[Migrated from JIRA LYN-11570]
It has been noticed that using long node names and/or delving deep inside a nested node tree may cause the graph's node path to overflow and, as a result, overstretch the tool's window.
 Stretching the path too much results in the window exceeding the screen's width, even when in full screen mode. This renders the Navigation Pane, Attributes, Parameters and similar t

[2022-04-06 16:56] lumberyard-employee-dm commented on #8457
Hello @adamdbrw could you add an RFC to the @o3de/sig-core issues for review of adding the ROS2 gem using the RFC Template that is located [here](https://github.com/o3de/sig-core/issues/new?assignees=&labels=rfc-feature&template=rfc-feature.md&title=Proposed+RFC+Feature+%3Ddescription%3D)

[2022-04-06 16:58] hultonha opened #8752 "EMotionFX: State Machine node inside another State Machine node cannot be activated by tags"
[Migrated from JIRA LYN-11569]
Tags cannot be used to trigger actions inside nested State Machine nodes. After a new tag parameter is created and applied to the State Machine node it sets model to a default pose ( T-pose ) instead of conditioning the flow of animations.

Please refer to the attached video for more information and specific animgraph file mentioned in the Prerequisites to reproduce

[2022-04-06 16:58] lumberyard-employee-dm commented on #8498
@lumberyard-employee-dm Please add an RFC describing how the Gem Template will be updated to expose the public API.

Also please explain how to prevent exposing the Gem's private API outside of the Gem itself.

[2022-04-06 17:05] hultonha commented on #8752
Hi @LB-MichalRodzos, would you please be able to try and verify this issue, I discussed with @amzn-jillich and we _think_ it's resolved, but would be good to double check. Thanks!

[2022-04-06 17:05] hultonha opened #8753 "Emotion FX: Editor freezes after activating an anim graph with large amount of Vector4 compose and decompose operations"
[Migrated from JIRA LYN-11568]
It has been observed that the Editor freezes after activating the anim graph with large amount of Vector4 compose and decompose operations.

Note that it might be needed to add more Vector4 compose and decompose nodes to reproduce bug on better computers.

Please refer to the attachments for more information.
----
**Found in Build**: lumberyard-0.0-964989-pc-2962

**

[2022-04-06 17:08] hultonha opened #8754 "EMotion FX: The Save Changes to Files window appears after a Reset and overwrites the core workspace file"
[Migrated from JIRA LYN-11567]
When a workspace is loaded into the Animation Editor, and the Reset button is pressed, no Save Changes to Files window appears. However, after the reset is done, and the User tries to change the workspace, a Save Changes to Files window appears. When the OK button is pressed, the freshly reset workspace overwrites the workspace file which was being used in the first

[2022-04-06 17:14] amzn-changml commented on #3668
This sounds like a workflow enhancement for the project manager

[2022-04-06 17:14] amzn-changml commented on #3669
This sounds like an workflow enhancement for the Project Manager

[2022-04-06 17:16] amzn-changml commented on #3804
@amzn-kritinig This ticket seems incomplete. Can you elaborate on this further and if it's still needed?

[2022-04-06 17:17] amzn-changml commented on #3805
@amzn-kritinig This ticket seems incomplete. Can you elaborate on this further and if it's still needed?

[2022-04-06 17:22] amzn-changml commented on #7111
@LB-RostyslavGavryliuk Can you confirm that this is still an active issue post release of 21.11.2 in the `development` branch?

[2022-04-06 17:24] superkitcath commented on #8517
Won't do.

[2022-04-06 17:24] #8517 closed

[2022-04-06 17:25] amzn-changml commented on #7188
This appears to be an issue with the SQLite package. Seems reasonable to leave as a warning, but adds log noise.

[2022-04-06 17:26] amzn-changml commented on #7230
Moving to sig/ui-ux for triage

[2022-04-06 17:29] amzn-changml commented on #8415
Accepting this for SIG-Build

[2022-04-06 17:31] amzn-changml commented on #8300
This has gone green since last week. Closing issue.

[2022-04-06 17:31] #8300 closed

[2022-04-06 17:31] superkitcath commented on #8518
This is related to asset handling not using Atom APIs; transferring to sig/core.

[2022-04-06 17:48] lumberyard-employee-dm commented on #8251
This is probably an issue with [CrySystem](https://github.com/o3de/o3de/blob/development/Code/LauncherUnified/launcher_generator.cmake#L55) not linking into the GameLauncher/ServerLauncher targets sometimes.

This shouldn't be the case, but perhaps their is an issue with linking the CrySystem import library.

[2022-04-06 18:14] NiklasHenricson commented on #8351
Ended up using our own EBus implementation instead and listen to whenever the response and data transformation was done beign processed.

Currently our issue is try to figure out when,

A. Game Mode (the system is running, and in this case the server/back-end part of O3DE)
B. Game Mode is terminated
C. Whether or not we're in editor mode, or actively running the system outside the editor

[2022-04-06 19:11] lumberyard-employee-dm commented on #8351
We actually have events for when Game Mode start and ends as a well as a way to check them
For detecting whether Game mode is running the [EditorEntityContextRequests::IsEditorRunningGame](https://github.com/o3de/o3de/blob/development/Code/Framework/AzToolsFramework/AzToolsFramework/Entity/EditorEntityContextBus.h#L123-L124) function can be invoked.

For detecting whether when Game Mode is entered

[2022-04-06 19:31] antonmic commented on #4081
Instead of allowing the FOV to be 180 degrees, the tooltip should instead be updated to reflect the current limit. 180 degrees does not make sense for a camera FOV as that will break frustum calculations.

[2022-04-06 19:32] superkitcath commented on #8475
@galibzon : anyone else than Tony could take a look? Thanks!

[2022-04-06 19:45] lumberyard-employee-dm commented on #8457
@adamdbrw
Also the work to re-order how external subdirectories are visited when using a project is now in development: https://github.com/o3de/o3de/pull/8388.
Gems will be included before a project's CMakeLists.txt is visited.

Furthermore the add_subdirectory can be adjusted based on using the "Dependencies" field within the gem.json.
This is explained more in the following post in the "impactfu

[2022-04-06 21:06] moudgils commented on #8475
Tony is not with Amazon at the moment and no one currently is looking into Android internally. Basically this Skinning issue was de-prioritized internally as it was only repro-able on Mali devices and not Qualcomm devices. My recommendation is to have Huawei team take over the forum thread and this issue as they are already working in this space. If possible lets  provide/attach an apk and a Rende

[2022-04-06 21:29] AMZN-mnaumov opened #8760 "Script Assets fail to reload on prefabs"
There's currently a bug within asset/prefab system which releases m_script asset in Code/Framework/AzFramework/AzFramework/Script/ScriptComponent.cpp meanwhile keeping it cached on prefab.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download [Assets.zip](https://github.com/o3de/o3de/files/8430815/Assets.zip) and extract in your project folder
2. In ScriptComponent.cpp undo temp fix

[2022-04-06 22:01] superkitcath commented on #8721
@santipaprika; I am still trying to figure out why I can't assign this one to you. WIP :-)

[2022-04-06 22:34] mbalfour-amzn commented on #8428
From looking at the video, the actual bug is that there shouldn't be _any_ terrain physics prior to adding the Terrain World component. For the entire test setup shown here, there shouldn't be any collision happening. To get a valid collidable terrain, you should need the following:
* Terrain World Component
* Entity with Axis Aligned Box Shape, Terrain Layer Spawner, and Terrain Height Gradient L

[2022-04-06 23:19] #8671 closed

[2022-04-06 23:40] carlitosan opened #8762 "PhysSystem warning spams console when no simulation is running"
[Warning] (PhysXSystem) - [1] of [1000] frames had a deltatime over the Max physics timestep[0.100000]. Physx timestep was clamped on those frames, losing [0.830421] seconds.

This appears in the console when the editor is opened and no level is running at all. This timings should be configured to run as profiling is truly necessary.

[2022-04-06 23:50] srikappa-amzn commented on #8636
Was able to reproduce this not only with creation but also with instantiation. I played around the with left and right arrow keys a bunch with deeply nested prefabs and ran into different crashes from what looked like Qt errors coming from outliner tree updates. See the below stacktrace for one such crash:
[code]
Since it doesn't look like the errors are happening due to prefab logic, assigning th

[2022-04-07 08:31] moraaar commented on #8475
Assigning back to graphics sig since it's a GPU skinning issue, not a cloth simulation issue.

[2022-04-07 08:49] LB-JakubSkorupka opened #8766 "[Linux] Animation Editor: Modified Motion Event on event track in Time View pane returns to the state before modification after deselecting the motion"
**Describe the bug**
In the **Animation Editor**, the modified **Motion Event** on event track in **Time View** pane returns to the state before modification after deselecting the motion. Saving the motion after modifying the **Motion Event** does **not** resolve this issue, the **Motion Event** still returns to its state before modification after deselecting it.

Please note that this issue did n

[2022-04-07 09:20] LB-BartoszCwiek opened #8767 "Lua Editor opens always in the default layout"
**Describe the bug**
When the User relaunches Lua Editor it does not open in the previous layout, but instead it always opens in the default position. This is inconsistent with other tools.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Lua Editor.
2. Change its position.
3. Relaunch Lua Editor.

**Expected behavior**
Lua Editor remembers its previous layout.

**Actual be

[2022-04-07 10:43] LB-ArturZieba opened #8768 "Holding shift during movement of a rotated entity in the viewport causes the gizmo to desynchronize with the entity"
**Describe the bug**
Holding a Shift key in the viewport causes the "world space lock" to be triggered, which adjusts the entity gizmo to be aligned with the world space. If a rotated entity is moved by holding one of the translate gizmo axes with the Left Mouse Button, and without letting go of the Left Mouse Button, the Shift key is held during the movement, the gizmo will desynchronize with the

[2022-04-07 10:58] LB-BartoszDudzinski commented on #7519
Please note, that the Editor crashes also when the Bake Reflection Probe button is being pressed in the Reflection probe component.

[2022-04-07 11:12] LB-MichalRodzos commented on #8752
@hultonha I verified the issue on Stabilization_2205 (3e47df2). Following the repro steps included in the description, the issue is still active. Enabling created tag sets model to default pose. However, are you sure that setup presented in the repro steps is correct, and no more tag conditions should be created?

[2022-04-07 11:18] LB-BartoszCwiek opened #8769 "Categories in Filter by have editable text"
**Describe the bug**
When the User double clicks on any category name in Filer by the text can be edited. However, after reopening the filter the text reverts back to default. Issue has been found in two places: Entity Outliner (each category name is editable)
and in the Asset Processor ("Status" is editable).

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Entity Outliner

[2022-04-07 11:41] hultonha commented on #8752
Okay good to know, thank you @LB-MichalRodzos. I'm not sure sorry but @amzn-jillich should be able to provide more info next week. Thanks!

[2022-04-07 12:42] adamdbrw commented on #8457
Thank you for this suggestion, I have submitted the [RFC Issue](https://github.com/o3de/sig-core/issues/33).

[2022-04-07 13:17] LB-JakubSkoczylas opened #8770 "[Landscape Canvas] Edit mode for shapes is greyed out after another node is added"
**Describe the bug**
The Box, Polygon Prism and Tube shape nodes have an Edit mode button that by default is enabled only for the last added node. Adding a new node of any type disables the Edit option for all previous shape nodes.

A workaround for this issue is to Edit shape entities in the main Editor window, or select the entity containing the shape to be edited in the Entity Outliner - this e

[2022-04-07 13:20] LB-KacperKapusta opened #8771 "[Linux] Asset Processor fails to process random number of files during its first scan of a project"
**Describe the bug**
Random number of assets fail processing during first run of the Asset Processor for a newly created project with the following error:
`| Info | Child process id 47357 terminated prematurely (signal 9) from ProcessWatcher`

Note that all assets complete without a failure when the processing is rerun.

Please note that each time a new project is created or project's cache is del

[2022-04-07 13:23] LB-KacperKapusta opened #8772 "Visual shadow artifacts visible on objects with Directional Light entity set in specific way for PCF and ESM+PCF shadow filter method"
**Describe the bug**
Directional Light entity set up under specific angle causes visual shadow artifacts to appear on objects (confirmed for both Mesh and WhiteBox entities). Please note that the issue does only occur with the Shadow filter method set to PCF or ESM+PCF in the Directional Light component. The issue has been confirmed occurring for both Linux and Windows (running both rhi=dx12 and r

[2022-04-07 13:26] LB-JakubSkorupka opened #8773 "Decal: Assigning the asset or modifying the Decal component with asset assigned in it results in printing errors in the console"
**Describe the bug**
Assigning a material in the **Decal** component or modifying that component with asset assigned in it results in printing the errors in the console. Note that two warnings are also printed in the console.

Please note that we were unable to reproduce this issue on Linux Stabilization_2205: installer build.

**Error**
[code]

**Steps to reproduce**
Steps to reproduce the behavi

[2022-04-07 13:39] tjmichaels opened #8774 "Unable to set enums with PropertyTreeEditor.SetProperty via Python"
[Migrated from JIRA LYN-11673]
Currently there are some enum classes that cannot be set in python. To name a couple I've encountered:
 * ShadowmapSize (see ShadowConstants.h)
 * DisplayMapperOperationType (see Aces.h)

These are both declared as uint32_t, and is declared with AZ_TYPE_INFO_SPECIALIZE, yet for some reason python won't allow setting variables of this enum class and shows the followin

[2022-04-07 13:40] #8774 closed

[2022-04-07 15:17] LB-MateuszSzweda commented on #8428
Ah, yes. When logging this I was under false impression that **Terrain Height Gradient List** was not needed.
Mostly due to that collisions worked for me without the gradients in February just like in the video below and I could not find specific o3de terrain/physics documentation mentioning the need of gradients.

https://user-images.githubusercontent.com/86953456/162232569-54b89292-5fad-4701-94d

[2022-04-07 15:45] lumberyard-employee-dm commented on #8457
Thanks @adamdbrw.
The @o3de/sig-core group will provide feedback on it.

[2022-04-07 15:45] mbalfour-amzn commented on #8428
I wouldn't close the ticket because the fact that collisions are happening without the Terrain World component is still a bug. :(

[2022-04-07 16:28] srikappa-amzn commented on #4306
Downgrading this to a minor since users are not immediately blocked by the lack of this feature. Can bump to a major if a request comes in.

[2022-04-07 17:33] michleza commented on #8681
@AMZN-alexpete  the GetPosition node will get the cursor's x,y position relative to the upper left corner. When I debug print the output of this node I get results I expect. Setting the distance to a realistic number such as 10 or 100 does not change the results. It will always look like this:

![image](https://user-images.githubusercontent.com/98843754/162262843-c2ff016e-d286-4487-985f-1ed96b5ffa

[2022-04-07 17:41] AMZN-puvvadar commented on #8685
An RFC would be appropriate for this. Further, while this is sig-network adjacent it will likely involve other sigs which should be consulted for said RFC.

[2022-04-07 17:43] AMZN-puvvadar commented on #8706
Related to #8685

[2022-04-07 17:45] AMZN-puvvadar commented on #8706
Closing as duplicates of the above issue. This issue encapsulates concerns around release build packaging and packaging for GameLift which the above referenced issues separately focus on.

[2022-04-07 17:45] #8706 closed

[2022-04-07 18:56] santorac commented on #8696
I was not able to repro this issue. (commit b38ca92ab44ec41b8f9e41fc21ec3932e84747b9). I used the AutomatedTesting project and switched back and forth between the Sponza and ShadowTest levels.

[2022-04-07 18:56] srikappa-amzn commented on #8659
@luoweiqiao , can you try to clarify what it is that you see as a bug here? Please update these sections with more accurate information:

Expected behavior
A clear and concise description of what you expected to happen.

Actual behavior
A clear and concise description of what actually happened.

[2022-04-07 19:21] santorac commented on #8773
This happens for me too. As of commit 88d8066981315c919c1061e88eadebad20bdbd71

[2022-04-07 20:36] amzn-leenguy opened #8782 "Feature Request: Screen Casting in the Viewport UI"
**Is your feature request related to a problem? Please describe.**
Yes. To improve learnability for content creators or users in the viewport in general.

This feature allow users know what they click hot key wise using the viewport, using either the mouse or keyboard.

**Describe the solution you'd like**
Screencasting is small labels at the bottom corner of the viewport showing which keys the us

[2022-04-07 22:43] junbo75 commented on #7265
OpenSSL and related packages have been updated. @spham-amzn is working on the build scripts for PySide2 and will built it with O3DE OpenSSL going forward. Close the GHI now.

Related PRs:
- https://github.com/o3de/3p-package-source/pull/102
- https://github.com/o3de/3p-package-source/pull/104
- https://github.com/o3de/3p-package-source/pull/111
- https://github.com/o3de/o3de/pull/8366
- https://gi

[2022-04-07 22:43] #7265 closed

[2022-04-07 22:50] #8732 closed

[2022-04-08 00:30] AMZN-daimini opened #8791 "Bug Report - Global function reflected to BehaviorContext is not visible in the Script Canvas Node Palette"
**Describe the bug**
A global function reflected to BehaviorContext in the Reflect function of a new project's SystemComponent doesn't get correctly displayed in the Node Palette of ScriptCanvas.

We verified the reflection code is hit. The bus described in the same function displays correctly, but the global method does not.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new

[2022-04-08 00:30] AMZN-daimini commented on #8791
Should try and repro on latest dev before starting an investigation

[2022-04-08 01:37] shirangj opened #8794 "Bug Report"
**Describe the bug**
We cannot create virtual environment using Python from O3DE.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run python/get_python.bat in a fresh O3DE workspace.
2. After Python is downloaded, run python/python -m venv .env

**Expected behavior**
Python virtual environment is created.

**Actual behavior**
Error: Command '['C:\\workspace\\o3de\\python\\.env\\Scripts

[2022-04-08 06:19] gadams3 commented on #3403
This material type is only intended for use inside the material editor and similar tools viewports. After the linked PR is submitted, you should not be able to open or edit it in the material editor. This won't prevent you from assigning it though.

[2022-04-08 09:53] LB-BartoszCwiek opened #8795 "Script Canvas: Dragging a variable on "Add Input" or "Add Operand" on a node does not create a new slot"
**Describe the bug**
When the User drags a variable on "Add Input" it does not result in increased number of slots. It used to work in previous builds for nodes with growing lists.

**Steps to reproduce**
Steps to reproduce the behavior
1. Go to Tools > Script Canvas.
2. Go to File > New Script.
3. Click RMB and in search bar search for any node with growing list (e.g. Add(+)) and select it.
4. Cl

[2022-04-08 10:48] LB-BartoszDudzinski commented on #8456
Please note, that the Editor crashes also when the Bake Reflection Probe button is being pressed in the Reflection probe component.

[2022-04-08 14:34] #8605 closed

[2022-04-08 15:24] lumberyard-employee-dm opened #8797 "Running the `install` target to create a Project Game Release Layout fails"
**Describe the bug**
Attempting to run the `install` CMake target from SDK layout to copy over a project's build artifacts to a game release layout suitable for archiving and distributing a game fails due to the [license_scanner](https://github.com/o3de/o3de/tree/development/scripts/license_scanner) folder missing from the SDK layout

**Steps to reproduce**
Steps to reproduce the behavior:
1. [Bui

[2022-04-08 17:01] #8797 closed

[2022-04-08 17:12] #8700 closed

[2022-04-08 17:12] #8346 closed

[2022-04-08 17:12] #3403 closed

[2022-04-08 18:20] AMZN-Gene opened #8807 "DebugDisplayRequests EBus Uses Overloaded Function"
**Describe the bug**
I was using DebugDisplayRequests::SetColor and the compiler couldn't figure out which overloaded function to event broadcast. The  SetColor methods should be broken into 3 separate methods:
  1. SetColor(AZ::Color)
  2. SetColorF(float r,g,b,a)
  3. SetColorFromVector4(Vector4 color)?

Also that would follow Lumberyard standards... https://docs.aws.amazon.com/lumberyard/latest

[2022-04-08 18:53] santorac opened #8808 "Copy Asset Path On Windows Uses Forward Slash"
**Describe the bug**
Whenever you copy a path, the path string on the clipboard should have a path that is normalized for the host OS. On Windows, it is using forward slash instead of backslash. This makes it difficult to use the copied path in other tools.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the Asset Processor
2. On the Assets page, in Product Assets tab, right click

[2022-04-08 19:14] SergeyAMZN commented on #8428
Thanks for clarifying the issue!
Should be fixed in: https://github.com/o3de/o3de/pull/8809

[2022-04-08 23:17] srikappa-amzn commented on #2595
I can't reproduce this anymore with slices. I'm closing this for now. Feel free to reopen it if you encounter this again. Please provide

[2022-04-08 23:17] #2595 closed

[2022-04-08 23:31] srikappa-amzn commented on #2785
Looks like the docs are updated but the SC node could use some refactoring around naming like suggested above. I'm downgrading this since it doesn't appear like a breaking issue.

[2022-04-10 04:56] dm-amzn opened #8815 "Terrain: Terrain World Debugger wireframe intermittently displays rendering issue when adjusting Height Query Resolution"
**Describe the bug**
Terrain World Debugger wireframe will intermittently display a rendering issue, within Viewport, after adjusting Height Query Resolution.

- Issue only seems to occur when the input value is either not the default (1.0) or adjusted by the power of 2 (2.0, 4.0, 8.0, etc.).

**Steps to reproduce**
Steps to reproduce the behavior:

1. Launch the Editor
2. Create a new level, or l

[2022-04-10 06:17] amzn-rhhong commented on #8191
The emfx actor instance already support disable update based on camera state. The missing pieces is to override the IsInCameraFrustum function on AtomActorInstance and feed in the correct value.

After talking with @hultonha, it looks like we have a EntityVisibilityQuery class to query for the visible entities from the octree, a EditorEntityViewportInteractionRequestBus to communicate between and

[2022-04-10 06:30] dm-amzn opened #8816 "Terrain: Edits/changes made to Image Asset Streamingimages via external applications fail to dynamically update in Editor"
**Describe the bug**
Terrain: Edits made to Image Assets via external applications fail to dynamically update in Editor.

- Edits/changes to Streamingimages are dynamically updated in the Pick Streamingimage window
- Updates are only applied after re-selecting the Streamingimage as an Image Asset within the Image Gradient component

**Steps to reproduce**
Steps to reproduce the behavior:

1. Launc

[2022-04-11 00:43] AMZN-Gene opened #8818 "EditorSingleTest Error When Using @pytest execution_number'"
**Describe the bug**
I wanted to run a test multiple times so I used the pytest "execution_number" decorator, but this resulted in python errors

**Steps to reproduce**
Steps to reproduce the behavior:
1. Modify any EditorSingleTest pytest to include @pytest.mark.parametrize('execution_number', range(10))
2. Run the pytest

**Expected behavior**
PyTest runs 10 times

**Actual behavior**
Pytest run

[2022-04-11 11:08] thefranke commented on #8475
@superkitcath Can you assign this to either @Bindless-Chicken or me? We're investigating and will either leave a solution or more details here.

[2022-04-11 11:13] hultonha commented on #8191
Another big thing to mention is all this technically works today in the _Editor_, just not at runtime (or Game Mode) unfortunately. So the existing interfaces may need to be decoupled slightly to support both edit and runtime support. `EntityVisibilityQuery` is in `AzFramework` so can be used in either which is good, but looking up visibility queries is slow (as find times would be linear). `Edito

[2022-04-11 13:18] hultonha commented on #3604
Note: This issue is a duplicate of https://github.com/o3de/o3de/issues/7845

[2022-04-11 13:20] LB-ArturZieba opened #8823 "Gem Catalog Gem Summary column text wrapping is inconsistent with the Gem Name column"
**Describe the bug**
Project Manager's Gem Catalog "Gem Summary" column does not put "..." at the end of the wrapped text, when it does not fit the text field. It should be noted that the "Gem Name" column correctly displays "..." at the end of the text if some of it is not visible due to wrapping.

**Steps to reproduce**
Steps to reproduce the behavior:
1. In the Project Manager, click the hambur

[2022-04-11 16:02] carlitosan opened #8825 "Allow all ScriptCanvas Nodes types to check for unacceptable null input"
(BehaviorContext) Method nodes check input for unacceptable null pointer input at compile time. Not all nodes can use this check, for example NodeableNode ins (which, are themselves implemented as behavior context functions).  I would be good to allow any node type to uses this safety check.

[2022-04-11 17:12] carlitosan commented on #8760
Assigning to me, I think this may have nothing to do with prefabs

[2022-04-11 17:19] lmbr-pip commented on #8629
[2022-03-30T20:42:59.400Z] E   Starting test Multiplayer_AutoComponent_NetworkInput...
[2022-03-30T20:42:59.400Z] E   Test Multiplayer_AutoComponent_NetworkInput finished.
[2022-03-30T20:42:59.400Z] E   Report:
[2022-03-30T20:42:59.400Z] E   [SUCCESS] Success: Unexpected line not found: LaunchEditorServer failed! The ServerLauncher binary is missing!
[2022-03-30T20:42:59.400Z] E   [FAILED ] Failur

[2022-04-11 17:21] lmbr-pip commented on #8629
@AMZN-Gene - Can you confirm this was fixed by your recent changes?

[2022-04-11 17:39] AMZN-Gene commented on #8629
Closed https://github.com/o3de/o3de/pull/8775

[2022-04-11 17:39] #8629 closed

[2022-04-11 18:00] AMZN-Gene opened #8828 "ProjectManager: CTests Not Generated When Building AutomatedTesting"
**Describe the bug**
Ctests aren't generated when using project manager to build AutomatedTesting. CTests only get generated when configuring using engine-centric builds like...

usr/gene/o3de_engine_root/ > cmake -B build/linux -S . -G "Ninja Multi-Config" -DLY_PROJECTS=AutomatedTesting

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Project Manager
2. Build AutomatedTesting proj

[2022-04-11 18:09] onecent1101 opened #8829 "Feature Request: ScriptCanvas node Color type input improvement"
Currently, for node with color type as input slot, user has to provide value for RGBA field.

**Describe the solution you'd like**
Add color picker as color type input option, instead of providing value for RGBA field.

**Describe alternatives you've considered**
Refine node inspector with better user experience, as it supports color picker option already. (but it has unclear naming)

**Additional

[2022-04-11 18:18] Kadino commented on #8828
@AMZN-Gene Could you include the specific folder targeted for step 3, similar to the cmake build command above?

I suspect this is due to how the Project Manager calls CMake, and am surprised that it somehow ignores CTest configuration.

[2022-04-11 18:19] AMZN-Gene opened #8831 "ProjectManager: Renaming Project Doesn't Update Project Card"
**Describe the bug**
After renaming a project, the project card on the main project manager screen is the same

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open ProjectManager
2. Open any project's settings
3. rename the proejct
4. Hit Save

**Expected behavior**
Project Name on the project card should change

**Actual behavior**
Project Name on the project card is the same

Note: C

[2022-04-11 18:19] srikappa-amzn commented on #8686
@AMZN-mnaumov , fyi

[2022-04-11 18:37] santipaprika commented on #8719
Minor comment: the local orientation of the input model is expected to be with the front facing the positive Y direction (like in the image you attached), so it would not be facing straight down (maybe the description in the PR was a bit messy, apologizes).

Despite this, I think point 1 would still be an improvement, not only for the eye model, but for all models to be used in the Material Editor

[2022-04-11 18:51] Kadino commented on #8818
This is a valid feature request for the test framework to expose, which should default to the number of cores on a machine.

It will need to be exposed through a PyTest Plugin as an optional param in o3de\Tools\LyTestTools\ly_test_tools\_internal\pytest_plugin\test_tools_fixtures.py via pytest_addoption(parser)

Interestingly, Python's os.cpu_count() will return the number of logical cores, not on

[2022-04-11 18:55] Kadino commented on #8818
Oh, wait, I thought this was trying to set the number of parallel tests that execute when running EditorSharedTest.  For repeating tests, I recommend looking at https://pypi.org/project/pytest-repeat/ or parameterizing the test:

[code]

[2022-04-11 19:46] santorac commented on #8719
Hm, when I tried using an eye material on the current preview models the iris was always pointing down, so I assumed it was expecting -Z. If that's not the case, why do you think it was pointed down?

I agree this could be split into separate tasks if we wanted, I was focused on writing a comprehensive user-story for the workflow.

[2022-04-11 20:59] Kadino opened #8834 "Deduplicate task killing utilities"
**Is your feature request related to a problem? Please describe.**
There are multiple places in LyTestTools with logic for automatically killing similar groups of applications, notably:

- Tools\LyTestTools\ly_test_tools_internal\managers\ly_process_killer.py
- Tools/LyTestTools/ly_test_tools/o3de/editor_test_utils.py

This can be confusing when trying to find and maintain the definitive list of p

[2022-04-11 21:06] FuzzyCarterAWS opened #8835 "Fix Skipped Scripting Test Debugger_HappyPath_TargetMultipleEntities"
The scripting test `Debugger_HappyPath_TargetMultipleEntities` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

[2022-04-11 21:09] FuzzyCarterAWS opened #8836 "Bug Report"
The scripting test `Debugger_HappyPath_TargetMultipleGraphs` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\Debugger_HappyPath_TargetMultipleGraphs.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:11] FuzzyCarterAWS opened #8837 "Fix Skipped Scripting Test EditMenu_Default_UndoRedo"
The scripting test `EditMenu_Default_UndoRedo` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\EditMenu_Default_UndoRedo.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:15] FuzzyCarterAWS opened #8839 "Fix Skipped Scripting Test FileMenu_Default_NewAndOpen"
The scripting test `FileMenu_Default_NewAndOpen` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\FileMenu_Default_NewAndOpen.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:16] FuzzyCarterAWS opened #8840 "Fix Skipped Scripting Test NewScriptEventButton_HappyPath_ContainsSCCategory"
The scripting test `NewScriptEventButton_HappyPath_ContainsSCCategory` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\NewScriptEventButton_HappyPath_ContainsSCCategory.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:17] santipaprika commented on #8719
Probably it is because of the UV layout, since the one required for the eyeball is not present in any of the sphere presets in the Material Editor.

Hopefully during this week I'll be able to push the PR with the material's regression test / sample (https://github.com/o3de/o3de/issues/8721) which will include the eyeball model with the proper UV layout, so it will be easier to test for everybody.

[2022-04-11 21:17] FuzzyCarterAWS opened #8841 "Fix Skipped Scripting Test Node_HappyPath_DuplicateNode"
The scripting test `Node_HappyPath_DuplicateNode` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\Node_HappyPath_DuplicateNode.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:19] FuzzyCarterAWS opened #8842 "Fix Skipped Scripting Test NodeCategory_ExpandOnClick"
The scripting test `NodeCategory_ExpandOnClick` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\NodeCategory_ExpandOnClick.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:21] FuzzyCarterAWS opened #8843 "Fix Skipped Scripting Test NodePalette_HappyPath_CanSelectNode"
The scripting test `NodePalette_HappyPath_CanSelectNode` is failing with a message of _Test fails on nightly build builds, it needs to be fixed_

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\NodePalette_HappyPath_CanSelectNode.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:22] FuzzyCarterAWS opened #8844 "Fix Skipped Scripting Test VariableManager_UnpinVariableType_Works"
The scripting test `VariableManager_UnpinVariableType_Works` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\VariableManager_UnpinVariableType_Works.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:22] FuzzyCarterAWS opened #8845 "Fix Skipped Scripting Test VariableManager_Default_CreateDeleteVars"
The scripting test `VariableManager_Default_CreateDeleteVars` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\VariableManager_Default_CreateDeleteVars.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:23] Kadino opened #8846 "Option to enable cProfile during Python tests"
**Is your feature request related to a problem? Please describe.**
When running tests, it is inconvenient to manually enable Python profiling information, especially for the in-editor Python bundled with O3DE. Profiling is useful when inspecting why certain tests take a long time to execute, and can expose both test inefficiencies and product inefficiencies.

**Describe the solution you'd like**
-

[2022-04-11 21:25] FuzzyCarterAWS opened #8847 "Fix Skipped Scripting Test ScriptEvents_ReturnSetType_Successfully"
The scripting test `ScriptEvents_ReturnSetType_Successfully` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvents_ReturnSetType_Successfully.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:26] FuzzyCarterAWS opened #8848 "Fix Skipped Scripting Test ScriptEvents_Default_SendReceiveSuccessfully"
The scripting test `ScriptEvents_Default_SendReceiveSuccessfully` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvents_Default_SendReceiveSuccessfully.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:27] FuzzyCarterAWS opened #8849 "Fix Skipped Scripting Test"
The scripting test `ScriptEvents_HappyPath_SendReceiveAcrossMultiple` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvents_HappyPath_SendReceiveAcrossMultiple.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:28] FuzzyCarterAWS opened #8850 "Fix Skipped Scripting Test ScriptEvents_AllParamDatatypes_CreationSuccess"
The scripting test `ScriptEvents_AllParamDatatypes_CreationSuccess` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvents_AllParamDatatypes_CreationSuccess.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:28] FuzzyCarterAWS opened #8851 "Fix Skipped Scripting Test ScriptEvent_AddRemoveParameter_ActionsSuccessful"
The scripting test `ScriptEvent_AddRemoveParameter_ActionsSuccessful` is failing with a message of _Test fails on nightly build builds, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvent_AddRemoveParameter_ActionsSuccessful.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:29] FuzzyCarterAWS opened #8852 "Fix Skipped Scripting Test ScriptEvent_AddRemoveMethod_UpdatesInSC"
The scripting test `ScriptEvent_AddRemoveMethod_UpdatesInSC` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptEvent_AddRemoveMethod_UpdatesInSC.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:30] FuzzyCarter opened #8853 "Fix Skipped Scripting Test ScriptCanvasComponent_OnEntityActivatedDeactivated_PrintMessage"
The scripting test `ScriptCanvasComponent_OnEntityActivatedDeactivated_PrintMessage` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptCanvasComponent_OnEntityActivatedDeactivated_PrintMessage.py_

**Test Suites**

[2022-04-11 21:31] FuzzyCarterAWS opened #8854 "Fix Skipped Scripting Test ScriptCanvas_TwoEntities_UseSimultaneously"
The scripting test `ScriptCanvas_TwoEntities_UseSimultaneously` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptCanvas_TwoEntities_UseSimultaneously.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:32] FuzzyCarterAWS opened #8855 "Fix Skipped Scripting Test ScriptCanvas_TwoComponents_InteractSuccessfully"
The scripting test `ScriptCanvas_TwoComponents_InteractSuccessfully` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptCanvas_TwoComponents_InteractSuccessfully.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:33] FuzzyCarterAWS opened #8856 "Fix Skipped Scripting Test ScriptCanvas_ChangingAssets_ComponentStable"
The scripting test `ScriptCanvas_ChangingAssets_ComponentStable` is failing with a message of _Test fails to find expected lines, it needs to be fixed._

Investigate why this test is failing an fix it so the skip can be removed.

**Source File**: _o3d3\AutomatedTesting\Gem\PythonTests\scripting\ScriptCanvas_ChangingAssets_ComponentStable.py_

**Test Suites**:
* TestSuite_Periodic.py

[2022-04-11 21:59] superkitcath commented on #8475
Assigning to @thefranke, as per comment. In order for me to be able to assign to @Bindless-Chicken, Thomas has to comment on the issue first. :-)

[2022-04-11 23:04] Nachomartgar opened #8857 "Asset Processor Icon is almost invisible in Windows 11 taskbar"
**Describe the bug**
Asset Processor Icon is almost invisible in Windows 11 taskbar.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Asset Processor.
2. Go to Task Bar -> hidden icons.

**Expected behavior**
Asset Browser icon is clearly visible.
**Actual behavior**
Asset Browser icon is almost invisible.

**Screenshots/Video**
![image](https://user-images.githubusercontent.com/82

[2022-04-11 23:27] dm-amzn opened #8858 "Terrain: Streamingimages will intermittenly default to Windows Photos Viewer when trying to open in an external program."
**Describe the bug**
Streamingimages will intermittenly default to Windows Photos Viewer when trying to open in an external program.

**Steps to reproduce**

1. Steps to reproduce the behavior:
2. Launch the Editor
3. Create a new level, or load an existing level
4. Create generated Terrain with an Image Gradient component
5. In the Image Gradient component, find and the Image Asset
6. In the Pick

[2022-04-11 23:59] Kadino commented on #8818
Deleting my misleading comments above.  This looks like a bug in pytest parameterization and collection, with regards to the EditorTest framework. This is likely due to it overriding the normal collection mechanism of pytest.

[2022-04-12 00:09] Kadino commented on #8471
Notably blocked on O3DE's adoption of a metrics solution.

[2022-04-12 00:14] AMZN-Gene commented on #8818
Thanks for the help! This all came about trying to run a test multiple times which is also possible using CTest, although CTests are unfortunately not generated under certain build conditions. I create a separate bug here: #8828

[2022-04-12 01:18] xiapeng78 opened #8862 "[MultiplayerSample]Client can not connect to Server after disconnect"
**Describe the bug**
MultiplayerSample project. Client can not connect to Server after disconnect.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run MultiplayerSample.ServerLauncher.exe process
2. Run MultiplayerSample.GameLauncher.exe process as player A, player A can connect to server
3. Run another MultiplayerSample.GameLauncher.exe process as player B, player B can connect to ser

[2022-04-12 07:31] LB-TomaszSerwanski opened #8864 "Modifying Material Instance does not have any effect after enabling LOD Materials"
**Describe the bug**
If the _LOD Materials_ are enabled in the _Material_ component, any changes made to the _Material Instance_ are not applied to the model.

Please note that the issue does not occur on Linux.

Please refer to the attached video for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open any Level.
2. Create a new entity with _Mesh_ and _Material_ componen

[2022-04-12 08:47] LB-ArturZieba opened #8866 "Assets from the project folder cannot be added as a seed asset in the Asset Bundler"
**Describe the bug**
Attempting to add an asset directly from the project folder as a seed asset in the Asset Bundler results in a `Asset catalog does not know about the asset (<asset path>) on platform (<chosen platform>)` message printed to the log, without adding the asset to a Seed List. It should be noted that assets from the Cache folder can be added without issue.

It should also be noted t

[2022-04-12 09:12] hultonha commented on #8745
I have discussed this issue with @amzn-jillich and we do not believe this is a regression. We will look into this to double check but think moving this to major makes sense as nothing has changed relating to this code recently.

[2022-04-12 09:24] hultonha commented on #8191
Discussed this with @amzn-jillich and this is more of a performance issue than a critical bug.

This might be something that we could have a temporary/stand-in solution that does not need the bigger refactor discussed above.

(maybe see UpdateLodByDistance for an example)

[2022-04-12 09:25] hultonha commented on #8190
Discussed with @amzn-jillich, downgrading this from critical to major

[2022-04-12 09:28] hultonha commented on #8190
Note: Adding feature/systems as this is a more central problem, not something EMFX specific

[2022-04-12 09:32] hultonha commented on #8182
@amzn-tommy myself and @amzn-jillich wanted to check if you're still working on this (is this an Atom issue) or is this something the character team could investigate? Thanks!

[2022-04-12 09:41] hultonha commented on #6800
@burelc-amzn we wanted to if this is now no longer a critical issue (or even occurring) with the switch to the Atom viewport. Do you have any thoughts @amzn-rhhong? Maybe we can just close this as the OpenGL renderer/widget is due to be removed soon?

[2022-04-12 09:44] hultonha commented on #5641
Discussed this with @amzn-jillich and with the Atom viewport you can only have one character so this issue is no longer relevant

[2022-04-12 09:46] hultonha commented on #4314
Discussed this with @amzn-jillich and with the Atom viewport you can only have one character so this issue is no longer relevant

[2022-04-12 09:46] #4314 closed

[2022-04-12 09:51] hultonha commented on #5641
Note: I reviewed this with @amzn-jillich and we have confirmed the initial reported issue no longer occurs. This is more of a feature request for the delete key to work with the EMFX editor

[2022-04-12 09:51] #5641 closed

[2022-04-12 09:51] hultonha commented on #5641
Note: A new issue will be created to cover the change in functionality for the delete key

[2022-04-12 09:56] hultonha opened #8867 "Make the delete key work across all of the Animation Editor"
**Is your feature request related to a problem? Please describe.**

Currently you can use the delete key to remove animgraph nodes, but for example not to remove a motion. This is inconsistent and can be confusing for the user.

**Describe the solution you'd like**

It would be good to ensure the delete key has the intended effect for every operation in the animation editor. This includes motions,

[2022-04-12 10:47] KondeU opened #8868 "Feature Request: Development Plan for AtomHairGem"
**Is your feature request related to a problem? Please describe.**

Hi there,
Do you have a development plan for AtomHairGem? Collisions between hair strands and head models are not supported in AtomHairGem currently.

[2022-04-12 12:19] LB-HubertUberman opened #8869 "After re-adding Material component to an entity material previews are displayed with previously made changes instead of default materials"
**Describe the bug**
Re-adding the Material component to an entity causes material previews in the component as well as in Material Property Inspector to be displayed with previously made changes instead of default materials. Note that in the viewport the model is displayed with the default material and after making new changes, the material previews are updated properly. The issue occurs both on

[2022-04-12 12:49] moraaar commented on #8714
Fixed merged to stabilization/2205 branch

[2022-04-12 13:02] moraaar commented on #7550
I was able to reproduce this in stabilization branch. I will investigate what's happening.

[2022-04-12 13:12] LB-MateuszSzweda opened #8870 "Windows clients are immediately disconnecting from o3de-multiplayersample dedicated servers"
**Describe the bug**
Connecting a Windows client to the o3de-multiplayersample dedicated server hosted on another Windows machine via IP connection on opened UDP port will result in immediate disconnection from the host due to the following errors:

`Disconnecting from remote address XX.XXX.XX.XX:33450 due to StreamError` on the client side

and

`ScheduledEventHandle event pointer doesn't match t

[2022-04-12 13:45] LB-JakubSkoczylas opened #8872 "[Linux] Users cannot interact with the Launcher Console on Linux"
**Describe the bug**
After the launcher starts, the console goes black and the user cannot put any commands into it.

Project: MultiplayerSamples

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the MultiplayerSample project for Server.
2. Run the MultiplayerSampleServer.Launcher.

**Expected behavior**
The Launcher starts and the console is ready to accept commands.

**Actual beh

[2022-04-12 16:15] lmbr-pip commented on #8685
This seems related to https://github.com/o3de/o3de/issues/8707 - is this just a refinement of the --target INSTALL

[2022-04-12 16:55] srikappa-amzn commented on #6595
Debugged into this a bit. It looks like both the SliceEntityOwnershipService and SpawnableEntitiesManager are trying to destroy all the entities when switching levels. The fact that it crashes when EntityId is 0 (corresponds to SystemEntity) exposes this problem. The quick thing would be to just an (id !=0) check in GameEntityContextComponent::DestroyEntityInternal(). But that won't fix the underl

[2022-04-12 16:58] srikappa-amzn commented on #6595
Steps to reproduce:
1. Build and run the GameLauncher of your project (something like 'AutomatedTesting.GameLauncher'
2. Hit '~' character. In the console that comes up, enter `loadLevel Levels/abc/abc.spawnable` (where abc is the name of your level)

[2022-04-12 17:23] Kadino opened #8874 "EditorTest expectations library"
**Is your feature request related to a problem? Please describe.**
It is relatively difficult to write tests for conditions in the O3DE Editor. This could be cleaner as an expectation library, which can simplify verifying specific conditions. Test writers should be able to cleanly write a test expectation that appears logged in a report, instead of only using asserts or `Report.criticalresult()`

[2022-04-12 17:36] Kadino opened #8875 "Share AssetProcessor between EditorTest tests"
**Is your feature request related to a problem? Please describe.**
Profiling showed that around 30% of the current test runtime for python-based tests was spent repeatedly opening, waiting for readiness, and then closing the AssetProcessor. Deduplicating this work could currently result in a reduction of around five minutes from Jenkins jobs.

**Describe the solution you'd like**
All collected Edi

[2022-04-12 17:42] Kadino opened #8876 "CTest label for Serial"
**Is your feature request related to a problem? Please describe.**
It is currently difficult to filter to only the set of Serial or Parallel tests that execute in CTest. It is also difficult to understand the total duration these tests take when run as part of the full suite.

**Describe the solution you'd like**
Having serial enabled could be marked in a CTest label, perhaps OPTION_serial, set by

[2022-04-12 17:52] Kadino opened #8877 "Python tests fail to execute from Visual Studio projects"
**Describe the bug**
In Visual Studio, executing projects containing python tests results in an error dialog when trying to execute the cmd script. Tests fail to execute after AssetProcessorBatch.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open o3de.sln in MSVS
2. Go to the 'Solution Explorer' pane
3. Right-Click on a python test project such as 'Solution > AutomatedTesting > Gem

[2022-04-12 17:58] Kadino opened #8878 "Reduce artifacts logged per test run"
**Is your feature request related to a problem? Please describe.**
Around 70 MB of test artifacts are getting saved on each run. This can accumulate fast! I had 4 GB after a few days of debugging. Per run there are currently ~27MB from PhysicsTests and 27MB from Dynveg. These are mostly from AssetBuilder logs. There's also an additional compressed copy of everything, which is 90% smaller.

**Descr

[2022-04-12 18:16] Kadino commented on #6854
Suggested name: PrePullRequest_SmokeMain

[2022-04-12 18:35] Kadino commented on #8537
@AMZN-Gene were these tests using EditorSingleTest, EditorBatchedTest, EditorParallelTest and/or EditorSharedTest?

[2022-04-12 18:36] #7330 closed

[2022-04-12 18:39] Kadino commented on #8573
There may be a previous bug workaround related to log saving during parallel execution.

[2022-04-12 18:50] Kadino commented on #8874
Current report_result tuple is relatively confusing

[2022-04-12 18:54] Kadino commented on #8874
Both floating point as well as vector-math would be useful to have. Please propose the full set of data types to validate.

[2022-04-12 19:19] junbo75 commented on #8870
I couldn't repro this if the client and server run on the same Window machine. I do see the following warning if I run the "disconnect" command to disconnect the client manually:
`ScheduledEventHandle event pointer doesn't match to the pointer of handle to the client`
![image](https://user-images.githubusercontent.com/68558268/163037341-f70b2f9e-9700-48c0-8a48-3b0972a48699.png)

[2022-04-12 19:27] jckand-amzn commented on #8818
Thought I had a solution to this issue, however locally was using a similar type of temporary, one-off change that @AMZN-Gene worked out in #8819.

[2022-04-12 20:14] junbo75 commented on #8862
I was able to repro this issue locally. Attached are the client and server side logs.
[Server - Copy.log](https://github.com/o3de/o3de/files/8476243/Server.-.Copy.log)
[Game - Copy.log](https://github.com/o3de/o3de/files/8476245/Game.-.Copy.log)
[Game(1) - Copy.log](https://github.com/o3de/o3de/files/8476248/Game.1.-.Copy.log)

[2022-04-12 20:24] #8807 closed

[2022-04-12 20:39] Kadino commented on #8874
This was created based on a discussion with @FuzzyCarterAWS

Per @smurly the built-in math functions in azlmbr.math should prove useful.

[2022-04-12 20:41] Kadino commented on #8877
SIG-Build should be included to review any changes to the project generation scripts, in case that is required.

[2022-04-12 20:47] junbo75 commented on #8870
Note that I can get a different type of errors when test this issue with the following steps:

[2022-04-12 20:52] junbo75 commented on #8862
Note that I can get a different type of errors when test this issue with the following steps:
1. Run MultiplayerSample.ServerLauncher.exe process
2. Run MultiplayerSample.GameLauncher.exe process as player A and connect to the server
3. Open console window on player A, execute 'disconnect' and 'unloadlevel' command by sequence, player A can leave game
4. Then execute 'connect' command in console w

[2022-04-12 20:56] junbo75 commented on #8870
Note that this might be related to https://github.com/o3de/o3de/issues/8862. I got the exact same error when disconnect and reconnect a second client to the server.

[2022-04-12 21:34] spham-amzn opened #8883 "SPIKE: O3DE Editor Container"
SPIKE: Investigate Docker Image to build and run O3DE Editor from within a container

[2022-04-12 21:40] spham-amzn opened #8884 "SPIKE: Containerization and Rendering"
Research how to access the GPU through containers for O3DE

[2022-04-12 21:53] #8503 closed

[2022-04-12 23:21] Ulrick28 opened #8886 "[22.05.0 release requirement] Update O3DE logo throughout the editor, project manager, and installer"
**Is your feature request related to a problem? Please describe.**
For the 22.05.0 release all instances of the O3DE Logo must be updated in the editor, project manager, and installer. We will also need to make sure the application icons are correct for both Windows and Linux.

[2022-04-13 10:48] LB-HubertUberman commented on #8671
Issue verified as fixed on the Development (https://github.com/o3de/o3de/commit/6291e9d30623e83e42903aba7601952792815320).

[2022-04-13 11:01] LB-HubertUberman commented on #8714
Reopening the issue as it still occurs on the Development branch (https://github.com/o3de/o3de/commit/6291e9d30623e83e42903aba7601952792815320). Verified as fixed on Stabilization/2205 branch (https://github.com/o3de/o3de/commit/d25f305783de49ca1edb52ef1cc8875e20772b80).

[2022-04-13 12:51] LB-BartoszDudzinski opened #8890 "Canvases are not rendering after leaving fullscreen Game mode"
**Describe the bug**
Leaving the fullscreen Game Mode results in the canvases not being displayed upon launching the Game Mode for the second time. The following errors are displayed in the console:

[code]

Full error output is attached below to the ticket.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity and add the UI Canvas Asset Ref component to it.
2. Assign any c

[2022-04-13 13:40] loherangrin commented on #8883
You might be interested to: https://github.com/loherangrin/o3tanks

It build and run the editor in dedicated containers, which are limited to only required libraries (building or runtime). It also handles pre-actions required to share different GPU vendors and layouts (e.g. integrated + dedicated cards) with the container, which can help for #8884 too.

There is documentation usage in the wiki, bu

[2022-04-13 13:54] hultonha commented on #8714
Hi @LB-HubertUberman,

We have an internal process where bugs fixed in `stabilization/2205` are merged back to `development` twice a week (Tuesdays and Thursdays). Please wait to verify in development until this has happened (e.g. If a fix went in on Tuesday afternoon or Wednesday, please wait until late Thursday, or it might be even better to wait until Friday to verify in development). Feel free

[2022-04-13 13:54] #8714 closed

[2022-04-13 14:49] AMZN-Gene opened #8891 "Multiplayer Sample: As a dev MPS “main” branch name is confusing"
**Is your feature request related to a problem? Please describe.**
The MPS “main” branch was created to work with the latest release which is currently 1121 (November 2011) release.

**Describe the solution you'd like**
Instead of calling it “main” can we create a branch name that matches the release?
This has confused developers multiple times often leading them to incorrectly using mps main with

[2022-04-13 15:57] AMZN-daimini commented on #7674
@sptramer Will this be fixed with just changes on the docs side, or does this need code changes as well? Could not understand that from the description and comments alone.

[2022-04-13 16:04] robhaco commented on #3552
The most recent Project Manager no longer has these issues.  Closing.

[2022-04-13 16:04] #3552 closed, assigned to nobody

[2022-04-13 16:04] AMZN-daimini commented on #8835
@FuzzyCarterAWS Hey Fuzzy, these issues all sound more like tasks and could probably skip having to go through issue triage. Is there a specific workflow you're following in adding them? Maybe we could change to speed things up.

Luckily I found a way to bulk label them and it didn't take much time, but I was wondering if we could streamline the process in the future :)

[2022-04-13 16:21] AMZN-stankowi commented on #8866
I've confirmed via other communication channels that this was an issue with the written test case. I've updated the test case to point at an asset type that won't generate this error.

I am not closing this ticket, because I think the error message that occurs when selecting a Source Asset should be more clear than it is, so I've downgraded this to a Minor instead.

I've reached out to the sig-con

[2022-04-13 16:45] yuyihsu opened #8894 "[Walk the engine research] WF5: Look development"
**Is your feature request related to a problem? Please describe.**
This research is part of the Rev the Engine program to evaluate the user experience quality in O3DE. We will evaluate the Look Dev experience, which includes materials, lighting and postFX setup.

**Describe the solution you'd like**
We will use the following user scenarios defined in the RTE scope to evaluate the experience:

10.

[2022-04-13 16:48] sptramer commented on #8690
This has a few callouts that SIG Docs Community would like advisement from other teams on:

* @o3de/sig-ui-ux  - The C++ class name presented here is unweildly and confusing. This is an issue that crosses with @o3de/sig-content; In triage docs team agreed that the relevant type information is at most `Array[EntityId]` (numerically-indexed table.) We would like to see if this can be resolved withou

[2022-04-13 16:51] yuyihsu opened #8895 "[UX Research] Prefab editing mode"
**Is your feature request related to a problem? Please describe.**
We continue improving the prefab editing mode to support more use cases. While we are doing so, we also would like to share the design with the customers to collect their early feedback.

**Describe the solution you'd like**
We plan to interview with 5-7 customers and share the prefab editing mode design with them to gather their f

[2022-04-13 17:02] santipaprika commented on #8721
I can work on this :)

[2022-04-13 17:24] #8686 closed

[2022-04-13 17:29] santorac commented on #8719
This is assigned to anyone. @santipaprika it should be assigned to you right?

[2022-04-13 17:31] superkitcath commented on #8696
Hi @AMZN-Olex ! Can you confirm that this is still happening and what Game Project you are using? Thanks!

[2022-04-13 17:43] superkitcath opened #8896 "[Android] Generating Android project for AtomSampleViewer fails"
See issue in o3de/asv repo:
https://github.com/o3de/o3de-atom-sampleviewer/issues/408

[2022-04-13 17:44] superkitcath opened #8897 "Launching AtomSampleViewerStandalone displays 3 warnings in the command line terminal"
See issue under o3de/asv
https://github.com/o3de/o3de-atom-sampleviewer/issues/407

[2022-04-13 17:44] santipaprika commented on #8719
This feature request is going to be discussed in the next monthly (https://github.com/o3de/sig-graphics-audio/issues/33), so before that, I think it cannot be assigned to anyone right?

[2022-04-13 17:54] jckand-amzn commented on #7111
Issue still occurs. Hit the same error with the latest stabilization package.

[2022-04-13 18:16] lmbr-pip commented on #8771
May relate to https://github.com/o3de/o3de/issues/8744

[2022-04-13 19:15] michleza opened #8901 "Script Canvas: Variable type changing not present in stabilization build"
**Describe the bug**
Warsaw Lionbridge team is not seeing the variable type change feature recently added to development.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download and install the o3de engine from this url:  https://o3debinaries.org/stabilization-2205/Latest/Windows/o3de_installer.exe
2. Launch o3de
3. Make and build a new project with a new level
4. Open script canvas e

[2022-04-13 19:30] AMZN-stankowi opened #8902 "AR Bug Report MultiplayerTests_Main"
**Describe the bug**
MultiplayerTests_Main failed in a changelist that should not have caused it to fail. The pull request only modifies the CODEOWNERS file and makes zero code changes.

https://github.com/o3de/o3de/pull/8893

**Failed Jenkins Job Information:**
The name of the job that failed, job build number, and code snippit of the failure.
https://jenkins.build.o3de.org/blue/organizations/jen

[2022-04-13 19:56] AMZN-stankowi commented on #8902
[PR8893job1.zip](https://github.com/o3de/o3de/files/8484298/PR8893job1.zip)

[2022-04-13 19:59] santorac opened #8903 "DetailMaps Screenshot Test Broken"
**Describe the bug**
AtomSampleViewer material screenshot test 102_detailmaps_all.png is failing

**Steps to reproduce**
Run AtomSampleViewer's materialscreenshottests.bv.lua

**Expected behavior**
Pass with tolerance Level H

**Actual behavior**
Failed, would need tolerance level I. The screenshot comparison shows a clear difference, it's not just a hardware difference.

**Assets required**
AtomS

[2022-04-13 20:13] rgba16f commented on #8903
is that the Hermanubis model?

[2022-04-13 20:19] #8302 closed

[2022-04-13 20:19] lawsonamzn commented on #8302
This was fixed by the above commit to development.

[2022-04-13 21:00] AMZN-mnaumov opened #8905 "Having similar names in ScriptCanvasNodeable.xml causes nodes to get ccorrupted"
**Describe the bug**
When creating custom node descriptor all the parameter names must be unique even if they are in different groups (e.g. Input parameter and Output parameter), otherwise the node starts exhibiting weird behavior in Script Canvas (particularly during Undo/Redo operations)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open o3de\Gems\ScriptCanvas\Code\Include\ScriptCa

[2022-04-13 21:02] AMZN-alexpete opened #8906 "Gems Assets folder ignored without including Builders alias in CMakeLists.txt"
**Describe the bug**
Not sure if this is a bug or a feature request for more clear documentation.
Removing the following line from `CMakeLists.txt` in a gem created from the `DefaultGem` template will result in the AssetProcessor ignoring the `Assets` folder for that gem.
[code]

This was confusing for me for 2 reasons.
1. the gem comes with an `Registry/assetprocessor_settings.setreg` file that s

[2022-04-13 21:18] #5617 closed

[2022-04-13 21:20] lumberyard-employee-dm commented on #8906
This is something we should better document.

First for the AssetProcessor to know that a gem is active, there needs to be an entry in loaded .setreg for that sets the `/O3DE/Gems/<GemName>` entry.

That indicates to the AssetProcessor that the gem is active.
Now our CMake build system generates a .setreg file(`cmake_dependencies.<project>.assetprocessor.setreg`) that will add the `/O3DE/Gems<GemN

[2022-04-13 21:29] VickyAtAZ commented on #8903
The development branch should be updated to have change in commit 553ca7a59434165624dbe5125d871f917b5603d6

[2022-04-13 22:13] AMZN-mnaumov commented on #8357
This happens because SpawnTicket gets cleaned up by Lua after some arbitrary time. When the ticket gets destroyed, SpawnableAPI will despawn anything associated with this ticket.

The solution is you need to create EntitySpawnTicket variable and cache this ticket.
![image](https://user-images.githubusercontent.com/82239319/163278300-49e10f82-769f-4f82-a94d-2068c8ce6fa5.png)

This can be done in ei

[2022-04-13 22:17] michleza opened #8907 "Feature Request: Trouble shooting FBX motions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-13 22:20] michleza opened #8908 "Feature Request: Motion component adding other components and default properties are unclear"
**Is your feature request related to a problem? Please describe.**
1. When user draft and drop the fbx with simple motion on it, the property window auto added a bunch of components (multiple mesh components, and actor component), and those components weren't activated by default, and the assets field were empty. 2. User had to manually remove some of the components, and manually assign the mesh a

[2022-04-13 23:41] srikappa-amzn commented on #8902
Ran into the same failure. Attached the lo
[AR_failure_log_Branch_Prefab-SimplifyDeleteEntitiesAPI.txt](https://github.com/o3de/o3de/files/8485243/AR_failure_log_Branch_Prefab-SimplifyDeleteEntitiesAPI.txt)
g

[2022-04-13 23:45] micronAMZN opened #8909 "Feature Request: Improve visibility of multiple Meshes, Motions, Actors, Physxmeshes, in Scene Settings"
In the evaluation of the Actor pipeline, the user had issues discerning that there was more that one Motion group in the Scene Settings interface. This is because each Motion (applies to Meshes, Actors, and Physxmeshes as well) is in a borderless, collapsible group. When multiple groups are created, they tend to just merge together visually because the UI is so flat.

The simple solution, add a hi

[2022-04-13 23:56] micronAMZN opened #8911 "Update button in Scene Settings needs to be a primary (blue) button when active."
From Actor Workflow Evaluation. It wasn't clear to the user he needed to press the Update button after making changes in Scene Settings.

The Update button in Scene Settings is deactivated until the user makes a change to the settings. When a change is made, the button becomes active, but because it is a secondary button, it is still gray. This should be a primary button (blue) to better notify th

[2022-04-14 01:27] micronAMZN opened #8914 "Scene Settings UX very confusing on Update/Exit"
When using the Scene Settings tool the last two things the user does are:

1. Click the **Update** button
2. Exit **Scene Settings**.

The UX here is *VERY* confusing.

* When the user clicks **Update**, the `.assetinfo` file is generated or updated. Then, a black overlay appears on the **Scene Settings** interface with the message "Close the processing report to continue editing settings."
* At t

[2022-04-14 01:50] micronAMZN opened #8915 "Feature Request: Better indication Asset is Processing from Scene Settings/Editor and when there is an error."
During the Character Workflow Review, there were errors in processing an FBX asset. It wasn't clear to the user that the asset was being processed or that there was an error.

Related: #8914

After making changes in Scene Settings and clicking **Update**, the `.assetinfo` is updated, the asset begins processing and a file progress window opens that shows no useful information. In Asset Browser, an

[2022-04-14 02:28] micronAMZN opened #8916 "Asset Pipeline and Scene Settings need to be "smarter" about analyzing/processing scene files."
Note, although it is possible to get rigged/animated assets through the Asset Pipeline using Scene Settings, users, including those in the character workflow review, have had so many issues understanding and getting the simplest actor/animation assets imported, that the team wants this issue reported as a **Bug** and classified as a **Blocker**.

There are so many issues here we cannot isolate any

[2022-04-14 06:36] santorac commented on #8903
That commit on affects the processing of "_thickness" texture maps. 102_detailmaps_all.material does not use any textures with that preset mask, so it should not be affected by those changes.

I opened 102_detailmaps_all.material in the Material Editor, and checked out the image that's being used as the detail layer mask. See how the bottom half is black?
![image](https://user-images.githubusercon

[2022-04-14 06:39] santorac commented on #8903
My AP shows this error for Hermanubis_ao.tif:
[code]

[2022-04-14 06:49] santorac commented on #8903
I suspect the problem was introduced with this PR that added average-color calculation to the image asset processing pipeline: https://github.com/o3de/o3de/pull/7687/files#diff-1e94079bd536962c43b7f4c9ef315d7c186c38d669f47e5c6e0acdc536b06998

[2022-04-14 07:52] LB-HubertUberman commented on #8714
Hello @hultonha,
Thank you for clarification. We apologize for any inconvenience and we will make sure this does not happen again.

[2022-04-14 08:23] hultonha commented on #8714
No worries at all @LB-HubertUberman, I apologize this wasn't communicated clearly before, thanks for your understanding! Cheers 🙂

[2022-04-14 11:15] LB-ArturZieba opened #8919 "Launching Game Mode very quickly after saving a change in a .scriptcanvas asset assigned to a Script Canvas component inconsistently causes the Editor to crash"
**Describe the bug**
If a .scriptcanvas asset, that is assigned to a Script Canvas component on an entity, is modified, saved and Game Mode is entered very quickly after it, it can cause the Editor to crash. It should be noted that this issue is very inconsistent when attempting to reproduce it, but it was confirmed on two different PCs at least twice. It should also be noted that we suspect that

[2022-04-14 11:24] LB-TomaszSerwanski opened #8920 "Modifications made to the Material Instance are not visible in GameLauncher"
**Describe the bug**
Any changes made to the Material Instance are only visible in the Editor. When launching the level in the GameLauncher, all the materials instances are set to default.

Please refer to the attached video for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new, default level.
2. Add a _Material_ component to the _Shader Ball_ entity.
3. Click

[2022-04-14 11:54] LB-ArturZieba commented on #8919
After using the Editor longer today, the issue reoccurred naturally as using the engine and an additional assert was found when inspecting the Editor.log after the crash:
File:
[code]
Condition:
[code]
Line: 137

End of the Editor.log after the crash:
[code]

[2022-04-14 12:17] LB-TomaszSerwanski opened #8921 "The Editor crashes occasionally when spawning a Prefab which contains a Script Canvas graph which was recently modified"
**Describe the bug**
Editing a Script Canvas graph which is attached to a Prefab entity may crash the Editor when attempting to spawn that Prefab via Script Canvas.

If the Editor is restarted after modifying the Script, the crash does not occur.

Please note that the issue has a low reproduction rate and seems to only occur on certain Script Canvas graphs.

Please refer to the attached log files

[2022-04-14 12:54] RoaldFre commented on #8903
The error in AP for that file also seems to occur in 6dc665e6a7, which is the development branch parent of the latest development merge in the feature branch of PR #7687, so it seems like the problem already existed in the dev branch before PR #7687 was merged in?

[2022-04-14 13:19] Hsuehnj commented on #8690
In Gems\ScriptCanvas\Assets\TranslationAssets\Types\OnDemandReflectedTypes.names, there is typeid of it:
{
         "typeid": "{046E08E1-D526-50F6-8EB8-5119B62F083F}",
           "details": {
                          "name": "Iterator_VM<AZStd::vector<EntityId, allocator>>"
            }
 }

If I create a Script Event with param type Iterator_VM<AZStd::vector<EntityId, allocator>>, which type of

[2022-04-14 13:46] LB-RostyslavGavryliuk commented on #7111
@amzn-changml After installing the the DEB package downloaded from https://o3debinaries.org/development/Latest/Linux/O3DE_latest.deb I did get the sub-process error just like in the original issue. While having the o3de package installed error popped up while installing anything using `sudo apt install` or updating via GUI. However while uninstalling o3de using `sudo apt remove o3de` no errors wer

[2022-04-14 14:45] shawstar commented on #8908
When dragging and Asset Browser FBX into the scene or Dragging an FBX into the Entity Outliner you will get Many Components in the Entity Inspector. You will need to Delete unwanted Components and even reload a mesh asset on the Component you would like. Suggestion would be to Ask which FBX node relevant you would like to add as an Entity.
![image](https://user-images.githubusercontent.com/8720760

[2022-04-14 15:15] shawstar opened #8923 "FBX Settings will not always hot reload FBX motions properly."
**Describe the bug**
FBX Settings will not always hot reload FBX motions properly.
When previewing an Entity with an Actor component and a Simple Motion Component with a active Motion file in a Looping motion. For example a walking cycle animation. Changing the FBX Settings under the Motions tap, or even the Skin Weights variables will Stop the Simple Motion Component, and animations will stop. Th

[2022-04-14 17:24] AMZN-daimini commented on #8891
As far as I know, MPS uses the same setup as the main O3DE branch (where main is the latest release). As such I'm sending this to release for discussion.

[2022-04-14 17:27] AMZN-daimini commented on #8868
This should probably be turned into a discussion :)

[2022-04-14 17:37] lmbr-pip commented on #8351
@NiklasHenricson - Did @lumberyard-employee-dm  response answer your questions?

[2022-04-14 17:40] santorac commented on #8903
@VickyAtAZ is looking into this, suspects it's related to https://github.com/o3de/o3de/commit/a351ba40a3df166dcf4ec53b725fcbe955f4621d

[2022-04-14 17:41] lmbr-pip commented on #8862
Second reported issue with final player leaving is by design.

[2022-04-14 17:42] lmbr-pip commented on #8862
Accepted as major, could raise to critical based on investigation

[2022-04-14 17:45] AMZN-Gene commented on #8872
It's working in AutomatedTesting. Need someone to test in MPS... doesn't seem like MPS would render anything differently.

[2022-04-14 17:46] lmbr-pip commented on #8872
Needs server log, need to load in with a map to get console to work.

@AMZN-Gene - This appears to work in AutomatedTesting ServerLauncher on Linux, even without a map.

Need to identify the difference and potential help from sig-graphics-audio

[2022-04-14 17:49] lmbr-pip commented on #8891
SIG-network will add something to project README.md to cover setup

Branch naming is owned by release/build, so will defer issue to the wider org.

[2022-04-14 18:39] srikappa-amzn commented on #8914
@o3de/sig-ui-ux , can you review the requirements here and provide guidance?

[2022-04-14 18:41] srikappa-amzn commented on #8911
@o3de/sig-ui-ux , please provide guidance on whether this can be accepted.

[2022-04-14 18:43] #8158 closed

[2022-04-14 18:49] srikappa-amzn commented on #8659
Closing for a lack of response. Please feel free to reopen after answering the previous question.

[2022-04-14 18:49] #8659 closed

[2022-04-14 19:01] srikappa-amzn commented on #8815
@dm-amzn , can you add more details on what the issue exactly is?

[2022-04-14 19:09] jckand-amzn opened #8930 "Dyn_Veg_TQO_Bug: Dynamic Slice is still the default Instance Spawner type for Vegetation Asset List component"
**Describe the bug**
Dynamic Slice is still the default Instance Spawner type for Vegetation Asset List component.

**Steps to reproduce**
1. Create a new entity, and add a Vegetation Layer Spawner, Vegetation Asset List, and Box Shape component.
2. Observe the default settings on the Vegetation Asset List component.

**Expected behavior**
Prefab is the default Instance Spawner type.

**Actual beh

[2022-04-14 19:29] AMZN-Olex commented on #8870
Note, by default a dedicated server closes itself when the last player disconnect. Try setting sv_isTransient to false, otherwise dedicated server stops hosting when the last player leaves.

[code]

[2022-04-14 19:43] amzn-leenguy commented on #8911
@micronAMZN Any chance you could provide a video recording of this workflow?

[2022-04-14 19:46] amzn-leenguy commented on #8911
From what Im reading in the description though; we do have a inactive state for primary buttons (blue). Image reference attached below from our design library:
![buttons](https://user-images.githubusercontent.com/82846749/163464731-0d445cc2-1e42-4523-8168-67b28156897c.png)

[2022-04-14 19:46] jckand-amzn opened #8931 "Dyn_Veg_TQO_Bug: Landscape Canvas Groups draw over and do not properly collapse grouped nodes on graph reopen"
**Describe the bug**
Landscape Canvas Groups draw over and do not properly collapse grouped nodes on graph reopen.

**Steps to reproduce**
1. Open Landscape Canvas.
2. Drag a few nodes to the graph area.
3. Select all added nodes, and right-click the graph area, and select Group
4. Double-click to collapse/expand the new grouped nodes.
5. Close and reopen the graph.
6. Double-click to collapse/exp

[2022-04-14 20:12] AMZN-daimini opened #8932 "Dyn_Veg_TQO_Bug - Landscape Canvas nodes labels are shown as invalid text"
**Describe the bug**
When creating a new Landscape Canvas asset, nodes dragged from the palette show an invalid title label.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level
2. Open the Landscape Canvas tool
3. Create a new Asset
4. Drag nodes from the palette to the graph viewport

**Expected behavior**
The nodes have correct labels

**Actual behavior**
Labels are sh

[2022-04-14 20:22] AMZN-daimini opened #8933 "Dyn_Veg_TQO_Bug - Landscape Canvas drag menu displays invalid nodes"
**Describe the bug**
When dragging an output from a Landscape Canvas node, the menu shows the whole palette and not just nodes that accept that type as input. When selecting some nodes, the selection results in no operation (the node isn't added to the canvas at all).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a graph in the Landscape Canvas
2. Add a node (in this example, Ra

[2022-04-14 20:51] AMZN-daimini commented on #8932
Discussed with @cgalvan , sounds like this only reproduces in Debug (which is how I built the branch)

[2022-04-14 20:51] cgalvan commented on #4872
Re-opening this issue. Please note, it only occurs in Debug mode.

[2022-04-14 20:52] cgalvan commented on #8932
Duplicated by https://github.com/o3de/o3de/issues/4872

[2022-04-14 20:52] #8932 closed

[2022-04-14 20:53] jckand-amzn opened #8934 "Terrain_TQO_Bug: Editor crashes on adding an Axis Aligned Box Shape component to a Terrain Spawner setup"
**Describe the bug**
Editor crashes on adding an Axis Aligned Box Shape component to a Terrain Spawner setup.

**Prerequisites**
1. Terrain Gem is enabled for the current project.

**Steps to reproduce**
1. Open a new or existing level in the Editor.
3. Click on the root Level entity, and add the Terrain World, Terrain World Renderer, and Terrain Debugging level components.
4. Create a new entity.

[2022-04-14 20:54] jckand-amzn commented on #8934
This does not occur if the Axis Aligned Bounding Box component is added to the entity first.

[2022-04-14 21:08] mbalfour-amzn opened #8935 "Terrain_TQO_Bug: Terrain spawners leave behind mesh remnants when moving around"
**Describe the bug**
When a level contains a terrain spawner that is moved around, it can leave behind remnants that aren't updated correctly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level
2. Add the Terrain World and Terrain World Renderer components
3. Create a new entity at (128,128,50) with an Axis Aligned Box Shape of (256,256,100), a Terrain Layer Spawner, an

[2022-04-14 21:20] jckand-amzn opened #8936 "Terrain_TQO_Bug: Editor can crash when moving Terrain Layer Spawner setups"
**Describe the bug**
Editor can crash when moving Terrain Layer Spawner setups. NOTE: This has not been solidly reproduced.

**Prerequisites**
1. Terrain Gem is enabled for the current project.

**Steps to reproduce**
1. Open a new or existing level in the Editor.
3. Click on the root Level entity, and add the Terrain World, Terrain World Renderer, and Terrain Debugging level components.
4. Create

[2022-04-14 21:37] cgalvan opened #8937 "Terrain_TQO_Bug: Visual glitch with the PhysX Heightfield Collider"
**Describe the bug**
There is a flashing visual glitch when drawing the PhysX Heightfield collider.

**Steps to reproduce**

1. Setup a simple physicalized terrain setup following these instructions:
  https://o3de.org/docs/user-guide/components/reference/physx/collider/
2. Make sure your entity has both a Terrain Physics Heightfield Collider and PhysX Heightfield Collider
3. Enable the "Draw coll

[2022-04-14 22:18] jckand-amzn commented on #4919
This is reoccurring in latest stabilization installer.

[2022-04-14 23:32] jckand-amzn commented on #4919
Closing this back out in favor of newly logged #8935 .

[2022-04-14 23:32] #4919 closed

[2022-04-14 23:54] lmbr-pip commented on #8902
@AMZN-Gene - Any thoughts here?

[2022-04-14 23:59] santorac opened #8939 "AtomSampleViewer Test Suite Device Lost On Vulkan"
**Describe the bug**
When running AtomSampleViewer full test suite on vulkan, the application often crashes with message "ASSERT: Vulkan API method failed: Device lost"

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run AtomSampleViewer using "-rhi=vulkan".
2. Run the \_fulltestsuite\_.bv.lua script

**Expected behavior**
The test completes and shows a test results dialog.

**Actual b

[2022-04-15 00:08] AMZN-Gene commented on #8902
I see Multiplayer Input failed, but where can I find the log output of what condition failed?

[2022-04-15 00:10] AMZN-Gene commented on #8902
Thanks @srikappa-amzn for the log. This is actually different from the previous flakiness. Exciting!
The editor has actually connected to the server, but this time failed to send all the level data. Interesting...

[FAILED ] Failure: Failed to find expected line: Logger: Editor Server completed receiving the editor's level assets, responding to Editor...

[2022-04-15 00:48] michleza commented on #8055
Alternative repro:
1 - Add an on entity activated node
2 - Right click the input entity slot and select 'Convert to Reference'
3 - Right click the input entity slot and select 'Convert to Value'
4 - Right click the input entity slot and select 'Reset Value'
5 - Save the file
6 - Reopen file.

[2022-04-15 01:23] macy12825 opened #8942 "AP compile assets report error"
The same asset name (different suffix) under Scanfolder cannot coexist, and an error is reported when compiling
![image](https://user-images.githubusercontent.com/97455291/163503001-76b73ab2-d772-4739-98dd-8c457fd94b6a.png)
![image](https://user-images.githubusercontent.com/97455291/163503077-c165362b-d1ba-4b11-9557-58dd2389983f.png)

[2022-04-15 01:45] macy12825 opened #8943 "Windows Asset Processor Rename Issues"
The problem of renaming assets on windows platform is as follows：
win platform（16core32g）
![image](https://user-images.githubusercontent.com/97455291/163504712-df8bc7b4-4a0b-4b2a-9e83-a50c1f7a0059.png)

[2022-04-15 02:09] macy12825 opened #8944 "Connection negotiation failed"
When the new SDK is opened for the first time, an error is reported when the compiled project built with the old SDK is used.
![image](https://user-images.githubusercontent.com/97455291/163506626-4b53f3ff-8a81-475d-9ae2-5c6b7c403fcf.png)

[2022-04-15 12:29] LB-JakubSkoczylas opened #8947 "Adding a second Directional Light disables shadows"
**Describe the bug**
Placing an entity with another Directional Light Component disables all shadows in the Viewport. The shadows remain in the Game Mode.
After the second Directional Light is removed and the editor is refreshed (e.g. enter and exit the Game Mode), the shadows are displayed correctly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Make sure the

[2022-04-15 13:57] amzn-mike commented on #8942
Hi @macy12825, this is actually intentional behavior to alert the user of a problem.  Both gltf and fbx are scene file types processed by the same builder with the same outputs.  In this case, as indicated by the error message, cube123456_lod0_index.azbuffer is a file that is output by both of those inputs.  AP is reporting this as a failure since there can only be 1 file with that name at that pa

[2022-04-15 13:57] #8942 closed

[2022-04-15 15:04] lmbr-pip commented on #8943
@macy12825 To be clear, your expectation is that Windows should be case insensitive by default?

Can you also provide branch and commit information, or installer information?

[2022-04-15 15:11] lmbr-pip commented on #8944
@macy12825 Can you provide your expectation here? Also please provide branch+commit or installer information so we can track which version of O3DE this is.

Can you provide your steps to repro as well?

[2022-04-15 16:03] lmbr-pip commented on #8914
Need to break down feature into a number of tasks as this is potentially a large amount of work. Currently this is "working as designed" but is confusing, so would be interested in ui-ux suggestions in this space.

[2022-04-15 16:18] amzn-leenguy commented on #8914
I'd like to see a video of the workflow if possible @micronAMZN . Or if you could visit our office hours, we may be able to give better guidance.

[2022-04-15 16:31] rainbj commented on #8886
UX will help track which locations need to be updated.

[2022-04-15 16:33] lmbr-pip commented on #8608
Believe this is fixed by https://github.com/o3de/o3de/issues/8732

[2022-04-15 16:38] AMZN-Gene commented on #8828
When you build Automated testing using Project Manager, the build folder is generated under AutomatedTesting/build

[2022-04-15 16:40] AMZN-Gene commented on #8828
Assigning to @Kadino. Let me know if you have any questions

[2022-04-15 16:48] AMZN-Gene commented on #8891
Thank you for discussing. Anytime someone needs to translate there's possibility for information loss. Example: translating that "main" branch means using "engine release Nov 2021". My suggestion would be to name project branches to match the release name. Example: branch name = "Stable 21.11 Release", then there is no confusion

[2022-04-15 16:49] AMZN-Gene commented on #8872
attached server.log to my last comment

[2022-04-15 16:52] rainbj commented on #4994
@AMZN-daimini and @cgalvan. It appears tags system is missing some core details from the QT system. Typing should use autocomplete dropdown. Confirmed tags should be added as a separate row below the current input field. Same as filter for outliner. Example = [title  x] .

Can we find a way to use these two QT components as a new component to make a tagging system that is universal?

[2022-04-15 17:02] lumberyard-employee-dm commented on #8608
No that change has not.
@junbo75 is cherry-picking it in PR https://github.com/o3de/o3de/pull/8949#pullrequestreview-943557411

[2022-04-15 18:26] AMZN-scspaldi commented on #7893
8444 has finally been merged, the logging should be sufficient to resolve this if it crops up again.

[2022-04-15 18:26] #7893 closed

[2022-04-15 18:32] #6383 closed

[2022-04-15 19:00] shawstar opened #8953 "Issue moving a Project to another Build of o3de engine. Project JSON needs manual adjustment."
**Describe the bug**
Moving a Project to another Build of o3de engine, there are no Project Manager menu items to update the Projects first assigned engine, only a over all engine, This will cause build errors building the project and also project not being able to launch.

The Project.json must be manually adjusted for the project to build and load properly.

Please see an example, this illustrat

[2022-04-15 19:11] AMZN-Gene commented on #8537
@Kadino the example provided TestSuite_Main.py::TestAutomation uses EditorSingleTest

[2022-04-15 19:14] AMZN-Gene commented on #8407
Heads up @Ulrick28, another customer was burned by this recently when they couldn't run a Multiplayer simulation because they forgot to build the Server. With this implemented, the customer won't need to use a commandline for their daily development :D

[2022-04-15 19:17] AMZN-alexpete opened #8954 "Editor crash when re-adding bounding box for terrain"
**Describe the bug**
The editor crashed with the callstack below when I  re-added a missing bounding box component after removing the bounding box and gradient components from an entity that also had a terrain layer generator component on it.

`inPositions/m_data` was nullptr  with size 0 in `::MakeBulkQueries`

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add a terrain layer

[2022-04-15 19:49] michabr opened #8956 "Newly created level is marked as changed when entering Ctrl+G mode"
An unedited new level is marked as being edited when pressing Ctrl+G, and attempting to exit without saving pops up the "Unsaved files detected" dialog box.

Steps to reproduce the behavior:
1. Launch editor
2. Click on File/New Level, enter a level name and click OK
3. Press Ctrl+G to go into game mode
4. Note the level prefab name above the viewport now has a star appended to it to indicate chan

[2022-04-15 20:06] rainbj commented on #4994
Put together some of our previous ideas around using tags. Not saying we need all the layers in this design document but a direction we can head towards. Most importantly. As we start to use tags all over the editor we would like a QT component that is the main control we recommend people to use. https://www.figma.com/file/UjT2A15cdpwF4to78lOPT0/Tags?node-id=1%3A639

[2022-04-15 20:25] AMZN-alexpete commented on #8954
Cannot repro in latest dev

[2022-04-15 20:25] #8954 closed

[2022-04-15 20:28] jckand-amzn opened #8957 "Prefabs: Reparenting a prefab to another prefab requires 2 attempts"
**Describe the bug**
Reparenting a prefab to another prefab requires 2 attempts. The first attempt unparents the child prefab from the root prefab. If the level is saved in this state, it can cause issues with Editor deadlocking on attempting another reparent, and can leave the parent/child prefab in a strange visual state.

**Steps to reproduce**
1. Create a new entity, and create a prefab out of

[2022-04-15 20:29] smurly commented on #8142
no further reports of this and no indication that it reproduces

[2022-04-15 20:29] #8142 closed

[2022-04-15 20:50] jckand-amzn opened #8958 "Prefabs: Failing to despawn a spawnable results in spawned entity remaining in world with no way to interact"
**Describe the bug**
Failing to despawn a spawnable results in spawned entity remaining in world with no way to interact. This persists through other levels loaded in the Editor until the Editor is restarted.

**Steps to reproduce**
1. Create a new entity, and add a Mesh component and any valid mesh asset to it.
2. Create a prefab from the entity.
3. Create another new entity with a Script Canvas

[2022-04-15 20:57] cgalvan commented on #4994
@hultonha  Do you know the other GHI issues for this? I was able to repro, it does seem isolated to only certain input fields, so it might be an attribute they are using. I think there are two concerns at play here:

1. There is definitely a bug where the input field is losing focus after typing a single character. We need to fix this first.
2. Looks like @rainbj has some great ideas to improve th

[2022-04-15 21:18] michabr opened #8959 "Error undoing second prefab instantiation"
An error appears in the console when undoing a second instantiation of the same prefab.

**Steps to reproduce**
1. Create a new level
2. Right click in an empty area of the Entity Outliner and click "Instantiate Prefab..."
3. Select a .prefab file from the asset picker (ex. Bush.prefab from AutomatedTesting project)
4. Repeat again to instantiate a second Bush.prefab
5. Press undo a few times unti

[2022-04-15 21:28] shawstar opened #8960 "Feature Request - Support for Maya 2023 FBX SDK 2020.3 Release (1b46fcc54)"
**Is your feature request related to a problem? Please describe.**
Support for Maya 2023 FBX SDK 2020.3 Release (1b46fcc54), This seems not be detected by the AP and is a dead file that can not be placed in the scene when its imported.

**Describe the solution you'd like**
Support for Maya 2023s new FBX SDK

**Describe alternatives you've considered**
You can downgrade the SDK to FBX SDK 2020.0, b

[2022-04-15 21:44] lmbr-pip commented on #8914
Removed the kind/bug as this is really a request to improve this feature (and as called out it will be delivered as a number of tasks that incrementally improve the experience).

[2022-04-15 21:48] robhaco commented on #8953
Dug into this a bit to get some clarity:
Project's project.json is not updated with a new engine value when added as an existing project through Project Manager.  If the user then builds the project while the old engine is still around, they will likely not see an issue, though it will be secretly using the old engine, and not the one that o3de.exe was launched from.  If they try to build an added

[2022-04-15 22:08] AMZN-mnaumov opened #8961 "UI Editor: Ctrl+D does not work"
**Describe the bug**
Ctrl+D does not duplicate UI elements, while same shortcut works in Entity Outliner. Similarly Ctrl+C/Ctrl+V works in UI Editor, but not in Entity Outliner.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI Editor, create new canvas
2. Create new element
3. Select and hit Ctrl+D

**Expected behavior**
Element should be duplicated like it does in Entity Outlin

[2022-04-15 22:11] AMZN-mnaumov opened #8962 "UI Editor: Scale(4) and Anchor(5) shortcuts aren't working.Bug Report"
**Describe the bug**
Pressing 4 or 5 on keyboard does not select scaling or anchoring action, while it says so on tooltip
![image](https://user-images.githubusercontent.com/82239319/163648417-b9ada665-2ebc-447d-937a-b1bd2be7203b.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI Editor
2. Hit 1,2,3 - these shortcuts work
3. Hit 4,5 - these don't

**Expected behavior**
All sho

[2022-04-15 22:13] adamarjian1 opened #8969 "Multiplayer CreateInput Never Called in ScriptCanvas"
**Describe the bug**
I am currently using the Multisample project. Project builds fine.

I create the attached scriptcanvas script and attach it to a network prefab. Within the script I am checking for network create and process inputs, but they never getting called.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the multiplayersample file
2. Create a network Prefab
3. Add a scr

[2022-04-15 22:14] AMZN-mnaumov opened #8963 "UI Editor: Transform2D → Scale to Device isn't doing anything"
**Describe the bug**
I am not sure if this is a bug, but worth investigating.
Transform2D → Scale to Device isn't doing anything regardless of option selected. Also the tooltip mentions "scales the element and all its children", however children never get scaled when changing scale of parent transform.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI Editor
2. Create new image e

[2022-04-15 22:16] AMZN-mnaumov opened #8964 "UI Editor: Text component needs multiline input"
**Is your feature request related to a problem? Please describe.**
Text component needs multiline input. At the moment it's possible to add new line with '\n' character, but the input textbox is tiny and does not allow for bigger input.
![image](https://user-images.githubusercontent.com/82239319/163648713-f712c90b-6540-4f32-b24a-34bce8e51dec.png)

**Describe the solution you'd like**
A clear and c

[2022-04-15 22:19] AMZN-mnaumov opened #8965 "UI Editor: Scaling an element with TextComponent with enabled wrap mode below the minimal limit throws an exception"
**Describe the bug**
Scaling an element with TextComponent with enabled wrap mode below the minimal limit throws an exception.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI Editor
2. Create a Text element
3. Add some long text
4. Enable word wrap
5. Try scaling it below what's possible to fit in element content

**Expected behavior**
Scaling is locked, no errors happen

**Act

[2022-04-15 22:23] michabr opened #8966 ""Create Entity" context menu disappears"
After creating a new entity by right clicking on the viewport, the "Create Entity" menu option no longer appears on the context menu when right clicking on an entity in the Entity Outliner .

**Steps to reproduce**
1. Create a new level
2. Right click on the viewport and select Create entity
3. Notice the new entity is automatically parented to the "Ground" entity
4. Right click on the entities in

[2022-04-15 22:35] michabr opened #8968 "Warning in console when creating a prefab from the Entity Outliner"
**Describe the bug**
When an entity is turned into a prefab in the editor, a warning is output to the console:

[Warning] (Prefabs) - Prefab - EntityIdMapper: Entity with Id [10041142070320831894] has no registered owning instance

**Steps to reproduce**
1. Create a new level
2. Right click in the entity outliner and select "Create entity"
3. Select the new entity, right click and select "Create p

[2022-04-15 22:38] micronAMZN commented on #8914
I disagree with this assessment. I think this is a usability bug. Here the user is presented with a black box, a white box, a button labeled "OK", and instructed to close the processing report when nothing on the screen is labeled "processing report". The tool is providing no useful information, forcing the user to intuit what action to take and close a window that has no function.

[2022-04-15 22:50] yuyihsu commented on #8914
@lmbr-pip @micronAMZN , Suggest we address the issue in two steps:
1. In short-term, we should fix the usability bug as @micronAMZN mentioned above. The second image above showed the problem clearly. The message is written in a reversed way, with the "Discard" button set as the primary color, which will lead the user to click on it, and in turn their changes will not be saved. We should write the

[2022-04-15 23:11] NicholasVanSickle commented on #8958
SpawnTickets in SC don't seem to despawn when they're unreferenced, either (contrary to the RAII semantics of their C++ types). I have a graph that has a container of SpawnTickets, e.g. here:
![image](https://user-images.githubusercontent.com/760096/163651476-dd919482-bc03-435f-83cc-8aa249475796.png)
I would expect erasing the ticket from a container (the only reference to the ticket) to trigger a

[2022-04-15 23:18] Kadino commented on #8828
I am not currently looking into this. SIG-Testing does not maintain the way CMake configuration is invoked by ProjectManager, though I could see an argument for us claiming the top-level definition of the AutomatedTesting project CMakeLists.txt.

[2022-04-15 23:30] NicholasVanSickle opened #8972 "Prefab patch application fails after instantiating a procprefab"
**Describe the bug**
After instantiating a procedural prefab generated from an FBX and selecting it, I see a bunch of patch application error spam in the console, though nothing seems to be broken by this (perhaps something with an attempt to update a read-only sort component?).
![image](https://user-images.githubusercontent.com/760096/163652243-ae4ca3ae-69b0-43c7-aa6b-65853b3ee54f.png)

**Steps t

[2022-04-15 23:35] NicholasVanSickle opened #8973 "SpawnableAsset shows up in ScriptCanvas node list"
**Describe the bug**
There's two "SpawnableAsset" nodes named "m_asset" that don't seem like they should be exposed in ScriptCanvas

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open or create a ScriptCanvas document
2. Search for "m_asset"

**Expected behavior**
No developer style member variable named nodes show up.

**Actual behavior**
Two 'm_asset' nodes appear

**Assets required

[2022-04-15 23:39] NicholasVanSickle opened #8974 "Improve SpawnableAsset ScriptCanvas usage"
**Is your feature request related to a problem? Please describe.**
Currently "SpawnableAsset" gets connected to a "Prefab" pin for spawning, which is a bit confusing:
![image](https://user-images.githubusercontent.com/760096/163652669-a16d9280-89c1-45cd-a5db-bfba95f7a758.png)
Additionally, when you add a SpawnableAsset variable, you have to expand a field named after the variable to reveal an opaq

[2022-04-16 00:22] #8903 closed

[2022-04-16 01:06] Kadino opened #8975 "CTest parallel has significantly diminishing returns"
**Is your feature request related to a problem? Please describe.**
The end-to-end time it takes to run CTest on a local windows machine varies by over 12% as the number of parallel jobs increases. Currently the optimal amount appears to be around 8 (on one 32 core machine). Using fewer jobs speeds up the time to run all main+smoke tests by over four minutes.

**Describe the solution you'd like**
A

[2022-04-16 08:21] xiapeng78 opened #8976 "Need one event API to send disconnect message when player close game window."
**Is your feature request related to a problem? Please describe.**
For MultiplayerSample project, there is one problem:
1. Run MultiplayerSample.ServerLauncher.exe process
2. Run MultiplayerSample.GameLauncher.exe process as player A, player A connect to server
3. Close player A game window by click 'X' button on window, the MultiplayerSample.GameLauncher.exe process exits
4. But the server side c

[2022-04-16 09:41] macy12825 commented on #8943
Any branch has this problem under the win platform.

[2022-04-16 11:05] Hsuehnj opened #8977 "Script Canvas: issue about float data precision"
**Describe the bug**
Set params value of an Script API, such as  -60.1111239 and 5000000000000.0, use "Print" node to print the param value, the output value is -60.1111221 and 4999999913984.0000000.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Script Canvas Editor'
2. Create a script, drag "From Values" to create Vector2, drag "Print" to print the value of Vector2
x:-60.1111

[2022-04-17 02:04] AMZN-Gene commented on #8407
Turns out the ServerLauncher is just always available as a build target, even when users don't use MultiplayerGem. How about we just build Editor, Game, and Server just by default since these 3 are always an available option.
PR: https://github.com/o3de/o3de/pull/8979

[2022-04-18 03:03] ACGDreamer opened #8981 "Add the DisplayMapper component and modify some parameters. After the DisplayMapper component is deleted, the modification effect still remains."
**Describe the bug**
Add the DisplayMapper component and modify some parameters. After the DisplayMapper component is deleted, the modification effect still remains.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add the DisplayMapper component
2. Modify some parameters
3. Delete the DisplayMapper component
5. Now, we see that modification effect still remains

**Desktop/Device (pleas

[2022-04-18 04:49] KK-5 opened #8982 "Feature Request: Need some API to get original material data"
**Is your feature request related to a problem? Please describe.**
I find that there are only  API for getting material's override data like GetPropertyOverride, no API for original material data. If I don't edit the material property with Editor Material Instance, I can't get the value of that property.

**Describe the solution you'd like**
Provide API to get original material data.

**Describe a

[2022-04-18 07:45] Kadino commented on #8975
The file that currently controls the Jenkins default for CTest parallel jobs is:
* https://github.com/o3de/o3de/blob/development/cmake/UnitTest.cmake
and the files reading this setting and executing the command are:
* https://github.com/o3de/o3de/blob/development/scripts/build/Platform/Windows/test_windows.cmd
* https://github.com/o3de/o3de/blob/development/scripts/build/Platform/Linux/test_linux.

[2022-04-18 12:33] liukaikai-g opened #8983 "The color space of HDRi Skybox is incorrect"
**Describe the bug**
The color space of the HDRi Skybox looks different from the original image .

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a defaul scene
2. Find the HDRi Skybox in Global Sky
3. Open the image with other software like PS.
4. Compare two images

**Expected behavior**
The two images are identical.

**Actual behavior**
These two images are different.

**Assets

[2022-04-18 12:43] liukaikai-g opened #8984 "Edit materials for multiple entities with the same model at the same time"
**Is your feature request related to a problem? Please describe.**
I want to edit materials for multiple entities with the same model at the same time, however, the Material Component does not currently support this feature. When I select multiple entities, the Material Component shows that "Component cannot be editor with muliple entities selected"

**Describe the solution you'd like**
We can edi

[2022-04-18 16:02] AMZN-stankowi commented on #8313
Triage: We discussed this in our standup, this is something the asset pipeline group will look to. I confirmed with amzn-changml

[2022-04-18 16:10] #8313 closed

[2022-04-18 16:27] burelc-amzn commented on #6800
This is not limited to the OpenGL viewport only. The Node Graph and Timeline viewports also use OpenGL indirectly, via Qt, in order to accelerate the painting of those widgets. When I profiled it, it was a 10x performance hit to move back to non-hardware-accelerated painting.

[2022-04-18 16:33] AMZN-Gene commented on #8969
Posting chat conversation here with @carlitosan:
_We've got sort of a general problem with prefabs holding on to all Lua/SC assets. Lua has a band aid in dev, SC has a bandaid in PR. That should help. If the script is building, and not getting called at all, forcing a rebuild of the prefab/spawnable or a cache cleaning may be your only option, please document what you get in detail, we need data f

[2022-04-18 16:58] srikappa-amzn commented on #8357
Why does Lua clean up the SpawnTicket after a while ? Looks like this is a bug either from Lua or spawnable-integration with Lua. I'm reopening this so that we can fix that behavior where Lua destroys the spawn ticket without any explicit calls from user

[2022-04-18 17:18] junbo75 commented on #8872
I couldn't repro this issue using MultiplayerSample.ServerLauncher. @LB-JakubSkoczylas Could you check whether the Asset Processor has finished processing in the background?
I'm testing with o3de Stabilization/2205@201271c3 and o3de-multiplayersample Stabilization/2205@8dee2e5.
![image](https://user-images.githubusercontent.com/68558268/163845742-e745cdbe-0b25-44be-93ad-da91f09c3aef.png)

[2022-04-18 17:24] srikappa-amzn opened #8986 "UI Editor : Transform changes going to ui slice instead of its entities"
**Describe the bug**
When I try to move/rotate/scale an element within a ui slice, the parent gets the update. Not the child. If I modify the parent, I can update the child then

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI editor
2. Open a ui slice from the slice library or create a new slice
3. Click on any entity within the slice( except the root entity) and try to move/ro

[2022-04-18 18:09] lmbr-pip commented on #8872
@LB-JakubSkoczylas. Please confirm this is still an issue for you, otherwise will close as not reproducible (also likely that another issue resolved this). If this repros for you, please provide logs.

[2022-04-18 18:15] cgalvan commented on #8931
@cgalvan

[2022-04-18 18:46] mcphedar opened #8989 "Terrain_TQO_Bug: Visual glitch with the PhysX Heightfield Collider (long term fix)"
This is a bug related to #8937. In 8937 debug was turned off by default to as a work around. For this bug we need to address the z-fighting issues.

**Describe the bug**
There is a flashing visual glitch when drawing the PhysX Heightfield collider.

**Steps to reproduce**

1. Setup a simple physicalized terrain setup following these instructions: https://o3de.org/docs/user-guide/components/referen

[2022-04-18 18:57] Kadino opened #8992 "Level load readiness signal for testing"
**Is your feature request related to a problem? Please describe.**
The lack of a reliable level load / test-readiness signal results in most tests relying on blindly waiting for in hope that the level will idle. This can be seen in https://github.com/o3de/o3de/blob/6ed9dc74766af825a8b8a3972fbb76b6ffcc6d3d/AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/utils.py#L96

[2022-04-18 19:00] Kadino commented on #8874
This should replace the expectations-style code currently in util files, and notably not combine waits or negative assertions, such as: https://github.com/o3de/o3de/blob/6ed9dc74766af825a8b8a3972fbb76b6ffcc6d3d/AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/utils.py#L141

[2022-04-18 19:12] junbo75 commented on #7988
Just got a repro of the same issue in the stabilization branch with @AMZN-Gene. We may need to escalate the priority of this since the workaround for it is not obvious and it could mislead developers to debug into the networking connection when testing the editor server.

[2022-04-18 19:51] AMZN-Gene commented on #7988
Agreed, this is very visible. Every new users will learn the hard way that they need to click back in the editor after the server is launched.

[2022-04-18 19:57] #8407 closed

[2022-04-18 19:59] jckand-amzn opened #8994 "Prefabs: ScriptCanvas graphs created using the spawnables API before Lua integration changes no longer open"
**Describe the bug**
ScriptCanvas graphs using the spawnables API before Lua integration changes no longer open in the ScriptCanvas Editor. Opening the graphs requires manual changes to the ScriptCanvas JSON file. Even after the manual changes are made, the script may not run as expected, and can cause an Editor crash. This applies only to scripts created in development or stabilization after the

[2022-04-18 20:03] lmbr-pip commented on #6805
Security MD file delivered.

[2022-04-18 20:03] #6805 closed

[2022-04-18 20:11] lmbr-pip opened #8995 "Upgrade Pillow to version 9.0.1 or later."
**Describe the bug**
Pilliow 9.0.0 needs to be upgraded to For example:  Pillow>=9.0.1

See https://cve.report/CVE-2022-24303. CVE score rates this as critical so issue should be treated as such.

**Steps to reproduce**
Steps to reproduce the behavior:
1. https://github.com/o3de/o3de/blob/development/python/requirements.txt
2. See that Pillow is at 9.0.0

**Expected behavior**
* Patch known python

[2022-04-18 20:12] lmbr-pip commented on #8995
Believe testing owns these requirements.txt, so assigning to sig/testing

[2022-04-18 20:22] shawstar commented on #8916
I was able to unblock myself, then looked for Lumberyard best practices. These are they exact steps I used for unblocking. https://docs.aws.amazon.com/lumberyard/latest/userguide/best-practices-for-working-with-meshes-for-animations.html

'When All Else Fails, Read the Instructions.'

[2022-04-18 20:25] shawstar commented on #8916
I want to add to this doc, Blender best practices. So, will write up notes on that ASAP.

[2022-04-18 20:34] ParasiteSt opened #8996 "Project Manager Blank projects you are unable to delete."
**Describe the bug**
When following the steps you should reproduce an issue where your project stays in the Project manager even if the Remove Project, or Delete Project Buttons are pressed. If you try and go to the project directory location it brings you to the default C: drive.
**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Project Manager and create a new project
2. Delete th

[2022-04-18 23:14] jckand-amzn opened #9000 "Atom: Editor can crash on loading a level in Scene::PrepareRender"
**Describe the bug**
Editor can crash on loading a level in Scene::PrepareRender. This has occurred during automated test runs in development AR:

https://jenkins.build.o3de.org/blue/rest/organizations/jenkins/pipelines/O3DE/branches/development/runs/2171/nodes/82/steps/573/log/?start=0

[code]

**Steps to reproduce**
*NOTE*: Have not been able to reproduce this locally, even when running the same

[2022-04-19 00:17] lmbr-pip commented on #6033
Finally remembered to ask for TSC input. Expect to have update post 4/19 TSC meeting

[2022-04-19 09:11] moraaar commented on #7550
Issue fixed in stabilization by https://github.com/o3de/o3de/pull/8924

NOTE: The prefab asset might need to be deleted from cache folder before being reprocessed by Asset Processor.

[2022-04-19 09:11] #7550 closed

[2022-04-19 09:12] #6293 closed

[2022-04-19 10:58] LB-ArturZieba commented on #7550
Issue verified as fixed on Development (e106142) build, still occurs on Stabilization_2205 (201271c).

[2022-04-19 10:59] LB-ArturZieba commented on #4081
Issue verified as fixed on Development (e106142) build, still occurs on Stabilization_2205 (201271c).

[2022-04-19 11:51] LB-ArturZieba opened #9005 "Restarting the Editor unassigns prefab Script Canvas EntityId variables with Initial Value Source set as From Component pointing to entities outside of the prefab"
**Describe the bug**
If a prefab contains an entity, that has a Script Canvas component, and that component has a graph assigned with an EntityId variable, with its Initial Value Source set to "From Component", then restarting the Editor removes referenced entity if it's not inside the prefab itself. It should be noted that selecting an entity that is within the prefab, or assigning the Script Can

[2022-04-19 12:08] Hsuehnj opened #9006 "Prefab: Delete some entities directly under the Level root prefab throw Warnings/Errors"
**Describe the bug**
Create some entities directly under the Level root prefab then delete them, there is Warnings/Errors.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor.
2. Create a new level.
3. Create a new entity in the Outliner as a child of the Level prefab
4. Create another new entity in the Outliner as a child of the Level prefab
5. Delete the entities from t

[2022-04-19 12:12] KK-5 opened #9007 "lz4 1.9.3 is vulnerable according to NVD"
**Describe the bug**
According to NVD, lz4.lib has the following
[CVE-2021-3520](https://nvd.nist.gov/vuln/detail/CVE-2021-3520)
Now the latest version of LZ4 is 1.9.3, and they promise that 1.9.4 will fix this.
For details [issue](https://github.com/lz4/lz4/issues/1037)

**Steps to reproduce**
Access https://nvd.nist.gov/, and check CVE reports related to lz4.

**Expected behavior**
No CVE report

[2022-04-19 12:23] LB-RostyslavGavryliuk commented on #8608
Issue no longer occurs on latest Stabilization downloaded from https://o3debinaries.org/stabilization-2205/Latest/Linux/O3DE_latest.deb

[2022-04-19 12:23] #8608 closed

[2022-04-19 12:28] amzn-jillich commented on #8916
@shawstar the attached asset only contains a Maya file, can you please upload the .fbx from which you got that error?

[2022-04-19 12:48] liukaikai-g opened #9008 "lua 5.4.4 is vulnerable according to NVD"
**Describe the bug**
According to NVD, lua 5.4.4 has the following
[CVE-2022-28805](https://nvd.nist.gov/vuln/detail/CVE-2022-28805)

**Steps to reproduce**
Access https://nvd.nist.gov/, and check CVE reports related to lua 5.4.4.

**Expected behavior**
No CVE reportes or its base score is below 5.5.

**Actual behavior**
There are CVE reportes related to lua 5.4.4, and their base score are 9.1.

*

[2022-04-19 13:06] KK-5 opened #9009 "python 3.7.12 is vulnerable according to NVD"
**Describe the bug**
According to NVD, python 3.7.12 has the following
[CVE-2022-26488](https://nvd.nist.gov/vuln/detail/CVE-2022-26488)

**Steps to reproduce**
Access https://nvd.nist.gov/, and check CVE reports related to python 3.7.12.

**Expected behavior**
No CVE reportes or its base score is below 5.5.

**Actual behavior**
There are CVE reportes related to python 3.7.12, and their base score

[2022-04-19 13:35] KK-5 opened #9010 "OpenSSL 1.1.1l is vulnerable according to NVD"
**Describe the bug**
According to NVD, OpenSSL 1.1.1l has the following
[CVE-2022-0778](https://nvd.nist.gov/vuln/detail/CVE-2022-0778)
Upgrading to OpenSSL 1.1.1n version will solve the CVEs.

**Steps to reproduce**
Access https://nvd.nist.gov/, and check CVE reports related to OpenSSL 1.1.1l.

**Expected behavior**
No CVE reportes or its base score is below 5.5.

**Actual behavior**
There are CV

[2022-04-19 13:40] LB-RostyslavGavryliuk opened #9011 "[Linux] ".prefab already exists" warning appears under the "Save As..." dialog"
**Describe the bug**
The ".prefab already exists" warning is not placed on top of the "Save As..." prompt by default, making it hidden from the user.**Steps to reproduce**

Steps to reproduce the behavior:
1. Launch the Editor.
2. Create an Entity.
3. Create a Prefab from the Entity.
4. Attempt to create another Entity with the same name.
5. Observer the warning window rendered behind the File Man

[2022-04-19 13:48] liukaikai-g opened #9012 "zlib1.2.11 is vulnerable according to NVD"
**Describe the bug**
According to NVD, zlib1.2.11 has the following
[CVE-2018-25032](https://nvd.nist.gov/vuln/detail/CVE-2018-25032)
Upgrading to zlib1.2.12 version will solve the CVEs.

**Steps to reproduce**
Access https://nvd.nist.gov/, and check CVE reports related to zlib1.2.11.

**Expected behavior**
No CVE reportes or its base score is below 5.5.

**Actual behavior**
There are CVE reportes

[2022-04-19 13:59] hultonha commented on #6800
Thanks for the info @burelc-amzn, this might mean future work to remove OpenGL is more pressing... tagging @amzn-jillich and @amzn-rhhong for visibility

[2022-04-19 14:22] KK-5 opened #9013 "[Material] The 4th color map and normal map in the Wrinkle Layer will overwrite the first three textures"
**Describe the bug**
When used the  Wrinkle Layer in Skin ，I found that the 4th Base Color texture and Normal texture in the Wrinkle Layer will overwrite the first three textures

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Material Editor
2. Create a material of the Skin
3. Set the Number Of Layers in Wrinkle Layer to 4
4. Set all of the Base Color Maps and Normal Maps
5. See

[2022-04-19 14:28] hultonha commented on #4081
@chanmosq It might be worth merging this individual change to stabilization, though it might not be worth it (as this is a minor issue). Might be worth a quick investigation, as this change won't be auto-merged to stabilization (if the fix had been merged to stabilization then it would automatically have been brought back to development, something to keep in mind during stabilization windows that'

[2022-04-19 14:32] shawstar commented on #8916
[Sample.Asset_V2.zip](https://github.com/o3de/o3de/files/8513881/Sample.Asset_V2.zip)

[2022-04-19 14:33] shawstar commented on #8916
@amzn-jillich Sure, above is the .FBX

[2022-04-19 15:27] lmbr-pip opened #9015 "Nightly builds need version numbers"
**Is your feature request related to a problem? Please describe.**
Users can install the nightly builds from https://o3debinaries.org/download/windows.html but there is no visible version number so its hard to know what build any issue is tied to when folks are using the nightly builds.

**Describe the solution you'd like**
* Nightly builds have clear version number
* Version numbers are set in sp

[2022-04-19 15:27] lmbr-pip commented on #9015
Unsure if this is SIG-build/SIG-release.

[2022-04-19 15:32] lmbr-pip commented on #9010
We are already on 1.1.1m: https://github.com/o3de/o3de/blob/82f9458caf78c960e34d484d1285479049157722/cmake/3rdParty/Platform/Windows/BuiltInPackages_windows.cmake#L45

* Unfortunately 1.1.1-1.1.1m are impacted

[2022-04-19 15:40] lmbr-pip commented on #9008
Confirmed lua 5.4.4 is current version in O3DE: https://github.com/o3de/o3de/blob/82f9458caf78c960e34d484d1285479049157722/cmake/3rdParty/Platform/Windows/BuiltInPackages_windows.cmake#L31

[2022-04-19 15:57] mbalfour-amzn opened #9016 "In-Memory Spawnables don't work by default in the Editor"
**Describe the bug**
When trying to run a python automated test script inside the editor, it fails in CreateInMemorySpawnableAsset because the processing stack isn't enabled by default.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the Editor with the AutomatedTesting project enabled.
2. Load the auto_test level.
3. In the console, run `pyRunFile D:\github\o3de\AutomatedTesting\G

[2022-04-19 16:14] lmbr-pip commented on #9007
1.9.3 appears to be current O3DE version: https://github.com/o3de/o3de/blob/82f9458caf78c960e34d484d1285479049157722/cmake/3rdParty/Platform/Windows/BuiltInPackages_windows.cmake#L51

[2022-04-19 17:28] lmbr-pip commented on #7898
Removed SIG/network as we want this fix but do not own work.

[2022-04-19 17:29] lmbr-pip commented on #8870
Blocked as we need two windows machines to reproduce this.

[2022-04-19 18:01] srikappa-amzn commented on #9016
@chiyenteng , these changes look related to [your PR ](https://github.com/o3de/o3de/pull/6179/files)for supporting in-memory spawnables. Can you take a look at this and make the required changes to support running automated tests in the editor too?

[2022-04-19 18:04] #4706 closed

[2022-04-19 18:19] AMZN-alexpete commented on #8353
I agree ProjectManager should not show gems in other Project's folders for now until we have a good use case or user request to support this use case.

[2022-04-19 18:27] forhalle commented on #8353
Per conversation with @Ulrick28, I am downgrading this to major because the user must go out of their way to make this happen - it is not a common workflow problem.

[2022-04-19 18:31] forhalle commented on #8996
@robhaco  - Thank you for agreeing to repro this :>

[2022-04-19 19:00] lmbr-pip commented on #8976
Server launcher has default behaviour to auto-close when final client leaves, its controlled by a cvar

[2022-04-19 19:05] chanmosq commented on #4081
@LB-ArturZieba Thank you for testing and confirming, and @hultonha thanks for letting me know. I'll cherry-pick this commit and create another PR against stabilization_2205.

[2022-04-19 19:13] kberg-amzn commented on #8976
I think the question is more around behaviour of the application when clicking the X button. As far as I am aware o3de doesn't send out any notifications under such a termination, it exits uncleanly.. therefore the networking layer is not properly torn down and we don't send an explicit disconnect message to the server.

[2022-04-19 19:20] AMZN-puvvadar opened #9022 "Optimization of ToolsApplication/ToolsApplicationFixture in AzToolsFramework.Tests"
**Is your feature request related to a problem? Please describe.**
AzToolsFramework.Tests is far and away the slowest unit test module in O3DE. In AR builds, it takes ~800 seconds to run which is a significant percentage of test job run time.

**Describe the solution you'd like**
AzToolsFramework.Tests should run significantly faster. Research shows that rather than a few tests taking significant