[2021-11-11 19:48] #2436 closed

[2021-11-11 19:54] monroegm commented on #2906
Just need to confirm with UX what the hotkey should be

[2021-11-11 19:59] monroegm commented on #3489
We need to figure out how we would accomplish something like this @lsemp3d @carlitosan

[2021-11-11 20:08] lumberyard-employee-dm commented on #3192
@amzn-sj We should be able to close this issue out, correct?

[2021-11-11 20:09] amzn-sj commented on #3192
Yes

[2021-11-11 20:09] #3192 closed

[2021-11-11 20:13] lumberyard-employee-dm commented on #3193
@amzn-sj This should be resolved as of commit 1f542838bb1d1b3aaf569822a175264d34ffc48b

[2021-11-11 20:13] #3193 closed

[2021-11-11 20:14] #3201 closed

[2021-11-11 20:15] lumberyard-employee-dm commented on #3226
@amznestebanpapp We can close this again, right?

[2021-11-11 20:17] lumberyard-employee-dm commented on #3204
There is no need for a deploy script for a Project Game Release layout on MacOS.
It is all available in the `<install-dir>/bin/Mac/Release/{Default,Monolithic}` directories
Closing this issue out

[2021-11-11 20:17] #3204 closed

[2021-11-11 21:03] lsemp3d commented on #3798
There is not enough information on this ticket, it references a video, but there is no video attached. It also doesn't specify which error needs to be improved.

[2021-11-11 21:05] #3743 closed

[2021-11-11 21:08] lsemp3d commented on #5484
Moved to physics, it appears TriggeringEntity needs to be serialized and reflected into the BehaviorContext. I have also improved the messaging of that assert to provide the details about missing reflection when that happens.

[2021-11-11 21:12] amznestebanpapp commented on #3226
Yes, closing

[2021-11-11 21:12] #3226 closed

[2021-11-11 21:26] lsemp3d commented on #2744
I was no longer able to reproduce it

[2021-11-11 21:29] lsemp3d commented on #3489
I don't believe we can automatically get that information for the vast majority of nodes because they come from the Behavior Context, we could definitely do it for the custom nodes, but they'll be a small subset of the entire library. We could leverage the text translation system to add custom hints, but they would need to be manually added and maintained.

[2021-11-11 21:38] #2744 closed

[2021-11-11 21:56] lawsonamzn commented on #4818
So the stats tracking I added revealed some interesting stats after repeated runs.  To get these stats, I tried a few different runs as follows.  On a new empty project (So all gems and stuff), each test was done with batch AP + no cache folder to start.

* Ran AP with 11 builders set to idle priority
[code]

* Ran AP with 4 builders set to idle priority
[code]

* Ran AP with 11 builders set to no

[2021-11-11 22:03] lumberyard-employee-dm opened #5574 "Add support for configuring (default) PAK Modes via a CMake Cache Variable"
**Is your feature request related to a problem? Please describe.**
Currently the default mode that O3DE uses when loading files via the Archive system is that in Release configuration the default mode for searching for files is mounted PAK files only, while in non-Release configurations the default is search the file system followed by searching mounted PAKs.

This is actually controllable via the

[2021-11-11 22:15] amznestebanpapp commented on #4237
Is it safe to close?

[2021-11-11 22:17] spham-amzn commented on #4320
This is fixed in stabilization/2110. Once it is merged back to development I will resolve this issue

[2021-11-11 22:20] lawsonamzn commented on #4818
Note that nearly 100% of the time was spent in image compression
[code]

[2021-11-12 00:45] #3766 closed

[2021-11-12 00:45] amzn-sj commented on #3766
No longer relevant

[2021-11-12 00:46] #3191 closed

[2021-11-12 00:57] amzn-sj commented on #5370
@LB-JakubSkoczylas Whenever you get back to testing O3DE as an SDK on MacOS, can you check the following?

1. Before launching O3DE_SDK.app, open terminal and run:
`sudo "<path_to_cmake>/CMake.app/Contents/bin/cmake-gui" --install`
where `<path_to_cmake>` is the path to your CMake.app bundle. Most common location is /Applications. It will prompt for password.
2. Once step 1 is completed successful

[2021-11-12 01:12] amznestebanpapp commented on #5559
Looked at this with @lumberyard-employee-dm, the problem is that the generated cmake file for that target doesnt get the runtime dependency, so it doesnt get copied to the game launcher output.
The source cmake file (simplified):
[code]
In the generated file:
[code]
Thats because imported targets cannot have private build dependencies (restriction of cmake in `target_link_libraries`). We need some

[2021-11-12 01:19] AMZN-alexpete commented on #5226
The fix for this issue has been submitted to stabilization/2110

[2021-11-12 02:14] luoweiqiao opened #5582 "DebugDraw Text and DebugDraw Sphere: Questions about restrictions on field input values"
**Describe the bug**
DebugDraw Text:
				1. The length of the text field is not limited.
				2. When the camera zooms in and out, the size of the text display does not change.
DebugDraw Sphere:
				1. The Radius is no limit to the maximum and minimum values.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity.
2. Adding the DebugDraw Text Component
3. Adding the DebugDraw

[2021-11-12 02:50] AMZN-alexpete commented on #5520
The PhysX.Tests.main was occurring in AR until I fixed the issue with terrain gem dependencies it so it's odd that it showed up in the stabilization branch run, but not in the subsequent run.  Will keep an eye out for it.

[2021-11-12 07:29] #3798 closed

[2021-11-12 07:30] AMZN-Gene commented on #3798
Not sure what video this is referring. Will reopen if I see an issue and add details for a proper report

[2021-11-12 08:38] LB-TomaszSerwanski commented on #5484
Hi @lsemp3d, I believe that the Assert from @Hsuehnj comment relates to another script open in Script Canvas when gathering logs for this issue, which uses Script Events (unfortunately named _TriggerEnemy_, with a parameter named _TriggeringEntity_) and is already filed in #2788. The crash from this issue applies to all AZ Event nodes, not only the GetOnTriggerEvent/On Trigger Enter Event.

[2021-11-12 09:59] il-Salvatore commented on #4598
Thanks for the response.

I believe this resolves the issue I was experiencing, in part because of not knowing then to first do a build before opening the editor, from experience with other engines that don't follow the same build before edit procedure.

Closing this issue.

[2021-11-12 09:59] #4598 closed

[2021-11-12 15:21] #5479 closed

[2021-11-12 16:34] amzn-jillich opened #5589 "Levels can be loaded from an external gem"
Level assets placed into an external gem currently are not recognized currently and can't be loaded in the editor.

**Describe the solution you'd like**
Levels can be placed into external gems and used like levels from the project.

[2021-11-12 16:41] #5559 closed

[2021-11-12 17:07] oleksiiterekhov commented on #5574
Prediction: Cheaters will use this feature for easy asset mangling in game-as-a service and competitive games.

[2021-11-12 18:25] lsemp3d commented on #4062
Variable gets cleared now and set to <None>, users can then set a different variable manually.

[2021-11-12 18:25] #4062 closed

[2021-11-12 19:26] lumberyard-employee-dm commented on #5574
The feature is only available at build time of GameLauncher itself.
The development team that builds the GameLauncher source code would be the people determining what the default PAK mode is in release.

The behavior of `sys_PakPriority` being changable via setting the CVar via a command line option already exists and this feature will not change that.
Disabling of running console commands via the

[2021-11-12 21:19] superkitcath commented on #4670
PR Merged: https://github.com/o3de/o3de/pull/5584

[2021-11-12 21:19] #4670 closed

[2021-11-12 21:36] forhalle commented on #3748
@tjmichaels  - Can you please add a priority to this issue?

[2021-11-12 22:12] benblack75 opened #5602 "Camera Dolly Issues"
**Describe the bug**
Sometimes when I am trying to dolly the camera, the dolly does not move in the expected direction towards/away from directed aim of the camera, but more in a way approaching perpendicular to what it should.

**Steps to reproduce**
The only way to ensure that you will see this error is to use any scene populated with several elements and just start dollying at different element

[2021-11-13 03:59] mrieggeramzn commented on #4379
Unable to repro this bug on Windows + AMD Radeon 6800XT + Vulkan. However I did encounter lots of crashes / assertions.

[2021-11-13 05:13] pollend commented on #4379
umm, I think its related to linux + vulkan + amd

here is a capture from renderdoc. EID 1124 is vkcmdClearColorImage in depthDownSample.

![image](https://user-images.githubusercontent.com/854359/141606589-b42b672b-6641-49ad-9271-162d07729021.png)

[2021-11-13 06:38] pollend commented on #4379
[code]

so this aliase barrier is between passes. looks like the clear is getting placed into the next pass.

before:
![image](https://user-images.githubusercontent.com/854359/141608854-8aa544a7-6a5f-4aea-9766-d247a19ce800.png)

after:
![image](https://user-images.githubusercontent.com/854359/141608869-1c99f615-34fb-4557-b288-604596e54aba.png)

[2021-11-15 03:17] pollend commented on #5259
here is continuation from #5151 https://github.com/o3de/o3de/pull/5608.  The other option is to remove all instance of AZ allocation.

[2021-11-15 05:24] pollend commented on #4861
I think there is some kind of resource leak. If you change the layout a couple time the system will get progressively slower.

[2021-11-15 08:44] instoneks2018 opened #5609 "Capsure/Quad/Polygon lights need to support shadows"
Currently,  `Capsure`/`Quad`/`Polygons` lights for `o3de` support only illumination but not shadows.
It would be better to support shadows like the `point`/`spot`/`Directional` lights,and I wonder if there is such a plan or arrangement for this feature.

[2021-11-15 10:41] LB-KacperKapusta opened #5611 "Building any project using the Project Manager built with target INSTALL fails"
**Describe the bug**
It is not possible to build any project via the Project Manager when it is launched from the o3de-install folder (after following the [Pre-built SDK engine guide](https://o3de.org/docs/welcome-guide/setup/setup-from-github/#:~:text=Use%20CMake%20to%20build,target%20INSTALL%20--config%20profile%20--%20/m)) due to the following error:
[code]
Please note that the Project Manager

[2021-11-15 12:33] LB-ArturSiewniak commented on #3681
Issue does not occur on build Stabilization_2110 (76b7e73).

[2021-11-15 12:36] LB-ArturSiewniak commented on #5403
Closing the issue. Verified as fixed on build Stabilization_2110 (76b7e73).

[2021-11-15 12:36] #5403 closed

[2021-11-15 12:58] LB-ArturSiewniak commented on #5404
PhysXDebug gem was enabled, as I test either on AutomatedTesting project (which has it enabled), or on custom projects with all available gems. The issue however does not occur on build Stabilization_2110 (76b7e73), so closing it.

[2021-11-15 12:58] #5404 closed

[2021-11-15 13:02] LB-MateuszSzweda commented on #4823
Today I was able to verify that this still occurs on Development (57adfd7) for both AutomatedTesting (prefab disabled) and New Projects. (Prefab enabled)

[2021-11-15 13:06] LB-MateuszSzweda commented on #3832
The issue was verified as fixed on both Development and Stabilization/2110 branch and no longer occurs for over 2 months.

[2021-11-15 13:06] LB-MateuszSzweda commented on #4045
The issue was verified as fixed on both Development and Stabilization/2110 branch and no longer occurs for over 2 months.

[2021-11-15 13:09] LB-MateuszSzweda commented on #5303
The issue was verified as fixed on both Development and stabilization/2110 branches and no longer occurs for over 10 days.

[2021-11-15 13:15] LB-JakubSkorupka commented on #5237
@amzn-pratikpa Please note that the issue still occurs as described and is related to the newest version of DB browser for SQLite, which is likely to be downloaded by an O3DE user.

[2021-11-15 15:44] LB-TomaszSerwanski commented on #5302
@jackalbe you are correct, once I set it up this way, the _exclude_ tag works correctly, thank you. Verified on Stabilization_2110 (76b7e73).

[2021-11-15 16:16] mbalfour-amzn commented on #5335
@junbo75 can you provide more information here?  I don't believe MultiplayerSample currently uses Vegetation or Terrain at all, so I could see why everything would work fine without building these Gems, but there's nothing preventing a server from using these systems.  What's the expected fix here - removing the Gems from MultiplayerSample entirely until they're used by the sample?

[2021-11-15 17:39] sptramer commented on #4787
In an interesting twist, I have recently seen this problem when using the _Default Template_ and generating a new project, including on stabilization/2111.0. The default Gems manifest may have issues.

[2021-11-15 17:44] monroegm commented on #2853
I changed the milestone to Future Release as this appears to be a Mac-specific ticket now

[2021-11-15 17:47] oleksiiterekhov opened #5617 "AssetProcessor: no WWISE sound files in cache when wwise_config.json exists"
**Describe the bug**
No sound files in cache if you fill wwise_config.json

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create and fill sounds/wwise/wwise_config.json
2. Process sounds with WWISE (sounds/wwise/windows, sounds/wwise/linux, ...)
3. Run AssetProcessorBatch
4. No sound files files in Cache

**Expected behavior**
**PC** sound files in Cache/**pc**/sounds/wwise/**windows*

[2021-11-15 18:51] amznestebanpapp commented on #5611
May be related to https://github.com/o3de/o3de/pull/5581
@lumberyard-employee-dm for awareness

[2021-11-15 18:59] lumberyard-employee-dm commented on #5611
@lumberyard-employee-dm is now aware.
It looks some kind of circular dependency between two gem targets
[code]

[2021-11-15 19:10] #4490 closed

[2021-11-15 21:04] rgba16f commented on #5405
I'm unable to recreate the described issue with the code from the stabilization/2110 branch on Friday 12th Nov @ b44ce82435.

I recreated the described ScriptCanvas setup and I see the requested debug draws.
![image](https://user-images.githubusercontent.com/82187279/141853069-07cba16e-fa02-475b-9f5c-73eb8907ba00.png)

![image](https://user-images.githubusercontent.com/82187279/141853417-7d8b8073-

[2021-11-15 22:27] jiaweig-amzn commented on #4861
The crash seems to be fixed by some other swapchain fixes.
https://github.com/o3de/o3de/pull/5502
https://github.com/o3de/o3de/pull/5388
But the render target doesn't fit the viewport. I am still investigating.

[2021-11-15 22:56] #2708 closed

[2021-11-15 23:47] amznestebanpapp commented on #5611
`Multiplayer.Builders` has a runtime dependency to `Multiplayer.Editor`
`Multiplayer.Editor` has a build dependency to `Multiplayer.Builders`

@AMZN-Olex is taking a look at that dependency
I will add a check so we get a better error message of the problem.

[2021-11-16 00:00] alexmontAmazon commented on #5400
@AMZN-Igarri the associated PR has been merged, can we close this?

[2021-11-16 00:04] Kadino opened #5628 "Atom_TestSuite_Main fails on Linux"
**Describe the bug**
Tests in the module Atom_TestSuite_Main were failing at the time that the Linux Automated Review pipeline enabled python-based tests, and these were disabled from running in AR.

When this module is passing, make sure to re-enable these tests in AR by removing AutomatedTesting::Atom_TestSuite_Main from both https://github.com/o3de/o3de/blob/development/scripts/build/Platform/L

[2021-11-16 00:04] Kadino opened #5629 "PhysicsTests_Main fails on Linux"
**Describe the bug**
Tests in the module PhysicsTests_Main were failing at the time that the Linux Automated Review pipeline enabled python-based tests, and these were disabled from running in AR.

When this module is passing, make sure to re-enable these tests in AR by removing AutomatedTesting::PhysicsTests_Main from both https://github.com/o3de/o3de/blob/development/scripts/build/Platform/Linux

[2021-11-16 00:04] Kadino opened #5630 "PrefabTests fails on Linux"
**Describe the bug**
Tests in the module PrefabTests were failing at the time that the Linux Automated Review pipeline enabled python-based tests, and these were disabled from running in AR.

When this module is passing, make sure to re-enable these tests in AR by removing AutomatedTesting::PrefabTests from both https://github.com/o3de/o3de/blob/development/scripts/build/Platform/Linux/build_confi

[2021-11-16 00:04] Kadino opened #5631 "TerrainTests_Main fails on Linux"
**Describe the bug**
Tests in the module TerrainTests_Main were failing at the time that the Linux Automated Review pipeline enabled python-based tests, and these were disabled from running in AR.

When this module is passing, make sure to re-enable these tests in AR by removing AutomatedTesting::TerrainTests_Main from both https://github.com/o3de/o3de/blob/development/scripts/build/Platform/Linux

[2021-11-16 00:04] Kadino opened #5632 "Gem::EMotionFX.Editor.Tests fails on Linux"
**Describe the bug**
Tests in the module Gem::EMotionFX.Editor.Tests have been disabled in AR on Linux for some time. They were found to be failing at the time that the Linux Automated Review pipeline enabled python-based tests, and these were left disabled from running in AR.

When this module is passing, make sure to re-enable these tests in AR by removing Gem::EMotionFX.Editor.Tests from both h

[2021-11-16 00:31] Kadino opened #5633 "Smoke test failures on Linux"
**Describe the bug**
The following tests were failing in AR on Linux when the service was enabled, have been conditionally disabled, and need investigation:

- https://github.com/o3de/o3de/blob/development/AutomatedTesting/Gem/PythonTests/smoke/test_CLITool_SerializeContextTools_Works.py
- https://github.com/o3de/o3de/blob/development/AutomatedTesting/Gem/PythonTests/smoke/test_Editor_NewExistingL

[2021-11-16 02:08] sysuNie opened #5636 "[Animation] inPlace function in the animation module is invalid, and the animation with displacement will not enable the root motion animation effect when inPlace is opened."
**Describe the bug**
 inPlace function in the animation module is invalid, and the animation with displacement will not enable the root motion animation effect when inPlace is opened.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Create a entity'
2. Click on 'Add Actor and simple component'
3. Select attached asset 'Actor and Motion'
4. Scroll down to 'InPlace'
5. See error

*

[2021-11-16 02:29] Kadino commented on #5633
Duplicate of https://github.com/o3de/o3de/issues/5539

[2021-11-16 02:29] #5633 closed

[2021-11-16 06:07] VickyAtAZ commented on #2115
PR: https://github.com/o3de/o3de/pull/5639

[2021-11-16 07:01] nielianpeng opened #5640 "[Animation] In the animation Time View, multiple events on different event tracks can be selected at the same time, but cannot be copied, cut, or pasted at the same time."
**Describe the bug**
[Animation] In the animation Time View, multiple events on different event tracks can be selected at the same time, but cannot be copied, cut, or pasted at the same time.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor, load an action in the Motions window, and select the action.
2. In the Time View, click Add event track four times to add

[2021-11-16 07:59] nielianpeng opened #5641 "[Animation] The Actor is not selected in the animation editor. If you select motion event under Time View and motion under Motions, and press Delete, the Actor is deleted instead of the selected object."
**Describe the bug**
[Animation] The Actor is not selected in the animation editor. If you select motion event under Time View and motion under Motions, and press Delete, the Actor is deleted instead of the selected object.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor and select the corresponding Actor and Motion Sets.
2. Click Motions, select a motion, pre

[2021-11-16 08:41] nielianpeng opened #5642 "[Animation] In Audio Animation, the Evnet drop-down list box should be used to select an existing event. The joint function needs to be specified."
**Is your feature request related to a problem? Please describe.**
[Animation] In Audio Animation, the Evnet drop-down list box should be used to select an existing event. The joint function needs to be specified.

**Describe the solution you'd like**
1. You can directly select an existing event.

**Describe alternatives you've considered**
1. You have to enter events by yourself. If you enter eve

[2021-11-16 09:52] AMZN-Igarri commented on #5400
@alexmontAmazon The merged PR relates to one bug in the viewport but the tests for the camera selector widget are still in progress.

[2021-11-16 10:11] LB-BartoszDudzinski commented on #5239
Verified as fixed in Development (3791149) and Stabilization_2110 (7031147) branches.

[2021-11-16 10:11] LB-BartoszDudzinski commented on #5085
Verified as fixed in Development (3791149) and Stabilization_2110 (7031147) branches.

[2021-11-16 10:12] LB-BartoszDudzinski commented on #3959
Verified as fixed in Development (3791149) and Stabilization_2110 (7031147) branches.

[2021-11-16 10:22] LB-BartoszDudzinski commented on #4190
Verified as fixed in Development (3791149) however, the issue still occurs in Stabilization_2110 (7031147) branch.

[2021-11-16 10:52] LB-BartoszDudzinski opened #5643 "Building a new project fails during configuration"
**Describe the bug**
Configuring a new project though the Project Manager fails with the following error log:

[code]
This issue does not occur in Stabilization/2110 branch.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Project Manager.
2. Create a new project.
3. Build the previously created project.

**Expected behavior**
The project is built successfully.

**Actual beha

[2021-11-16 11:45] #3883 closed

[2021-11-16 12:18] LB-PatrykKrajewski opened #5644 "The layout of the list in the Asset Browser can be displayed in currently not set layout"
**Describe the bug**
There is a discrepancy between what is checked on the list settings in the Asset Browser (under the hamburger menu) and how the list is displayed. When nothing is written inside the search bar, the list appears in the "Expanded" layout and changing it to the "Default" option does not apply the desirable effect. Once something is typed into the search bar the list will always s

[2021-11-16 12:30] Hsuehnj commented on #5392
The bug has been solved by https://github.com/o3de/o3de/pull/5151

[2021-11-16 13:06] LB-BartoszDudzinski opened #5646 "Editor crashes after leaving Game Mode for a second time in a custom level"
**Describe the bug**
Leaving Game Mode twice in a level with a script targeting an UI canvas and containing multiple Input Handlers and Repeater nodes with short intervals crashes the Editor. Disabling Input Handler nodes in the assigned script prevents the issue from occurring. However, the Editor does not crash with a script created only with the mentioned Input Handlers and the specific cause o

[2021-11-16 14:02] hultonha commented on #4861
Good to know, thanks for the update @jiaweig-amzn

[2021-11-16 14:16] #3895 closed

[2021-11-16 14:17] amzn-sean commented on #3895
PR https://github.com/o3de/o3de/pull/4352 has been completed and merged.

[2021-11-16 14:30] LB-ArturSiewniak commented on #4364
This issue still occurs on build Development (3791149) with Prefabs System both enabled and disabled. It does not occur on build Stabilization_2110 (7031147) with Prefabs System either enabled or disabled. Reopening the issue.

[2021-11-16 14:42] LB-PatrykKrajewski opened #5648 "The hamburger menu icon in the Asset Browser is misplaced when filters are added"
**Describe the bug**
The hamburger menu icon in the Asset Browser moves with the added filter list. As another level of filters is added, the icon will align to them.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Asset Browser.
2. Add any number of filters to the list.
3. Observe the results.

**Expected behavior**
The hamburger menu in the Asset Browser is aligned to the to

[2021-11-16 14:43] LB-ArturSiewniak commented on #4237
I've checked it once again on Stabilization_2110 (7031147) build today with the Source type configured/built and the issue does not occur. However, due to https://github.com/o3de/o3de/issues/5643, I cannot verify it on the SDK type config/build. Once that issue is fixed, I will reverify it again and close this issue or let you know if it still occurs accordingly.

[2021-11-16 14:49] LB-JakubSkorupka opened #5649 "Unsupported components can be added to prefabs, undoing this action may result in Editor crash"
**Describe the bug**
It is possible to add components that are not supported by prefabs (by default only **Comment** and **AssetCollectionAsyncLoaderTest** should be available) to a prefab in the **Entity Inspector**. Undoing that action may result in one of the following outcomes:

1. Editor crashes.
2. Added component is removed from the prefab. In the **Entity Outliner** an expand/collapse arro

[2021-11-16 14:58] LB-ArturSiewniak commented on #5405
Verified the issue on the Stabilization_2110 (7031147) build and it does not occur on it. Closing the issue.

[2021-11-16 16:10] HogJonny-AMZN opened #5654 "Bug Report"
Attempting to execute the Python Script "capture_displaymapperpassthrough" in editor is throwing an error.

Reproducibility: 3/3

Steps to Reproduce:

Open the Python Scripts tool in editor (Tools > Other > Python Scripts)
Execute the "capture_displaymapperpassthrough" script.
Expected Result:

Script executes as expected.
Actual Result:

An error is thrown:
[Error] (python_test) - EXCEPTION: Dete

[2021-11-16 16:22] greerdv opened #5657 "PhysX collider scale manipulators can get direction of scaling incorrect"
Found in stabilization/2110 7da0913900.

https://user-images.githubusercontent.com/82226198/142024075-43723ebd-6f65-4901-8b91-ee6b03a1f939.mp4

[2021-11-16 16:27] LB-ArturSiewniak commented on #5126
@amzn-sj I've rebuilt the AutomatedTesting project on Linux on build Stabilization_2110 (7031147) and the issue does not occur anymore (The Editor launches properly.).

[2021-11-16 16:45] ppinfel opened #5660 "Feature Request - Allow Depth of Field to focus on referenced entity"
Currently, the Depth of Field component is very hard to use artistically, as it is difficult to control

My request is to allow the depth of field component to reference an entity, such as an entity with a sphere shape component, which will be used to determine where the focus point is

[2021-11-16 17:16] greerdv opened #5662 "PhysX debug draw can flash for highly detailed triangle mesh physics assets."
Found in stabilization/2110 7da0913.

https://user-images.githubusercontent.com/82226198/142033310-9c5891b4-8643-434a-82c0-6c1d6f45a503.mp4

[2021-11-16 17:18] greerdv commented on #5662
There is a feature to give a visual warning about overly detailed physics meshes, but it is meant to gently pulsate in a sinusoidal fashion rather than flash alarmingly like this.

[2021-11-16 17:19] #3739 closed

[2021-11-16 17:36] lemonade-dm opened #5663 "Add Delta Patching Support to the o3de python `create-*` commands"
**Is your feature request related to a problem? Please describe.**
Currently the o3de python [create-project, create-gem, create-template, create-from-template](https://github.com/o3de/o3de/blob/development/scripts/o3de/o3de/engine_template.py#L2150-L2159) commands have no support for updating a project, gem, template or directory instantiated from a template in smart manner that only updates chan

[2021-11-16 17:46] greerdv commented on #5662
Note this is not the same issue as https://github.com/o3de/o3de/issues/4395

[2021-11-16 17:48] AMZN-daimini commented on #4364
Hey @LB-ArturSiewniak,
While the repro steps and the end result (a crash) is the same, the causes of it may be different. For this kind of situation, would it be possible to open a new issue that references the previous one, instead of re-opening ones that are already closed?

For example, since this new repro is in development only, it should go through triage again and it likely will not be prio

[2021-11-16 17:48] #4364 closed

[2021-11-16 18:16] #5654 closed

[2021-11-16 19:40] monroegm commented on #5602
I don't believe this is a bug with the implementation. There may be a UX conversation to be had about if the feature behaves the way users expect

[2021-11-16 19:50] olegbc1 opened #5666 "Newly applied texture disappears"
Submitting on behalf of a customer. See recording. After applying a texture to an object and creating a new entity, the texture disappears. Using stabilization build from approx. 2 wks ago.

https://user-images.githubusercontent.com/9222334/142054997-2a95b794-00b2-4e17-8828-ca4f0063e18e.MOV

[2021-11-16 19:59] monroegm commented on #3141
@lsemp3d @carlitosan Any thoughts about this?

[2021-11-16 20:59] ppinfel opened #5671 "Feature Request - Add texture map slot for anisotropic direction"
Currently, the enhanced PBR anisotropic effect can only have 1 direction throughout the entire material

It is important to be able to control the direction of the effect such as with a texture map made by the user, which is the feature:

RFC for a texture map slot to control the anisotropic direction of the enhanced PBR material/shader

[2021-11-16 21:06] superkitcath commented on #5666
Hi @olegbc1! This should have been fixed in the latest stab; can you verify and confirm? Thanks!

[2021-11-16 22:08] mbalfour-amzn opened #5679 "ToolsApplicationRequests::GetCurrentLevelEntityId() fails with prefabs enabled"
**Describe the bug**
When writing Python automated tests, we currently use add_level_component() in hydra_editor_utils.py to add level components to a level.  This crashes when prefabs are enabled because the level entity ID lookup fails, and the error handling of that crashes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Save the attached file somewhere in the AutomatedTesting proj

[2021-11-16 23:31] jiaweig-amzn commented on #5408
It should be fixed by
https://github.com/o3de/o3de/pull/5388

[2021-11-16 23:31] #5408 closed

[2021-11-17 00:34] carlitosan commented on #5646
How did disabling the input nodes stop the issue? Which graph did you disable them in? I still get the issue myself.

[2021-11-17 00:37] carlitosan commented on #5646
I also get this, after stopping game mode the first time, and it seems problematic:

Enable Accelerators
Exited game mode
(System) -
==================================================================
(System) - Trace::Assert
 E:/github/o3de/Gems/LyShine/Code/Source/UiCanvasManager.cpp(519): (13580) 'void __cdecl UiCanvasManager::ReleaseCanvasDeferred(class AZ::EntityId)'
(System) - Canvas entity n

[2021-11-17 01:00] carlitosan commented on #5646
I don't think this is a script issue. If one disables all of the nodes, and simply continues start/stop in editor, eventually it will crash. I think the : UiCanvasManager::ReleaseCanvasDeferred issue needs to be solved first.

[2021-11-17 01:22] jckand-amzn opened #5687 "pyside_utils.find_child_by_hierarchy() causes an infinite loop if ... is used as a pattern with AssetBrowserTableView feature active"
**Describe the bug**
pyside_utils.find_child_by_hierarchy() causes an infinite loop if ... is used as a pattern with AssetBrowserTableView feature active

NOTE:
AssetBrowserTableView is active by default in development and stabilization, however if it's been disabled locally, it can be re-enabled by setting ed_useNewAssetBrowserTableView=true in your project's game.cfg file prior to launching the

[2021-11-17 01:42] yanjin-rose opened #5688 "Feature Request-Add support of array-type shader variable configuration in material system"
Currently, the material type file do not support array-type shader variable configuration when the connected shader file contains someting like (Texture2D m_textureArray[16], float m_num[16] ) in  material SRG.
Sometimes it's important to define array-type variables in shader. so it may be necessary to support it in material system too.
I was wondering that is there any plan to support this featur

[2021-11-17 01:47] AMZN-mnaumov commented on #4436
can no longer repro

[2021-11-17 01:47] #4436 closed

[2021-11-17 01:56] lsemp3d commented on #3141
I think it's possible, there may be some light concern around coupling graphs, but I don't think it would be a big problem.

Alternatively, if it was easier to author Script Events, would that cover the request? I've had this idea to move the Script Event authoring out of the Asset Editor and into the Script Canvas editor. Creating a Script Event would be very similar to the nodes we use to define

[2021-11-17 02:40] #5643 closed

[2021-11-17 07:09] LB-BartoszDudzinski commented on #5646
Disabling both Input Handler or maybe both groups with them resulted for me in stable GM. I couldn't repo this issue. At least when leaving GM 3-4 times.

The Assert is already reported in the Jira.

[2021-11-17 07:28] sysuNie opened #5690 "[Animation] There is a problem with the skin weight of the model, which is very obvious when doing jumping movements, and there are edges and corners on the hips and knees."
**Describe the bug**
There is a problem with the skin weight of the model, which is very obvious when doing jumping movements, and there are edges and corners on the hips and knees.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Create a entity'
2. Click on 'Add Actor and simple component'
3. Select attached asset 'Actor and Motion'
4. Scroll down to 'Camera'
5. See error

**Ex

[2021-11-17 07:49] Bond-F opened #5693 "Editor will crash when entering Game Mode with Simple State component in prefab"
**Describe the bug**
In Prefab Project , Two cases:
1. When entity parent is 'Level' , Editor crashes when a Simple State component target that entity , and then Game Mode is entered.
2. When entity is other entity child , and Simple State component target that child entity , and entering Game Mode that child entity would not appear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Cras

[2021-11-17 08:01] Bond-F opened #5694 "Prefab: Spawner component can't use prefab file"
**Describe the bug**
In Prefab project , the Spawner component can not use prefab file , only select Dynamic slice file.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new entity.
2. Add Spawner component to it.
3. In Spawner component Properties , only select Dynamic slice file.

**Expected behavior**
Can select prefab file.

**Actual behavior**
Can not use prefab file , only

[2021-11-17 10:53] LB-BartoszDudzinski commented on #4436
Verified as Fixed in development and stabilization.

[2021-11-17 10:54] hultonha commented on #5477
@monroegm This is definitely a pain but I'm not sure this qualifies as Critical, I propose dropping this to Major and the viewport team will get to this soon

[2021-11-17 10:54] LB-BartoszDudzinski commented on #3883
Verified as Fixed in development (f245c0a), but the issue still occurs in stabilization_2110 (551e601) branch.

[2021-11-17 10:58] hultonha commented on #5602
This should be fixed by https://github.com/o3de/o3de/pull/5658 I'm pretty sure

This is a problem with the 'Be this camera' feature - fix should be in stabilization soon

[2021-11-17 11:03] LB-BartoszDudzinski commented on #5643
Verified as Fixed in Development (f245c0a).

[2021-11-17 11:05] LB-ArturZieba opened #5697 "Rotate Transform Mode under Modify submenu from the Edit menu has no icon"
**Describe the bug**
Rotate is the only Transform Mode under the Edit > Modify that has no icon next to its name.

This issue also occurs on Development (f245c0a) build.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Go to Edit > Modify > Transform Mode.

**Expected behavior**
All options have icons next to their name.

**Actual behavior**
Only Rotate Transform

[2021-11-17 11:51] greerdv opened #5698 "Refactor RagdollComponent::CreateRagdoll"
This function is very long and should be split up a bit and organized better.

[2021-11-17 12:06] LB-ArturSiewniak opened #5699 "Editor crashes after restoring the default layout"
**Describe the bug**
Restoring the default layout of the Editor silently crashes it.

This issue does not occur on Stabilization_2110 (551e601) build.

This issue was created as requested in this comment: https://github.com/o3de/o3de/issues/4364#issuecomment-970516207.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Go to View > Layouts > Restore Default Layout.

[2021-11-17 12:07] LB-ArturSiewniak commented on #4364
Hi! The issue was separately reported here: https://github.com/o3de/o3de/issues/5699.

[2021-11-17 12:28] hultonha commented on #5602
This is now merged to stabilization - https://github.com/o3de/o3de/pull/5658. Could you please confirm the issues is fixed @benblack75. Thanks!

[2021-11-17 12:36] LB-BartoszDudzinski opened #5702 "UI Editor: Blue square is displayed on top of selected element"
**Describe the bug**
Selected elements in a canvas are displaying a blue square on top of them. Additionally, image transparency is displayed as a black background.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the UI Editor.
2. Add an element to the canvas and select it.

**Expected behavior**
The element is visible and highlighted.

**Actual behavior**
A blue square covers the

[2021-11-17 13:24] LB-JakubSkorupka commented on #5408
Verified as fixed in Stabilization_2110 (551e601).

[2021-11-17 13:43] hultonha commented on #3957
Hi @LB-ArturSiewniak, we believe this is to do with changes to the Asset Picker itself. Some recent changes were reverted and the White Box Mesh assets now do display. Could you please test again after this PR https://github.com/o3de/o3de/pull/5614 (commit https://github.com/o3de/o3de/commit/a5adf33427e3b2163c2f21c75148598b3364d8d4). Thanks!

[2021-11-17 13:44] LB-ArturSiewniak opened #5704 "Open Level window stays open after closing all other O3DE-related windows"
**Describe the bug**
Open Level window remains open even after all other O3DE-related windows are closed.

This issue also occurs on Ubuntu 20.04.3 LTS Stabilization_2110 (551e601) and PC Development (f245c0a) builds.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Go to File > Open Level....
3. Close the editor, Asset Processor and Project Manager (if present) w

[2021-11-17 14:43] LB-ArturZieba opened #5705 "Lucy_High.fbx and Lucy_Low.fbx assets have the same model as Hermanubis.fbx"
**Describe the bug**
Assets listed below use the same "Hermanubis" model. Lucy asset used to be an angel-like statue in past builds.
o3de\Gems\Atom\Tools\MaterialEditor\Assets\MaterialEditor\ViewportModels\Hermanubis.fbx;
o3de\Gems\AtomLyIntegration\CommonFeatures\Assets\Objects\Lucy\Lucy_High.fbx;
o3de\Gems\AtomLyIntegration\CommonFeatures\Assets\Objects\Lucy\Lucy_low.fbx;

This issue also occurs

[2021-11-17 15:37] greerdv commented on #2610
Fixed in #5645

[2021-11-17 15:37] #2610 closed

[2021-11-17 16:27] lawsonamzn commented on #4818
So with the above merged the performance on mac (x64) should be equivalent to the performance of PC (x64) given the same number of cores, cache, and memory.

Note that IOS and Android are going to be slower to build for both on mac and PC, since ASTC-encoding is slow in general, even using all threads and all cores.

Hopefully with this patch though, it can improve somewhat.  The only other recour

[2021-11-17 16:35] monroegm commented on #5705
Sending over to graphics-audio for triage as we believe they own the assets in question

[2021-11-17 16:39] monroegm commented on #5699
We should also add a test for this

[2021-11-17 16:41] monroegm commented on #5687
@AMZN-Igarri Can you take a look at this?

[2021-11-17 16:45] monroegm commented on #3141
@LB-TomaszSerwanski There doesn't seem to be a strong use case for this request and there is a viable workaround. Closing as won't do

[2021-11-17 16:45] #3141 closed

[2021-11-17 16:49] monroegm commented on #3404
Sending to graphics-audio as this seems like a feature request for the Material Editor tool

[2021-11-17 16:55] #5629 closed

[2021-11-17 16:57] monroegm commented on #3586
There are probably some interesting UX questions around how filtering should impact the viewport.

[2021-11-17 17:15] lsemp3d commented on #3141
I will convert this to a discussion, I do believe there is a strong use case for improving how graphs interact and/or update their data, and I would like to hear thoughts on the question I posted above.

[2021-11-17 17:26] cgalvan commented on #5704
It is probably a dialog that gets `nullptr` for a parent, so it persists. It likely just needs to be passed `AzToolsFramework::GetActiveWindow()` as a parent when created.

[2021-11-17 18:04] VickyAtAZ commented on #2115
Follow up PR: https://github.com/o3de/o3de/pull/5689

ASV PR to update some screenshots: https://github.com/o3de/o3de-atom-sampleviewer/pull/283

[2021-11-17 18:09] superkitcath commented on #5609
We will look into adding shadows for Quad lights; but most likely look for another solutions for the other types of lights.

[2021-11-17 18:15] greerdv commented on #5662
Couldn't reproduce this is development, may only be in stabilization/2110

[2021-11-17 18:16] superkitcath commented on #5632
Changing to sig/content, as this is related to EMotionFX

[2021-11-17 18:23] brianherrera commented on #4237
@LB-ArturSiewniak after #5643 is closed feel free to resolve this issue.

[2021-11-17 18:25] AMZN-koppersr commented on #5694
This is somewhat by design because the Spawner component was typically used as a way to provide a way for scripts to spawn entities in the world. There's now a dedicated node for that in Script Canvas, though a solution for general scripting (Lua) still needs to be build. With that main use case done differently there's an open question what other uses a "Spawner Component" would have. If you (or

[2021-11-17 18:31] #3738 closed

[2021-11-17 18:50] superkitcath commented on #5430
This RFC was approved during our monthly Sig meeting, on November 17, 2021, at 10:00 PST

[2021-11-17 19:06] forhalle opened #5715 "TEST"
Does this get the needs-triage label?

[2021-11-17 19:06] forhalle commented on #5715
no, it doesn't

[2021-11-17 19:06] #5715 closed

[2021-11-17 19:13] santorac commented on #5688
@invertednormal was also asking for this recently while working on a terrain feature.

[2021-11-17 19:13] wintermute-motherbrain commented on #4746
The sig has accepted this RFC into the backlog.  For details on potential implementation strategy, please see this ticket: https://github.com/o3de/o3de/issues/5211

[2021-11-17 19:51] o3de-issues-bot opened #5718 "Automated Review Failure - development"
Build url: https://jenkins.build.o3de.org/job/O3DE/job/development/1108/
Identified problems:
* Test error: Errors while running CTest
  * Indication 1:
    <https://jenkins.build.o3de.org//job/O3DE/job/development/1108/consoleFull#103675339160f5c32df5baa2a40af90ad8>

[2021-11-17 20:02] VickyAtAZ commented on #2115
@michabr The issue is resolved in Stabilization/2110 branch. Can you verify it?

[2021-11-17 20:23] amznestebanpapp opened #5720 "Remove defines around "CONSOLE""
**Is your feature request related to a problem? Please describe.**
I was really confused by this define, it is actually about CONSOLE platform and not about the CONSOLE (AZ::Console or the Cry Console). This define together with "MOBILE" are affecting a very small potion of code that looks like is already handled by the build (e..g if it is an editor or not).

**Describe the solution you'd like**

[2021-11-17 20:43] #5542 closed

[2021-11-17 22:07] junbo75 opened #5725 "Feature Request: Unified assets processed for multiple platforms"
**Is your feature request related to a problem? Please describe.**
Asset Processor processes assets for each platform and put them under different directories, which causes lots of redundant work. Same product assets might be generated for different platforms which could increate the process time significantly.

The current solution also makes it hard to bundle assets for any specific purpose, lik

[2021-11-17 22:13] lawsonamzn commented on #5725
This would be way too large and disruptive feature to just implement as a featurereq/PR, so I'd suggest a proper RFC for it, since it will affect everyone...

[2021-11-17 22:13] junbo75 opened #5726 "Feature Request: Enable monolithic build for the server target"
**Is your feature request related to a problem? Please describe.**
Monolithic build is disabled for the server target currently:
https://github.com/o3de/o3de/blob/development/cmake/Monolithic.cmake

This is a risk because of larger builds and adds operational complexity due to DLL corruption, missing dependencies etc.

**Describe the solution you'd like**
Enable monolithic build for the server tar

[2021-11-17 22:17] junbo75 commented on #5327
Another question is raised during the recent team discussion: Whether we should keep the null render inside Atom or move it out.

[2021-11-17 22:47] junbo75 opened #5728 "Console UI is loaded for the server launcher release build"
**Describe the bug**
Based on the discussion with @amznestebanpapp , window console is expected to be off in release build, but it still showed up during our testing for the release server package.

**Steps to reproduce**
1. Build the dedicated server package in release for the [MultiplayerSample](https://github.com/o3de/o3de-multiplayersample) project following https://o3de.org/docs/user-guide/ge

[2021-11-17 22:50] hultonha commented on #4141
Fixed by #5703

[2021-11-17 22:50] #4141 closed

[2021-11-17 22:52] hultonha commented on #3926
Fixed by #5703

[2021-11-17 22:52] #3926 closed

[2021-11-17 22:53] junbo75 opened #5730 "Feature Request: Create Multiplayer project/gem templates"
**Is your feature request related to a problem? Please describe.**
O3DE doesn't provide central owning point for client/server split: Developers don't have a template that aids the split when create a new O3DE project or gem that requires both of the client and server targets.

**Describe the solution you'd like**
Create a project template with client+server targets. Besides that, we should also c

[2021-11-17 23:20] moudgils commented on #5327
The current implementation of Null renderer is implemented by introducing a new null backend at the RHI so it can not be pulled out of Atom. I think what you may be talking about is Null Renderer at a much higher level where it skips RPI completely. That is a bigger feature and will require a bigger discussion with other Atom folks as it will be considered a new feature.

[2021-11-18 03:38] lumberyard-employee-dm opened #5734 "Add missing AZStd versions of std::erase"
**Is your feature request related to a problem? Please describe.**
The AZStd containers implement the C++20 [std;:erase_if](https://en.cppreference.com/w/cpp/string/basic_string/erase2) function but is missing the std::erase counterpart

**Describe the solution you'd like**
To implement AZStd::erase for the following classes: `AZStd::basic_string`, `AZStd::basic_fixed_string`, `AZStd::list` ,`AZSt

[2021-11-18 03:58] #2535 closed

[2021-11-18 07:33] Bond-F commented on #5694
Hi @AMZN-koppersr , i found this #2698 , does that mean that it will be deleted in later releases?
And  a dedicated node mean this?
![2021-11-18_153149](https://user-images.githubusercontent.com/94030027/142371776-be1afb04-01eb-40e3-ae01-83905bcfcbfa.jpg)

[2021-11-18 09:12] LB-TomaszSerwanski commented on #4141
Issue verified as fixed in Stabilization_2110 (d222aee).

[2021-11-18 09:25] AMZN-Igarri commented on #5687
Looking into it!

[2021-11-18 10:57] moraaar commented on #5542
Thanks for fixing this @amznestebanpapp

I can confirm that now switching `LY_PHYSX_PROFILE_USE_CHECKED_LIBS` between on and off it does trigger the copy of the right dlls to the output folder.

[2021-11-18 11:53] LB-KacperKapusta opened #5740 "macOS: Build command fails"
**Describe the bug**
The building of macOS fails with the following error:
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new or move your preexisting 3rdParty folder containing CMake into o3de folder.
2. Obtain python packages with get_python.sh script located in the o3de/python directory.
3. Create osx_build folder under the o3de location.
4. Set the following temporar

[2021-11-18 12:28] amzn-jillich commented on #5690
Uploading assets for @sysuNie as "I can’t upload assets due to some network reasons. So I sent you on discord there.".

[Ch29_nonPBR.zip](https://github.com/o3de/o3de/files/7562735/Ch29_nonPBR.zip)

[2021-11-18 13:03] LB-KacperKapusta opened #5744 "Linux: Python errors are prompted when launching the Asset Processor"
**Describe the bug**
The following errors are displayed when launching the Asset Processor which has been built for the AutomatedTesting project:
[code]
[code]
Please note that after pressing 'OK' for both of the prompts, the assets for the project are processed.

**Prerequisites**
- AutomatedTesting is built for Linux using the instructions: https://o3de.org/docs/user-guide/platforms/linux/

**St

[2021-11-18 13:31] LB-KacperKapusta opened #5746 "Linux: Asset Processor fails to process number of _dev_Sedan_r0-b.fbx scene compilation jobs"
**Describe the bug**
The following 4 scene compilation jobs fail processing for the .fbx asset:
[code]
Please refer to the attached JobLogs for more information.

**Prerequisites**
- AutomatedTesting is built for Linux using the instructions: https://o3de.org/docs/user-guide/platforms/linux/

**Steps to reproduce**
1. Launch the Asset Processor.
2. Wait until all assets are processed.

**Expected

[2021-11-18 13:48] hultonha commented on #3957
@LB-ArturSiewniak would you please be able to check this again please, I'm 99% sure it's all working now, thanks!

[2021-11-18 14:32] LB-KacperKapusta commented on #5740
It has been verified on Development (239e030) branch that building following the same instructions also fails with in fact different error:
[code]
Please let us know if this can be fixed together or should be logged as separate tickets.

[2021-11-18 14:40] amzn-sean commented on #3032
This isn't related to physics so removed the feature/physics label.
The spline and tube shapes are apart of AzCore and LmbrCentral Game, so not sure which feature label to use.

[2021-11-18 14:54] LB-KacperSzczepanski opened #5748 "Cursor movement is replaced by camera rotation after specific interaction with entity in Viewport"
**Describe the bug**
When clicking on the entity’s gizmo or arrows and holding it with the left mouse button while clicking the right mouse button, the cursor disappears and mouse movement is switched to camera rotation. Input can be changed back by clicking the right mouse button and moving the mouse while it is pressed.
 Please refer to the attached video for more information.

**Steps to reprod

[2021-11-18 16:22] #5574 closed

[2021-11-18 17:51] lmbr-pip commented on #2615
@greerdv - Can you provide an update why this is not a sig/content scripting issue? Unclear why this was assigned back to sig-network without comment.

[2021-11-18 17:53] AMZN-mnaumov commented on #2818
I can't get this to repro any more, game launcher starts and main menu loads and works. One thing to note - if launching from executable, make sure to pass command line arguments specifying project location (e.g. MyProject.GameLauncher.exe --project-path="C:/o3de/MyProject")

[2021-11-18 17:53] #2818 closed

[2021-11-18 18:10] amzn-pratikpa commented on #5445
@LB-MateuszSzweda see LYN-8107

[2021-11-18 18:10] #5445 closed

[2021-11-18 18:13] santorac opened #5753 "Material Properties Can Connect to SRG Array Elements"
**Is your feature request related to a problem? Please describe.**
Reported by a user on Discord:
[code]

**Describe the solution you'd like**
Update the material system to allow a material property to connect to an entry in a array, like connect "baseColor.textureMapA" and "baseColor.textureMapB" properties to "m_textureMaps[0]" and "m_textureMaps[1]" in the SRG.

[code]

[2021-11-18 18:16] #4320 closed

[2021-11-18 18:22] jckand-amzn commented on #3957
No longer reproduced as of stabilization/2110@1b63ca3bc0924a1. Mesh Asset is correctly assigned once saved, and can also be applied to other instances of the White Box component or dragged into the Viewport from the Asset Browser. However, when dragging the saved .wbm into the Viewport from the Asset Browser, the White Box component created is not set to the saved mesh, and instead defaults to the

[2021-11-18 18:28] jckand-amzn opened #5754 "White Box: Dragging a saved .wbm asset from the Asset Browser into the Viewport sets up a default White Box component"
**Describe the bug**
Dragging a saved .wbm asset from the Asset Browser into the Viewport sets up a default White Box component. The user must then change the Default Shape to Mesh Asset and assign the saved .wbm asset themselves.

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Create a new entity, and add a White Box component.
3. Edit the default shape, and save

[2021-11-18 18:28] jckand-amzn commented on #3957
Logged a new ticket for the Asset Browser > Viewport issue: #5754

Closing this issue out.

[2021-11-18 18:28] #3957 closed

[2021-11-18 18:36] lmbr-pip commented on #5335
Have two issues:
* MPS currently includes Terrain and Vegetation and could remove the use of these gems.
* But, problem still exists, that gems have no client/server split for inclusion in other multiplayer projects.

[2021-11-18 18:36] lsemp3d commented on #4060
Merged to stabilization/2110

[2021-11-18 18:36] #4060 closed

[2021-11-18 18:42] lmbr-pip commented on #5726
Issue accepted by sig-network but needs work from sig-build to provide feature.

Users expect have monolithic builds for servers, it avoids DLLS issues (corruption, missing DLLS etc.) and aids relocation/speed improvements.

[2021-11-18 18:43] lmbr-pip commented on #5728
Believe sig/core owns AZConsole. Assigning to them for triage.

[2021-11-18 18:44] lmbr-pip commented on #5730
Needs to be discussed at SIG meeting and cross-cutting with SIG docs and community.

[2021-11-18 19:03] lmbr-pip commented on #2615
Seems like we need input from scripting, to cover:
* If this is known issue (sounds like it is), if so can we get a link to GHI to track or documentation?
* Or if not known issue, can you confirm this is an issue to as it appears that a derived class is not working as expected.

Reassigning back to sig-content for triage as issue appears to be at scripting level and nothing to do with sig-network

[2021-11-18 19:04] AMZN-Gene commented on #2615
If scripting doesn't plan to allow passing in derived type, then the networking/aws team could explicitly adds the new type.

[2021-11-18 19:10] onecent1101 commented on #2615
@AMZN-Gene see my screenshot, it should be clear that you can make connection as expected. scripting supports derived type, the issue is scripting team has inconsistent type check on slot connection and drop on slot as reference

[2021-11-18 21:12] spham-amzn commented on #4659
This is fixed with https://github.com/o3de/o3de/pull/4878

[2021-11-18 21:12] #4659 closed

[2021-11-18 21:54] monroegm commented on #3747
Fixed by #5355

[2021-11-18 21:54] #3747 closed

[2021-11-18 22:06] HogJonny-AMZN opened #5765 "RFC - Upgrade from FastNoise to FastNoise2"
The FastNoise library has had several incremental improvements since the version we originally incorporated, and now a new version called FastNoise2 is out: https://github.com/Auburn/FastNoise2

Improvements:
- Update and/or add FastNoise2 (could be new gradient signal gem, or a overhaul of the existing?)
- FastNoiseSIMD/2 is superior to FN. 3D noise generation is 5 up to 20 times faster than FN d

[2021-11-18 22:16] invertednormal commented on #5765
Agree with this upgrade, I think it should just replace the existing FastNoise.

[2021-11-18 22:24] mbalfour-amzn opened #5766 "Texture Settings dialog box crashes in the Editor"
**Describe the bug**
When trying to edit Texture Settings for an image asset, the preview in the Texture Settings dialog box either shows garbage, a "Conversion failed" message, or crashes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the Editor with the AutomatedTesting project enabled
2. Create or open a level
3. Open the Asset Browser
4. Go to Assets/Engine/textures/default_i

[2021-11-18 22:25] lumberyard-employee-dm opened #5767 "Settings Registry could use an option to merge .setreg(patch) files via the command line"
**Is your feature request related to a problem? Please describe.**
The Settings Registry allows loading of the .setreg and .setregpatch files from locations on the file system via it's MergeSettingsFile and MergeSettingsFolder API.
The SettingsRegistryMergeUtils also parses command line options that can be used to set, update, remove individual keys in the settings registry as well as to dump the

[2021-11-18 23:08] #4858 closed

[2021-11-18 23:21] monroegm commented on #5646
Depends on #2782

[2021-11-19 00:40] lsemp3d commented on #5646
Hi @monroegm! can you comment why it was re-assigned to @carlitosan ? It does not appear to be related to scripting, but more of a low level lyshine issue?

[2021-11-19 00:41] AMZN-mnaumov commented on #5646
it's been reassigned to me just updated gh

[2021-11-19 01:07] yanjin-rose commented on #5753
This is enough for me! Looking forward to adding this feature.

[2021-11-19 02:55] #5611 closed

[2021-11-19 10:22] #4666 closed

[2021-11-19 10:23] #5058 closed

[2021-11-19 10:23] #5055 closed

[2021-11-19 10:38] LB-BartoszDudzinski opened #5782 "Editor crashes after deleting root level prefab entity alongside other entities"
**Describe the bug**
When the level prefab is selected with other entities, it can be deleted alongside them, which crashes the Editor.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Select all entities.
3. Press the **Delete** key or select Delete from the context menu.

**Expected behavior**
The level prefab cannot be deleted.

**Actual behavior**
Editor crash

[2021-11-19 10:47] LB-ArturSiewniak commented on #3957
Issue verified as fixed on Development (e804fd2) and Stabilization_2110 (d30fdb7) builds.

[2021-11-19 10:48] LB-ArturSiewniak commented on #3926
Issue verified as fixed on Stabilization_2110 (d30fdb7) build, but still occurs on Development (e804fd2) - should this issue be reopened?

[2021-11-19 11:26] LB-BartoszDudzinski opened #5783 "Attempt of deleting root level prefab throws assert"
**Describe the bug**
Selecting Delete from a context menu when the level prefab is selected throws the following assert:
[code]
Additionally, the following message pops up:
[code]

When the **Delete** key is used instead, the error message does not appear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open or create a level.
2. Select the level prefab.
3. Press RMB on it and select *

[2021-11-19 11:52] hultonha commented on #3926
No it's just that stabilization won't have been merged to development yet, so it should be fixed in dev soon 👍 Thanks!

[2021-11-19 12:23] LB-KacperKapusta commented on #5740
Reopening the issue as it still occurs in Stabilization/2110 (d30fdb7) branch with the same error as described.
Please note that it has been confirmed as fixed in Development (e804fd2) branch and the building completed successfully.

[2021-11-19 13:25] LB-KacperKapusta opened #5785 "Level prefab can be detached which may lead to a crash"
**Describe the bug**
"Detach Prefab..." option is available from the context menu of Level prefabs and leads to a crash when it is used.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Select the level prefab.
3. Press RMB and notice **Detach Prefab...** option being available.
4. Select the **Detach Prefab...** option.

**Expected behavior**
"Detach Prefab..." o

[2021-11-19 13:48] #5636 closed

[2021-11-19 14:02] LB-MichalRodzos opened #5787 "Animation Editor: Opening Atom Render Window throws asserts"
**Describe the bug**
Opening the Atom Render Window in EMotionFX throws 3 asserts:

`C:/Builds/o3de/Code/Framework/AzCore/AzCore/Component/Entity.cpp(194)`
`void __cdecl AZ::Entity::Activate(void)`
`Entity should be in Init state to be Activated!`

`C:/Builds/o3de/Gems/Atom/Feature/Common/Code/Source/CoreLights/DirectionalLightFeatureProcessor.cpp(92)`
`float __cdecl AZ::Render::CascadeShadowCamer

[2021-11-19 14:58] LB-KacperKapusta opened #5788 "Linux: UI Canvas components' icons are missing from the Entity Inspector"
**Describe the bug**
Icons for UI Canvas Asset Ref, UI Canvas Proxy Ref, UI Canvas on Mesh components are missing from the Entity Inspector.

Please note that the .svg icon files for the mentioned components are present in the _/home/<user_name>/o3de/Assets/Editor/Icons_ directory.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity.
2. Select 'Add Component' and find the

[2021-11-19 16:00] #5226 closed

[2021-11-19 16:26] hultonha commented on #5602
Closing as fixed per #5658

[2021-11-19 16:26] #5602 closed

[2021-11-19 16:52] spham-amzn commented on #5744
Fixed with https://github.com/o3de/o3de/pull/5773

[2021-11-19 16:52] #5744 closed

[2021-11-19 16:55] jckand-amzn opened #5793 "Installer: Title bars on installer windows still list [Developer Preview]"
**Describe the bug**
Title bars on the latest installer windows still list [Developer Preview].

**Steps to reproduce**
1. Download the latest installer build: https://o3debinaries.org/stabilization-2110/Latest/Windows/o3de_installer.exe
2. Open the installer and observe the title bars

**Expected behavior**
Installer lists [Stable 21.11]

**Actual behavior**
Installer lists [Developer Preview]

*

[2021-11-19 17:15] AMZN-daimini commented on #5782
This is a regression introduced by https://github.com/o3de/o3de/pull/5762
I have fixed the oversight and will have a PR for this soon. Thank you for finding this :D

[2021-11-19 17:15] AMZN-daimini commented on #5785
This is a regression introduced by https://github.com/o3de/o3de/pull/5762
I have fixed the oversight and will have a PR for this soon. Thank you for finding this :D

[2021-11-19 17:22] amznestebanpapp commented on #5740
I'm in the process of merging the fix into stabilization/2110 here: https://github.com/o3de/o3de/pull/5778

[2021-11-19 17:26] VickyAtAZ commented on #5766
@mbalfour-amzn this issue is fixed in stabilization/2110 branch.

[2021-11-19 17:56] amznestebanpapp opened #5798 "Remove usage of LY_CMAKE_PATH"
**Is your feature request related to a problem? Please describe.**
This environment variable was needed because of how we were setting up cmake in the past. Now cmake is installed in the AMI image and is in the path, so it is obtained from there. However, LY_CMAKE_PATH is being used by the windows installer to be able to execute get_python. We need a better solution for that.

**Describe the solut

[2021-11-19 18:15] AMZN-alexpete commented on #5793
Could be a cache issue or the installer is using cached files

[2021-11-19 18:20] hultonha opened #5800 "Viewport highlight (accent) feedback is missing with an Entity selected"
**Describe the bug**

When an Entity is selected, hovering over other Entities does not show the Entity Icon has 'highlighted' (indicating it can be selected). This change was from when 'sticky' select was the default. It needs to be updated to give correct feedback when normal select is in operation.

**Steps to reproduce**

Steps to reproduce the behavior:

1. Open a new scene
2. Select an entit

[2021-11-19 18:24] allisaurus opened #5801 "AWS: Resource Mapping tool JSON schema for "Version" is too permissive"
During file load & validation, we currently allow any `X.X.X`-like value to be present in the "Version" key of a given resource mapping file. This isn't currently causing a problem, as we have no logic which forks based on this value, however it could issues in the future if we need to (for example) add backward breaking functionality and increment the major version to reflect the need for differe

[2021-11-19 18:44] AMZN-Phil commented on #5793
This is part fixed - [Developer Preview] should be [Stable] from the next build. I'll keep track of this until I have confirmation that the builds have been set up to pass through the correct version number.

[2021-11-19 19:11] monroegm commented on #5782
Fixed by #5794

[2021-11-19 19:11] #5782 closed

[2021-11-19 19:29] #5766 closed

[2021-11-19 19:45] AMZN-Phil commented on #3575
Fix for this has already been merged - #5592

[2021-11-19 19:45] #3575 closed

[2021-11-19 19:57] amznestebanpapp opened #5806 "Add support for relative paths to ly_add_target_files"
**Is your feature request related to a problem? Please describe.**
Currently `ly_add_target_files` requires absolute paths to files, but files.cmake and other file handling pieces allow relative paths.

**Describe the solution you'd like**
Add support to pass relative paths to `ly_add_target_files`

[2021-11-19 20:57] baothientran opened #5808 "Cannot copy 3rd-party dependencies to build directory of a new project"
**Describe the bug**
New project fails to build in the editor because the build system tries to copy only the name of the third-party dependencies, instead of their full paths, to the install directory.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the editor to create and build a new project
2. CMake generates the error below:
[CMakeProjectBuildError.log](https://github.com/o3d

[2021-11-19 21:30] jckand-amzn opened #5809 "Prefab Focus Mode: "Create camera entity from view" and "Instantiate prefab" options creates the new entity/prefab outside of the focused prefab"
**Describe the bug**
"Create camera entity from view" and "Instantiate prefab" options creates the new entity/prefab outside of the focused prefab

**Steps to reproduce**
1. Launch the Editor.
2. Open a new or existing level.
3. Create a new prefab or instantiate an existing prefab.
4. Double-click the prefab to enter Focus Mode
5. Right-click in the Viewport and select "Create camera entity from

[2021-11-19 22:02] AMZN-daimini commented on #5809
I looked into these and it doesn't look like they're regression, sounds like they were just missed during testing. Luckily another recent fix makes these just a nuisance but they should not cause crashes.

@monroegm Should we list these as known issues? Alternatively, a fix for these looks extremely simple and with a very small blast radius, so if we want to get an exception to fix this I'm up for

[2021-11-19 22:15] #5808 closed

[2021-11-19 22:22] yuyihsu commented on #3520
@Ulrick28 I think we've fixed this issue already. do you want to close this ticket?

[2021-11-19 22:22] jckand opened #5811 "Terrain: Terrain components do not have links to Component Reference/Help documentation"
**Describe the bug**
Terrain components do not have links to Component Reference/Help documentation.

**Pre-requisite**
1. Terrain is enabled for the current project

**Steps to reproduce**
1. Open a new or existing level in the Editor.
2. Create a new entity, and add any Terrain component to it.
3. Observe the missing ? button to link to help.

**Expected behavior**
All components have a help lin

[2021-11-19 22:25] AMZN-daimini commented on #5649
Due to a change introduced by this fix: https://github.com/o3de/o3de/pull/5747
I have verified the repro steps above no longer result in a crash.

On whether you should be able to add components to a container entities, I will raise that as a UX discussion but that's beyond the scope of this issue :)

[2021-11-19 22:25] #5649 closed

[2021-11-19 22:29] #5740 closed

[2021-11-19 22:43] amznestebanpapp opened #5812 "Jenkins has warning MSB8029"
**Describe the bug**
Looks like the temp directory is not in the right place. We see a lot of:
[code]
Does not produce a failure.
There is also a
[code]
message in the installer build

[2021-11-19 22:54] lawsonamzn commented on #4013
This also causes the icon for the entity to disappear in the viewport, making it more difficult to select.

[2021-11-19 23:10] amzn-tommy commented on #5690
I took a look at the provided asset. There are two issues going on. The flattening at the knees is being caused by the o3de mesh optimization. Possibly the same bug as https://github.com/o3de/o3de/issues/4644

If I disable mesh optimization, the flat knees are resolved, but the upper thigh is still popping through the hips. I believe this is caused by o3de limiting the number of skin influences to

[2021-11-20 00:02] jckand-amzn commented on #5782
Verified fix on stabilization/2110@3cf3e45b38d6626.

[2021-11-20 00:02] jckand-amzn commented on #5785
Verified fix on stabilization/2110@3cf3e45b38d6626. Closing out.

[2021-11-20 00:02] #5785 closed

[2021-11-20 00:07] amzn-tommy commented on #4644
I've narrowed this down a bit. inside MeshBuilderSkinningInfo::Optimize I'm seeing that we have a bunch of duplicate influences. We then sort the influences by weight, and remove all but the first N=maxNumWeightsPerVertex instances. But that leaves us with duplicates of the highest weighted influence, which each refer to the same jointId. So we're effectively stripping the influences down to 1, at

[2021-11-20 03:32] Bond-F opened #5819 "Feature Request: Improve Cvars Limit maximum and minimum input values"
**Is your feature request related to a problem? Please describe.**
1. The value range is not displayed for Console variable that accept string , such as 'cl_whiteBoxVertexManipulatorSize'.
2. The entered character string without verified. For example , 'cl_whiteBoxVertexManipulatorSize' accept float , if user input other characters , although it uses the default value, the Console UI still display

[2021-11-20 05:20] monroegm commented on #3716
Fixed by #5747

[2021-11-20 05:20] #3716 closed

[2021-11-20 14:52] Marsevil commented on #3097
Hello, I'm on Manjaro Linux and I experienced the same kind of issue. `get_python.sh` script ran without any error but when I tried to run cmake I got the following output

[code]

[2021-11-21 01:04] AMZN-Olex opened #5822 "Asset Processor fails to start with a new project and pre-build SDK from Stabilization/2110"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

Running AssetProcessor on a new project with Pre-build SDK fails with multiple serialization errors, for example:

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install Pre-build SDK from https://o3

[2021-11-21 01:07] AMZN-Olex commented on #5822
[AP_GUI.908783.log](https://github.com/o3de/o3de/files/7575596/AP_GUI.908783.log)

Here is the AP log. It looks like the error is coming from ScriptEvents gem.

[2021-11-21 08:44] #4810 closed

[2021-11-21 22:51] RoddieKieley commented on #3180
While the addition of the mouse and keyboard input on Linux via xcb was welcome, the gamepad/joystick support is as of yet not available. In reviewing previous discussions around this issue both sdl and glfw were discussed, and with sdl being removed recently and the glfw a seemingly simpler to grok and perhaps extract while being fairly mature.

In an effort to not re-invent the wheel, I've start

[2021-11-22 00:52] NiklasHenricson opened #5825 "Maximized (Fullscreen) vs. Windowed Mode Buttons"
O3DE's Project Manager Window & O3DE's Editor Window should have the standardized icons for maximize/minimize

Maximized state shows incorrect symbol:
<img src="https://navaria-online.com/assets/images/o3de-max.png">

Windowed state shows correct symbol:
<img src="https://navaria-online.com/assets/images/o3de-min.png">

What is should be in fullscreen/maximized mode:
<img src="https://navaria-onli

[2021-11-22 03:12] nielianpeng opened #5828 "[Animation] Some functions in the Editor Sequence function box in Track View will not be tested (they will not be used or test methods are required)."
**Describe the bug**
[Animation] Some functions in the Editor Sequence function box in Track View will not be tested (they will not be used or test methods are required).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Choose Tools > Track View > Editor Sequence Properties from O3DE.
2.1. Select Noseek.
2.2, Update Movie System First
2.3. Select Cut-Scene-Non-Skippable.
2.4. Select Cut

[2021-11-22 09:09] Hsuehnj commented on #5442
In function AssetBrowserTableView::ClearFilter()，add null pointer check of m_sourceFilterModel:
Code/Framework/AzToolsFramework/AzToolsFramework/AssetBrowser/Views/AssetBrowserTableView.cpp
if (m_sourceFilterModel)
 {
       m_sourceFilterModel->FilterUpdatedSlotImmediate();
  }

[2021-11-22 09:10] #5392 closed

[2021-11-22 10:25] RoddieKieley commented on #3180
For the moment when in debugging mode I simply ensure that ShowCursor always shows the cursor as per this commit on the 'HiddenCursorInDebugFix' branch in my copy of the repo at commit [758e4e6e8939e771559fc054f4b7762d4c4a4928](https://github.com/RoddieKieley/o3de/commit/758e4e6e8939e771559fc054f4b7762d4c4a4928). The behaviour was such that the cursor was hidden globally for the X window system, y

[2021-11-22 12:12] LB-TomaszSerwanski commented on #4858
Fix verified on Stabilization_2110 (a0ab592).

[2021-11-22 12:43] LB-TomaszSerwanski opened #5832 "Asset Browser tab gets corrupted when searching for an asset using the Search field"
**Describe the bug**
If the User inputs more than 4 characters when searching for a certain asset, the Asset Browser becomes corrupted.
This makes all the results disappear until the Asset Browser tab is resized or undocked.

Please refer to the attached video for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Asset Browser tool.
2. Start searching for an asset

[2021-11-22 12:44] LB-KacperKapusta commented on #5740
Verified the issue as fixed in Stabilization/2110 (a0ab592).

[2021-11-22 12:44] LB-KacperKapusta commented on #5785
Verified the issue as fixed in Stabilization/2110 (a0ab592).

[2021-11-22 14:04] LB-JakubSkorupka commented on #5649
Fix verified on Stabilization_2110 (a0ab592), reproducing the issue does not result in Editor crash.

[2021-11-22 14:53] LB-BartoszDudzinski commented on #5782
Verified as Fixed in Stabilization

[2021-11-22 16:54] #5471 closed

[2021-11-22 16:54] AMZN-alexpete commented on #5793
The title appears fixed in the latest installer.

[2021-11-22 16:57] Kadino commented on #4404
It may be best for third party dependencies to use non-debug builds when O3DE builds in debug. I believe an RFC on this is necessary.

[2021-11-22 18:31] lmbr-pip commented on #5819
@Bond-F Can you provide screenshots / add clarification as to which cvar editing experience you are refereeing to. O3DE supports:

* The console tool in the editor
* The console viewport window debug mode in gameplay mode (launch the game and hit ~)

This issue probably impacts both but want to ensure we accurately capture the issue.

[2021-11-22 19:03] jckand-amzn opened #5837 "Prefabs: Creating a prefab moves the newly created prefab to the end of the Entity Outliner list"
**Describe the bug**
Creating a prefab moves the newly created prefab to the end of the Entity Outliner list

**Pre-requisites**
1. Prefabs are enabled for the current project.

**Steps to reproduce**
1. Open a new or existing level in the Editor.
2. Create several new entities.
3. Select the first entity in the Outliner, and create a prefab from it.

**Expected behavior**
Prefab is created in pla

[2021-11-22 19:07] jckand-amzn opened #5838 "Prefabs: Duplicating a prefab moves the new prefab instance to the end of the Entity Outliner list"
**Describe the bug**
Duplicating a prefab moves the new prefab instance to the end of the Entity Outliner list.

**Pre-requisites**
1. Prefabs are enabled for the current project.

**Steps to reproduce**
1. Open a new or existing level in the Editor.
2. Create several new entities.
3. Create a new prefab out of each of the new entities.
3. Select the first prefab in the Outliner, and duplicate it.

[2021-11-22 19:59] amznestebanpapp commented on #5387
Already solved by https://github.com/o3de/o3de/pull/5567

[2021-11-22 19:59] #5387 closed

[2021-11-22 20:03] #5679 closed

[2021-11-22 20:03] #5014 closed

[2021-11-22 20:10] amznestebanpapp commented on #3550
Removing sig/build since this is related to launching the editor.

[2021-11-22 20:11] amznestebanpapp commented on #3799
Seems this is resolved @amzn-pratikpa

[2021-11-22 20:14] mbalfour-amzn commented on #5811
These components should have docs links:
* Axis Aligned Box Shape
    * https://o3de.org/docs/user-guide/components/reference/shape/axis-aligned-box-shape/
* PhysX Heightfield Collider
    * https://o3de.org/docs/user-guide/components/reference/physx/heightfield-collider/
* Terrain Height Gradient List
    * https://o3de.org/docs/user-guide/components/reference/terrain/height_gradient_list/
* Terr

[2021-11-22 21:30] junbo75 opened #5844 "Feature Request: Upgrade the Kinesis data analytics application deployed by AWS Metrics CDK"
**Is your feature request related to a problem? Please describe.**
 Kinesis data analytics applications deployed by the AWS Metrics CDK are currently marked as legacy SQL applications in the AWS Kinesis console.

We should consider to update the CDK application to use streaming applications instead. For new applications, Kinesis also recommends that developers use Kinesis Data Analytics Studio ins

[2021-11-22 21:52] jckand-amzn commented on #5811
Verified the 6 components listed above now properly link to help documentation on stabilization/2110@1f2385ca1adb42238. Ticket will remain open until the rest can be verified.

[2021-11-22 22:21] #5440 closed

[2021-11-22 23:17] jckand-amzn opened #5846 "Terrain: Viewport flickers when entering Game Mode with Show Wireframe enabled on Terrain World Debugger"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Pre-requisites**
1. Terrain Gem is enabled/built for the active project.

**To Reproduce**
1. Create a new level in the Editor.
2. Select the Level entity, and Add Component > Terrain World, Terrain World Renderer, an

[2021-11-22 23:43] amznestebanpapp opened #5848 "ViewportEditorModeNotifications::Reflect method seems to not be called"
**Describe the bug**
I have a script that deletes file contents in search for unused code. Was surprised to find that `ViewportEditorModeNotifications::Reflect` seems to not be called at all.
To reproduce you can delete the implementaion of the method, if it was called from some place, it would give a linking error.

**Expected behavior**
Call it or remove the method

[2021-11-23 01:11] lmbr-pip opened #5853 "Android Launcher Logs: Incorrectly logs banners as "Amazon Lumberyard""
**Describe the bug**
On Android, launching an app decorates the logs with

[code]

See https://github.com/o3de/o3de/blob/46c6923bf733afcc621dfccea6b9641467cedf80/Code/LauncherUnified/Platform/Android/Launcher_Android.cpp

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build project for Android
2. Launch project and collect logs

**Expected behavior**
* Clear branding around O3DE

**Act

[2021-11-23 01:21] Kadino commented on #4866
These tests appear to be maintained by SIG-Core

[2021-11-23 01:25] sysuNie commented on #3560
Steps to reproduce:
1. Use the animation editor to open any Actor corresponding to an FBX file.
2. Click on a skeleton with Ragdoll added in the Skeleton Outliner window, and then modify the parameters in the Ragdoll window
3. Click File->Save All in the animation editor to save the modified parameters
4. After closing the editor and reopening it, it is found that the modified parameters in the Ra

[2021-11-23 01:25] lmbr-pip opened #5854 "[LYShine] UI Editor - Help menu has incorrect or outdated information"
**Describe the bug**
UI Editor in O3DE Editor has legacy help menu that:

* **Documentation** links to https://o3de.org/docs/user-guide/interactivity/user-interface/ instead of the more natural landing page of https://o3de.org/docs/user-guide/interactivity/user-interface/editor/
* **Forum** links to https://o3deorg.netlify.app/community/ instead of https://o3deorg.netlify.app/community/
* **Feedba

[2021-11-23 01:25] sysuNie commented on #3560
Steps to reproduce:
1. Use the animation editor to open any Actor corresponding to an FBX file.
2. Click on a skeleton with Ragdoll added in the Skeleton Outliner window, and then modify the parameters in the Ragdoll window
3. Click File->Save All in the animation editor to save the modified parameters
4. After closing the editor and reopening it, it is found that the modified parameters in the Ra

[2021-11-23 01:25] Kadino commented on #3311
Closing this issue as it appears the requested feature exists within Python. Feel free to re-open with more context on what functionality you are trying to achieve.

[2021-11-23 01:25] #3311 closed

[2021-11-23 03:30] sysuNie opened #5858 "[Animation]Use the simple lod distance component to load a simple action on the model. After zooming out, the action will stop playing. Without this component, the action can be played normally after zooming out."
**Describe the bug**
Use the simple lod distance component to load a simple action on the model. After zooming out, the action will stop playing. Without this component, the action can be played normally after zooming out.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Create a entity'
2. Click on 'add Actor simple motion and simple lod distance component'
3. Select attached as

[2021-11-23 03:50] Hsuehnj opened #5859 "Script events can not be synchronized to lua editor in real time"
**Is your feature request related to a problem? Please describe.**
After creating a new script event, it is synchronized to script canvas editor in real time.
I need to close the lua editor and reopen it to get the newly created script event in the Classes Reference of lua editor.

**Describe the solution you'd like**
The changing (create, update and delete) of script event can be synchronized to

[2021-11-23 08:00] amzn-jillich commented on #5858
Helping to upload the video shared via Discord from @sysuNie : "I cannot upload the video, I post it here and please help me upload it.)"
https://user-images.githubusercontent.com/43751992/142988348-5680a70a-5c62-4f1f-ab69-901d6cbd710a.mp4

[2021-11-23 08:48] LB-BartoszDudzinski opened #5861 "Feature Request: Create a node acting as any input in Game Mode"
**Is your feature request related to a problem? Please describe.**
A user has to set up a large amount of input handlers and bindings to add "Press any key" functionality to his game.

**Describe the solution you'd like**
A single "AnyInput" node that can be easily added to a graph, which registers any given key or button press.

**Describe alternatives you've considered**
The alternative would be

[2021-11-23 09:45] LB-ArturSiewniak commented on #3575
Issue verified as fixed on Stabilization_2110 (ba32937) build.

[2021-11-23 09:57] Mobs1024 commented on #4812
stabilization/2110 ba329378677590cdad0019c476cccccb5dec102f

https://user-images.githubusercontent.com/17591539/143003764-45d2b1dd-836a-4588-857d-e5a9efa73dea.mp4

[Editor.log](https://github.com/o3de/o3de/files/7587086/Editor.log)
[crash.log](https://github.com/o3de/o3de/files/7587087/crash.log)

[2021-11-23 10:23] LB-TomaszSerwanski opened #5862 "Linux: Building Projects using the Project Manager fails with the "ninja: build stopped: subcommand failed""
**Describe the bug**
Building Projects via the Project Manager may fail due to ninja: build stopped: subcommand failed. As stated in [#5445](https://github.com/o3de/o3de/issues/5445), this is due to the system running out of memory, however, unlike in the command line, it is not possible to pass building parameters (i.e. DLY_PARALLEL_LINK_JOBS=4) to the Project Manager.

The workaround is to build

[2021-11-23 12:15] amzn-jillich commented on #5858
I was able to reproduce the issue here. The issue only happens when a simple LOD component is present and might be related to the LOD overwrite for the mesh component. The animations are still evaluated and the skeleton gets transformed - though the skin decides to not deform anymore. Changing the distance values in the simple LOD component does not influence the result.

https://user-images.githu

[2021-11-23 12:25] LB-KacperKapusta opened #5864 "Editor crashes upon adding Diffuse Global Illumination component to the Level Inspector"
**Describe the bug**
Adding the Diffuse Global Illumination component to the Level Inspector results in a crash.

Please refer to the attached logs and Visual Studio Call Stack Trace for more information.

**Prerequisites**

- Prefabs are disabled.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Open Level Inspector.
3. Press **Add Component**.
4. Select **Diffus

[2021-11-23 12:28] #5800 closed

[2021-11-23 12:36] LB-TomaszSerwanski opened #5865 "Linux: Project tabs become overlapped after building in Project Manager"
**Describe the bug**
Building a Project in Project Manager which contains at least two Projects results in the Project tabs being overlapped on the first slot.

Please note that the issue can be fixed by switching to the Engine tab and back to Projects.

Please also note, that the issue was already reported and fixed on Windows back in August ([#3629](https://github.com/o3de/o3de/issues/3629)).

P

[2021-11-23 12:40] LB-KacperKapusta opened #5866 "Editor freezes indefinitely upon adding both the Terrain World and the Terrain World Renderer components to the level prefab entity"
**Describe the bug**
Adding both the Terrain World and the Terrain World Renderer components to the level prefab freezes the Editor indefinitely.

The issue does not occur on the Development (ebd679d) branch.
Please note that no relevant logs were created.

**Prerequisites**

- Prefabs are enabled.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Select the level

[2021-11-23 13:12] Bond-F commented on #5819
@lmbr-pip Oh, I'm sorry I did not make it clear. Those things I said were in the editor. **The console tool in the editor**. Look at the picture below.
![1 (1)](https://user-images.githubusercontent.com/94030027/143030190-943c07bc-e0d3-4c9c-a8fe-72759b3b15ca.jpg)

[2021-11-23 13:19] LB-KacperKapusta commented on #5744
Verified the issue as fixed in Stabilization/2110 (ba32937).

[2021-11-23 13:55] LB-ArturZieba opened #5868 "[Assert] Entering Game Mode after setting a Camera FOV to be equal or less than 0 causes an assert to pop up"
**Describe the bug**
Setting a Camera FOV to a negative value or 0 causes an assert to pop up. Camera can be set to these values using one of three Script Canvas nodes: Set FOV, SetFovDegrees or SetFovRadians.

File:
[code]
Condition:
[code]
Line: 22

**Steps to reproduce**
Steps to reproduce the behavior:
1. Execute the sys_asserts 2 command.
2. Create an entity with Camera and Script Canvas comp

[2021-11-23 14:43] LB-ArturSiewniak opened #5869 "Exposure Control component's Eye Adaptation does not get greyed out when Control Type is set to Manual Only"
**Describe the bug**
Eye Adaptation category of parameters in the Exposure Control component does not get greyed out if they are not useable (Control Type is set to Manual Only). This is inconsistent with other components - e.g. DepthOfField component greys out Auto Focus parameters category if the Enable Auto Focus parameter is disabled.

**Steps to reproduce**
Steps to reproduce the behavior:
1.

[2021-11-23 14:50] LB-JakubSkorupka opened #5870 "Using "-DLY_PROJECTS=" argument when creating new Visual Studio project for the engine and a new O3DE project results in configuration failure"
**Describe the bug**
The **"-DLY_PROJECTS=_ProjectName_"** argument used during creation of a Visual Studio project for the engine and new O3DE project results in "Configuring incomplete, errors occurred!" - please refer to the attached logs for further details:

[CmakeVSProjectGenFIRST.txt](https://github.com/o3de/o3de/files/7587099/CmakeVSProjectGenFIRST.txt)

Attempting to create an Visual Stud

[2021-11-23 15:29] mbalfour-amzn commented on #5866
@LB-KacperKapusta Have you been able to reproduce this more than once?  I can't reproduce this using a build from the same CL and the same steps and project shown in the video.

[2021-11-23 15:42] HogJonny-AMZN commented on #5765
This is not a sig graphics audio ticket it's part of content systems, it's most closely tied currently to terrain tools and workflows and 'world building'

[2021-11-23 16:01] LB-KacperKapusta commented on #5866
@mbalfour-amzn I can constantly reproduce the issue using the mentioned CL and steps described above. It has been confirmed on another machine with Intel CPU during the day.

[2021-11-23 16:09] greerdv commented on #5010
Does this problem happen with prefabs as well? Slices will be deprecated in favour of prefabs, so bugs with slices are not heavily prioritized.

[2021-11-23 16:22] mbalfour-amzn commented on #5866
Are you running from within Visual Studio?  If so, can you hit the Break All button when it's locked up and provide information on the Main Thread callstack by going to Debug->Windows->Threads, selecting the Main Thread, hovering over the "Location", and taking a screen shot of the callstack?
![image](https://user-images.githubusercontent.com/82224783/143062928-b2568b65-011c-47de-94f7-a0dc165c347a

[2021-11-23 16:36] jckand-amzn commented on #5866
I'm also unable to reproduce on stabilization/2110@ba329378677590cdad0019c476cccccb5dec102f.

[2021-11-23 16:40] LB-KacperKapusta commented on #5866
@mbalfour-amzn
![VS1](https://user-images.githubusercontent.com/86953659/143066344-411bbc96-bce4-417e-9c3d-2c41c2e63ea3.PNG)
![VS2](https://user-images.githubusercontent.com/86953659/143066351-4285ed03-0807-4e5b-8422-84de763d23b1.PNG)

[2021-11-23 17:20] LB-ArturSiewniak commented on #5866
Hi, I've checked this issue on the Stabilization_2110 (ba32937) build on a new project as well as a rebuilt AutomatedTesting and it does not occur, however my specs are different from @LB-KacperKapusta (notably the CPU is AMD and not Intel):
Device: PC
OS: Windows
Version 10
CPU AMD Ryzen 5 3600 6-Core Processor, 3600 MHz, 6 Core(s), 12 Logical Processor(s)
GPU NVIDIA GeForce RTX 2060 SUPER
Memory

[2021-11-23 18:09] onecent1101 opened #5874 "Feature Request: multi-threaded safe AZ::Event"
**Is your feature request related to a problem? Please describe.**
We plan to identify asynchronous request and response, by using current EBus system, we have to pass id/context value around.
Event system which is separate from the EBus system which allows using an Event pattern on per object basis (instead of per class as the EBus syste), which fits our use case.

**Describe the solution you'd l

[2021-11-23 18:13] mbalfour-amzn commented on #5866
@LB-KacperKapusta Are you certain that your code is compiled with the CL you listed?  The callstck you show there shows that it's in CullingScene::BegingCulling line 766, where it's calling StartAndWaitForCompletion().  When I'm synced to that CL, that line occurs on line 743 for me:
![image](https://user-images.githubusercontent.com/82224783/143081018-85aa367d-f5f4-4780-8be2-cf8502e188e1.png)

[2021-11-23 18:27] amzn-phist commented on #5617
@oleksiiterekhov  Can you please post your `wwise_config.json` here?  I just tested it on my end and I'm able to get the cache looking correct:
![wwise_multi_platform_cache](https://user-images.githubusercontent.com/52085794/143082803-6d6c1e7f-08b5-4561-86c8-9e2dbd725a06.png)

[2021-11-23 18:40] oleksiiterekhov commented on #5617
Hi!

[code]
generated by
https://github.com/o3de/o3de/blob/development/Gems/AudioEngineWwise/Tools/WwiseConfig/setup_wwise_config.py

[2021-11-23 18:51] AMZN-Gene opened #5876 "Explicit Newline Support for Script Canvas Print Node"
**Is your feature request related to a problem? Please describe.**
Script Canvas print currently allows pasting in newline characters, but it would be nice to have explicit support for a proper escape characters. (ex: \n)

**Describe the solution you'd like**
Adding \n to a Print node should create a newline

[2021-11-23 18:51] #2908 closed

[2021-11-23 18:55] #2905 closed

[2021-11-23 19:38] monroegm commented on #5858
Since it seems to be more on the LOD side, we'll let SIG-Graphics-Audio own triaging

[2021-11-23 19:41] monroegm commented on #5848
@hultonha Good first issue?

[2021-11-23 19:45] monroegm commented on #5832
@AMZN-Igarri FYI

[2021-11-23 19:48] monroegm commented on #5828
We think this is about the lack of the ability to preview these functions

[2021-11-23 19:53] amznestebanpapp opened #5878 "Test output in source tree"
**Describe the bug**
Found some files that are being stored in the source tree by testing:
[code]
As noted, this fails validation, it doesnt trigger in Jenkins because the validation job runs in a different volume than the tests. But this would fail in a developer's local machine.
We should not be outputting temporary data into the source tree, this complicates developers, e.g. is not in gitignore

[2021-11-23 19:53] monroegm commented on #5783
@AMZN-daimini Already fixed?

[2021-11-23 19:56] AMZN-daimini commented on #5783
Tested on latest stabilization, "Delete" is not displayed in the RMB menu.

This fix from last Friday should have fixed this: https://github.com/o3de/o3de/pull/5794

Will close, but feel free to re-open if you still repro :)

[2021-11-23 19:56] #5783 closed

[2021-11-23 19:57] monroegm commented on #2615
@lsemp3d Can you help with the prioritization of this one?

[2021-11-23 20:24] lsemp3d commented on #2615
This is a request for the AWS scripting api, @lmbr-pip any thoughts?

[2021-11-23 21:13] tjmichaels opened #5881 "Clean up and consolidate version usage throughout the engine"
There are multiple references to the version number throughout the code, the installer and builds.  These should be consolidated where possible and should all be consistent.

This will likely impact multiple areas of code and multiple sigs.  At the minimum, sig/build and sig/content, along with feature/editor, feature/installer, feature/build.  Possibly more.

[2021-11-23 21:14] tjmichaels commented on #5881
@Ulrick28 for additional information if he knows of other areas that need to be addressed.

[2021-11-23 21:16] #5812 closed

[2021-11-23 21:53] amznestebanpapp commented on #5881
the CMake cache variable `LY_VERSION_STRING` is supposed to drive all this. It can be overridden with in the environment variable `O3DE_VERSION`
that is what gets passed to the installers and to the Editor/CrashHandler.

[2021-11-23 22:04] amzn-phist commented on #5617
I tried again with a newly created project and ran `AssetProcessorBatch` rather than `AssetProcessor`.  My `wwise_config.json` looks "similar" to yours, at least the pc/windows platform which I'm testing on.  I get the expected files in my cache again:
![wwise_multi_platform_cache_2](https://user-images.githubusercontent.com/52085794/143131884-8d65bb5e-fa27-4a9e-bc70-ea08db392c61.png)

If you have

[2021-11-23 22:07] amznestebanpapp commented on #5870
@LB-JakubSkorupka where are you running step (6) from? if you are running it from the engine, LY_PROJECTS need to have a relative path to the project. The engine doesnt know how to find the project.
If you are running it from the project, you dont need to pass LY_PROJECTS

I couldn't find "-DLY_PROJECTS=ProjectName" argument in the documentation to update it, it should be "ProjectPath" and a note

[2021-11-23 22:19] Kadino commented on #5878
Definitely strange that CTest is not placing these files into the output directory. Perhaps this is a quirk of pwd management inside build scripts.

@amznestebanpapp can you clarify the method(s) used to run these tests, in the repro steps?

[2021-11-23 22:43] Kadino opened #5884 "Tests do not immediately respond to keyboard interrupt"
**Describe the bug**
When tests are launched from the commandline, they should also terminate from the commandline. While the tests and their target applications did eventually terminate, they should more quickly respond to termination.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the editor
2. Execute tests by opening a terminal to the o3de build-output directory and executin

[2021-11-23 23:22] Ulrick28 commented on #5822
This has been resolved

[2021-11-23 23:27] carlitosan commented on #5822
https://github.com/o3de/o3de/pull/5851

[2021-11-23 23:28] amznestebanpapp opened #5886 "Add support for "unhandled exceptions" in Linux"
**Is your feature request related to a problem? Please describe.**
O3DE for Windows intercepts unhandled exceptions through  `AZ::Debug::Platform::HandleExceptions`, but we dont have a similar implementation in Linux. However, there is some code from Cry that does it and its wrapped with `AZ_TRAIT_USE_CRY_SIGNAL_HANDLER`.

**Describe the solution you'd like**
Add support for signal handlers in Lin

[2021-11-23 23:28] carlitosan commented on #5822
https://github.com/o3de/o3de/pull/5851

[2021-11-23 23:29] amznestebanpapp opened #5887 "Remove trait `AZ_TRAIT_LAUNCHER_USE_CRY_DYNAMIC_MODULE_HANDLE`"
**Is your feature request related to a problem? Please describe.**
`AZ_TRAIT_LAUNCHER_USE_CRY_DYNAMIC_MODULE_HANDLE` is not used anymore.

**Describe the solution you'd like**
Remove

[2021-11-23 23:31] amznestebanpapp opened #5888 "Remove `NOT_USE_CRY_MEMORY_MANAGER`"
**Is your feature request related to a problem? Please describe.**
`NOT_USE_CRY_MEMORY_MANAGER` is not used anymore, there is no need to pass it around

**Describe the solution you'd like**
Remove

[2021-11-23 23:33] amznestebanpapp opened #5889 "Remove any usage of `_SCL_SECURE_NO_WARNINGS`"
`_SCL_SECURE_NO_WARNINGS` has been used to shut a warning around usage of unsafe functions being used.

Remove any mention of `_SCL_SECURE_NO_WARNINGS` and fix the warnings appropriately (i.e. calling the safe versions of the functions)

[2021-11-24 00:33] junbo75 opened #5892 "Feature Request: Add end-to-end tests for AWS Gems on Linux"
**Is your feature request related to a problem? Please describe.**
AWS gems (AWSCore, AWSClientAuth and AWSMetrics) have end-to-end tests that can verify the gem basic functionalities on Windows, but there're no such automation tests defined for Linux and developers have to test the gems manually on Linux.

**Describe the solution you'd like**
Same automation tests are enabled on Linux to simply t

[2021-11-24 02:13] junbo75 opened #5895 "Bug Report: [AssetProcessor] TickBus was called from multiple threads incorrectly and caused a warning/error about the EBus"
**Describe the bug**
Processing assets on Linux can occasionally fail with an error that complains about the mutex for TickBus.

**Steps to reproduce**
Check failures at https://jenkins.build.o3de.org/job/O3DE/job/development/1160/ or https://jenkins.build.o3de.org/job/O3DE/job/stabilization%2F2110/223/

**Expected behavior**
Assets are processed successfully on Linux

**Actual behavior**
Got the

[2021-11-24 03:29] AMZN-Phil commented on #5793
This should be fixed in the latest installer.

[2021-11-24 03:29] #5793 closed

[2021-11-24 07:05] LB-BartoszDudzinski commented on #5783
Verified as Fixed in Stabilization.

[2021-11-24 07:43] MoMoPF opened #5898 "Irregular entity motion when using offset in PhysX Collider"
**Describe the bug**
When I set the Offset in the PhysX Collider component to make the entity and the collider separated, the collision seems to be confusing that the entity may make irregular circular motions when it collides with the plane while it is just affected by gravity.
I thought the offset just determines the real position of collider and it won't change the motion. Is it a bug or my mis

[2021-11-24 08:37] oleksiiterekhov commented on #5617
Maybe in your case works default code path in https://github.com/o3de/o3de/blob/development/Gems/AudioEngineWwise/Code/Source/Builder/WwiseBuilderWorker.cpp:
[code]
and the createJob is always **true**

Please try with my config file and with several subfolders in sounds\wwise
[code]
And look on pc Cache folder - if you receive all three (ps4 + windows + xboxone) subfolders - your wwise_config.jso

[2021-11-24 09:02] LB-JakubSkorupka commented on #5870
@amznestebanpapp I ran step (6) from the engine root directory, so the relative path to the project is correct as the AutomatedTesting project folder is present in the engine root folder.
I also was not able to find this argument in the documentation, the "ProjectName" was an assumption based on how this argument was usually used when building.

[2021-11-24 09:29] hultonha commented on #5848
This could be one for @jonawals to take a look at as I believe he added this code. If someone else is able to pick it up before that's also great (it might be tricky as a first issue to know where best to call it).

[2021-11-24 09:38] Mobs1024 opened #5899 "[GNU/LINUX] Lua script file not found"
**Describe the bug**
Create lua file successfully but what is wrong ignore the file and does not open the script and does not start the lua script does not work

**Steps to reproduce**

https://user-images.githubusercontent.com/17591539/143210993-70ca2438-a91e-44da-88d7-51a8dce03379.mp4

**Screenshots/Video**
![2021-11-24_12-16_1](https://user-images.githubusercontent.com/17591539/143211932-6b91f1

[2021-11-24 10:45] jonawals commented on #5848
Fixed [here](https://github.com/o3de/o3de/pull/5900).

[2021-11-24 11:35] LB-MateuszSzweda commented on #5010
@greerdv  I have verified that this does not occur with prefabs against stabilization/2110 (99d0c39) and Development (7975629) .
Spawning had to be done with Script Canvas Spawning>Spawn node as the Spawner component does not support spawning prefabs.

[2021-11-24 12:44] #5657 closed

[2021-11-24 13:02] LB-MariuszCiechomski commented on #5822
The issue still occurs in stabilization branch (99d0c39) and the latest installer. Attaching a video of the outcome.

https://user-images.githubusercontent.com/90192082/143243351-552dec91-a1bb-4491-a6e1-7dca08193d73.mp4

[2021-11-24 13:12] hultonha opened #5902 "Update AZ::RPI::View ViewToWorld and WorldToView functions to accept and return Matrix3x4 types as opposed to Matrix4x4"
**Is your feature request related to a problem? Please describe.**

This issue is related to a PR to update the API of various `WorldToScreen` and `ScreenToWorld` functions (https://github.com/o3de/o3de/pull/5803). It would be optimal (from a cognitive load as well as a memory/performance standpoint) for the 'view' matrices (that consist of pure rotation and translation) to be stored as `Matrix3x4

[2021-11-24 13:44] LB-JakubSkorupka opened #5903 "Script Canvas: If number value in node exceeds 4 digits, inaccurate scientific notation is displayed in the value slot of the node"
**Describe the bug**
Entering an number that is longer than 4 digits to the **Number** value node slot results in displaying that number in an scientific notation that does not match the entered number. E.g. If **"54321"** is entered, then the displayed number will be **"5.432e+04"** which in regular notation is **"54320"**.

Please note, that Script Canvas uses the number entered, not the number

[2021-11-24 14:38] LB-KacperKapusta commented on #5866
@mbalfour-amzn I have confirmed that the issue does still occur on Stabilization/2110 (99d0c39) branch for AutomatedTesting project. The engine has been built under the AutomatedTesting directory with the following output:
[CMD_AutomatedTesting_Building.txt](https://github.com/o3de/o3de/files/7596381/CMD_AutomatedTesting_Building.txt), which has not indicated any building errors.

The issue has al

[2021-11-24 14:38] LB-ArturZieba opened #5904 "Linux: Closing the Editor or killing its process leaves a ghost process until the Project Manager is closed"
**Describe the bug**
If the Editor is closed or its process is killed via the System Monitor on Ubuntu 20.04.3 LTS, it leaves a ghost process until the Project Manager is closed. These processes while not having any CPU, Memory or Disk usage, still have a unique process ID which looks like a potential memory-leak-type of issue.

Please refer to the attached screenshot and video for more informatio

[2021-11-24 15:53] amzn-jillich commented on #3560
We have received more information about this issue:

The issue is not about the ragdoll specifically, it is about the Save All file menu entry.

Save All only saves all dirty files (which is not clear by the menu entry name). And there are some settings, most of them part of the reflected property editors around the editor that don't set the dirty flag for assets/actors. So save all fails in case

[2021-11-24 16:20] hultonha commented on #5832
Tagging @yuyihsu to check if we would like to try and get this into RTE-Stabilization or if we leave this in development

[2021-11-24 16:24] mbalfour-amzn commented on #5866
I'm still unable to reproduce with a clean build using the 99d0c39 CL using the same build command that you listed in CMD_AutomatedTesting_Building.txt.

Can you please try the following?
* Delete the following folders to ensure a clean code and asset build:  build/windows_vs2019, Cache, user/Atom
* Rebuild, run the Asset Processor to let it process all the assets again, then run the Editor and pe

[2021-11-24 16:40] monroegm commented on #5515
@hultonha Is currently looking into the possibility of this

[2021-11-24 16:44] monroegm commented on #3166
Sending this over to SIG-Core because it seems like a feature request for a specific math-related node

[2021-11-24 16:45] monroegm commented on #3167
Sending over to SIG-Core because this appears to be a feature request for a specific physics-related node

[2021-11-24 16:48] monroegm commented on #4193
@LB-TomaszSerwanski Can you give a concrete example of how you would use this?

[2021-11-24 17:06] lsemp3d commented on #3763
This is now fixed through a series of updates to Script Canvas' translation data

[2021-11-24 17:08] lawsonamzn opened #5909 "Asset Processor Stats tracking is not correctly accounting for file hashing time."
**Describe the bug**
When AssetProcessorBatch finishes processing, it outputs a list of statistics.  The statistics always show hashfile as taking 000 milliseconds, which isnt' possible.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run AssetProcessorBatch.exe for any project, and view the stats on completion.  Alternatively, go look at the CI build fleet, for example: https://jenkin

[2021-11-24 17:08] lsemp3d commented on #4199
The vast majority of node categories and names have been standardized. There is work remaining to do a complete pass on tooltips and slot labels.

[2021-11-24 17:08] #4199 closed

[2021-11-24 17:11] #3763 closed

[2021-11-24 17:19] hultonha commented on #3763
Awesome! 😄 🎉

[2021-11-24 17:45] hultonha commented on #5515
This is related to an ongoing task around issues selecting manipulators, this is definitely a nice idea and something I think we can support pretty easily. I'm working on a number of viewport/manipulator polish items over the next little while so will be sure to take a look at this :+1:

[2021-11-24 18:16] amzn-changml commented on #5520
https://jenkins.build.o3de.org/job/O3DE-Stabilization_2110_nightly-installer/23/ was spillover from an installer run. We're adding filters to remove this job from these tickets. That said, this issue has been resolved.

[2021-11-24 18:16] #5520 closed

[2021-11-24 18:29] Bindless-Chicken opened #5912 "Quad lights can produce abnormal values when intersecting a surface"
**Describe the bug**

Quad lights can produce abnormal values when intersecting with a surface.

**Steps to reproduce**

1. Create a scene with a cube, a quad light, and a bloom post process.
2. Activate the bloom post process.
3. Move the quad light so that it collides with the cube.
4. Move the camera around the intersection point.
5. Observe the black squares.

**Expected behavior**

Light targ

[2021-11-24 18:37] Bindless-Chicken commented on #5912
I'm currently working on a fix for it.
CC @invertednormal for visibility.

[2021-11-24 18:50] invertednormal commented on #5912
Nice catch, guess the plan is to add max(x, epsilon) to the rsqrt() functions in IntegrateEdge() and IntegrateEdgeDiffuse()?

[2021-11-24 20:14] #5283 closed

[2021-11-24 20:20] lsemp3d commented on #3463
These nodes are now properly categorized
![image](https://user-images.githubusercontent.com/58790905/143307953-fd01610b-36e6-4c74-be09-dc57ed0d127f.png)

[2021-11-24 20:20] #3463 closed

[2021-11-24 20:21] lsemp3d commented on #4782
Unable to repro, closing

[2021-11-24 20:21] #4782 closed

[2021-11-24 20:26] lsemp3d commented on #3489
I recently added a tooltip addition that shows the C++ counterpart to any given node, while it doesn't automatically take you there, it gives you the details needed to find the functionality in the code base.
![image](https://user-images.githubusercontent.com/58790905/143308549-f09187b9-9ee1-487f-987e-43668bf24c44.png)

[2021-11-24 20:29] lsemp3d commented on #2970
Adding feature/viewport label as this is a problem in the viewport's scripting API.

[2021-11-24 20:32] lsemp3d commented on #2764
Moving to sig/graphics-audio, this looks like functionality in atom that could be exposed to scripting

[2021-11-24 20:35] lsemp3d commented on #2750
The outlier is the last case which was introduced to accommodate the use of AZ::Event in the Physics scripting APIs, it needs to be refactored so that it is consistent with the way event nodes look. The InputHandler node was intended to be replaced with event handling nodes but it hasn't been prioritized.

[2021-11-24 20:37] lsemp3d commented on #3772
Duplicate of #2714

[2021-11-24 20:37] #3772 closed

[2021-11-24 20:43] lsemp3d commented on #2191
The problem here is that the abstract interfaces were reflected to the BehaviorContext rather than the class that implements the behaviors.
[code]
The Method definitions above need to be moved under the concrete class `BlendShapeAnimationData` below:

[code]

The abstract interface class does not need to be reflected to the BehaviorContext

[2021-11-24 20:47] lsemp3d commented on #4211
The class reference is already used externally by the Lua IDE, it does so using GridHub/GridMate which ideally need to be changed to using standard sockets instead to be more portable.

[2021-11-24 20:54] lsemp3d commented on #3072
Moving to sig/graphics-audio, this is an issue related to a rendering scripting API. On latest development I see the Name field is a string, so that part does not appear to be a problem anymore. The only question I have is with regards to Set/Get Property Override which has an 'any' slot, it would appear the only valid configuration possible is the following:

![image](https://user-images.githubus

[2021-11-24 21:02] lsemp3d commented on #2615
Moved it to networking and set it to needs-triage for visibility, can you schedule some time to discuss this issue? it appears there is a question on how to develop the API to handle a specific use-case, it may need a hands-on session to form a recommendation.

[2021-11-24 22:00] jckand-amzn commented on #4163
Re-verified fix on mnaumov/LYN-7995. Tested with moving/scaling/rotating entity and undoing in both prefab/slice mode as well as saving transform changes and reloading. No issues encountered.

[2021-11-24 22:05] lsemp3d commented on #2615
ok, I did some local testing and I found that adding the following code in `Gems\ScriptCanvas\Code\Include\ScriptCanvas\Core\Slot.cpp`:

[code]

just before the last line `return AZ::Failure(AZStd::string::format("%s is not a type match for %s", ScriptCanvas::Data::GetName(GetDataType()).c_str(), ScriptCanvas::Data::GetName(dataType).c_str()));`

Will allow the type to be set on the node. However,

[2021-11-24 22:51] lsemp3d commented on #2586
I've updated all node names and categories

[2021-11-24 22:51] #2586 closed

[2021-11-24 23:06] lsemp3d commented on #2742
PRY stands for Pitch, Yaw, Roll, given that the rotation is provided in Euler angles using Degrees. Setting to editor and ux/ui to triage and coordinate which approach is preferred.

[2021-11-24 23:29] lsemp3d commented on #2691
Re-adding sig/graphics-audio, this is a rendering feature exposed to scripting

[2021-11-24 23:35] lsemp3d commented on #2578
Assigning to sig/graphics-audio, the debug draw API exposure is a rendering feature exposed to scripting

[2021-11-25 00:12] amzn-tommy commented on #5864
I have a PR with a fix https://github.com/o3de/o3de/pull/5918

In the meantime if you are trying to use GI, note that global illumination will still function without the DiffuseGlobalIllumination component as long as you use the Diffuse Probe Grid component. You just won't be able to configure the quality level, which is done via the DiffuseGlobalIllumination component.

[2021-11-25 00:31] carlitosan commented on #2594
![image](https://user-images.githubusercontent.com/82187351/143328880-873190f6-3689-4257-ab0a-eead60abd2f2.png)

The node is an overload, and the input is variant on the numerator which can by any value explicitly added to BehaviorContext with with the 'ExplicitOverloadInfo("Divide By Number (/)", "Math")' attribute. The input display is definitely confusing and needs to be fixed.

[2021-11-25 00:51] junbo75 opened #5919 "Feature Request: Support for hard client/server split"
**Is your feature request related to a problem? Please describe.**
For some games it's not acceptable to ship server code to clients, it creates a massive security risk. O3DE needs to address that concern while also still supporting the client hosted server case.

Ideally O3DE can support the following two modes:
1. One is for console titles, where they're prone to single purchase titles that feat

[2021-11-25 01:06] CGorz commented on #4540
Components with too many parameters have the same appeal, such as Bloom, material editor. This feature will provide convenience for technical artists and imporve work efficiency. UE4 has already provided such feature.

[2021-11-25 01:48] junbo75 commented on #5344
Based on the comments from @kberg-amzn , if this includes the PVD integration this will be required for the server.

[2021-11-25 01:49] junbo75 commented on #5334
Based on the comments from @kberg-amzn , we run animations on the server. Everything network relevant is server authoritative and needs to run on the server.

[2021-11-25 01:50] junbo75 commented on #5335
Based on the comments from @kberg-amzn , if these impact gameplay in any significant way, they will be required to run on the server. Foliage or vegetation that block movement or weapons fire, terrain features that affect motion or line-of-sight calculations, etc

[2021-11-25 02:03] kberg-amzn commented on #5919
I'd recommend a better name for `LY_MULTIPLAYER_SERVER_UNIFIED`, as this is not particularly descriptive and is confusing as to what behaviour might change were this flag toggled. Perhaps 'LY_MULTIPLAYER_ALLOW_CLIENTHOST` or something similar?

[2021-11-25 02:04] kberg-amzn commented on #5919
Perhaps we should unify this flag with `PAL_TRAIT_BUILD_SERVER_SUPPORTED`? It's much better to have only a single flag if possible.

[2021-11-25 02:22] bbchenc opened #5922 "Bug Report"
**Describe the bug**
1. In the exposure component, click Run after the Heatmap switch is turned on, and then exit the running state, the switch will be automatically turned off;
2. After the enable switch of the exposure module is turned off, its internal Heatmap parameter is turned on, and the scene can still be rendered. Please locate and analyze

**Steps to reproduce**
Steps to reproduce the be

[2021-11-25 08:10] amzn-jillich commented on #5858
Linking @amzn-tommy for awareness. He had some ideas already what could be the cause for this.

[2021-11-25 08:38] bbchenc opened #5924 "In the depth of field DOF component, the enable debug color and quality level parameters have no effect on the scene"
**Describe the bug**
In the depth of field DOF component, the enable debug color and quality level parameters have no effect on the scene

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new entity in the scene, and then add the depth of field component to the entity
2. Turn on the enable debug color switch, and the expected result is 1
3. Adjust the quality level parameter, ob

[2021-11-25 08:47] LB-TomaszSerwanski commented on #4193
Hi @monroegm, I've thought about it when re-creating a simple minesweeper like game (based on UI Elements). It could be useful when revealing empty fields adjacent to the field revealed (clicked) by the Player. For example, a Player reveals (clicks) the field on (10,10), then we check (by passing the positions of surrounding fields to the node described in the issue or a UI raycast) if any of the

[2021-11-25 09:45] LB-BartoszDudzinski commented on #4861
Closing as Fixed in Stabilization/2110 branch. The crash does not occur anymore. The new exposed issue is tracked in jira.

[2021-11-25 09:45] #4861 closed

[2021-11-25 10:42] LB-TomaszSerwanski opened #5926 "Script Canvas Functions that contain a Container Variable crash the Editor when executed"
**Describe the bug**
Script Canvas Function that contains a Container Variable (i.e. Array, Map) crashes the Editor in runtime.

Please note that the Function does not need to have any node which uses such Variable, and the Editor still crashes.

Please also note, that sometimes, the crash occurs after entering the Game Mode for the second time, as the first one throws multiple errors and an asser

[2021-11-25 12:22] LB-ArturZieba opened #5928 "Linux: Script Canvas softlocks when saving any graph"
**Describe the bug**
After saving any graph in the Script Canvas tool it enters a softlock state, and cannot be closed using regular means. The saved .scriptcanvas also cannot be found in the Editor at this point. After killing the Editor process via the System Monitor and reopening it, the Script Canvas tool remains functional and the .scriptcanvas can be used.

**Steps to reproduce**
Steps to re

[2021-11-25 12:34] kimluck opened #5929 "Bug Report"
**Describe the bug**
The Audio Listener component is added to change the size of the footstep based on the walking position. After the Audio Listener component is deleted, the 3D sound effect does not disappear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. In Wwise, set the foottone to the 3D mode and generate a play event.
2. In the editor, add the corresponding 3D footstep sound f

[2021-11-25 12:50] LB-KacperKapusta commented on #5866
@mbalfour-amzn
The issue has only reproduced for i5-9600K CPU so far and we were not able to reproduce it using using a different CPU.
After rebuilding the project and processing assets on a clean build I got the Editor to the stuck state again and the Main Thread call stack looked exactly the same as previously attached.

AZ Job Manager worker threads that listed a different location than mention

[2021-11-25 12:55] instoneks2018 opened #5931 "[Polygon light]the Polygon light source has illumination at height of 0.0, but may not have illumination at other location of other height"
**Describe the bug**
The `Polygon light` source has illumination at  height of 0.0, but may not have  illumination at other location of height.

**Steps to reproduce**
Steps to reproduce the behavior:
1.Open Editor.
2.Create a new Entity.
3.Add Light Component.
4.Select `Polygon` as Light type for light component.
5. Change the `Height` value in `Polygon Prism Shape`.
6.Move the height of the ligh

[2021-11-25 14:22] Hsuehnj opened #5938 "Script canvas: The print string can not end with ']'"
**Describe the bug**
If the print string of Print Node end with ']', there is error in Asset Processor.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Script Canvas Editor
2. Creat a new script
3. Add nodes On Graph Start and Print
4. Set string 'string with ]' for Node Print
5. Save script named as test.scriptcanvs, there is error in Asset Processor
6. If set string 'string with

[2021-11-26 03:11] luoweiqiao opened #5949 "Lua Editor: Do *.lua and *.scriptcanvas need to be displayed in the asset Browser?"
**Describe the bug**
In Asset Browser, both *.lua and *.scriptcanvas files are displayed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. open Lua Editor
2. connect to O3DE Editor success.

**Screenshots/Video**
![image](https://user-images.githubusercontent.com/53386482/143521052-85ef3a2a-58f1-4b01-8788-8cee4d94cce0.png)

**Found in Branch**
Name of or link to the branch where the iss

[2021-11-26 07:51] Bindless-Chicken commented on #5912
At the moment I'm rocking a `cosTheta = clamp(cosTheta, -0.9999, 0.9999);` but I'm hoping to find something a little more elegant.

[2021-11-26 09:38] Hsuehnj commented on #5926
How to create a new Function in Script Canvas Editor, I haven't find the  'New Function' menu or button.
https://o3deorg.netlify.app/docs/user-guide/scripting/script-canvas/editor-reference/functions/

[2021-11-26 10:34] LB-ArturZieba opened #5950 "Linux: Using non-variables as Number in Math Script Canvas nodes causes the graph to fail to process in the Asset Processor"
**Describe the bug**
If a number is used in a Math Script Canvas node (e.g. Add (+) or Subtract (-)), a Script Canvas graph that contains it will fail being processed in the Asset Processor It will also print error message to the Console instead of executing if it is assigned to a Script Canvas component. It should be noted that using only variables in these nodes does not cause any issues. Please

[2021-11-26 10:41] LB-TomaszSerwanski opened #5951 "Undoing deletion of an active Camera entity throws error in the Console"
**Describe the bug**
The following error is displayed in the Console after undoing the deletion of an active Camera entity:

`[Error] (EditorViewportWidget) - Internal logic error - active view changed to an entity which is not an editor camera. Please report this as a bug.`

Please refer to the attached video for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a n

[2021-11-26 10:45] Hsuehnj opened #5952 "Script canvas: the effect of 'Shake To Desplice' settings is unclear"
**Is your feature request related to a problem? Please describe.**
There is no guide for preferences of ‘Shake To Desplice’, the effect of settings is unclear:
![image](https://user-images.githubusercontent.com/41571619/143560694-7a00f3bc-5a68-4aeb-91c5-6ca5981913ee.png)

**Describe the solution you'd like**
Provide relevant documentation or instructions for use, and at the same time standardize t

[2021-11-26 12:50] LB-JakubSkorupka opened #5953 "EMotionFX: Dragging transition arrow over node debug checkbox attaches the transition arrow preview to the cursor, which may result in further issues"
**Describe the bug**
In the **Anim Graph**, dragging the transition arrow over the **debug checkbox** of the node that it is attached to, will result either in sticking the transition arrow preview to the cursor, or sticking the transition arrow itself to the cursor.
Pressing **LMB** in an empty space of the **Anim Graph** will result in creating a transition arrow at the location of the cursor.

[2021-11-26 12:51] instoneks2018 opened #5954 "Bug Report"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
A clear and concise description of what

[2021-11-26 12:51] instoneks2018 opened #5955 "Bug Report"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
A clear and concise description of what

[2021-11-26 14:26] LB-TomaszSerwanski commented on #5926
Hi @Hsuehnj, to create a Function you have to add Input Execution Nodelings by either pressing the icon on the Script Canvas Editor toolbar (to the left of Graph Validation icon) or by selecting an input pin of a node which you wish to have in your Function and selecting _Expose_. Then simply save the graph as a regular Script Canvas script and its node will appear in the Node Palette. I have also

[2021-11-26 14:50] LB-ArturSiewniak opened #5956 "Linux: Building with current instructions causes improper behavior when performing actions related to loading/saving files in the Editor"
**Describe the bug**
If the engine is built using official source config/build instructions (https://o3de.org/docs/welcome-guide/setup/setup-from-github/building-linux/) it affects actions related to saving or loading assets. The following issue will showcase it by listing two different config/build/project and compare different actions/issues as they occur on both of them.

I will call these buil

[2021-11-26 14:50] LB-ArturSiewniak commented on #5956
Thanks in advance for taking the time to read through this issue. I would like to ask as well - should the issues showcased be logged as separate issues if deemed to not be caused by the used building instructions?

[2021-11-26 14:53] LB-JakubSkorupka opened #5957 "EMotionFX: Copy-pasting the transition properties and conditions does not result in removing the Ease-in and Ease-out smoothness fields"
**Describe the bug**
Changing the value of **Interpolation** in the **Transition** attribute from **Ease curve** to **Linear**, by copy-pasting the transition properties does not remove the **Ease-in** and **Ease-out smoothness** fields from the **Transition** Component.

Please note that it is possible to change the value of **Ease-in** and **Ease-out smoothness** fields while interpolation is se

[2021-11-26 15:12] mbalfour-amzn commented on #5866
@LB-KacperKapusta Can you please include the commands that you're using to sync to stabilization as well?  Also, can you please attach the file from C:\o3de\Gems\Atom\RPI\Code\Source\RPI.Public\Culling.cpp from your hard drive so I can see if it matches the file that's in stabilization?

The mystery I'm still seeing in the information you've provided is that your callstack shows that BeginCulling

[2021-11-26 16:59] LB-MateuszSzweda commented on #4818
Today it was verified that unfortunately performance did not improve much for OSX on both Development (7975629) and
Stabilization_2110 (99d0c39) builds.
The processing time for AutomatedTesting iOS assets on Macbook Pro 17 (2017) with Intel Core i7 2,8 GHz is still about 4 hours.
PC with a Ryzen7 2700X CPU processed them in about 5 minutes.
Currently we do not have access to OSX machines with bett

[2021-11-26 17:10] invertednormal commented on #5912
Honestly looking at this again I'd just saturate the result of the rsqrt. IntegrateEdge() has a saturate on the inside that can be moved outside, so both IntegrateEdge() and IntegrateEdgeDiffuse() could just use `satuarte(rsqrt(1.0 - cosTheta * cosTheta))`. Saturate will convert the NaN into 0 for free, which is a perfectly fine thing to do in this case.

[2021-11-26 17:31] #5734 closed

[2021-11-26 17:59] carlitosan commented on #5926
I get this one. The recent change to move InitialializeInterpretedStatics off of asset loading threads, and automatic triggering from loading the runtime assets with the handler means that dependent scripts (like functions) will not have the function called on them. I am fixing this now.

[2021-11-26 18:20] carlitosan commented on #5926
https://github.com/o3de/o3de/pull/5958

[2021-11-26 21:34] #5848 closed

[2021-11-26 22:02] lumberyard-employee-dm commented on #5928
@burelc-amzn I know you were looking at reducing the number of `inotify` handles to make sure the AssetProcessor OnAssetReloaded event is being sent via the AssetNotification messages.

[2021-11-26 23:39] mbalfour-amzn commented on #5866
OK, after more careful reading and investigation of the above, I still think there's something weird with the version of the code being run, but it's not the cause of the bug.

I can now reproduce the bug 100% on any system with the following steps:
1. In AutomatedTesting/user/Registry, add the attached bootstrap.setreg file.
[bootstrap.zip](https://github.com/o3de/o3de/files/7610895/bootstrap.zip

[2021-11-27 01:21] sysuNie opened #5962 "O3DE engine needs to support vertex animation(current support skeleton animation and morph target animation)"
**Is your feature request related to a problem? Please describe.**
Use DCC tool to make a FBX model with vertex animation, After the model is imported into O3DE and then loaded into the scene, the animation cannot be played.

**Describe the solution you'd like**
First, Assimp SDK supports parsing UV data, and then the engine supports driving these UV data.

**Describe alternatives you've considere

[2021-11-27 01:28] sysuNie opened #5963 "O3DE does not provide movement modes such as swimming and flying like UE does"
**Is your feature request related to a problem? Please describe.**
There will be scenes of swimming and flying in the animation. Open the level with the river, and you can directly use the related components to achieve it. But currently there are no such things.

**Describe the solution you'd like**
Provide swimming and flying movement modes.

**Describe alternatives you've considered**

**Additio

[2021-11-27 01:38] sysuNie opened #5964 "[Animation]When selecting an animation in AnimGraph, there is no preview effect. You must select and confirm to see the animation effect, which is not convenient"
**Is your feature request related to a problem? Please describe.**
When selecting an animation in AnimGraph, there is no preview effect. You must select and confirm to see the animation effect, which is not convenient

**Describe the solution you'd like**
Provide swimming and flying movement modes.

**Describe alternatives you've considered**

**Additional context**
Add any other context or screen

[2021-11-27 01:43] sysuNie opened #5965 "[Animation Ragdoll]O3DE needs to support single addition and deletion of Ragdoll without involving the parent and child bones."
**Is your feature request related to a problem? Please describe.**
Adding Ragdoll in O3DE will also add the parent bone. Deleting the Ragdoll of the parent bone will also delete the Ragdoll of the child bone. UE4 can add and delete Ragdoll without involving the parent and child bones.

**Describe the solution you'd like**
O3DE can support single addition and deletion of Ragdoll without involving t

[2021-11-27 01:53] sysuNie opened #5966 "[Animation Ragdoll] Realize a ragdoll effect affected by gravity. After the character falls on the ground, walk to a specific position and rotate the angle of view, leaving only the shadow of the character"
**Describe the bug**
Realize a ragdoll effect affected by gravity. After the character falls on the ground, walk to a specific position and rotate the angle of view, leaving only the shadow of the character

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Realized ragdoll feature level
2. Click on 'Run button'
3. Scroll down to 'Move to the person on the ground, zoom in the lens,

[2021-11-27 02:05] sysuNie opened #5967 "[Animation Ragdoll] Ragdoll hopes to simulate the ragdoll effect in the editing mode"
**Is your feature request related to a problem? Please describe.**
Ragdoll cannot simulate the ragdoll effect in the editing mode. You must make an Anim Graph before you can see the ragdoll effect in the scene, and UE4 can simulate the ragdoll effect in the editing mode.

**Describe the solution you'd like**
simulate the ragdoll effect in the editing mode.

**Describe alternatives you've considere

[2021-11-27 02:10] sysuNie opened #5968 "[Simple LOD distance] Within the infinite distance and the distance range of the last layer set, the same model LOD level is loaded"
**Describe the bug**
When loading the LOD level of the model, the same model LOD level is loaded within the infinite distance and the distance of the last layer set, which is unreasonable.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Import a model with multiple levels of LOD'
2. Click on 'Load the Simple LOD distance component'
3. Select attached asset '...'
4. Scroll down t

[2021-11-27 02:16] Hsuehnj commented on #5926
@LB-TomaszSerwanski thanks a lot!

[2021-11-27 02:52] carlitosan commented on #5926
merged

[2021-11-27 02:52] #5926 closed

[2021-11-27 03:21] o3de-issues-bot opened #5969 "Automated Review Failure - stabilization/2110"
Build url: https://jenkins.build.o3de.org/job/O3DE/job/stabilization%252F2110/240/
Identified problems:
* Test error: Errors while running CTest
  * Indication 1:
    <https://jenkins.build.o3de.org//job/O3DE/job/stabilization%252F2110/240/consoleFull#-148751045260f5c32df5baa2a40af90ad8>

[2021-11-27 07:52] incisor opened #5970 "seedList.seed in Gem/Atom/RPI/Assets needs to be rebuilt"
**Describe the bug**
Running `AssetBundlerBatch.exe assetLists --addDefaultSeedListFiles` shows some errors due to missing assets.
I think the issue is using "shader" instead of "shaders".

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run AssetBundlerBatch.exe with default seeds
2. See error like
[ERROR] - AssetSeedManager:
Could not find asset with id ({454C374E-E2FA-5DD3-81D8-08BE5

[2021-11-27 09:57] jiangwenming2021 opened #5971 "Two overlapped transparent boxshapes， sometimes innerbox disappear"
**Describe the bug**
Two overlapped transparent boxshapes， sometimes innerbox disappear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. add two entities in the scene editor.
2. add boxshape component to each other with default settings.
3. move them to (0,0,0)
4. modify one entity's uniform scale to 2, and name it to outbox
5. name the other to inner box
6. now we can see both outbox

[2021-11-29 02:06] bbchenc opened #5973 "Post processing bloom: when adjusting the slider, click the rear slider and then use the shortcut key screenshot (Ctrl + Alt + a). Then you don't need to click the mouse. Just move the cursor to the slider position and move the mouse left and right, and the slider will move with the cursor"
**Describe the bug**
Post processing bloom: when adjusting the slider, click the rear slider and then use the shortcut key screenshot (Ctrl + Alt + a). Then you don't need to click the mouse. Just move the cursor to the slider position and move the mouse left and right, and the slider will move with the cursor

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level and add e

[2021-11-29 03:55] kimluck opened #5974 "Audio"
**Describe the bug**
Add an audio switch component on the entity, set a default switch group for the default switch, and the default state can be set as a switch under a non default switch group.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Enable audiosystem, audioenginewwise modules in the project.
2. Add multiple groups of switch groups and switches in Wwise and save the changes.

[2021-11-29 06:50] nielianpeng opened #5975 "[Animation] When the simple motion component is added and the non-root motion and root motion running/walking motion are added, the motions are deformed after the in-place function is enabled."
**Describe the bug**
[Animation] When the simple motion component is added and the non-root motion and root motion running/walking motion are added, the motions are deformed after the in-place function is enabled.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add the simple motion component and add non-root motion and root motion running/walking actions. After the in-place switch is

[2021-11-29 06:56] nielianpeng opened #5976 "[Animation] In the simple motion component, when the values of Play Speed, Blend in time, and Blend out time are large, the last digits change randomly."
**Describe the bug**
[Animation] In the simple motion component, when the values of Play Speed, Blend in time, and Blend out time are large, the last digits change randomly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add the simple motion component and set Play Speed, Blend in time, and Blend out time to a larger value.

**Expected behavior**
1. The value range is verified.

**Act

[2021-11-29 07:04] nielianpeng opened #5977 "[Animation] Add the simple motion component and add the walk animation model of the root motion. When the value of Blend Out Time is changed to a value greater than 0, the animation does not change."
**Describe the bug**
[Animation] Add the simple motion component and add the walk animation model of the root motion. When the value of Blend Out Time is changed to a value greater than 0, the animation does not change.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add the simple motion component, add the walk animation model of the root motion, and adjust the values of Blend In Time

[2021-11-29 07:10] nielianpeng opened #5978 "[Animation] Parameters such as Loop, Retarget, Reverse, Emit Events, and Mirror Motion cannot be modified in Blend Space 2D in the AnimGraph editor."
**Describe the bug**
[Animation] Parameters such as Loop, Retarget, Reverse, Emit Events, and Mirror Motion cannot be modified in Blend Space 2D in the AnimGraph editor.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor and right-click Create Node > Sources > Blind Tree under Anim Graph.
2. Double-click the new Blend Tree, and then right-click Create Node->Blend

[2021-11-29 07:15] nielianpeng opened #5979 "[Animation] In Blend Space2D in the AnimGraph editor, the added motion name is easy to be obscured. You need to widen the right pane to view the motion name."
**Describe the bug**
[Animation] In Blend Space2D in the AnimGraph editor, the added motion name is easy to be obscured. You need to widen the right pane to view the motion name.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor and right-click Create Node > Sources > Blind Tree under Anim Graph.
2. Double-click the new Blend Tree, and then right-click Create No

[2021-11-29 07:30] nielianpeng opened #5980 "[Animation] In the OpenGL Render Window window of the Animation Editor, View Options > Hit Detection Colliders, Ragdoll Colliders, Ragdoll Joint Limits, and Cloth Colliders are valid only under Physics Layout."
**Describe the bug**
[Animation] In the OpenGL Render Window window of the Animation Editor, View Options > Hit Detection Colliders, Ragdoll Colliders, Ragdoll Joint Limits, and Cloth Colliders are valid only under Physics Layout.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor and select an existing character model to import.
2. Select only Line Skeleton.
3.

[2021-11-29 07:35] nielianpeng opened #5981 "[Animation] On the FBX Setting tab page, Translation, Rotation, and Scal do not take effect."
**Describe the bug**
[Animation] On the FBX Setting tab page, Translation, Rotation, and Scal do not take effect.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Right-click the model, choose FBX Setting, add the Coordinate System Change option, and modify the Translation, Rotation, and Scal parameters in the Advanced Options area.

**Expected behavior**
1. Roles can be adapted by modi

[2021-11-29 07:44] nielianpeng opened #5982 "[Animation] When Cloth colliders and Hit Direction in the AnimaGraph editor are opened, no content is displayed. You need to open the corresponding window before the content is displayed."
**Describe the bug**
[Animation] When Cloth colliders and Hit Direction in the AnimaGraph editor are opened, no content is displayed. You need to open the corresponding window before the content is displayed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor and import the existing model.
2. Choose View > Cloth Colliders.
3. Choose View > Hit Direction.
4. Choos

[2021-11-29 07:49] nielianpeng opened #5983 "[Animation] No message is displayed when the input field in the Actor asset of the FBX Setting is not standard."
**Describe the bug**
[Animation] No message is displayed when the input field in the Actor asset of the FBX Setting is not standard.

**Steps to reproduce**
Steps to reproduce the behavior:
1. In the resource browser, double-click an Actor asset.
2. Enter non-standard content, such as Chinese characters and special characters, in the Name actor text box.

**Expected behavior**
1. A dialog box is d

[2021-11-29 07:58] nielianpeng opened #5984 "[Animation] In the Attachment component, select Use target bone scale for Scaling, double-click the FBX file of the character model, set Scale factor of Scale actor under Actors to 0.3, and update. The character in the editing state does not change, but the character in the running state is distorted."
**Describe the bug**
[Animation] In the Attachment component, select Use target bone scale for Scaling, double-click the FBX file of the character model, set Scale factor of Scale actor under Actors to 0.3, and update. The character in the editing state does not change, but the character in the running state is distorted.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the scenari

[2021-11-29 08:05] nielianpeng opened #5985 "[Animation] When 100 FBX models are loaded in the scenario, the GPU usage of the O3DE Editor process is always 0% in the Task Manager window of the PC. However, the GPU usage of the O3DE Editor process is not 0% when other tools are used."
**Describe the bug**
[Animation] When 100 FBX models are loaded in the scenario, the GPU usage of the O3DE Editor process is always 0% in the Task Manager window of the PC. However, the GPU usage of the O3DE Editor process is not 0% when other tools are used.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add 100 characters and actions.

**Expected behavior**
1. The CPU, GPU, memory,

[2021-11-29 08:11] nielianpeng opened #5986 "[Animation] Each time the Asset Processor is restarted, the content that failed to be compiled is recompiled. You are advised to increase the number of failed retries. If the number of failed retries exceeds N, you only need to record related error logs. Otherwise, the performance is consumed."
**Describe the bug**
[Animation] Each time the Asset Processor is restarted, the content that failed to be compiled is recompiled. You are advised to increase the number of failed retries. If the number of failed retries exceeds N, you only need to record related error logs. Otherwise, the performance is consumed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Choose File > Import Ass

[2021-11-29 08:15] nielianpeng opened #5987 "[Animation] When the Coordinate System Change command is executed on the FBX Setting page, the model direction is not changed."
**Describe the bug**
[Animation] When the Coordinate System Change command is executed on the FBX Setting page, the model direction is not changed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Double-click the compiled model to open it.
2. Choose FBX Setting > Actor > Add Modifier > Coordinate System Change, select Rotate 180 degrees around the up axis, click Update, and drag the mo

[2021-11-29 08:17] nielianpeng opened #5988 "[Animation] UE4 has a dedicated Aim Offset Blend Space component, but O3DE does not."
**Describe the bug**
[Animation] UE4 has a dedicated Aim Offset Blend Space component, but O3DE does not.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor.
2. Find the component for aiming offset.

**Expected behavior**
1. There are components dedicated for aiming and offsetting.

**Actual behavior**
1. There is no dedicated aiming offset component, only Blend

[2021-11-29 08:23] nielianpeng opened #5989 "[Animation] Motion Event PresetsThe motion event after the fourth color is added. Only the motion events of the third color can be displayed."
**Describe the bug**
[Animation] Motion Event PresetsThe motion event after the fourth color is added. Only the motion events of the third color can be displayed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. In the animation editor, select a motion.
2. In the Motion Event window (two Motion Event Presets already exist by default), create two Motion Event Presets with different color

[2021-11-29 08:26] nielianpeng opened #5990 "[Animation] Select an FBX file of a character model in Asset Browser, double-click it, and delete Actor from Fbx Settings. The Actor still exists in the scene after the model is dragged to the scene. The Actor is deleted only after the engine is closed and then opened."
**Describe the bug**
[Animation] Select an FBX file of a character model in Asset Browser, double-click it, and delete Actor from Fbx Settings. The Actor still exists in the scene after the model is dragged to the scene. The Actor is deleted only after the engine is closed and then opened.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Double-click the model. On the Fbx Settings page

[2021-11-29 08:31] nielianpeng opened #5991 "[Animation] When an FBX file is imported to O3DE, a message is displayed indicating that parsing fails. The asset builder displays a message indicating that other color stream buffer information cannot be added. A maximum of 12 color stream buffers can be added."
**Describe the bug**
[Animation] When an FBX file is imported to O3DE, a message is displayed indicating that parsing fails. The asset builder displays a message indicating that other color stream buffer information cannot be added. A maximum of 12 color stream buffers can be added.

**Steps to reproduce**
Steps to reproduce the behavior:
1. O3DE imports the Kight 3D model for parsing.
2. Open O3D

[2021-11-29 08:44] nielianpeng opened #5992 "[Animation] Open the animation editor of O3DE, click View, deselect some options (such as Anim Graph), and select them again. The GUI layout cannot be restored to the default value, which is not easy to use, but can be implemented by lumberyard."
**Describe the bug**
[Animation] Open the animation editor of O3DE, click View, deselect some options (such as Anim Graph), and select them again. The GUI layout cannot be restored to the default value, which is not easy to use, but can be implemented by lumberyard.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the animation editor of O3DE, click View, and deselect some options.

[2021-11-29 09:18] CGorz opened #5993 "The parameter setting and use range are inconsistent with the slider"
**Describe the bug**
The bloom pamameter "Intensity" prompts that its value range from 0 to 10000, while the slider bar's value is [0, 25].

**Steps to reproduce**
Steps to reproduce the behavior:
1. add bloom component
2. Enable bloom
3. Select "intensity" param
4. drop the slider bar to the right

**Expected behavior**
The slider bar's maximum value should be 10000 instead of 25；

**Actual behav

[2021-11-29 10:28] LB-TomaszSerwanski commented on #5926
Fix verified in Stabilization_2110 (4d36fb9).

[2021-11-29 11:06] sysuNie opened #5994 "[GPU statistics] PC Task Manager-"Process, the GPU occupancy of the O3DE Editor process shown is always 0%, while using other tools to calculate the GPU is not 0%"
**Describe the bug**
PC Task Manager-"Process, the GPU occupancy of the O3DE Editor process shown is always 0%, while using other tools to calculate the GPU is not 0%

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
O3DE's CPU, GPU, memory, and FPS are normal

**Actua

[2021-11-29 11:07] #5994 closed

[2021-11-29 11:34] LB-MateuszSzweda commented on #5956
It is worth mentioning that the .inputbings/physxmesh/.scriptcanvas assets that are initially failing in Asset Processor upon saving as can be seen in attached video are correctly processed upon restarting the editor and the assets can be used.

[2021-11-29 12:56] LB-TomaszSerwanski commented on #5822
We have verified that the issue still occurs in the latest Stabilization_2110 (4d36fb9) when the Game State Samples gem and its dependencies are enabled for the Project.

[2021-11-29 13:19] Hsuehnj opened #5997 "Entity Inspector: Numerical parameters cannot be set in the input box"
**Describe the bug**
In the Entity Inspector, the numerical parameters of components cannot be set directly, can only be set by clicking the up or down indicator arrows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity
2. Add component Actor, Simple Motion, Attachment
3. For Actor component, select an fbx file locally and set it as an actor asset
4. Set numerical parame

[2021-11-29 14:13] LB-MateuszSzweda commented on #5956
I was able to obtain Asset Processor logs from the issue affected stabilization/2110 (4d36fb9)
AP_GUI log is here:
[AP_GUI.log](https://github.com/o3de/o3de/files/7618655/AP_GUI.log)

All JobLogs can be found here:
[JobLogs.zip](https://github.com/o3de/o3de/files/7618661/JobLogs.zip)

And here is a comparison of processed groundplane512x512.fbx asset **before** updating(and freezing the Editor)
wi

[2021-11-29 14:22] AMZN-Igarri commented on #2735
This should have been fixed with #5650 I can't reproduce it anymore.
Can you verify this @AMZN-daimini ?

[2021-11-29 14:59] LB-KacperKapusta opened #5998 "Linux: Script Canvas nodes using Vector3 data pin are not functional and throw an error in the Console when executed"
**Describe the bug**
Executing the Script Canvas nodes using Vector3 data pin does not work as expected and results in an error being thrown in the Console:
[code]
Please note that the same Script Canvas graphs using the same .inputbindings file are executed without any issues on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor.
2. Create an entity.
3. Add Inp

[2021-11-29 15:55] AMZN-AlexOteiza opened #6000 "Feature Request: Crash Dialog"
Right now, if the O3DE editor crashes, the application closes itself without any warning or information.

As a user I would like to be able to:
- Know if the Editor crashed
- Have as much information as possible of why it crashed, displaying a callstack and other useful data.
- Be able to retrieve the crash dump and the Editor log
- Be able to save/backup unsaved changes in the current Level when

[2021-11-29 17:00] amznestebanpapp commented on #5870
Thanks. In the logged issue its passing `-DLY_PROJECTS=MyProject`, so my guess is that is the problem, you can pass a relative path to the engine or an absolute path.
Is this ok to close then?

[2021-11-29 17:06] cgalvan commented on #5825
Duplicated by https://github.com/o3de/o3de/issues/3774

[2021-11-29 17:13] lsemp3d opened #6002 "Script Canvas: Implement CVAR support"
**Is your feature request related to a problem? Please describe.**
Script Canvas is can update CVARs but currently it does through a string-based Execute Console Command node.

**Describe the solution you'd like**
The proposal is to create a node that can use the CVAR information as a model and provide users with a drop/down search ability to access all available CVARs. Once selected, the node can

[2021-11-29 17:40] carlitosan commented on #5822
The bug has changed, it is no longer a scripting gem that is causing the double registration

![image](https://user-images.githubusercontent.com/82187351/143916651-cd1839b6-6f10-45f4-b43f-06daa8919318.png)

[2021-11-29 17:45] amznestebanpapp commented on #5848
Awesome that this ended up actually finding a bug!

[2021-11-29 18:04] lmbr-pip commented on #6000
Reach out to sig-network as theres an old RFC around this.

[2021-11-29 18:37] shawstar commented on #3635
Adding more ideas for Acceptance Criteria:

Camera bookmark will also save the current Camera Target Matrix, so when returning you will have the same camera point of interest to rotate, zoom around.
Camera FOV saved
Camera Near and Far Clips saved.

[2021-11-29 19:01] micronAMZN opened #6007 "glTF support status"
Support for glTF in O3DE seems more dependent on the varying DCC export implementations at this time. After testing glTF support with various DCC applications these are the results:

**Formats** - O3DE can process source assets stored in:
* `.gltf`
* `.glb`
* `.gltf` + `.bin`

**Meshes** - Mesh import works from every DCC spplication I surveyed with support for the following features:

* LOD - Mes

[2021-11-29 19:04] amznestebanpapp opened #6008 "Deb package sometimes shows "has no Size information""
**Describe the bug**

When installing the deb package a warning message is displayed:
[code]

**Steps to reproduce**
Install using the deb package

**Expected behavior**
No warnings/unexpected messages

**Desktop/Device (please complete the following information):**
 - OS: Linux (Ubuntu 20.04)

[2021-11-29 19:05] amznestebanpapp opened #6009 "Deb package sometimes shows "has no Size information""
**Describe the bug**
Not exactly sure how this happens, but after installing/uninstalling/reinstalling, sometimes a "has no Size information" warning is shown.

[2021-11-29 19:19] amznestebanpapp opened #6010 "Mac builds taking a long time due to runtime dependencies"
**Describe the bug**
Some recent change has made the runtime dependencies in Mac to constantly run, causing incremental builds to take over 750s when no changes are done.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build
2. Build again measuring time

**Expected behavior**
Second build should take a short time

**Actual behavior**
Second build taking more than expected

[2021-11-29 19:43] burelc-amzn commented on #5928
I see fixing #4656 as a workaround to fixing this bug. The Editor should not assume that the Asset Processor is running. You should be able to reproduce this on Windows with:
1. Open the Editor, the AP is launched in the background
2. Open Script Canvas
3. Make a new graph
4. Add a node to the graph
5. Open the AP's window, and exit it with Ctrl+Q
6. Switch back to the Editor window, ignore any pr

[2021-11-29 20:05] bosnichd opened #6011 "Nomination for @nemerle to reviewer status"
Requirements (https://github.com/o3de/community/blob/main/community-membership.md):
- 6+ contributions successfully submitted to O3DE
- 100+ lines of code changed across all contributions submitted to O3DE
- 2+ O3DE Reviewers or Maintainers that support promotion from Contributor to Reviewer

Commits by nemerle: https://github.com/aws-lumberyard-dev/o3de/commits?author=nemerle

[2021-11-29 20:07] #6011 closed

[2021-11-29 20:10] bosnichd commented on #6011
Created in the wrong place, created https://github.com/o3de/sig-core/issues/21 instead.

[2021-11-29 22:35] amzn-phist commented on #5617
Both my screenshots show that I have a `wwise_config.json` file there and I did have multiple platforms of banks.

The call to `AZ::StringFunc::StartsWith(sourceFile, platformConfig.m_wwisePlatform, true)` is a case-sensitive check - the last bool parameter controls case sensitivity.  That's checking the source path, maybe you can try it with that bool turned false.

If you are able to debug, I wo

[2021-11-29 23:03] #2549 closed

[2021-11-29 23:04] lsemp3d commented on #5446
Closing as it's been marked 'not reproducible' for over 2 weeks

[2021-11-29 23:04] #5446 closed

[2021-11-29 23:05] lsemp3d commented on #4140
Since it's an editor-wide issue, removed feature/scripting and set to needs-triage to find the appropriate place for it

[2021-11-29 23:09] lsemp3d commented on #2821
Bumping up priority to critical, I was easily able to reproduce this

[2021-11-29 23:12] amzn-sj commented on #5822
Fixed in https://github.com/o3de/o3de/pull/6012

[2021-11-29 23:12] #5822 closed

[2021-11-30 01:06] amznestebanpapp commented on #6009
Turns out to be a bug in apt. The issue was already fixed here: https://salsa.debian.org/apt-team/apt/-/merge_requests/177
Will need time to propagate to apt repo versions. Will add a comment in the documentation.

[2021-11-30 02:03] AMZN-Gene opened #6020 "Create Unit Tests for AzFramework::ProcessCommunicator"
While working on piping multiplayer server logs to the editor it was noticed that ProcessCommunicator (the class by which we're able to listen into a process's std-out) doesn't have any unit-testing.

**Acceptance Criteria**
Add unit-testing for ProcessCommunicator.
Suggestion: Maybe tests could be added to \Code\Framework\AzFramework\Tests\ProcessLaunchParseTests.cpp

[2021-11-30 03:17] Bond-F opened #6023 "Feature Request : Simple State Component add duplicate state name verification"
**Is your feature request related to a problem? Please describe.**
Currently, no duplicate name check is performed.
When there are two identical state names,  the Initial state selection uses only the first one, regardless of which one is selected.
![image (2)](https://user-images.githubusercontent.com/94030027/143979628-e0acfb76-6125-432d-8c8d-5177c9c443ad.png)
![image (1)](https://user-images.gi

[2021-11-30 09:39] #5477 closed

[2021-11-30 10:25] #4523 closed

[2021-11-30 10:44] greerdv commented on #2547
Just tried to reproduce this and couldn't, so I'm going to close the issue.

[2021-11-30 10:44] #2547 closed

[2021-11-30 11:04] sysuNie opened #6025 "[Animation] Some bugs about the rotation parameter in the animation editor:"
**Describe the bug**
Some bugs about the rotation parameter in the animation editor:

**Steps to reproduce**
Screenshot box 1: I think this input is an Euler angle instead of quaternion, but the engine regards it as a quaternion type
In the screenshot box 2: I think this is a quaternion, but the quaternion is incorrectly converted, and there are still problems with the display. I haven't found the

[2021-11-30 13:03] LB-TomaszSerwanski commented on #5822
The issue verified as Fixed in Stabilization_2110 (6480041).

[2021-11-30 13:40] LB-JakubSkorupka commented on #5870
@amznestebanpapp thanks for clarifying. After using an absolute path to the project in "-DLY_PROJECTS" argument I did not encounter this issue. Using a relative path still results in configuration errors. AutomatedTesting and any manually created project in CLI by following [documentation](https://o3de.org/docs/welcome-guide/create/creating-projects-using-cli/creating-windows/) still requires a re

[2021-11-30 14:11] xsellier opened #6026 "[Linux] ninja: error: unknown target 'INSTALL'"
**Describe the bug**
Cannot build O3DE on Linux binogure 5.14.0-2-amd64 #1 SMP Debian 5.14.9-2 (2021-10-03) x86_64 GNU/Linux

**Steps to reproduce**

### Prerequisite
- Open a terminal and type
[code]

### Compilation time
[code]

Since the target `INSTALL` doesn't exist, I tried with `install`:
[code]

Output is too long, here a pastebin link:
https://pastebin.com/ysunjqB0

**Expected behavior**

[2021-11-30 14:22] LB-MateuszSzweda opened #6027 "Selecting PhysX meshes for an .fbx asset in FBX Settings (PREVIEW) when Editor is initially launched crashes the Editor"
**Describe the bug**
Selecting PhysX meshes for an .fbx asset in FBX Settings (PREVIEW) crashes the Editor upon clicking the _select_ button.

Please note that this occurs only once for each built project and will occur only on the Editor's first launch. The issue cannot be reproduced after restarting the Editor or if the Editor was closed and restarted after building.

What was also observed is t

[2021-11-30 14:52] AMZN-Igarri opened #6028 "Entities disappear from the entity outliner when deleting a parent entity."
**Describe the bug**
The entity outliner entries disappear when you delete a parent entity.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open or create a new level
2. Create an an entity
3. Create another entity as a child of the previous one.
4. Select the first entity that was created and the press the delete button in the keyboard. (Or right click -> delete entity)

**Expected be

[2021-11-30 14:54] #5832 closed

[2021-11-30 15:10] hultonha commented on #2480
This is fixed by #5906

IMPORTANT: To remain consistent with existing entity (and manipulator) 'ditto' commands, the shortcut to snap to surface is 'Ctrl+Shift+MMB' (**not LMB**). We may revisit this in future, but it would require a reworking of more of the viewport controls so it has not been performed as part of this change.

[2021-11-30 15:10] #2480 closed

[2021-11-30 15:15] hultonha commented on #2735
Hmm it does seem to mostly work, but I do see the error

[2021-11-30 15:20] xsellier commented on #6026
Nevermind, had to remove clang 3.8 before compiling.
Documentation works pretty well

[2021-11-30 15:20] #6026 closed

[2021-11-30 15:36] hultonha commented on #3635
Thanks for the updates @shawstar 👍 We'll factor these into the design as it develops (we'll link to the RFC for the feature too when it materializes, any further suggestions can be added there).

[2021-11-30 15:50] hultonha commented on #5515
@benblack75 Please see this PR for updates to manipulators and manipulator bounds - https://github.com/o3de/o3de/pull/5959. This PR doesn't put the Translation Manipulator scaling on a hotkey (yet...) but it does add a new settings value - `ManipulatorViewBaseScale`. This can be modified in the Manipulator tab of `Edit -> Global Preferences -> Editor Settings`. The default value is 1.0 and be adju

[2021-11-30 15:53] hultonha commented on #5496
Hi @benblack75,

As a potential workaround for this issue have you tried using the Entity Outliner show/hide option

![image](https://user-images.githubusercontent.com/82228511/144081030-dbec68fc-299a-41a1-842b-5cad654e4972.png)

The outside walls you're referring to (if they're a separate mesh/entity) could be individually hidden to make working with objects inside the scene easier. Would this so

[2021-11-30 15:59] hultonha commented on #5294
@alexmontAmazon I can take this issue and look at it later this week, I know what needs to be done to fix it. Is that okay with you?

[2021-11-30 16:04] hultonha commented on #3637
Hey @AMZN-daimini, was just wondering is this now complete? Thanks!

[2021-11-30 16:20] amznestebanpapp commented on #5870
Create one to follow up, however, after building the engine it will require to rebuild of the projects because the binaries in the engine changed. This should be a quick build if you have your "install" engine registered. If you have your source engine registered, each project will build against the engine source code, therefore would build the engine as well (on each project).

[2021-11-30 16:20] #5870 closed

[2021-11-30 16:21] AMZN-Igarri commented on #2735
@hultonha yes! That issue is actually #5951

[2021-11-30 16:22] lmbr-pip opened #6031 "[macOS] O3DE app is missing default icon"
**Describe the bug**
Building some O3DE mac apps results in apps with generic icons, for example the o3de.app does not have an o3de icon.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build stabilization branch: stabilization/2110 ie `cmake --build build/mac/. --target Editor MultiplayerSample.GameLauncher --config profile`
1. Examine app icons

**Expected behavior**
Icons default to

[2021-11-30 16:33] lmbr-pip opened #6032 "[macOS] First launch of a project causes permissions check for AccessibilityAccess"
**Describe the bug**
On first launch of GameLauncher on bigSur, was unexpectedly asked to approve accessibility access. Unclear why I needed to grant permissions (not documented), this would also be a concern for devs as it introduces unnecessary friction into the process.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build clean project on mac, for example `cmake --build build/mac/.

[2021-11-30 16:39] lmbr-pip opened #6033 "Feature Request: Support for servers on macOS (for testing in Editor)"
**Is your feature request related to a problem? Please describe.**
If a platform supports the O3DE Editor it should support servers for that platform so I can edit and run multiplayer games. Without local server support I cannot check my work in a multiplayer game in the editor (play in editor mode will be broken).

**Describe the solution you'd like**
* O3DE to support mac servers for local testi

[2021-11-30 16:41] hultonha commented on #5951
Maybe this is something you can look at @AMZN-Igarri?

[2021-11-30 16:47] lmbr-pip commented on #6033
sig/build: looking for any concerns, suggestions around cmake
sig/platform: would be looking for concerns, approval to add mac servers as an o3de supported platform
sig/network: would be looking for concerns, approval to support mac servers (or provide them with some kind of status).

[2021-11-30 17:16] SergeyAMZN commented on #6027
From the log it seems the issue is the default material library we display in FBX settings hasn't been loaded yet.
A bit strange since it is loaded with a blocking call when asset catalog is loaded on start up.

[2021-11-30 17:31] chiyenteng opened #6037 "[SliceDeprecation] Convert Content related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:

- ComponentPropertyCommands_test_case_set_none.py
- ComponentPropertyCommands_test_case_visibility.py
- TrackViewCommands_test_case.py
- ComponentPropertyCommands_test_containers.py
- ComponentPropertyCommands_test_enum.py
- PySide_Example_test_case
- GraphClosed_OnLevelChange
- C28798177_WhiteBox_AddCompo

[2021-11-30 17:37] benblack75 opened #6038 "Light Entities- Align position and rotation to a mesh surface normal"
**Is your feature request related to a problem? Please describe.**
Yes. When working with geo objects _representing_ a light emitting surface (like a spotlight), it is very hard to align a corresponding light entity to its surface. As an example, I recently worked on a digital set that included a platform (used to showcase automobiles), and the automobile was lit overhead by a concentric set of sp

[2021-11-30 17:38] lawsonamzn commented on #6032
So on the mac, Accessibility Permission is required to act on the user's behalf
* Type keys on the keyboard for them
* Click mouse buttons for them
* Move the mouse pointer for them

This kinda makes sense - you don't really want your computer to be moving the mouse pointer and clicking on your behalf without your permission.  Considering what you could do to the computer just by moving and clicki

[2021-11-30 17:43] chiyenteng opened #6039 "[SliceDeprecation] Convert Network related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:

- test_anonymous_credentials
- test_password_signin_credentials
- TestAWSCoreAWSResourceInteraction
- test_realtime_and_batch_analytics
- test_unauthorized_user_request_rejected

Test Conversion Procedure Suggested:

- Search the target test script to see which "*.slice" files are used in the test, and use

[2021-11-30 17:47] AMZN-daimini commented on #3637
Hey, I think v1 is complete. We have additional action items but they were moved to v2.

[2021-11-30 17:47] chiyenteng opened #6040 "[SliceDeprecation] Convert Graphics related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:

- AtomEditorComponents_Decal_AddedToEntity
- AtomEditorComponents_DepthOfField_AddedToEntity
- AtomEditorComponents_DirectionalLight_AddedToEntity
- AtomEditorComponents_DisplayMapper_AddedToEntity
- AtomEditorComponents_ExposureControl_AddedToEntity
- AtomEditorComponents_GlobalSkylightIBL_AddedToEntity
-

[2021-11-30 17:50] chiyenteng opened #6041 "[SliceDeprecation] Convert Script/Physics related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:

- ~~ScriptCanvas_CollisionEvents~~
- ~~ScriptCanvas_GetCollisionNameReturnsName~~
- ~~ScriptCanvas_GetCollisionNameReturnsNothingWhenHasToggledLayer~~
- ~~ScriptCanvas_MultipleRaycastNode~~
- ~~ScriptCanvas_OverlapNode~~
- ~~ScriptCanvas_PostPhysicsUpdate~~
- ScriptCanvas_PostUpdateEvent
- ScriptCanvas_Pre

[2021-11-30 17:52] chiyenteng opened #6042 "[SliceDeprecation] Convert Terrain/Physics related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:
(From Physics test folder)
- ~~Terrain_AddPhysTerrainComponent~~
- ~~Terrain_CanAddMultipleTerrainComponents~~
- ~~Terrain_CollisionAgainstRigidBody~~
- ~~Terrain_MultipleResolutionsValid~~
- ~~Terrain_MultipleTerrainComponentsWarning~~
- **Terrain_NoPhysTerrainComponentNoCollision**
- ~~Terrain_TerrainText

[2021-11-30 17:57] chiyenteng opened #6043 "[SliceDeprecation] Convert Core/Physics related automated tests to use prefab system"
Convert all level and slice files used in the following automated tests into prefab format:

- ~~TestPythonAssetProcessing~~
- ~~BaseDamageTest.py~~
- ~~Blast_ActorSplitsAfterCollision~~
- ~~NvCloth_AddClothSimulationToActor~~
- ~~NvCloth_AddClothSimulationToMesh~~
- ~~CharacterController_SwitchLevels~~
- ~~Collider_AddColliderComponent~~
- ~~Collider_AddingNewGroupWorks~~
- ~~Collider_CheckDefaul

[2021-11-30 17:59] AMZN-daimini commented on #6027
Trying to reproduce this issue to get more information. May need a few fresh rebuilds/cache deletes depending on what's causing it to only happen on the first session :)

[2021-11-30 19:03] #5767 closed

[2021-11-30 19:10] #5150 closed

[2021-11-30 19:34] shirangj opened #6047 "Make scrubber/validator not depend on legacy packaging scripts."
Since the old packaging scripts are deprecated, we need to make scrubber/validator not depend on legacy packaging scripts.

[2021-11-30 19:46] monroegm commented on #6025
@amzn-jillich Some info is missing for this bug to be worked on by anyone

[2021-11-30 19:57] monroegm commented on #5478
@AMZN-Igarri @hultonha FYI

[2021-11-30 19:59] monroegm commented on #5438
Assigning to Graphics-Audio for triage because this seems like a graphics-related issue

[2021-11-30 20:07] amzn-phist commented on #5617
FYI: Stepping through the Wwise Builder code led me to find and fix some other minor things, unrelated to this issue: #6048

[2021-11-30 20:21] AMZN-daimini commented on #6027
Managed to get a repro. My log is a little different than what was reported, but actually sounds closer to @SergeyAMZN 's description.

[code]

![image](https://user-images.githubusercontent.com/82231674/144121618-06c33c52-2b61-4d92-8162-9d905e8b053d.png)
![image](https://user-images.githubusercontent.com/82231674/144121686-e088e33e-e566-4356-b326-033ffe458fc0.png)

In GetPhysicsMaterialNames:
[co

[2021-11-30 21:07] AMZN-daimini commented on #6027
I have a small fix that seems to prevent the crash for me - I wasn't able to repro the issue again after introducing it.

This is not my area of expertise, so I'd ask for at least one review from the PhysX team before sending this in, just in case :)

[2021-11-30 21:44] lsemp3d opened #6052 "Script Canvas - Text Replacement User Documentation"
Script Canvas has a system in place to replace text, configure categories and tooltips in its Node Palette, nodes and variables.

The user documentation should explain how to use the system to follow the naming conventions.

[2021-11-30 21:47] #6009 closed

[2021-11-30 22:00] shirangj commented on #6047
https://github.com/o3de/o3de/pull/6053

[2021-11-30 23:08] #5190 closed

[2021-11-30 23:09] #5726 closed

[2021-11-30 23:39] amzn-rhhong commented on #5992
This is more of a feature request than bug. EMFX does not remember the widget position after it closed. Here is a few possible solution:
1. Reference the current layout for any missing widget, then dock the newly created widget to that position.
2. Have the emfx ui system to remember the last docking position of any widget, then when any widget is being recreated, dock back to the previous positio

[2021-11-30 23:45] amzn-rhhong commented on #5991
The ticket is talking about the knight 3d. Could you provide a link for that @nielianpeng ?

[2021-12-01 09:03] LB-MateuszSzweda commented on #6027
Today it was verified that there is an existing workaround to avoid the issue on initial launch.
Running Asset Processor and letting it process all assets and only then running the Editor will not reproduce the issue.

So, running Editor (which launches asset processor by default) on initial launch - The issue reproduces

Running Asset Processor first and letting it process all assets before launc

[2021-12-01 10:32] LB-KacperKapusta commented on #5926
Fix verified using the Linux o3de_installer_2111_1.

[2021-12-01 10:50] AMZN-Igarri commented on #5478
Just tested it and I can't replicated. Thks was fixed with #5650

[2021-12-01 10:50] #5478 closed

[2021-12-01 16:47] monroegm commented on #4140
@LB-JakubSkorupka Can you provide more information about where the expectation for the search operators came from? Did this previously work in Lumberyard?

[2021-12-01 16:53] monroegm commented on #5983
We should be able to support non-standard characters so we wouldn't want to display an error in this case. Is there an underlying issue that is caused by allowing non-standard characters in this case?

[2021-12-01 16:58] monroegm commented on #5985
Hi @nielianpeng, can you please explain why this causes an issue for you? What is the user scenario?

[2021-12-01 17:14] #5049 closed

[2021-12-01 18:21] wintermute-motherbrain commented on #5666
@olegbc1 this should be fixed in both stabilization and development.  Can you please confirm this issue no longer occurs?

[2021-12-01 18:24] wintermute-motherbrain commented on #2811
@monroegm @amzn-jillich Looks like this is an EMFX issue.

[2021-12-01 18:27] wintermute-motherbrain commented on #2578
Believe this is fixed.  @santorac to verify.

[2021-12-01 18:40] santorac opened #6068 "SceneAPI MaterialData To Expose Original Texture Path"
**Is your feature request related to a problem? Please describe.**
The warning messages about missing textures when compiling fbx files is unclear. It's like:
Could not find asset 'D:\o3de\MyProject\Assets\Objects\Textures\vase_1k_basecolor.png' for 'baseColor'

The actual texture path in the fbx file is like "..\Textures\fabricGreen_1k_basecolor.png", but the AssImpMaterialImporter tries to resol

[2021-12-01 18:45] wintermute-motherbrain commented on #5868
@lsemp3d what is the expected behavior for SC nodes handling "bad" parameters?

[2021-12-01 18:59] wintermute-motherbrain commented on #5868
Spoke with @lsemp3d and here is his feedback:

lsemp3d:
for now, I'd make the default something valid

                ->Event("GetFovDegrees", &CameraRequestBus::Events::GetFovDegrees)
                ->Event("SetFovDegrees", &CameraRequestBus::Events::SetFovDegrees)
                ->Event("GetFovRadians", &CameraRequestBus::Events::GetFovRadians)
                ->Event("SetFovRadians", &Camera

[2021-12-01 19:07] amznestebanpapp opened #6070 "AssetReferenceBase::Reflect method seems to not be called"
**Describe the bug**
I have a script that deletes file contents in search for unused code. Was surprised to find that AssetReferenceBase::Reflect seems to not be called at all.
To reproduce you can delete the implementation of the method, if it was called from some place, it would give a linking error.

Expected behavior
Call it or remove the method

[2021-12-01 20:02] lawsonamzn commented on #4818
Is this PC Processing assets for IOS, or is it PC processing assets for PC?
IOS assets require ASTC compression which takes a lot longer in general.  So to get comparison times in the same area you'd have to use AssetProcessorBatch with the
[code]
switch to make it compile for ios, instead of the default (compiling for directx12) which uses a different faster image compression.

I'll do some measu

[2021-12-01 20:07] hershey5045 commented on #5438
Seems like HDR color grading component here was not enabled, which was why no LUT file was created. Let me fix this by not showing or at least greying out the LUT generation button when the component is disabled, and move the LUT generation button as well to the bottom.

[2021-12-01 22:23] AMZN-Gene opened #6075 "Asset Browser Search Highlight"
When searching in the AssetBrowser the search will include both folders and files matching the search filter. This is expected, but sometimes when the search string is buried in the path, it's hard to tell why the results are returning

**Solution**
Could we highlight the piece of the path that's matching the search?
![image](https://user-images.githubusercontent.com/32776221/144323726-d58016fd-07

[2021-12-01 23:47] AMZN-Dk commented on #3200
The task work assigned to this was completed, the testing and workflow work was moved into Jira. Closing this out.

[2021-12-01 23:47] #3200 closed

[2021-12-02 00:20] onecent1101 commented on #2615
![derivedtype](https://user-images.githubusercontent.com/5900509/144335043-1994aa1d-5dd6-4852-9412-bf31c43a7022.PNG)

@lsemp3d Tested with the fix, it can work now, and get expected log after running game.
[code]

But there is a minor issue: with the fix, the slot won't be auto converted to reference when you try to drop variable on it. You have to manually convert slot to reference, then you can

[2021-12-02 01:27] lsemp3d commented on #2615
Excellent, are you able to submit a PR with that fix and open an issue for the problem with references?

[2021-12-02 02:11] santorac opened #6083 "Two Periods Before FBX Extension Hangs the AP"
**Describe the bug**
If you accidentally put two "." instead of one before the extension in a .fbx file, the AP will hang.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the Asset Processor
2. Rename "Gems\Atom\Feature\Common\Assets\Models\sphere.fbx" to "sphere..fbx"
3. Notice the job for "sphere..fbx" hangs.
4. Notice the Asset Processor cannot be closed via the usual task bar m

[2021-12-02 03:06] olegbc1 commented on #5666
@wintermute-motherbrain thanks for confirming. I will reach out to the customer next week and reopen if the issue persists.

[2021-12-02 03:06] #5666 closed

[2021-12-02 03:42] CGorz opened #6087 "NOMSAA leads to IDE Crash"
**Describe the bug**
The NOMSAA solution exists bug. Nomsaa configuration is dependent on m_supervariantName, which is fetched by ShaderSystem::SetSupervariantName(). If user sets different MultisampleState.samples in variant pipelines, such as mainpipeline set samples to 4, others set as 1; It will incur different shader versions (nomsaa's vs msaa's) in the same pipeline during running time, as a

[2021-12-02 11:13] #2609 closed

[2021-12-02 12:40] LB-JakubSkorupka opened #6089 "Focusing behavior of Editor tools is inconsistent"
**Describe the bug**
Opening any tools contained in the default Editor layout does not result in focusing them. The following tools also share this behavior:
 - Animation Editor,
 - Asset Editor,
 - Landscape Canvas,
 - Object Tree,
 - PhysX Configuration,
 - Script Canvas,
 - Track View,
 - Audio Controls Editor,
 - Console Variables,
 - Python Console,
 - Python Scripts.

These tools are always

[2021-12-02 14:00] LB-JakubSkorupka opened #6090 "Slice Favorites tool is present in the Editor launched for project with prefab system enabled"
**Describe the bug**
The **Slice Favorites** tool is present in the **Tools** dropdown when the Editor is launched for the project with the **prefab** system enabled.

Please note that **Slice Favorites** currently does not have a proper use in the Editor launched for a project with the **prefab** system enabled, as it operates on **slices**.

The **Slice Favorites** tool is part of the **Slice**

[2021-12-02 14:25] LB-JakubSkorupka commented on #4140
@monroegm The expectation for the search operator is due to the assumption, that searching using search bars in the Editor should be consistent. Search results should always contain the characters entered in a search bar, except when the typed character was not found. This was not tested in Lumberyard.

[2021-12-02 15:18] moraaar commented on #6027
I've investigated why physics material library is not ready and I just discovered something odd.

If I run the editor after Asset Processor has finished, the function `PhysXSystem::OnCatalogLoaded` is called correctly, which is the one that loads the physics material library if there is one assigned or triggers the logic to create the default one if there is none assigned to the PhysX configuratio

[2021-12-02 15:47] moraaar opened #6093 "OnCatalogLoaded is never broadcast if Editor is launched before processing assets"
**Describe the bug**
`OnCatalogLoaded` is a runtime notification for when catalog is loaded and it's possible to resolve asset Ids. Some systems listen to this notification to start loading and resolving their assets, but **this notification is never broadcast if the editor is run without having run Asset Processor first** (which is the default case when creating a project and open editor from Pri

[2021-12-02 16:05] lumberyard-employee-dm commented on #6093
The AssetCatalog gets loaded in the [AzFramework::Application::StartCommon](https://github.com/o3de/o3de/blob/development/Code/Framework/AzFramework/AzFramework/Application/Application.cpp#L212-L223) when the `Application::Start` is invoked

[2021-12-02 16:10] moraaar commented on #6093
Yes, which will call `AssetCatalog::LoadCatalog`, which will call `AssetCatalog::LoadBaseCatalogInternal()` and that function will never reach `InitializeCatalog(baseCatalogName.c_str());` (which is the one broadcasting `OnCatalogLoaded`)

[2021-12-02 16:47] lawsonamzn commented on #4818
Yes, there's definitely something else wrong here.
Here's 2 compiles of the same texture, both **for** ios platform, but one on PC, and one on Mac hardware.  Both machines have eqiuvalent CPUs (core i7 12 core) same amount of ram and both are using the SSE4.1 library for ASTCEnc:
[code]

28 seconds vs nearly 1000 seconds.  Something is wrong.   But what?

[2021-12-02 16:50] windbagjacket opened #6094 "Track View tracks become disabled when playing a sequence in play mode with Track View open"
**Describe the bug**
Tracks in Track View become invalid/disabled when playing a sequence via play mode or rendering to file, while it is open in Track View.

**Steps to reproduce**
1. Create a sequence in TrackView and add a track to translate an entity. Set the sequence to auto-play.
2. With the sequence open in TrackView, enter play mode in the main editor window. Or, render the sequence to fil

[2021-12-02 17:39] windbagjacket commented on #4590
As a rather clunky workaround you can use track events to trigger a script to change the active camera

[2021-12-02 17:40] lawsonamzn commented on #4818
I figured it out.  The mac version of the ASTC library is compiled in debug mode.  I will need to issue a new package.

[2021-12-02 17:49] RoddieKieley commented on #3180
Started to scaffold this in in o3de via my [issue3180 branch](https://github.com/RoddieKieley/o3de/tree/issue3180) while also subsequently refactoring glfw to separate the joystick/gamepad processing via an [o3de_issue3180 branch](https://github.com/RoddieKieley/glfw/tree/o3de_issue3180) in that project.

[2021-12-02 18:10] santorac commented on #2578
I confirmed this still occurs as of:
commit 9edbe4d541ccc998601514897984f39afa899271 (HEAD -> development)

[2021-12-02 18:37] lmbr-pip commented on #5919
Discuss with sig-platform, should be an RFC

[2021-12-02 18:45] olegbc1 commented on #1866
With 21.11 releasing today, Windows installer is now available at: https://o3debinaries.org/download/windows.html. Linux package file [here](https://o3debinaries.org/download/linux.html). Give it a try and let us know what you think!

[2021-12-02 18:45] #1866 closed

[2021-12-02 18:46] ppinfel opened #6099 "Feature Request - Build a Release Monolithic game using the Installer engine"
Currently it is not possible to use the installer to package a game (release monolithic) because it doesn't have the build configuration/permutation required (the installer only have profile config)

I think this feature is something many users expect when they use the engine but it is actually not available

[2021-12-02 18:49] galibzon commented on #1771
Issue has been fixed.
Validated on "development" branch with NVIDIA Titan X:

o3de: 0116f0a520cc00df5e52978c7443c454dce0a559

AtomSampleViewer: bedec996f7c28464976f0ba7a200dae0ba410408

[2021-12-02 18:49] #1771 closed

[2021-12-02 19:04] shirangj commented on #5718
Closing this issue since development is green

[2021-12-02 19:04] #5718 closed

[2021-12-02 19:17] monroegm commented on #6103
In the SIG-Content meeting on 12/2/21 we determined that this is a feature request that doesn't need a full blown RFC.

[2021-12-02 19:45] o3de-issues-bot opened #6105 "Automated Review Failure - development"
Build url: https://jenkins.build.o3de.org/job/O3DE/job/development/1216/
Identified problems:
* Test error: Errors while running CTest
  * Indication 1:
    <https://jenkins.build.o3de.org//job/O3DE/job/development/1216/consoleFull#-147581529860f5c32df5baa2a40af90ad8>

[2021-12-02 19:53] monroegm commented on #5966
Hello @sysuNie can you provide a video or a screenshot of the issue?

[2021-12-02 21:16] AMZN-stankowi commented on #6093
Is there a reason these systems are responding to that message? I've found in the cases I've looked at so far, like Atom initializing some systems, it wasn't the right message to listen to. This is for both the reason just pointed out by moraaar, and because in bundled release builds, this message may never be sent because the asset catalog is optional and instead delta catalogs are loaded for eac

[2021-12-02 21:30] AMZN-stankowi commented on #6093
You can see the change I made to the Atom's bootstrap logic here, to listen for a more reliable message: https://github.com/o3de/o3de/pull/5164/files#diff-1d5588829cc3fe55631fa88df3454631556b59d34e30078021c425963cf75f6bR152

You can see the complete list of application lifecycle events here https://github.com/o3de/o3de/blob/development/Registry/application_lifecycle_events.setreg

[2021-12-02 22:03] amznestebanpapp opened #6109 "ASan on Windows: Qt causes failures"
**Is your feature request related to a problem? Please describe.**
Qt is causing failures when running ASan on Windows.

**Describe the solution you'd like**
@nemerle found [this](https://developercommunity.visualstudio.com/t/address-sanitizer-reports-presumably-false-error-o/1562042#T-N1562085)
We can try to hookup that SetDll into the runtime dependencies so we patch qt libraries on copy only if

[2021-12-02 22:14] lawsonamzn commented on #4818
A fix for the package is being prepared here
https://github.com/o3de/3p-package-source/pull/72
A fix for the o3de source to use the new package is forthcoming

[2021-12-02 22:15] #746 closed

[2021-12-02 22:15] AMZN-Liv commented on #746
This has been included in 2111.1 and is available as of today!

[2021-12-02 22:15] AMZN-Liv commented on #745
This has been included in 2111.1 and is available as of today!

[2021-12-02 22:15] #745 closed

[2021-12-02 22:16] AMZN-Liv commented on #3188
This has been included in 2111.1 and is available as of today!

[2021-12-02 22:16] #3188 closed

[2021-12-02 22:58] forhalle commented on #6093
@moraaar  - I removed this from Milestone 2. It needs to go through the [exception process](https://wiki.agscollab.com/pages/viewpage.action?spaceKey=lmbr&title=O3DE+Feature+in+Stabilization+Exception+Mechanism) to be considered to be added to scope.

[2021-12-02 22:58] yuyihsu commented on #6093
@moraaar  what is the user impact to this issue? in the description it only describes the problem, which is failed to call "OnCatalogLoad", but it didn't describe the impact. can you provide more?
For now we will remove this issue from Milestone 2 until we can assess the impact further.

[2021-12-02 23:06] Darkinggq opened #6111 "[GNU/LINUX] Script canvas moving vector3 still curves"
**Describe the bug**
Script canvas moving vector3 (X working, Y vice versa Z top, Z does not work at all)

![image](https://user-images.githubusercontent.com/17591539/144517098-585ca97c-c07d-46c4-ac61-b5461825c666.png)

tutorials -> https://youtu.be/4zwZcVQskGg?list=PLCQwFpnHSZQhhsr6iJqyeYqKe6dexnHh9&t=528

**Steps to reproduce**
Open Editor
Сreate file Script Canvas
Added `On Entity Activated` ->

[2021-12-03 00:01] AMZN-mnaumov commented on #5646
I've done some investigating, it does not look like this issue depends on #2782 it looks like just an unnecessary assert that happens in any scene with UI Canvas and could probably be removed.

[2021-12-03 00:02] Magical10240 opened #6116 "[GNU/LINUX] Script Event save to path file error not saved"
**Describe the bug**

![image](https://user-images.githubusercontent.com/17591539/144521590-81142d9b-ee0b-4991-aa5f-4ed0371bc34b.png)

tutorial -> https://youtu.be/Z7hqAJnj4-g?list=PLCQwFpnHSZQhhsr6iJqyeYqKe6dexnHh9&t=90

**Steps to reproduce**
Open Editor
Open Asset Editor
New -> Script Events
Save File
Error

**Screenshots/Video**

https://user-images.githubusercontent.com/17591539/144521243-16c

[2021-12-03 01:07] AMZN-alexpete commented on #4437
Hi @LB-MateuszSzweda, can you verify this is not the behavior you see when scrolling your mouse wheel in another Mac application like the Safari web browser?  I seem to recall this is the way Mac scrolling works because of the touch pad scrolling where the page scrolls down when your fingers move up on the touchpad.

[2021-12-03 01:08] AMZN-alexpete commented on #4385
Hi @LB-TomaszSerwanski, this issue should be resolved in latest stable and development branches.

[2021-12-03 01:09] AMZN-alexpete commented on #4383
Hi @LB-TomaszSerwanski this issue should be fixed in the latest stabilization, main and development branches.

[2021-12-03 01:13] AMZN-alexpete commented on #2661
Hi @Kadino,  the Project Manager now allows you to open the CMake GUI should you wish to configure and build in an IDE.  The Project Manager provides a link to the build logs which you can open to see exactly what the build is doing, and if you use the engine as an sdk, the build should complete much faster because you no longer need t o build the engine.

When you get a chance could you please re

[2021-12-03 01:15] AMZN-alexpete commented on #2431
Hi @micronAMZN, we have been unable to reproduce this crash in some time using the stabilization and dev branches.  When you get a chance would you mind updating/closing this issue if it no longer reproduces for you?

[2021-12-03 01:43] AMZN-alexpete opened #6120 "[Minor] Gem dependency notification shows invalid character"
**Describe the bug**
When a gem dependency notifications are shown in the Project Manager, an invalid character is shown instead of the number of gems enabled/disabled.

![o3de_jer4K25LUx](https://user-images.githubusercontent.com/26804013/144530421-a29cb800-33ca-4c38-8f6d-cbf40c406657.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Project Manager (o3de.exe)
2. Configure

[2021-12-03 02:02] #2384 closed

[2021-12-03 03:40] Zaya6 opened #6123 "[GNU/LINUX] Lighting is messed up in Vulkan"
The lighting seems to only cover a certain area of the screen. It seems like it's only affected by the screen size while moving/rotating lights caused no noticeable change. This is a new project with a default new level.  All default settings.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new project
2. Open project in editor
3. Create a new level

**Expected behavior**
The li

[2021-12-03 08:33] Altair1024 commented on #6123
@Zaya6 see #4379 this is a problem for amd graphics cards

[2021-12-03 08:40] Altair1024 commented on #6123
if it's not nice now, you can temporarily disable it via PostFX -> SSAO

![image](https://user-images.githubusercontent.com/17591539/144571148-287710ba-ab48-498f-9858-7d4fd34e1756.png)

#5034 when the fixes in SSAO do not know yet

[2021-12-03 10:10] moraaar commented on #6093
Fixing this is necessary to fully fix bug #6027, which is marked for RTE Milestone 2. So if #6027 is considered necessary for "RTE Milestone 2" then this issue would need to be included as well. It's explained in detailed in my comment https://github.com/o3de/o3de/issues/6027#issuecomment-984724834

[2021-12-03 10:21] moraaar commented on #6093
I think this part of the description sums it up: "Some systems listen to this notification to start loading and resolving their assets, but this notification is never broadcast if the editor is run without having run Asset Processor first (which is the default case when creating a project and open editor from Prism tool), leading to some systems (like PhysXSystem) not loading and resolving their a

[2021-12-03 10:25] LB-ArturSiewniak opened #6126 "Feature Request: Add an option to delete .o3de and O3DE folders under the /Users/<user> path when uninstalling O3DE"
**Is your feature request related to a problem? Please describe.**
On Windows when O3DE is uninstalled via the `Add or remove programs`, the .o3de and O3DE folders under the <drive>:/Users/<user>/ path persist and have to be deleted manually. The .o3de folder's size is 14.6 GB as of writing this issue (most notably contains the 3rdParty folder, as well as some log and registry files), and the O3DE

[2021-12-03 10:42] LB-BartoszDudzinski opened #6127 "Polygon light type height value is reverted to 0 after leaving Game Mode"
**Describe the bug**
Polygon Prism Shape in an entity with a Light component has it's height value reset after leaving the Game Mode. This issue only occurs if a Polygon Prism Shape component is used in conjunction with a Light component.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity.
2. Add a Light component to it.
3. Select Polygon as the light type.
4. Change the

[2021-12-03 10:49] moraaar commented on #6093
Yeah, from the `AssetCatalogEvents` bus it seems like `OnCatalogLoaded` is the right one to listen to because it states "it's possible to resolve asset Ids":
[code]

I don't know what the other systems listen `OnCatalogLoaded` for, but in the case of PhysXSystem case it was used as a point when the material library asset was expected to be resolved. But if what you're saying it's true, that `OnCat

[2021-12-03 10:57] LB-BartoszDudzinski opened #6128 "Light intensity cannot be changed by script if it's value is set to 0"
**Describe the bug**
When the light intensity value of a Light component is set to 0, it cannot be changed by a script.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity.
2. Add a Light component to it.
3. Select any light type.
4. Change the light intensity value to 0.
5. Create a script (screenshot attached) and assign it to the entity.
6. Enter the Game Mode.

**Expec

[2021-12-03 11:27] #6027 closed

[2021-12-03 11:30] moraaar commented on #6027
PR #6050 fixed the crash, but physx materials shown in FBX Settings are still not behaving as it should (it only shows default material, instead of all the materials from the library). This is due to a larger issue discovered while investigating this:

#6093

[2021-12-03 11:34] moraaar commented on #6027
Also, PR #6050 was merged into development branch.

@forhalle @yuyihsu should this be cherry picked into stabilization/2111RTE branch too?

[2021-12-03 12:29] moraaar commented on #6093
@lumberyard-employee-dm  Maybe the initialization of asset catalog should be moved after the editor has stablished a connection with Asset Processor and it has finished processing its asset?

[2021-12-03 13:31] LB-ArturSiewniak opened #6129 "Linux: O3DE GitHub Development branch fails building"
**Describe the bug**
Attempting to build the Development branch on the Linux platform causes an XcbInputDeviceKeyboard errors to stop the building process.

It should be noted that building the Stabilization_2110 (6480041) on Linux does not have this issue.

It should also be noted that building on the Development branch on Windows does not have this issue as well.

Please refer to the **Building

[2021-12-03 14:29] ali1234 opened #6130 "[Website] Github links on the download page are broken"
On https://o3de.org/download/ there is a button labelled "Download from Git". It links to https://github.com/o3de/o3de/main which is an invalid URL (404). It should probably be https://github.com/o3de/o3de/tree/main

[2021-12-03 14:39] jjjoness commented on #5699
After taking the development branch on 12/3 this no longer occurs.

[2021-12-03 15:07] AMZN-stankowi commented on #6093
I'll look into fixing the missing call to OnCatalogLoaded, but I think each of those systems should be evaluated and probably switched to a different message. I also don't think it will fix the crash in this ticket, because if you're loading a project with a lot of assets to process there's nothing stopping you from clicking through to the tool and causing the crash while assets are still processi

[2021-12-03 15:14] olegbc1 commented on #6130
Thanks for reporting this @ali1234 I have already submitted PRs to fix. https://github.com/o3de/o3de.org/pull/1267 and
https://github.com/o3de/o3de.org/pull/1268

[2021-12-03 16:21] moraaar commented on #6093
PR #6050 fixed the crash for PhysXSystem, but physx materials shown in FBX Settings are still not behaving as it should (it only shows default material, instead of all the materials from the library). But that will get fixed once this `OnCatalogLoaded` issue is addressed.

[2021-12-03 17:17] forhalle commented on #6027
@moraaar  - Yes, PR #6050, which is the fix for #6027, should go into stabilization/2111RTE.

[2021-12-03 17:21] yuyihsu commented on #6027
Sorry, I accidentally removed the "feature/physics" label yesterday, adding it back.

[2021-12-03 17:23] moraaar commented on #6027
Thanks, I will.

[2021-12-03 17:27] yuyihsu commented on #6093
Thanks @moraaar  for the detailed info. I agree with you that this issue is bigger than my original understanding. I agree that we should fix this in the RTE point release. @forhalle let me know if you have concern to add this back to the milestone 2 scope. It seems that the team has a solution already as well.

[2021-12-03 17:54] amzn-pratikpa commented on #6129
@burelc-amzn already fixed this with https://github.com/o3de/o3de/pull/6091

[2021-12-03 17:54] #6129 closed

[2021-12-03 18:08] lumberyard-employee-dm commented on #6093
I agree with Joseph in this case that the `OnCatalogLoaded` event is not the correct the event to use determine whether a specific asset has processed.
`OnCatalogLoaded` doesn't mean the "AssetProcessor has processed ALL the assets and the application can now load those assets".
It just means that the application has performed call to `AssetCatalogBus::LoadCatalog` for a particular xml file that c