[2022-10-25 15:36] junbo75 commented on #12745
Thanks for the info, @santorac. I'll change this to a critical.

[2022-10-25 15:53] etherealchain commented on #11388
I have a PR to resolve issue 1, #12796
For issue 2, should the window pop up one by one for each newly created document? (Newly created document doesn't have a path yet, hence the error message)
If so we may need some new functions in AtomToolsDocumentMainWindow and  AtomToolsDocumentSystem

Also, I notice now when you run GenerateShaderVariantListForMaterials.py (on StandardPBR_ForwardPass.shader

[2022-10-25 16:10] rgba16f commented on #12792
Pinging @amzn-tommy as the author of the Skinning Pass.

[2022-10-25 16:16] lmbr-pip commented on #12768
Assigned to both content and graphics as its unclear if fix is in the image gradient component (assume that is owned by graphics) or in the component switcher (editor). Please make a call and assign to correct SIG, thanks.

[2022-10-25 16:20] lmbr-pip commented on #12795
Most likely involves a default shader when then are no UVs, assigning to Graphics and removing asset pipeline labels.

[2022-10-25 16:49] AMZN-Olex opened #12798 "Editor crashes in Atom_RPI.Editor.dll on launch"
**Describe the bug**
Editor crashes on launch with latest development. On 10/24/2022 dev I didnt see this issue. See the stack at the bottom.

**Assets required**
I see it with o3de-multiplayersample.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Use o3de-multiplayersample (perhaps other projects, too?)
2. Process all assets with AP.
3. Open the Editor in a debugger.
4. See error

**

[2022-10-25 17:37] lumberyard-employee-dm commented on #11541
Closing as that PR to add the documentation has been completed

[2022-10-25 17:37] #11541 closed

[2022-10-25 17:39] #12198 closed

[2022-10-25 17:39] #12513 closed

[2022-10-25 17:42] lumberyard-employee-dm commented on #12731
The installer shouldn't actually contain the AutomatedTesting project within it.
Based on the failure it looks like it the installer is missing files as if all the artifacts weren't downloaded by the installer

[2022-10-25 17:44] amzn-tommy commented on #12792
@MoMoPF  Your intuition is correct - they are writing to the same big buffer, but they are not overlapping so they can be executed in parallel. The barrier at the beginning of the pass is necessary - it's what ensures the MorphTargetPass is finished writing to a shared buffer before the skinning pass starts reading from it. There is a similar barrier before any depth/shadow passes start, to ensure

[2022-10-25 19:28] AMZN-Gene opened #12801 "Multiplayer: As a Dev I Want a Graceful Result when Failing to Create a Network Player"
**Is your feature request related to a problem? Please describe.**
There's no default player that is spawned on the server, so if I forget to place a Network Player Spawner component, or use a .spawnable instead of .network.spawnable, the server will fail to create a player. There's always a few moments of confusion after this happens, and in the case where i'm just wanting to test the network beh

[2022-10-25 21:06] ParasiteSt commented on #11054
I am going to close this issue as I have found the best way to set the Mesh entity. Saving references to entities outside of the prefab does not make a lot of sense, and as long as there is ways to set references during runtime for components there should never be a reason to add such a feature.

[2022-10-25 21:06] #11054 closed

[2022-10-25 21:10] ParasiteSt commented on #9896
Any updates on this? I was using it for the wrong purpose, and switched to the suffix _ui which solved all problems related to gradients for me. I am not sure if this issue should stay open or be closed, as I cannot find any real use of the _gradient suffix, and why its even a process type.

[2022-10-25 21:18] AMZN-stankowi commented on #12795
STL files are a good way to test this, too. The STL file format does not support UVs.

[2022-10-25 21:33] AMZN-daimini opened #12804 "Spline - Cannot add additional nodes"
**Describe the bug**
When editing a Spline component, I would expect it to be possible to add additional nodes but I can't seem to find a way to.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity
2. Add a Spline Component
3. Edit the Spline

**Expected behavior**
There is a clear way to add new nodes, either from the Component Card or the Component Mode UI.

**Actual beh

[2022-10-25 21:34] santorac commented on #11388
I would expect it to behave the same way as a typical Save All action, which would open a new browser dialog for each file one at a time. In this case, it would be the Project/Engine dialog instead. And I think the Cancel button should abort the entire Save All operation, not just the current file.

[2022-10-25 21:35] santorac commented on #11388
I don't know about the warnings. @gadams3 do you know what's going on there?

[2022-10-25 21:54] gadams3 commented on #11388
The document error or the Python warnings?
Do you know what variable the Python marshaling is failing on? If it is just up here, it might be something that is not fully reflected or you have to call RegisterGenericType for on the serialize context.
There should be virtual functions on the application main window that you can override for your own file open and save dialogs.
Save all with normally

[2022-10-25 21:55] hogjonny opened #12805 "[DCCsi] Fix Set Up Errors"
**Describe the bug**
The DCCsi requires some manual set up ... and can fail
1. dccsi _init_.py has some strict checked for engine bin folder that may not exist before engine is built (can cause maya start to fail.)
2. fix init so it can try to pass (make sure user can get to errors/warnings with instructions.)
3. foundation.py requires o3des python (if you try to run it, it will inform you to use

[2022-10-25 22:08] ParasiteSt opened #12806 "Bug Report: Lerp nodes inconsistent"
**Describe the bug**
The Lerp nodes should all have the same text, but the Lerp function (not a vector or quaternion) does not follow the same naming.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to script canvas and look up Lerp
2. Drag the Lerp node into the viewport
3. See that it does not have the To and From naming that the other Lerp nodes have.
4. See error

**Expected beh

[2022-10-25 22:53] ParasiteSt commented on #11152
Degrees are in general the most known form of rotation. Radians is the next most known form, and then Quaternions is the least. Quaternions in general have some of the best ways of doing rotation, but it is not user friendly, and people just getting started with o3de will not more than likely be able to understand how it all works. I think Degrees is the best standard for on the nodes for user usa

[2022-10-25 23:08] AMZN-alexpete commented on #12801
I'd add that in my case, the log message (warning) saying that there is no player spawnable are easily lost in the log spam and do not clearly indicate that without the player spawnable other non-player entities will not replicate.  I recommend coloring the log error so it stands out as an yellow warning or red error (prepend the message with the correct $1-3 for the right color, or something)

[2022-10-25 23:46] HogJonny-AMZN opened #12807 "Bug Report"
**Found in Build:** development

**Reproducibility:**  100%

**Prerequisites:**
o3de\python\get_python.bat (plus cmake and all those precursors)
AutomatedTesting (or another project with PySide2 Gem enabled)
Project and O3DE are configured

**Steps to Reproduce:**
start "C:\depot\o3de-dev\python\python.cmd"

**Expected Result:**
If the Qt .dlls are built and on the PATH
And Pyside2 is available to

[2022-10-25 23:47] HogJonny-AMZN commented on #12807
For AWS: LYN-16085

[2022-10-26 04:17] lmbr-pip commented on #12806
Assume these are the scripting Lerp math operators so assigning to sig/content

[2022-10-26 05:08] AMZN-Gene opened #12812 "Material Canvas: Asset Processor Fails When Using Normal as Output Color"
**Describe the bug**
A simple material canvas shader which uses the vertex color as the base color will fail to compile asset processor

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Material Canvas
2. File > New > "New Material Canvas Document"
3. Create this canvas and save
![image](https://user-images.githubusercontent.com/32776221/197939769-42167370-5e8d-4f98-9c31-11070defa63

[2022-10-26 08:43] MoMoPF commented on #12792
Thanks for helping! @rgba16f @amzn-tommy   As @amzn-tommy  said, my dirver version is 5** and it works when I revert it to 4**. Now dispatch calls are overlapped in the GPU capture. Thanks!
![image](https://user-images.githubusercontent.com/49116245/197920551-28595a1e-dcc0-49cf-991f-c878fb7c769d.png)

But in addition, it doesn't work if I set **_D3D12_DRED_ENABLEMENT_FORCED_OFF_** for DRED setting

[2022-10-26 09:42] LB-MateuszSzweda opened #12813 "Clicking White Box Manipulator Mode switch icon multiple times results in grey square artifacts appearing in Viewport layout"
**Describe the bug**
Entering the Edit Mode of an entity based on **White Box** component and clicking the _Switch to Manipulator mode_ icon few times in a row results in grey square artifacts appearing in the Viewport, beneath the other Edit mode icons.

These grey squares persists in Viewport and Game mode until the Editor is restarted or the Viewport layout is reloaded.

Please note that White

[2022-10-26 09:50] LB-JakubSkorupka opened #12814 "Error pointing out unassigned asset in component"
**Describe the bug**
Components with the asset assignment field left empty have the red error icon present next to the corresponding field.
Pressing the Error icon displays an error window with the following message:

[code]
Note, that this issue does not affect assigning the assets in the component.

Components with the error icon present:
-  Actor
-  AnimGraph
-  Simple Motion
-  Network Player

[2022-10-26 10:04] etherealchain commented on #11388
The warning is printed here in GenerateShaderVariantListForMaterials.py
[code]
`options` is an AZStd::unordered_map<Name/*optionName*/, Name/*valueName*/>

To reproduce:

1. Run ShaderManagementConsole
2. Right-click on StandardPBR_ForwardPass.shader, select GenerateShaderVariantListForMaterials.py
3. Observe the warning
4. Comment out line 114 and run GenerateShaderVariantListForMaterials.py agai

[2022-10-26 11:40] LB-ArturZieba opened #12816 "White Box Manipulator Mode uniform scaling in the Scale Mode works only on the Z axis"
**Describe the bug**
White Box uniform scaling of the Scale Mode in the Manipulator Mode affects only the Z axis and not all of the axes, as it does on the Non-uniform Scale component for example.

**Prerequisites**
* The selected project was built and White Box Manipulator Mode was enabled for it by including
[code]
lines in project's editorpreferences.setreg file.

**Steps to reproduce**
1. Crea

[2022-10-26 12:00] LB-JaroslawGaweda opened #12817 "Remote project removing issues"
**Describe the bug**
Added remote projects cannot be removed by Remove from O3DE and Delete this Project options either from the hamburger menu by the project tile nor by choosing it from the context menu.
Further, when choosing the Remove from O3DE option and attempting to download the project again, it fails, and the following error is displayed:
`[ERROR] o3de.download: Could not clone <name of

[2022-10-26 12:02] LB-ArturZieba opened #12818 "White Box Manipulator Mode has Rotation and Scale modes for the vertices"
**Describe the bug**
Rotation and Scale modes can be enabled on the White Box vertices in the Manipulator Mode, while they do not affect them.

**Prerequisites**
* The selected project was built and White Box Manipulator Mode was enabled for it by including
[code]
lines in project's editorpreferences.setreg file.

**Steps to reproduce**
1. Create an entity and add a White Box component to it.
2. E

[2022-10-26 15:44] junbo75 commented on #12784
There's a workaround to convert the sub ID to 16 base before passing to the [AZ::Data::AssetId::CreateString](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/Asset/AssetCommon.h#L84) function. However, the sub ID displayed in AP may still confuse users since it's 10 base.

[2022-10-26 16:11] lumberyard-employee-dm commented on #12693
@o3de/sig-graphics-audio It looks like this assert is occurring within the GridComponentController when the DrawLines function is invoked in OnBeginPrepareRender.
Moving this to that group for triage.

[2022-10-26 16:13] gadams3 commented on #11388
Use RegisterGenericType to add the pair and map to the serialize context in the reflect function for whichever class has the map. You should be able to search for other examples where containers need to be registered like that. Try that and let me know if there is still a problem.

[2022-10-26 16:17] lumberyard-employee-dm commented on #12716
I think the only tick rate that should be limited should be the Game tick rate, which is exposed by the regular [TickBus](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/Component/TickBus.h#L147-L151).

Changing the SystemTick frequency seems dangerous as it is used for several non-game/simulation timing events.

[2022-10-26 16:43] chanmosq commented on #12823
@southeast2017 I moved this issue to the o3de repo - since it's code related maybe someone here knows about this memory issue

[2022-10-26 17:22] #10965 closed

[2022-10-26 18:16] amzn-tommy commented on #12792
I haven't tried turning DRED off, but what you observed is expected. The driver issue is independent of DRED. The driver issue is an issue that occurs when taking GPU captures, regardless of whether or not DRED is enabled. And reverting your driver confirms it is indeed the driver issue we were thinking of.

DRED was just an alternate theory, where we weren't sure whether or not the auto-breadcrum

[2022-10-26 18:16] #12792 closed

[2022-10-26 18:43] monroegm commented on #8228
I believe this has been fixed since it was reported

[2022-10-26 18:57] #12588 closed

[2022-10-26 21:37] AMZN-alexpete commented on #12233
This no longer occurs in latest development branch.

[2022-10-26 21:37] #12233 closed

[2022-10-26 21:40] AMZN-alexpete commented on #12684
Hi @ParasiteSt I can not reproduce this error in latest development branch.  Can you share your level so I can verify I'm using the same atmosphere settings?  It's also possible this issue was recently fixed.

[2022-10-26 23:17] amzn-leenguy opened #12830 "Bug Report: Installing O3DE to D Drive causes an error"
**Describe the bug**
When I was trying to install the engine to my D drive, during the installer workflow, I clicked options and changed the C:\O3DE\22.10.0\ path from C to D and it showed the following error after i clicked accept and go ahead and install. (was able to replicate it 3 times. Ended up working after I left it as C)

![error packaging](https://user-images.githubusercontent.com/828467

[2022-10-27 01:02] MoMoPF commented on #12792
I will if I have some ideas. Thanks for guiding.

[2022-10-27 02:51] ParasiteSt commented on #12684
Hey @AMZN-alexpete sorry for the late reply I was trying to dig into a few problems, this being one of them. I updated to the newest dev thinking the new change you added may have solved this issue, but it did not. The issue is fully based on if the rotation is set to -90 on the X axis for the component holding the sky atmosphere component. I did not know this because I have the entity set to usin

[2022-10-27 03:26] ParasiteSt opened #12834 "Feature Request: Multiple Camera Workflow through Bitflags"
**Is your feature request related to a problem? Please describe.**
Right now O3DE does not have any way to render two cameras and put them together into a final picture for the player. This is a vital piece to most FPS/FPP games.

**Describe the solution you'd like**
A solution for this would to add on the camera component a Bitflag category which would specify what that camera sees and renders. T

[2022-10-27 03:30] ParasiteSt commented on #12025
@AMZN-Gene I added a new feature request about Bitflags and camera support, since you definitely have more expertise in this area if you would like to add any notes onto the post here is a link to it.
https://github.com/o3de/o3de/issues/12834
I honestly think this would be a better way of going about rendering for FPS games, and all the other uses of compositing camera views onto each other, so I

[2022-10-27 03:30] #12025 closed

[2022-10-27 03:58] ParasiteSt commented on #12834
![CameraBitflagAddition](https://user-images.githubusercontent.com/100494538/198187589-2fdfe877-956b-42d9-8858-ab2ee640c926.png)
![BitflagComponentIdea](https://user-images.githubusercontent.com/100494538/198187598-6f6daf37-9643-4846-a705-02846a3942b1.png)
This is just a couple quick drafts in photoshop of what it _could_ look like. I also think the bitflag addition may not be added directly from

[2022-10-27 04:00] AMZN-Olex opened #12835 "Script Canvas crashing when activating a network entity"
**Describe the bug**
When creating a multiplayer level with scripting, entering game mode in the Editor sometimes crashes.

**Assets required**
o3de-multiplayersample
https://github.com/aws-lumberyard-dev/o3de-multiplayersample/pull/new/Network/olex/lbc_10_2022

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Multiplayer Scripting sample level
2. Enter game mode with CTRL-G
3. See

[2022-10-27 06:50] ParasiteSt commented on #12682
I just grabbed the newest Dev branch [a5e2145] and this issue still occurs. The upside is it does not seem to affect development in terms of a crash, but it does overtake the console, and makes it hard to debug aspects of your project.

[2022-10-27 06:56] ParasiteSt opened #12837 "Bug Report: Minimizing O3DE second monitor not maximizing on reopen."
**Describe the bug**
If you have two windows open, O3DE main window, and another for say Script Canvas, UI Editor, etc. and maximize both to take up a monitor fully each, when you minimize the main engine window the Script Canvas window minimizes as well. This is great, but when you reopen O3DE from the minimized icon, the Main window maximizes, but the Script canvas window opens in its smaller vi

[2022-10-27 08:31] hultonha commented on #11054
That's great to hear, thanks for following-up @ParasiteSt. If you find anything else let us know! 🙂

[2022-10-27 09:11] LB-KacperMetelski opened #12838 "Building engine fails with error message"
**Describe the bug**
The following error occurs during the engine building which stops the process.
[code]
[CMDoutput10272022.txt](https://github.com/o3de/o3de/files/9877943/CMDoutput10272022.txt)

- Full CMD output is attached to the issue.

- Please note that this issue does not occur on Linux platform.

- We have noticed that the issue started to occur with the following commit - 3fe4b89

**Ste

[2022-10-27 09:36] LB-KacperKapusta opened #12839 "[Android] The Default Project app does not launch with assets by VFS setup"
**Describe the bug**
Upon launching the app on a device for Default Project setup with "assets by VFS" the following error is thrown:
[code]
Additionally, the Asset Processor does not obtain connection displaying the following error:
[code]
Please note that the "assets in APK" and "assets in sdcard" packaging modes launch correctly.
For further information refer to the attached screenshots.

The s

[2022-10-27 09:57] etherealchain commented on #11388
I tried as follow, but nothing changed, I will keep testing.
[code]

[2022-10-27 10:11] LB-JaroslawGaweda opened #12840 "Editor crashes after editing asset name in Asset Browser"
**Describe the bug**
Exiting the edit name mode in the Asset Browser crashes the Editor. Issue occurs on Linux and Windows Github builds. Adding crash logs from windows.

**Steps to reproduce**
1. Search for any asset in the Asset Browser.
2. Select it and press F2 (or double click on the assets name) to enter name edit mode.
3. Click anywhere else.

**Expected behavior**
You exit the name edit mo

[2022-10-27 10:20] LB-TomaszSerwanski commented on #12493
Issue verified as fixed in Development (72b2163).

[2022-10-27 10:34] LB-KacperKapusta commented on #8228
During verification of the issue on Development (8a9db6c) we encountered another one with projects not appearing in the Project Manager after being created which makes the "Show logs" button not accessible:

Prerequisites: O3DE Project Manager is built using macOS SDK layout.
1. Open Project Manager.
2. Create a new project.

The created project does not appear in the Projects tab. The same happen

[2022-10-27 11:37] LB-ArturZieba commented on #8269
This issue still occurs partially on the Development (73b2163) build on Linux, but I wanted to mention the tooltip on the Visible property should probably be adjusted as well as currently it reads "Material is visible in game mode.". I believe that since it should hide the whole mesh it should read for example "White Box is visible in game mode.".

[2022-10-27 12:07] LB-KatarzynaDylska commented on #11680
The proposed workaround to change the format to USA works on Development (73b2163) build. The animations can be played without errors. Changing priority to minor.

[2022-10-27 12:16] LB-JaroslawGaweda opened #12842 "Exiting Viewport camera mode is inconsistent after holding LMB and RMB and dragging cursor around"
**Describe the bug**
After pressing and holding the right mouse button and the left mouse button together and dragging it inside the Viewport, the User may enter the camera mode. In this mode, pressing the Escape or right mouse button does not exit the camera mode. Additionally, the cursor may appear, but the camera is still following mouse movement.
It should be noted that after multiple clicks o

[2022-10-27 12:56] LB-JakubSkorupka opened #12844 "Drag and dropping .fbx assets from Asset Browser to Viewport works inconsistently"
**Describe the bug**
After drag and dropping a .fbx asset from the **Asset Browser** to the **Viewport** window, an entity is created with a localization path of used asset as its name (e. g. If BeveledCone.fbx asset was drag and dropped, the name of entity will be:  "buildso3deGemsAtomToolsMaterialEditorAssetsMaterialEditorViewportModelsBeveledCone_fbx").

Also, the asset assigned to the **Mesh**

[2022-10-27 15:25] hultonha commented on #8269
Thanks for the update @LB-ArturZieba, perhaps this is something @pollend could take a look at while investigating related White Box issues. Feel free to reach out to me or @jonawals if you have questions.

[2022-10-27 15:33] AMZN-Olex opened #12847 "Multiplayer warning whenever an entity is removed (properly with MarkForRemoval)"
**Describe the bug**
Trying to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix. MultiplayerScriptingSample level spawns a projectile and removes them after a few seconds of flight time. For each removed projectiles from the server correctly, a warning is printed.

[code]

**Assets required**
o3de-multiplayersample new MultiplayerScriptingSample le

[2022-10-27 15:47] AMZN-stankowi commented on #12844
There is no issue with drag and drop here. It's working exactly as it should, it's instantiating the procedural prefab and breaking the connection to the procedural prefab.

The problem is the procedural prefab itself, the name is the full path to the file for some reason:
![image](https://user-images.githubusercontent.com/4838196/198337316-df2039c8-6685-4b83-885e-18d680ccb8c9.png)

[2022-10-27 16:16] hultonha commented on #12618
Discussed in sig-simulation triage - tagging @amzn-rhhong and @moraaar for visibility on this for something to take a quick look at when possible. This hopefully should be something simple to update and resolve. Thanks!

[2022-10-27 16:19] hultonha commented on #12620
Discussed in sig-simulation triage, one suggestion is if this is specific to Linux (could you please confirm @LB-KacperKapusta) this might be a case sensitivity issue that we wouldn't be seeing on Windows. Adding more-info for now before investigating further. Thanks!

[2022-10-27 16:26] lmbr-pip opened #12848 "Feature Request: Update all AWS Gems to Cloud Development Kit v2"
**Is your feature request related to a problem? Please describe.**
The AWS gems shipping with O3DE use [AWS CDK v1](https://docs.aws.amazon.com/cdk/v1/guide/home.html). CDK v1 active development has ceased

**Describe the solution you'd like**
* All AWS Gems updated to CDKv2
* Periodic jobs using CDK migrate to CDKv2
* Documentation updated to reference CDKv2

Note: There is a separate initiative

[2022-10-27 16:27] pollend commented on #8269
how should this work in practice. I think we discussed this separately but we wanted to get feedback from UI-UX @hultonha .

[2022-10-27 16:28] moraaar commented on #12618
This error won't appear anymore with the latest, the error has been downgraded to a warning: https://github.com/o3de/o3de/pull/12587

So I think this bug can be closed based on the description.

If there is a further issue with `test_hair_bone_chain_head_style.fbx` about the actor generated not using the right mesh group... then that's not a bug but a feature request.

[2022-10-27 16:32] hultonha commented on #8269
I've added the @o3de/sig-ui-ux `needs-ux-action` label so hopefully we can get some feedback from them. Tagging @amzn-leenguy and @rainbj for visibility if they could take a look and give feedback on how this should work.

@pollend and myself did discuss this offline and we do want to be able to toggle the visibility to use for invisible collision in levels which can be really useful, so we do wan

[2022-10-27 16:39] hultonha commented on #12618
Okay excellent thanks @moraaar - I do have an internal ticket for this that tracks the work but haven't migrated yet, it's on my todo list! :) Thanks for the info!

[2022-10-27 16:39] #12618 closed

[2022-10-27 16:57] amzn-tmryan commented on #12840
Looking into this!

[2022-10-27 16:58] lmbr-pip opened #12849 "Feature Request: `INSTALL` target should provide options to build client and server launchers"
**Is your feature request related to a problem? Please describe.**
Running ```cmake --build build/windows --target INSTALL --config profile``` creates an install layouts for everything.
![layout](https://user-images.githubusercontent.com/61438964/198352758-6b44e6ae-e1e8-466a-8144-6809a16333b4.PNG)

The install folder contains the Editor, Tools, Unified launcher etc. All in the install folder is 14

[2022-10-27 17:07] amzn-leenguy commented on #11152
I love that you are talking about these standards @ParasiteSt . Thank you.

The SIG UI UX office hours agree with the direction that you suggested of using degrees.

We agree that converting all the measurements to a standard using degrees, since that is more recognizable, but we should have a larger conversation about Quaternions

After reviewing these concepts, we have realized that there's a bi

[2022-10-27 17:19] gralco commented on #10759
However, if I throw in an `AZ_Printf` statement inside my `OnPressed(float value)` function, I see that when I press and hold a single key (such as the one I use for moving forward) it will print the message once, then nothing for maybe around 1 second, and then continuously spam that message after that approximately 1 second has elapsed.

Contracting this with a windows machine, apparently it onl

[2022-10-27 17:37] lmbr-pip commented on #12755
Believe this happens to child networked entities, happens only at launch. Needs investigation

[2022-10-27 17:39] lmbr-pip commented on #12801
Multiplayer template should make it less common for this to happen as that should set up player spawners correctly.

[2022-10-27 17:44] lmbr-pip commented on #12849
Looking to get input from SIG/build and SIG/platform about expected behaviour and if this is a valid request. We can discuss who may deliver work.

[2022-10-27 17:49] AMZN-Olex opened #12850 "Script Canvas Spawn Prefab node does not place network prefabs correctly"
**Describe the bug**
Using a Spawn node in Script Canvas with a multiplayer prefab does not place the entities correctly. It always places them at 0,0,0.

**Assets required**
o3de-multiplayersample MultiplayerScriptingSample level which is currently only in this branch:
https://github.com/aws-lumberyard-dev/o3de-multiplayersample/tree/Network/olex/lbc_10_2022

**Steps to reproduce**
Steps to repro

[2022-10-27 18:51] ParasiteSt commented on #11152
Sorry I did not make it @amzn-leenguy. I did read the notes, and my input so far will be this.

I know that degrees is the most known and easiest for a lot of people to use, but I also completely understand that other industries and even game development can and would rather use other forms of rotation.

This is where I would have thought it is going to get tricky, but as @lsemp3d added in having

[2022-10-27 22:25] rgba16f commented on #12834
It seems like Atom can already do what is described. We can split what is rendered by render pipeline pass, so as an example ui can be rendered separately from the main 3d scene. In the described example a 3d ui pass could be added to render first person character hands, etc.

Other cases can be handled as a camera rendering to a texture that is then used in the main viewport.

If I've misundersto

[2022-10-27 22:27] lsemp3d opened #12854 "13 - Enter a URL directly into Asset Browser"
[Migrated from JIRA LYN-11700]
 **Use Story:**

As a user, I need the ability to enter a URL directly into AB. URL bar (like Windows Explorer) This includes the ability to cut, copy and paste URL in and out for sharing purposes with other individuals on my teams.

-  user should also be able to paste urls into this bar from outside the editor and it should work.

- When a user clicks into the blan

[2022-10-27 22:35] lsemp3d opened #12855 "15 - Create a two column panel view in Asset Browser"
 **Use Story:**

As a user I need the ability to switch between views. A 1 column view (which we currently have now. All assets in a single column view including folders and assets). And a two column view (left column is just folders of assets. The right column assets and folders from location and downward) - see window explorer for example.

As as user single column views are very hard to parse t

[2022-10-27 22:39] lsemp3d opened #12856 "16 - New detail panel for the Asset Browser inside inspector"
 **Use Story:**

As a user I need a detail view panel that will replace the inspector details when user is view content inside AB. The current details in the AB panel should be moved over to the inspector panel and removed from the AB. Currently the Detail panel is in spot where it cannot grow beyond the small space taken up in the asset browser right panel.

O3DE currently

![image](https://user-

[2022-10-27 22:42] lsemp3d opened #12857 "Intermediate asset inside the new Asset Browser Inspector"
It was discovered the need to include intermediate asset inside Asset Browser. It was discussed that we can postpone this requirement until we develop the new Asset Browser Inspector. The below image is just an example of something that we can include this feature. Discussion on how this will actually operate should be discussed further when the ticket is picked up by a developer. Adding this tick

[2022-10-27 22:44] lsemp3d opened #12858 "19 - Asset Browser - Status icon for Source control."
As a user I need the ability to see the **Status icon** as thumbnail overlays for {**}Source control{**}.

 

These are the status that are provided by Unity and I suggested we use something similar. We should also consider making the visualization agnostic to a specific source control. Such as Perforce because as later on Perforce might be only one of many other source controls software we do sup

[2022-10-27 22:46] lsemp3d opened #12859 "20 - Add navigation buttons in the header of Asset browser ( back and forward )"
 **Use Story:**

As a user I need the ability to have navigation buttons in the header (previous, forward). Next level down could be added as a bonus feature. See windows explorer for example. This will allow user to focus on content editing instead of memorizing the last folder user viewed. Instead they can focus on the issue in which is the priority for user in the moment.

 **Notes:**

This nav

[2022-10-27 22:47] lsemp3d opened #12860 "21 - Create a toggle switch to go back and forth between 1 column and 2 column view"
**User Story**

As a user I  need a button in the header of the Asset Browser that will allow me to swap between different view. 2 column view and single column view. This ticket is not about creating the view but just adding the switch between the two views. This is a similar functionality as what is provided in windows explorer in the bottom right corner.

![image](https://user-images.githubuser

[2022-10-27 22:49] lsemp3d opened #12861 "22 - Asset Browser - Thumbnail view."
User Story:

As a user, I need the ability to see thumbnails of my asset in a 2 column thumbnail view that will allow me to easily tell if this is the asset I would like to use.  I would like my experience to match the experience I have in Window Explorer. This is where the left-hand column is a folder only view and doesn't show assets. The middle panel show assets but also shows folder thumbnails

[2022-10-27 22:51] lsemp3d opened #12862 "23 - Asset Browser - Table view"
User Story:

As a user I have the need to see all my asset in a single columns tree view. I need this view to be:
 * Share a consistent left have column view with both 1 and 2 column views.

 *
 **** In this view you will have 3 accordion sections: Favorites, Project view, and collections (collection may be merged with Fav)
 **** In your project accordion you will have all your project related fol

[2022-10-27 22:53] santorac opened #12863 "Common Assets Should Only Need One Job"
**Is your feature request related to a problem? Please describe.**
Some product assets are exactly the same on every platform. For example, lua files are processed by the LuaBuilderWorker to produce a ScriptAsset, which is not platform-specific data. In this cases, the AP unnecessarily repeats the same work for every platform.

Another related problem is that intermediate asset jobs cannot have jo

[2022-10-27 22:53] lsemp3d opened #12864 "Asset Browser - List view"
As a user, I would like a single column view of my Asset Browser experience - This view is this simplest view of all three of our views. This view would be experienced as an accordion view that almost uses the same look and feel we have today without the side detail panel. This would be a flat, long scrollable list that can be docakable on the left-hand side of the page. On top of the outliner vie

[2022-10-27 22:56] lsemp3d opened #12865 "3 - Drag and drop content within Asset Browser."
 **Use Story:**

As a user I need the ability to drag and drop content inside asset browser. this means from one location to another location.

 **Notes:**

We still need to define what files can and cant be dragged in specific scenarios and when to prompt the user about their expectations in specific scenarios.

 

See #10201

[2022-10-27 22:58] lsemp3d opened #12866 "4 - Drag and drop content into and out from of Asset Browser"
**Details**

As a user I need ability to **drag and drop content inside and outside of asset browser** (windows explorer). As an example I have an asset on my desktop and I want to drag this asset to a specific folder inside AB. I should be able to do so. Same with removal of assets from AB. I have an asset I no longer I want to include in my game or simulation

AC:

This ticket is not specific to

[2022-10-27 22:59] lsemp3d opened #12867 "14 - Favorite URLs and searches queries inside Asset Browser"
**Use Story:**

As a user, I need the ability to have favorite URLs and favorite searches inside AB. This includes a favorites list in your left column ways or removing favorites, as well as renaming their favorites. 

- We should support an accordion section of the main window which list out all the favs.
- you should be able to add fav from any view. This means if the search query area is clear,

[2022-10-27 23:00] lsemp3d opened #12868 "25 - Asset Browser - View my 3rd script details inside Asset Browser"
User Story:

As a game designer I need to a way to get some high level details about my script file inside the game engine.  This includes.
 * Does the engine natively support the script or not
 * A way to launch the appropriate application to view the file. (via right click or double click)
 * when single clicking a file, the AB inspector should show all the normal details such as,
 **** name, si

[2022-10-27 23:01] lsemp3d opened #12869 "Asset Browser - Improved search experience"
As a user, I need an **improved search experience** in AB{**}.{**} Currently, there are several things about my search experience that are not what I expected. :
 * As a user, I would like to search by 4 types (Name, Tags, Path, Type).
 * As a user, when I do a search. Sometimes I get search results that do not have any matched words I have in my search bar. I expect that the search results will o

[2022-10-27 23:04] lsemp3d opened #12870 "Asset Browser - Multi browser experience"
As a user: I need the ability to explore, view, and manage my asset for more than one Asset Browser window. Imagine your experience when managing your personal assets on Mac or PC (Windows explorer experience). 

 
 * As a user, I want to right-click on Asset browser and open up a new window
 * As a user, I want to right-click on a folder or tab and open up a new window in that specific location

[2022-10-27 23:06] lsemp3d opened #12871 "Asset Browser Search (logical operators) regex"
As a user, I need the ability to do advanced searches that I can build expressions and then save them as favorites when done.  This context includes using logical statements in the search query.
 * Example: This folder/asset/tag/type "AND"  folder/asset/tag/type.
 * It was suggested that we support RegX {color:#1d1c1d}(regular expression){color} as the system to enhance our search patterns{color:#

[2022-10-27 23:07] lsemp3d opened #12872 "17 - Create Asset Browser inspector panel"
 **Use Story:**

**Migrate and create an associated asset panel in the asset browser inspector panel**

As a user, I need the ability to see my asset related details in it's own panel that is not integrated tightly into the asset browser. Currently the integrated asset preview and details of that asset in Asset Browser makes the viewing experience extremely hard to see thumbnail and or details bec

[2022-10-27 23:09] lsemp3d opened #12873 "18 - Asset Browser - Dependent assets"
 **Use Story1:**

As a user, I need the ability to see my associated asset to my currently selected asset in the Asset Browser inspector panel. By default, these should not be "engine processed asset (AZ--- assets), but asset as a user I would want to know about for manipulation purposes.

This includes any associated:
 * FBX
 * Matierals
 * Script Canvas files
 * Mesh (Obj)
 * Prefab
 * ProcPrefa

[2022-10-27 23:12] pollend commented on #12806
could just be a generic Lerp similar to multiply divide and add.

[2022-10-27 23:16] lsemp3d opened #12874 "Asset Browser - Hide and show engine assets"
As a user, I need the ability to occasionally turn on (toggle switch) and see my engine assets from inside the Asset Browser. By default, we should hide any assets and folder if they can't be used (in their current state) within their project. These files can make the Asset browser feel very noisey for our customers, and there is very little value for customers seeing this data on a daily basis. W

[2022-10-27 23:17] lsemp3d opened #12875 "Asset Browser - Enhanced 3d preview window"
As a user, when viewing my asset in the Asset browser inspector panel. I want to rotate my 3d asset in the preview window to verify that I've selected the correct file. I want to see a 3d preview of the asset and not just a thumbnail. 
 * As a user, I would like to rotate my 3d thumbnail, so I can see all sides of my assets.
 * This can be a setting that lets people know this might slow down their

[2022-10-27 23:19] lsemp3d opened #12876 "27 - Asset Browser - Context aware inspector (Merge inspectors)"
User Story: As a user I would like one inspector instead of managing several inspectors within my workflows. This new inspector experience should be context aware and always show what is in my selection state. This means if I'm clicking on asset in my asset browser it should show asset related details. If I'm clicking on entities or prefabs it should show the current entity inspector. Making the i

[2022-10-27 23:54] ParasiteSt commented on #12834
Hi @rgba16f I am working on a first person project right now, and the main part that I cannot do/do not know if Atom has the capability yet is rendering character hands in a different pass. For a lot of cases I would just go to rendering a second camera to texture and place that into the ui, but for hands I need the correct shadows of the scene, and that is where I cannot use the same method as th

[2022-10-28 00:00] akioCL opened #12877 "[RHI] Add support for Variable Rate Shading"
**Is your feature request related to a problem? Please describe.**
Traditionally, the density of fragment shader invocations for a given triangle is constant across the framebuffer. Due to performance constraints, a graphics renderer can't always afford to deliver the same level of quality to every part of its output image. Variable-rate shading—or coarse pixel shading—is a mechanism that lets you

[2022-10-28 03:39] renmingbao opened #12879 "Edited entities are black when rendering to texture properties using UI canvasBug Report"
Describe the bug
We use the UI canvas to render the attachment image asset, and then use the attachment image asset to render the entity. In the editing state, the entity grid is black, and the running state is normal.

![black](https://user-images.githubusercontent.com/34731041/198496374-1c6f546a-c1a3-4861-825f-6fb275a9efbf.png)

Steps to reproduce
Steps to reproduce the behavior:

Open UI Editor

[2022-10-28 06:17] Bond-F opened #12880 "Display Mapper : Save the settings and restart the engine but the component does not work"
**Describe the bug**
Save the settings and restart the engine but the Display Mapper Component does not work.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add Display Mapper Component.
2. Set properties.
3. Save Level and Restart the engine.
4. Reload the level.
5. See error

**Expected behavior**
The properties will work.

**Actual behavior**
Not work.

**Desktop/Device (please com

[2022-10-28 06:22] AMZN-Gene commented on #12801
While we at least provide the spawned component in the Multiplayer Template, the problem is you still need to physically place a spawner in the level. It’s definitely burned me before and easy to forget when first starting.

[2022-10-28 10:04] LB-KacperKapusta commented on #12620
It has been reverified on Development (6fbb9ce) that the described .animgraph assets still only fail on Linux platform. For Windows both are completed without any warnings or errors.

[2022-10-28 10:40] LB-KacperKapusta commented on #8228
It has been observed that the issue mentioned in the comment above, due to the macOS default project path, is https://github.com/o3de/o3de/issues/3682. Sorry for posting an irrelevant comment.

It has been reverified creating a project in a path outside of the root directory that the "Show logs" button still does nothing during building.
Reopening the issue as it still occurs.

https://user-images

[2022-10-28 11:43] LB-ArturZieba opened #12883 "White Box Use Texture is not applied to correct entities"
**Describe the bug**
On Windows the *Use Texture* property affects all existing White Box components, until the Game Mode is entered and left.

On Linux the behavior becomes unpredictable where different White Box component is affected by it once Game Mode is entered and left.

**Steps to reproduce**
1. Create an entity and add a White Box component to it.
2. Repeat step 1, space the entities out

[2022-10-28 12:58] hultonha commented on #12620
@LB-KacperKapusta Thanks for the update! I was wondering could you try locally renaming the asset to be lowercase to see if that resolves the problem please? Any questions please give me a shout. Thanks!

[2022-10-28 13:07] LB-KacperKapusta commented on #12620
@hultonha Attempted to rename the assets to be lowercase but that does not solve the issue and the AP still shows the same errors.

[2022-10-28 13:11] LB-KacperKapusta opened #12884 "[Animation Editor] Unable to move multiple parameters into a group at once"
**Describe the bug**
It is impossible to move multiple parameters into a group at once and the following error is printed while doing so:
`[Error] (EMotionFX) - Index # is out of bounds for parent "<group_name>"`

Please refer to the attached video for more information.

**Steps to reproduce**
1. Open Animation Editor.
2. Create an AnimGraph.
3. In Parameters tab add multiple parameters pressing "

[2022-10-28 13:12] LB-BartoszDudzinski commented on #12838
Closing the issue as fixed. The pull request which fixes it was already merged into development in commit (575a293). The issue no longer occurs.

[2022-10-28 13:12] #12838 closed

[2022-10-28 13:33] hultonha commented on #12620
I see, thanks for confirming @LB-KacperKapusta, super helpful for eliminating that as a potential cause. We'll take another look at this soon 👍

[2022-10-28 14:57] galibzon opened #12886 "Add Tool To Select Or Highlight Entities By Collision Layer or Group"
**Is your feature request related to a problem? Please describe.**
I'm in a situation where I'd like to know if a particular Layer is being used so I can safely remove it. Similarly for a Collision Group. But I can see in  large project that'd be a good tool to have to highlight entities that are referencing particular Layers or Groups.

**Describe the solution you'd like**
1- At first, a Python A

[2022-10-28 14:59] galibzon commented on #12886
@greerdv and @hultonha for visibility.

[2022-10-28 15:42] AMZN-stankowi commented on #12876
I would personally prefer these as separate inspectors. There are workflows that are nice to have these up side by side, both visible at the same time.

[2022-10-28 15:55] lmbr-pip commented on #12880
Assuming this is the ATOM displaymapper so routing to SIG/graphics-audio

[2022-10-28 16:50] AMZN-Gene opened #12887 "LBC Usability: Dragging FBX into Level Doesn't Should Auto-Select Entity in Outliner"
**Describe the bug**
When I drag an fbx into my scene, chances are I want to manipulate it; add components, move it in space, etc. But now when I drag in an FBX, I have to go and find it in my entity outliner.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor
2. Drag any FBX into your level
3. Notice what entity is selected in entity outliner

**Expected behavior**
The fbx I

[2022-10-28 17:17] VickyAtAZ commented on #12834
For the function you need we could introduce another cheaper render pipeline to render for the second camera then render the output to main render pipeline's certain pass (such as before post effect and ui).
We already have some underline bit flags to filter object draws to different render pipeline which shouldn't be a problem.
I think the work is mainly figure out how the second render pipeline

[2022-10-28 17:21] AMZN-Gene opened #12888 "LBC Usability: Editor Crash Updating FBX"
**Describe the bug**
The editor crashes after re-exporting an FBX from Blender

**Steps to reproduce**
1. Open Editor.
2. Add an FBX to a new level
3. Open Blender and edit the FBX
4. Re-export the FBX, here are the settings I was using
5. Notice editor crash

![image](https://user-images.githubusercontent.com/32776221/198695966-4059fb06-1121-4688-b1e4-dd91000c5aea.png)

[code]

**Expected behavio

[2022-10-28 17:28] moraaar commented on #11954
Related to https://github.com/o3de/o3de/issues/12484

[2022-10-28 17:44] #12840 closed

[2022-10-28 17:45] amzn-tmryan commented on #12840
Fixed with PR #12811. Note that you will not be able to rename assets from the table view as mentioned in that PR. We're investigating that issue separately.

[2022-10-28 18:19] #12812 closed

[2022-10-28 18:52] ParasiteSt commented on #12834
@VickyAtAZ This sounds a lot like what I am looking for. It sounds like it will allow for the shadows to "line up" or close enough to not notice, and as long as if the first person hands do not clip into other meshes due to the depth buffer, this should be exactly what I am looking for.

[2022-10-28 19:29] santorac opened #12890 "Prioritize Asset Jobs That Are Filtered"
**Is your feature request related to a problem? Please describe.**
When the user types some text in the Asset Processor filter box, they have clearly communicated the assets that they care about most. However, it still takes a long time to process these assets because the AP is busy processing other jobs that are hidden. I suspect this delay is unnecessary as the assets currently being processed a

[2022-10-29 08:23] ParasiteSt opened #12892 "Bug Report: Icons render on top of debug info"
**Describe the bug**
Icons render on top of the debug info in the viewport.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new entity.
2. Make sure Icons are toggled On.
3. Move the viewport camera so the icon is overlaying the debug info in the top right.
4. See error

**Expected behavior**
The icons should be rendered behind the debug info, because the debug info is more im

[2022-10-29 15:14] galibzon opened #12893 "Animation Editor - Node Inspector - Improve Transition->Priority Description"
**Is your feature request related to a problem? Please describe.**
This is just a minor in-tool documentation improvement to the description  of the `Priority` field in the `Inspector` tab - `Transition` component.
![image](https://user-images.githubusercontent.com/66021303/198839293-f94e4892-fc30-4895-80fd-b8533807998b.png)

Current description:
[code]

**Describe the solution you'd like**
[code]

[2022-10-29 15:16] galibzon commented on #12893
FYI @hultonha

[2022-10-29 15:36] galibzon opened #12894 "Animation Editor - Add Option To Visualize Transitions By Priority"
**Is your feature request related to a problem? Please describe.**
When working on a particular graph with many transitions, there's no way to filter the visualization by Priority.
For example in a graph like this (Which is small in comparison to a typical graph on a real product) it can be very hard to track the priorities of each transition.
![image](https://user-images.githubusercontent.com/660

[2022-10-29 15:37] galibzon commented on #12894
@hultonha , @amzn-rhhong  for visibility

[2022-10-29 22:52] ParasiteSt commented on #11894
Hi @lsemp3d just wondering if there is an ETA on this? I am working on animations right now, but once this is possible I can move back to ui, as this feature is needed for the workflow the ui will be using.

[2022-10-30 00:00] #10600 closed

[2022-10-30 00:01] #10361 closed

[2022-10-30 00:04] #11142 closed

[2022-10-30 05:05] SelfishOlex opened #12896 "LyShine asserts when shrinking a long text to fit uniformly"
**Describe the bug**
When LyShine text is set to wrap text and shrink uniformly to fit, an assert is thrown if a text word doesnt fit the width of space assigned.

![image](https://user-images.githubusercontent.com/5432499/198863354-b96f0249-1299-48fb-8f27-afe7dcd55df1.png)

**Assets required**
[Canvas1.uicanvas.txt](https://github.com/o3de/o3de/files/9895116/Canvas1.uicanvas.txt)
An entire sample

[2022-10-30 21:38] ParasiteSt opened #12897 "Feature Request: Casting Shadows should be a flag on materials"
**Is your feature request related to a problem? Please describe.**
Right now the only way to make an object not cast a shadow is a hack by setting the objects opacity to 0.99, as shadows do not cast from transparent objects.

**Describe the solution you'd like**
Having a flag that could be toggled on or off to allow a material to either cast shadows or not cast shadows is the best approach.

**Des

[2022-10-31 09:56] hultonha commented on #12894
Thanks for raising this @galibzon. I think this could use input from @o3de/sig-ui-ux. Potentially could be discussed in the next office hours if you can attend.

[2022-10-31 12:41] LB-JakubSkorupka commented on #12840
Issue verified as fixed in branch Development (e0e4557) on Windows OS.

[2022-10-31 13:33] LB-JaroslawGaweda opened #12900 "Project cannot be reopened after deactivating a gem used inside that project"
**Describe the bug**
Deactivating a gem in a project that is using it (e.g. adding a white box component to an entity, saving the project and deactivating the white box gem) and attempting to reopen that project causes Asset processor to crash and freeze on the splash screen with "Launched Asset Processor and received connectio..." message, blocking the project from opening. It should be noted tha

[2022-10-31 13:58] galibzon commented on #12756
@hultonha , This bug may also exist on dx12, but unfortunately `--vsync_interval=0` doesn't work well when using dx12 so it needs to be validated on vulkan. See https://github.com/o3de/o3de/issues/12748.

[2022-10-31 14:31] LB-JaroslawGaweda opened #12901 "Visual changes in the gem catalog persist on a new project if it shares the same name"
**Describe the bug**
Creating a new project with the same name after deleting the previous one will have the same configuration of active gems. It should be noted that this is a UI visual persistence, as deactivated gems will work on a new project that should have them activated by default (e.g. deleting a project with deactivated white box gem and creating a new one from the same default template

[2022-10-31 15:24] AMZN-stankowi commented on #12890
I think we should pull in UX on this. I like the basic idea, but I wouldn't want to overload the existing filter/search because I often use that to search for things I don't need processed quickly, but that I want to view the logs for.

[2022-10-31 16:05] amzn-tommy opened #12902 "#include shader files from other gems"
**Is your feature request related to a problem? Please describe.**
To author a material type/shader inside a gem, it is sometimes useful to include shaders from other gems, especially Atom_Feature_Common. At the moment, it is only possible to include shaders that are in the ShaderLib folder. It would be helpful to have a way to include other shaders (such as the PBR shaders in Atom_Feature_Common)

[2022-10-31 16:09] amzn-mike opened #12903 "Asset Processor - File update network messages cause large processing time slowdown"
**Describe the bug**
Profiling has shown AssetBuilders are spending large amounts of time blocked waiting for network request responses from the AP while AP is spending a lot of time sending out `AssetNotificationMessage::JobFileClaimed` and `AssetNotificationMessage::JobFileReleased` messages.  Simply commenting out these two messages resulted in a processing time drop from 3 minutes to 1.5 minut

[2022-10-31 16:15] shawstar opened #12905 "Feature Request - Script Canvas nodes look the same but can be very different, which can be confusiong."
**Is your feature request related to a problem? Please describe.**
Many Script Canvas nodes have same name and same color, but can be from different families, which can get confusing.

Both these scripts do different functions from different family. One is from UI Canvas and one is from UI Element.. but both look the exact same.
![image](https://user-images.githubusercontent.com/87207603/199055710

[2022-10-31 18:16] santorac commented on #12902
The BuildListOfIncludeDirectories() function does add the engine's "Gems" folder as an include path. So at least this can be used to access built-in gems like "#include <Atom/Feature/Common/Assets/ShaderResourceGroups/CoreLights/SceneSrg.azsli>". That doesn't help in the case of third party gems.

Maybe for each scan folder, instead of just appending "ShaderLib" we could add three paths, one with

[2022-10-31 18:17] santorac commented on #12897
This would be really easy to implement on a per-material basis.

[2022-10-31 18:53] allisaurus commented on #12487
The [latest](https://jenkins-pipeline.agscollab.com/blue/organizations/jenkins/O3DE-LY-Fork-development_periodic-incremental-daily-internal/detail/O3DE-LY-Fork-development_periodic-incremental-daily-internal/528/pipeline/698/) Windows failure indicates the version of the CDK used to bootstrap the AWS Core stack isn't compatible with the pinned CLI version:
[code]
...and if you look at preceding lo

[2022-10-31 20:38] shawstar opened #12910 "Feature Request - Pre-Activate nodes so they are active for scripts."
**Is your feature request related to a problem? Please describe.**
Often when prototyping or creating a demo game etc, I want to use entities (other than self) in my scripts, but often run into trouble when the object is not yet activated at runtime and is not available.

I will sometimes make this my first script at start to make sure this is not the case. However, would be cool to have some-type

[2022-10-31 21:25] shawstar opened #12912 "Bug Report - Script Canvas will disconnect script entity components link if there is a large Script Canvas error."
**Describe the bug**
Script Canvas will disconnect script entity components link if there is a large Script Canvas error. This is very hard to troubleshoot sometimes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to script canvas and create a script that depends on an external entity from the component to be linked to it.
2. Create a large script error.
3. See if the linked entity

[2022-10-31 21:33] shawstar opened #12913 "Feature Request - Specific Script Canvas nodes require a specific entity type to work."
**Is your feature request related to a problem? Please describe.**
Specific Script Canvas nodes require a specific entity type to work. An example would be Screen to World Raycast would need to be connected to a camera to work properly. (Also Ortho Cameras do not work with this node)

**Describe the solution you'd like**
A requirements in a description with the node might help this.

**Describe al

[2022-10-31 21:44] AMZN-daimini commented on #12913
I would clarify this. With "entity type" do you mean "component"? Like, "Screen to World Raycast" is a node relative to the "Camera" component.

I'm not sure if we can enforce a component to be present in any way, since scriptcanvas scripts can be created in isolation from an entity, but there could definitely be clearer visual indicators/descriptions.

[2022-10-31 22:00] santorac commented on #12902
Another thing we could do is support aliases (@gemroot:gemname@) in #include statements. Then you would do like:
#include <@gemroot:Atom_FeatureCommon@/ShaderResourceGroups/CoreLights/SceneSrg.azsli>

[2022-10-31 22:05] AMZN-daimini commented on #12540
Note that this is currently by design, the "Quick Access Bar" functionality is planned to be restored with the new system at a later date.
Will leave this open to possibly track that work in the future.

[2022-10-31 22:35] junbo75 opened #12915 "Bundled assets cannot be loaded by the release game launcher due to incorrect file attributes"
**Describe the bug**
It is noticed that bundled assets from pak files other than engine.pak cannot be loaded in the release game launcher.

**Assets required**
Any O3DE project

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the game launcher in release and bundle its assets following https://www.o3de.org/docs/user-guide/packaging/asset-bundler/bundle-assets-for-release/. Two ass

[2022-10-31 22:45] junbo75 opened #12916 "Loading multiple asset bundle files that use the delta catalog results in 0 registered asset paths"
**Describe the bug**
It is noticed that multiple asset bundle files that use the delta catalog cannot be loaded successfully in release build.

**Assets required**
Any O3DE project

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the game launcher in release and bundle its assets following https://www.o3de.org/docs/user-guide/packaging/asset-bundler/bundle-assets-for-release/.
2.

[2022-10-31 22:49] amzn-tommy commented on #12902
One benefit of not doing it that way is that you should be able to take a shader in Atom_Feature_Common, copy-paste it into your gem, and it should just work (as an interim step before modifying it to have the customizations you intend to make). Then you start making your changes to it.

With @gemroot: in the #include, to support the above we'd have to add @gemroot to the files that are already in

[2022-10-31 23:46] AMZN-daimini commented on #12563
I have verified this and apparently external tools (like Material Editor, Material Canvas and Lua Editor) are not registered via the pane system but injected in the menu in separate different ways.

I'd like to standardize this, so I'll bring it up with UX to get some guidance as I think we should refactor this menu either way.

[2022-11-01 03:06] ParasiteSt commented on #12913
I feel the best approach for this in short term would be to have on hover over either the node or entity id it tells you what it expects for the specific node, and for long term would be icons on nodes to show what is expected, that match the component icons.

[2022-11-01 05:12] ParasiteSt commented on #10606
Hey @AMZN-Gene and @lmbr-pip
I saw this PR got merged, and am curious if this is a start to having Networking Integration in Script Canvas?
https://github.com/o3de/o3de/pull/12826
Thanks for any input if I have this right or not.

[2022-11-01 06:47] vincent6767 commented on #12759
Documentation aimed at contributors.

1. What's the features grid?
	1. A feature grid to allow members to understand the maturity and state of our documented and undocumented features. Currently being maintained by each SIG and published by the SIG docs community.
2. What's the purpose of the features grid?
	1. Quoted from [the original RFC](https://github.com/o3de/o3de/issues/6821)
		1. The idea

[2022-11-01 06:48] vincent6767 commented on #12759
@tonybalandiuk  Please review. If it looks good to you, we can have this added to your release documentation

[2022-11-01 14:32] shawstar opened #12920 "Feature Request - Script Canvas - The ability to clear out variables from nodes"
**Is your feature request related to a problem? Please describe.**
The ability to clear out variables from nodes. Currently I can not get them to clear totally, I usually just remake the node.,

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/87207603/199256421-f3097228-5feb-49e3-915b-ea80b0d9ba5a.png)

**Describe alternatives you've considered**
Remaking th

[2022-11-01 14:41] shawstar opened #12922 "Bug Report - Script Canvas - Component Transform Variables in Entity and in Script Canvas Variables Wont let me type in - negative numbers"
**Describe the bug**
Component Transform Variables in Entity and in Script Canvas Variables Wont let me type in - negative numbers

![image](https://user-images.githubusercontent.com/87207603/199259745-4f704ae7-d0f0-4ef5-b78a-d35b9091fdfc.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to an Entity or in Script Canvas Transform Variable and try and type a -neg number

**Expecte

[2022-11-01 14:51] shawstar opened #12923 "Bug Report Script Events - Updating a Script Event, especially while there are Script Canvas windows open using the Event, will give an Asset Processor error pop-up."
**Describe the bug**
Updating a Script Event, especially while there are Script Canvas windows open using the Event, will give an Asset Processor error pop-up.

The Open Script Canvas Events will update, but the closed 'not open' Script Canvas scripts will not update with the new Script Event unless I open the Script then Save the Script.

**Steps to reproduce**
Steps to reproduce the behavior:
1.

[2022-11-01 14:57] shawstar opened #12924 "Bug Report - Typing in Tag names in an Entity Component very difficult, 1 letter at a time then need to wait a few moments."
**Describe the bug**
Typing in Tag names in an Entity Component very difficult, 1 letter at a time then need to wait a few moments.

![image](https://user-images.githubusercontent.com/87207603/199263437-d02dfbf4-6c80-4cec-9a60-bf5e3bd210a6.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an Entity and add a component that needs a tag, like the one shown above.
2. Type in the

[2022-11-01 15:05] shawstar opened #12925 "Feature Request - Resizing O3DE Editor windows is challenging as it seems the resizing trigger to do so is very tiny and hard to do when working at a quick pace."
**Is your feature request related to a problem? Please describe.**
Resizing O3DE Editor windows is challenging as it seems the resizing trigger to do so is very tiny and hard to do when working at a quick pace.

**Describe the solution you'd like**
increase the click area for resizing the edges of O3DE Editor Windows.

[2022-11-01 15:19] #12526 closed

[2022-11-01 15:27] #12562 closed

[2022-11-01 15:34] lmbr-pip commented on #12923
Issue needs log/screenshot of actual error otherwise its hard to know if this is an asset-pipeline issue or a script canvas asset builder or something else.

[2022-11-01 15:57] junbo75 commented on #12903
This is a critical AP performance issue we should look into.

[2022-11-01 16:12] xA98Kx opened #12928 "Prebuilt linux binary debian packages from o3de.org fail to install"
Installer doesnt work on linux

![image](https://user-images.githubusercontent.com/116504369/199281663-082c7002-e8bc-4b69-814a-959499cc6fcd.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. Click on apt install <dir>/<o3de ver>.deb
3. See error

error msg
[code]
the fix given on the guide doesn't work

[2022-11-01 16:19] junbo75 commented on #12923
I'll try to repro this issue today and attach any log/screenshot.

[2022-11-01 16:26] byrcolin commented on #12849
Sig platform has no input on this. It seems not related. This seems like a cmake feature, orthogonal to platforms.

[2022-11-01 16:26] lumberyard-employee-dm commented on #12849
This is purely cmake change that would involve updating the CMake install scripts to add components for configurations such as "clients" or "servers".
See the CMake Components entry for the [install](https://cmake.org/cmake/help/latest/command/install.html#introduction) command for more information

[2022-11-01 16:31] byrcolin commented on #12839
@moraaar Have you run into this? leave some feedback.

[2022-11-01 16:38] AMZN-Gene commented on #12661
Seeing this as well.
Development branch. Friday October 28
![image](https://user-images.githubusercontent.com/32776221/199287575-e3f32ef9-57ec-47c6-a069-3f99042f69f2.png)

[2022-11-01 16:39] jckand-amzn opened #12930 "Action Manager: Python tests run before Action Manager is properly setup"
**Describe the bug**
Python tests run before Action Manager is properly setup. This results in test failures for tests that validate menu options are present. At the time the tests run, the only menu item available is the AWS menu, which doesn't appear to have been converted for use with the new Action Manager.

**Steps to reproduce**
1. Update your AutomatedTesting\Registry\editorpreferences.setr

[2022-11-01 16:40] AMZN-daimini commented on #12930
Working on this

[2022-11-01 16:55] moraaar commented on #12839
Thanks for the tag. I was able to run with VFS using the Quest 2 with the latest from today. I'll double check tomorrow using an android phone and no openxr. I'll comment the result here.

[2022-11-01 17:13] AMZN-Gene opened #12932 "IMGUI Unusable: Mouse Doesn't Work"
**Describe the bug**
The mouse cannot select IMGUI menu items

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a game or serve launcer
2. Press HOME key to open IMGUI
3. Try to select an IMGUI option

**Expected behavior**
I should be able to open the IMGUI menus and select buttons and such

**Actual behavior**
IMGUI is unusable. The mouse is stuck on the top left of the screen and

[2022-11-01 17:16] galibzon commented on #12902
To be discussed: https://github.com/o3de/sig-graphics-audio/issues/90

[2022-11-01 17:22] galibzon commented on #12798
@AMZN-Olex is this still happening?

[2022-11-01 17:27] galibzon commented on #12768
Assigned to @hultonha as this is just a CMS issue.

[2022-11-01 17:29] galibzon commented on #12718
I don't think there's no way to workaround this problem, other than customizing the "Child Process Debugger" to only attach to processes for which there's code.

[2022-11-01 17:29] #12718 closed

[2022-11-01 17:36] junbo75 commented on #12923
- [test3.scriptcanvas-1146470588-15416.log](https://github.com/o3de/o3de/files/9912693/test3.scriptcanvas-1146470588-15416.log)
- [demo.scriptevents-3798304871-15418.log](https://github.com/o3de/o3de/files/9912698/demo.scriptevents-3798304871-15418.log)
-
![image](https://user-images.githubusercontent.com/68558268/199300234-b90eb211-12be-4d0e-a0ea-cd473978ef55.png)

[2022-11-01 17:53] santorac commented on #7185
The topic of flickering textures came up again today, so I'm adding a bit of info here in case it's useful. Keep in mind, it isn't confirmed whether this is the same as the NVidia issue, but they do look similar. The NVidia flickering bug seemed to be most prevalent in World of Warcraft forums. According to [this post](https://us.forums.blizzard.com/en/wow/t/main-thread-nvidia-460xx-driver-flicker

[2022-11-01 18:08] santorac commented on #4322
Also, somewhere I read that DX12 background shader optimization might contribute to this kind of flashing, so if it shows up again, consider using the APIs described here for troubleshooting. https://devblogs.microsoft.com/directx/background-shader-optimizations/

[2022-11-01 18:08] santorac commented on #7185
Also, somewhere I read that DX12 background shader optimization might contribute to this kind of flashing, so if it shows up again, consider using the APIs described here for troubleshooting. https://devblogs.microsoft.com/directx/background-shader-optimizations/

[2022-11-01 18:24] ParasiteSt commented on #12365
https://github.com/o3de/o3de/pull/12765
This PR has just been merged, I would check again on the newest dev branch to make sure its still an issue.

[2022-11-01 18:35] rgba16f commented on #12928
I also see this fail on a new Ubuntu 22.04 setup using the UI to install.

[2022-11-01 18:40] rainbj commented on #3719
Hi @lmbr-pip. Can you verify that these are all the icons we are needing to complete this task

![Image](https://user-images.githubusercontent.com/82551958/199312329-7166703d-4924-4587-9475-3d5cf7f7f503.png)

[2022-11-01 18:42] forhalle commented on #5895
@junbo75 - Would you mind please reconfirming this is still an issue? If not, please close.

[2022-11-01 18:46] forhalle commented on #5895
Closing this issue. Development AR is green and this issue hasn't appeared recently in AR failures.

[2022-11-01 18:46] #5895 closed

[2022-11-01 18:59] forhalle commented on #6357
@AMZN-Phil - Rumor has it you may have already fixed this. Can you confirm and close if so?

[2022-11-01 19:12] cgalvan commented on #12925
@yuyihsu @rainbj @amzn-leenguy I know we've discussed the width of the resize bars in the past. We should likely revisit this and experiment with some different options.

[2022-11-01 19:50] AMZN-Phil commented on #6357
Yes, this is fixed. I'll tag the PR and close this out

[2022-11-01 19:50] #6357 closed

[2022-11-01 20:24] lsemp3d opened #12938 "Search view - Asset Browser Table View UX"
Modify the current view with the UX proposed feedback.

As a user, I expect m search view to:

- Be visible in the view I have already selected. Meaning, if my view is currently in thumbnail view, my search result should also show up in thumbnail view.
- My search results should be separated into four main sections. By name, By type by path, and by tags. Meaning, the search result should show up i

[2022-11-01 20:25] lsemp3d opened #12940 "Engine processed asset: Make entries expandable"
User Story:

As a user, I would like to see engine processed asset in 2 places. Both should be off by default. Currently, we show processed engine asset that are not useful to most users when searching in the AB. The engine processed asset are usable by a select few people refining the game or simulation output. But is not the main use case for most. This feature should be hidden behind an easily

[2022-11-01 20:26] lsemp3d opened #12941 "Search View: Switch Asset Browser mode button"
Add a menu in the asset browser that will allow to switch between the asset browser standard mode and  the new search view

[2022-11-01 20:27] lsemp3d opened #12942 "Search View: Keyword highlighting"
Include a feature like the one that is already implemented in the Entity Outliner in which the matching words between the string filter and each entry will be highlighted.

Please verify that the results are not pulling in items that are not highlighted. Meaning, if it's showing results that are not highlighted we should have a conversation about why this is happening and adjust the UX to fix this

[2022-11-01 20:27] lsemp3d opened #12943 "02-B Editing Prefab in Asset Browser"
**User Story:**

As a user I would like the ability to double click on a prefab in the asset browser and it should do the following:
 * If I double click on a prefab.level or level.prefab (unsure of format) we should be able to ask the user. Do you want to save your current changes and open up this other level. Then click yes or no and the level will switch out.
 **** User should be able to also r

[2022-11-01 20:28] lsemp3d opened #12944 "Asset Browser: Problem with my search expirence"
User Story:

As a user, when I search for an asset in the Asset Browser. It often does show me the result as expected.This is a consolidated list I pulled from other tickets and issue that were being research previously. We can break this down into smaller tickets).

**Issue 1:** The text I enter into the input search field is not highlighted in my search results making it difficult to located the

[2022-11-01 20:55] rainbj commented on #3694
![AB Improved search expirence part 1](https://user-images.githubusercontent.com/82551958/199339176-045730da-a9e9-445f-8dde-472400473751.png)
![AB Improved search expirence part 2](https://user-images.githubusercontent.com/82551958/199339180-96deeffe-c390-4acf-94af-ebd661134d2f.png)
![Asset tagging](https://user-images.githubusercontent.com/82551958/199339184-c04f4336-9968-4b48-8918-bfba001f2c03.p

[2022-11-01 21:04] rainbj commented on #12859
examples - https://www.figma.com/file/TfXXZD1xjlw67MMeRYEbi0/Asset-Browser-Design-Document?node-id=862%3A29972

[2022-11-01 21:21] rainbj commented on #12854
other examples - https://www.figma.com/file/TfXXZD1xjlw67MMeRYEbi0/Asset-Browser-Design-Document?node-id=862%3A29994

[2022-11-01 21:24] rainbj commented on #12867
Other examples - https://www.figma.com/file/TfXXZD1xjlw67MMeRYEbi0/Asset-Browser-Design-Document?node-id=862%3A30016

[2022-11-01 21:28] rainbj commented on #12855
See other examples here - https://www.figma.com/file/TfXXZD1xjlw67MMeRYEbi0/Asset-Browser-Design-Document?node-id=862%3A30037

[2022-11-01 21:39] Be-ing opened #12947 "AnimGraphNodeCommands: simplify node deletion"
The API for deleting nodes via AnimGraphNodeCommands is very complex:

[code]

There are several overloads of `DeleteNode` and it's unclear which should be used in what situations, nor is there any documentation. One of these 9 parameters isn't even used except for a recursive function call, yet callers still have to provide it. The complexity of this API makes it difficult to use without a wrappe

[2022-11-01 22:00] lsemp3d opened #12948 "Dafault symbolisim for Procprefab is getting mixed up in the editor"
During a review of the FBX's procprefab workflow, an icon confusion problem came up. This symbolism and iconography are being represented differently in a couple places, plus the symbol needs to be defined further.

 

This can be seen in:
 * In the Outliner when we instantiate a procprefab, this asset looks like a prefab but only with a different background color (purple instead of blue). In this

[2022-11-01 22:02] lsemp3d opened #12949 "10b - Folder management inside AssetBrowser - Add Hide/Show button"
There is a need for a hide/show button in the AssetBrowser to hide specified folders. There will need to be some input from UX.

[2022-11-01 22:20] ParasiteSt commented on #11837
[O3DEIcons.zip](https://github.com/o3de/o3de/files/9914294/O3DEIcons.zip)
This has a few PNG's recreated as SVGs. If any are of use thats great, if not that is fine by me (only a couple hours of work). I hope this can help lower the load on how many need to be converted in the future.

[2022-11-01 22:35] HogJonny-AMZN commented on #12375
This is a related ticket to this story: https://github.com/o3de/o3de/pull/12919

[2022-11-01 23:02] tonybalandiuk opened #12952 "Cleanup - Delete The 22.10 Stabilization Branch"
Need to delete delete the stabilization/2210 branch once the release is done

[2022-11-01 23:12] amzn-changml commented on #12952
The branch has been deleted on all repos with the 22.10 release tag

[2022-11-01 23:12] #12952 closed

[2022-11-02 00:10] forkercat opened #12956 "Deprecation Notice: Rename CreatePrefabInDisk to CreatePrefabAndSaveToDisk"
## Overview

This issue is about renaming an existing Prefab public-facing function **CreatePrefabInDisk**, which serves as a wrapper around **CreatePrefabInMemory** (which is also public API) to create Prefab Template in memory first and then save it to disk.

The purpose of renaming is to avoid confusion. It will make the API clearer and easier to be distinguished from **CreatePrefabInMemory**.

[2022-11-02 01:54] santorac opened #12959 "Remove Build Timestamp From Shader Asset Data"
**Is your feature request related to a problem? Please describe.**
ShaderAsset data currently includes the timestamp of when the asset was compiled by the Asset Processor. This has been used to prevent edge cases when hot-loading shader variants. It ensures that older shader variants are not used for a more recently updated shader asset. For example, see https://github.com/o3de/o3de/blob/097844658

[2022-11-02 02:59] ParasiteSt commented on #2550
@lawsonamzn I put a PR in that should have removed all this legacy code.

[2022-11-02 06:36] amzn-leenguy opened #12960 "[BJDS] Component Edit Mode UX standardization"
Validate the Component Edit Mode with the users. Document the UX patterns and behaviors on BJDS for the contributors to adopt in their features and tools.

[2022-11-02 06:42] amzn-leenguy opened #12961 "[BJDS] Action manager"
Redesign the hotkey management, toolbar, and File system to adopt the Action Manager work on the Editor.

[2022-11-02 09:17] hultonha commented on #12768
This is something @amzn-ahmadkrm will be looking at shortly, I've updated the labels and assigned 👍

[2022-11-02 09:34] LB-ArturZieba opened #12962 "Wwise setup does not work on installer projects"
**Describe the bug**
Wwise setup does not work with the installer projects. Despite included Wwise Environment variables and manually added LY_WWISE_INSTALL_PATH argument the project configured on the Pre-built SDK does not return the "Using Wwise SDK..." line. As a result, a Wwise project setup that works without issues on GitHub projects, does not work on installer (Audio Controls Editor remains

[2022-11-02 09:57] etherealchain commented on #11383
The key "" is not really a folder name, more like a category, if you add something like this in `ProjectRoot\user\Registry\usersettings.shadermanagementconsole.setreg`
[code]
TestScript.py is under project root
You will see the script in the sub-menu
![image](https://user-images.githubusercontent.com/4178768/199451695-c7d3c202-2c3f-4e3a-a9f9-1635ba8e1c43.png)

Also you can put the script in the no

[2022-11-02 10:48] moraaar commented on #12487
@allisaurus thanks for fixing the AWSI issue on windows.

On Linux it's still failing, could you please take a look? Reopening this issue.

[code]

https://jenkins-pipeline.agscollab.com/blue/organizations/jenkins/O3DE-LY-Fork-development_periodic-incremental-daily-internal/detail/O3DE-LY-Fork-development_periodic-incremental-daily-internal/530/pipeline/851

[2022-11-02 13:10] moraaar commented on #12839
I checked running Android using VFS with the latest today and worked as expected. I can think of 2 potential issues:

1. The `.setreg` files created under `<project-path>/user/Registry/` were not picked up by AP. To avoid this mistake to happen again I've created a [PR](https://github.com/o3de/sig-platform/pull/61) updating the LKG page to use `<project-path>/Registry/` folder instead. Please @LB-

[2022-11-02 14:13] xA98Kx commented on #12928
I also faced that when trying to install through software manager

[2022-11-02 14:23] MiKom commented on #12854
Should it work like windows explorer:

 * If url to an asset is pasted → the asset is opened as if double clicked, current folder is _not_ changed
 * If url to a folder is pasted → folder is opened

?

[2022-11-02 14:53] LB-KacperKapusta commented on #12839
I have reverified the VFS setup using Development (6c2ed5b) and following the steps described by @moraaar in the comment above and the issue does no longer occur.

[2022-11-02 15:07] #2550 closed

[2022-11-02 15:08] lawsonamzn commented on #2550
Thank you!

[2022-11-02 16:10] #12930 closed

[2022-11-02 16:24] lumberyard-employee-dm commented on #12689
For SIG-Core, the split of the nightly build pipeline to a higher priority daily job phase and a lower priority weekly job phase would help with address the stability of the nightly job in general.

A benefit for splitting the o3de-nightly into pipeline 2 which has all the periodic, sandbox and benchmark jobs is that we can provide a higher timeout mechanism for the those test, which would allow t

[2022-11-02 16:34] #11383 closed

[2022-11-02 16:43] tonybalandiuk commented on #11994
checked with Robert - nothing from his end remaining. Resolving this.

[2022-11-02 16:43] #11994 closed

[2022-11-02 17:10] dshmz commented on #12685
SIG-Build checked this issue and Py module is not owned by SIG-Build, we need to figure out which SIG owns it. It should go to the overall triage to get the assignment to correct SIG.

[2022-11-02 18:03] moraaar commented on #12689
Agree completely with @lumberyard-employee-dm. My only addition would be to also build "profile" for mac, which I don't see it in his list (unless it's expected to be part of asset_profile, which in that case that's covered already).

[2022-11-02 18:43] monroegm commented on #12611
We need feature/scripting to provide guidance to the owners of these scripts

[2022-11-02 18:45] monroegm commented on #12612
Can @LB-KacperKapusta can you close this one and create a new issue for the new failures?

[2022-11-02 18:48] monroegm commented on #12614
Reassigning to sig/network the owners of the create multiplayer entity command

[2022-11-02 18:59] monroegm commented on #12734
Per @AMZN-daimini we don't want icons on these buttons

[2022-11-02 19:21] AMZN-Gene commented on #12932
Setting to critical, not blocker because I think most IMGUI options are possible via cvars?

[2022-11-02 19:27] HogJonny-AMZN opened #12965 "[DCCsi] Trying to run Maya\start.py from Powershell, can fail."
**Describe the bug**
Ben attempted to run the maya\start.py file from powershell (instead of cmd)
It could his system install of python, which was py3.7, instead of the O3DE python.

1. provide a python.sh wrapper in the root of the DCCsi
2. ensure that if follwing readme instructions but executing in powershell, starts the o3de python and uses that to execute the start.py script

[2022-11-02 19:37] HogJonny-AMZN opened #12966 "[DCCsi] foundation.py fails on 3.10.x"
**Describe the bug**
if you try to run foundation.py for maya 2023, it may fail
the 3rdParty folder in the DCCsi doesn't contain a 'site-packages' directory under the 3.10.x location ... and there is no code to try and create that folder if it doesn't exist ... so trying to install packages into that location fails.

1. add a site-package folder with a 'stub' file into the code repo
2. add a code

[2022-11-02 19:38] #7479 closed

[2022-11-02 19:50] HogJonny-AMZN opened #12968 "[DCCsi] foundation.py can fail, if -py= doesn't have quotes and program files has a space"
**Describe the bug**
This will fail

This will work

1. make sure documentation has " " around the paths (so if user copied, they get the quotes)
2. improve the code if possible ... see what the arg coming in looks like, wrap is as a Path, .resolve() and verify the path, then pass it on cleanly

[2022-11-02 19:58] HogJonny-AMZN opened #12971 "[DCCsi] init fails when no settings.local.json exists"
**Make the code more forgiving so Maya\start.py can boot even if all data is not fullfilled

**Describe the bug**
[code]

[2022-11-02 20:36] rgba16f commented on #2466
@hultonha I think this may be fixed by your change?

[2022-11-02 20:39] michleza opened #12972 "Feature Request: Update QtPyScriptCanvasNodeInspector.py to support all of the basic variable types."
The py file only supports Boolean, String and Color types. It needs to be updated to support numbers, transform and vectors.

[2022-11-02 20:41] AMZN-Gene opened #12973 "Removing Multiplayer Component Causes Build Error"
If you remove an auto-component XML, AZCodeGen won't remove the generated code file and it causes a compile error.
Users has to manually find and delete the generated file inside the build folder.

**Steps to reproduce**
1. Create a new multiplayer autocomponent xml and add it to cmake files. (Set ComponentOverride and ControllerOverride to false, so you dont need any custom code file)
2. Compile

[2022-11-02 20:54] amzn-leenguy commented on #12925
@shawstar can you please include a screenshot or video to closer clarify what you are talking about.

[2022-11-02 21:18] AMZN-daimini commented on #12563
Had a chat with @amzn-leenguy and will bring this to the attention of the UX sig. Hopefully we can set some good standards alongside the transition to the ActionManager, and cement them with helper APIs.

[2022-11-02 22:20] lumberyard-employee-dm commented on #12689
asset_profile builds both the profile configuration and runs the AssetProcessor

[2022-11-03 00:02] NeilGitGud opened #12980 "ASV: eyematerialtest.bv.lua automated screenshot compare test fails."
eyematerialtest.bv.lua automated screenshot compare test fails.

Found in Build:

O3de:
commit dcc57b87f5aff7e89d05c67cdeea33654661074f

ASV:
commit 757dc363a21889a86688f5e99805896f544ac3e4

Reproducibility:
100% DX12 and Vulkan, tested on windows

Prerequisites:
You have built the above commits and processed all assets

Steps to Reproduce:
1. Launch AtomSampleViewerStandalone.exe
2. Go to Automat

[2022-11-03 00:03] NeilGitGud commented on #12980
@santipaprika I believe this would be your issue based on this Eye Material PR: https://github.com/o3de/o3de/issues/7247

[2022-11-03 08:21] LB-KacperKapusta opened #12981 "Configuring the O3DE from Github fails when using CMake below version 3.24.0"
**Describe the bug**
Using CMake below version 3.24.0 while configuring the O3DE from Github (both Source and Pre-built SDK) results in incomplete configuration with the following error:
[code]
Please note that the [System Requirements](https://www.o3de.org/docs/welcome-guide/requirements/) point CMake version 3.21.7 or later as correct.
For further information refer to the attached CMakeOutput.lo

[2022-11-03 09:26] #2768 closed

[2022-11-03 09:48] hultonha commented on #12981
Fixed by https://github.com/o3de/o3de/pull/12977

[2022-11-03 09:48] #12981 closed

[2022-11-03 10:37] hultonha commented on #2466
@rgba16f This won't be fixed by my change, but it will require the same change for the PhysX Force Region (to correctly implement `GetLocalBounds` and `GetWorldBounds` on the `BoundsRequestBus`.

It should be simple to add (just figure out what you're drawing, and return the AABB for that geometry). I'll mention it to the team here as this would definitely be something useful to pick-up. If you kn

[2022-11-03 10:39] hultonha commented on #2466
I've updated the labels and cleared the assignees as this is really a physics/sig-simulation issue. Tagging @lgleim as something we should discuss in sig/simulation triage briefly

[2022-11-03 11:21] hultonha commented on #12689
Thank you very much for the feedback @lumberyard-employee-dm, super helpful!

[2022-11-03 11:57] LB-JaroslawGaweda opened #12982 "Feature Request: Button to delete added remote template"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to delete an added remote template. Removing the template after it is downloaded is only possible through deleting it from the Templates folder or removing the template path from `o3de_manifest.json`. Removing the remote source does not delete the downloaded template from the list.

**Describe the solutio

[2022-11-03 12:40] LB-KacperKapusta opened #12984 "Asset Processor errors: specific .fbx assets"
**Describe the bug**
This issue was created based on the comment in #12612.
Numerous Scene compilation jobs complete processing with errors. Please note that using Reprocess Source Asset option on assets in Asset Processor fixes the issue for most of the assets.

The error messages for the mentioned jobs are:
- `AssetImportRequest: Failed to get watch folder for source`
- `Prefab: Relative source

[2022-11-03 12:42] LB-KacperKapusta commented on #12612
Closing the issue according to the comment above. A new issue with new failures has been created under #12984.

[2022-11-03 12:42] #12612 closed

[2022-11-03 12:42] LB-ArturZieba opened #12985 "Vector value fields are misplaced while the node is not hovered over."
**Describe the bug**
Script Canvas nodes containing any Vector type value field (Vector2, Vector3 or Vector4) have inconsistent formatting. If the node is not hovered over, the Vector value fields are misplaced far to the right of the property name. If the node is hovered over, the Vector value fields get stretched filling this gap.

It should be noted that hovering over any of the *Add Velocity*

[2022-11-03 13:22] LB-ArturZieba opened #12986 "Material Canvas nodes have inconsistent letter casing"
**Describe the bug**
Nodes in the Material Canvas have inconsistent letter casing. Nodes in the *Math Functions* and *Scene* categories are starting with a lower case letter, while all others are starting with upper case letter.

**Steps to reproduce**
1. Go to Tools > Material Canvas.
2. Expand all of the categories in the Node Palette.

**Expected behavior**
All node names have consistent letter

[2022-11-03 15:34] AMZN-stankowi commented on #12984
This ticket is a duplicate of https://github.com/o3de/o3de/issues/12844

[2022-11-03 16:05] amzn-changml commented on #10216
Closing this due to inactivity. The root cause was explained as a Windows limitation, with workardounds

[2022-11-03 16:05] #10216 closed

[2022-11-03 16:26] greerdv commented on #5991
Closing this issue since it has had no activity for almost a year. @nielianpeng if you are still encountering this problem, please re-open the issue and ideally include an asset which allows it to be reproduced.

[2022-11-03 16:26] #5991 closed

[2022-11-03 16:46] jckand-amzn opened #12989 "Prefabs: Entering/Exiting focus mode on nested prefabs can cause warnings in GetRelativePathBetweenInstances()"
**Describe the bug**
Entering/Exiting focus mode on nested prefabs can cause warnings in GetRelativePathBetweenInstances().

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Instantiate any nested prefab.
3. Enter/Exit focus mode on the nested prefabs.

**Expected behavior**
Focus mode is entered free of warnings.

**Actual behavior**
Console warning is spammed seve

[2022-11-03 16:54] MoMoPF opened #12990 "Bug Report: [PHYSX Joint] Limit zone in Editor of hinge joint and ball joint not correspond with actual behavior in GAME"
**Describe the bug**
For hinge joint and ball joint, if limit is enabled, there is a limit zone drawn in Editor. The zone shows the allowed rotation range for follower or leader entity. It is usually correct compared to actual joint behavior in GAME. However, when the local position and local rotation is set by some values, the zone can not deal with actual behavior, like entity may swing OUT OF t

[2022-11-03 17:04] greerdv commented on #12947
@amzn-rhhong could you please comment on how you think we should proceed with this issue?

Improving docstrings on the overloaded functions could be one option.

[2022-11-03 17:09] greerdv commented on #1827
This was fixed a long time ago

[2022-11-03 17:09] #1827 closed

[2022-11-03 17:36] lmbr-pip commented on #12614
Should this option be available, do we need to add entity inside prefab?

[2022-11-03 17:39] lmbr-pip commented on #12850
Works fine with regular prefab.

Spawning logic appears to be owned by ScriptCanvas, so routing to that feature for triage/initial investigation.

[2022-11-03 17:41] lmbr-pip commented on #12973
Removed sig/network from issue. Unsure AzAutoGen ownership. Asking SIG/Core or SIG/Build for input as potential owners of AzAutoGen.

[2022-11-03 17:44] lmbr-pip commented on #7462
MarkForRemoval should be added to documentation, still challenges for network prefabs (can release ticket for normal prefabs, for multiplayer prefabs, need to MarkForRemoval on all entities in prefabs).

Spit into two issues: Docs and Network Prefabs.

[2022-11-03 18:07] galibzon commented on #11856
@mbalfour-amzn , can you comment?

[2022-11-03 18:40] monroegm commented on #12794
Assigning to graphics because sky is a graphics component

[2022-11-03 18:43] monroegm commented on #12804
@o3de/sig-ui-ux We need a UX design for the functionality that is being requested

[2022-11-03 18:51] mbalfour-amzn commented on #11856
Sure thing! I haven't investigated the specific rendering problems listed above, but I _have_ looked into the gizmo issues in the past, and those are definitely an artifact of floating-point precision. Taking a step back so that we're all on the same page, the heart of the issue is that the precision decreases at each power of two increase. At 1-2 km, the precision is ~1/8 mm. At 2-4 km the precis

[2022-11-03 18:53] monroegm commented on #12830
@amzn-leenguy Can you attach the log file?

[2022-11-03 18:54] monroegm commented on #12830
Assigning to sig/build who own the installer

[2022-11-03 19:03] santorac commented on #9347
I think this issue is a duplicate of https://github.com/o3de/o3de/issues/7898 so I'm surprised you couldn't repro it. Anyway, I'm working on a fix.

[2022-11-03 19:04] santorac commented on #8902
Just FYI, the log spam issue is captured here https://github.com/o3de/o3de/issues/7519 and I'm working on a fix. After I finish fixing 5719 might want to test 8902 again.

[2022-11-03 19:05] santorac commented on #7519
I don't think the SerializeContext log messages in the description are related to the lighting issue. I updated the description to reflect this. See https://github.com/o3de/o3de/issues/7898

[2022-11-03 19:59] jckand-amzn commented on #12989
NOTE: There is a lot of other console spam from the Mesh component that has already been logged separately.

[2022-11-03 20:57] lmbr-pip commented on #10452
Support delivered in https://github.com/o3de/o3de/pull/11692

[2022-11-03 20:57] #10452 closed

[2022-11-03 21:45] pollend commented on #11225
@rgba16f did you verify this with the recent change that got in: https://github.com/o3de/o3de/pull/12764

[2022-11-03 22:02] rgba16f commented on #11225
I didn't

[2022-11-04 07:28] LB-KacperKapusta commented on #12981
Issue verified as fixed in Development (ea9f21c) using CMake 3.21.7.

[2022-11-04 08:13] LB-KacperKapusta commented on #12984
We were requested to create this ticket by @monroegm in the comment under #12612.

[2022-11-04 09:40] MiKom opened #13005 "Bug: missing icon for collapse all button in Asset Browser"
There's a "Collapse all" button in the asset browser window but it's currently invisible because the icon isn't properly set:

![Image](https://user-images.githubusercontent.com/104767/199941091-ed5d0253-f156-42a7-ba1e-8df9fd34ac1f.png)

As you can see in `Code\Editor\AzAssetBrowser\AzAssetBrowserWindow.cpp` the icon is created from a path that isn't a qrc resource:

[code]

We should probably mov

[2022-11-04 11:25] MiKom commented on #12755
Please disregard these two commits, it was a typo in the issue number.

[2022-11-04 12:00] ouykjf opened #13007 "Bug Report"
**Describe the bug**
In script canvas remember mode, after opening the script canvas file, close the script canvas Editor and then reopen it to find that the last closed script canvas file is not restored.

**Assets required**
[!Important!]NA

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Tool'
2. Click on 'ScriptCanvas '
3. Create a script canvas file to design content arbitra

[2022-11-04 12:20] LB-ArturZieba opened #13008 "White Box Edit mode can break UI in Viewport"
**Describe the bug**
Entering and exiting White Box component's Edit mode can cause the blue border as well as the button clusters in the top left and right corners of the Viewport to break. It should be noted that this issue is inconsistent as on the same PC it can either be not reproducible, break UI fully after entering Edit mode once, or break it incrementally with each enter/exit.

This issue

[2022-11-04 14:03] LB-KacperMetelski opened #13009 "Script Canvas: Upgrade Graphs list UI visual defects"
**Describe the bug**
The highlighting of the rows in the Upgrade Graphs tool behaves incorrect when the user hovers over an empty list of graphs.

**Steps to reproduce**
1. Open the Script Canvas.
2. Navigate to Tools -> Upgrade Graphs.
3. Move cursor over the first row of the list.
4. Move cursor downwards and upwards OR click on the highlighted empty field.

**Expected behavior**
The highlightin

[2022-11-04 14:04] LB-MateuszSzweda opened #13010 "macOS: Initial building of Development branch build can fail due to failed ReflectedPropertyEditorStandalone command"
**Describe the bug**
Initial attempt at building the Development branch build on macOS machine can fail due to the following error:

[code]

Please note that running the build command again after failing restarts the building process, which will then finish the building process successfully and result in a working build.

The issue was found on MacBook Air 2020 (M1 chipset, Monterey 12.6, XCode 14

[2022-11-04 14:09] LB-MateuszSzweda commented on #2768
Issue verified as fixed in Development (ea9f21c) Camera speed scale changes according to the direction of mouse scroll movement.

[2022-11-04 15:27] jckand-amzn opened #13011 "Several Windows builds failing with warnings treated as errors in LyShine Gem"
**Describe the bug**
Several Windows builds failing with warnings treated as errors in LyShine Gem:

[code]

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/151/pipeline/1140
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/151/pipeline/1151
h

[2022-11-04 17:27] amzn-tommy opened #13014 "Display Helpers has a huge cpu cost with many entities"
**Describe the bug**
Both the icons and the helper geometry cause a huge drop in performance.

**Assets required**
None

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor with the AutomatedTesting project
2. Open the 10kVegInstancesTest level
3. Click the 'eye' icon in the top right, and enable/disable 'Helpers' and 'Icons'

**Expected behavior**
Little to no impact on p

[2022-11-04 17:37] hultonha commented on #13014
Thanks for opening this @amzn-tommy. This is going to be drawing the icons and any debug geometry associated with the type. Would you be able to test with the new 'Only show helpers for selected entities' option to see how big of a difference that makes? It'd be interesting if it's primarily the icons, or the debug geometry using the AuxGeom API.

[2022-11-04 17:38] hultonha commented on #13014
Also does any API exist to instance the icons and batch them as one draw call?

[2022-11-04 19:09] srikappa-amzn opened #13017 "Performance regression while loading large levels"
**Describe the bug**
It's been noticed that for loading large levels (with 10k entities), loading times seems to have drastically fallen down. What used to be loaded in a few seconds is now taking minutes (I've killed the editor when I crossed the 3 minute mark)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Get latest development
2. Build the AutomatedTesting project
3. Open the Auto

[2022-11-04 19:16] srikappa-amzn commented on #13017
Did a quick profile on a large level, a lot of calls are coming from PrefabPublicHandler::GenerateUndoNodesForEntityChangeAndUpdateCache which is coming from LocalViewBookmarkLoader::FindOrCreateLocalViewBookmarkComponent(), which in turn is coming from EditorViewportWidget::SetDefaultCamera(). And in almost all of these cases, the patch produced is empty and the function just returns. But I belie

[2022-11-04 19:22] #10961 closed

[2022-11-04 19:24] srikappa-amzn commented on #13017
Potentially related issue:
If I open my 10 k cubes level just selecting a parent (taht has 1000 children) freezes the editor up

[2022-11-04 19:52] amzn-tommy commented on #13014
I'm seeing about 4ms per-frame for helpers and 6ms per-frame for icons. The 'Only show helpers for selected entities' eliminates the 4ms for the helpers, but not the 6ms per-frame for the icons.

It does not appear to be the rendering interface that is the issue. It's the way DisplayHelpers crawls through the components. There are two functions that account for ~80% of the CPU samples: AzToolsFram

[2022-11-04 19:56] AMZN-daimini commented on #13017
That specific part may be due to this
https://github.com/o3de/o3de/issues/12682

[2022-11-04 20:07] AMZN-Gene opened #13019 "AzNetworking: Add ISerializer Support for AZ::u64 and AZ::s64"
**Is your feature request related to a problem? Please describe.**
The AZNetworking ISerializer supports serializing int64_t and uint64_t but not AZ::u64 and AZ::s64 because on some platforms this will be long and on others this will be long long, leading to a compiler error.

**Describe possible solutions you'd like**
There's a few approaches...
1. Stick to AZ types, basically enforce anyone usin

[2022-11-04 20:18] AMZN-alexpete opened #13020 "Windows Installer Test fails to create project"
**Describe the bug**
The Windows installer test is failing to create a project

**Assets required**
Windows nightly installer build

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the installer
2. Create a project from the command line using the command:
[code]
3. See error

**Expected behavior**
The project is created

**Actual behavior**
The error message is displayed
[code]

**F

[2022-11-04 20:31] lawsonamzn commented on #13017
Theres at least 2 problems here, one is the console spam but the other is that its creating undos for the entities just loaded, which is unnecessary.

[2022-11-04 23:03] lmbr-pip commented on #12685
SIG/testing touched this last (see https://github.com/o3de/o3de/pull/7155). Routing to SIG/testing for input.

[2022-11-05 00:09] AMZN-scspaldi commented on #8818
Closing this as I clarified that it was a user misunderstanding with the user.

[2022-11-05 00:09] #8818 closed

[2022-11-05 03:50] AMZN-alexpete commented on #13020
It appears that after installation the engine is not registered - or fails to register because no `o3de_manifest.json` was created in my test

[2022-11-05 20:11] lsemp3d commented on #12986
@gadams3 I recommend using the GraphCanvas Translation system for this, it makes the updating of all these elements data driven, even in gems (for example, if someone were to create a new gem with custom nodes). This way you can take advantage of the `.names` files which allow users to provide names, tooltips, and more, both on the node palette and on the nodes themselves.

[2022-11-05 20:16] lsemp3d commented on #12920
@shawstar If you right click on the slot and select "Convert to Value" the variable reference is removed.

![image](https://user-images.githubusercontent.com/58790905/200139227-3dd0a703-3b89-4be1-ae73-dd4945f881c1.png)

[2022-11-06 21:34] HogJonny-AMZN commented on #12965
Closed with this PR: https://github.com/o3de/o3de/pull/12974

[2022-11-06 21:34] #12965 closed

[2022-11-06 21:34] HogJonny-AMZN commented on #12966
Closed with this PR: https://github.com/o3de/o3de/pull/12974

[2022-11-06 21:34] #12966 closed

[2022-11-06 21:35] HogJonny-AMZN commented on #12968
Closed with this PR: https://github.com/o3de/o3de/pull/12974

[2022-11-06 21:35] #12968 closed

[2022-11-06 21:35] HogJonny-AMZN commented on #12971
Closed with this PR: https://github.com/o3de/o3de/pull/12974

[2022-11-06 21:35] #12971 closed

[2022-11-07 09:26] #12682 closed

[2022-11-07 10:10] hultonha commented on #12388
Last remaining work has been merged

- https://github.com/o3de/o3de/pull/12504
- https://github.com/o3de/o3de/pull/5906
- https://github.com/o3de/o3de/pull/12218
- https://github.com/o3de/o3de/pull/11201
- https://github.com/o3de/o3de/pull/7752
- https://github.com/o3de/o3de/pull/7676
- https://github.com/o3de/o3de/pull/8648
- https://github.com/o3de/o3de/pull/8612
- https://github.com/o3de/o3de/p

[2022-11-07 10:10] #12388 closed

[2022-11-07 11:12] hultonha commented on #12628
Fixed by #12746

[2022-11-07 11:12] #12628 closed

[2022-11-07 11:25] MiKom commented on #12854
I think that this task is actually three activities in one:

 1. Introduce breadcrumbs into the asset browser. This requires some UX work though. If we assume that asset browser will still be able to go into a "vertical" mode in one-column layout, we won't have enough space for search bard, breadcrumbs and view control buttons. I did an experiment and put the breadcrumbs in. It's pretty crowsded:

[2022-11-07 11:31] moraaar opened #13031 "Sky is not rendered in launcher using default level"
**Describe the bug**
When running launcher using a default level it does not render the sky, which is present in the editor.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build o3de and create a default project.
2. Run editor and create a default level.
3. Create setreg file to set the default level as the [initial level](https://docs.o3de.org/docs/user-guide/build/distributable-engi

[2022-11-07 12:52] MiKom commented on #12855
The basic placeholders and interactions for two-column layout got implemented in https://github.com/o3de/o3de/pull/12881 and https://github.com/o3de/o3de/pull/13032

[2022-11-07 13:38] hultonha commented on #13014
Thank you very much for the detailed write-up @amzn-tommy.

It's interesting that `AzToolsFramework::ContainerEntitySystemComponent::IsUnderClosedContainerEntity` is so slow. This might be something for the attention of @AMZN-daimini, though we might be able to be smarter about how we call it from the viewport side.

Hopefully there is something we can do to refactor the `FindEntity` call in `Disp

[2022-11-07 14:12] hultonha commented on #13014
@amzn-tommy Would it be possible to attach the capture/log to the ticket so we could review the findings in the PIX tool directly. Thanks!

[2022-11-07 14:16] hultonha commented on #12511
Adding `feature/graphics` and `sig/graphics-audio` in addition to viewport as this looks like to be related to more than just editor viewport related functionality.

[2022-11-07 14:19] hultonha commented on #11877
Tagging @jonawals and @invertednormal who may be familiar with this issue. It's not clear if this is something related to the Polygon Prism Shape Component Mode on it's own or an interaction between it and the Editor Light Component.

@santorac Does this still happen if you just add an PolygonPrismComponent with no light? Thanks!

[2022-11-07 14:20] LB-JaroslawGaweda opened #13035 "Automatically build project option in Add a remote project does not work"
**Describe the bug**
After adding a remote project with the "Automatically build project" option enabled and pressing the Download & Build button, the Project manager does not build the project. The user still has to press the build button on the project tile.

**Steps to reproduce**
1. In Project Manager, select the Add Remote Project.
2. Input the Remote URL (e.g. https://github.com/AMZN-Phil/Re

[2022-11-07 15:34] santipaprika commented on #12980
Hm, probably some recent change broke it.
Can you attach the screenshots?

[2022-11-07 15:52] AMZN-puvvadar commented on #12847
This isn't necessarily harmful. It indicates that the entity replicator was already moved. This could just mean the scripting route is somehow removing it twice.

[2022-11-07 15:54] AMZN-puvvadar commented on #12614
I believe removing create multiplayer entity in this context is the correct approach personally.

[2022-11-07 16:40] AMZN-Gene commented on #8818
For anyone wondering the solution…
Parameterize could have any name;  "execution_count" was just the name they chose because it makes sense. It could have been
@pytest.mark.parametrize( "potato_salad", range(5))
Parameterize will run the test as many times as is in the range.
The python error is:
`function uses no argument 'execution_number'`

If that ‘execute_number” parameter is added to the tes

[2022-11-07 17:57] AMZN-alexpete commented on #13020
The engine is registered - when `o3de.exe` is run, however the `create-project` command fails because the engine's templates are not being considered in the search

[2022-11-07 18:06] AMZN-daimini commented on #13014
Will look into IsUnderClosedContainerEntity, it is likely that we can cache that value instead of retrieving it every time.

[2022-11-07 18:14] amzn-tommy commented on #13014
.wpix is not one of the supported types for attaching files to Github Issues, but I can dm the capture to you.

[2022-11-07 18:18] AMZN-alexpete commented on #13020
https://github.com/o3de/o3de/commit/7b3434a216d74310834f608a9c2106ab2edb967f changed the logic so `get_all_templates` is no longer called when the no project path is provided, should be easy to fix by adding logic to check engine templates to the new else block.

[2022-11-07 19:01] jckand-amzn opened #13040 "test_TerrainPhysicsCollider_MaterialMapping_Works intermittently times out"
**Describe the bug**
test_TerrainPhysicsCollider_MaterialMapping_Works intermittently times out

[code]

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/job/O3DE/job/development/3397/

**Additional context**
Editor appears to lock during test. The test loads a level, then enters Game Mode. No Console output is seen in the logs for Game Mode being successfully entered, so there a

[2022-11-07 21:01] ParasiteSt opened #13047 "Feature Request: JSON support inside of script canvas"
**Is your feature request related to a problem? Please describe.**
Right now there is no support for json in script canvas, and to do things like data tables, and saving and loading data you have to go through lua.

**Describe the solution you'd like**
Having json support inside of script canvas would allow for the creation of nodes like saving and loading data from pins, and creating data tables

[2022-11-07 21:04] AMZN-puvvadar commented on #12847
Okay what appears to be happening here is the `NetworkEntityUpdateMessage` causing the delete is sent repeatedly by the Server. This behavior isn't harmful since we basically ignore the duplicates and print the warn reported in the issue. I'll investigate the duplicate sends.

[2022-11-07 21:51] AMZN-puvvadar commented on #12755
This is an order of ops issue in the Editor Multiplayer Game Mode pipeline. The Transform Component in question is being operated on before being added to an entity. I will get a PR up for this.

[2022-11-07 21:57] ParasiteSt opened #13050 "Feature Request: Material Canvas Compiling Visual Feedback"
**Is your feature request related to a problem? Please describe.**
When working in the Material Canvas I am always having to wait and check the AP to see if it has finished compiling to know if what I did is working correctly or not.

**Describe the solution you'd like**
Having a visual icon or text would allow people to see that the material is compiling and has compiled once it has finished. Thi

[2022-11-07 22:27] rainbj commented on #13005
@MiKom I think we should move the collapse all function into the dropdown menu. It doesn't use the space effectively in this instance. However this functionality still seems useful, so I don't think we should get rid of it. Good find.

[2022-11-07 22:36] AMZN-alexpete opened #13053 "CVars do not update in the Editor console when sync(h)ed over the network"
**Describe the bug**
When you set a cvar in the editor and enter game mode - if the server has a different value it will correctly override the client value you set in the Editor - but the Editor console panel will not update to reflect the new value causing confusion and delay.

**Assets required**
Probably easiest to repro this with an existing multiplayer game like MultiplayerSample

**Steps to

[2022-11-07 23:11] AMZN-Gene opened #13055 "LoadLevel With Same Level Causes Graphical Issues"
**Describe the bug**
Calling loadlevel when you're already inside that level causes graphical issues

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open up a game launcher
2. Open console and load any level
3. Call loadlevel again with the same level

**Expected behavior**
Level should be unloaded and reloaded and look exactly the way it did originally

**Actual behavior**
The lightin

[2022-11-07 23:27] svitlani commented on #7113
@gadams3 any update on this? Do you depend on someone else's work being done before you can proceed with fixing this issue? Thanks!

[2022-11-08 00:04] HogJonny-AMZN opened #13056 "[DCCsi] Maya nGon and Other Validation"
As a User, I would like a set of validation tools for meshes while working in DCC tools, so I can more easily identify issues with a model before it is exported to the engine.

**Describe the solution you'd like**
One example is an nGon checker. Due to things like winding order or algorithm, an nGon could be triangulated differently ... and we have seen this happen, where Assimp incorrectly triang

[2022-11-08 00:05] HogJonny-AMZN commented on #10887
The nGon  checker and validation tools was split off: https://github.com/o3de/o3de/issues/13056

[2022-11-08 00:05] #10887 closed

[2022-11-08 00:06] HogJonny-AMZN commented on #10887
We closed  this ticket as the main FBX  Scene Export tool exists in the last PR

[2022-11-08 00:48] #12986 closed

[2022-11-08 00:48] #12492 closed

[2022-11-08 04:35] invertednormal commented on #11877
Rendering doesn't get involved until `ShapeComponentNotificationsBus` sends out a `OnShapeChanged` event for the polygon prism. From the callstack, it looks like it's still on the tools side, crashing when `EditorTransformComponentSelection` disconnects from `ToolsApplicationNotificationBus`. Seems to not even be shape related honestly, something with viewport mode.

[2022-11-08 05:41] amzn-tommy opened #13060 "Use after free crash in ResourceView cache"
**Describe the bug**
Every Atom Resource has a cache of resource views, so when the same view is requested more than once, it is not re-created each time. The cache has a lock protecting insertions and removals, however it is not completely thread safe. There is a case where the following occurs
Thread A creates a bufferView for a resource
It doesn't exist in in the cache, so it is added
The refco

[2022-11-08 09:42] hultonha commented on #9309
@shawstar Would you please be able to give an update on this issue. Is this something that's still impacting you day to day? Is this still a critical right now and does the PR @amzn-rhhong merged (#12587) resolve this for you?

[2022-11-08 09:43] hultonha commented on #9436
@shawstar I wanted to check in to see if this issue is still causing problems and confirm what the severity is. I'll chat with @amzn-rhhong about it when he's back to see if there's some kind of warning we can add to detect this as import time.

[2022-11-08 12:29] LB-ArturZieba commented on #12986
On the Development (7f642a1) build there is still one node with lower case name - Math Functions > Noise:

![MaterialCanvasLowerCase](https://user-images.githubusercontent.com/86952082/200563820-4f807e1a-0565-47de-8978-259c2d641257.png)

It should be noted that all other letter cases were fixed.

[2022-11-08 12:33] LB-ArturZieba commented on #12492
On the Development (7f642a1) build there are still some nodes with no color:
* Math Functions > Acos
* Math Functions > Noise
* Utilities > Comment
* Utilities > Node Group

![MaterialCanvasNoColor0](https://user-images.githubusercontent.com/86952082/200564353-66a268cf-8d87-4fae-b419-8ebe3e21281d.png)
![MaterialCanvasNoColor1](https://user-images.githubusercontent.com/86952082/200564373-7329c8f8-1

[2022-11-08 12:41] hultonha commented on #13014
Thanks @AMZN-daimini, if there's a way to be notified only when this changes it might make sense to add to the EntityVisibilityDataCache for fast iteration, or use some kind of memoization to stop having to compute the value every time.

[2022-11-08 12:43] hultonha commented on #13014
An easy workaround for this is just to add `.txt` to the extension when uploading and I can then remove it when I download it.

I had a quick look into this and have some simple low hanging fruit fixes I'll post a PR for soon. For icons it does seem the majority of the cost is in the DrawIcon call. I'm testing a bit more with the helpers before sharing the PR

[2022-11-08 13:23] hultonha commented on #13014
I just tried opening `10kVegInstancesTest` but due to a recent regression in Prefabs the performance makes using the level nearly impossible so I've been doing some testing in a separate level.

[2022-11-08 13:46] LB-ArturZieba opened #13064 "Baking image using default file name in the Gradient Baker causes an Asset Processor fail to pop up"
**Describe the bug**
If the image baked using the *Gradient Baker* component is saved under its default name (baked_output_gsi.png), an Asset Processor fail will pop up, even though the image saves correctly and when viewed in the Asset Processor it shows no issues.

It should be noted that this does not occur with other names.

**Steps to reproduce**
1. Create an entity and add *Perlin Noise Grad

[2022-11-08 14:02] LB-JaroslawGaweda opened #13065 "Camera component can be found in Entity Inspector search field by pasting symbol characters"
**Describe the bug**
After adding a camera component to an entity and inserting any of the symbol characters in the Entity Inspector's search field. The camera component will be filtered out. This works with most of the symbol characters that can be created with ALT + "numeric keyboard sequence". (e.g. ☻, ┬, ◘)

**Steps to reproduce**
1. Create an entity.
2. Add a camera component to it.
3. In the

[2022-11-08 16:01] hultonha commented on #12711
This is related to https://github.com/o3de/o3de/issues/2603

[2022-11-08 16:07] amzn-mike commented on #12677
I'm retagging this issue as a feature request since this is currently working as designed, but seems confusing to the user.  This can either be addressed by updating the current "Reprocess" option to invalidate dependencies as well or it might be more preferable to simply add another option "Reprocess this and all dependencies"

[2022-11-08 16:12] hultonha commented on #10657
This functionality has now been added, see below

[2022-11-08 16:28] #12847 closed

[2022-11-08 16:28] #12755 closed

[2022-11-08 16:32] shawstar commented on #9309
Repeating the same test in O3DE, and Other game engines. I found that in all engines tested, you will need to clear the history or issues will happen blocking a successful import.  That said once I did clear non-deform history, just throwing together a similar test, the results were good in both game engines. Including O3DE.
![image](https://user-images.githubusercontent.com/87207603/200621765-7cb

[2022-11-08 16:38] lmbr-pip commented on #13053
A lot of cvars are set to not replicate, I wonder if this is impacting behaviour. Are there other cvars other than `cl_InputRateMS`

[2022-11-08 16:47] AMZN-puvvadar commented on #11230
Is this not resolved by https://github.com/o3de/o3de/pull/12656 @AMZN-Olex ?

[2022-11-08 16:50] #12768 closed

[2022-11-08 16:59] #12855 closed

[2022-11-08 17:09] byrcolin commented on #13010
In the description we note that the hardware is M1 which is ARM, but the build description says -DCMAKE_OSX_ARCHITECTURES=x86_64
Is this a copy/paste error?

[2022-11-08 17:39] jackalbe commented on #12844
the full name being used for the procedural prefab is certainly an issue (such as buildso3deGemsAtomToolsMaterialEditorAssetsMaterialEditorViewportModelsBeveledCone_fbx) but a current work around is to reprocess the asset again

[2022-11-08 18:06] galibzon commented on #13031
@moraaar , I tried AutomatedTesting.GameLauncher with latest code as of 11/8/2022. Can you please confirm?

[2022-11-08 18:16] galibzon commented on #12550
@santorac RGA is integrated in CMake, but is this task complete?

[2022-11-08 18:27] svitlani commented on #9436
@HogJonny-AMZN making sure you have your eyes on this, cause I know you recently worked on DCC tools improvements! Thanks!

[2022-11-08 18:29] moraaar commented on #13031
@galibzon I used a `OpenXRTest` project (which is basically a new default project). I'll test `AutomatedTesting` tomorrow, in the meantime @galibzon could you check with a new default project still works for you?

[2022-11-08 18:38] santorac commented on #12550
I think we should still do this part before closing the ticket:

[2022-11-08 19:08] Kadino commented on #12685
I'll look into why this is required. Preferably the package can be removed, as no secure version exists

[2022-11-08 19:13] AMZN-alexpete commented on #12794
Are we going to update this component or should we implement this functionality in the Sky Atmosphere component?

[2022-11-08 19:17] Kadino commented on #12484
@o3de/sig-testing can look into this, and make sure such timeouts are easy for SIGs to modify.

[2022-11-08 19:20] Kadino commented on #11954
Closing as duplicate of https://github.com/o3de/o3de/issues/12484

[2022-11-08 19:20] #11954 closed

[2022-11-08 19:22] FiniteStateGit commented on #12759
SIG-Docs-Community has an RFC in motion re: the feature grid as well: https://github.com/o3de/sig-docs-community/issues/64.

[2022-11-08 19:33] Kadino commented on #12685
The only direct dependency is pytest, which is a fairly critical python dependency:
[code]

Confirmed owned by @o3de/sig-testing

[2022-11-08 19:43] AMZN-alexpete commented on #13031
Made a slight change to the title to differentiate the kind of sky more clearly

[2022-11-08 19:45] lumberyard-employee-dm commented on #6576
@uthidata We have updated the O3DE Python to 3.10, so we believe it should be resolved.
Can you re-verify?

[2022-11-08 19:45] forhalle commented on #6576
Python 3.7 is no longer current.

[2022-11-08 19:45] #6576 closed

[2022-11-08 19:47] forhalle commented on #6744
This was fixed last year.

[2022-11-08 19:47] #6744 closed

[2022-11-08 19:47] Kadino commented on #12685
This is not a requirement of the latest versions of pytest, as of 20 days ago: https://github.com/pytest-dev/pytest/commit/19dda7c9bdc8ef71c792e0f77a9595bfad8d9248

Can be resolved via updating pytest, its dependencies, and dependents: https://github.com/o3de/o3de/issues/10588

[2022-11-08 19:48] forhalle commented on #6759
No longer an issue.

[2022-11-08 19:48] #6759 closed

[2022-11-08 19:48] Kadino commented on #10588
Moved to critical as there is a security flaw which needs patching.

[2022-11-08 19:51] NeilGitGud commented on #12980
ack must have missed that, sorry. Attached now!

[2022-11-08 19:53] forhalle commented on #2960
No longer an issue.

[2022-11-08 19:53] #2960 closed

[2022-11-08 19:53] #12013 closed

[2022-11-08 21:08] ParasiteSt opened #13074 "Feature Request : Upgrade PhysX to 5.1"
**Is your feature request related to a problem? Please describe.**
Upgrading to PhysX 5.1 will allow for the implementation of the new features that 5.1 offers, and in the long run may be able to implement a particle editor in the engine by using PhysX Flow.

**Describe the solution you'd like**
The solution is to implement PhysX 5.1 and remove the older PhysX 4.x version o3de is currently using.

[2022-11-08 21:54] ParasiteSt opened #13075 "Bug Report: Script Canvas Statistics not working correctly."
**Describe the bug**
The Script Canvas Statistics Tool does not show the General Stats for nodes selected in the tool.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Script Canvas.
2. Open the Script Canvas Statistics Tool.
3. Select a node that has been placed in at least one graph.
4. Look at the General Stats field of the tool.
5. See error

**Expected behavior**
The General

[2022-11-08 22:16] michleza opened #13077 "Script Canvas: Crash when retrieving/printing data from variable manager table model"
**Describe the bug**
O3DE crashes if you run a python script which extracts data from the sc variable manager table model (the table where user generated variables live)

**Steps to reproduce**
1. Launch O3DE
2. Open script canvas editor
3. Open a new script canvas file and create some new variables in the variable manager
4. Run the python script below

**Expected behavior**
Data from the variabl

[2022-11-08 22:22] FiniteStateGit opened #13078 "Bug Report: Entity moves to wrong location in 3D Viewport when resetting scale"
**Describe the bug**
If an entity is scaled with the scale manipulator while it's pivot point is set to center-of-volume and then the entity scale is reset, the entity will move to the wrong location in the 3D Viewport. Repeatedly scaling and resetting the entity in these conditions will shift the entity in the Z-direction.

While scaling the entity you can see that the Z-translation value in the

[2022-11-08 23:01] cgalvan commented on #13077
Found the issue! Just needs a small change:

[code]

The issue is that since the variable model is using a `QSortFilterProxyModel`, we can't use `createIndex` because the sort filter creates its own internal index pointers, so we need to use `index` so that it will properly access the root.

[2022-11-09 00:36] jckand-amzn opened #13079 "Gradient Paint Brush: "Flow" tooltip lists the same information as the "Opacity" tooltip"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Steps to reproduce**
1. Open a new or existing level.
2. Create a new entity with an Image Gradient component and all dependencies.
3. Assign an asset to the Image Gradient component, and click the Edit button on the

[2022-11-09 00:43] jckand-amzn opened #13080 "Action Manager: An Editor crash can occur if levels are changed while the Paint Brush Settings tool is opened"
**Describe the bug**
An Editor crash can occur if levels are changed while the Paint Brush Settings tool is opened while the new ActionManager is enabled. Without the ActionManager, the user does not have the option to open a level while in Component Edit mode.

**Prerequisites**
1. Editor is launched with the new ActionManager enabled.

[code]

**Steps to reproduce**
1. Open a new or existing lev

[2022-11-09 00:52] AMZN-daimini commented on #13080
@mbalfour-amzn @hultonha Isn't paintbrush mode a Component Mode? If not, should it be?

[2022-11-09 03:17] ParasiteSt commented on #11639
I am on development 198f507 , and thought this was fixed from the PR, but after using the highlighting feature more, it still crashes around 70% of the time when unhighlighting the nodes. So I am going to reopen this issue at this time.

[2022-11-09 07:37] MoMoPF commented on #12990
In fact， the behavior of ball joint when setting local position is like that the follwer will swing between the red and green cone.
![image](https://user-images.githubusercontent.com/49116245/200767505-2414987c-ed0f-4e3b-a29d-c129398021bd.png)
![image](https://user-images.githubusercontent.com/49116245/200767621-1e14ee74-c636-4626-a26b-088a25435720.png)

[2022-11-09 08:30] vincent6767 commented on #12759
@FiniteStateGit Yep, saw that. But that will be more of the content as far as I understand. This issue tracks the process updating the features grid near the release.

[2022-11-09 08:30] etherealchain commented on #12550
If RGA outputs are missing, the shader process will still succeed, only a warning will be printed.
You suggested this in #12710

Should we report an error when the warning is printed?
AutomatedTesting looks like a normal project, I'm not familiar with how the testing system worked, is there a place for expected results for me to update?

[2022-11-09 08:41] LB-ArturZieba commented on #12962
I have verified this using the installer ([o3debinaries.org/download/windows.html](http://o3debinaries.org/download/windows.html) > Download v22.10.0 Release) and O3DE Development (6d321b7) clone and Wwise can be successfully set up using these steps.
 However, this method should either be mentioned in the documentation (https://www.o3de.org/docs/user-guide/gems/reference/audio/wwise/audio-engine-

[2022-11-09 09:20] LB-JakubSkorupka commented on #12614
Issue verified as fixed on build Development (6d321b7).

[2022-11-09 09:21] hultonha commented on #13080
Didn't @mbalfour-amzn fix something very similar recently? Though this might have just been on shutdown and not when changing level. Do you have this change @jckand-amzn? https://github.com/o3de/o3de/pull/13023

[2022-11-09 09:56] hultonha commented on #9309
Thanks for the update @shawstar and for verifying this. I'll close this and resolve for now, thanks!

[2022-11-09 09:56] #9309 closed

[2022-11-09 10:17] hultonha commented on #9436
Thanks for the update @shawstar. I am hopeful there is some metadata that we can look out for during import that tells us if things have been authored in centimeters or meters and then either adjust (scale) or warn on import. I'm afraid I just don't know enough about it at this time to give a definitive answer. I'll definitely catch-up with @amzn-rhhong when they're back and see what their thought

[2022-11-09 11:30] LB-JaroslawGaweda opened #13084 "Script Canvas: Create Variable search bar filters inconsistently when inputting periods"
**Describe the bug**
After pressing the Create Variable button in Script Canvas and inputting period character (.) in the search field, the filter will display multiple variables inconsistently. It should be noted that inserting multiple periods will result in different variables filtered.

**Steps to reproduce**
1. Open the Script Canvas.
2. Create a new canvas.
3. Press the Create Variable butto

[2022-11-09 12:05] moraaar commented on #13031
@galibzon I tested with the latest today with `AutomatedTesting` and it doesn't work either.

But I discovered this. If the launcher is run without an initial level set in setreg files and then the level is loaded later by command line in the console it works. But if the level is set as initial level and the launcher opened directly it doesn't work.

I'll update the title and highlight the step of

[2022-11-09 13:07] LB-ArturZieba opened #13085 "Feature Request: Add values of entity manipulator's Transform to the Transform component"
**Is your feature request related to a problem? Please describe.**
Currently the manipulator can be moved separately from selected entity/entities by holding down Ctrl button, but there are no Transform values of the manipulator itself displayed anywhere and it gets reset after deselecting/reselecting entities.

**Describe the solution you'd like**
Add value fields (Translate, Rotate, Scale) in th

[2022-11-09 13:14] LB-MateuszSzweda commented on #13010
@byrcolin Long ago when M1 was introduced it had problems configuring due to not detecting TARGET correctly.

We were informed that this is due to O3DE not yet build natively for ARM and that _DCMAKE_OSX_ARCHITECTURES=x86_64_ should be used during configuration to workaround that.

Originally I have reproduced the issue with _DCMAKE_OSX_ARCHITECTURES=x86_64_ present in configuration command but I

[2022-11-09 14:19] LB-JakubSkoczylas opened #13086 "TrackView: Incorrect order of Undo actions"
**Describe the bug**
Adding Entities to the sequence with nodes and using Undo/Redo option results in incorrect order of the Undo/Redo operations. In the process, the Entity is detached from the sequence but not removed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an Entity.
2. Create a sequence in TrackView.
3. Add the created entity to the sequence.
4. Add 2 nodes and Undo

[2022-11-09 15:05] AlkanetSmorgas commented on #8355
The log file this case seem to be AP_GUI.log.
[code]

[2022-11-09 15:55] jckand-amzn commented on #13079
Closing this out. Tooltip is accurate after explanation from @mbalfour-amzn .

[2022-11-09 15:55] #13079 closed

[2022-11-09 15:58] mbalfour-amzn commented on #13080
I only fixed the Quit flow, not the "Close Level" flow. This will need to get fixed separately. :(

[2022-11-09 16:06] galibzon opened #13088 "At Times The LoftSample.GameLauncher Deadlocks When Initializing"
**Describe the bug**
This is a random/`race condition` bug. When the Launcher (discovered with LoftSample.GameLauncher) is invoked, it may deadlock and hang forever.

**Assets required**
Use the `LoftSample.GameLauncher` with a command line like this:
[code]

**Steps to reproduce**
Get latest O3DE "development" branch, and `loft-arch-vis-sample` "Atom/performance" branch.
Compile and run AssetProc

[2022-11-09 16:12] mbalfour-amzn commented on #13080
@AMZN-daimini Pretty sure the actual bug here is that the Action Manager is _letting_ you select "Open Level" while in Component Mode. With the Action Manager disabled, you can't do that.

[2022-11-09 16:19] jckand-amzn commented on #13080
Yes, apologies all. I didn't realize I still had the new ActionManager enabled via setreg. Updating the ticket description.

[2022-11-09 16:20] amzn-changml commented on #12689
Thanks for the data points, I'll start scoping out the work

[2022-11-09 16:26] jckand-amzn commented on #13080
I can still hit this crash without the new ActionManager enabled, but the steps are much more unlikely to be hit inadvertently:

**Steps to reproduce**
1. Open a new or existing level.
3. Create a new entity with an Image Gradient component and all dependencies.
4. Assign an asset to the Image Gradient component, and click the Edit button on the component card to bring up the Paint Brush Settings

[2022-11-09 16:36] jckand-amzn opened #13089 "Gradient Paint Brush: Allow configuring color of Viewport brush gizmos"
**Is your feature request related to a problem? Please describe.**
The Viewport brush gizmo is red by default. When working with terrain that had a red macro material applied, the gizmo was very hard to see.

**Describe the solution you'd like**
We should allow configuring the color of the gizmo for working with different color terrain. Perhaps just a few different choices to swap between with a C

[2022-11-09 16:55] #11918 closed

[2022-11-09 17:14] hultonha commented on #13014
I did a bit more profiling and with 3000 entities in view, all drawing icons, this is what shows up

![image](https://user-images.githubusercontent.com/82228511/200850855-af089a3b-6065-4aaa-8885-e5c401677db6.png)

The results are a bit different when Helpers are enabled

![image](https://user-images.githubusercontent.com/82228511/200895553-1f832b64-7da7-49ad-9a17-95d891ee853f.png)

All the cost re

[2022-11-09 17:19] AMZN-daimini commented on #13080
That makes sense, still working on Component Mode support with the Action Manager. Should be fixed with the new work that will be coming in soon.

[2022-11-09 18:21] srikappa-amzn commented on #13017
Reopening this since https://github.com/o3de/o3de/pull/13081 improves level loading times but still is not fast enough. Next step is to investigate why a lot of entities are being marked during level loading. @michabr , fyi

[2022-11-09 18:30] amzn-changml commented on #12486
Thanks for the heads up. Accepting this issue as part of SIG-Build. There is a PR out now to address the issue.

[2022-11-09 19:31] amzn-phist commented on #12962
Docs should be added, for sure.  I will file a GHI for that.

While I agree that it should be more user friendly without having to download a separate piece, we are somewhat stuck there.  The installer does not contain pre-built binaries for `AudioEngineWwise` because it links to third-party libraries that we don't own, control, or distribute.  So the only recourse is to build it from source as if

[2022-11-09 19:43] monroegm commented on #12912
Hey @shawstar can you provide steps for how to "Create a large script error"?

[2022-11-09 19:47] monroegm commented on #12924
We should check to see if prefab propagation is happening after each letter is typed

[2022-11-09 20:25] michabr commented on #13017
@srikappa-amzn The reason for entities being marked as dirty during level loading comes from components marking the entity dirty during entity activation. The TransformComponent and EditorMaterialComponent both do this. I am testing out a fix for this that only marks dirty entities if a valid current undo batch exists.

[2022-11-09 21:08] jckand-amzn opened #13094 "Action Manager: "Delete" hotkey does not function in the Entity Inspector or Outliner"
**Describe the bug**
"Delete" hotkey does not function in the Entity Inspector or Outliner.

**Steps to reproduce**
1. Launch the Editor with the new Action Manager active:
[code]
2. Select any entity in the Entity Outliner, then press the DEL key to delete the entity.

**Expected behavior**
Entity is deleted.

**Actual behavior**
Nothing happens.

**Found in Branch**
development@ 9080579e3e388388

[2022-11-09 21:17] santorac commented on #12550
Right. So we'll need something that can actually check the expected location where the statistics are supposed to be saved, and report an error if they don't show up. You'll probably have to make a python automated test to check this.
The test scripts are kept here: https://github.com/o3de/o3de/tree/development/AutomatedTesting/Gem/PythonTests/Atom/tests

[2022-11-09 21:35] cgalvan commented on #6509
Fixed by https://github.com/o3de/o3de/commit/26190a47eb51a5c5ff8694dd5bdaf81bd6152abc

[2022-11-09 21:35] #6509 closed

[2022-11-09 21:38] moudgils commented on #13088
I am unable to repro this locally but I did find that the loft scene has a lot of vulkan validation errors. My recommendation is address all of them as well. - https://paste.amazon.com/show/moudgils/1668027261

[2022-11-09 21:59] cgalvan opened #13096 "PythonToolGem template fails to register tool if gem name contains "-" character"
**Describe the bug**
The `PythonToolGem` template fails to register its tool if the user creates a gem name with the "-" character. This is because the template will create a `<gem_name_lowercase>_dialog.py` file that the tool's dialog will be imported from, but python doesn't allow dashes in a module name. We need to provide a sanitized lower-case name replacement that can be used for cases like

[2022-11-09 22:05] amzn-mike commented on #12745
Closing this as both of the fixes for this have been merged and this should now be resolved.

[2022-11-09 22:05] #12745 closed

[2022-11-09 22:11] galibzon commented on #13088
I just ran with vs2019 4 times and at the fourth time I was able to reproduce the deadlock. Here is the callstack of the main thread:
[code]
Will proceed to run with rhi validation

[2022-11-09 22:17] galibzon commented on #13088
Here is the Log from a **successful** run with -rhi-device-validation="enable":
[Game.log](https://github.com/o3de/o3de/files/9975566/Game.log).

[2022-11-09 22:42] amzn-mike opened #13098 "Asset Processor Batch - Find a way to enable File State Cache"
**Is your feature request related to a problem? Please describe.**
The file state cache for APB had to be disabled to properly support intermediate asset processing since the cache relies on the file monitor to function, but the file monitor is not enabled for APB.

**Describe the solution you'd like**
Re-enable the file state cache as it provides a non-trivial speed up to processing, especially o

[2022-11-09 23:03] jckand-amzn opened #13099 "Gradient Paint Brush: Gradient paint brush changes made using Auto Save options do not flag as dirty until gradient entity is deselected"
**Describe the bug**
Gradient paint brush changes made using Auto Save options do not flag as dirty until gradient entity is deselected.

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Create an entity, and add an Image Gradient and all required dependencies.
3. Assign any valid Image Gradient asset to the component.
4. Set the Save Mode property to Auto Save With

[2022-11-09 23:19] jckand-amzn opened #13100 "Prefabs: Editor can crash when exiting focus mode on a prefab that is not properly dirtied"
**Describe the bug**
Editor can crash when exiting focus mode on a prefab that is not properly dirtied. This was noted while using the Gradient Paint Brush tools on an entity in a prefab. There is an issue causing the level/entity/prefab to not immediately dirty when certain changes are made on the Image Gradient component (https://github.com/o3de/o3de/issues/13099). If the user in this state exit

[2022-11-09 23:47] jckand-amzn opened #13102 "Gradient Paint Brush: Entering/Exiting Edit mode on an Image Gradient component throws a warning to the Console"
**Describe the bug**
Entering Edit mode on an Image Gradient component throws a warning to the Console.

[code]

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Create an entity, and add an Image Gradient and all required dependencies.
3. Assign any valid Image Gradient asset to the component.
4. Enter Edit mode on the Image Gradient component and observe the Conso

[2022-11-10 00:00] moudgils commented on #13088
Yep you have a gpu crash in the logs. I have a feeling that clearing up all the validation errors will help with fixing the gpu crash.

[2022-11-10 07:03] #4013 closed

[2022-11-10 07:26] LB-ArturZieba commented on #12962
Thanks for the explanation, I think that this issue can be closed, unless it is still required open for tracking or anything else.

[2022-11-10 08:37] ParasiteSt opened #13107 "Bug Report: Script Canvas Increment/Decrement Visible Counter Bug"
**Describe the bug**
If you Increment the visible counter twice, and try to decrement the visible counter it is locked up and does not decrement it.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Script canvas and create a new graph.
2. Add these nodes : On Graph Start --> Time Delay --> Repeater (2 Repetitions) [Action Pin]--> Increment Visible Counter
Repeater [Complete Pin] --

[2022-11-10 09:15] hultonha commented on #13014
That's great to hear @AMZN-daimini! 😄 I'll take a look at the PR soon

Here's one more profile of shapes (BoxShape in this example) which is called from `DisplayComponents`

![image](https://user-images.githubusercontent.com/82228511/201048004-eb080c30-bb35-4230-8652-dada65e7c807.png)

10% of the call time seems to get lost in EBus machinery (maybe there's a more optimum way to call this than...

[2022-11-10 09:49] hultonha commented on #13080
Thanks for the update @jckand-amzn and additional info @AMZN-daimini and @mbalfour-amzn 👍

[2022-11-10 11:01] LB-TomaszSerwanski commented on #6509
Issue verified as fixed in the latest Development (522b935) branch.

[2022-11-10 12:00] hultonha commented on #10960
@MiKom I reviewed this and one thing that seems wrong is the names of the panels should be different (see below)

![image](https://user-images.githubusercontent.com/82228511/201085651-26927f88-bfe6-4e7d-b96e-d72adbaa74e4.png)

Is this something you'd be able to quickly fix-up please?

[2022-11-10 12:34] LB-ArturZieba commented on #11252
I have noticed that on the Development (c839719) build this issue still occurs, however I found out it is tied to which View is selected. This issue occurs while the List View is selected, while on the Tree View the assets can simply be single-right-clicked for the context menu to appear. It should also be noted that the context menu in the List View has only three available options, while the con

[2022-11-10 13:42] LB-KacperKapusta opened #13109 "[Linux] Building O3DE in the Pre-built SDK engine configuration fails with CMake error"
**Describe the bug**
Building the Pre-built SDK engine fails towards the end of the building with the following CMake error:
[code]
It has been verified using the following CMake versions that the same issue occurs: 3.22.0, 3.24.0, 3.24.1.
It seems that the issue might be caused by an incorrect URL: `https://cmake.org/files/v3.22/cmake-3.22-linux-x86_64.tar.gz` instead of `https://cmake.org/files/

[2022-11-10 14:36] LB-JakubSkorupka opened #13111 "It is not possible to Delete assets and folders via Asset Browser if engine is built using source configuration"
**Describe the bug**
In **Asset Browser**, it is not possible to delete files or folders by clicking "Delete" in selected asset context menu or pressing Delete key with asset or folder being selected in **Asset Browser**.

This issue seems to occur only on source configuration engine, as it was reproduced on 2 Windows and 1 Linux machines. This issue did not occur on one machine with Pre-built eng

[2022-11-10 14:52] LB-KacperKapusta opened #13112 "Undo operation does not work properly after "Create multiplayer entity""
**Describe the bug**
Attempting to undo the creation of multiplayer entity does not remove the created entity. Instead after undo the entity's components get removed and undo has to be performed for the second time for the entity to be completely removed.

**Steps to reproduce**
1. Launch the Editor for a project with Multiplayer gem enabled.
2. RMB on the Entity Outliner and select Create multipl

[2022-11-10 16:24] AMZN-stankowi commented on #13064
This isn't just for this asset type, this occurs with any non-instant write operation to asset files. If you copy a large file, or perform a longer file save operation, the asset processor will start attempting to process the file before the operation finishes, fail, and then need to re-process the asset when the write operation actually finishes.

[2022-11-10 16:40] rgba16f opened #13113 "Pip install failed during configure on a newly setup Ubuntu 22.04 LTS machine"
**Describe the bug**
During configure of AtomSampleViewer pip failed to install the AtomicWrites and PSUtil packages. Pip attempted to fall back to downloading the software and building the packages locally, this also failed as gcc is not installed.

**Assets required**
o3de source & o3de-atom-sampleviewer source

**Steps to reproduce**
Steps to reproduce the behavior:
1. Set up a new/clean machin

[2022-11-10 16:43] lawsonamzn commented on #13113
this also happens on windows.
Linux command line (from the command prompt) to easily reproduce:
[code]

Windows repro
[code]

[2022-11-10 16:44] lawsonamzn commented on #13113
SO this happens on windows (and probably mac too)

The remedy might just be to upgrade the version of psutil to the latest to satisfy python 3.x

[2022-11-10 17:00] lawsonamzn opened #13114 "AssetProcessor - Removing a gem with assets causes a crash on next AP start"
**Describe the bug**
If you deactivate a gem that has assets and restart, AP crashes.

**Assets required**
Nothing in particular.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Use the Project Manager to activate an gem not currently activated which has assets.
2. Get editor/ap started so that the assets appear and have been built (or even errored is ok)
3. quit editor and ap
4. Use t

[2022-11-10 17:01] jckand-amzn opened #13115 "Atom: Editor can crash on startup in ShaderResourceGroupLayout.cpp"
**Describe the bug**
Editor can crash on startup in ShaderResourceGroupLayout.cpp. This has caused a Python failure in the Dynamic Vegetation automated test test_PrefabInstanceSpawner_Embedded_E2E_Editor.

https://jenkins.build.o3de.org/job/O3DE/job/development/3427/testReport/junit/AutomatedTesting.Gem.PythonTests.largeworlds.dyn_veg.TestSuite_Main/TestAutomation/Build___Windows__profile_pipe____

[2022-11-10 17:02] jckand-amzn commented on #13115
May be related to https://github.com/o3de/o3de/issues/6139.

[2022-11-10 17:05] hultonha commented on #13113
Preemptively adding sig/core and removing needs-sig - please feel free to update if it should go to another sig

[2022-11-10 17:06] srikappa-amzn commented on #12989
Fixed by https://github.com/o3de/o3de/pull/12964

[2022-11-10 17:08] hultonha commented on #13056
This may tangentially be related to https://github.com/o3de/o3de/issues/9309 but in sig-simulation triage we did not think that this ticket belongs in sig-simulation. It may potentially belong with sig-graphics-audio and/or sig-content maybe?

[2022-11-10 17:11] #12561 closed

[2022-11-10 17:19] #1782 closed, assigned to nobody

[2022-11-10 17:19] #1783 closed

[2022-11-10 17:19] #1784 closed

[2022-11-10 17:19] #1785 closed

[2022-11-10 17:19] #1795 closed

[2022-11-10 17:19] #1796 closed

[2022-11-10 17:19] #1797 closed

[2022-11-10 17:19] #1798 closed

[2022-11-10 17:19] #1799 closed

[2022-11-10 17:19] #1800 closed, assigned to nobody

[2022-11-10 17:19] #1801 closed

[2022-11-10 17:20] #1802 closed

[2022-11-10 17:20] #1803 closed

[2022-11-10 17:20] #1804 closed

[2022-11-10 17:20] #1805 closed

[2022-11-10 17:20] #1810 closed

[2022-11-10 17:20] #1811 closed

[2022-11-10 17:20] #1812 closed

[2022-11-10 17:20] #1813 closed, assigned to nobody

[2022-11-10 17:20] #1814 closed, assigned to nobody

[2022-11-10 17:20] #1815 closed

[2022-11-10 17:20] #1816 closed

[2022-11-10 17:20] #1817 closed

[2022-11-10 17:20] #1818 closed

[2022-11-10 17:20] #1819 closed

[2022-11-10 17:20] #1820 closed

[2022-11-10 17:20] #1821 closed

[2022-11-10 17:20] #1822 closed

[2022-11-10 17:20] #1823 closed

[2022-11-10 17:20] #1824 closed

[2022-11-10 17:20] #1825 closed

[2022-11-10 17:20] #1826 closed, assigned to nobody

[2022-11-10 17:20] #1828 closed, assigned to nobody

[2022-11-10 17:20] #12990 closed

[2022-11-10 17:20] #13074 closed

[2022-11-10 17:40] #13096 closed

[2022-11-10 17:57] jackalbe commented on #9436
It is hard to determine the "expected scale" of an incoming 3D asset and even harder to enforce scalar scale across separate assets. For example, a mesh is incoming in units as meters (on asset) and an incoming animation in units as centimeters.

There are custom user defined properties that can be used to set the scale factor from the FBX format: "UnitScaleFactor" and "OriginalUnitScaleFactor"

[2022-11-10 18:06] mbalfour-amzn commented on #13102
This should get rechecked after https://github.com/o3de/o3de/pull/12797 is submitted, since I believe the allocator changes have removed the concept of "aznew".

[2022-11-10 18:07] #12844 closed

[2022-11-10 18:13] amzn-phist commented on #12962
I've filed the docs ticket and will close this, thank you.

[2022-11-10 18:13] #12962 closed

[2022-11-10 18:17] sptramer opened #13122 "[BUG] 22.10 project manager does not create `o3de-gems` if necessary on first launch"
**Describe the bug**

By default, it appears that on first launch, Project Manager attempts to detect an `o3de-gems` directory but will not create it if it's missing. The failure to detect this directory causes the engine to not be registered correctly. This issue may only appear when installing to a non-default location.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run O3DE 22.10 i

[2022-11-10 18:20] sptramer commented on #13122
This issue may _also_ be because there was a prior engine installation which had a different registry setting (but the same directory, sans version number) that set directories which were removed before installation as part of cleanup. Perhaps the issue is stale registry information?

![image](https://user-images.githubusercontent.com/169061/201175602-4860d959-f61b-472c-9a61-7f97d1f7f8ec.png)

[2022-11-10 18:34] AMZN-Olex commented on #13053
I am seeing the same thing with client cvars in the Editor as well.

[2022-11-10 18:35] lmbr-pip commented on #13019
#3 is the preferred option.

[2022-11-10 18:38] lmbr-pip commented on #13053
Suggestions is that this is a behaviour change as default is to replicate and a flag to not replicate.

Needs design to flip behaviour, default should be to not replicate, flag to explicitly replicate.

[2022-11-10 18:40] lmbr-pip commented on #13053
Change to feature request as its more the current behavior is confusing.

[2022-11-10 18:49] amzn-mike opened #13124 "Bug Report - AP Crash on shutdown"
**Describe the bug**
AP crashes on shutdown on rare occasions in response to a file monitor event

**Steps to reproduce**
Unknown, beyond running AP and shutting it down (ctrl+Q) while having a debugger attached

**Expected behavior**
AP shuts down cleanly

**Actual behavior**
On rare occasions, AP crashes on shutdown with the following callstack:

[code]

The crash occurs somewhere in this block:

[2022-11-10 19:24] #13020 closed

[2022-11-10 19:38] lsemp3d commented on #13112
@LB-KacperKapusta does this only happen with the Multiplayer entity? or regular entities as well?

[2022-11-10 19:42] AMZN-daimini commented on #13107
When you Decrement the visible counter the cursor should always become invisible, even after calling increment multiple times.

To be fair, I'm not sure this is correct. The whole point of a `reference counter` would be to keep track of how many times it's called; if different places incremented the counter, and then only one of them decremented it (to signal that they don't need the pointer to be

[2022-11-10 19:50] lsemp3d commented on #12887
When resolving make sure any concerns are run by UX if necessary

[2022-11-10 21:02] ParasiteSt commented on #13107
@AMZN-daimini The behavior is well informed, I was just told a long while back that these two nodes are meant to toggle the cursor visible and invisible, after talking to Sempe on discord I am going to close this Bug Report as it is not an issue, since like you where saying if I increment twice I should have to decrement twice to set it invisible otherwise I would still have one graph wanting it i

[2022-11-10 21:02] #13107 closed

[2022-11-10 21:38] jackalbe opened #13129 "Large image files can crash the ImageProcessingAtom builder"
**Describe the bug**

Copying large image files to the project source assets folder can cause the Image Builder to crash.

**Assets required**

A very large texture such as a 4000 x 4000 x 32-bit TIFF image of clouds.

**Steps to reproduce**

Steps to reproduce the behavior:

1. Launch the Editor
2. Obtain or create a very large image (such as that TIFF file)
3. Copy the large image into a project

[2022-11-10 21:46] #13064 closed

[2022-11-10 22:27] lawsonamzn commented on #4404
FWIW if you absolutely need the binary debug moduels, you can definitely build them locally.
For example if you try to launch a python script in the _debug_ editor, and it tries to use a binary module like psutil, it wont be able to load it.  But what you CAN do is compile it using pip, locally

From the O3DE folder:
[code]
Note that you must use the actual python_d.exe to do this, you can't use t

[2022-11-10 22:44] jckand-amzn opened #13130 "Prefabs: Prefab containers sometimes fail to expand in the Entity Outliner"
**Describe the bug**
Prefab containers sometimes fail to expand in the Entity Outliner.

**Repro rate**
Low - 15-20%

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Instantiate any prefab into the level.
3. Double-click the prefab container entity to enter Focus Mode.

**Expected behavior**
Container expands and displays the entities/prefabs nested in the prefab.

[2022-11-10 22:53] jckand-amzn commented on #13130
Assigning to Editor team for initial investigation.

[2022-11-10 23:05] lawsonamzn commented on #13124
I already have a fix for this.

[2022-11-10 23:24] jckand opened #13134 "Gradients: Editor crashes if an Image Gradient component is replaced on an entity by another Gradient component"
**Describe the bug**
Editor crashes if an Image Gradient component is replaced on an entity by another Gradient component.

[code]

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Create a new entity, and add an Image Gradient component and all required dependencies to the entity.
3. Remove the Image Gradient component, and add a Perlin Noise Gradient in its place.

[2022-11-10 23:36] jckand-amzn opened #13135 "Gradient Paint Brush: Painting does not function on Shape components"
**Describe the bug**
Painting does not function on Shape components.

**Steps to reproduce**
1. Launch the Editor and open a new or existing level.
2. Create a new entity and add an Image Gradient component and all required dependencies.
3. Resize the dependent Shape component to be suitable for painting on.
4. Click the Edit button on the Image Gradient component.
5. Attempt to paint on the Image

[2022-11-11 01:06] santorac opened #13137 "Shader Management Console Python Script Fails On Name Class"
**Describe the bug**
The Shader Management Console script GenerateShaderVariantListForMaterials.py reports a bunch of python binding warnings and fails to produce the expected shader variant data. It is not possible to generate .shadervariantlist files, the workflow is **blocked**.

**Steps to reproduce**
1. Run Shader Management Console
2. In the asset browser, find BasePBR_ForwardPass.shader
3.

[2022-11-11 01:06] santorac commented on #13137
Note that even though this issue appears in a graphics tool, I think this is a @o3de/sig-core issue.

[2022-11-11 04:41] etherealchain commented on #13137
I am able to fix this in #12898, by passing in `AZStd::pair<AZ::Name, AZ::Name>` instead of `AZStd::pair<AZStd::string, AZStd::string>` on line 111 of GenerateShaderVariantListForMaterials.py
Note this will create another warning
[code]

But the list can be generated correctly

[2022-11-11 09:52] hultonha commented on #9436
Including comment from @AMZN-stankowi from a separate thread

Also @jackalbe shared...

[code]

Though the above is related to assets that are not FBX assets according to @AMZN-stankowi.

Would definitely be good to discuss more with myself, @amzn-rhhong, @jackalbe and @AMZN-stankowi when possible. Thanks all for the input and helping look into this issue.

[2022-11-11 12:32] galibzon opened #13147 "Fullscreen mode should use the expected window resolution"
**Describe the bug**
Fullscreen mode should use the expected window resolution, instead it is always using the maximum resolution of the screen.

For example, in BootstrapSystemComponent::Activate(), If I setup the starting window resolution to 1920x1080:
[code]
When fullscreen mode is OFF then the window starts at the expected resolution 1920x1080. But if I enable fullscreen mode by calling:
[cod

[2022-11-11 12:36] galibzon commented on #12932
@santorac Did some work around ImGui mouse a few weeks ago. Will assign to him to see if he can identify an easy fix.

[2022-11-11 15:43] #2466 closed

[2022-11-11 15:52] jackalbe commented on #9436
This might lead to some work where the tech reads in the assetinfo file before loading the scene via AssImp or the setting could be plugged in using a scene custom user defined property

[2022-11-11 16:03] jckand-amzn opened #13150 "PrefabTests_Periodic.py is failing in test_AddEntity_UnderUnfocusedInstanceAsOverride"
**Describe the bug**
Newly added test test_AddEntity_UnderUnfocusedInstanceAsOverride is failing with a timeout. It appears the test may be hitting some kind of deadlock.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/160/pipeline/1137

**Attachments**
[log(1).txt](https://github.com/o3de/o3de/files/

[2022-11-11 17:42] gadams3 commented on #13050
Thank you for the feedback. This is on the list. Are you also aware of options in the tools settings menu that enable faster iteration/preview times by disabling shader compilation for inactive platforms? Could you please also provide info on your hardware and how long it takes to see updates with that setting enabled or disabled?

[2022-11-11 18:18] amzn-changml commented on #12486
The jobs with indicated issues are building with the latest VS2019 version. These builds have completed the compilation phase successfully: https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/160/pipeline

[2022-11-11 18:18] #12486 closed

[2022-11-11 18:52] ParasiteSt commented on #13050
Thanks for the assurance its on the list @gadams3 . I did a few small tests, and compilation times without this feature toggled on is around 12.8 - 13.06 seconds, and with the feature toggled on it is around 4.6 -4.84 seconds.
Without it toggled on ;
![image](https://user-images.githubusercontent.com/100494538/201410458-a6454d4a-8a70-4124-a7b7-00bf62a86c70.png)
With it toggled on ;
![image](https:

[2022-11-11 19:51] ParasiteSt commented on #11285
This issue is becoming less frequent, and is based purely off of if there is something that spams the console, with a lot of those spam messages being fixed this FR seems less needed.

[2022-11-11 19:51] #11285 closed

[2022-11-11 19:51] #13019 closed

[2022-11-11 20:38] jiaweig-amzn commented on #12980
I took a look into this. And tried to revert my changes on the eye shader. It seems the changes did introduce some extra diff.
The bitangent from the vertex stream is different from the one calculated in the pixel shader (as the new change did).
So I am gonna put the bitangent back in the eye shader to temporary fix the screenshot failure. Meanwhile, I will try to utilize the vertex stream debug s

[2022-11-11 20:50] jiaweig-amzn commented on #12980
Temp fix:
https://github.com/o3de/o3de/pull/13154

[2022-11-11 20:56] forkercat opened #13155 "Bug Report - Unexpected transform update for container entity in prefab template"
**Describe the bug**

When we add/remove entity or prefab under a focused container entity, there will be an unexpected patch for updating the container entity's transform in the source template. The container entity's transform in source template is supposed to be empty (as it will be replaced by linkDom during template-template propagation).

So, if users continue saving the changes, that update

[2022-11-11 20:58] forkercat commented on #13155
Proposed Fix: Check if the parent is the focused container entity. If it is, we call InstanceDomGenerator's GenerateContainerEntityDomFromRootInstance or GenerateEntityDom to get the DOM; if it is not, it is safe to fetch from focused template.

I noticed this in unit testing. How might we avoid this kind of issues by verifying the patches in unit testing?

[2022-11-11 21:40] jiaweig-amzn opened #13159 "Bug Report: eyematerialtest.bv.lua automated screenshot failure further investigation"
**Describe the bug**
Detail can be found here: https://github.com/o3de/o3de/issues/12980
A temp fix for the issue: https://github.com/o3de/o3de/pull/13154
This issue is for further investigation to determine the correctness of the bitangent.

**Steps to reproduce**
Steps to reproduce the behavior:

First, revert the changes from this temp fix:
https://github.com/o3de/o3de/pull/13154

1. Launch Ato

[2022-11-11 21:41] AMZN-puvvadar commented on #12137
I took a look at this and I have to disagree. RPC Handlers are bound by their `EntityReplicactor`. This occurs through `EntityReplicationManager` on an event based Tick in which new windows are processed. This essentially means that that RPC handler registration is deferred a tick. Consequently, RPCs should be not be invoked at Activation time.

A potential fix here would be to drive this behavior

[2022-11-11 22:16] AMZN-Gene commented on #12137
Nice investigation! I should have clarified that “verified it should be working” means the author of the system expected that to work. I think it’s a  common case where you’d want to send an rpc on activate. Maybe just close out this bug with a  warning for now if the rpc lands up in the trash heap?
I’d be cool with NetEntity-specific life cycle events. Would there be any other life cycle events t

[2022-11-11 22:35] AMZN-puvvadar commented on #12137
I see, I do agree with that sentiment. Personally I'd like to see network life cycle events be moved off Tick Events so that developers can make reasonable assumptions about availability during Activation/Deactivation.

[2022-11-11 23:05] mbalfour-amzn commented on #13089
https://github.com/o3de/o3de/pull/13152

[2022-11-11 23:07] #13124 closed

[2022-11-12 08:44] ParasiteSt opened #13160 "Feature Request: UI Canvas Mask Component able to use image as mask."
**Is your feature request related to a problem? Please describe.**
Right now there does not seem to be a way to mask a circle instead of the default square or ui element dimensions.

**Describe the solution you'd like**
I want to be able to mask a circle instead of the square/ui element dimensions. Being able to support any alpha image (Black and white/greyscale) would be great as it could cover m

[2022-11-12 09:00] ParasiteSt commented on #13160
I figured out how to mask to an image, but the process was not simple, and should definitely be documented with a few example images to help others out in how to use the masking component for more complex ui work.

[2022-11-12 09:00] #13160 closed

[2022-11-12 18:16] Darkinggq opened #13161 "Bug Report - Demo other project from github open levels in o3de editor freeze on linux"
**Describe the bug**
I'm checking different demo project in o3de but the map level freezes right away it's on linux

[ThirdPersonTemplate](https://github.com/o3de/ThirdPersonTemplate) open level works
[PlanetSurvivalGame](https://github.com/o3de/PlanetSurvivalGame) open level freezes editor
[NewspaperDeliveryGame](https://github.com/o3de/NewspaperDeliveryGame) open level works, but the level map `

[2022-11-13 21:08] Darkinggq opened #13162 "Bug Report: Any graph editor not working save screenshot on linux"
**Describe the bug**
Click screenshot on canvas material or canvas script it doesn't work

![image](https://user-images.githubusercontent.com/17591539/201544570-b93d96ce-adb6-48c9-89d6-6051e847564f.png)

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanc

[2022-11-13 21:20] Darkinggq commented on #13162
but however there is only works for example button full resolution screenshot paste in phoshop/gimp/krita keyboard `Ctrl+V` is that correct? or I'm wrong ?

https://user-images.githubusercontent.com/17591539/201544878-e5882257-ad7b-4b3a-a417-69e1526f6fff.mp4

https://user-images.githubusercontent.com/17591539/201544879-930c9044-0311-4a7d-ad9e-7e14fb415204.mp4

[2022-11-13 21:54] Darkinggq opened #13163 "Bug Report: Incorrectly save script canvas in default O3DE SDK root path and not in current project on linux"
**Describe the bug**
Run o3de editor create script canvas saving wrong to path default sdk root not current project on linux

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run O3DE Editor
2. Open script canvas
3. Save script canvas
4. Default sdk path is wrong

**Screenshots/Video**

https://user-images.githubusercontent.com/17591539/201545732-d5995ddd-6cff-458b-8f04-bad1cd29da3e.mp4

[2022-11-14 03:29] etherealchain commented on #11388
All issues had been resolved, we can close this one.

[2022-11-14 08:23] santipaprika commented on #12980
Awesome, thanks! :)

[2022-11-14 10:18] LB-KacperKapusta commented on #13112
@lsemp3d This only happens with the Multiplayer entity. Creation of regular entities can be undone without issues.

[2022-11-14 12:09] LB-KacperKapusta opened #13165 "Material Instance Editor does not open"
**Describe the bug**
Selecting "Open Material Instance Editor..." from the Material component does not open the desired window and nothing is happening.

Please refer to the attached video for more information.

**Steps to reproduce**
1. Create a new level.
2. Select an entity (e.g. Shader Ball).
3. Add Material component to the entity.
4. Assign a material to Default Material or Model Material sl

[2022-11-14 12:44] LB-JakubSkorupka commented on #12844
Issue verified as fixed on build Development (ff129ee).

[2022-11-14 14:29] hultonha commented on #13008
This could be one to review at some point @amzn-ahmadkrm. Just to check @LB-ArturZieba does this only happen on Linux or have you seen it repro on Windows at all too? Thanks!

[2022-11-14 14:31] jjjoness commented on #13111
@LB-JakubSkorupka @lsemp3d  This was caused by the context menu not checking whether the asset was a source asset or a product asset. It now checks and the menu will only appear if the asset is source. Also fixes Rename and Move-to.

[2022-11-14 15:03] #13089 closed

[2022-11-14 15:58] jonawals commented on #12756
These are the measurements I made on my machine:

Config | No Select | Select
-- | -- | --
DirectX Profile | 60.9 | 61
Vulkan Profile | 60.9 | 61.2
Vulkan Profile No Swap Interval | 184.3 | 153.1
DirectX Debug | 45.2 | 42.4
Vulkan Debug | 33.4 | 30
Vulkan Debug No Swap Interval | 33.4 | 30

Unfortunately, I cannot reproduce the dramatic drop in FPS locally and without being able to test DirectX wi

[2022-11-14 17:13] #12980 closed

[2022-11-14 17:26] #13114 closed

[2022-11-14 18:08] burelc-amzn opened #13174 "Editor's `-runpythontest` and `-pythontestcase` flags requires that files do not end in a newline"
The Editor runs python tests by using the flags `-runpythontest` and `-pythontestcase`. These flags are designed to refer to files on disk that instruct the running Editor instance which python tests to run. However, if these files end with a newline, the Editor application will exit with status 15 instead of running the test. This makes it difficult to debug failing tests, as it is difficult to m

[2022-11-14 18:33] burelc-amzn opened #13176 "ReparentPrefab_UnderPrefabAndEntityHierarchies test shows heap-use-after-free error"
The Prefab Undo system uses two separate objects to update state on undo/redo: `AzToolsFramework::Prefab::PrefabUndoUpdateLink` and `AzToolsFramework::Prefab::PrefabUndoInstanceLink`. `PrefabUndoUpdateLink` contains a `m_link` member, which is a `AZStd::optional<AZStd::reference_wrapper<Link>>`, that gets set to a valid value when the `PrefabUndoUpdateLink` object is first created, during prefab i

[2022-11-14 18:38] burelc-amzn commented on #13176
This is blocking #12797

[2022-11-14 19:24] tkothadev commented on #12300
This should be fixed by the PR for edit gem workflow:
https://github.com/o3de/o3de/pull/13136

Will close this issue once that PR is merged.

[2022-11-14 19:25] tkothadev commented on #12300
The issue was not the rendering logic. Actually what was happening was gem creation introduced erroneous text into the gem.json files, if the user left the field blank. I've since updated the CLI scripts in the aforementioned PR to prevent that behavior. From there it works correctly.

[2022-11-14 19:35] tkothadev commented on #3287
As of this PR this issue should be resolved by now: https://github.com/o3de/o3de/pull/13106

![](https://user-images.githubusercontent.com/112996779/201162530-ce9b059f-b486-4a6f-a478-efe4a2432406.gif)

Closing this issue

[2022-11-14 19:35] #3287 closed

[2022-11-14 19:38] tkothadev commented on #5516
As of PR  https://github.com/o3de/o3de/pull/13106, this should be resolved:

![](https://user-images.githubusercontent.com/112996779/201162530-ce9b059f-b486-4a6f-a478-efe4a2432406.gif)

[2022-11-14 19:38] #5516 closed

[2022-11-14 19:40] tkothadev commented on #11519
As of PR https://github.com/o3de/o3de/pull/13106, this should be fixed(this fix was implemented before the PR however):

![](https://user-images.githubusercontent.com/112996779/201162530-ce9b059f-b486-4a6f-a478-efe4a2432406.gif)

[2022-11-14 19:40] #11519 closed

[2022-11-14 19:43] tkothadev commented on #3526
Per PR https://github.com/o3de/o3de/pull/13106, we now show the platforms using text due to reviews with Legal and UX.

![](https://user-images.githubusercontent.com/112996779/201162530-ce9b059f-b486-4a6f-a478-efe4a2432406.gif)

If later on we get approval for platform icons and want to revise this design, we can re-open this issue. Until then, closing for now.

[2022-11-14 19:43] #3526 closed

[2022-11-14 19:46] tkothadev commented on #3525
We have the ability to filter gems in the gem catalog:

![](https://www.o3de.org/images/user-guide/project-config/add-remove-gems/configure-gems-screen.png)

If that is sufficient, we can close this issue.

[2022-11-14 19:52] lmbr-pip commented on #6731
Dropping to major as tests are sandboxed. Work will be to look at value of these tests and renable them if required.

[2022-11-14 22:33] #13150 closed

[2022-11-15 02:27] ParasiteSt opened #13185 "Bug Report: UI Canvas Elements do not scale properly on zoom/element scaling."
**Describe the bug**
When in the ui editor you can zoom the canvas with the middle mouse wheel, when zooming it scales the ui elements, which is when the elements are scaled wrong. If you have multiple elements that are the exact same for example an inventory layout, they should all scale the exact same, while they do not.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open ui editor

[2022-11-15 03:34] ParasiteSt commented on #13185
[TestCanvas.zip](https://github.com/o3de/o3de/files/10008895/TestCanvas.zip)

This zip has a sample canvas, with a close clone to the images I am showing. There may need to be a little setup, but the two images that I have put into the zip should match the names the images should be applied to on the canvas. I hope this can help with fixing the problem.

[2022-11-15 07:05] AMZN-daimini commented on #12541
PR above fixes the issue

[2022-11-15 07:05] #12541 closed

[2022-11-15 07:08] AMZN-daimini commented on #13080
The PR above will fix the issue by disabling the File menu options to change the level while a Component Mode is active with the new Action Manager.

If we want to fix the issue with the Python script, we may need to add a guard to changing levels while a component mode is enabled. If it seems worth fixing, I'd just move that to a separate Issue.

[2022-11-15 08:48] etherealchain opened #13188 "Asset dependency not working sometimes"
**Describe the bug**
Currently, an Fbx file will have the following dependency
[code]
So when updating a shader, the fbx file should be reprocessed by Asset Processor, but the behavior is a bit unstable now.

**Steps to reproduce**

1. Run Asset Processor.
2. Update StandardPBR.materialtype or StandardPBR_ForwardPass.azsl
3. Observe assets processed by Asset Processor.
4. Restart Asset Processor,

[2022-11-15 10:27] hultonha commented on #12756
Thank you very much for the investigation and update @jonawals. I'd be interested to see what @galibzon's thoughts are and if anyone else from @o3de/sig-graphics-audio has any ideas? Thanks for looking into this.

[2022-11-15 10:43] BytesOfPiDev commented on #12928
I remember seeing this error several times when I try to run the installer on linux. Running `sudo dpkg -i ./o3de_2210_0.deb` allows it to complete.

[2022-11-15 11:14] LB-ArturZieba commented on #13008
I've just checked it on the Development (ba92844) build (Windows Pre-built SDK configuration) and on both Vulkan and DirectX 12 RHIs I was unable to reproduce this issue.

[2022-11-15 11:24] LB-ArturZieba commented on #13064
Issue verified as fixed on the Development (ba92844) build.

[2022-11-15 12:03] hultonha commented on #13008
Oh interesting! Thanks for checking @LB-ArturZieba, in that case I'll close this issue for now. If you do run into it again feel free to reopen 👍

[2022-11-15 12:45] LB-ArturZieba opened #13191 "Deselecting an asset with dependencies during renaming without any changes made causes an "Asset renamed" window to pop up"
**Describe the bug**
If a file or a folder that contains files with dependencies is deselected during renaming, without making any changes, a window will pop up informing the user about the asset rename.

**Steps to reproduce**
1. In the Asset Browser select a file or a folder that contains files with a dependency (for example the project's folder).
2. Right-click the file/folder from step 1 and s

[2022-11-15 13:06] LB-ArturZieba opened #13192 "Unique assets in the Asset Browser can be duplicated only once"
**Describe the bug**
Assets in the asset browser can be duplicated only once, unless the *-copy#* file created via duplication is deleted. If multiple duplicates of a single asset are needed, the consecutive copies have to be individually duplicated.

**Steps to reproduce**
1. Right-click an asset (for example a custom .scriptcanvas asset) and select *Duplicate asset* from the dropdown menu.
2. Re

[2022-11-15 13:28] LB-KacperKapusta opened #13193 "Asset Browser: Moving an empty folder or moving the last item from a folder results in that folder being deleted"
**Describe the bug**
Moving an empty folder in the Asset Browser to a different location results in that folder being deleted. Folder also disappears when the last asset is moved out from that folder to a different location. Please note that the issue does not occur for folders with content inside.

For further information please refer to the attached video.

**Prerequisites**

- O3DE built in Pre

[2022-11-15 13:50] LB-ArturZieba opened #13194 "Asset Browser View can be only changed if there is text entered in the search bar"
**Describe the bug**
Asset Browser Views (List View or Tree View) can be only changed while there is any text in the Asset Browser's search bar, otherwise the dropdown button with their selection is grayed out.

**Steps to reproduce**
1. Make sure that there is no text entered in the Asset Browser's search bar.
2. Attempt to open the View selection dropdown (hamburger button in the top right corne

[2022-11-15 13:55] LB-KacperKapusta opened #13195 "Asset Browser: Using "Move to" option on multiple assets at once can lead to Editor freeze"
**Describe the bug**
Selecting multiple assets and moving them to another location can lead to the Editor freeze requiring its restart. Please note that the issue occurs with 2/3 repro rate. The assets are moved to the expected location.

Please refer to the attached video for more information.

**Steps to reproduce**
1. Open Asset Browser.
2. Select at least 2 assets (Ctrl + LMB).
3. Press RMB an

[2022-11-15 14:37] LB-ArturZieba opened #13196 "Opening .animgraph or .motionset assets via Asset Browser does not work"
**Describe the bug**
Attempting to open .animgraph or .motionset assets via Asset Browser's context menu does not work. Animation Editor does not open the assets and instead produces an error pop up.  Additionally an error is printed to the Console:
[code]

**Steps to reproduce**
1. Create and save an .animgraph and a .motionset asset (for example via Asset Browser context menu > Create).
2. Right

[2022-11-15 14:44] LB-ArturZieba opened #13197 "Opening Animation Editor causes a message to be printed to the Console"
**Describe the bug**
Opening Animation Editor in any way causes the following message to be printed to the Console:
[code]

**Steps to reproduce**
1. Go to Tools > Animation Editor.

**Expected behavior**
Animation Editor opens and no unexpected message is printed to the Console.

**Actual behavior**
Animation Editor opens and an unexpected message is printed to the Console.

**Video**

https://us

[2022-11-15 16:17] #12368 closed

[2022-11-15 16:17] mcphedar commented on #12368
Completed

[2022-11-15 16:19] mcphedar commented on #12384
Completed

[2022-11-15 16:19] #12384 closed

[2022-11-15 16:25] mcphedar opened #13198 "New Multiplayer Sample Game"

[2022-11-15 16:40] rgba16f commented on #12756
Next steps would be for someone that can repro to do some pix profile captures of the cpu & gpu timelines so we can determine what is causing the slowdown.

[2022-11-15 16:41] AMZN-stankowi commented on #13188
What commit hash are you on for Development?

[2022-11-15 16:42] rgba16f commented on #12756
@jonawals were you running the same hardware as @galibzon ? It's also possible this is a driver issue, Please check which driver version you are using.

[2022-11-15 17:35] moraaar commented on #12372
## o3de-extras Links
https://github.com/o3de/o3de-extras/pull/2
https://github.com/o3de/o3de-extras/pull/5
https://github.com/o3de/o3de-extras/pull/9
https://github.com/o3de/o3de-extras/pull/14
https://github.com/o3de/o3de-extras/pull/15
https://github.com/o3de/o3de-extras/pull/16
https://github.com/o3de/o3de-extras/pull/22
https://github.com/o3de/o3de-extras/pull/31
https://github.com/o3de/o3de-e

[2022-11-15 17:49] lawsonamzn commented on #12807
This is certainly not intended, and also, not entirely sure why it wouldn't just work.

[2022-11-15 18:25] lawsonamzn commented on #12807
Whats super weird is that its looking for the (real) qt widgets libraries but _ignoring the path_

[code]

Note that it gives up at this point, behaving as if the only 3 folders it even looks in is the python folder, the shiboken folder, and the windows system folder.

If you put the qt widgets in those folders it works.  But what's cuasing it to ignore PATH?  Both sys.path and PATH have no effect

[2022-11-15 18:42] lawsonamzn commented on #12807
huh.
[code]

[2022-11-15 18:45] lawsonamzn commented on #12807
So it works in editor.exe because editor.exe has Qt*.dll in its folder.
It does not work for python.exe becuase python.exe does not have Qt*.dll in its folder but it can be worked around by adding it by calling add_dll_directory

[2022-11-15 18:50] lmbr-pip opened #13204 "Scene Scripting: Default/Global Scene Builder Script"
**Work is important for content scaling needs of O3DE.**

The current scene pipeline allows each source scene to add a Python script to modify its processing logic, but the current scene pipeline requires each source scene to be updated in order to use a Python script. This pipeline does not scale since it requires a manual step for each unique source scene file to manage its Python script. This i

[2022-11-15 18:52] lmbr-pip commented on #13204
RFC for work: https://github.com/o3de/sig-content/blob/main/rfcs/rfc-14304-default-scene-script.md

[2022-11-15 18:53] lmbr-pip commented on #13204
Related PR: https://github.com/o3de/o3de/pull/12343

[2022-11-15 18:55] lmbr-pip opened #13205 "Networking: Deliver Client Server split to improve security and build sizes."
[Migrated from JIRA LYN-9448]
As a user I want control over what is included in my client and server targets.

As a user I want to make my servers as small as possible to reduce the time to deploy and to host to remote compute.

As a user I want to have hard compilation rules to prevent any server side logic being present in my client build to improve my security posture. This will also reduce cli

[2022-11-15 18:57] lmbr-pip commented on #13205
RFC: https://github.com/o3de/sig-network/blob/main/rfcs/rfc-net-20221020-1-clientserver.md

Related PRs: https://github.com/o3de/o3de/pull/12344

[2022-11-15 19:02] lmbr-pip opened #13206 "Network: Support for network versioning to prevent client and server mismatch"
[Migrated from JIRA LYN-15959]
As  user I want to know if my client or server have a different set of network properties (for example renamed RPC, or extra parameters: [https://github.com/o3de/o3de/issues/9669]

Without a heads up I will get unexpected behaviour as RPCs may be dropped or serialization of properties fail.

This work will deliver a mechanism to tell if the network version has change

[2022-11-15 19:03] lmbr-pip commented on #12371
Client server mis-match migrated to own initiative: https://github.com/o3de/o3de/issues/13206

Rest of work was delivered previously by team.

Resolving

[2022-11-15 19:03] #12371 closed

[2022-11-15 19:04] lmbr-pip commented on #13206
RFC: https://github.com/o3de/sig-network/blob/main/rfcs/rfc-net-20221020-2-netversion.md

PRs:  https://github.com/o3de/o3de/pull/12975 and https://github.com/o3de/o3de/pull/13103

[2022-11-15 19:10] tonybalandiuk opened #13208 "Create Stabilization Branch"
This task was not tracked for 22.10 - it should be for future releases.

1. Create the stabilization branch
2. Also work with SIG-Build to have them generate a nightly build against the stabilization branch.

[2022-11-15 19:10] #13208 closed

[2022-11-15 19:37] forhalle commented on #3834
We are currently holistically investigating O3DE performance, and have other GHIs to track performance-related work, so will close this specific ticket for now. Thanks so much for your feedback.

[2022-11-15 19:37] #3834 closed

[2022-11-15 19:53] forhalle commented on #5886
This was closed with the above commit.

[2022-11-15 19:53] #5886 closed

[2022-11-15 21:52] #12300 closed

[2022-11-16 00:47] etherealchain commented on #13188
this one
ba92844e10a7539015623f45fac5b5e84db5cb27

[2022-11-16 00:59] ParasiteSt opened #13217 "Bug Report: Script Canvas Unknown CRC value bug."
**Describe the bug**
If you use any node that has a Tag input, it takes a String value, and converts it into a CRC value behind the scenes. This is great, but the cached string value seems to get lost a lot, and it makes it quite difficult to read graphs once they have been lost.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a Script Canvas graph.
2. Create a Has Tag node.
3. Pu

[2022-11-16 04:47] FuzzyCarter opened #13220 "Collider Component Offsets can be set out of range using the azlmbr bus."
**Describe the bug**
When attempting to set the contact offset or rest offset for the PhysX Collider via the AzLmbr bus, the value can be set out of bounds [0, 50]

**Steps to reproduce**
Steps to reproduce the behavior using the AzLmbr bus
1. Create an entity
2. Add a PhysX Collider to the entity
3. Set the Contact Offset or Rest Offset out of bounds
4. Inspect the value that was set

**Expected

[2022-11-16 04:47] tkothadev opened #13221 "Ensure proper fallback for unkown platforms when determining platform string"
In a later PR we should make sure we have some fallback for unknown platforms and not use the default which could be any value.

_Originally posted by @AMZN-alexpete in https://github.com/o3de/o3de/pull/13136#discussion_r1022090161_

[2022-11-16 04:51] tkothadev opened #13222 "Remove Hardcoded platforms from `GemInfo::GetPlatformString`"
This shouldn't be hardcoded.

Instead the existing set of Platform "defines" defined in [PlatformDefaults.h](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/PlatformId/PlatformDefaults.h) should be used.

The [PlatformHelper::GetPlatformName](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/PlatformId/PlatformDefaults.h#L109-L110) function can b

[2022-11-16 04:58] FuzzyCarterAWS opened #13223 "Figure out how to validate a Quaternion property"

[2022-11-16 08:09] renmingbao commented on #11511
I can't last this file because the tif format is not supported, I compress it to a zip file and it shows a processing error.

[2022-11-16 09:22] LB-DmytroKruhlov opened #13224 "Unable to save changes in Anim Graph using the CTRL+S shortcut after modifying Transition propertiesBug Report"
**Describe the bug**
It is not possible to save changes in the values of the Transition fields in Anim Graph using the CTRL+S shortcut.

**Steps to reproduce**

1. Open Animation Editor and create a new Anim Graph.
2. Create two nodes on the graph and connect them.
3. Save the .animgraph in project folder.
4. Click on the Transition between the two nodes and change any values in the Transition win

[2022-11-16 10:10] LB-JakubSkorupka commented on #13111
Reopening the issue as this issue still occurs on build Development (5234076).
Please note that this issue also occurred on one machine with Pre-built SDK engine.

I also noticed that "Move To" option in context menu does not work. Renaming empty folder or using "Move To" option from context menu on empty folder, results in deleting that folder (this issue also occurs with Pre-built engine).

[2022-11-16 10:14] moraaar commented on #12372
##OpenXR documentation

https://github.com/o3de/o3de-extras/wiki/Build-and-Run-OpenXR-in-O3DE

##Profiling on Quest 2

https://github.com/o3de/o3de-extras/wiki/Profiling-tools-for-Meta-Quest-2
https://github.com/o3de/o3de-extras/wiki/Advanced-GPU-profiling-tools-for-Meta-Quest-2

[2022-11-16 11:11] LB-DmytroKruhlov opened #13225 "Feature Request: Add a button to the context menu of Anim Graph node that would allow the user to connect two nodes"
**Is your feature request related to a problem? Please describe.**
There is no way to create a connection between two Anim Graph nodes using the node context menu.

**Describe the solution you'd like**
A button in the context menu of a node that would allow the user to connect it to another node with one click, as it was implemented in Unity.

[2022-11-16 11:12] LB-DmytroKruhlov opened #13226 "Feature Request: Add buttons that allow the user to manipulate Pose Switch inputs"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to remove/add PoseSwitch node inputs in Anim Graph.

**Describe the solution you'd like**
A button in the context menu of a PoseSwitch node that would allow the user to delete unnecessary inputs and a button that would allow the user to add new PoseSwitch inputs.

[2022-11-16 11:14] LB-DmytroKruhlov opened #13227 "Feature Request: Change shortcuts for sorting nodes in AnimGraph"
**Is your feature request related to a problem? Please describe.**
Currently the shortcut for sorting nodes in Anim Graph is different from the shortcut used in Script Canvas.

**Describe the solution you'd like**
Shortcuts in Anim Graph that are similar to the shortcuts from Script Canvas.

**Describe alternatives you've considered**
Using similar shortcuts for all tools of the engine.

[2022-11-16 11:15] LB-DmytroKruhlov opened #13228 "Feature Request: Add a button to the context menu of Anim Graph node, which would allow the user to create node groups"
**Is your feature request related to a problem? Please describe.**
Currently the user cannot create node groups in Anim Graph via the context menu, as it was implemented in Script Canvas.

**Describe the solution you'd like**
A button in the context menu when selecting multiple nodes, which would allow the user to create a new group of nodes, as it was implemented in Script Canvas.

[2022-11-16 11:58] LB-ArturZieba opened #13229 "Wwise SDK setup blocks Pre-built SDK O3DE build"
**Describe the bug**
If a Wwise SDK is present on the machine and engine configuration picks it up, the Pre-built SDK build will fail. It should be noted that on the Source configuration the build goes through with the same Wwise SDK present.

Part of the Command Line log of building with failures (for full log please refer to the **Command Line log** section):
[code]

**Prerequisites**
* Wwise SD

[2022-11-16 13:26] LB-JaroslawGaweda commented on #13109
Issue verified as fixed on build Development (https://github.com/o3de/o3de/commit/52340768e418e4e19255e7e1a0b84214516c0262).

[2022-11-16 14:03] LB-TadeuszLeski opened #13230 "Feature Request: Anim Graph Motion nodes need clear markings"
Problem:
Connecting motion nodes is highly unintuitive due to them being solid color blocks with no markings or areas despite having invisible 'hitboxes' for specific actions.

Solution:
Color coded input/output edges on both sides clearly marking the drag&drop areas for transitions would make it substantially more accessible to newer users.

Alternative solution:
Dots on each side of the motion n

[2022-11-16 14:15] LB-TadeuszLeski opened #13231 "Feature Request: Anim graph nodes' checkboxes should have tooltips explaining their function"
Issue:
When using anim graph, some nodes contain a chekbox in the upper right corner, said checkbox's function is unclear as it doesn't have any tooltip or explanation.

Solution:
A mouse-over tooltip explaining what will actually happen if the box is checked or unchecked.

Alternative Solution:
N/A

Additional context
Please find embedded a screenshot of the current look of the node.
![NodeCurren

[2022-11-16 15:08] LB-ArturZieba commented on #13193
On the Development (5234076) build I have also found out that renaming an empty folder deletes it. Renaming a folder with any contents does not cause it to be removed. Should this be reported as a separate issue, or the root cause can be considered as the same as this one?

[2022-11-16 15:52] MiKom opened #13232 "Anim graph node group can be re-used in different graph levels. Crashes when moved"
## Steps to reproduce

1. Open some anim graph (e.g. AutomatedTesting\Animations\AnimationEditorFiles\sample0.animgraph)
2. Add a node group in the root graph by selecting both nodes and choosing "Create Node Group"
3. Double click on a RinAnims node to enter sub-graph
4. Select some nodes, right click and choose "Assign To Node Group → NodeGroup0
5. Try moving the node group

## Expected result
*

[2022-11-16 15:54] MiKom opened #13233 "Anim graph node group window can be opened"
## Steps to reproduce
1. Open Animation Editor
2. Click View → Node groups

## Expected result
It's not possible to open the node groups menu. It should be gone

## Actual result
The menu is still there, and shows nothing.

![image](https://user-images.githubusercontent.com/82228511/203589950-4bf5c969-dfec-4d2a-9ecf-1d36717bc7e6.png)

[2022-11-16 15:59] MiKom opened #13234 "Incorrect layout in anim graph parameter edit window when putting text"
## Steps to reproduce
1. Open Animation Editor
2. Open some animation asset (e.g. AutomatedTesting\Animations\AnimationEditorFiles\sample0.animgraph
3. In Parameters window choose the "movement speed" parameter
4. In the edit window in the inspector, start editing the name field

## Expected result
Layout of the edit window doesn't change when editing the name field

## Actual result
Layout change

[2022-11-16 16:03] MiKom opened #13235 "Incorrect rendering of search highlight in anim graph node palette window"
## Steps to reproduce
1. Open animation editor
2. Open some anim graph asset (e.g. AutomatedTesting\Animations\AnimationEditorFiles\sample0.animgraph)
3. Open the node palette window (View → Palette window)
4. Enter some search term (e.g. `ect`)

## Expected result
Highlights of the text match in the tree are semi-transparent

## Actual result
Highlights of the text matches are opaque:

![Image](h

[2022-11-16 16:15] MiKom commented on #12872
Since in this task we will be changing the detail panel to look differently, I suggest renaming this issue to e.g. "Asset details panel redesign". Otherwise it's a bit confusing with #12856

[2022-11-16 16:21] MiKom commented on #12860
The toggle for the 1-column view (what we call the "tree view") is already there. What's missing is the change of the behavior of the leftmost tree view. In a single-column view it should show both directories and files and in two-column view it should show only directories because in this case it becomes a mere directory browser.

I thus suggest to rename this task to: "Implement directory-only s

[2022-11-16 16:24] #12015 closed

[2022-11-16 17:08] MiKom opened #13236 "Add breadcrumbs to the Asset Browser that indicate the currently selected directory"
User wants to know at a glance what folder is currently selected so they are better informed.

In a large project that may not be easily visible in the tree view in the asset browser. For that, let's add a breadcrumbs that show the currently selected folder:

![Image](https://user-images.githubusercontent.com/104767/202246239-7d0e3d10-2fbe-4a32-9b5e-add2772cb213.png)
(small discrepancy here: "Game

[2022-11-16 17:10] lumberyard-employee-dm commented on #12973
This behavior is expected as the AutoGen system globs the list of files using a wildcard.
So when the an AutoComponent.xml file is removed, it doesn't know that it needs to CMake reconfigure.

The list of `DEPENDS` in the custom command in [LyAutoGen.cmake](https://github.com/o3de/o3de/blob/development/cmake/LyAutoGen.cmake#L44) would need to have the specific file on the list

[2022-11-16 17:29] forkercat commented on #13155
This PR resolves the issue for delete-workflow https://github.com/o3de/o3de/pull/13171

[2022-11-16 18:11] rainbj commented on #12874
@lmbr-pip, @AMZN-stankowi. We just started on this task of putting a toggle in for hiding engine related assets. Any specific file extensions or types you can call out to help us hide behind this flag would be very helpful. Please note this is a toggle meaning the user can turn this back on at any point.

The user statement we want to use here is. "As a user, I don't want to see any assets in my a

[2022-11-16 18:23] AMZN-daimini commented on #13080
PR was merged, so this should have been fixed to the extent discussed (changing levels from the file menu)

[2022-11-16 18:23] #13080 closed

[2022-11-16 18:30] amzn-phist commented on #13229
This is due to a recent large change to allocators that was merged yesterday.  I'll take a look.

[2022-11-16 18:55] #12631 closed

[2022-11-16 19:21] lmbr-pip commented on #13221
@tkothadev Can you add a few more details to this issue please? Unsure if this is bug/feature request and what the expectation should be

[2022-11-16 19:22] lmbr-pip commented on #3694
Noticed that this issue was left without a SIG. Assuming owning SIG is SIG/content

[2022-11-16 19:40] HogJonny-AMZN opened #13238 "Make Image Gradient display complete asset path, like Gradient Baker"
**Is your feature request related to a problem? Please describe.**
The Gradient Baker will display a more complete asset path then the Image Gradient component does.

**Describe the solution you'd like**
I would like the Image Gradient asset path to display as much information as the Gradient Baker does.

**Additional context**
In this example, I am baking a gradient into folder nested under the c

[2022-11-16 19:47] tkothadev commented on #13221
I will edit the original post to provide more info.

[2022-11-16 19:48] srikappa-amzn commented on #13130
Note: When this happens, if we click the 'close' icon , it seems to expand the hierarchy of the prefab.
Seems related to outliner view logic. Assigning it to the editor team to take a look. If it is related to the prefab code, feel free to reassign.