[2022-07-20 21:06] FuzzyCarterAWS opened #10776 "Feature Request: Add support for copying and pasting the non-uniform scale component between entities"
**Is your feature request related to a problem? Please describe.**
If a user wants to copy/paste the non-uniform scale set on an entity to another entity, they are currently unable to do so. This forces users that want to do some scaling to X-Number of entities to manually do the following workflow for each entity they want to modify:

- Select the desired entity to modify
- Select the Entity Insp

[2022-07-20 22:27] AMZN-Gene opened #10779 "Project Manager: Open Game and Server Launcher"
**Is your feature request related to a problem? Please describe.**
In order to run my game and server launcher I have to find the file buried inside my build folder.

**Describe the solution you'd like**
I'd like a way to run the game launcher and server launcher from project manager

**Describe alternatives you've considered**
Launch the game/server from the editor would be nice as well, although

[2022-07-21 10:26] hultonha commented on #10683
This would be a great first issue for someone to take a look at and it should be as easy as adding these settings to the Settings Registry. If you take a look in EditorViewportSettings.h/cpp it's possible to see some examples of how we do this (there's also ViewportSettings.h/cpp that might be a better place for these values to live). By moving the settings here we can ensure they persist correctl

[2022-07-21 11:08] LB-ArturZieba opened #10789 "Saving a second .scriptcanvas asset that contains the same graph and has the same name causes it to overwrite the original without prompt"
**Describe the bug**
If a Script Canvas graph is created, that has the same nodes/connections, and name as another one that is already saved, then saving it will overwrite the original one without prompting the user about it.

It should be noted that this issue was reproduced on 3 out of 4 tested machines.

It should also be noted that in the attached video the remaining scripts name remains as "U

[2022-07-21 11:57] #10749 closed

[2022-07-21 12:34] Asandax6 opened #10790 "Error Building Editor"
**Describe the bug**
Error building Editor

**Failed Jenkins Job Information:**
[code]

**Additional context**
In the file above bool addedEntries isn't used instead true is returned. I don't know how to fix it in the source but returning addedEntries instead of true fixes the error

[2022-07-21 12:35] LB-ArturZieba opened #10791 "PhysX Heightfield Collider component "Add Required Component" is blank on the Default Template project"
**Describe the bug**
PhysX Heightfield Collider component does not have access to the required Terrain Physics Heightfield Collider on the Default Template project, and there is no prompt/error message informing the user of the missing required Gem.

**Steps to reproduce**
1. Create, and build a Default Template project.
2. Launch the Editor.
3. Create a new level.
4. Create an entity, and add a P

[2022-07-21 12:41] LB-KacperSzczepanski opened #10792 "Enabling the Use Baked Heightfield slider without having Heightfield baked crashes the Editor"
**Describe the bug**
The Use Baked Heightfield option in the PhysX Heightfield Collider can be enabled without having the Heightfield baked. Enabling it in such state crashes the Editor.
Please refer to the attached video and log files for more details.

**Steps to reproduce**
1.  Steps to reproduce the behavior:
2. Create an entity with PhysX Heightfield Collider component.
3. Add required compon

[2022-07-21 13:14] LB-BartoszCwiek opened #10794 "Linux: Entity Inspector window hides behind Entity Outliner window"
**Describe the bug**
When the Entity Inspector is opened, it hides behind the Entity Outliner window. This is inconsistent with the Windows version.

**Steps to reproduce**
1. Undock the Entity Outliner and maximize it.
2. Create an entity.
3. RMB on the created entity and click Open pinned Inspector.

**Expected behavior**
The Entity Inspector window appears in front of the Entity Outliner window

[2022-07-21 13:30] AMZN-stankowi commented on #10692
This happened on development branch build: https://jenkins.build.o3de.org/job/O3DE/job/development/2769/

[2022-07-21 13:59] Hsuehnj opened #10795 "Script Canvas debugging function becomes unavailable in new version"
**Describe the bug**
The debugging function of script canvas is available in 2111 version, while it becomes unavailable in new version.

**Assets required**
any scriptcanvas asset

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create entity2
2. Open Script Canvas Editor, create test.scriptcanvas
3. Add Script Canvas Component of entiy1, and bind test.scriptcanvas
4. Click Tools-Debugg

[2022-07-21 14:23] galibzon commented on #10699
Added @monroegm to follow up with his team.

[2022-07-21 14:58] lawsonamzn commented on #9885
Hmm, just found out that QT actually adds 2 of the same element to the mimedata during drag.  This might be because the asset browser has 2 "columns" in its view, and the qt element puts both columns in the drag operation

[2022-07-21 15:03] jckand-amzn opened #10796 "Editor Tests: test_Menus_FileMenuOptions_Work intermittently fails with a timeout"
**Describe the bug**
test_Menus_FileMenuOptions_Work intermittently fails with a timeout.

[code]

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/job/O3DE/job/development/2765

[2022-07-21 15:04] jckand-amzn commented on #10796
Ran test locally 100 times with 0 failures. This appears to be either some kind of Editor deadlock on triggering File > Exit, or a failure in autotest_mode to dismiss the dialog that will throw when exiting the Editor with a level that has unsaved changes.

[2022-07-21 15:05] lawsonamzn opened #10797 "Bug Report"
**Describe the bug**
Dragging a Lua script from the asset browser into the viewport when there is already another entity in the scene with that script loaded causes a crash.

**Assets required**
AutomatedTesting project already has the necessary assets.  Set your project to automated testing.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Start the AutomatedTesting editor and open any

[2022-07-21 15:30] galibzon opened #10798 "Editor: Performance Issues With 9000 Entities"
**Describe the bug**
1. When the level is almost empty it takes only 0.02 seconds to add an entity and its components.
By the time there are 9000 entities it takes around 15 seconds to add an entity and its components.
As each entity is added by the attached python script "populate_static_objects.py" the memory
consumption increases and after a thousand entities have been added, VS2019 reports 20G

[2022-07-21 15:45] galibzon commented on #10798
Assigned it to @lsemp3d & @monroegm for further re-assignment.

[2022-07-21 16:04] lgleim commented on #10776
Hi @greerdv, could you have a look at this?

[2022-07-21 16:06] lgleim commented on #10792
@SergeyAMZN Could you have a look at this?

[2022-07-21 16:08] lmbr-pip commented on #10721
Routing to SIG-content for comments due to close proximity to prefabs.

[2022-07-21 16:08] lgleim commented on #10690
@AMZN-Olex Could you have a look at this?

[2022-07-21 16:13] lawsonamzn commented on #10627
I also just discovered that Qt item views (which have rows _and columns_) will return each selected item (column, row) as its own selection, even if operating in "select whole row" mode.  So for example the Asset Browser has 2 columns, but has whole-row selection, so any time you select anything, both columns of that item are selected.

This means that when you start dragging and call "Get selecti

[2022-07-21 16:22] #10647 closed

[2022-07-21 17:26] jckand-amzn opened #10799 "Atom: Editor can crash when running Python automated tests using the null renderer"
**Describe the bug**
Editor can crash when running Python automated tests using the null renderer. The repro rate of this is very low, but can seemingly occur in any test that uses the null renderer, of which the majority do in AutomatedTesting. This may only be reproducible in tests which don't run in -BatchMode but use the null renderer, though this is difficult to reproduce, so hasn't been prov

[2022-07-21 17:35] lmbr-pip commented on #10453
This is a need for general performance measurement, need to find sponsor to make RFC.

[2022-07-21 17:38] lmbr-pip commented on #10752
Believe serializing level data maybe blocking main thread. Drops Editor FPS, so maybe need a time slicing work. As content increases this maybe more impactful.

Need to clarify if theres cross SIG requirements (ie SIG Core)

Needs timing metrics/performance.

[2022-07-21 17:39] lmbr-pip commented on #10752
@AMZN-Gene has added cap to connect attempts, connect should be very quick and async. Requires further investigation.

[2022-07-21 17:41] invertednormal opened #10800 "[Terrain] How to deal with interdependent component properties"
There are several situations that have come up in terrain where changing one component property can cause a separate property (sometimes on a different component) to no longer be in a reasonable range. In the best case this will just lead to visual artifacts, but sometimes this can also lead to a crash.

To start with, a quick overview of the main components in question.
### Terrain World
![image]

[2022-07-21 17:42] lmbr-pip commented on #10774
Will break into three separate issues as described by Olex.

1. This issue, fixed by Gene
2. General request to improve logging controls for users / reduce log spam. Is an initiative in UX to reduce log spam.

[2022-07-21 17:43] lmbr-pip commented on #10774
@lmbr-pip Please link to other logging stories and/or make new UX and core stories around the sheer mass of logs and lack of clear UX to reduce log spew in Editor.

[2022-07-21 17:49] AMZN-Gene commented on #10625
https://github.com/o3de/o3de/issues/9668

[2022-07-21 18:01] lmbr-pip commented on #8916
We should also cover the clearing of history, as that continues to trip folks up. See https://github.com/o3de/o3de/issues/9309 and https://github.com/o3de/o3de/issues/9191

[2022-07-21 18:24] lmbr-pip commented on #10578
Are we covering Server launcher packaging and release in this effort?

[2022-07-21 18:39] srikappa-amzn commented on #10760
@o3de/sig-ui-ux , looking for guidance on recommended behavior here? Maybe show a default thumbnail when the gem is not downloaded?

[2022-07-21 18:44] amzn-leenguy commented on #10760
Hi @srikappa-amzn , as one of the UX designers in the sig-ui-ux, I agree with you. showing the default thumbnail image is expected. I've attached an image of what the default icon should look like:
![image](https://user-images.githubusercontent.com/82846749/180290153-9424390b-ad82-4b59-80b5-742476271401.png)

[2022-07-21 18:45] srikappa-amzn commented on #10763
@lawsonamzn , is this something that can be also grouped with proc prefab generation to get better alignment of axis?

@RoaldFre , how are you importing the fbx into o3de?

[2022-07-21 18:52] srikappa-amzn commented on #10644
@mbalfour-amzn , accepting it during the sig-content triage meeting. Leaving the decision to terrain team to take a call on whether this should be supported or not.

[2022-07-21 18:53] srikappa-amzn commented on #10645
@mbalfour-amzn , accepting it during the sig-content triage meeting. Leaving the decision to terrain team to take a call on whether this should be supported or not.

[2022-07-21 18:56] srikappa-amzn commented on #10646
sig-content triage: Need to check whether this is an issue across other tools as well like asset browser, viewport and other tools.

[2022-07-21 19:00] lmbr-pip commented on #10672
Atom gems have a [Gems/AtomLyIntegration/AtomBridge/Code/Source/FlyCameraInputComponent.h](https://github.com/o3de/o3de/blob/38261d08007a1ad14135cf790cb855ccca4d8595/Gems/AtomLyIntegration/AtomBridge/Code/Source/FlyCameraInputComponent.h) - not sure if this is a general fly camera, and more work is required to set up this as a default in the scene.

[2022-07-21 19:44] rainbj commented on #10800
Adding design document link to work through details - https://www.figma.com/file/RtuizO1WSkfOJJh24vAgb9/Large-worlds?node-id=0%3A1

[2022-07-21 20:01] michleza commented on #10795
related to [2583](https://github.com/o3de/o3de/issues/2583)?

[2022-07-21 21:25] lsemp3d commented on #10798
@galibzon thanks for the research! I think we should break this up into one GHI per issue listed above, it will make it easier to divide the work between prefabs, editor and possibly viewport (depends what is causing the camera issue).

[2022-07-21 22:42] c5h11oh opened #10808 "Asset Processor: "Reprocess Folder" does not work on some source asset folders"
**Describe the bug**
In Asset processor, "Source Assets" tab, when clicking on some (higher level) folders and click "Reprocess Folder", nothing happened.

**Assets required**
Assets in [AutomatedTesting](https://github.com/o3de/o3de/tree/development/AutomatedTesting)

**Steps to reproduce**
1. Open Asset Processor with AutomatedTesting as the project path
2. Click on "Assets" tab
3. Click on "Sou

[2022-07-21 23:17] amzn-rhhong opened #10811 "It is impossible to add remote gem using the project launcher (o3de.exe)"
**Describe the bug**
https://github.com/o3de/o3de-multiplayersample-assets I tried to follow the steps in here but using the project launcher, but it is not possible to register the gem in this GUI tool.

**Assets required**
![image](https://user-images.githubusercontent.com/69218254/180329635-d269b178-d539-45b7-955d-820bb9ca4083.png)
![image](https://user-images.githubusercontent.com/69218254/180

[2022-07-21 23:43] rainbj opened #10813 "Bug Report -Asset Browser Filter menu shows Slices instead of Prefabs"
**Describe the bug**
When using the Asset Browser dropdown menu, you see a filter option for slices. Because we no longer officially support slices, I recommend removing this option from the dropdown menu.

![ResourceIMG-7-21-2022-04-32-32-PM](https://user-images.githubusercontent.com/82551958/180331966-a0805ed8-4584-448f-a770-c89744721825.png)

**Steps to reproduce**
Steps to reproduce the behavi

[2022-07-22 08:39] NigelGSharpUK commented on #10760
Hi,
I reported this bug.
My expectation was that a preview.png placed alongside the gem.json online
would appear here.
That is, the user has to take the gem.json out of the zip and place a copy
elsewhere online... Could he not do the same for the icon?

Nigel

On Thu, 21 Jul 2022, 19:44 Lee Hung Nguyen, ***@***.***>
wrote:

[2022-07-22 09:42] LB-BartoszCwiek opened #10815 "Script Canvas: After opening the context menu on the script's tab and unclicking it the highlight remains"
**Describe the bug**
When opening the context menu on the script's tab and unclicking it, the grey highlight appears and remains, until the User hovers over this tab again.

**Steps to reproduce**
1. Go to Script Canvas.
2. In the Script Canvas go to File > New Script.
3. RMB on the tab of the created script.
4. Unclick the context menu.

**Expected behavior**
Highlight on the script's tab disappe

[2022-07-22 10:00] LB-BartoszCwiek commented on #10815
Please note, that this also occurs in Landscape Canvas and UI Editor.

[2022-07-22 10:08] LB-JaroslawGaweda opened #10816 "Track View: Green markers display inconsistent values on multiple Nodes"
**Describe the bug**
The green markers in Track View display different values in the Key tab and on the Tracks. It should be noted that after adding a green marker to the track, setting its value and then adding another one, the value of the first one will carry over to any selected green marker.
This can be fixed by moving the marker on the track. This issue occurs on any node that has Value in t

[2022-07-22 10:23] LB-JaroslawGaweda opened #10817 "[Linux] Track View: Close Key and Undock Key are cut off in the Key drop down menu"
**Describe the bug**
Drop down menu of the Key tab has two positions with cut off text. It should be noted that this occurs on Linux, on Windows the text is displayed correctly.

**Steps to reproduce**
1. Tools > Track view.
2. Press RMB on the Key Tab on the right.

**Expected behavior**
The text in the drop down menu displays correctly.

**Actual behavior**
Two positions have their text cut off.

[2022-07-22 10:51] LB-BartoszCwiek opened #10818 "Linux: Path to file is inconsistently displayed when overwriting a script with New and Save As option"
**Describe the bug**
When overwriting a script with the New option it displays `{}` with no path inside, whereas Save As includes full path inside `{}`.

**Steps to reproduce**
1. Go to Tools > Lua Editor.
2. In the Lua Editor go to File > New.
3. Save the script.
4. Once again File > New and overwrite previously created script.
5. Observe that no path is displayed in `{}`.
6. Go to File > Save As

[2022-07-22 11:08] LB-ArturZieba opened #10819 "Material Editor taskbar icon uses the old coloring"
**Describe the bug**
Material Editor is still using the original O3DE icon (white-on-blue coloring).

**Steps to reproduce**
1. Launch the Material Editor.

**Expected behavior**
Material Editor icon on the taskbar is similar to other Editor icons (blue-on-white coloring).

**Actual behavior**
Material Editor icon on the taskbar uses older coloring (white-on-blue).

**Screenshot**
![MaterialEditor

[2022-07-22 11:10] LB-JakubSkoczylas opened #10820 "UI Editor: Most components are missing link to documentation"
**Describe the bug**
All components except three: Tag, Script Canvas and Lua Script are missing a link to the proper documentation page.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to UI Editor.
2. Create a new Element.
3. Add any component except Tag, Script Canvas or Lua Script.

**Expected behavior**
All components have a link to the correct documentation help page next to th

[2022-07-22 12:19] moraaar commented on #7877
This issue is still present in development d0dff2d7

[2022-07-22 12:42] RoaldFre commented on #10763
The .fbx was simply placed in the project's Assets folder (as-is, without any custom .assetinfo file or something like that), picked and processed up by Asset Processor and then assigned as the asset of a Mesh component of a newly-created Entity.

[2022-07-22 13:56] LB-JakubSkorupka opened #10821 "Editor crashes after saving prefab with name of prefab removed from the disk through "Save as..." window"
**Describe the bug**
Saving a prefab and using the name of another .prefab file that has been removed from the disk in displayed "Save as..." window will result in Editor crashing.

Please refer to the attached logs and error.dmp files.

**Steps to reproduce**
1. Create an entity and create a prefab out of it "Prefab1.prefab".
2. Create another entity.
3. RMB on entity created in second step -> Cr

[2022-07-22 14:14] maddin200 opened #10822 "identical condition"
o3de-development/Gems/EMotionFX/Code/EMotionFX/Tools/EMotionStudio/Plugins/StandardPlugins/Source/AnimGraph/NodeGraph.cpp line 506

Code:

  void NodeGraph::DrawSmoothedLineFast(QPainter& painter, int32 x1, int32 y1, int32 x2, int32 y2, int32 stepSize)
    {
        if (x2 >= x1)
        {
            // find the min and max points
            int32 minX, maxX, startY, endY;
            if (x1 <=

[2022-07-22 14:46] moraaar commented on #9927
@LB-MateuszSzweda sorry for the delay. I followed your detailed steps using development 7c01c4035f today on my Linux laptop (Ubuntu 20.04.4 LTS) with a clean build, syncing git from scratch and deleting my user/.o3de, and still can't reproduce the issue. When I open the physics materials with the Asset Editor they have the correct values.

Opening the editor in step 8 did crash a couple of times,

[2022-07-22 14:55] Asandax6 commented on #10790
This has been fixed

[2022-07-22 14:55] #10790 closed

[2022-07-22 15:57] amzn-leenguy commented on #10760
Hi @NigelGSharpUK , I'm unclear on what you saying. (I am not a developer). Could you clarify for me?

Thank you

[2022-07-22 16:07] lumberyard-employee-dm commented on #10747
It looks like CMake 3.24 just added an option to [COMPILE_WARNINGS_AS_ERRORS](https://cmake.org/cmake/help/latest/release/3.24.html#command-line)

[2022-07-22 16:30] AMZN-Olex opened #10824 "[Network] Hosting in a Game Launcher is broken"
**Describe the bug**
Game Launcher is not able to act as a network host when using `host` command.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a multiplayer project or use o3de-multiplayersample
2. Launch AP
3. Launch game launcher
4. In a game launcher, bring up imgui console and enter `host` command
5. Then load a level, for example `loadlevel samplebase` if you using o3de

[2022-07-22 17:06] lumberyard-employee-dm opened #10825 "Physics::MaterialAsset being registered with the AssetCatalog multiple times in the AssetBuilder"
**Describe the bug**
The Physics::MaterialAsset is being registered with the AssetCatalog multiple times leading to an error message being output in the Asset builder

[code]

Each time the MaterialSystemComponent activates it registers the PhysicsMaterial with the AssetCatalog through the GenericAssetHandler::Register function, but during deactivation it does NOT invoke the Unregister function.
T

[2022-07-22 18:17] jckand-amzn opened #10827 "Terrain: Surface Material rendering in overlapping terrain areas is not controlled by spawner priority"
**Describe the bug**
Surface Material rendering in overlapping terrain areas is not controlled by spawner priority. It appears from local repro that it may be possible to get intended results by burying a lower priority spawner in a nested hierarchy, but this seems like a game of chance rather than having control over results.

**Assets required**
[TerrainMaterialPriority.zip](https://github.com/o

[2022-07-22 18:20] jckand-amzn commented on #10827
The same issue applies for Macro Materials on overlapping terrain areas:

![image](https://user-images.githubusercontent.com/82226555/180500318-624b06ca-b2f7-4c02-9429-7ed1c6c5a99a.png)

[2022-07-22 19:10] gadams3 opened #10828 "Feature Request JSON serializer support for AZStd::any (and AZStd::variant)"
There are multiple, established, widely used systems like script canvas, graph canvas, graph model, material component, material editor, and previously the material system, that utilize AZStd::any to store values with multiple, dynamic data types that cannot always be predetermined or governed by the system. Many of these systems were developed before the JSON serializer was introduced and functio

[2022-07-22 20:06] MarkMcCarrack commented on #9668
~ is the console key. not sure how I feel about that getting double meaning. Having the console always open on a portrait of screen I feel that a bunch of possible solutions might brake functionality for me. not knowing about ImGui before it hijacked my home key myself, the idea of a dedicated button as described by @Yuyi on discord sounds pretty good. downside would be you can't click it if you w

[2022-07-22 20:07] lumberyard-employee-dm commented on #10828
I am good with going forward with adding AZStd::any serialization support to the JSON Serialization system, based on the needs and requirements of ScriptCanvas and MaterialCanvas to be able to serialize arbitrary types

[2022-07-22 20:12] rainbj commented on #9885
Hi Nicholas, I just wanted to let you know @yuyihsu and I are setting up a meeting on Monday with you to talk through this issue. We had a high level conversation with @lmbr-pip and @AMZN-stankowi today, and UX has some concerns about the use of procprefab in all workflows for FBX drag and drop. Mostly around instantiating a procprefab on the most basic FBX when the user intentions are to add comp

[2022-07-22 20:30] MarkMcCarrack commented on #9668
From Discord discussion:

Danilo: The problem with that is that whenever the imgui menu is displayed, it steals mouse input

Me: I don't feel comfortable choosing a key. Depending on different games the standard keys might be used up. Depending on user keys might be limited tbw (laptops of non full keyboards like 60% or TKL).

ImGui is primary for a subset of devs if I gather correctly. Exposing i

[2022-07-22 20:49] yuyihsu commented on #9626
Prefabs is proposing a file saving toast message to give users a better visual feedback. We can leverage this framework for this issue.
+ @monroegm for visibility.

[2022-07-22 21:22] amzn-tmryan opened #10830 "Changing files in the file system will cause a period of unresponsiveness in both the AP and Editor"
**Description**
If you rename, copy, move, or delete a file that is tracked by the AP then there will be a noticeable slowdown/unresponsiveness in the AP. You can see the same unresponsiveness in the editor as well after a file change.

![ap_fileChange_view_hang](https://user-images.githubusercontent.com/104796591/180570357-f859ed0c-e269-4e37-9792-46ed6dac7968.gif)

**Steps**
1. Launch the editor.

[2022-07-22 22:59] amzn-leenguy opened #10832 "Bug Report: Viewport Controls UI Clusters are missing when in Component Editing Mode"
**Describe the bug**

When a user enters Component Editing Mode, the Viewport UI Clusters (Transform, Rotate and Scale) should still be visible to the user.

For some reason it is missing all the Viewport UI Clusters for all the component modes. Although when I enter White Box Component Editing Mode, I can still see some viewport UI clusters there.

The Transform, Rotate and Scale Viewport UI Clus

[2022-07-22 23:01] ParasiteSt opened #10833 "Feature Request: Look At component "deadzone radius""
**Is your feature request related to a problem? Please describe.**
When using the Look At Component it works very well for a lot, but one of the biggest issues, is if you get too close the the component it starts to make your entity spin and glitch around. This makes sense, because small movement at very large when trying to look at an entity that is moving basically inside of it.

**Describe the

[2022-07-22 23:06] amzn-leenguy opened #10835 "Bug Report: the FBX Settings Dialog covers the loading error log dialog"
**Describe the bug**
When a user double clicks an asset in the asset browser for an FBX, the FBX Settings window overlays and seems "Frozen", but really the error log is hidden behind it. This can be confusing and frustrating to the user, since the FBX setting appears as disabled, but if you dont see the dialog with the error log in it, you can be confused.

**Assets required**
I was loading this

[2022-07-22 23:08] yuyihsu opened #10836 "Feature Request- [Prism] Working PythonTool Gem sample, in a Remote Gem Repo"
Description:  We need a working repot gem repo, which has various types of working examples of Gems; one of these should be a python tool gem.

This docs link, refers to a sample-code-gems github repo: https://www.o3de.org/docs/learning-guide/tutorials/extend-the-editor/shape-example-py/

The repo is: https://github.com/o3de/sample-code-gems/tree/main/py_gems/PyShapeExample

During an RTE session,

[2022-07-22 23:09] yuyihsu commented on #10836
related to LYN-13701.

[2022-07-22 23:11] amzn-leenguy opened #10837 "Feature Request: Consider updating the shortcuts 1, 2 and 3 for the Viewport UI Clusters to WER"
**Is your feature request related to a problem? Please describe.**
O3DE should consider updating the shortcuts for Transform, Rotate and Scale in the Viewport UI Clusters from 1, 2 and 3 to W, E and R.

1 = Transform > W
2 = Rotate > E
3 = Scale > R

This is apparently how popular DCC tools do it like Maya.

**Describe the solution you'd like**
Transform = W
Rotate = E
Scale = R

**Describe altern

[2022-07-22 23:50] amzn-leenguy opened #10838 "Bug Report: Update dropdown option for PhysX Asset to correct terminology"
**Describe the bug**
The drop down option for a PhysX Asset is titled "PhysicsAsset", when it should be PhysX Asset

**Assets required**
NA

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to an entity
2. Add PhysX Collider
3. Goto the Shape option. It has a dropdown.
4. Notice the dropdown option called PhysicsAsset
5. See typo

**Expected behavior**
That the dropdown asset is calle

[2022-07-23 04:09] AMZN-Gene opened #10839 "ServerLauncher Debug Text"
**Is your feature request related to a problem? Please describe.**
Even when running a server with graphics enabled, the debug text doesn't render.
I'd like to see my normal debug stats (like fps, etc).
This would also open the oppurtunity to display Multiplayer information. For example: My agent type (dedicated-server or client-server) or the number of clients connected.

**Describe the solution

[2022-07-23 04:12] NigelGSharpUK commented on #10760
Hi Lee,

The bug reported relates to times when a developer puts a gem online (for
example, on their own web server).
They put a zip file online containing, amongst other things, the Gem source
code, a gem.json file, and the icon preview.png.
They might put this at a location like
http://www.preferredsyntax.com/o3de/downloads/MyGem.zip
They also have to put that same gem.json file (the same one fr

[2022-07-23 04:48] AMZN-Gene opened #10841 "Project Manager: Warning When Building a Project Using a Different Engine"
**Is your feature request related to a problem? Please describe.**
I opened o3de.exe that came with the installer and went to build an existing project. However, because the project.json was pointing to my other engine path, instead of generating an installer-based project the project was built using the engine is was already pointing to.

**Describe the solution you'd like**
It would be nice if o

[2022-07-24 01:19] AMZN-Gene opened #10845 "Asset Browser Filter Shows Incomplete Path"
**Describe the bug**
The asset browser show an incomplete path unless the window is expanded a lot

**Steps to reproduce**
1. Open the Editor
2. In Asset Browser apply a filter to look for an asset
3. Notice the file path

**Expected behavior**
The file path should fit inside the path text space; if the path doesn't fit it should be affixed with "..."

**Actual behavior**
Most of file path is cut

[2022-07-24 04:34] AMZN-Olex commented on #10697
I am seeing this when I delete a prefab placed on the level.

[2022-07-25 02:38] AMZN-Gene opened #10850 "Atom DiffuseProbeSpher FBX Crashes the Editor"
**Describe the bug**
The editor crashes when trying to process Atom DiffuseProbeSphere.FBX

**Assets required**
\Gems\Atom\Feature\Common\Assets\Models\DiffuseProbeSphere.FBX

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a project which relies on the Atom DiffuseProbeSphere.FBX

**Expected behavior**
Editor loads even if assets fail to load

**Actual behavior**
Editor crashes

S

[2022-07-25 02:45] AMZN-Gene opened #10851 "Asset Browser Right Click Context Menu Doesn't Work when Filtering"
**Describe the bug**
When I search for a prefab and I want to open it in explorer I cannot right click and "Open in Explorer"

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor
2. In Asset Browser apply a search filter. _Example: Player.pref_
3. Right click on an item in asset browser
![image](https://user-images.githubusercontent.com/32776221/184408884-a9ccf055-f29d-4c15-8636

[2022-07-25 02:50] AMZN-Gene commented on #10850
Note: This was happening with an installer engine I build from dev. I'll see if it happens in normal dev build.

[2022-07-25 03:45] hwwxj commented on #7588
hi, about this issue, how to fix this? and is there any workaround for this issue?

[2022-07-25 12:00] LB-BartoszCwiek opened #10853 "Animation Editor: In Pick Asset windows Ctrl+D and Del shortcuts are not working"
**Describe the bug**
In the Pick Asset windows, context menu contains Duplicate asset and Delete asset options with their shortcuts, but working only when selecting the said options from the context menu.

**Steps to reproduce**
1. Go to Tools > Animation Editor.
2. In Animation Editor go to File > Open Actor.
3. Search for the any actor.
4. Try to duplicate it with Ctrl+D or delete it with a Del

[2022-07-25 12:14] LB-BartoszCwiek opened #10854 "Material Editor: In Pick Document window Delete option is missing from files context menu"
**Describe the bug**
In the Pick Document window, the files context menu lacks Delete option, which is functional when using Del keybind.

**Steps to reproduce**
1. Go to Tools > Material Editor.
2. Go to File > Open.
3. Search for any .material file.
4. RMB on the searched file.

**Expected behavior**
Delete option is missing from the files context menu.

**Actual behavior**
Delete option is avai

[2022-07-25 12:42] hultonha commented on #9884
Thanks for the info @mbalfour-amzn, we'll hopefully be making some updates/improvements to the box (and more generally shape editing) in the not too distant future.

This relates to https://github.com/o3de/o3de/issues/9883, https://github.com/o3de/o3de/issues/9672 and https://github.com/o3de/o3de/issues/9867.

[2022-07-25 13:33] #10160 closed

[2022-07-25 13:47] jonawals commented on #3458
https://github.com/aws-lumberyard-dev/o3de/pull/416
https://github.com/aws-lumberyard-dev/o3de/pull/420
https://github.com/aws-lumberyard-dev/o3de/pull/421
https://github.com/aws-lumberyard-dev/o3de/pull/422

[2022-07-25 14:05] #10625 closed

[2022-07-25 14:11] AMZN-Gene commented on #10824
Because hosting in game launchers with use a ClientServer agent type a new client will try to be added to the game as soon as hosting starts however there’s no level loaded so there’s no spawner.

We also don’t support loading into a networked level before hosting.

[2022-07-25 14:24] shawstar commented on #9191
The next update to this tool that is now in PR will help users export Animation with the proper settings as well warn them if there are issues with the transforms etc. However, this tool is only for Blender at the moment. We still need to work on a tool for Maya. https://github.com/o3de/o3de/tree/development/Gems/AtomLyIntegration/TechnicalArt/DccScriptingInterface/Tools/DCC/Blender/AddOns/SceneEx

[2022-07-25 14:26] LB-MateuszSzweda commented on #9927
@moraaar

I've set up the machine once again clearing very trace of o3de from registry and O3DE/.o3de folders from user and root directories.
Then I've run the Asset Processor prior to launching the Editor as described above as step 7.5.

However to no avail. The Physics materials values from Gems\PhysX\Assets\PhysX\ were still wrong when opened with Asset Editor.

The only ideas of the culprit I

[2022-07-25 14:57] L4exp opened #10855 "[Linux] Ubuntu. Does #9889 solve ssl problem??"
**Describe the bug**
Installation from git or running Editor, which installed from deb package breaks of missing ssl lib.

**Assets required**

**Steps to reproduce**
Download git and run python installation
python/get_python.sh

or

after installation from deb output of running editor, gives error of missing ssl 1.1

**Expected behavior**
Engine installing from git and Editor runs from deb instal

[2022-07-25 15:21] lawsonamzn commented on #9885
Yes, the way I see it there's some short term fixes we need to apply that we can do immediately and quickly (low cost) to fix the workflow bugs like this issue.

Quickly fix the problems it causes right now, and then plan some some mid-to-longer term approaches we can take.

For example, adding multiple mesh components to the same entity is not OK, its definitely a bug, since those components don'

[2022-07-25 16:31] lmbr-pip commented on #10811
Assuming this is sig/content but unsure if adding gems is owned by SIG/build. Tagged both SIGs and will allow their triage process to decided owner.

[2022-07-25 17:28] AMZN-Gene opened #10857 "Bug Report: Multiplayer Server Logging Has Many Errors and Warnings"
The MP server is spammed with logs. Console in the ServerLauncher and Editor (when _editorsv_print_server_logs_  pipes server logs to the editor) is unusable due to large amount of non-actionable logs that are written.

**Repro Steps**
1. Run the ServerLauncher or Editor play-mode with _editorsv_print_server_logs_ enabled.

Anything prefixed with (EditorServer) is a server log; the rest are editor

[2022-07-25 17:29] AMZN-Gene commented on #10774
Creating a new GHI for investigating and fixing all the errors and warnings in server launcher #10857

[2022-07-25 17:33] AMZN-Gene commented on #10774
Modifying and closing this GHI to be specifically about a cvar to toggle editor server print logs. (see editorsv_print_server_logs)
Created new issues/feature requests to address log spam on both multiplayer server and editor/client separately.
See #10857
See

[2022-07-25 17:33] #10774 closed

[2022-07-25 17:45] AMZN-Gene opened #10858 "Multiplayer Editor Log Spam"
The playing a multiplayer game editor produces much more logging than single player

Repro Steps

Run the Editor play-mode with editorsv_print_server_logs disabled (disabled so you dont also see server log spam which will be addressed in another git hub issue #10857).

Here is the Editor console output when running a start project without mp:

[code]

And here is the output from running the same s

[2022-07-25 17:50] lmbr-pip commented on #10839
Code currently always uses the NullFont in `AtomFontSystemComponent::OnCrySystemInitialized` which then causes all Atom rendered draw text to be skipped.

Need to remove/change the gEnv->IsDedicated check in this code, temporarily disabling this check allows debug draw text rendering and shows FPS blocks

[2022-07-25 17:51] lmbr-pip commented on #10839
Tagging in sig/graphics-audio for comment and thoughts. IMHO looks like we should tie use of null font to render options rather dedicated server check ie if using null renderer then use null font?

[2022-07-25 18:00] AMZN-Gene opened #10859 "As a Dev I Want a Filter for EditorServer Logs"
The MP server is spammed with logs. Console in the ServerLauncher and Editor (when _editorsv_print_server_logs_  pipes server logs to the editor) is unusable due to large amount of non-actionable logs that are written.

**Repro Steps**
1. Run the ServerLauncher or Editor play-mode with _editorsv_print_server_logs_ enabled.

Anything prefixed with (EditorServer) is a server log; the rest are editor

[2022-07-25 18:26] lumberyard-employee-dm opened #10861 "Feature Request: Constexpr AZ::Uuid Updates"
**Is your feature request related to a problem? Please describe.**
Through the O3DE codebase, we use the `AZ::Uuid` class for mapping C++ types to an identifier value for ad-hoc static reflection support. Every class reflected to the the SerializeContext requires a [TypeId](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/Serialization/SerializeContext.h#L1916-L1917) to b

[2022-07-25 18:32] AMZN-Gene commented on #10850
Huh, I cannot repro after adding and removing the DiffuseProbeSphere fbx. Not sure why...

[2022-07-25 19:57] #10006 closed

[2022-07-25 20:23] lumberyard-employee-dm opened #10865 "Feature Request: SerializeContext DOM Adapter"
**Is your feature request related to a problem? Please describe.**
The [Serialize Context](https://www.o3de.org/docs/user-guide/programming/components/reflection/serialization-context/) is the system to provide persistence for C++ types within O3DE.
There is currently a utility application known as the SerializeContextTools, which can output the types reflected to the Serialize Context to a [JSON

[2022-07-25 20:42] lumberyard-employee-dm opened #10866 "Feature Request: Behavior Context DOM Adapter"
**Is your feature request related to a problem? Please describe.**
The [Behavior Context](https://www.o3de.org/docs/user-guide/programming/components/reflection/behavior-context/) which is the layer to bind C++ code to a runtime script-able API doesn't have a manner at outputting information about which types are reflected to it without writing C++ code.

Besides from looking at ScriptCanvas Node

[2022-07-25 20:46] amzn-mike commented on #10692
This may be fixed by https://github.com/o3de/o3de/pull/10864

[2022-07-25 21:04] AMZN-Gene opened #10868 "As a Dev I Want Renderer To Decide Null Font Usage"
**Is your feature request related to a problem? Please describe.**
The ServerLauncher is set up to use null font even if the Server is loaded with rendering enabled

(search USE_NULLFONT in code for more info)

**Describe the solution you'd like**
The renderer should decide which font to use. Null renderer should use null font, and the normal renderer should load font.

=

[2022-07-25 21:10] shawstar commented on #8916
The next version of the O3DE Scene Exporter for Blender will have some of the customers request help assets import O3DE correctly. These are a mixture of FBX settings (Which there are many) and the start of some warnings that a user will need to know. For example if there is a . in a bone name, or transforms are not applied. This is just the groundwork and more will be added to give a more detaile

[2022-07-25 22:02] lmbr-pip commented on #10868
Contents, debug draw text is not displayed by atom because:

`m_fontDrawInterface` in AtomViewportDisplayInfoSystemComponent is set to null.  Theres an explicit check ` AtomFontSystemComponent::OnCrySystemInitialize` that uses the Atom null font if using the dedicated server.

This logic should be updated so if we are rendering, a font is available for debug draw text.

[2022-07-25 22:12] rainbj commented on #9885
Joseph brought up a good point about we have one missing use case for the error case, and we present a modal pop up. If you could present a use case, I can give a design for this use case.

[2022-07-25 22:55] yuyihsu commented on #8408
@rainbj , can your new toolbar and new perforce integration status on the bottom of the editor solve this issue?

[2022-07-25 23:08] lumberyard-employee-dm opened #10869 "Feature Request: Dedicated Filesystem @alias@ Resolver Class"
**Is your feature request related to a problem? Please describe.**
Currently O3DE C++ applications support a system of specifying an @\<alias name>@ mechanism which maps that alias to a path on the filesystem that is formed at runtime.
Such aliases allow resolving of paths that are local to the user machine such as the engine root `@engineroot@`, project root`@projectroot@`, or each loaded gem roo

[2022-07-26 00:44] amzn-tommy opened #10871 "Motion vectors don't handle alpha cutout"
**Describe the bug**
Motion vectors don't handle alpha cutout. MeshMotionVectorsCommon.azsli doesn't do anything to handle it, so it's going to assume that if a pixel is covered by geometry, the motion vector can be represented by how much that geometry has moved. But in fact, if a pixel is covered by a portion of the geometry that is cutout, the motion vector should be invalid since we don't know

[2022-07-26 02:51] AMZN-Gene commented on #9514
Added cl_viewportConnectionStatus. Lower-left corner of clients display connection status and the host's ip address.
Example:
![image](https://user-images.githubusercontent.com/32776221/180912648-0cb0b94f-713e-49f1-9f4c-8d8a00045435.png)

[2022-07-26 04:04] L4exp commented on #10855
Ok, after reboot - it just work. Most likely solution is v1.1 lib after installation. Anyway try it on VM later. But messages like missing ssl 1.1 is not good sign.

[2022-07-26 04:51] L4exp opened #10875 "[Linux] Ubuntu. Is #9824 - MaxUnboundedArrayDescriptors (GHI-9812) - enough to fix issue with descryptors?"
Describe the bug
Activating terrain renderer gives editor's quit
(Vulkan) - Failed to initialize DescriptorSet

Steps to reproduce
Add terrain gem to project.
To level, add terrain world and terrain renderer component(activate)

Expected behavior
Adding terrain world and terraint renderer allows work with terrain

Actual behavior
Adding terrain world and renderer invokes quit from editor

Found in

[2022-07-26 05:37] pollend commented on #10875
can you provide the logs from the editor?

[2022-07-26 08:20] L4exp commented on #10875
Something like this
[Editor.log](https://github.com/o3de/o3de/files/9187990/Editor.log)

[2022-07-26 09:04] LB-ArturZieba commented on #8768
On the Development (663ed56) build, we have noticed that there is another set of reproduction steps that can cause this behavior:

1. Select an entity that has a Mesh component with an asset assigned (for example Shader Ball).
2. Change the entity's Rotate Y value to 90.
3. Without deselecting the Rotate Y input field, click, and hold a left-click on the blue-green edge square (move on YZ axes) on

[2022-07-26 09:52] LB-BartoszCwiek opened #10877 "It is possible to delete a component while its Pick Asset window is open which may lead to a crash"
**Describe the bug**
When in the Pick Asset window (e.g. Pick EMotion FX Actor) it is possible to delete a component and after that if the User will try to pick an asset for the non-existing component, after pressing the "OK" button Editor will crash.
Additionally, after deleting a component while in the Pick Asset window, its close button icon disappears. Also, while in the Pick Asset window, pre

[2022-07-26 10:08] LB-JakubSkorupka commented on #9537
Following messages appear in the console after enabling DPE by entering `ed_enableDPE true` command in console, opening Asset Editor and creating any type of asset.
![image](https://user-images.githubusercontent.com/86951967/180980654-7faf9c13-4639-46f5-aa55-1ac7466e8df6.png)

[2022-07-26 10:08] LB-BartoszCwiek commented on #9159
Verified as fixed on Development (663ed56). Issue no longer occurs and can be closed.

[2022-07-26 10:45] LB-JakubSkorupka opened #10878 "Assert is printed in console after closing Asset Editor when DPE is enabled"
**Describe the bug**
After closing the **Asset Editor** window during the creation of a new asset while **DPE** (DocumentPropertyEditor) is enabled by entering `ed_enableDPE true` in the console, assert related to the previously mentioned **DPE** is printed.

This issue was reproduced on 3 machines, on one of them _(Linux Source engine)_ multiple same asserts appeared in the console, on other mach

[2022-07-26 11:07] LB-KacperSzczepanski commented on #10792
The Use Baked Heightfield option is grayed out on Windows but the fix was not applied on Linux. Both platforms were tested on build Development (663ed56)

https://user-images.githubusercontent.com/86953282/180992122-1f1ca2fa-fe40-480d-985a-aab16a7a0135.mp4

[2022-07-26 12:18] LB-ArturZieba opened #10879 "Unassigning a Model Asset in the Material Editor turns its viewport red"
**Describe the bug**
If a Model Asset used in the Material Editor's Viewport Settings > Model Settings is removed, the Material Editor viewport turns red.

**Steps to reproduce**
1. Go to Tools > Material Editor.
2. In the Material Editor go to Tools > Viewport Settings.
3. In the Viewport Settings go to Model Settings, and press the "X" next to the assigned Model Asset.

**Expected behavior**
Vie

[2022-07-26 12:35] LB-BartoszCwiek opened #10880 "Lua Editor: Undocked windows have a white top bar"
**Describe the bug**
When the windows inside the Lua Editor are undocked, a white top bar appears. Additionally, their context menu is also white. This issue is Windows specific as it does not occur on Linux.

**Steps to reproduce**
1. Go to Tools > Lua Editor.
2. In the Lua Editor undock any of the windows.

**Expected behavior**
A top bar appereance of the windows remains the same when undocked.

[2022-07-26 12:56] LB-KacperSzczepanski commented on #10792
The issue does not reproduce on other machines. I will verify it tomorrow on a new build and closed if it does not occur.

[2022-07-26 14:51] greerdv commented on #10235
Btw, if you want to do a bulk AZ_CRC -> AZ_CRC_CE replacement, you can do it with a regex (see https://github.com/o3de/o3de/pull/10433 for example).

[2022-07-26 14:54] greerdv opened #10883 "Follow up on character controller AddVelocity deprecation"
Remove the deprecated AddVelocity function from
Code/Framework/AzFramework/AzFramework/Physics/Character.h
Code/Framework/AzFramework/AzFramework/Physics/CharacterBus.h
after the required deprecation period has passed.

[2022-07-26 15:13] AMZN-daimini commented on #10877
I thought the Pick Asset was a blocking dialog? It may just not be parented correctly. Assigning to Editor as it's related to the PropertyAssetCtrl.

[2022-07-26 15:14] #10680 closed

[2022-07-26 15:30] AMZN-stankowi commented on #10835
Assigning to myself, this will get fixed when we embed that log window into the scene settings window itself

[2022-07-26 16:14] lumberyard-employee-dm commented on #6707
Side Requirement.
We also need to update Project Manager to not hardcode the IDE by removing the [Generator(-G) option](https://github.com/o3de/o3de/blob/663ed5632447fa70040557c407ed15f29ae7f1ef/Code/Tools/ProjectManager/Platform/Windows/ProjectBuilderWorker_windows.cpp#L22)

[2022-07-26 16:18] lawsonamzn commented on #9885
I gave some of the scenarios above.  All of those scenarios are currently possible to happen.

[2022-07-26 17:12] galibzon commented on #10879
@gadams3 , I think this is by design. Can you confirm?

[2022-07-26 17:17] galibzon commented on #10850
@AMZN-Gene can you please try to repro with clean build and clean assets rebuild?

[2022-07-26 17:23] galibzon commented on #10723
It seems there's no bug here. Closing.

[2022-07-26 17:23] #10723 closed

[2022-07-26 18:34] lawsonamzn commented on #9885
Also bear in mind that there are ways to achieve all user intents:
* User can drag the fbx itself to the viewport
* User can **expand** the fbx, then drag individual pieces to the viewport -> spawn new entity with that component.
* User can **expand** the fbx, then drag individual pieces to the inspector with an entity already being inspected (add component to existing entity)

In the first case,

[2022-07-26 18:49] AMZN-stankowi commented on #9885
the workflow I was trying to cover was: You drag and drop the source FBX asset, and the FBX's only product assets do not have a logical instantiation target. The FBX either has no product assets, or it only has product assets that we can't/don't spawn (just animation output, just buffers, or just physics meshes). I was suggesting in that case, it would feel bad to drag and FBX and have nothing hap

[2022-07-26 19:02] yuyihsu opened #10887 "Feature Request - [DCCsi] Wrap Maya FBX Exporter with Studio Tools"
As a User, I would like a set of validation tools for meshes while working in DCC tools, so I can more easily identify issues with a model before it is exported to the engine.

One example is an nGon checker. Due to things like winding order or algorithm, an nGon could be triangulated differently ... and we have seen this happen, where Assimp incorrectly triangulates the nGon and this can not be f

[2022-07-26 19:17] amzn-tommy commented on #7588
There are two workarounds that can be done modifying the content in a dcc tool like Blender:
1. Make the vertex format match for all meshes that use the same material. For example, if you have two meshes that use the same material, mesh A has multiple uv sets, and mesh B only has one uv set, either delete the extra uvs in mesh A or add additional uvs to mesh B so they have the same uv set count.
2

[2022-07-26 19:31] amzn-tommy opened #10888 "Morph Targets don't work on actors with lods"
**Describe the bug**
If an actor has lods, and also has morph targets, the morph targets will be broken.

**Assets required**
I don't have any assets that reproduce this that can be shared publicly

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a model with skeletal animation, morph targets, and multiple lods
2. Open the actor in the animation editor
3. Move the sliders for the

[2022-07-26 19:34] yuyihsu opened #10889 "BUG - Asset browser - prefab filter not working"
BUG details
In the Asset Browser, the filter for prefab doesn't actually find prefab. Users. I assume this is because there is a child procprefab inside every FBX. However, users in this instance are not looking for a procprefab they are just looking for prefabs.

**Describe the solution you'd like**
Inside the dropdown, separate out procprefab and prefabs. Also make sure prefabs only find levels

[2022-07-26 19:47] Ulrick28 commented on #10836
If I understand correctly, WTE would like a remote repo setup for the python gem. We can provide documentation how how to set this up to whomever owns the gem.

[2022-07-26 20:01] yuyihsu opened #10890 "Feature Request - when user save as, it saves as to F drive, instead of c drive, where his project file is located"
**Is your feature request related to a problem? Please describe.**
If user manually import the asset through the Asset Importer in O3De, after the prompt asking user if they want to move or copy a version of the asset, the imported asset was then copied to the F drive, instead of the Project folder that user is in. User wasn't expecting this and had a hard time finding the saved assets.

**Describ

[2022-07-26 20:07] yuyihsu opened #10891 "Feature Request - regroup the component under Atom based on feature"
**Is your feature request related to a problem? Please describe.**
A bunch of components are grouped under Atom. However, Atom isn't a feature, and it makes it hard for users to be able to quickly identify the components they are looking for.

**Describe the solution you'd like**
We should regroup the components under Atom, and regroup them based on features, such as Lighting, PostFX, etc.

**Desc

[2022-07-26 21:07] AMZN-Gene commented on #9630
The ImGui option to "Host Level" and "Launch Client" hopefully resolves some of the pain in having to deal with cfg since the actions to start up a host and client are now really easy.

However, there still might be a need for cfg when developing:
With cfg's I can create multiple cfg's for different actions I want to take. For example, having a _headless_server.cfg_ and a _gui_server.cfg_ paired u

[2022-07-26 21:32] lawsonamzn commented on #9885
Well the current behavior shows the "No Entry" sign by default by telling the operating system that there's nothing in the data that can be dropped there.  (The operating system changes the mouse cursor to the no-drop cursor).

It is important to tell the OS this and do it this way, becuase other technologies that are part of the operating system, such as clipboard or mimedata managers, but also a

[2022-07-26 21:38] yuyihsu commented on #10836
@cgalvan , can you work with @Ulrick28 and @AMZN-Phil  to have the sample gem repo ready, and @Ulrick28 will help setup the repo to support the remote gem.

[2022-07-26 21:42] yuyihsu commented on #9713
@Ulrick28 will review this ticket priority to see if we can fix it for the oct release.

[2022-07-26 23:15] #10712 closed

[2022-07-26 23:48] rainbj commented on #10625
![ImGui - open](https://user-images.githubusercontent.com/82551958/181131191-4fec28c2-e145-4b2b-b66e-1198fd1ff5ec.png)
![ImGui - close](https://user-images.githubusercontent.com/82551958/181131196-8173857b-b4f7-4449-bf81-ccb4e1bc531a.png)

Design considerations based on our conversations.

[2022-07-27 00:51] smurly opened #10897 "Baking reflection probe spawns a modal progress dialog that sometimes fails to finish/return to main window"
**Describe the bug**
when bake reflection probe is called a modal dialog spawns which indicates the probe is baking. The modal dialog is supposed to complete and close on its own, however sometimes it never does. If manually closed an assert can appear if you try to bake again indicating that baking a probe is already in progress.

**Assets required**
Editor.exe

**Steps to reproduce**
Steps to re

[2022-07-27 04:13] AMZN-Gene commented on #9622
This is related to #10824. By not allowing hosts to change levels after a client has joined because the network spawnable isn't available, this means that ServerClients are broken as well since they both host and create a player immediately before the level is opened.

[2022-07-27 06:28] AMZN-Gene opened #10900 "As a Dev I want Vector3 To Have a CreateUp, CreateRight, and CreateForward"
**Is your feature request related to a problem? Please describe.**
It's often that I want to produce an world up vector, and instead of Vector3::CreateUp I have to remember that Z and use Vector3::CreateAxisZ

**Describe the solution you'd like**
Provide an Vector3::CreateUp (0,0,1). CreateDown (0,0,-1),
CreateRight(1,0,0), CreateLeft(-1,0,0), CreateForward(0,1,0), and CreateBack(0,-1,0)

[2022-07-27 08:17] LB-KacperSzczepanski commented on #10792
Issue verified as fixed on build Development (616902d).

[2022-07-27 08:17] #10792 closed

[2022-07-27 09:15] hultonha commented on #10305
Thanks for reporting this @santorac. Is this something that's blocking at the moment? I'm sorry I haven't got to it yet and we don't have someone from viewport readily available right now. Let me know if this is really urgent and I can grab someone to take a look, with a bit of luck I should be able to get to this by the end of the week.

[2022-07-27 11:00] LB-MateuszSzweda commented on #10712
Verified as fixed on Development (616902d).

[2022-07-27 11:45] LB-ArturZieba opened #10904 "Linux: Material Canvas crashes when more than 16 nodes are added to the graph"
**Describe the bug**
Adding more than 16 nodes to the Material Canvas graph on Linux causes it to silently crash.

It should be noted that on Windows this does not occur - 25 nodes were added and the Material Canvas remained stable.

It should also be noted that no error.log/error.dmp files were generated, so a fresh MaterialCanvas.log was provided in the **Video and log** section instead.

**Prer

[2022-07-27 11:57] LB-ArturZieba opened #10905 "Material Canvas node search highlight obscures the matching names"
**Describe the bug**
Searching nodes under the right-click context menu in Material Canvas is obscuring the matching names.

**Prerequisites**
A project built in O3DE.

**Steps to reproduce**
1. In the Terminal, navigate to the build Default folder (for example /o3de-install/bin/Linux/profile/Default/).
2. Launch the MaterialCanvas with --project-path argument referencing built O3DE project (for e

[2022-07-27 12:14] LB-RostyslavGavryliuk opened #10906 "Show in Asset Browser function does not open assets"
**Describe the bug**
Show in Asset browser function in Asset Processor does not show the selected asset, only opening Asset Browser in the Editor.

**Steps to reproduce**
1. Open Asset Processor.
2. Press RMB in any of the Jobs.
3. Select the Show in Asset Browser function.

 **Expected behavior**
Selected asset is opened in the Asset Browser.

**Actual behavior**
Asset Browser is simply opened in

[2022-07-27 12:19] LB-ArturZieba opened #10907 "Material canvas viewport does not update consistently or responsively after making changes to the graph"
**Describe the bug**
Example PBR Material Canvas nodes updates inconsistently after focusing/unfocusing the node's values instead of being applied automatically after changing the values.

**Prerequisites**
A project built in O3DE.

**Steps to reproduce**
1. In the Terminal, navigate to the build Default folder (for example /o3de-install/bin/Linux/profile/Default/).
2. Launch the MaterialCanvas wi

[2022-07-27 12:56] LB-ArturZieba opened #10908 "Example PBR fails the Asset Processor processing if it contains a decimal value"
**Describe the bug**
If the Example PBR contains values that are decimal (for example 0,1) in any of its fields, it causes the relevant .shader to fail in the Asset Processor. This issue effectively restricts the Example PBR node to 8 colors (black, white, and binary mixes of red, blue, and green)

It should be noted that the Base Color property, at the moment, uses a Vector4 as a variable type (g

[2022-07-27 13:17] LB-ArturZieba opened #10909 "Delete and Duplicate hotkeys do not work in Material Canvas"
**Describe the bug**
In the Material Canvas, the Delete, and Duplicate hotkeys (Delete key, and Ctrl + D keys respectively) do not function in the Material Canvas.

It should be noted that these options are still functional when used from the context menu.

It should also be noted, that while no options in the context menu have hotkeys listed, the Copy (Ctrl + C), and Paste (Ctrl + V) hotkeys are

[2022-07-27 13:27] LB-ArturZieba opened #10910 "Copying nodes in the Material Canvas causes the copies' value slots to disappear"
**Describe the bug**
Copies of the nodes in the Material Canvas are missing their value fields.

**Prerequisites**
A project built in O3DE.

**Steps to reproduce**
1. In the Terminal, navigate to the build Default folder (for example /o3de-install/bin/Linux/profile/Default/).
2. Launch the MaterialCanvas with --project-path argument referencing built O3DE project (for example sudo ./MaterialCanvas

[2022-07-27 14:14] #8258 closed

[2022-07-27 14:53] mbalfour-amzn commented on #10791
This is a bit tricky. The problem is that the PhysX Gem doesn't know about which other Gems (if any) would contain the components needed to meet the requirement.

My *desired* fix for this would be to create a "Mesh Heightfield Collider" component in Atom that raycasts downward to provide the heightfield data. Since Atom isn't optional, this component would exist, and the PhysX Heightfield Collide

[2022-07-27 15:21] shawstar opened #10911 "Feature Request - O3DE Release Install Binary Supports newer versions of Community Visual Studio."
**Is your feature request related to a problem? Please describe.**
O3DE Release Install Binary Supports newer versions of the Community Visual Studio.
Installing O3DE Release V22.05.0 and also Nightly 7/27/22 will not see installed Visual Studio Community 2022, I needed to downgrade to Visual Studio Community 2019... however this was hard to troubleshoot as the error when building was just that o3

[2022-07-27 15:45] monroegm commented on #10821
I'm pretty sure this is a duplicate. I will link the other issue when I find it

[2022-07-27 15:59] AMZN-stankowi commented on #7672
Can you describe your use case?

Right now, the asset pipeline is built with the assumption that only the asset processor will ever write files to the asset cache. Because it's been built this way, there's no reason to ever check the status of files in the cache, it's not a defined workflow to modify content there.

I'm going to change this from a bug to a feature request, this behavior is working

[2022-07-27 16:57] pollend commented on #10900
is this consistent across the editor. I know sometimes Y is up and sometimes Z is up.

[2022-07-27 18:21] #3436 closed

[2022-07-27 18:21] #3662 closed

[2022-07-27 18:21] #3668 closed

[2022-07-27 18:21] #3669 closed

[2022-07-27 18:21] #3671 closed

[2022-07-27 18:21] #3672 closed

[2022-07-27 18:21] #3673 closed

[2022-07-27 18:21] #3675 closed

[2022-07-27 18:21] #3676 closed

[2022-07-27 18:21] #3796 closed

[2022-07-27 18:21] #3804 closed

[2022-07-27 18:21] #3805 closed

[2022-07-27 18:21] #3809 closed

[2022-07-27 18:21] #3813 closed

[2022-07-27 18:24] AMZN-Gene opened #10915 "Project Manager: As a Dev I want a Sound FX to Play on Build Complete"
**Is your feature request related to a problem? Please describe.**
While I'm building the project I go off to work on other tasks, but have to continually check if the project manager is done building.

**Describe the solution you'd like**
It would be cool if a sound fx played when the build was finished. The soundfx file would also be available somewhere (maybe project specific), so I could delet

[2022-07-27 18:25] lmbr-pip commented on #10911
Relates to https://github.com/o3de/o3de/issues/8478

[2022-07-27 18:32] lmbr-pip commented on #10711
Looks like this should be split into two issues, one for EditorTests and one for SmokeTest

[2022-07-27 18:33] #4099 closed

[2022-07-27 18:37] lmbr-pip commented on #10184
Tagging in sig/release as issue needs to be owned by SIG (as TSC has no issue audit process). @jeremyong as TSC chair, who should own this?

[2022-07-27 18:41] srikappa-amzn commented on #10048
@LB-RostyslavGavryliuk , Should this be closed because of the above fix?

[2022-07-27 19:00] lmbr-pip commented on #3887
@LB-JakubW @LB-RostyslavGavryliuk On recent Dev build based on commit (# 663ed5632447fa70040557c407ed15f29ae7f1ef, July 25th 2022), clicking on the "Terms of Use" opens the page https://www.o3debinaries.org/license without issue.

I believe issue has been fixed.

@sptramer @monroegm - do we need retest or can we mark as fixed? Have not checked installer but assume issue is fixed there.

[2022-07-27 19:03] AMZN-daimini opened #10916 "Graph Canvas - No visual feedback for multiple selection of disabled nodes"
**Describe the bug**
When selecting multiple nodes at once, Graph Canvas highlights them with an orange border which makes it easy to understand which nodes are going to be affected by drag & drop or other operations.

If the selected nodes are disabled, the behavior is still as expected but there is no visual indicator of which nodes are selected, making it harder to understand the result of user

[2022-07-27 19:45] pollend commented on #10048
what is the policy for closing issues there are quite a lot of issues like this.

[2022-07-27 19:59] yuyihsu commented on #10165
Per @galibzon, this ticket will be addressed in Material Canvas.

[2022-07-27 20:04] yuyihsu commented on #10023
Per @galibzon , this is by design. we don't use the editor to design the geometry as Maya does.

[2022-07-27 20:09] galibzon commented on #10166
@yuyihsu , We can address this issue by end of 2022, but won't be possible for the October release.

[2022-07-27 20:10] galibzon commented on #7113
@yuyihsu , This is an easy fix. We can schedule it for the October relase

[2022-07-27 20:13] jeremyong-az commented on #10184
This issue was discussed at a prior TSC meeting with @lumberyard-employee-dm and I am closing this issue. All licenses have already been vetted by LF legal prior to O3DE's release, including copy left dependencies such as Qt that are distributed in a manner restricted to tooling. No other dependencies with such license restrictions have been added since the O3DE release.

[2022-07-27 20:13] #10184 closed

[2022-07-27 20:24] jeremyong-az commented on #10221
Closing, as discussed before on the June 21 meeting, process and project management-specific issues/discussion should find a home in the community repo. Thanks!

[2022-07-27 20:24] #10221 closed

[2022-07-27 20:24] gadams3 commented on #7113
@galibzon @yuyihsu @lumberyard-employee-dm This issue occurs because material editor, shader management console, material canvas, have a settings registry file that disables unrelated gems. This was done to improve material editor startup times and resource usage by not initializing gems that won't be used in those tools. However, if the game project requires system components from one of the disa

[2022-07-27 20:25] jeremyong-az commented on #3184
I'm removing the TSC label as this work has already been done by many (all?) sigs and the remaining work needed is to actually populate said documentation page with that data.

[2022-07-27 20:37] lmbr-pip commented on #9536
Relates to: https://github.com/o3de/o3de/issues/9537

[2022-07-27 20:42] AMZN-daimini commented on #10877
Got a repro. the Asset Picker is indeed a blocking dialog, but apparently it is still possible to delete the selection through it. Checking this out.

[2022-07-27 20:55] yuyihsu commented on #9885
@lmbr-pip , can you help split the work in this ticket?

[2022-07-27 20:59] lmbr-pip commented on #8914
Relates also to https://github.com/o3de/o3de/issues/8915

[2022-07-27 21:14] srikappa-amzn commented on #10697
Efforts are currently underway to support hot reloading of prefabs, which will detect file changes including deletions

[2022-07-27 21:39] #4236 closed

[2022-07-27 21:54] srikappa-amzn commented on #10697
@AMZN-Olex and @amzn-tommy , I'm not able to reproduce the crash after deleting the prefab from file and returning to the editor. I even did a few operations on the prefab after returning to the editor. Are you doing any specific actions in the editor after you return to the editor that is making it crash?

[2022-07-27 21:58] galibzon opened #10921 "It takes 15 seconds to add an entity to a level with 9000 entities"
**Describe the bug**
Details are here: https://github.com/o3de/o3de/issues/10798

When the level is almost empty it takes only 0.02 seconds to add an entity and its components.
By the time there are 9000 entities it takes around 15 seconds to add an entity and its components.
As each entity is added by the attached python script "populate_static_objects.py" the memory
consumption increases and aft

[2022-07-27 22:02] galibzon opened #10922 ""Helpers" and "Icons" visualization should work only on the selected entities."
**Describe the bug**
Enabling "Helpers" and "Icons" visualization in the viewport when there are thousand of visible entities
can bring the performance down to 2 fps. There should be a way to only enable auxiliary geometry for the entity in focus.

**Assets required**
See: https://github.com/o3de/o3de/issues/10798

**Steps to reproduce**
See: https://github.com/o3de/o3de/issues/10798

**Expected b

[2022-07-27 22:02] galibzon commented on #10798
@lsemp3d:
Created https://github.com/o3de/o3de/issues/10921 & https://github.com/o3de/o3de/issues/10922

[2022-07-27 22:05] AMZN-daimini commented on #10877
Looks like this issue is related to the ShortcutDispatcher sending the event from the Asset Picker to the Inspector, which shouldn't happen.

[2022-07-27 22:22] AMZN-daimini opened #10925 "Asset Browser - Triggering asset deletion with an empty selection results in a crash"
**Describe the bug**
When triggering asset deletion while the Asset Browser is focused but no asset is selected, the Editor crashes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Start the Editor;
2. Click on the Asset Browser widget, but not on any folder or asset to ensure selection is empty;
3. Press the `Delete` key.

**Expected behavior**
Nothing happens.

**Actual behavior**
Th

[2022-07-27 22:45] lsemp3d commented on #10013
Moving to sig/core this support has to be implemented at an engine level and should be made carefully as it could have stability implications

[2022-07-27 23:32] ParasiteSt opened #10926 "Bug Report: Set Local Rotation Node seams to use World Rotation Script Canvas"
**Describe the bug**
I have been using the Set Local Rotation node in script canvas, but I have realized if I rotate the local rotation on the Y axis it rotates the entity on the Y axis, but it uses the world Y axis not the local entity Y axis.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Script Canvas and create a new graph that rotates an entity on the local Y axis 0.01 ever

[2022-07-27 23:53] monroegm commented on #10821
Duplicate of #2376

[2022-07-27 23:53] #10821 closed

[2022-07-28 00:15] AMZN-daimini commented on #10754
Followed the steps on latest development on an EC2 instance running Ubuntu 20.04.4 LTS and could not repro even after multiple attempts (without loading a level, loading an existing level and closing with unsaved changes, creating a new level and saving...). The Editor was started both from the Project Manager and directly from bash.

More information on the environment may be necessary. It could

[2022-07-28 00:26] amzn-tmryan commented on #9573
We tried to reproduce this issue on an EC2 instance and could not. The mouse cursor is present even when in GameMode, so we suspect this might not be reproducible using remote desktop. Tried running both unmaximized and maximized GameMode windows.

[2022-07-28 00:26] amzn-tmryan commented on #9841
We tried to reproduce this issue on an EC2 instance and could not. The mouse cursor is present even when in GameMode, so we suspect this might not be reproducible using remote desktop. Tried running both unmaximized and maximized GameMode windows.

[2022-07-28 00:51] lmbr-pip opened #10927 "Bug Report: `ExeSelectPropertyHandler` causes suprious CRC warning because its not correctly registed with the DocumentPropertyEditor"
**Describe the bug**
When starting Automated testing, or any project, users always see this warning:

[code]

This is because `ExeSelectPropertyHandler` tries to use a CRC value which is not in scope at the time. Handler appears not to have `RegisterPropertyEditor` call for control so looks like handler is not correctly setup to work with DPE.

**Assets required**
[!Important!] Please provide samp

[2022-07-28 00:52] lmbr-pip commented on #10927
Assigning to core as DPE is defined in o3de\o3de\Code\Framework\AzFramework\AzFramework\DocumentPropertyEditor

[2022-07-28 00:54] lmbr-pip commented on #9537
Most of these are not AP errors, have created a GHI for the DPE warning: https://github.com/o3de/o3de/issues/10927

Would be better to capture:
* Asset processing related warnings
* How you saw errors
* Any reason why warning message was not helpful or did not match expectations ie Did not know what a subid was, displayed uuid but unsure what I can do with UUID, content processed as expected - war

[2022-07-28 03:01] NiklasHenricson opened #10928 "Installer bug: O3DE 22.05.0 Release"
**Describe the bug**
The current version of installer (as of 7/27/2022) version 22.05.0 has some issues that cause confusion to the community users.

**Steps to reproduce**
1. Install o3de_installer_2205_0.exe
2. Files will be created under the folder structure C:\O3DE\22.05.0
3. The O3DE game engine will be installed successfully however, building projects or using any projects from this moment o

[2022-07-28 03:14] pollend opened #10929 "Quaternion remove SetFromEuler(Radians/Degrees)"
Remove the deprecated SetFromEulerRadians and  SetFromEulerDegrees.

Code/Framework/AzCore/AzCore/Math/Quaternion.h

these have been replaced with the methods below:
CreateFromEulerRadiansXYZ
CreateFromEulerDegreesXYZ

[2022-07-28 07:22] LB-JakubSkorupka commented on #4236
Issue verified as fixed on build Development (5dd4d9f).

[2022-07-28 08:06] lgleim commented on #10373
@amzn-jillich Could you have a quick look at this, please?

[2022-07-28 08:09] roywang91 commented on #10888
meet the same problem when actor with lod0 and morph targets

[2022-07-28 08:10] lgleim commented on #9593
@spham-amzn Is this issue still relevant?

[2022-07-28 08:13] lgleim commented on #9594
@spham-amzn si this still relevant?

[2022-07-28 08:14] lgleim commented on #9646
Discussed in today's issue triage. Closing this issue due to inactivity.

[2022-07-28 08:14] #9646 closed

[2022-07-28 08:17] lgleim commented on #9702
@amzn-jillich @amzn-rhhong Could you have a look at this issue?

[2022-07-28 08:20] lgleim commented on #9918
@smurly Thank you for raising this request. We warmly welcome contributions on this matter.

[2022-07-28 08:22] lgleim commented on #10064
@AMZN-Olex Did the merge https://github.com/o3de/o3de/pull/10069 address this issue?

[2022-07-28 09:37] LB-ArturZieba commented on #10083
"Use Ground Plane" setting verified as fixed on the Development (5dd4d9f) build. I have checked the Gradient Entity selection you have mentioned at 0:51 as well, and it does not seem to affect drawing of the terrain anymore. Thanks for the detailed breakdown of what exactly was wrong on the attached video! Please close the issue if there's nothing else to verify.

[2022-07-28 10:27] LB-RostyslavGavryliuk commented on #10048
Issue verified as fixed.

[2022-07-28 10:27] #10048 closed

[2022-07-28 10:28] LB-JakubSkoczylas opened #10930 "UI Editor: Action Log does not work"
**Describe the bug**
The Action Log inside the Preview is blank and provides no functionality.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to UI Editor.
2. Press the "Preview" button.

**Expected behavior**
The Action Log is present at the bottom and provides information from the UI Canvas.

**Actual behavior**
The Action Log is blank and does not provide any information.

**Scr

[2022-07-28 10:51] LB-JakubSkoczylas opened #10931 "Opening UI Editor with Terrain components added to level crashes Editor"
**Describe the bug**
The Editor crashes if the World Terrain and World Renderer components are added to the level prefab.

**Call Stack Trace:**
25) 00007FFDBC230057 (KERNELBASE) : UnhandledExceptionFilter
24) 00007FFDBBCEC888 (InProcessClient64) : (function-name not available)
23) 00007FFDBBCEC4D1 (InProcessClient64) : (function-name not available)
22) 00007FFDBEA753B0 (ntdll) : memset
21) 00007F

[2022-07-28 10:57] LB-JakubSkorupka opened #10932 "Enabling the DPE results in Entity Inspector UI issues and Editor being unstable which may result in crash"
**Describe the bug**
Enabling the **DPE** by entering the `ed_enableDPE true` in the console causes multiple UI issues in the  **Entity Inspector**. Performing basic actions as selecting entity or adding component to the entity may result in a crash. It looks like the component UI is wrapped in **Entity Inspector** e. g. causing checkboxes to appear on the name of components or the offset of the b

[2022-07-28 11:08] hultonha opened #10933 "Feature Request"
This feature request is in relation to https://github.com/aws-lumberyard-dev/o3de/pull/421 (see https://github.com/aws-lumberyard-dev/o3de/pull/421#discussion_r930689629).

Assess pass mask design (present in above PR) after initial usage as been evaluated. Note: Meeting set for late August to discuss.

[2022-07-28 11:35] LB-JakubSkorupka commented on #10697
We managed to find the issue where Editor crashes after adding the component to the entity inside the prefab and then deleting that prefab from the level in Entity Outliner. Please refer to the attached logs.
Would you like us to create a separate issue for this?
[Editor.log](https://github.com/o3de/o3de/files/9208946/Editor.log)
[error.log](https://github.com/o3de/o3de/files/9208947/error.log)
[e

[2022-07-28 11:37] LB-JaroslawGaweda opened #10934 "Script Canvas: Hovering over PresetName and isDefault columns in the Presets Editor leaves them highlighted"
**Describe the bug**
Hovering over PresetName and isDefault columns positions in the Presets Editor leaves the corresponding fields highlighted even after moving the cursor away. It should be noted that this is fixed after hovering over every position in that column that was highlighted.

**Steps to reproduce**
1. Go to Tools > Script Canvas.
2. In the Script Canvas go to Tools > Presets Editor.
3

[2022-07-28 11:56] LB-RostyslavGavryliuk opened #10935 "Value indicator on child materials gets updated only on reloading Materials"
**Describe the bug**
 Blue arrow indicator, indicating values that are different from the parent material on the child material only gets updated when reloading the child material.

**Steps to reproduce**
 1. Launch Material Editor.
2. Create and save a Material.
3. RMB on the Material and create a child Material.
4. Change any value on the child Material and save it.
5. Introduce the same change

[2022-07-28 11:57] LB-BartoszCwiek opened #10936 "Script Canvas: Newly created graph needs to be saved twice for a successful save"
**Describe the bug**
When a newly created graph in Script Canvas is saved, the "*" appears next to a name of the said graph, which results in a need of saving it for the second time. This issue might be related to https://github.com/o3de/o3de/issues/6448.

**Steps to reproduce**
1. Go to Tools > Script Canvas.
2. In the Script Canvas File > New Script.
3. Create a simple graph (e.g. Game Entity >

[2022-07-28 12:48] LB-JakubSkorupka opened #10937 "Axis Aligned Box Shape Component mode header name displays "Box Edit Mode""
**Describe the bug**
The Component mode header name of the **Axis Aligned Box Shape** is displayed as "Box Edit Mode" instead of "Axis Aligned Box Edit Mode".

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity.
2. Add **Axis Aligned Box Shape** component to the entity.
3. Enter the Component mode by clicking "Edit" on previously added component.

**Expected behavior**
The

[2022-07-28 12:55] LB-ArturZieba commented on #10883
We have noticed that there is a line of code in the commit suggesting that there is supposed to be an error returned to the user, but we could not find a way to trigger it:
[code]
We have tried relaunching the Editor, adding the node to a script, saving it, launching it, using it in a player control setup, and launching the Game Mode. Should this be reported as a separate issue?

[2022-07-28 13:38] LB-JakubSkorupka commented on #3887
Verified that this issue no longer occurs on Windows build Development (5dd4d9f). Due to following issue https://github.com/o3de/o3de/issues/10080 we were unable to confirm this on Linux OS.

[2022-07-28 13:46] #10083 closed

[2022-07-28 14:51] AMZN-stankowi commented on #10890
The Asset Importer isn't a feature of the Asset Pipeline, it's an Editor feature. I'm removing the Asset Pipeline tag from this issue.

[2022-07-28 14:54] AMZN-stankowi commented on #10915
at a previous place I worked, I had set up prowl notifications to have my computer text my phone when my builds were done. It wasn't an integration with the code I was building itself, it was an external solution, but that might help in your case.

[2022-07-28 15:26] spham-amzn commented on #9841
That is probably related to an EC2 instance vs hardware. I suspect its a timing issue, for some reason Qt on Linux is ignoring the set_cursor call when game mode ends

[2022-07-28 15:47] AMZN-Olex commented on #10064
Ah, no, unfortunately, that didn't address the entire issue, it just made it less likely to happen. It still needs another pass. It doesn't appear to be a critical issue or it doesn't appear to break anything, though.

[2022-07-28 15:49] AMZN-daimini commented on #10932
Hi, thanks for keeping up with new development :D

The DPE is currently a Work In Progress, and the `ed_enableDPE ` flag is not meant to be enabled by users yet. As such, I'm lowering the priority of this to major.

@alexmontAmazon @amzn-tmryan FYI

[2022-07-28 16:02] spham-amzn commented on #9594
reMARS demo is complete, closing issue

[2022-07-28 16:02] #9594 closed

[2022-07-28 16:17] amzn-changml opened #10939 "Update CMake in AR nodes to 3.24.0"
**Is your feature request related to a problem? Please describe.**
In order to utilize features such as VS2022 generation, CMake will need to be upgraded on the AR build nodes to the latest version as of 7-28 (3.23.2)

**Describe the solution you'd like**
Update CMake on the build node images and redeploy

[2022-07-28 16:27] allisaurus opened #10940 "Material instance changes missing in game launcher"
**Describe the bug**
Adding a material override (custom texture or color) to a material instance appears as expected when running a level in the editor (`ctrl` + `G`), but the same features are missing when running the built game launcher directly.

**Assets required**
This was tested with the latest o3de-multiplayersample, but with a new, non-networked level.

**Steps to reproduce**

1. open a ga

[2022-07-28 16:35] yuyihsu commented on #9436
@shawstar can your DCCsi tool fix this issue?

[2022-07-28 16:53] lmbr-pip commented on #10517
As this is blocking developer, we are raising priority of issue so increase visibility

[2022-07-28 16:56] yuyihsu commented on #7470
There are two ways to solve this:
1. In the DCCsi tool, we should help detect the unrecognizable characters and let user know the naming convention that O3DE has. so they can make the changes before bringing the assets to O3DE.
2. In O3DE, when it detects a file name that is not following the naming convention, we should consider showing the error message in the Asset Processor telling user a list

[2022-07-28 16:56] jeremyong-az commented on #10517
I think the folks maintaining this aspect of the system would appreciate some additional clarity on what the conclusion is from the discussion above. Is the problem a bug in the documentation, or are the workarounds/alternatives to what was originally tried not suitable?

[2022-07-28 16:57] galibzon commented on #10517
@NiklasHenricson , can you please change:

[2022-07-28 17:04] AMZN-stankowi commented on #10517
Why are the MaterialType files referencing the Shader files via path and not via source asset UUID?

Also, let me know if there's anything you need the asset pipeline team to take a look at. Reading this thread I think the problem's being handled, but I can provide additional assistance, if needed.

[2022-07-28 17:06] #9703 closed

[2022-07-28 17:10] jckand-amzn opened #10941 "Test Tools: launcher_platform parameterization behaves unexpectedly"
**Describe the bug**
launcher_platform parameterization behaves unexpectedly. Test suites that only have `@pytest.mark.parametrize("launcher_platform", ['windows_editor'])` specified will still run on Linux. To skip tests on Linux, users must use a `@pytest.mark.skipif' statement or alternatively setup PAL traits flags for their tests, e.g.

AutomatedTesting/Gem/PythonTests/Platform/Linux/PAL_trai

[2022-07-28 17:13] jckand-amzn commented on #10941
The Prefab test tests are a good example of this in action. AutomatedTesting/Gem/PythonTests/Prefab/TestSuite_Main.py only has windows parametrized:

[code]

however, tests still execute successfully on Linux: https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2808/pipeline/591

[2022-07-28 17:18] jckand-amzn commented on #10941
As an additional note, if `linux_editor' is added to the parameterization for Editor test suites, the tests will execute against Windows twice, once with the following warning:

[code]

[2022-07-28 17:19] hultonha commented on #9884
Note this ticket is also related to this issue - https://github.com/o3de/o3de/issues/10922

[2022-07-28 17:25] allisaurus commented on #10940
closing as appears to be a duplicate of https://github.com/o3de/o3de/issues/8920

[2022-07-28 17:25] #10940 closed

[2022-07-28 17:26] hultonha commented on #9884
#9883 (same issue)

[2022-07-28 17:27] srikappa-amzn opened #10942 "Deleting of prefab after exiting focus crashes the editor"
**Describe the bug**
If you come out of focus mode of a prefab and delete it, it crashes the editor

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new level or open existing level
2. create a prefab or instantiate any prefab
3. Enter focus mode of the prefab (double click it)
4. Modify any entity within the prefab (change transform, add mesh, etc.)
5. Come out of focus mode (cl

[2022-07-28 17:30] galibzon commented on #10517
For example this document: https://www.o3de.org/docs/user-guide/assets/pipeline/scan-directories/
Requires more details into what folders inside a `Gem` are considered `scan directory`.

[2022-07-28 17:32] michleza commented on #10412
Verified this works in latest dev. No errors and I can click to move the agent around the environment.

[2022-07-28 17:34] lmbr-pip commented on #9820
Will need to extend autogenerated code generation to allow for overriding icons.

[2022-07-28 17:36] lmbr-pip commented on #10857
Need to break out into:
* What logs Networking owns and fix those (or content causing issues)
* A general issue about too much log spam when running game or loading in editor (send to UI-UX as there are already issues)

Link to pre-existing items , and raise with TSC/quality owners.

[2022-07-28 17:41] lmbr-pip commented on #10859
Currently we lose priority on messages when sending EditorServer logs, only crude separation of logging vs error/warnings.

Action items:
* Fix priority of piped logs
* Forward to Editor team to provide better filtering in editor console

[2022-07-28 17:50] lmbr-pip commented on #9991
@NiklasHenricson Any update here? Otherewise we will consider this fixed.

[2022-07-28 17:51] NiklasHenricson commented on #9991
Hi @lmbr-pip please close this. I haven't experienced it ever since. I'm sorry for my late reply.

[2022-07-28 17:51] lmbr-pip commented on #9998
Team has added MarkForRemoval support in https://github.com/o3de/o3de/issues/10006. @xiapeng78 can you see if this still occurring once you've consumed those changes and updated your scripts?

[2022-07-28 18:06] gadams3 commented on #10908
On the current version of development, the graph does not fail when entering decimal point values. There are no asset processor failures being reported in the video.

The problem is that you are not seeing the viewport update immediately after changes are made.

Material canvas does not update instantaneously like material editor because it requires shaders to be recompiled. Without additional reg

[2022-07-28 18:07] HogJonny-AMZN opened #10944 "Material Editor: duplicating files from the asset browser context menu allows users to copy files into folders that break references to other files and prevent the material from opening"
**Describe the bug**
find an existing material in material editor asset browser, right-click on it to duplicate, save in a new location, then open the new duplicate.

**Assets required**
No new assets needed.

Prerequisits:
1. my engine repo is: c:\depot\o3de-dev
2. my project is in a separate repo: c:\depot\o3de-gamejam
3. I compile in an engine-centric way (I cmake configure my build, generally

[2022-07-28 18:08] lmbr-pip commented on #7672
I have moved this back to triage/needs-information as we need to understand the use case. If @macy12825 can provide use case, then we consider feature.

[2022-07-28 18:09] adamdbrw commented on #10754
@spham-amzn I remember you mentioned that there can be a difference when running with an EC2 instance. Could you chip in?

[2022-07-28 18:17] AMZN-Gene commented on #8920
Reproduced @ #10940

[2022-07-28 18:17] spham-amzn commented on #10754
I have seen this issue occur on my physical linux box, usually when this don't get closed properly. The icon will not clear itself unless you reboot or re-log into ubuntu

[2022-07-28 18:30] gadams3 commented on #10944
I'm not sure that this in itself is a bug, at least not a unique one. It's duplicating the material files the same way as you would move or copy and paste files through the OS. While it could, it does not currently open the file to update any of the file references as part of duplicating.

The old Macbeth materials are also using ../../ relative paths instead of asset folder relative paths which w

[2022-07-28 18:50] michleza commented on #8381
This is no longer an issue in latest dev. The input & output interaction described in the repro steps never falls behind and always comes out as expected.

[2022-07-28 18:50] #8381 closed

[2022-07-28 18:51] michleza commented on #8839
This was fixed with PR: https://github.com/o3de/o3de/pull/9288

[2022-07-28 18:51] #8839 closed

[2022-07-28 18:54] srikappa-amzn commented on #10697
@LB-JakubSkorupka , I came across another issue with deleting of prefabs from editor. So the issue you reported might not have anything to do with deleting prefab from disk. Can you verify if this is what you are running into? https://github.com/o3de/o3de/issues/10942

If so, this issue can be closed and we can track 10942 for a fix

[2022-07-28 19:28] santorac commented on #10305
It's not urgent, just inconvenient when I have to switch projects to test something.

[2022-07-28 19:46] AMZN-stankowi commented on #10517
I've been working on documentation updates for the asset pipeline, I've added that page to my list to go back over.

[2022-07-28 20:10] AMZN-alexpete opened #10948 "ProjectManager Settings should use AZ::IO::Path"
**Is your feature request related to a problem? Please describe.**
This is an issue to track improvements suggested in the following PR https://github.com/o3de/o3de/pull/10441 for Settings.h and Settings.cpp

**Describe the solution you'd like**
Implement and merge recommendations and investigate if can be backwards compatible with existing settings.

**Additional context**
Changing the settings t

[2022-07-28 20:51] srikappa-amzn commented on #10048
If you are the author of a PR who fixed an issue, you can close the issue after verifying that it's no longer reproducible. Alternatively, you can also request the author of the github issue if you want an additional set of eyes to validate the fix.

[2022-07-28 21:11] AMZN-Gene commented on #10915
Ha! Nice! My powershell script for building also texts my phone! Thinking about it, what if ProjectManager just looked for a a script in the project to run. From there we could do anything we wanted.

[2022-07-28 21:47] galibzon commented on #10699
@srikappa-amzn , FYI: @gadams3 had issues with `PyIdleWaitFrames` in the past when enabling python scriptability for the Material Editor. See the difference:

[2022-07-28 23:43] yuyihsu commented on #8916
Feedback from the DCC studio toolkit review with @shawstar -
1. The overall direction is good.
2. The awareness part is missing from the demo. We need to think about how to let user aware of this toolkit.
3. Focus on building a better framework first, including the error handling and reporting process.
4. Need to revisit the repo location.

[2022-07-29 00:03] FuzzyCarterAWS commented on #9088
I've been unable to repro this using both SDK buildspec and Editor buildspec processes.

[2022-07-29 00:03] FuzzyCarterAWS commented on #9088
Closing as no repro

[2022-07-29 00:03] #9088 closed

[2022-07-29 02:59] yuyihsu commented on #10015
@lsemp3d @AMZN-daimini , consider the save issue is pervasive and happens frequently, I'm thinking if we can offer a "Save All" (Ctrl + Shift + S) option under the "File" menu in the main editor? It will save every single file that user has created or changed but have not saved in the project file. It can be a short-term solution before we provide the auto save behavior.

[2022-07-29 03:40] yuyihsu commented on #9668
Summary of the solution:
1. On the main editor, we will add a "imGui" button on top of the viewport toolbar to launch imGUI.
2. Change the hotkey to launch imGui from "start" to "Ctrl + ~".
3. When user mouse over the imGUI button, a tooltip will display mentioning the hotkey controls to educate the user in case they need to launch imGUI in the launcher UI, where there will be no toolbar available

[2022-07-29 09:11] LB-JakubSkorupka commented on #10697
@srikappa-amzn, the https://github.com/o3de/o3de/issues/10942 issue does not reproduce for me with the current steps, I confirmed that an entity inside the prefab must be edited in some way (rename entity, add component to the entity, modify values in Transform component) before exiting the Focus Mode and deleting the prefab from the level to cause Editor crash.

[2022-07-29 11:11] LB-ArturZieba opened #10955 "Dither Gradient Modifier component outputs a black rectangle"
**Describe the bug**
Dither Gradient Modifier's output seems to be broken, as it outputs a black rectangle. For comparison of the current output, and expected one, please refer to the **Screenshots** section.

**Steps to reproduce**
1. Create an entity, and add a Landscape Canvas component to it.
2. Click the Edit button on the Landscape Canvas component.
3. Create a new Landscape Canvas graph (Fi

[2022-07-29 11:40] LB-BartoszCwiek opened #10957 "Creating a prefab in the Levels folder results in the disappereance of levels from the list in the Open a Level window"
**Describe the bug**
When a prefab is saved under the same path as levels, there are no levels visible in the Open a Level window despite the fact that they are present in the Levels folder. Additionally, when in the provided situation more than one prefab is created and saved then in the said menu prefabs are available and can be loaded as levels. The workaround is to delete a prefab from the fol

[2022-07-29 12:45] hultonha commented on #10305
Okay good to know, I am looking into this and will update when it's resolved. Thanks for the information

[2022-07-29 13:02] hultonha opened #10958 "Create separator widget (No dependency)"
[Migrated from JIRA LYN-14045]

For the new joint inspector, we will need a generalized separator widget shown in the image below.

The widget is probably pretty similar to the AzQtComponents::Card, which is also shown in the image.

The difference is that it doesnt have any margins, nor changes its background color for the owning widget.

The new widget shall also be part of AzQtComponents.

![im

[2022-07-29 13:11] LB-MateuszSzweda opened #10959 "Recast Navigation: Modifying Agent Configuration or Advanced Configuration values in Recast Navigation Mesh component and clicking enter key allows the selection of the literal part of the textbox"
**Describe the bug**
Changing any digit value in _Agent Configuration_ or _Advanced Configuration_ tab of **Recast Navigation Mesh** component and confirming the change with _Enter_ key makes the previously unselectable literal part of the values textbox selectable with the mouse drag.

Please also note that after changing the digit values the literal part of the textbox is no longer grayed out.

[2022-07-29 13:12] hultonha opened #10960 "Use new separator widget for motion set window (Dep: Separator widget)"
[Migrated from JIRA LYN-14136]

Use the new separator widget in the motion sets plugin. 

Currently/before change:

![image-2022-07-26-14-31-16-007](https://user-images.githubusercontent.com/82228511/181768141-9e8c11c8-056f-4580-8100-86ceac8318f4.png)

After change:

The separators should say "Available Motion Sets" and "Selected Motion Set" and not "Cloth Colliders", I just copy pasted that from

[2022-07-29 13:16] hultonha opened #10961 "Move anim graph node groups window functionality to context menu and remove plugin (No dependencies)"
[Migrated from JIRA LYN-12677]

Please see attached video regarding the current workflow on how to create, edit and remove node groups.

The whole Node Groups window shall be removed and all of its functionality shall move to the context menu of the graph window.

**Acceptance Criteria:**
 * A new node group can be added when bringing up the context menu in empty graph space. A pop-up window will

[2022-07-29 13:21] hultonha opened #10962 "Character selection in Skeleton Outliner (No dependency)"
[Migrated from JIRA LYN-12679]

Currently, we have two duplicated plugins that show the skeleton hierarchy, the EMotionFX::SkeletonOutlinerPlugin and the legacy EMStudio::NodeWindowPlugin.

This task is about the new EMotionFX::SkeletonOutlinerPlugin. The SkeletonOutlinerPlugin contains a tree view that shows all the nodes/joints/bones inside a skeleton (of the currenty selected character). Root j

[2022-07-29 13:25] hultonha opened #10963 "Remove "Anim Graph Palette" window and move functionality (No dependency)"
[Migrated from JIRA LYN-14133]

Please see the attached video called "CurrentState_HowToCreateNodes.mp4" to see the currently available ways on how to create nodes in the anim graph.

The aim of this task is to get rid of the "Anim Graph Palette" (first shown in the video) and improve the context menu based version (shown afterwards in the video).

The new workshow shall be like in the "Script Can

[2022-07-29 13:25] LB-MateuszSzweda commented on #9927
Unfortunately the issue was reproduced on machines with AMD CPU as well as Intel CPUs.

[2022-07-29 13:38] hultonha opened #10964 "Move event presets to time line and remove events plugin (Dep: Separator widget)"
[Migrated from JIRA LYN-12678]
This is how it currently looks:

!image-2022-07-26-09-28-26-112.png|width=965,height=525!

The "Motion Event Presets" window needs to move down into the "TimeView" window as shown below:

!image-2022-07-26-09-29-59-277.png|width=965,height=525!

Please see the attached video called "SideGripWindow.mp4". This is how the motion event presets shall be accessible in the

[2022-07-29 13:42] hultonha opened #10965 "Move anim graph parameter properties to inspector"
[Migrated from JIRA LYN-11489]

**Description**
The properties of a parameter that are currently shown inside the "Edit Parameter" window shall be moved into the Inspector window.

**Old workflow:**
Anim graph parameters are shown and edited in the "Parameters" window on the bottom right. They are listed by their name and have a widget to control the current value.

![image](https://user-images.gi

[2022-07-29 13:54] mbalfour-amzn commented on #7637
This should be fixed with #10924 .

[2022-07-29 13:54] #7637 closed

[2022-07-29 14:36] shawstar commented on #10160
When trying to repo, the only time I have an issue if the Selection Box happens to turn on while doing a ALT Key/Left mouse click. So, if you First Hold Down the Left Mouse for 2 or so seconds the Selection draw box will turn on and then ALT Key will not rotate the view. Maybe playing with the Left Mouse down press hold time will help a bit?

[2022-07-29 14:39] shawstar commented on #10160
Blender has this same workflow.. almost exactly.

[2022-07-29 15:14] lawsonamzn commented on #9885
Note that the above PR isn't going to 100% solve all problems with dragging stuff around.  But at the very least it should stop dragging stuff causing duplicate mesh components unless you intentionally drag from the asset browser into the inspector area of the entity.   (In which case, you chose to add all those components to the selected entity, intentionally)

[2022-07-29 15:15] lawsonamzn commented on #9885
I'd recommend adding additional tickets for e.g. improving the way we generate procprefabs (ie, making it possible and easy to generate default procprefabs even with scene settings present), as well as the quality of the generated procprefab (they currently think each lod is a different mesh)

[2022-07-29 15:25] AMZN-stankowi commented on #8914
This pull request should address the core issue here, with the closing window popup being confusing. https://github.com/o3de/o3de/pull/10967

We have several other tickets to cover other work to improve the experience of using this tool.

[2022-07-29 16:42] srikappa-amzn commented on #10697
Thanks for confirming @LB-JakubSkorupka . Yes you are correct. The entity inside the prefab must be edited in some manner before exiting focus and deleting the prefab to see the crash. I'll update the repro steps on that issue and closing this one as a duplicate.

[2022-07-29 16:42] #10697 closed

[2022-07-29 17:06] amzn-mike commented on #10692
I'm going to mark this as closed for now since its difficult to reproduce locally and may have been fixed by the above mentioned PR.  If this occurs again, please re-open this issue.

[2022-07-29 17:06] #10692 closed

[2022-07-29 17:11] bhanuja-s opened #10970 "Create new reusable secondary Tab UI Component"
#### Background
We are proposing a new design direction for O3DE's secondary, or 'file' tabs. This is to differentiate between the types of tabs (application, file and panel) to help the user's mental model. We would do this by creating a visual hierarchy using colour.

Currently, @sphrose is working on the implementation of these tabs for the Asset Editor (#2931). We want this UI Component to be

[2022-07-29 17:18] AMZN-alexpete opened #10971 "Mac support for launching projects that use a different engine"
**Is your feature request related to a problem? Please describe.**
The following PR adds support for launching the editor from another engine, but only for Windows and Linux https://github.com/o3de/o3de/pull/10441

**Describe the solution you'd like**
A similar solution for Mac

**Additional context**
Mac app launching and discovery is different than Linux and Windows due to how files are inside .

[2022-07-29 17:24] bhanuja-s commented on #10970
![File Tab - Design Specification](https://user-images.githubusercontent.com/84036086/181811887-59a06913-3210-48d0-b1c3-430e826048fd.png)

[2022-07-29 17:25] bhanuja-s commented on #10970
![File Tab : Design Specification](https://user-images.githubusercontent.com/84036086/181812129-4b1eb4b6-7a00-48f9-96b7-f9977066b52c.png)

[2022-07-29 17:51] junbo75 opened #10972 "Script Canvas builder loads other product assets during the CreateJobs phase"
**Describe the bug**
It's noticed that the Script Canvas builder tries to load all the assets referenced in the graph during the CreateJobs phase. This could be a problem since there's no guarantee that the referenced assets have been processed when AP create jobs for the script canvas asset

**Assets required**
- https://github.com/o3de/o3de/blob/development/AutomatedTesting/Levels/Navigation/Nav

[2022-07-29 17:53] bhanuja-s commented on #10970
![File Tab : Interactions](https://user-images.githubusercontent.com/84036086/181816891-e8d6fcf8-0739-4692-aaad-f6df3d632549.png)

[2022-07-29 18:12] #9991 closed

[2022-07-29 18:23] srikappa-amzn commented on #10405
Update : Was able to reproduce this. To be able to see the issue in action, it'll help to have a character/object in the level that can be moved with user input. As the character moves, the camera should follow him. The issue is that if the camera rig component targets the container entity of the prefab that has the character, it doesn't follow the character. Whereas if the camera rig component ta

[2022-07-29 18:34] srikappa-amzn commented on #10942
The reason this happens is because if an entity gets modified while in focus, the dom used to deserialize it will also be cached, which doesn't have a linkId. So, when you exit out of focus and try to delete it, it tries to look for the LinkId and it can't find it and it crashes.

[2022-07-29 20:00] onecent1101 commented on #10926
Is your entity attached to any parent entity? Local rotation is relative to parent entity. If your entity parent is world, then they are the same.
I have recently tested both set world and local rotation, they work as expected. you can see my tested video in the PR https://github.com/o3de/o3de/pull/10782

[2022-07-29 20:54] shawstar opened #10976 "Cloth Collisions will not Preview in Simulate in Editor, only in Play Mode."
**Describe the bug**
Cloth Collisions will not Preview in Simulate in Editor, only in Play Mode.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Simulate in the Editor' Cloth Component
2. Toggle on
3. Now go into Play Controls on the top Right and Press Play
4. Notice only the Play version will show Cloth Collisions.
5. See error

**Expected behavior**
When I preview when clickin

[2022-07-29 21:02] #5938 closed

[2022-07-29 21:34] AMZN-stankowi opened #10978 "Asset Processor crash in Debug"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching

[2022-07-29 23:41] galibzon opened #10984 "CVAR cl_assetLoadWarningMsThreshold should be set to 1000ms by default"
**Is your feature request related to a problem? Please describe.**
The default value for CVAR `cl_assetLoadWarningMsThreshold` should be set to 1000ms, instead of 100ms.

Otherwise most customers experience a flood of these warnings when starting the Editor:
[code]

**Describe the solution you'd like**
The default value for CVAR `cl_assetLoadWarningMsThreshold` should be set to 1000ms, instead of

[2022-07-30 07:20] jonatjano opened #10987 "Floats in asset properties loses values on editor restart when system number format is french"
**Describe the bug**
When restarting the editor assets and UI canvas with float values get these values reset to 0,
This is due to the number format of my system : the french number format uses a comma as the decimal separator (123,45)
When changing my system number format to English the issue is solved (123.45)

The assets seems to be saved correctly since when I changed my system language, it lo

[2022-07-30 16:32] ParasiteSt commented on #10926
![image](https://user-images.githubusercontent.com/100494538/181926951-f9340271-28af-44b4-83ac-9644b55a1c75.png)
This is how my entity looks, the parent entity is the level/world, but everything in the level is parented to this entity as that is where all entities go when you create a new entity. If this is what you are talking about as the entity having the parent being world, I am confused on ho

[2022-07-30 16:38] ParasiteSt commented on #10926
https://user-images.githubusercontent.com/100494538/181931439-33a02311-7d90-4ca6-98f2-d53c03ffa4b6.mp4
This is a small clip showing what I mean, if this is the reason why local rotation does not work with my entity, I feel like local rotation should not take the level entity into account for local rotation as you are not able to move any entity out of the level.prefab.

[2022-07-31 00:02] AMZN-Gene opened #10988 "Multiplayer: As a Dev I want Editor to Detect Server Crash Before Connection Times Out"
**Is your feature request related to a problem? Please describe.**
When developing a multiplayer game sometimes the server crashes, but I don't know about until the connection status times out which appears to take about ~8 seconds.

**Describe the solution you'd like**
Because the editor launches the server itself and holds onto a process watcher, it's possible for the editor to detect when the s

[2022-07-31 16:16] pollend opened #10991 "Editor RHI crash releated to GHI-10863"
**Describe the bug**

This crash was found running the editor in Linux. I ran git bisect and pinned it down this this PR https://github.com/o3de/o3de/pull/10863/files. seems like some order is changed where m_srgLayout is not correctly initialized.

found that `descriptor.m_srgLayout` in GpuBufferHandler.cpp is a nullptr.

seems like this is triggered when the AssetProcessor is killed because of a

[2022-07-31 20:07] pollend commented on #9879
umm, looks like something is happening when is parse `/proc/self/status`.

[2022-08-01 00:40] robhaco commented on #8353
The automated testing gem no longer displays in the gem list for other projects.  Closing this issue as no longer able to reproduce.

[2022-08-01 00:40] #8353 closed

[2022-08-01 00:50] robhaco commented on #7856
@AMZN-alexpete wanted to confirm with you, but I'm not sure this is a bug.  My understanding is the project registration steps shouldn't affect the presence of a custom gem created in the current engine directory.

[2022-08-01 00:55] robhaco commented on #7791
Still occurring as of development 7/29/2022

[2022-08-01 00:56] robhaco commented on #7692
Still occurring as of development 7/29/2022

[2022-08-01 00:59] robhaco commented on #7691
Still occurring as of development 7/29/2022

[2022-08-01 00:59] robhaco commented on #7685
Still occurring as of development 7/29/2022

[2022-08-01 01:00] robhaco commented on #7683
No longer able to reproduce this issue as of development 7/29/2022.  Closing the issue.

[2022-08-01 01:00] #7683 closed

[2022-08-01 09:16] LB-BartoszDudzinski commented on #8353
Verified as Fixed in development.

[2022-08-01 09:28] LB-JakubSkorupka commented on #7637
Verified that issue is fixed on build Development (966848d).

[2022-08-01 11:52] #10305 closed

[2022-08-01 11:52] #10261 closed

[2022-08-01 12:14] LB-MateuszSzweda opened #10997 "Terrain: Setting 2048 as clipmap image size in Clipmap configuration tab of Terrain World Renderer component crashes the Editor"
**Describe the bug**
Enabling Clipmap and setting clipmap image size to 2048 in the _Clipmap configuration_ tab of the **Terrain World Renderer** crashes the Editor.

Please note that the Editor will crash regardless if there is a Terrain Layer Spawner entity on the Terrain World or not.

For further information please refer to the attached video file and crash logs.

**Prerequisites**

* **Terrai

[2022-08-01 12:31] LB-MateuszSzweda opened #10999 "Terrain: Rapidly changing values of Macro clipmap max resolution or clipmap scale bases in Clipmap configuration tab of Terrain World Renderer component crashes the Editor"
**Describe the bug**
Enabling Clipmap and rapidly changing values of the **Macro clipmap max resolution** or **Macro clipmap scale base** or **Detail clipmap scale base** in _Clipmap configuration_ tab of **Terrain World Renderer** component crashes the Editor.

It was observed that the crashing is less frequent if the user waits for a second or two after the values are changed.

Please note that

[2022-08-01 12:46] adamdbrw opened #11000 "Quaternion::GetEulerRadians() computes incorrect values for some cases"
**Describe the bug**
For certain Quaternions, `GetEulerRadians()` returns incorrect values. This could have significant consequences overall. In my case, it results in incorrect Transforms when importing models from formats such as URDF.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Set Quaternion to `(0.5, 0.5, 0.5, 0.5)`
2. Run GetEulerRadians() for this quaternion and print XYZ va

[2022-08-01 13:40] amzn-ahmadkrm opened #11001 "Bug Report: Component card drop down not working until user clicks into the component card"
**Describe the bug**
When the editor first opens and a user selects an entity with a component attached to it, the user cannot interact with the drop down context menu:
![image](https://user-images.githubusercontent.com/105638312/182159748-8847e7f6-e10d-4f2e-91a4-500e295c0088.png)

The user has to click into the component card and then is able to interact with the drop down menu as usual, for any

[2022-08-01 14:42] adamdbrw commented on #11000
Patch that works for me (haven't tested it in the broad context):

[code]

[2022-08-01 15:08] jckand-amzn commented on #10796
Recently cut a new branch to enable Editor Python automation on Linux, and this same test is failing there consistently with a crash. The following info appears in the Editor.log, however no crash dump is available on Linux:

[code]

[2022-08-01 15:19] #2470 closed

[2022-08-01 15:19] hultonha commented on #2470
https://github.com/o3de/o3de/pull/10860

[2022-08-01 15:57] lmbr-pip commented on #10984
We should ideally:
* Historically reason warning is so low
* Look to see if this warning should be on by default (90% use case is that it adds little value in editor / editing loops)
* Understand if loading has degraded over time so warning is more prevelant

[2022-08-01 15:58] lmbr-pip commented on #10978
Debug crash, treating as crticial. Automated processes accidentally took off needs-triage label so for now re-applied so can be accepted by SIG

[2022-08-01 16:03] #10188 closed

[2022-08-01 16:09] AMZN-Olex opened #11003 "On load level, an Atom assert is hit: "SubmitItem index 122 is not in the valid submission range for this CommandList""
**Describe the bug**
I have observed that quite often the following assert gets hit while in the Editor.

[code]

**Assets required**
I can repro this on o3de-multiplayersample but also on other projects.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor
2. Load a level
3. Observe the assert in the log

**Expected behavior**
The assert isn't hit.

**Actual behavior**
Assert s

[2022-08-01 16:12] hultonha commented on #10976
Tagging @moraaar for visibility - this might be something to take a quick look at at some point if you have capacity. Just want to make sure it's on your radar at least. Thanks!

[2022-08-01 16:13] lmbr-pip commented on #10984
CVar is set in client, server and editor.cfg at 100ms: https://github.com/o3de/o3de/blob/80db67e90a1aa44c954d3814eaefd12c345db2b3/editor.cfg#L12

[2022-08-01 16:24] onecent1101 commented on #10926
@ParasiteSt I think your small clip proves my guess, you didn't attach your entities to any parent entity, all of them are located in level directly which means their parent is world coordinate.
I believe you misunderstand Entity and Component, what you tried to show in screenshot and clip is Transform Component, which each Entity should have one for its transform information in the level.
What I

[2022-08-01 16:26] hultonha commented on #11000
I believe @pollend has been working on a PR related to this and might be worth reaching out to - see https://github.com/o3de/o3de/pull/10852 for more details

[2022-08-01 16:41] #10925 closed

[2022-08-01 16:41] jckand-amzn opened #11004 "Launcher: AutomatedTesting.GameLauncher is crashing at quit"
**Describe the bug**
AutomatedTesting.GameLauncher is crashing at quit.

**Steps to reproduce**
1. Launch AutomatedTesting.GameLauncher through Visual Studio.
2. Open the Console (~) and type quit.

**Expected behavior**
Launcher quits cleanly.

**Actual behavior**
Launcher throws an exception on close:

[code]

[Game.log](https://github.com/o3de/o3de/files/9235715/Game.log)

**Found in Branch**
d

[2022-08-01 16:42] jckand-amzn commented on #11004
This looks to possibly be related to the Audio system. Game.log displays many lines of spam after the quit command has been executed:

[code]

[2022-08-01 16:43] jckand-amzn commented on #11004
This issue causes an automated test failure in the Periodic suite with test_Launcher_MultipleLevelLoads when the test executes the quit command.

[2022-08-01 17:03] pollend commented on #11000
sound like something I can look into after https://github.com/o3de/o3de/pull/10852. Those test cases I have can be used to test the reverse case of going from quaternion back to euler.

[2022-08-01 17:13] AMZN-alexpete commented on #7856
I think what is happening is that when the gem is created it is registered globally in the o3de_manifest.json and maybe with the engine, but when you are unregistering it, the instructions you provided are to unregister it from your project which would not remove it from the list of known gems a.k.a the Gem Catalog.

To unregister the gem completely so it doesn't appear in the Gem Catalog you need

[2022-08-01 18:35] AMZN-Gene commented on #10850
I was never ever able to repro the issue. I did, however, delete the asset in order to open the editor, and after re-adding everything was fine.

[2022-08-01 18:37] ParasiteSt commented on #10926
https://user-images.githubusercontent.com/100494538/182219730-1078ea13-fd3e-4403-9c59-fdc7d5b5681c.mp4

@onecent1101 I am very sorry if this clip also just proves what you are saying more, and dragging this out, but I am not totally sure if that is the issue. I have one more clip that shows a simple graph that rotates on local Y, but in my experience in other engines if I rotate on the local Y of

[2022-08-01 18:40] AMZN-Gene commented on #10900
_"sometimes Y is up and sometimes Z is up"_
That's a bit alarming; I would think we'd want consistency to avoid confusion.

[2022-08-01 19:52] onecent1101 commented on #10926
@ParasiteSt I don't really follow what you are trying to achieve here. If your entity as you said is top most entity in level, then what local rotation you would expect here?

For example, for top most entity in level, you set its local rotation to (0, 1, 0), and its world rotation = local rotation + parent world rotation, but as its parent is the level and world root rotation won't change we can

[2022-08-01 20:08] robhaco opened #11006 "User is able to successfully launch the Editor for a new project without first compiling"
**Describe the bug**
When the user creates a new project and selects "Open Editor" from Project Manager without first building the project.  The Editor successfully launches without the project having been built.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Project Manager
2. Create a new Project using Default Template
3. Select "Open Editor" on the project preview (without b

[2022-08-01 20:26] galibzon commented on #11003
@AMZN-Olex Is this a new bug on an existing level? Or new level and new bug?

[2022-08-01 20:42] ParasiteSt commented on #10926
@onecent1101 wow, thanks for the extra info, I was coming at this way wrong. Like in the video, in the editor I am using local space not world space. I was thinking using local rotation was going to use the local space, because if I turn my entity on the Z axis, and try to rotate on the Y axis in local space it always rotates the sides of the entity, not always rotating the Y axis. I was not think

[2022-08-01 20:49] antonmic commented on #11003
This is related to some code Doug added to catch passes that submit more items than they should due to multithreading calling submission several times and the pass not respecting the range passed by these calls. Sounds like something wasn't updated to respect this new paradigm.

[2022-08-01 20:49] onecent1101 commented on #10926
I don't think there is support for using local space in scriptcanvas, but most use cases should be achievable through world and local transform at this point.

I can see there is confusion about Editor Viewport W/P/L usage, will loop in UI team and see whether we can get some help from them.

[2022-08-01 20:57] michleza opened #11008 "Script Canvas: Graphs run through interpreter will not always use user provided values"
**Describe the bug**
Graphs loaded in interpreter will use default values even if you provide your own values to exposed variables

Steps to reproduce the behavior:
1. Run editor and open Script Canvas
2. Make a new basic script canvas graph. A math operation that runs on graph start and prints the result will work.
3. expose the graph variables to component and give them default values if you wan

[2022-08-01 21:42] jckand-amzn commented on #10346
I tested against a debug build and also didn't get a callstack.

[2022-08-01 21:49] AMZN-stankowi commented on #8914
https://github.com/o3de/o3de/pull/10967 is merged, it addresses the main concern of this ticket. We have separate tickets to cover the other improvements to make to the Scene Settings tool, so I'm closing this ticket as done.

[2022-08-01 21:49] #8914 closed

[2022-08-01 22:26] #8953 closed

[2022-08-01 22:26] #4079 closed

[2022-08-01 22:26] #6187 closed

[2022-08-01 22:26] #7686 closed

[2022-08-01 22:26] #7789 closed

[2022-08-01 22:32] lmbr-pip commented on #10839
This issue relates to https://github.com/o3de/o3de/issues/10868

[2022-08-01 22:33] AMZN-Gene commented on #3973
2nd this request! This option is great, but I just learned about it today.
Alternatively, if there was a console preferences menu with "Clear Console at game startup", "Console Background (color)", "Show Time in Console", you could also just add a button in the console to open that menu. I agree though that the "clear console at game startup" seems like a good place.
Is this a good first issue? If

[2022-08-01 22:55] AMZN-Gene opened #11011 "Project Manager: Open Visual Studio Solution"
**Is your feature request related to a problem? Please describe.**
I have to go digging into my build folder to find my visual studio solution. build/windows/MyProject.sln

**Describe the solution you'd like**
_Currently, I use the Open Project folder... option_
![image](https://user-images.githubusercontent.com/32776221/182258861-f5d3d895-9234-4cfc-a42b-edd10e5524d8.png)

It would be cool if the

[2022-08-01 23:25] ParasiteSt opened #11012 "Feature Request: The ability to use local space as well as world space on nodes in script canvas."
**Is your feature request related to a problem? Please describe.**
I have had a problem for a week or so now, where I want an entity to rotate on one axis in local space so I can keep only rotating that entity in a forward direction, while script canvas seems to only have/use world space, and I have tried a few approaches to make something that could work for what I am trying to do, but nothing so

[2022-08-01 23:49] pollend commented on #10900
I'm not implying that the rest of the Editor does this; poor wording. just commenting on the fact that the definition of Up can be different. I like the explicit X, Y and Z

[2022-08-02 01:31] AMZN-Olex opened #11014 "Editor lockups when entering game mode, 50% repro, deadlocked loading a material"
**Describe the bug**
In a level with an EMFX actor, entering game mode occasionally locks up due to a deadlock.

[code]

**Assets required**
I was using this actor: https://www.mixamo.com/#/?page=1&query=jennifer&type=Character

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor
2. create or load a level with an actor
3. enter game mode a few times

**Expected behavior**
Game m

[2022-08-02 01:32] amzn-rhhong commented on #10373
![ezgif-5-013a41a7e8](https://user-images.githubusercontent.com/69218254/182272586-c54b0f36-23e1-4b50-bcb3-7d1a9d5bb666.gif)
I think the bug is fixed with https://github.com/o3de/o3de/issues/9703

[2022-08-02 02:54] #10991 closed

[2022-08-02 02:54] pollend commented on #10991
resolved with this change: https://github.com/o3de/o3de/pull/11005

[2022-08-02 03:49] ParasiteSt commented on #11012
I got a great suggestion on the o3de server, so this is not needed for my use case, but it should be brought up if it would be worth looking into. It seems like a big feature request, at least for script canvas for how many nodes would need this addition to them. Its more of a thought, and should definitely be voted on possibly in an rfc type fashion. Any thoughts or requests would be appreciated.

[2022-08-02 03:52] rainbj commented on #10984
Just to throw my two sense into the mix. I spent about two days asking around why my editor keeps throwing out all these errors for my game level, even though the number of scripts I have and the low Polly style of my game design shouldn't be resulting in any of these kinds of errors. I started by asking around on the Atom side of the world, thinking I might have impacted some kind of unknown thre

[2022-08-02 08:30] hultonha commented on #10832
@amzn-leenguy This is by design - in Component Mode, you cannot change the global translate/rotate/scale options, so we don't show them. They are replaced by Edit/Component Mode specific options.

[2022-08-02 08:30] #10832 closed

[2022-08-02 08:57] LB-BartoszDudzinski commented on #4079
Verified as Fixed in development.

[2022-08-02 09:22] LB-ArturZieba commented on #10188
Issue verified as fixed on the Development (4212e91) build on both Windows and Linux OS.

[2022-08-02 12:05] LB-HubertUberman opened #11018 "Asset Browser: Inconsistency with naming newly created assets"
**Describe the bug**
Creating AnimGraph and MotionSet assets using Asset Browser results in them being automatically created with the default names, which is inconsistent with the rest of the asset types where the user is able to name the asset when creating it. The issue occurs on both Windows and Linux.

**Steps to reproduce**

1. Open Asset Browser.
2. Right-click on a folder inside your projec

[2022-08-02 13:09] LB-HubertUberman opened #11019 "Asset Browser: Assets created outside of the project folder are not displayed in the directory tree"
**Describe the bug**
Creating assets in folders outside of the project folder results in them being not displayed in the directory tree of the Asset Browser. Note that the asset is actually created and can be found in the selected folder. Also if the created asset is moved into the project folder it is displayed with no issue. The issue occurs on both Windows and Linux.

**Steps to reproduce**

1.

[2022-08-02 13:16] LB-ArturZieba opened #11020 "Show Terrain Queries is drawn inconsistently"
**Describe the bug**
Debug lines drawn by Terrain World Debugger's "Show Terrain Queries" property are being misplaced by camera movement, causing them to not cover the PhysX Heightfield Terrain properly, and creating an unusual visual effect.

**Prerequisites**
Project with the Terrain Gem active.

**Steps to reproduce**
1. Create a new level.
2. Remove the Ground entity (required for visibility

[2022-08-02 13:42] pijaro opened #11021 "Import scale problem for Collada (dae) models."
**Describe the bug**
The mesh scale is invalid for the Collada (`dae`) models. Even if the model is well described in that it uses meters as units, the output in O3DE seems multiple times smaller.

The same model which is exported as Collada and FBX (with default values) looks differently in O3DE. Collada model is about a hundred times smaller.

**Assets required**
Any Collada (`dae`) file, might

[2022-08-02 15:28] jckand-amzn opened #11023 "Periodic: Editor_ComponentCommands_Works consistently fails on Linux Periodic test runs"
**Describe the bug**
Editor_ComponentCommands_Works consistently fails on Linux Periodic test runs.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/rest/organizations/jenkins/pipelines/O3DE_periodic-incremental-daily/branches/development/runs/57/nodes/428/steps/434/log/?start=0

[code]

[2022-08-02 15:52] lmbr-pip commented on #11021
O3DE currently does not support Collada currently (FBX is the main, STL and some support gltf and glb). See https://www.o3de.org/docs/user-guide/assets/scene-settings/scene-format-support/

Support for Collada would have to come is a feature request/RFC, but currently is not on the roadmap.

If you could cover why Collada, what are you trying to use it for, what does it solve for you, that would b

[2022-08-02 16:01] mbalfour-amzn commented on #10931
This is related to issue 6272 - UiRenderer::CreateScene() is adding all feature processors, including terrain, to its viewport. It should be a little more particular in choosing which feature processors it needs.

[2022-08-02 16:18] amzn-tommy commented on #10888
@roywang91 Which branch/commit of the engine are you working with? There is a similar issue, https://github.com/o3de/o3de/issues/3037, which is fixed in the development branch, but that fix is not in the latest release.

[2022-08-02 16:31] onecent1101 commented on #2608
Duplicated with https://github.com/o3de/o3de/issues/10188, and issue has been fixed

[2022-08-02 17:20] rainbj commented on #9668
Some ideas for consideration:
![ImGui - open](https://user-images.githubusercontent.com/82551958/182434720-61c4bcd0-6822-4f0e-9161-173030a91cc6.png)
![ImGui - close](https://user-images.githubusercontent.com/82551958/182434727-10f9f029-1adc-4743-978c-e08d6384a545.png)

We have the possibility of putting the icon inside the main editor bar. However, if we go this direction, it will not show when "g

[2022-08-02 17:55] AMZN-stankowi opened #11026 "Development Branch Build Fails to Compile"
**Describe the bug**
The development branch build is failing to compile
https://jenkins.build.o3de.org/job/O3DE/job/development/2835/

**Steps to reproduce**
Steps to reproduce the behavior:
1. Look at the Development branch https://jenkins.build.o3de.org/job/O3DE/job/development/
2. Click on build [#2835](https://jenkins.build.o3de.org/job/O3DE/job/development/2835/) or [#2836](https://jenkins.bu

[2022-08-02 18:16] Kadino commented on #9948
Failed initial asset processing before test execution, unrelated to test-tools

[2022-08-02 18:21] Kadino commented on #6981
Up to each SIG to recommend how to cover gaps in their coverage. SIG-Testing can consult with them on their ownership/design of automated tests.

[2022-08-02 18:21] #6981 closed

[2022-08-02 18:45] AMZN-alexpete commented on #11011
Appropriate cmake command is:
[code]
(not supported by all generators)

[2022-08-02 19:09] lmbr-pip commented on #10978
Resolving as fixed

[2022-08-02 19:09] #10978 closed

[2022-08-02 19:17] AMZN-daimini commented on #10926
I have looped in the viewport team, and after some discussion we have not found any technical bug to fix.

There is some confusion about the meaning of "Local" in different contexts:

- When referring to the Transform of an entity in code and scripting, the **world transform** is the combination of the absolute translation/rotation/scale based on the world's coordinate system, while the **local tr

[2022-08-02 19:37] ParasiteSt commented on #10926
I think everyone could benefit with documentation on the world, parent and local spaces as its one part I never really research about outside of an engine, and if you do it really shows more about the spaces than most developers would need for working on a project. Having a small documentation on what they do in engine could help others and I out in the future.

I think the grey circles for local

[2022-08-02 19:39] forkercat commented on #10931
Could reproduce the issues and verified that disabling the terrain FP can fix the crash.

[UiRenderer.cpp#L100](https://github.com/aws-lumberyard-dev/o3de/blob/development/Gems/LyShine/Code/Source/UiRenderer.cpp#L100)
[code]
Reference: #10546

A better solution would be enable only the required feature processors as currently implemented in [PreviewRenderer.cpp#L40](https://github.com/aws-lumberya

[2022-08-02 19:44] AMZN-Olex commented on #11014
The other thread was

[code]

[2022-08-02 20:24] #10808 closed

[2022-08-02 20:55] lmbr-pip commented on #10984
Interestingly we have `cl_assetLoadWarningEnable` but it does not suppress these warnings.

[2022-08-02 21:29] #7270 closed

[2022-08-02 22:00] #11026 closed

[2022-08-02 22:24] jckand-amzn opened #11032 "EditorPythonBindings: 'CountComponentsOfType' fails to return a value on Linux"
**Describe the bug**
'CountComponentsOfType' fails to return a value on Linux. The following errors/warnings throw when calling the method:

[code]

**Steps to reproduce**
1. Launch the Editor on Linux with the AutomatedTesting project.
2. Open the Python Console.
3. Run the following code:

[code]

**Expected behavior**
CountComponentsOfType returns a value as it does on Windows.

**Actual behavi

[2022-08-02 22:36] lmbr-pip commented on #3497
WF10 issue, also not critical (but can decide when we groom WF10)

[2022-08-02 22:37] AMZN-Gene commented on #3696
2nd this! I often want to see the cache asset product.

[2022-08-02 22:38] lmbr-pip commented on #3704
Retest issue to see if still occurring

[2022-08-02 22:39] jackalbe commented on #11032
AZ_TYPE_INFO_INTERNAL_SPECIALIZE(unsigned long, "{5EC2D6F7-6859-400f-9215-C106F5B10E53}");
that is odd, seems like a very new behavior then

[2022-08-02 22:39] lmbr-pip commented on #3705
Not a customer facing UX worflow so removing from WF6 scope

[2022-08-02 22:43] lmbr-pip commented on #3719
Tagging in for UX-action as unsure if icons exist. @rainbj do you know if these were ever created?

[2022-08-02 22:46] lmbr-pip commented on #4059
All the Multiplayer and Network settings are under https://www.o3de.org/docs/user-guide/networking/settings/

[2022-08-02 22:47] lmbr-pip commented on #4059
Auto expand works in editor for variables, and we have a general namespace guide here: https://www.o3de.org/docs/user-guide/appendix/cvars/

Will mark as done after checking with @svitlani

[2022-08-02 22:53] lmbr-pip commented on #9511
Need to decide on path forward here:
* Are we filtering out anything but .network spawnables and fixing just this UI
* Or changing asset selection to enable prefab selection and tooling finds right product dependency to use?

[2022-08-02 22:55] lmbr-pip commented on #9514
Need help here from SIG/build as this appears to be hardwired through CMake to how the window title is set.

[2022-08-02 23:00] lmbr-pip commented on #9630
If we are following a .bat approach, need .sh files too for Linux/mac

Case for autoloading is complicated by server.cfg and editor spawned levels. CFGs for client and server are context sensitive so can't autoload.

Did not consider remove .cfgs due to the way .setreg rolls files up (could interfere with the autoloading behaviour). Setreg does not support some older cvar settings.

[2022-08-02 23:08] lmbr-pip commented on #9660
Relates to [8662](https://github.com/o3de/o3de/issues/8662)

[2022-08-02 23:11] forkercat commented on #10942
Did some investigation. The public handler workflow looks good. The issue occurs in InstanceUpdateExecutor during template propagation. InstanceDomGenerator::GenerateInstanceDom() [#L191](https://github.com/aws-lumberyard-dev/o3de/blob/development/Code/Framework/AzToolsFramework/AzToolsFramework/Prefab/Instance/InstanceUpdateExecutor.cpp#L191) returns a instance DOM with link ID removed. Before th

[2022-08-02 23:40] carlitosan commented on #9788
@BytesOfPiDev is the bug still active?

[2022-08-02 23:42] #10972 closed

[2022-08-02 23:43] carlitosan commented on #9384
closed by https://github.com/o3de/o3de/pull/10167

[2022-08-02 23:43] #9384 closed

[2022-08-02 23:48] carlitosan commented on #8901
The changes will be in the new stabilization build.

[2022-08-02 23:48] #8901 closed

[2022-08-02 23:51] lmbr-pip commented on #3704
Tested on latest dev, could not not reproduce.

[2022-08-02 23:51] #3704 closed

[2022-08-02 23:54] carlitosan commented on #9421
Unable to reproduce, likely fixed with recent changes to the SourceHandle and MainWindow.

[2022-08-02 23:54] #9421 closed

[2022-08-03 00:04] lmbr-pip commented on #8403
Relates to https://github.com/o3de/o3de/issues/9841

[2022-08-03 00:18] dmcdiarmid-ly commented on #11003
I have a PR up for this issue, I will merge it early next week.

[2022-08-03 00:34] lumberyard-employee-dm commented on #7662
This has been validated with the against final release CMake 3.23

[2022-08-03 00:34] #7662 closed

[2022-08-03 03:02] BytesOfPiDev commented on #9788
No, it's no longer active. It seemed to stem from me improperly trying to reflect `AZStd::vector<AZ::Crc32>` for use in the asset editor as a parameter. Which I still can't do, but that's a separate issue.

[2022-08-03 03:44] #9788 closed

[2022-08-03 03:44] xiapeng78 opened #11040 "[MultiplayerSample]Entity has PhysX gravity configuration, enable network entity filter function, Entity on client will suspend on air"
**Describe the bug**
Entity has PhysX gravity configuration, enable network entity filter function, Entity on client will suspend on air. It maybe cause some confusion to player.

**Assets required**
Level prefab file:
[SampleBase_mod.zip](https://github.com/o3de/o3de/files/9247713/SampleBase_mod.zip)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create three same cube entities, add

[2022-08-03 05:58] Hsuehnj commented on #10795
It is a different bug.
The product assets of Script Canvas do not have the .scriptcanvas file (old version has it), while the sub-id of the asset carried by GetGraphIdentifier is fixed to 0, and the sub-id corresponding to SubgraphInterface is 0xdfe6dc72, resulting in the inability to obtain product assets.

[2022-08-03 08:25] LB-ArturZieba commented on #9421
Issue verified as fixed on the Development (8493375) build.

[2022-08-03 08:55] LB-ArturZieba commented on #7856
I have verified on the Development (8493375) build that unregistering the Gem using both commands:
[code]
does remove the Gem from the Gem Catalog completely. If you find this information sufficient please close this issue, and I will create a separate issue for o3de/o3de.org, about including this line on the https://www.o3de.org/docs/user-guide/project-config/register-gems/ page.

[2022-08-03 09:29] LB-BartoszCwiek opened #11045 "Asset Editor: Pressing Ctrl+S reverts the value to the previous one in the specific case"
**Describe the bug**
When the User inserts a number in any value slot of the Asset Editor and presses Ctrl+S this action can revert the value to the previous one if actions are followed
in a specific order provided in the reproduction steps
**Please note that this affects only the Asset Editor value slots.**

**Steps to reproduce**
1. Go to Tools > Asset Editor.
2. In the Asset Editor go to File >

[2022-08-03 11:38] lgleim commented on #10373
@shawstar Would you mind verifying that https://github.com/o3de/o3de/pull/10385 fixed this issue for you?

[2022-08-03 12:19] LB-BartoszCwiek opened #11046 "Asset Editor: Number of elements of the Events tab is displayed inconsistently"
**Describe the bug**
When the User creates a new file in the Asset Editor, on the right side of the Events tab (near to "+" and "bin" icons) there is no "[number of] elements" text displayed. However, saving the file and providing any changes to the input field and saving the file again, results in the appereance of the "[number of] elements" text in the said place.
Additionally, the "[number of]

[2022-08-03 12:40] LB-BartoszCwiek opened #11047 "Inconsistent "1 elements" text is displayed when only one element is present in Asset Editor or Entity Inspector component"
**Describe the bug**
When the User creates a new file in the Asset Editor and adds only one element, "1 elements"  text is displayed. In this case, it should display "1 element".
This also occurs in the Entity Inspector with some of the components that can have additional elements added.

**Expected behavior**
"1 element" text is displayed.

**Actual behavior**
Inconsistent "1 elements" text is di

[2022-08-03 13:28] LB-BartoszCwiek opened #11049 "Editor main toolbar menu options are inconsistently displayed in the bottom left corner of Editor"
**Describe the bug**
When the User hovers the mouse cursor over any of the options from the Editor toolbar menus "Ready" text is displayed by default for the multiple menu options instead of the custom tooltip.

**Expected behavior**
Every menu option has its own tooltip when the mouse cursor is hovered over them.

**Actual behavior**
Multiple menu options display "Ready" text as a tooltip.

**Scr

[2022-08-03 13:38] amzn-tommy opened #11050 "Crash with null prefabEditorEntityOwnershipInterface in LocalViewBookmarkLoader"
**Describe the bug**
In the editor I went to

**Assets required**
none

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a level in the editor
2. Go to Tools->Viewport->Viewport Camera Selector

**Expected behavior**
The Viewport Camera Selector opens

**Actual behavior**
Crash with a null prefabEditorEntityOwnershipInterface with the following callstack

 	EditorLib.dll!AzToolsFram

[2022-08-03 13:56] AMZN-stankowi commented on #9402
https://github.com/o3de/o3de/pull/10967

[2022-08-03 13:56] #9402 closed

[2022-08-03 14:33] greerdv commented on #11000
Sorry, only just saw this issue.

The signs are not incorrect. Our rotations are applied in the order Z, then Y, then X and a lot references do X, then Y, then Z, so will have different signs. The problem is that if the y rotation is exactly 90 degrees, then the arguments that go into the two atan2 expressions both go to zero and all information in those terms about the X and Z rotations is lost.

[2022-08-03 14:34] greerdv commented on #11000
The CreateFromEuler functions should not be affected by this problem, because there is an unambiguous conversion from Euler angles to quaternion.

[2022-08-03 14:51] hultonha commented on #10961
Update: Discussed this, there several ways to implement this. Proposed solution would be to add icons to the right click context menu to open the different options (e.g. color or removing an item). To be discussed with sig-ui-ux

Tagging @bhanuja-s and @yuyihsu for visibility - this would be great to review and clarify.

[2022-08-03 15:36] monroegm commented on #2125
@YiMunDong Please reopen if this is still an issue

[2022-08-03 15:36] #2125 closed

[2022-08-03 15:42] monroegm commented on #9948
@amzn-jillich @Kadino Is this still failing? If so please reopen if this is still an issue

[2022-08-03 15:42] #9948 closed

[2022-08-03 15:43] monroegm commented on #10007
@mbalfour-amzn Is this still failing? If so please reopen if this is still an issue

[2022-08-03 15:48] jckand-amzn commented on #11032
When this issue is resolved, please also remove the test skip added in #11053 as this appears to be the root cause for the test failure.

[2022-08-03 15:57] monroegm commented on #10931
Rerouting to SIG-Graphics-Audio as this is now on Atom to fix

[2022-08-03 16:01] hultonha commented on #11050
@amzn-tommy could you please confirm if this still happens with this recent fix - https://github.com/o3de/o3de/pull/10969. Thanks!

[2022-08-03 16:03] jckand-amzn commented on #11032
This issue appears to be the same root cause for the test failures outlined in https://github.com/o3de/o3de/issues/7828.

[2022-08-03 16:22] amzn-tommy commented on #11050
Resolving as a duplicate of a prior issue that was already fixed by https://github.com/o3de/o3de/pull/10969/files

[2022-08-03 16:22] #11050 closed

[2022-08-03 16:23] ParasiteSt commented on #11012
With some help it was found that using the Rotate Around nodes do indeed use local space. So this feature request does not seem needed because script canvas does have the nodes available already.

[2022-08-03 16:23] #11012 closed

[2022-08-03 16:26] rainbj commented on #3719
Hi @lmbr-pip I'm working on improving my GitHub email filter at the moment as being the UX Chair, I get pinged on a lot of just standard updates regarding anything UX related. That's only to say I'm working on fixing this and... if you need a response sooner, please feel free to ping me directly to redirect my attention to any urgent needs.  As for the icons here, this is the most current icon she

[2022-08-03 16:31] lmbr-pip commented on #4059
CVAR discovery should be covered by https://github.com/o3de/o3de.org/issues/1634

[2022-08-03 16:31] #4059 closed

[2022-08-03 16:33] jckand-amzn commented on #11023
Test failure has been root caused to #11032. Skipping test in #11053 .

[2022-08-03 16:38] amzn-pratikpa commented on #11000
Please reference https://github.com/o3de/o3de/pull/10852

[2022-08-03 16:38] lmbr-pip commented on #11014
Believe this is an asset container issue caused by threads responding to OnAssetReady events and then calling GetAsset. Assigning to @amzn-mike to take a look.

[2022-08-03 16:42] lmbr-pip commented on #10984
Feeling is that something has changed, so warning is actually real. Need to go look at AssetContainer and other recent changes. Treating for now as major, but if its really related to changes in asset loading then will raise to critical

[2022-08-03 16:46] amzn-pratikpa commented on #10900
Tagging @o3de/sig-simulation for further discussion

[2022-08-03 16:47] pollend commented on #11000
my change does not touch `GetEulerRadians`.

[2022-08-03 16:49] VickyAtAZ commented on #6272
There are change made to only enable LyShineFeatureProcssor for the viewport in UI editor: https://github.com/o3de/o3de/pull/11034

[2022-08-03 16:54] sptramer commented on #9840
@micronAMZN To evaluate for docs and see if the work has already been done on o3de.org; Still a valid engineering task (?).

[2022-08-03 17:07] lumberyard-employee-dm commented on #10066
Closing the issue as the documentation clearly distinguishes which argument to use for each.
The `enable-gem` command only supports a project path argument and is documented as part the page linked in this issue as well as the [Adding and Removing Gems in a Project](https://www.o3de.org/docs/user-guide/project-config/add-remove-gems/#using-the-command-line-interface-cli) page.

The [Registering Ge

[2022-08-03 17:07] #10066 closed

[2022-08-03 17:59] srikappa-amzn commented on #10942
So, the solution here imo would be to deserialize the current focused instance with the appropriate dom when entering and exiting focus. If we do that, then the cached doms will be in the right state.

1. Create new level or open existing level
2. create a prefab or instantiate any prefab
3. Enter focus mode of the prefab (double click it) - **call InstanceDomGenerator::GenerateInstanceDom() and l

[2022-08-03 18:16] ParasiteSt opened #11054 "Bug Report: Prefabs do not save Detour Navigation Mesh target Entity"
**Describe the bug**
If you have an entity that is utilizing the Detour Navigation Mesh Component you will see it have a target which will be the navigation mesh. If you create a prefab from this entity and retain the target id everything works with your prefabs. But when you restart the editor it loses all the connections that it had to entities outside of the prefab.

**Assets required**
Recast

[2022-08-03 18:34] #10909 closed

[2022-08-03 19:09] forkercat commented on #10942
Had a discussion with srikappa to get some clarifications on the intent of InstanceDomGenerator::GenerateInstanceDom(). One important note is when we are focused on an instance, we expect the instance DOM to be without link id. The link id should be set up (restored) when stepping out the focus mode.

Will try to prototype the ideas mentioned above to see if it works.

[2022-08-03 19:15] #11023 closed

[2022-08-03 20:09] jromnoa opened #11056 "Solution needed for azlmbr.atomtools.general & azlmbr.legacy.general function collisions."
**Is your feature request related to a problem? Please describe.**
1. Currently there exists test code in [C:\git\o3de\AutomatedTesting\Gem\PythonTests\EditorPythonTestTools\editor_python_test_tools\utils.py](https://github.com/o3de/o3de/blob/development/AutomatedTesting/Gem/PythonTests/EditorPythonTestTools/editor_python_test_tools/utils.py) where the `general` library used has to be alternated f

[2022-08-03 20:22] lawsonamzn commented on #11021
Assimp reads a lot of these formats pretty well, but unfortunately, it does not completely abstract the various edge cases and differences between the formats.  for example, UnitScaleFactor from FBX, but unit names and other data for Collada.  I believe that this data IS available, but to fully support each format, work will need to be done to know about / detect the various subtle differences tha

[2022-08-03 20:37] #10515 closed

[2022-08-03 20:44] VickyAtAZ commented on #10931
Fixed in PR: https://github.com/o3de/o3de/pull/11034

[2022-08-03 20:44] #10931 closed

[2022-08-03 21:12] greerdv commented on #11000
Yeah I checked 10852 and it is has nothing to do with this issue.

[2022-08-03 21:16] pollend commented on #11000
if its easier to just fix the method then that can happen first. I plan to introduce these methods afterwards.

[code]

[2022-08-03 21:29] greerdv commented on #11000
Yeah, it's a fairly straightforward fix, hopefully I should be able to squeeze it in tomorrow

[2022-08-03 21:52] AMZN-Gene opened #11057 "Re-Activating Entities with Network Component Causes Crash"
**Describe the bug**
Deactivating and re-activating an entity with network components will crash the engine
This is because multiplayer base components will set their m_controller to nullptr during Deactivate(), but only call CreateController inside of the Init() method (instead of during Activate). Seems like this breaks the normal Activate()-Deactivate() symmetry.
Note: Deactivate isn't just for

[2022-08-03 22:37] #10698 closed

[2022-08-03 22:37] #10789 closed

[2022-08-03 22:37] #9692 closed

[2022-08-03 22:37] #10398 closed

[2022-08-03 23:07] amzn-mike opened #11061 "Bug Report - CMake - Cannot override project specified engine"
**Describe the bug**
CMAKE_MODULE_PATH appears to offer a way to configure/override the engine for a project but still ends up failing to find the engine when the name doesn't match

**Steps to reproduce**

1. Have an engine install with a name like "o3de"
2. Have an external project which is set to use an engine with a name like "o3de-sdk"
3. Attempt to cmake configure the project and specify `CM

[2022-08-03 23:42] lumberyard-employee-dm commented on #11061
This is actually a bug with the LoftSample using a pre initial O3DE public version of the [EngineFinder.cmake](https://github.com/aws-lumberyard/loft-arch-vis-sample/blob/main/Project/EngineFinder.cmake).

It should be updated to use the [EngineFinder.cmake](https://github.com/o3de/o3de/blob/development/Templates/DefaultProject/Template/cmake/EngineFinder.cmake) from the DefaultProject template.

[2022-08-04 07:32] hultonha commented on #11050
Cool thanks!

[2022-08-04 07:46] xipuhu opened #11066 "The editor interface does not provide a method to modify far plane distance of Editor camera"
**Is your feature request related to a problem? Please describe.**
The default far-plane distance of Editor camera is too small to apply to large-scale scenarios. I can't adjust the far plane distance attribute in EditorViewportWidget.

**Describe the solution you'd like**
I'd like to add distance setting of Editor camera to EditorViewportWidget

**Describe alternatives you've considered**
I can j

[2022-08-04 09:16] LB-KacperSzczepanski opened #11067 "Launching the Development O3DE Installer executable displays a Windows Defender warning"
**Describe the bug**
After turning on the Development O3DE installer downloaded
from the link (https://o3debinaries.org/development/Latest/Windows/o3de_installer.exe),
the following error is displayed in Windows Defender:
Windows protected your PC
Microsoft Defender SmartScreen prevented an unrecognized app from
starting. Running this app might put your PC at risk.
App: o3de_installer.exe
Publishe

[2022-08-04 09:51] LB-ArturZieba commented on #10789
Issue verified as fixed on the Development (ff77e99) build.

[2022-08-04 09:55] LB-ArturZieba commented on #10515
Issue verified as fixed on the Development (ff77e99) build.

[2022-08-04 10:57] hultonha commented on #10958
@amzn-leenguy @rainbj @bhanuja-s (also tagging @AMZN-daimini and @cgalvan for visibility) We wanted to check if there's an existing icon for the hotdog menu in this ticket (see below)

<img width="32" alt="image" src="https://user-images.githubusercontent.com/82228511/182830627-b1e791ca-3ab2-44fe-89b0-79bfc3574725.png">

We can't see one that's used right now (there just seems to be the hamburger

[2022-08-04 11:04] MiKom commented on #10958
wouldn't that be kebab menu: https://ux.stackexchange.com/questions/115468/what-the-difference-between-the-2-menu-icons-3-dots-kebab-and-3-lines-hambur :)

[2022-08-04 12:26] LB-JakubSkoczylas commented on #10931
Issue verified as fixed.

[2022-08-04 12:50] hultonha commented on #11054
Tagging @AMZN-Olex for visibility

[2022-08-04 13:05] LB-ArturZieba opened #11070 "Feature Request: Add a Script Canvas node equivalent to "Is On Ground" usable with PhysX components other than PhysX Character Collider"
**Is your feature request related to a problem? Please describe.**
Currently, the only existing Script Canvas node (Physx > Character > Is On Ground) used for easily verifying if an entity is grounded works with the PhysX Character Controller.

**Describe the solution you'd like**
Add additional nodes that can perform equivalent function, but for other PhysX components, for example PhysX Collider,

[2022-08-04 13:42] hultonha commented on #10900
I don't think this is a bad idea and I wouldn't be averse to adding it (so long as there's a comment signalling that the current convention is for Z to be up in basically all cases such as World space and Model/Local space... maybe we should call it `CreateRhUp` for right handed? 🤔 Though that's a bit ugly. Tagging @greerdv for visibility too.

[2022-08-04 13:51] hultonha commented on #11000
Awesome thanks for following-up both @greerdv and @pollend (sorry knew it wasn't exactly the same problem but did seem in a similar ballpark at least 😅). Thanks!

[2022-08-04 14:35] amzn-leenguy commented on #10958
There's no official name for it, but I just call it the overflow menu icon 😂

I will add one in my task to make one this week.

[2022-08-04 14:42] bhanuja-s commented on #10958
Hey @hultonha, this would be the drag-dot icon that is currently persistent in the engine. I've tried implementing it in the card/accordion to indicate that it is draggable within the card and its panel. I can work with the developer to ensure that it's interaction is similar to its other instances within the engine.

![Drag-dot](https://user-images.githubusercontent.com/84036086/182874981-1cf1d59

[2022-08-04 14:55] rainbj commented on #10958
@hultonh, @bhanuja-s, @amzn-leenguy, @yuyihsu - we should talk about this before implementing the trip dots elsewhere. Currently, this pattern is being used a separator drag bar symbol. I want to make sure we are not using the same symbol in two different place meaning two different things.

<img width="268" alt="2022-08-04_9-51-34" src="https://user-images.githubusercontent.com/82551958/182878323

[2022-08-04 15:00] hultonha commented on #3458
Viewport Visual Feedback Improvements (Prefabs Focus Mode) V3 - https://github.com/o3de/o3de/pull/11071

[2022-08-04 15:33] adamdbrw commented on #10754
Just to clarify, the Editor does not crash on shutdown, and this also shows up with an empty project.

[2022-08-04 15:33] lmbr-pip commented on #11066
Does this relate to https://github.com/o3de/o3de/pull/11052 ?

[2022-08-04 15:58] AMZN-Gene commented on #10900
I think that’s over thinking it. GlobalUp or WorldUp would also work, but simply seeing Up as a static method ppl would assume it’s the works up direction in the engine

[2022-08-04 16:05] lgleim commented on #9593
After discussing this issue in today's triage meeting, I am closing this issue due to inactivity. Feel free to reopen it in case it is still relevant after all.

[2022-08-04 16:05] #9593 closed

[2022-08-04 16:19] lgleim commented on #10351
Discussed in today's issue triage. Has likely already been addressed. @greerdv will follow up.

[2022-08-04 16:19] lgleim commented on #10352
Discussed in today's issue triage. Has likely already been addressed. @greerdv will follow up.

[2022-08-04 16:22] lgleim commented on #10422
Hi @AMZN-Olex , is this something that you are going to be addressing in the near future or would this possibly be a good first issue for community contributors?

[2022-08-04 16:23] lgleim commented on #10513
@AMZN-Olex Could you have a look at this issue?

[2022-08-04 16:25] #9315 closed

[2022-08-04 16:26] lgleim commented on #10640
@AMZN-Olex Can you have a look at this issue?

[2022-08-04 16:28] lgleim commented on #10656
@o3de/sig-ui-ux Do you guys have an opinion on this matter

[2022-08-04 16:30] lgleim commented on #10716
Discussed in today's Sig-simulation issue triage. Referring this issue to @o3de/sig-graphics-audio for further review

[2022-08-04 16:32] yuyihsu commented on #3718
@alexmontAmazon , have you fixed this issue? if no UX is needed, feel free to close this issue when you are done.

[2022-08-04 16:36] yuyihsu commented on #3737
@AMZN-daimini  mentioned the DPE work might help address some of the performance issue. He will keep an eye on this one while working on the DPE project. A new performance check will be coming in early next year.

[2022-08-04 16:40] yuyihsu commented on #6495
Our suggestion is to run the Walk the Engine research on the WF9 Packaging and Deployment process understand the customer pain points and possible solutions. SIG UI-UX will add this ticket to the UX roadmap and we will plan the research work accordingly.

[2022-08-04 16:52] rainbj commented on #10889
Currently searching for prefabs in the asset browser, it doesn't locate prefabs, it only pretends to find them.

<img width="569" alt="2022-08-04_11-48-57" src="https://user-images.githubusercontent.com/82551958/182906669-956f30db-100b-4f35-b6b4-4b7dfff98d77.png">

[2022-08-04 16:53] yuyihsu commented on #10641
removing UI-UX sig label as this is just a bug and no need UX solution.

[2022-08-04 16:56] yuyihsu commented on #10522
Assigned to @amzn-leenguy . Lee will provide a solution for this issue for the dev to fix.

[2022-08-04 17:01] lumberyard-employee-dm commented on #11061
We can actually update the DefaultProject and MinimalProject template to warn if the Engine name registered in the project doesn't match the one in the engine when CMAKE_MODULE_PATH is explicitly set.

That code is located here in the [DefaultProject](https://github.com/o3de/o3de/blob/development/Templates/DefaultProject/Template/cmake/EngineFinder.cmake#L32-L34) template and here in the [MinimalP

[2022-08-04 17:04] yuyihsu commented on #10334
SIG UI-UX will take this ticket. We will look into this to provide a UX solution. This has been added to our UX roadmap.

[2022-08-04 17:13] greerdv opened #11074 "CreateRandomQuaternion does not return unit quaternions"
The CreateRandomQuaternion function in Code\Framework\AzCore\AzCore\Math\MathUtils.cpp always returns quaternions with squared norm 2. They also aren't properly randomized.

[2022-08-04 17:38] lmbr-pip commented on #11040
Entities might filter out based on naming (Filter), so need to reproduce with different names.

[2022-08-04 17:41] lmbr-pip commented on #11057
Q from triage, is can we deactivate without removing the entity? Typical flow is to deactivate and then mark for removal?

[2022-08-04 17:42] AMZN-stankowi commented on #10517
I've put an update to the documentation to address issues with assets referencing other files, here https://github.com/o3de/o3de.org/pull/1882

[2022-08-04 17:43] lmbr-pip commented on #11057
Will revisit next time due to ongoing investigation into legitmate workflows and why CreateController was only allowed in Init()

[2022-08-04 18:05] NiklasHenricson commented on #10517
Hi @AMZN-stankowi @galibzon sorry for replying late in your process. I'll be experimenting later tonight and keep you updated on my results.

Thank you

[2022-08-04 18:44] monroegm commented on #10987
This is a good question for the TSC about which regional formats we support

[2022-08-04 18:59] monroegm commented on #11056
This looks like it is test framework related so we'll let SIG-Testing own this one. Let us know if you need any help

[2022-08-04 20:10] decryptedchaos opened #11080 "Appears to be a UI bug, where the save procedure isn't getting a callback that it was successful in the FBX settings window"
**Describe the bug**
Appears to be a UI bug, where the save procedure isn't getting a callback that it was successful

The Asset is a CC asset i downloaded from a somewhere. but i'm not sure its all that relevant as its happened consistently with most assets I've tried.

**Assets required**

[Character_full.zip](https://github.com/o3de/o3de/files/9262925/Character_full.zip)

**Steps to reproduce**

[2022-08-04 21:03] amzn-tommy commented on #7588
Oh, there is an additional workaround I hadn't thought of, for anyone who can't wait for the PR to go through or is working using the release build instead of the development branch. You can explicitly disable mesh merging in the Mesh (Advanced) rule in the scene settings https://www.o3de.org/docs/user-guide/assets/scene-settings/meshes-tab/#mesh-advanced

This will result in more draw calls, but

[2022-08-04 21:20] AMZN-alexpete commented on #11004
@amzn-phist might have some insight

[2022-08-04 22:33] #9269 closed

[2022-08-04 22:34] #9271 closed

[2022-08-04 22:46] tonybalandiuk opened #11085 "[Planning] Publish Key information including Release Schedule"
Ensure the Release SIG determines and publishes a high-level release schedule to all SIGs, and adds the release to the calendar.

The Release SIG should work with all SIGs involved in the release to determine the schedule (e.g. sig/release, sig/testing, sit/docs-community, etc.).

This schedule should include, at minimum, the following dates:
Stabilization Brach Created - The date when the branch

[2022-08-04 23:06] tonybalandiuk opened #11087 "[Planning] Get to know your Stakeholders and Identify Key Roles"
Welcome to O3DE Release Management!

Below is a list of Stakeholders you may need to interact with while running an O3DE release. The specific SIG you will interact with for each GHI issue is listed in the issue, but here is a summary:

Royal O'Brian (@OBWANDO) - The Linux Foundation (LF) GM that can connect you, as needed, with representatives from LF Legal (e.g. Scott Nicholas), and Security
Doc

[2022-08-04 23:07] tonybalandiuk opened #11089 "[Planning] Prepare for Launch Call"
Prepare for the launch call by replacing all the [Resource Name] placeholders in the launch call task with the specific GitHub user that will execute each step.

Launch call task: #11096

[2022-08-04 23:08] tonybalandiuk opened #11090 "[Planning] Create an Exception Request Dashboard"
Create a dashboard to track exception requests (i.e. requests to merge to the stabilization branch).
Communicate this to the community via sig-all discord.

[2022-08-04 23:08] tonybalandiuk opened #11091 "[Planning] Schedule Release Coordination and Launch Call meetings"
Schedule Release Coordination and Launch Call meetings on the O3DE calendar, and advertise them using one or more of the following methods:

- Use the Discord Event System to schedule an event for each meeting. (Note: If you do not see the "Create Event" option in Discord, contact @aFinchy to request the "Events Coordinator" Discord role be added to your profile).
- Post a text message reminder sh

[2022-08-04 23:11] tonybalandiuk opened #11092 "[Planning] Ensure Docs-Community SIG requirements are identified"
Work with the Docs-Community SIG to define requirements, and determine if any of the requirements will block the release if not completed prior to the release. These requirements could include, for example, demos, tutorials, etc.

- Successor Task: #11094
- Successor Task: post release task similar to #9273

Discord: [#sig-docs-community](https://discord.gg/FxmvF5x8)
SIG Docs-Community meetings: [

[2022-08-04 23:13] tonybalandiuk opened #11093 "[Planning] Ensure O3DE Marketing requirements are identified"
Work with the O3DE marketing-committee to define Marketing requirements (ideally 3 weeks prior to release), and determine if any of the requirements will block the release if not completed prior to the release. These requirements could include, for example, website updates, social media posts, blog posts, etc. Any release-blocking requirements should be managed by the Release Manager, per the succ

[2022-08-04 23:21] tonybalandiuk opened #11094 "[Pre Release] Confirm all launch blocking Docs-Community SIG requirements are complete"
Confirm with the Docs-Community SIG all launch blocking community requirements, if any, are complete prior to release.

- Predecessor Task: #11092

Discord: [#sig-docs-community](https://discord.gg/FxmvF5x8)
SIG Docs-Community meetings: [O3DE Calendar](https://lists.o3de.org/g/o3de-calendar/calendar)
SIG Docs-Community agendas: [GHI](https://github.com/o3de/community/issues)

[2022-08-04 23:24] tonybalandiuk opened #11095 "[Pre Release] Ensure PR is created for bumping the version number in the Linux install instructions"
Ensure the Docs-Community SIG creates a PR for applying the generated API reference to the docs site.

Replace the [PR] placeholder in the below successor task with the correct information for this release.
- Successor Task: #11096

Discord: [#sig-docs-community](https://discord.gg/FxmvF5x8)
SIG Docs-Community meetings: [O3DE Calendar](https://lists.o3de.org/g/o3de-calendar/calendar)
SIG Docs-Comm

[2022-08-04 23:25] tonybalandiuk opened #11096 "[Release Day] Execute Launch for O3DE 22.10.0"
- Predecessor Task: [Planning] Prepare for Launch (#11089)

On Release Day, confirm each of the following launch activities is completed as expected:

- Release Team
   - [x] [@tonybalandiuk ] Confirm all members of the release team are in attendance and available for the launch 10:30am Pacific:
      - [x] [@tonybalandiuk ] - Release Manager
      - [x] [@AMZN-alexpete] - Responsible for Merge

[2022-08-04 23:27] tonybalandiuk opened #11097 "[Pre Release] Release 22.10.0 Dry Run"
On MM/DD we will hold a dry run of the release call.
<Calendar Link>

We will run through all the steps outlined at #11096

And make any adjustments as necessary.

[2022-08-04 23:29] tonybalandiuk opened #11098 "[Pre Release] Ensure PRs are created for branch merge for 4 Repos"
Ensure the Release SIG creates PRs for the final merge from the stabilization branch to main for each of the following repos:
- o3de
- o3de-atom-sampleviewer
- o3de-multiplayersample
- o3de-netsoaktest

Replace the [PR] placeholders in the below successor task with the correct information for this release.
- Successor Task: #11096

Discord: [#sig-release](https://discord.gg/ne59x9bc)
Release SIG m

[2022-08-04 23:34] tonybalandiuk opened #11099 "[Pre Release] Confirm all technical requirements are complete"
Confirm with the Release SIG all features and bug fixes targeted for the release are complete and merged into the stabilization branch. Also verify all exception requests (i.e. requests to merge to stabilization post code lock) are merged per the Exception Request Dashboard.

- Successor Task: #11100
- Related Task: #11090

Discord: [#sig-release](https://discord.gg/ne59x9bc)
Release SIG meetings:

[2022-08-04 23:37] tonybalandiuk opened #11100 "[Pre Release] Ensure release Feature List is drafted and distributed"
Ensure the Release SIG drafts the detailed Feature List, which describes the contents of the release. Provides this to release stakeholders, as needed (for example, the O3DE marketing-committee may need this in advance of the release as input into marketing requirements).

1. Publish an initial feature list file to https://github.com/o3de/sig-release/blob/main/releases/22.10.0/22100%20feature%20li

[2022-08-04 23:39] tonybalandiuk opened #11101 "[Pre Release] Ensure installers are tested"
Ensure the Build SIG tests the signed installers for Windows and Linux.

Note: Ensure the version number is reflected accurately upon installation.

- Predecessor task:#11102
- Successor task: #11098

Discord: [#sig-build](https://discord.com/channels/805939474655346758/816043576034328636)
Build SIG meetings: [O3DE Calendar](https://lists.o3de.org/g/o3de-calendar/calendar)
Build SIG meeting agenda

[2022-08-04 23:39] tonybalandiuk opened #11102 "[Pre Release] Ensure installers are created"

[2022-08-05 02:17] Kadino commented on #11056
@jromnoa is this a request to deprecate the azlmbr.legacy module and have azlmbr.atomtools replace it in the Editor?

[2022-08-05 02:59] Ulrick28 commented on #7776
Versioning part of this ask is complete.

[2022-08-05 07:34] LB-KatarzynaDylska commented on #10713
Reopening the issue. The vector nodes have all been corrected, but the Maths/Substract and Maths/Multiply nodes still contain typos mentioned above. Verified on Development (59df478) build.

[2022-08-05 08:27] LB-KatarzynaDylska commented on #10398
Issue verified as fixed on the Development (59df478) build.

[2022-08-05 08:28] LB-ArturZieba commented on #10909
Issue verified as fixed on the Development (59df478) build.

[2022-08-05 09:35] aambrosano commented on #10961
@bhanuja-s @yuyihsu Would it be an option to be able to click/double click on the group name and display a line edit widget to update the group name? We can do something similar for the color. Namely render a coloured square on the left of the group name and when the user click we display the color picker and change the color.

Of course this solution is more complex than just adding items on the

[2022-08-05 10:10] LB-ArturZieba opened #11109 "Entering/exiting Game Mode with 17 or more White Box entities in level causes asserts to be printed to Console"
**Describe the bug**
If there are 17 or more duplicated White Box entities present in the level, then entering/exiting the Game Mode can cause an assert to be printed to the Console. Additionally, another assert can be printed a while after the first one, though no clear way to trigger it was found.

It should be noted that the OctreeSystemComponent.cpp(64) assert occurs inconsistently, though mos

[2022-08-05 10:27] hultonha commented on #10958
Thanks very much for the updates @bhanuja-s, @amzn-leenguy and @rainbj 👍 I understand the use-case for this now (to drag the card/s) and that we have an existing icon. Let me know if that unblocks you @MiKom. Cheers!

[2022-08-05 10:44] LB-KatarzynaDylska opened #11110 "Project Preview size limit can be violated"
**Describe the bug**
When editing project settings, it is specified that the preview image for a project has to be a PNG with a minimum size of 210x280 pixels. However, nothing stops the user from using a smaller PNG image, which is then used as preview.

**Assets required**

[1x1 green PNG](https://user-images.githubusercontent.com/99388484/183050965-c6351d22-eba9-4649-814f-839564179871.png)

**S

[2022-08-05 10:46] MiKom commented on #10958
@hultonha
I think so, yes. The requirement here is that this icon is supposed to represent a menu so it makes sense to not reuse the triple-dot that denotes draggable elements.

If I understand correctly, I should go with the regular card menu icon, the tree lines.

@bhanuja-s I'm not touching the draggability code in any way for this widget, it's essentially a differently-styled card so the effor

[2022-08-05 11:54] LB-BartoszCwiek opened #11111 "Linux: Asset Editor: mouse_button_other1 and mouse_button_other2 from the InputBindings are not working"
**Describe the bug**
When the User assigns Input Bindings to an entity and selects mouse_button_other1 and mouse_button_other2, the Editor does not recognize the said inputs when in the Game Mode.
Issue is not active on Windows.

**Prerequisites**
Recreate .inputbindings and .scriptcanvas assets as shown on the screenshots attached under the Screenshots, .inputbindings and .scripcanvas section.
Ad

[2022-08-05 12:01] LB-ArturZieba opened #11112 "Clicking on Editor UI while Viewport Camera is being moved causes movement to be applied constantly"
**Describe the bug**
If the Viewport Camera is being moved by holding down a key, and a mouse input is provided on Editor's UI, then the input from that key will be constantly applied, until it is pressed again.

**Steps to reproduce**
1. In the Editor Viewport hold any key that moves the Camera down (for example "A").
2. Without letting go of the key in step 1, click inside the Editor's UI with a

[2022-08-05 12:35] LB-BartoszCwiek opened #11113 "Linux: Asset Editor: ThumbstickInputEventMap class is inconsistently present while the gamepad is not available in the Input Device Type dropdown list"
**Describe the bug**
Input Bindings in the Asset Editor has the ThumbstickInputEventMap class (which is for the gamepads) inconsistently present, because the Input Device Type dropdown list has no gamepad available.
Issue is not active on Windows.

**Steps to reproduce**
1. Go to Tools > Asset Editor.
2. In the Asset Editor go to File > Input Bindings.
3. In Input Bindings add Event Generator and

[2022-08-05 15:07] hultonha commented on #10900
I think WorldUp/Left/Right sound good - to be honest for something this small I'd just add it and create a PR! 😅 I personally would be happy to approve and we can have sig/core and sig/simulation chime in too.

[2022-08-05 17:39] bhanuja-s commented on #10958
I don't think there is a need to have the three line menu icon for the accordion card (in this example, "Cloth Colliders"). We would retain the menu icon in the sub-cards ("Capsule").

That makes sense, but this is a very important UX element for this effort. I would envision through your first-pass, the accordion card would look like this:

<img width="654" alt="Screenshot 2022-08-05 at 12 37 37"

[2022-08-05 18:18] AMZN-daimini opened #11118 "Viewport Selection Outline - visualization does not match with LOD"
**Describe the bug**
When selecting an object with different LODs, the selection outline always seems to be using a single one even when the mesh changes based on camera position.

**Assets required**
The images below are from the `sphere_5lods.fbx` file in the `AutomatedTesting` project.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity;
2. Add a mesh component;
3. Set

[2022-08-05 18:39] AMZN-daimini opened #11119 "Select All only selects visible entities"
**Describe the bug**
Pressing `Ctrl+A` in the Editor does not select all entities if some entities are hidden.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a Level
2. Hide some entities in the Outliner
3. Press `Ctrl+A`, or click `Select All` in the Edit menu

**Expected behavior**
All entities are selected

**Actual behavior**
Only visible entities are selected

**Screenshots/

[2022-08-05 21:06] smurly commented on #5438
Outstanding work on this task:

- we need to disable the Generate LUT button when the Enable HDR Color Grading is False.
- Activate LUT button should not be enabled if the LUT absolute path file does not exist due to AssetProcessor failure or other timing conditions.

[2022-08-05 21:29] #11000 closed

[2022-08-05 22:39] michleza commented on #6872
Changing the promoted variable field back to a value will not revert the name of the field. Also, changing the name of variables in the variable manager will not be reflected on the fields that were promoted to variables

[2022-08-05 23:35] michleza opened #11122 "Script Canvas: Saving before confirming a change to a field will prevent edits to graph from being properly saved."
**Describe the bug**
If you save via ctrl+s while a node's data field still has focus any changes to that field will not be reflected until you make another change and save again.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open editor and script canvas
2. Open an existing script canvas graph or make a new simple graph that prints a value when the game is run
3. make a change to th

[2022-08-06 04:07] AMZN-alexpete opened #11125 "Crash when starting Editor.exe in debug build"
**Describe the bug**
Editor.exe  crashes when built in debug mode - possibly related to #10986

[code]
**Assets required**
n/a

**Steps to reproduce**
Steps to reproduce the behavior:
1. Compile latest development branch in debug mode
2. Run the Editor.exe
5. See error

**Expected behavior**
Editor does not crash

**Actual behavior**
Editor asserts and crashes

**Screenshots/Video**
n/a

**Found i

[2022-08-06 12:57] greerdv commented on #10352
Done in https://github.com/o3de/o3de/pull/10433

[2022-08-06 12:57] #10352 closed

[2022-08-06 12:57] greerdv commented on #10351
Done in https://github.com/o3de/o3de/pull/10420

[2022-08-06 12:57] #10351 closed

[2022-08-06 21:01] Mattt47 commented on #10838
Any hints or tips?

[2022-08-07 06:21] pollend commented on #10955
there is a setting to change the sampling per unit. by default its using the default setting  per the area which is 1.25.

`20 / 13` found when you add `Vegetation System Settings` to the level

![image](https://user-images.githubusercontent.com/854359/183278087-dec806ad-077f-488e-b8d2-cd398a7281ba.png)

![image](https://user-images.githubusercontent.com/854359/183277305-4d454989-a562-463f-8180-2a

[2022-08-07 06:55] pollend commented on #4994
I looked at this momentarily that section of the view is just getting rebuilt every time you press a key. its why you see that stutter in the inspector.

[2022-08-08 05:01] pollend commented on #11118
I was looking at this on linux I don't think I see an outline at all?

![image](https://user-images.githubusercontent.com/854359/183342765-1b4ff95f-6a40-411e-9526-5f996dccda76.png)

[2022-08-08 09:21] hlldd1314 opened #11135 "Bug Report"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching

[2022-08-08 09:27] #11135 closed

[2022-08-08 11:05] LB-JaroslawGaweda opened #11137 "Ctrl + H shortcut does not work if not placed as a first option in the Customize Keyboard menu"
**Describe the bug**
Ctrl + H shortcut does not function if added to an option that already has other shortcuts. It should be noted that Ctrl + H will work if it is the only shortcut assigned, or it is first from the top on the list of shortcuts. This issue occurs with other combinations that contain H as long as it is not the top most shortcut (e.g. Ctrl + Shift + H or Ctrl + B, Ctrl + H).

**Ste

[2022-08-08 11:14] MiKom commented on #10958
@bhanuja-s
Hey,
that's how the card looks like in the EmotionFX now:
![image](https://user-images.githubusercontent.com/104767/183405496-90e5c837-c1ab-47db-89a7-a7fcf9f0bdfa.png)
Please note, that I added the purple underline just to show how it looks. It won't be there in the upcoming EmotionFX patch.

[2022-08-08 12:53] hultonha commented on #4994
Thanks for looking into this @pollend - this is something we know about but haven't had time to look into. If you're able to come up with a fix that doesn't cause any other unintended consequences we'd love to see it! 🙂

[2022-08-08 13:18] Darkinggq opened #11138 "Linux: Create prefab current mesh in Editor any distributions causes unwanted duplicated prefabs"
**Steps to reproduce**
1. Add a component mesh
2. Add a box to mesh
2. Create a prefab
3. Save prefab
4. Delete current prefab
5. Сlick move there screen prefab
5. Prefab two duplicate bug

**Screenshots/Video**

https://user-images.githubusercontent.com/17591539/183424508-bf80a4b4-09a7-4c67-8fa6-931250b1560b.mp4

**Found in Branch**
development: 8b8ee819ce8d0bdf9426eda02cf59f74c574fcaa

**Desktop

[2022-08-08 13:23] LB-MateuszSzweda opened #11139 "Setting language format to language which has a comma punctuation sign as a decimal separator breaks various default values in Editor"
**Describe the bug**
Setting a language format with Ubuntu **Region&Language** menu to a language which has a _comma_ punctuation sign instead of a _full stop_ before decimal numbers was observed to break several values in the Editor leading to problems such as:

- Debug colors being black.
- Mesh material colors being black.
- Incorrect values in PhysX materials from _Gems\PhysX\Assets\PhysX_ dir

[2022-08-08 13:34] LB-BartoszCwiek opened #11140 "Assigning input with gamepad_thumbstick from ThumbstickInputEventMap class results in the entity moving by itself"
**Describe the bug**
Assigning the input with gamepad_thumbstick_l or gamepad_thumbstick_r from the ThumbstickInputEventMap class results in the entity moving by itself without triggering the assigned input.
However, when creating the same input with gamepad_thumbstick_l or gamepad_thumbstick_r , but from the InputEventMap class the issue does not occur.
For more information, please refer to the a

[2022-08-08 13:50] moraaar commented on #10608
With the latest code from development (cc6c096) now this causes an instant crash on Android. Increasing to blocker since android development is blocked by this.

The callstack shows it comes from this line:
[code]

At the end it's crashing while calling `APKFileHandler& apkHandler = Get();` in `APKFileHandler::SetNumBytesToRead` while trying to read "/proc/self/status" in `bool performDebuggerDete

[2022-08-08 14:09] LB-MateuszSzweda commented on #9927
The culprit of the issue was found to be linked to the set language format and was logged as https://github.com/o3de/o3de/issues/11139.

As the above issue is a part of broader https://github.com/o3de/o3de/issues/11139 with the authorization from @moraaar I am closing the above,

[2022-08-08 14:09] #9927 closed

[2022-08-08 14:13] AMZN-Olex commented on #11003
It looks like this has been resolved.

[2022-08-08 14:13] #11003 closed

[2022-08-08 15:06] jckand-amzn commented on #11004
I don't believe the Wwise Gem is enabled for AutomatedTesting.

[2022-08-08 15:32] AMZN-daimini commented on #11118
You may need to have this setreg enabled too see it
[code]

[2022-08-08 15:44] e2002e opened #11142 "Cannot import jinja2"
[code]

I'm sure the module in on my system and can be imported.
Tried modifying the shebang with all versions of python, also tried to make the import on start (why is it not ?)

[2022-08-08 16:17] hultonha commented on #10373
@shawstar Please see earlier comments, would you please be able to verify if this issue is fixed? Thanks!

[2022-08-08 16:36] #10988 closed

[2022-08-08 16:47] jckand-amzn commented on #10711
Both of these issues are either already logged, or have been addressed:

https://github.com/o3de/o3de/issues/6731
https://github.com/o3de/o3de/pull/11143

Closing this ticket out.

[2022-08-08 16:47] #10711 closed

[2022-08-08 17:00] #9966 closed

[2022-08-08 17:03] hultonha opened #11144 "Explore clean up of the configuration Save code"
[Migrated from JIRA LYN-1228]
In dev\Gems\PhysX\Code\Editor\EditorWindow.cpp
the save callback is used 3 times, and could be a utility function
{code:cpp}
auto saveCallback = [](const AzPhysics::SceneConfiguration& config, bool success)
{
    AZ_Warning("PhysX", success, "Unable to save the Default Scene configuration. Any changes have not been applied.");
    if (success)
    {
        if (auto**

[2022-08-08 17:06] hultonha opened #11145 "Allow providing only 'changed' data to update System + Scene Configuration APIs"
[Migrated from JIRA LYN-1321]

Currently to update a single param in the system configuration.

[code]

We should make it possible to do something like this:

[code]

[2022-08-08 17:10] hultonha opened #11146 "Investigate adding a handler policy to AZ::Event to support AZ::OrderedEvent"
[Migrated from JIRA LYN-1929]
Note: This task is to refactor AZ::OrderedEvent (using a policy) to remove duplication between AZ::Event and AZ::OrderedEvent

[2022-08-08 17:11] hultonha opened #11147 "Investigate reducing code duplication between Raycast + ShapeCast functions"
[Migrated from JIRA LYN-2330]
helper functions found in Gems\PhysX\Code\Source\Scene\PhysXScene.cpp

Raycast(...)

Shapecast(...)

[2022-08-08 17:13] hultonha opened #11148 "Add OnAdded/OnRemoved to the SimulatedBody"
[Migrated from JIRA LYN-3912]
Add OnAdded / OnRemoved to the simulated body as protected members for derived classes to override as needed.

to be called in scene Add/Remove simulated body.

[2022-08-08 17:14] amzn-phist commented on #11004
The quit crash I was investigating is different from this one, and I was getting it with the Wwise Gem enabled.  This crashes for me with or without that fix.  Will keep investigating this one and see what I can find.

[2022-08-08 17:40] AMZN-Gene commented on #11011
Thanks for the pro-tip! I never used the CMake GUI.

[2022-08-08 19:05] #10542 closed

[2022-08-08 19:08] ParasiteSt opened #11152 "Feature Request: Standard for rotation nodes in script canvas. (Degrees or Radians)"
**Is your feature request related to a problem? Please describe.**
Yes, nodes in script canvas should be following a set standard to make sure you do not have issues like I am having where getting world or local rotation are in radians, while a node like spawners are in degrees.

**Describe the solution you'd like**
Nodes in script canvas should follow a set of standards that would keep them all p

[2022-08-08 20:20] rainbj commented on #9620
Things to consider. We should create a migration path for users who had previously generated their key bindings in the Asset Editor and how they can now access it in ScriptCanvas. This could a simple as an intro message. OR if we don't plan on removing the functionality from Asset Editor, we could allow it to remain in both.

[2022-08-08 20:47] yuyihsu commented on #9620
@o3de/sig-content and @o3de/sig-ui-ux discussed this issue. We agreed that we could move the game controller tool from EMFX to SC to simplify the input binding setup process. While user set up the input bindings, a related input binding script will also be setup for the users to save their time.

Sig-content will first investigate the code base of the game controller UI, and sig-ui-ux will get inv

[2022-08-08 21:05] AMZN-Gene opened #11154 "Feature Request: Editor Play-Mode Callback Once All Entities Are Spawned"
**Is your feature request related to a problem? Please describe.**
In order to know when the level is done loading I need OnRootSpawnableReady callback for editor play-mode

**Describe the solution you'd like**
PrefabEditorEntityOwnershipService::StartPlayInEditor() needs to be expanded to send an optional callback to the 'SpawnAllEntities' call, which can send a notification once all entities are

[2022-08-08 21:25] #9630 closed

[2022-08-08 21:33] AMZN-Olex opened #11156 "Multiplayer auto-component with an rewindable array property fails to compile"
**Describe the bug**
If one defines a multiplayer auto-component with a rewindable array property, then a compilation error occurs.

Here is an example of such a property:
[code]

This results in the following compilation error:
[code]

From the first look it appears that it is missing `Multiplayer` namespace.

[code]

**Assets required**
o3de-multiplayersample with the following auto-component:
[

[2022-08-08 21:34] #11014 closed

[2022-08-08 21:40] AMZN-Gene commented on #11156
When implementing the fix, be sure to add a rewindable array property to any of the autocomponent's inside of that AutomatedTest project, that will catch any compile errors in the future.

[2022-08-08 23:24] AMZN-Phil opened #11159 "Project Manager should have better detection of local and core gems"
Currently, Project Manager attempts to detect whether a gem is a core or local gem based on whether the origin field in the gem.json exists and the contents of the field. This check is inaccurate both for a developer developing a remote gem that is initially local during development, and for a remote gem if the author does not add the origin field or sets this equal to match the string Project Man

[2022-08-09 00:15] amzn-changml commented on #11067
This was due to a renewal of the Windows code signing cert last week. There was an issue with having two certs (the old one and the new one) that caused issues in signing the binary. Removing the old cert once it expired and re-running the installer build/depot resolved the issue.

@LB-KacperSzczepanski can you confirm this with the latest development installer on your end?

[2022-08-09 00:36] #11008 closed

[2022-08-09 01:03] VickyAtAZ commented on #6381
The issue is fixed in PR: https://github.com/o3de/o3de/pull/11161

[2022-08-09 01:03] VickyAtAZ commented on #2682
The issue is fixed in PR: https://github.com/o3de/o3de/pull/11161

[2022-08-09 01:03] VickyAtAZ commented on #10085
The issue is fixed in PR: https://github.com/o3de/o3de/pull/11161

[2022-08-09 02:06] Mylab6 opened #11163 "Checkbox to add PhysX Collision Meshes"
To add a collision mesh in Unity, users only need to click a single checkbox.

![image](https://user-images.githubusercontent.com/5963586/183547187-0368409e-f4c6-4520-9a42-80823ba14125.png)

While getting started with o3de, I expected to find a similar checkbox. Instead I have to select the entity, and then select the collision mesh separately .
![image](https://user-images.githubusercontent.com/5

[2022-08-09 07:43] #10958 closed

[2022-08-09 08:36] LB-ArturZieba commented on #10542
Issue verified as fixed on the Development (5889b75) build.

[2022-08-09 09:10] LB-KacperSzczepanski commented on #11067
@amzn-changml The fix was verified on the latest development installer.

[2022-08-09 09:48] RoaldFre opened #11166 "Color picker doesn't give expected color for linear-color properties (e.g. baseColor)"
**Describe the bug**
Using the color picker to select a color for a property that is encoded as linear sRGB (e.g. the Base Color) directly stores the color picker's R,G,B coordinates (that are in non-linear sRGB space) as the property's values. Those coordinates are then interpreted in linear sRGB space, resulting in a color that is lighter than what was expected from the color picker's preview du

[2022-08-09 10:42] moraaar commented on #11125
I'm getting many of these assets as well. Setting this to critical and tagging @lumberyard-employee-dm

[2022-08-09 11:25] LB-KatarzynaDylska opened #11168 "Saving a Script Event in Script Canvas tool shows an error when cancelled"
**Describe the bug**
This issue affects specifically the preview Script Event feature in Script Canvas, **not** the Asset Editor. When saving the Script Event, if the user selects "Cancel" or quits the Save As... window, a pop-up with an "Invalid file name" error is displayed.
This issue occurs on both Windows and Linux.

**Steps to reproduce**
1. Open Script Canvas.
2. Select Script Events [PREVI

[2022-08-09 12:09] LB-KacperSzczepanski commented on #11067
The fix was verified on the latest development installer.

[2022-08-09 12:09] #11067 closed

[2022-08-09 14:48] galibzon commented on #11125
I have a similar crash when running the `_fulltestsuite_.bv.luac` script in `AtomSampleViewerStandalone`.

[2022-08-09 15:21] #11156 closed

[2022-08-09 16:16] galibzon commented on #11125
Bumped priority to Blocker, as ASV crashes in Debug and Profile. Also crashes change depending on using `AtomSampleViewerStandalone` and `AtomSampleViewer.GameLauncher`

[2022-08-09 16:18] #10868 closed

[2022-08-09 16:25] invertednormal commented on #11020
This is by design and allows people to easily debug exact points that don't lie on the grid lines. You can make it not move with the camera though - notice at the bottom of the "Show Terrain Queries" group, there is a toggle to either use the camera position or to specify a world possition. If you specify a world position then the queries will be based off of that point instead of the camera.

[2022-08-09 16:29] invertednormal commented on #10400
I'm pretty sure this was fixed with @antonmic's pass changes several weeks ago.

[2022-08-09 16:31] jckand-amzn commented on #10400
Verified fix on development@ cc6c0964babf3ff5a7d5eed93c1b19852c100012.

[2022-08-09 16:31] #10400 closed

[2022-08-09 16:53] mbalfour-amzn commented on #11020
The current behavior is definitely by design, but the design might have gone a bit too far.

As @invertednormal says, the points themselves intentionally move with the camera position so that you can see terrain queries at a lot of points around the camera, and this can be toggled to instead use an absolute position.

However, to make as many points visible as possible, there's a bit of extra logi

[2022-08-09 17:05] forkercat commented on #10405
Update: Was able to reproduce this. It is necessary to set up with user input as srikappa-amzn mentioned above. I verified that the _CameraRigComponent_ and _AcquireByEntityId::AcquireTarget_ work as expected. In the function, it is trying to retrieve the target transform but it is always returning the same transform.

[code]

However, the camera component can capture the initial transform which m

[2022-08-09 17:06] #10828 closed

[2022-08-09 17:15] galibzon commented on #10557
Issues close due to lack of response.

[2022-08-09 17:15] #10557 closed

[2022-08-09 17:16] fufushang commented on #10557
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-08-09 17:18] galibzon commented on #8180
@smurly , can you please check if this bug still exists?

[2022-08-09 17:21] galibzon commented on #7479
@NeilGitGud , can you please check if this bug is still real?

[2022-08-09 17:24] galibzon commented on #6680
@HogJonny-AMZN is this bug still present?

[2022-08-09 17:29] galibzon commented on #5443
@AMZN-daimini is this a QT/Serialization issue?

[2022-08-09 18:27] forhalle commented on #11139
This issue is not linux-specific.

@LB-MateuszSzweda  - Can you please provide additional information on the specific test you were running when this issue occurred? We are curious why this didn't occur before... Did you recently change your locale? If so, we may want to consider changing back the locale, and reducing the priority on this issue, as a larger localization pass is likely needed on th

[2022-08-09 18:53] HogJonny-AMZN commented on #6680
it no longer occurs in the latest dev branch as of today
![image](https://user-images.githubusercontent.com/23222931/183738698-f0c19185-80d4-47d6-8b2e-f1213beff63f.png)

[2022-08-09 18:53] #6680 closed

[2022-08-09 19:20] Kadino commented on #8975
Confirmed that this is hardware-dependent. It was due to thermal throttling due to poor machine airflow

[2022-08-09 19:20] #8975 closed

[2022-08-09 20:05] #11020 closed

[2022-08-09 20:18] #8384 closed

[2022-08-09 20:45] AMZN-Gene commented on #9511
Closing this out. We wont pass around prefabs.

[2022-08-09 20:45] #9511 closed

[2022-08-09 20:52] #10942 closed

[2022-08-09 21:08] #9622 closed

[2022-08-09 21:08] #10824 closed

[2022-08-09 21:46] santorac commented on #10517
@AMZN-stankowi Because these .materialtype files are hand-authored, and UUIDs are hard to work if you don't have tools to do it for you.

[2022-08-09 21:49] #11125 closed

[2022-08-09 21:56] onecent1101 opened #11180 "Bug Report: ScriptCanvas Editor assign graph to entity is broken"
**Describe the bug**
Assign active graph to selected entities are broken

**Steps to reproduce**
Steps to reproduce the behavior:
1. Select any entity in the level
2. Open ScriptCanvas Editor, create any graph and save it.
3. Click button (a box with right direction arrow) to assign active graph to selected entity

**Expected behavior**
ScriptCanvas component is created and assigned with active gr

[2022-08-09 21:58] lsemp3d commented on #10713
Ah, I missed those

[2022-08-09 22:04] onecent1101 commented on #8019
Have created a separate GHI to track broken ScriptCanvas graph assignment feature.

But seems like the correct solution is to add some logic check in entity to check whether the belonged prefab is read-only, if it is then do nothing. (Instead of fixing in above listed use case)

[2022-08-09 23:15] BytesOfPiDev commented on #7474
I'm closing this to open as a slightly different issue after some troubleshooting.

[2022-08-09 23:15] #7474 closed

[2022-08-09 23:15] BytesOfPiDev opened #11182 "Calling `RegisterGenericType` isn't enough to register new types with containers."
**Describe the bug**
Registering a generic type does not work unless the type is reflected in the behavior context as a member of **at least one** reflected type.

Sometimes I want to create types for use in ScriptCanvas and its containers(array, set, map). However, unless I have some type that has the generic type as a reflected member, return value or parameter, then it does not show up for use

[2022-08-09 23:15] AMZN-Olex opened #11183 "Duplicating a prefab in the Editor crashes the Editor (sometimes)"
**Describe the bug**
In a level instantiate the prefab, duplicate it. Observe an occasional crash.

[code]

**Assets required**
I saw it in o3de-multiplayersample.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a level in the Editor
2. Instantiate a prefab
3. Right click -> duplicate

**Expected behavior**
A prefab instance is duplicated.

**Actual behavior**
A crash sometimes oc

[2022-08-09 23:29] NiklasHenricson commented on #10517
@AMZN-stankowi @santorac @galibzon

I've run a few tests with the most recent dev branch code and things work fine. Thank you for looking into this!

The issue can be closed.

[2022-08-09 23:47] forkercat commented on #10405
**Update:** Tried digging into spawnable but didn't find useful info yet. I was thinking it could be related to _PrefabProcessorContext_ as it is in charge to convert everything to spawnable assets. With printing out game transform components, it looks like the container entity's transform keeps unchanged (which is weird).

However, from another direction, it looks like everything works as expecte

[2022-08-10 00:38] smurly commented on #8180
confirmed that bloom crashes on this call at commit a7b8be749da066ff3e2b167baa23e6a9a2d54f0a

[2022-08-10 00:41] AMZN-daimini opened #11186 "Focus Mode Visualization is enabled when leaving Component Mode even when not necessary"
**Describe the bug**
When leaving Component Mode, Focus Mode Visualization is enabled even when it shouldn't.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Start the Editor with the `Amazon/Preferences/EnableEditorModeFeedback` setreg property set to `true`;
2. Create a new Entity;
3. Add a Spline Component to the Entity;
4. Enter Component Mode for the Spline;
5. Leave Component Mod