[2022-05-31 11:40] LB-MateuszSzweda opened #9836 "Several commands from Toolbar customization menu can not be dropped into Toolbar"
**Describe the bug**
Dragging one of the following commands from the Toolbar customization menu and dropping them into a Toolbar fails to leave them in the Toolbar:

**AWS**: _Getting started with the AWS?_ , _AWS credential configuration_ , _AWS Resource Mapping Tool..._ , _GameLift Gem_
**Tools**: _Material Editor_
**Edit**: _Delete_, _Select all_ , _Toggle Pivot Location_
**File**: _Import..._

[2022-05-31 12:23] LB-MateuszSzweda opened #9837 "Grabbing and dragging Toolbar around Editors window when Toolbar customization menu is opened produces a graphical artifact"
**Describe the bug**
Trying to drag the Toolbar around the Editors window when the Toolbar customization menu is opened produces a graphical artifact in a form of a graphically distorted wide bar under the mouse cursor.

For further information please refer to the attached video file.

**Steps to reproduce**

1. Open the Editor and launch a level.
2. Right-click on any toolbar located at the top o

[2022-05-31 13:06] #5092 closed

[2022-05-31 13:16] LB-KacperSzczepanski opened #9838 "Grid mode can be changed while Textures are Baked"
**Describe the bug**
Change of Grid Mode does not work correctly in the Diffuse Probe Grid component. When Textures are baked for the first time an Invalid Assignment window is displayed if Grid mode is changed before baking ends. If textures are collected once, then there is nothing preventing the change of modes when the textures are collected again. When Grid Mode is changed the textures are st

[2022-05-31 15:28] moraaar opened #9839 "Blast legacy materials deprecation"
According to [deprecation policy](https://github.com/o3de/community/blob/main/guides/o3de-deprecation-guidelines.md), legacy code can be removed after 1 full release.
Blast legacy material code marked as deprecated should be removed 1 release after its original release.

Timeline:
- O3DE 22.05.0 release didn't include blast material refactor.
- O3DE 22.10.0 will include new new blast materials and

[2022-05-31 15:30] moraaar opened #9840 "Physics legacy materials deprecation"
According to [deprecation policy](https://github.com/o3de/community/blob/main/guides/o3de-deprecation-guidelines.md), legacy code can be removed after 1 full release.
Physics legacy material code marked as deprecated should be removed 1 release after its original release.

Timeline:
- O3DE 22.05.0 release didn't include physics material refactor.
- O3DE 22.10.0 will include new physics materials a

[2022-05-31 17:14] galibzon commented on #9751
To discuss in next monthly meeting.

[2022-05-31 17:18] galibzon commented on #9740
@antonmic , @dmcdiarmid-ly most likely lighting related

[2022-05-31 17:21] galibzon commented on #9734
@gadams3 Let's talk about this in the next monthly

[2022-05-31 17:30] galibzon commented on #9672
@hultonha This is more about gizmos for editing cube shaped components.

[2022-05-31 17:34] kberg-amzn commented on #9797
O3DE now does this by default. The specific class that manages network relevancy for clients is contained inside the ClientReplicationWindow class. This basically just ensures that only entities that are spatially relevant to a client are replicated, with a max cap on the number of replicated entities depending on the quality of the connection. Additionally, as O3DE by default supports the local p

[2022-05-31 17:35] mbalfour-amzn commented on #9684
A few of the commits from last week fixed this.

[2022-05-31 17:35] #9684 closed

[2022-05-31 17:55] spham-amzn opened #9841 "Mouse cursor disappears after exiting full screen game mode on Linux"
**Description**
When going from maximized game mode from the Editor back to Editor mode, the mouse cursor disappears for the entire system. The mouse pointer is there but is invisible.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor
2. Open or create a level
3. Click on 'Play Controls' and select 'Play Game (Maximized)'
4. After the game goes into a maximized screen,

[2022-05-31 17:57] spham-amzn commented on #6764
The black rectangle/resizing issue should be solved with https://github.com/o3de/o3de/pull/9776
The missing mouse cursor is still an issue and reported in  https://github.com/o3de/o3de/issues/9841

[2022-05-31 17:57] #6764 closed

[2022-05-31 19:42] shawstar opened #9843 "Skinned Mesh Faces not rendering correcly due to Bone Names in Blender."
**Describe the bug**
I have tested and found a solution to an issue where using Blender Default Bone names on a Skined Mesh will result in faces not rendering correctly. O3DE will say default Blender Bone names such as Bone.001 is invalid when checking the FBX settings, and will attempt to rename it. This will not correct the issue unless you go back to the source DCCs tool and manually rename the

[2022-05-31 19:47] spham-amzn commented on #7718
Need UI/UX input on this. Clicking 'X' on the window should mean a cancel operation, not a confirmation. The behavior looks like what the expected result should be

[2022-05-31 20:45] forhalle commented on #9756
@robhaco - Can you please try to repro this? If it is not a crash, we should reduce the priority from Critical to Major (this is not a common user workflow, but shouldn't crash).

[2022-05-31 20:50] AMZN-alexpete opened #9845 "Feature Request - Alert user of CMake configuration conflicts when building from Project Manager"
**Is your feature request related to a problem? Please describe.**
Project Manager does not let the user know when a project may fail to build because the user has configured the project outside of Project Manager and has conflicting build settings.  Related issue: #9756

**Describe the solution you'd like**
Project manager should detect when a project cmake folder exists with conflicting cmake se

[2022-05-31 21:05] monroegm opened #9846 "Multiselect translate via Entity Inspector moves all entities to same position"
**Describe the bug**
When multiple entities are selected, changing one of the translation values causes all entities to be translated to the same position.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity
2. Add a mesh component to the entity and choose a model asset to make the entity easier to see
3. Duplicate the entity and move the duplicate away from the original e

[2022-05-31 21:20] lmbr-pip commented on #9812
Sending to sig-graphics-audio for initial triage. Please assign to sig/content if theres a specific Terrain fix.

[2022-05-31 21:24] lmbr-pip commented on #9835
Unsure who owns the camera component. Assigning to sig-content for now.

[2022-05-31 21:25] fufushang commented on #9835
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-05-31 21:26] GraphiteSIX commented on #9843
I Imported the assets into the editor and asset justF2  shows partial wireframe as described above.
Looking into the logs, the converted azmodel dot character are replaced with underscore but animation editor uses the fbx.
There are other errors but it seems the parser doesn't produce accurate data import because of the dot character.
[Logs_JustF.zip](https://github.com/o3de/o3de/files/8809527/Log

[2022-05-31 21:27] lmbr-pip commented on #9835
Comment from author appears to be out-of-reply "This is a holiday auto-reply email from QQ Mailbox. Hello, I've been on vacation lately and can't respond to your emails personally. I will get back to you as soon as possible after the holidays are over."

[2022-05-31 21:35] GraphiteSIX commented on #9779
Still getting [Error] (System) - Failed to read from socket (10054:An existing connection was forcibly closed by the remote host.)
With the exact same behavior on  https://github.com/o3de/o3de/commit/f1479668cb59b7721c36168b526290e493f42917
Can anyone else repro ?

[2022-05-31 22:24] Kadino commented on #8875
AssetProcessor is currently shared across all EditorTest functions in a class. Investigating whether it is possible to share across a module, package, or session.

[2022-05-31 23:01] #9735 closed

[2022-05-31 23:42] srikappa-amzn opened #9849 "Provide a way to listen to source file changes only on certain files instead of every source file"
**Is your feature request related to a problem? Please describe.**
There isn't a way to listen to source file changes on a 'need-to-know' basis. The only available option is to connect to AssetSystemBus ebus and get notified for all source file changes.(SourceFileChanged, SourceFileRemoved )

**Describe the solution you'd like**
As a system, I'd like to connect to a new ebus addressed by a unique

[2022-06-01 01:09] mbalfour-amzn opened #9850 "[Terrain] Terrain_SupportsPhysics test intermittently fails"
**Describe the bug**
The Terrain_SupportsPhysics automated test intermittently fails.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the AutomatedTesting project.
2. Run the Terrain automated tests with a command like `python\python.cmd -m pytest --build-directory build\windows_vs2019\bin\profile AutomatedTesting\Gem\PythonTests\Terrain\TestSuite_Main.py`

**Expected behavior**

[2022-06-01 06:20] amzn-jillich commented on #9127
Do you think there are different default settings for humanoid vs. robotic creature? Can you mention some/your ideas here? I am wondering what the benefit of categorizing things here are?

We will have a setting to enable/disable extraction of root motion. We can think about some heuristic to auto-select that, e.g. as you said based on the number of bones. If there are less than 10 bones in the sc

[2022-06-01 09:55] hultonha commented on #9127
Also is this issue really critical? I'd argue this is major or maybe minor (we can discuss more in the sig-simulation triage meeting later)

[2022-06-01 10:54] hultonha commented on #9672
Thanks for notifying me about this @galibzon - the fundamental problem here is how BoxShape is defined. Right now it just has a single `Vector3` for width/height/depth (there is no center or pivot). This is why adjusting one side with the manipulators is symmetrical. This issue impacts all components that use Box Shape (Terrain being another example).

We have looked into this in the past and it o

[2022-06-01 10:54] hultonha commented on #9672
Adding sig/simulation and needs triage to discuss in the next sig-sim triage meeting

[2022-06-01 13:43] LB-MateuszSzweda opened #9853 "Source Engine built Editor fails to open and create new levels after FBX Settings (PREVIEW) tool window has been opened"
**Describe the bug**
Opening the FBX Settings (PREVIEW) tool window hinders the Source Engine built Editor ability to open and create new levels successfully.

Trying to open or create a new level leaves the user with an empty level without any entities.

Please note that this occurs even after the FBX Settings (PREVIEW) tool window was closed and in order to correctly load and create levels after

[2022-06-01 15:38] mbalfour-amzn opened #9855 "Entity Inspector loses focus when editing"
**Describe the bug**
When making changes to properties in the Entity Inspector, a refresh occurs that causes the inspector to lose focus, which prevents keyboard navigation like Tab presses from working correctly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Editor
2. Create a new entity
3. Highlight the X text entry box in the Transform component
4. Type a new number and p

[2022-06-01 15:41] mbalfour-amzn commented on #9813
@L4exp does this happen with _any_ component, or just with Image Gradient?

[2022-06-01 15:50] monroegm commented on #9712
@lanbingluyu  Is this still an issue on latest development?

[2022-06-01 15:52] lmbr-pip commented on #9843
Allowed characters are in the documentation, '.' would be invalid for a node name for O3DE. Maya does not allow these characters so we defer to the Maya naming convention.

This may be a sig-content feature/asset-pipeline issue.

[2022-06-01 15:56] jackalbe commented on #9127
@hultonha the user defined properties (UDP) feature added to the scene pipeline might be a good way to solve some of these issues. In this way, the UDPs can store metadata to tag certain nodes as "root node" or "how many bones to apply" and so on

[2022-06-01 16:00] monroegm commented on #9190
We don't have layer support in O3DE is the test necessary? Can it be removed.

[2022-06-01 16:03] lumberyard-employee-dm commented on #9845
Moving over to sig/content as Project Manager is maintained by that group

[2022-06-01 16:14] lumberyard-employee-dm commented on #9150
@macy12825 Can you explain what you mean by the "jump" failing?

[2022-06-01 16:41] carlitosan commented on #8992
Agreed, that is all that is necessary.

[2022-06-01 16:43] sptramer commented on #9112
@galibzon - sig-docs-community might recommend either removing the minimum driver information, updating to latest drivers (for both NVIDIA and AMD), or simply leaving the existing information there until such an RFC is written and we have information from the SIG regarding minimum specs.

[2022-06-01 16:49] sptramer commented on #9839
https://github.com/orgs/o3de/teams/sig-simulation - When deprecated, an issue must be created on o3de.org to remove any materials related to the deprecated content.

[2022-06-01 16:52] hultonha commented on #9627
@yuyihsu This ticket came-up in sig-simulation triage and we would like to downgrade this to `priority/major` as while this issue is a nice to have it's not totally breaking any workflows.

[2022-06-01 16:55] hultonha commented on #9191
Tagging @amzn-rhhong - @amzn-jillich mentioned that this issue may already be resolved, would you please be able to verify this if so? Thanks!

[2022-06-01 16:59] hultonha commented on #8681
@michleza - bumping this again, if there still is no update by 2022/06/08 this issue will be closed. Thanks!

[2022-06-01 17:22] amzn-changml commented on #9757
We're accepting this into SIG-Build's roadmap

[2022-06-01 17:31] amzn-changml commented on #8712
@robhaco Can you give some details about how this was discovered in the installer/pre-compiled build?

[2022-06-01 17:34] amzn-changml commented on #8707
@amzn-pratikpa Would SIG-Platform own the packaging script for each supported install type?

[2022-06-01 17:48] amzn-rhhong commented on #9843
https://github.com/o3de/o3de/pull/9852 should address this issue.

[2022-06-01 18:59] GraphiteSIX opened #9862 "Editor crashes when left click dragging in script canvas"
**Describe the bug**
While connecting pins the editor can crash

**Steps to reproduce**
I can't provide solid steps to repro it every time but spending 30-45 mins in canvas usually results in a crash.

**Expected behavior**
Stability when connecting nodes.

**Actual behavior**
Indeterminate crash

**Found in Branch**
(https://github.com/o3de/o3de/commit/023c1c82968b34ba55eaca22ab1b2f052ab8c62c)

*

[2022-06-01 19:09] lmbr-pip commented on #9770
Should we move issue to sig-graphics-audio or sig-testing? Dependabot can auto update: https://github.com/o3de/o3de/pull/9863 but obviously this needs testing.

[2022-06-01 19:48] Kadino commented on #9770
If automated tests pass when https://github.com/o3de/o3de/pull/9863 is run through Jenkins, then it should be good to go. I see no other testing requirements, as this is only used by Graphics automated tests.

[2022-06-01 19:50] Kadino commented on #9770
In my opinion, the automated tests should be sufficient. As far as those other Atom tools scripts, I'm tempted to say "if you liked it then you should have put a test on it"

[2022-06-01 19:52] michleza commented on #8681
This no longer repros for me in latest development build.

[2022-06-01 20:07] AMZN-alexpete commented on #8681
Resolving as fixed!

[2022-06-01 20:07] #8681 closed

[2022-06-01 20:12] AMZN-alexpete commented on #9597
This almost looks like Qt is mixing low and high DPI settings.  @AMZN-daimini is there a setting to turn of Qt high DPI mode that @Valeriooooh could test?

[2022-06-01 20:25] lmbr-pip commented on #9853
Believe this should be a sig/content issue as its Editor, AssetBrowser and FBX related, does not appear to be for sig/simulation.

[2022-06-01 20:36] AMZN-daimini commented on #9597
When discussing this on Discord, we tried changing from SystemDpiAwareness to PerScreenDpiAwareness to no avail. There's other similar settings that we could play around with to see if they solve the issue:

`\\o3de\Code\Editor\CryEdit.cpp` line 3907
[code]

I was checking on Google and there seemed to be some discussion about Qt applications having issues on AwesomeWM, but no specifics.

[2022-06-01 21:28] AMZN-Olex opened #9865 "Navigation Gem doesn't work with Terrain"
**Describe the bug**
When placing terrain within the area of a navigation mesh, the terrain data is seemingly ignored and not added to the navmesh.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open AutomatedTesting project
2. Open NavigationSample level
3. Add terrain components
4. Confirm that navigation map area covers the terrain
5. Start game mode
6. Observe navigation mesh beha

[2022-06-01 22:17] shawstar opened #9867 "Improve default configuration used by PhysX Collider component"
**Is your feature request related to a problem? Please describe.**
When adding a PhysX Collider to an entity, the shape didn't appear at first. This is because the shape property was set to be the shape "PhysicsAsst".

![image](https://user-images.githubusercontent.com/87207603/171508517-7730b917-810c-4740-97ab-c945cedd286e.png)

This is great to have if you happen to have built a mesh and created

[2022-06-01 22:30] FuzzyCarterAWS commented on #9627
@hultonha

I've updated the description. I'm unable to repro locally. However, I can send you a video reference of where the issue happened for analysis by you or by the dev that will work on this.

[2022-06-01 22:40] shawstar opened #9868 "Feature Request - Entity Collider PhysicsAsset visualization for when shape property is set to PhysX Material"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/87207603/171513203-ab30b8f1-fe63-48c7-a9cd-f4028016dd3e.png)
When a asset is set-up in a DCCs tool properly, o3de will auto-detect the PhysicsAsset.
![image](https://user-images.githubusercontent.com/87207603/171512925-7258ea6a-a540-40f9-9436-b7b5c76a3e1a.png)
However it will not

[2022-06-01 22:56] AMZN-puvvadar opened #9869 "ScriptEventRegistration can cause SystemTickBus subscription in a worker thread"
**Describe the bug**
ScriptEventRegistration can occur as a side effect of AssetProcessing in AutomatedTests. This leads to ScriptEventRegistration subscribing to the  SystemTickBus on a worker thread which is not a legal operation.

**Failed Jenkins Job Information:**
PR-9848
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-9848/1/pipeline/678

[code]

**Attachments**
Jenk

[2022-06-01 22:59] amzn-tommy commented on #9821
![SetColorRed](https://user-images.githubusercontent.com/82672795/171515059-305806b2-7cea-4cb4-b4e1-dc8c953a9108.PNG)

As discussed in discord (see thread https://discord.com/channels/805939474655346758/816043601754325023/981638734271377438), this will work as long as you have a default material applied and no materials on the individual slots. Otherwise, it would need to be modified to get the Ma

[2022-06-02 00:53] ParasiteSt commented on #9821
Thanks amzn-tommy this is exactly what I was looking for, and shows that it is not broke in script canvas so I will be closing this issue.

[2022-06-02 00:53] #9821 closed

[2022-06-02 10:20] LB-MichalRodzos opened #9875 "Restarting Editor after changing root bone for actor results in assert printed in console"
**Describe the bug**
Changing the root bone for actor in the Scene Settings may result in actor disappearing from the Viewport. Restarting the Editor results in actor being visible with root bone changes applied. However, in the Editor's console assert is printed.

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity with the Actor component.
2. Add available actor t

[2022-06-02 10:21] LB-BartoszCwiek opened #9876 "RecastNavigation Gem has part of its description cut off"
**Describe the bug**
After enabling RecastNavigation Gem, in the Manual setup is required window, part of its description is cut off.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Project Manager.
2. Create a new project.
3. Enable RecastNavigation to the created project.
4. Click Save button.

**Expected behavior**
Manual setup is required window shows full description of Recas

[2022-06-02 10:39] LB-ArturZieba commented on #9735
Issue verified as fixed on the Development (9cf4dff) build.

[2022-06-02 11:36] LB-ArturZieba opened #9877 "[Linux] Clicking the Editor with mouse buttons causes the Select Color window to flicker"
**Describe the bug**
If the Select Color window is in focus, and the user clicks the Editor with any mouse button, it can cause the Select Color window to flicker, and the Ubuntu system pop-up (O3DE Editor - "O3DE Editor" is ready) to show up briefly in the top-middle of the screen.

It should be noted that this does not occur on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1.

[2022-06-02 12:33] LB-ArturZieba opened #9879 "[Linux] Memory usage displayed in the Editor is always zero"
**Describe the bug**
Memory usage displayed in the Editor always shows 0 Mb on Linux.

It should be noted that this does not occur on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch any level in the Editor.
2. Look to the bottom right at the Memory usage.

**Expected behavior**
Memory usage is displayed to the user.

**Actual behavior**
Memory usage displayed is always

[2022-06-02 13:36] LB-ArturZieba opened #9880 "Input Bindings "Class to create" popup location is inconsistent between Windows and Linux"
**Describe the bug**
When adding a new Event Generator in an .inputbindings file, the "Class to create" popup shows up in different place on the screen depending on the Operating System. On Linux it shows up in the top left corner of the monitor, while on Windows it shows up near the center of the screen.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Tools > Asset Editor.
2. In

[2022-06-02 14:18] amzn-jillich commented on #9550
PR ready: https://github.com/o3de/o3de/pull/9881

[2022-06-02 14:43] galibzon opened #9882 "Bug: Shadow Artifacts On Terrain"
**Describe the bug**
In the editor, as the camera move above the terrain, there are some visible shadow artifacts where some triangles get considerable darker than what they should be.

**Steps to reproduce**
Build the Editor, with `AutomatedTesting`, and load the attached level.

**Expected behavior**
No shadow artifacts in the terrain

**Actual behavior**
Some triangles are rendered darker as th

[2022-06-02 14:43] galibzon commented on #9882
FYI @mbalfour-amzn , @invertednormal , @jiaweig-amzn

[2022-06-02 14:51] mbalfour-amzn commented on #9882
Note - this artifact is specifically related to the Shadow Filter method. It happens with "None" and "PCF", but not with "ESM".

[2022-06-02 15:14] shawstar opened #9883 "Feature Request - PhysX Collider Edit Dimensions"
**Is your feature request related to a problem? Please describe.**

During a WTE live session: While configuring the PhysX Collider shape on an asset entity, having a hard time orienting to the world space because the collider box's translation widget, which represents the 3D space of the collider, doesn't match the world space.

**Describe the solution you'd like**
![image](https://user-images.gi

[2022-06-02 15:50] yuyihsu opened #9884 "[Feature Request] Shape AuxGeom can be occluded and difficult to see or adjust"
**Is your feature request related to a problem? Please describe.**
Selected shape objects (boxes for example) should always draw their edges/sides (possibly with checkerboard), rather than being occluded behind geometry so that it can be more easily seen.

More information:

Many workflows such as reflection and gi probes, require box shapes, often overlapping and/or nested for blending.

The boxe

[2022-06-02 16:11] shawstar opened #9885 "[Feature Request] - RTE Session - Dragging .FBX to scene results in Entity populated with multiple mesh components."
**Describe the bug**

"After user adding the RV mesh into the O3DE scene, the RV entity instantiated with two Mesh components. This isn't allowed, so the second mesh component was disabled due to conflict with first mesh. Possible issue - why were there two mesh components in the first place? This happened again when loading another model that has multiple models within it. This was a more complex

[2022-06-02 16:47] shawstar opened #9886 "Feature Request - Texture thumbnails in the Material Editor preview as red and not grayscale."
**Is your feature request related to a problem? Please describe.**
FROM RTE:
 "Odd, the roughness file is showing red. This behavior is intended - it shows as red in the preview, but O3DE will display it on the object correctly. This is potentially confusing for artists, but being able to see the texture works in the view-port confirms that its working correctly, so user is at ease."

![image](htt

[2022-06-02 17:13] yuyihsu commented on #9538
We need to extend the auto-save behavior across all the tools in O3DE. According to @AMZN-daimini , we will need to do this from the system level, and need to write a RFC for this feature request. This should also be included in the BJDS scope.

[2022-06-02 17:17] srikappa-amzn commented on #3168
This is now fixed with the changes in https://github.com/o3de/o3de/pull/9795 . Closing this.

If the entity containing the vegetation spawner is modified, it'll still get deactivated and reactivated causing the vegetation to refresh. That is because the reloading logic has now been moved to a per-entity basis instead of per-prefab basis. @mbalfour-amzn , let us know if that behavior matches your e

[2022-06-02 17:17] #3168 closed

[2022-06-02 17:22] NicholasVanSickle opened #9888 "Make AZ::Attribute generic dispatch/read use AZStd::any instead of AZ::Dom::Value"
**Is your feature request related to a problem? Please describe.**
https://github.com/o3de/o3de/pull/9857 introduces polymorphic generic dispatch to `AZ::Attribute` in the form of `DomInvoke` and `GetAsDomValue` which adds a DOM dependency to the Attribute system which is not desired.

**Describe the solution you'd like**
As an alternative, we'd prefer to make the marshalling more generic by using

[2022-06-02 17:28] yuyihsu commented on #9539
UX suggestion:
1. Highlight the play button to be blue, and consider to have a separate pause button.
2. Display a tooltip what is being played in the viewport.

[2022-06-02 17:36] lmbr-pip commented on #9797
@CSteel22 does @kberg-amzn's answer meet your needs? If not please update this feature request with any use case / requirements not met by current features.

[2022-06-02 17:38] yuyihsu commented on #9754
UX suggestion:
1. User can use F/Z key to zoom to the selection. We need to document this in the docs to educate the user.
2. Add a clear visual feedback to the empty entity in the viewport.

[2022-06-02 17:43] yuyihsu commented on #9672
We should also look into the shape editing across different systems. We've seen an inconsistent behavior across the different shape editing in different system.

[2022-06-02 17:51] yuyihsu commented on #9534
UX suggestion:
- Short-term: Have a consolidated status displayed on the main editor bottom right corner, where user can see what's going on with their asset process status, and they can click on the status to bring up the Asset Processor window to the front to view more detailed info.
- Long-term: Allow the Asset Processor dockable in the main editor, so it's easier for user to see the asset stat

[2022-06-02 18:16] NiklasHenricson commented on #9797
@lmbr-pip I can answer on behalf of @CSteel22

Yes this answers our question. Thank you very much

[2022-06-02 18:49] mbalfour-amzn commented on #9754
@hultonha This one has confused me too, let me see if I can add a visual aid to explain why it's confusing.

Steps:
1. Right-click in the Entity Outliner and choose "Create Entity"
![image](https://user-images.githubusercontent.com/82224783/171701926-e750d73b-7d26-4464-af55-7891575de29e.png)
2. Look at the values on the entity:
![image](https://user-images.githubusercontent.com/82224783/171702009-

[2022-06-02 18:51] srikappa-amzn commented on #9672
@o3de/sig-simulation , deferring triaging of this issue to you since sig-simulation owns shape component

[2022-06-02 19:00] srikappa-amzn commented on #8976
Forwarding to @o3de/sig-network for triage

[2022-06-02 19:02] Elzair opened #9889 "Linux Compile Failed - OpenSSL issue (?)"
[o3de.build.log](https://github.com/o3de/o3de/files/8826729/o3de.build.log)
**Describe the bug**
Main Branch O3DE Build fails on Linux

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files) or as a link to a public asset in Git

[2022-06-02 20:14] forhalle commented on #9756
Per conversation with @spham-amzn, we are reducing the priority to Major because (1) the workflow is unusual, (2) there is a workaround (delete the folder and use Project Manager), and (3) the crash is not consistent (did not occur for @spham-amzn during testing), and (4) Feature Request #9845 will detect this scenario.

[2022-06-02 20:25] lmbr-pip opened #9890 "Pillow should be upgraded 9.1.1 or later"
**Describe the bug**
Pilliow versions below 9.1.1 have a heap overflow issue when working with TGA files. See https://github.com/o3de/o3de/security/dependabot/41 (Note need to be a maintainer to see Dependabot alerts)

**Assets required**
None

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/o3de/o3de/blob/development/python/requirements.txt#L137
2. Check Pillow

[2022-06-02 20:27] lmbr-pip commented on #9890
Entering bug on behalf of SIG/Security with our initial triage as a critical (based on CVSS/Dependabot rating). Sig/testing I believe uses Pillow to drive some automated tests so setting as initial SIG to own fix. SIG/testing should asses the situation and prioritize according to actual impact.

Please reach out to SIG/Security if you have have any questions,

[2022-06-02 20:30] amzn-tmryan commented on #6404
I think this issue has been resolved with the swap from QModelIndex to QPersistentModelIndex in #9564. I was seeing this same error when searching in the editor, but changing to QPersistentModelIndex fixed it. I was also able to run the C++ Asset Browser tests many times without seeing this issue.

[2022-06-02 22:32] #6191 closed

[2022-06-03 00:09] AMZN-mnaumov opened #9895 "ScriptCanvas: add API for validating custom nodeables"
**Is your feature request related to a problem? Please describe.**
in my case I want to validate that if there are any spawning-related nodes (Prefab->Spawning), there is a SpawnTicket variable declared as well. This is a common issue for the users, because it's not clear without reading documentation that SpawnTicket needs to be cached to a variable. When a user tries to save such graph, it shoul

[2022-06-03 00:10] AMZN-mnaumov commented on #9690
currently blocked by https://github.com/o3de/o3de/issues/9895

[2022-06-03 01:00] ParasiteSt opened #9896 "_gradient images do not look the same once imported."
**Describe the bug**
If you import a ui sprite and add it to an image component it looks just like it should out of photoshop/other software, but if you add the _gradient / _grad , it is suppose to keep all the gradient detail for seamless color, but in the process it changes the color itself so it is no longer looking like it should.

**Assets required**
[!Important!] Please provide sample assets

[2022-06-03 06:50] gadams3 commented on #9709
Correct. Handling the source file change notification in the editor material component should take care of this.

[2022-06-03 06:54] gadams3 commented on #9732
I have made some modifications to the material instance inspector menus and heading. The menu action names have been renamed to save as and save over. Save over also includes the file name for the material source file that will be saved over if the file is not changed in the save file dialog. The heading also has links for all of the related material assets so that they can be opened in the materi

[2022-06-03 06:59] gadams3 commented on #9734
I have updated the comparison logic that's responsible for displaying the indicator. It should behave as expected now. I also added a brief description of the indicator to the tooltip for the property row. We cannot easily place a tooltip specifically on the image for the indicator. I can investigate including the image in the tooltip if that's possible. The image can also be replaced once art is

[2022-06-03 07:00] gadams3 commented on #9827
this will be addressed once the following pull request is submitted  https://github.com/o3de/o3de/pull/9893

[2022-06-03 07:33] amzn-jillich commented on #8603
I couldn't reproduce it after #9881, but might not have the exact same scenario that you, @galibzon were running into. Let's re-test this once the PR is commited.

[2022-06-03 09:11] LB-ArturZieba opened #9904 "[Linux] Spline component's Spline Type property is blank"
**Describe the bug**
On Linux, the Spline component's Spline Type property is blank, and clicking the dropdown does not do anything. As per documentation (https://www.o3de.org/docs/user-guide/components/reference/shape/spline/), there should be three Spline Types available: Linear, Bezier, and Catmull-Rom.

It should be noted that this issue does not occur on Windows.

**Steps to reproduce**
Steps

[2022-06-03 11:28] LB-ArturZieba opened #9905 "[Linux] Console textbox does not display entered text while in Game Mode"
**Describe the bug**
On Linux, while in the Game Mode, the Console's textbox does not display the text that is typed in, and does not affect the cursor when hovered over. This does not occur while the Game Mode is not enabled.

It should be noted that this does not occur on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Enter the Game Mode.
2. Press the tilde key (~), and lef

[2022-06-03 12:49] LB-JakubSkoczylas opened #9906 "[Linux] Incorrect camera behavior for multiple Viewports"
**Describe the bug**
After leaving the Game Mode, the viewport camera activates for two viewports at once. Changing the selection of viewports restores the correct behavior. For more than two viewports, two randomly selected viewports are chained together.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Configure the Viewport Layout to render two windows.
3. Ente

[2022-06-03 13:14] LB-JakubSkorupka opened #9907 "Errors and multiple asserts are being printed in console after changing Viewport layout"
**Describe the bug**
After changing the **Viewport** layout by using _View -> Viewport -> Configure layout_ multiple asserts are being printed in the console.
Note that the asserts differ depending on the OS used.
Due to the large amount of asserts please refer to the attached Editor.log files.

**Errors**
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new level.
2. Vi

[2022-06-03 14:26] pollend commented on #9889
I believe this is fixed in development.

[2022-06-03 14:49] galibzon commented on #9896
@cgalvan or @michabr Can you guys answer this question?

[2022-06-03 15:37] lmbr-pip commented on #9885
Relates to https://github.com/o3de/o3de/issues/9344 - needs UX changes to support this work.

[2022-06-03 15:52] lmbr-pip commented on #9896
Sending to sig-content based on ownership in CODE owners

[2022-06-03 16:37] #8973 closed

[2022-06-03 17:53] shawstar commented on #9687
I made this Critical, since this is now turned on be default. A large mesh with many meshes will be very large and fail the AP. Say I have a 100k mesh with 10 Children. The mesh Prefab is now x10 larger mesh.

[2022-06-03 18:06] lmbr-pip commented on #9075
@robhaco  do you have logs for this?

[2022-06-03 18:09] galibzon commented on #9075
I debugged a little bit this past Monday, and found that the LuaIDE is sending messages everytime I click "Step Over". I placed a breakpoint in the Editor and nothing arrives. Interestingly, I noticed that when hitting the breakpoint there are events being sent between Editor and LuaIDE. But once you click "Step Over" then the exchange stops and LuaIDE is just there waiting to hear back from the E

[2022-06-03 18:50] GraphiteSIX commented on #9075
I repo'd this first time but thought I would provide some dumps via procdump of the editor and LuaIDE.
Produced on development commit https://github.com/o3de/o3de/commit/917aba465b2390a5a52fc8413e0ffd86a7db7e1d
[Proc_dump.zip](https://github.com/o3de/o3de/files/8834910/Proc_dump.zip)

[2022-06-03 19:25] Kadino commented on #8875
This notably will not be able to share outside of a single invocation of pytest, and each ctest module currently invokes a separate one

[2022-06-03 20:29] robhaco commented on #9779
@lmbr-pip I can confirm this still reproduces in current development.  Saw the same log entries as the Graphite:
<15:24:18> (System) - Adding new socket 8224
<15:24:33> (TargetManagementComponent) - Set Target - 118708864
<15:24:33> (LUA) - Rejecting msg 0x88a2ee04 (Host is not the attached debugger)
<15:24:33> (LUA) - Received EnumContexts request
<15:24:36> [Error] (System) - Failed to read from

[2022-06-03 21:13] GraphiteSIX commented on #9779
@robhaco The AP still disconnects for me after you shut the error popup behind the editor window and wait 30 secs.
Tested on commit https://github.com/o3de/o3de/commit/917aba465b2390a5a52fc8413e0ffd86a7db7e1d
Have you tested on a later commit maybe ?

https://user-images.githubusercontent.com/105223355/171953648-8aa3459b-33f2-451f-8a53-01deb801371c.mp4

[2022-06-03 21:19] #9525 closed

[2022-06-03 21:47] srikappa-amzn commented on #9737
I wanted to point out that this is not an intermittent issue. I tend to open my editor and leave it in the background. After 10+ minutes, the assert always gets hit. I have ""bg_assertsAutoBreak": true in my settings registry. So I always the assert hitting and breaking in my VS solution.
Here's the stacktrace if it helps:
[code]

[2022-06-03 21:55] #9707 closed

[2022-06-03 22:48] smurly opened #9915 "Actor component editor inspection UI 'Bounding box configuration' opens UI elements under a different section"
**Describe the bug**
when interacting with the expand control 'Bounding box configuration' the expanded UI elements actually appear below the expand section 'Render options'

**Assets required**
o3de editor.exe

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new level in editor.exe
2. create a new entity and add component Actor to it
3. click the expand carrot next to 'Bounding

[2022-06-03 22:48] robhaco commented on #9779
@GraphiteSIX Interesting, you're actually at a slightly newer commit than what I was testing at.  I get the dialog, but no AP shutdown after closing it.  I'll pull newer just to be safe.  Thanks for the update.

[2022-06-03 23:01] smurly opened #9917 "Actor component editor UI "Out of view" section name is unclear in purpose or in error"
**Describe the bug**
In the Actor component the inspector section labeled 'Out of view' seems unclear in purpose. Is the section label meant to not be visible itself or is the grouping meant to convey properties that don't impact the visible function of Actor.
Add Material button should probably not be in a group expand here. seems like it should be at the bottom of the list of properties as a con

[2022-06-03 23:15] GraphiteSIX commented on #9737
Weird I tried to repro and didn't get the assert after 25+ mins.
Maybe put cvar sys_asserts to level 3 and get a crashdump so someone can do a static run

[2022-06-04 00:46] #9592 closed

[2022-06-04 00:50] smurly opened #9918 "Actor EditorActorComponent.cpp could use a refactor organizing with Controller and Config classes"
**Is your feature request related to a problem? Please describe.**
comparing the EditorActorComponent.cpp implementation of UI and editor python bindings reflection it could use some reorganization and a shift to a standard more like EditorMeshComponent.cpp
editContext->Class<EditorActorComponent> seems to contain all attributes and dataelements stuffed together
the exposed Editor Python Bindings

[2022-06-04 15:18] GraphiteSIX opened #9921 "When Lua script component is empty starting the PIE causes a crash."
**Describe the bug**
When Lua script component is empty starting the PIE (Play In Editor) causes a crash.

**Assets required**
No assets required

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new level
2. Create entity
3. Add Lua script component
4. Leave script empty
5. Press Play observe crash

**Expected behavior**
Error message or no action

**Actual behavior**
Crash to de

[2022-06-04 20:05] robhaco commented on #9779
@lmbr-pip after further testing, this issue seems to be variable.  Out of 5 attempts at latest, had the asset processor shut down for 2 of the attempts.  Interestingly, during one of the attempts, none of the above issues happened and everything continued to run after connecting the LuaIDE to the Editor.  It's likely there are other factors that are making it more common for different devices.

[2022-06-04 22:51] GraphiteSIX commented on #9779
I Looked into my firewall and found loads of old AP & LuaIDE rules (Like 50+ lol), so I reset to default but made no difference I can still repro the issue.
What is strange is if I add Lua script first then scriptcanvas then ui editor it doesn't shutdown.
And If I open script canvas first then ui then LuaIDE it doesn't shutdown.
So only in the order of add UI and open, add Scriptcanvas and open, a

[2022-06-04 23:05] GraphiteSIX commented on #9779
@lmbr-pip Here is the minidump Not sure if your get enough info from it or not.
[LuaIDECrash.zip](https://github.com/o3de/o3de/files/8839072/LuaIDECrash.zip)

[2022-06-05 02:51] ParasiteSt commented on #9232
@galibzon has this been started yet? If not it does not seem to be needed since meshes can use screen space coverage and change with that which is very close if not better than a component like this would be. Just wondering because if it has not been started or worked on this could be closed as it is more of a semi useless component with the options you have for switching LOD's on meshes either in

[2022-06-05 13:09] GraphiteSIX commented on #9736
I retested this issue firstly with a different setup.
![MultiColorSpawner](https://user-images.githubusercontent.com/105223355/172051906-3ce16e36-a828-4198-9ec9-b8d487242312.png)
![SpawnMe_SC](https://user-images.githubusercontent.com/105223355/172051912-2b29f6c1-f72d-40a9-b7cd-18c34f273763.png)
As you can see it is much more complex and has no delay and I thought the issue had been taken care of.

[2022-06-05 19:32] Elzair commented on #9889
Thanks!

[2022-06-05 19:32] #9889 closed

[2022-06-05 23:45] pollend commented on #9889
did you check if it worked?

[2022-06-05 23:45] Infurael commented on #9754
Small but important detail to keep in mind; it's not the entity that's at the root of the problem but rather the initial coordinates for the TransformComponent. Pointing this out, because at some point in the future having a TransformComponent won't be mandatory. Not all entities require a position in the world, so creating an entity shouldn't come with the expectation that it will be put at the l

[2022-06-05 23:52] Infurael commented on #2218
A key feature it should have imho is to see what .setreg or .setregpatch file contributed to the value of a key. This makes it much easier for users to track down the relevant files for a key/value pair and help debug unexpected values. It has for instance come up a few times that users forgot they had a .setreg file in their user folder and they couldn't find what caused a value to be different f

[2022-06-06 10:26] LB-MateuszSzweda opened #9926 "PhysXMaterialRefactor: Swapping Physics Materials of PhysX Meshes exported with Triangle PhysX Meshes in Fbx Settings can break graphic meshes associated with .fbx asset"
**Describe the bug**
**This issue does not reproduce in Development** (771b1d1)

Swapping a _Physics Material_ assigned to an .fbx asset exported with _Triangle PhysX Meshes_ in Fbx Settings will break rendering of the graphic mesh associated with .fbx asset if an entity with *PhysX Collider* and *Mesh* component that has a said .fbx asset assigned to it is present in the viewport.

Please note th

[2022-06-06 10:29] LB-MateuszSzweda opened #9927 "PhysXMaterialRefactor: Physics Materials from Linux Gems\PhysX\Assets\PhysX directory have different physical values than materials from PC build"
**Describe the bug**
The physical values of Physics Materials located in_ Gems\PhysX\Assets\PhysX_ differ between Linux and PC build. For instance it can be observed that _rubber.physxmaterial_ has a restitution value of *0.85* on PC build ,whereas on Linux build the restitution value for the material for its _Gems\PhysX\Assets\PhysX\rubber.physxmaterial_ is *0.0* generating no bounciness in entit

[2022-06-06 11:43] hultonha commented on #9904
@pollend is actively working on fixing this issue and has a PR here - https://github.com/o3de/o3de/pull/9923

[2022-06-06 12:56] hultonha commented on #9127
Thanks for the info @jackalbe, this is something I can definitely talk to the Character team about. Cheers!

[2022-06-06 12:59] hultonha commented on #9843
Could this please be verified @shawstar as we believe https://github.com/o3de/o3de/pull/9852 fixes it, please reopen if not. Thanks!

[2022-06-06 12:59] #9843 closed

[2022-06-06 13:15] moraaar commented on #9780
It has been discovered that the workaround solution (PhysX Collider marking the entity as dirty with `ScopedUndoBatch::MarkEntityDirty`) is causing issues when creating prefabs from the editor.

For some reason it makes other entities to lose the level root.

Steps to do in the editor, branch `PhysXMaterialRefactor` commit `52821168eedf639385340a6ec34375334aedc3b4`:
- Create entity 1
- Create enti

[2022-06-06 13:29] hultonha commented on #9627
Thanks very much @FuzzyCarterAWS

[2022-06-06 13:37] LB-JakubSkorupka commented on #4076
Issue can be closed as we verified that this issue does not occurs on build Development (f4c59f8).

[2022-06-06 13:46] LB-TomaszSerwanski opened #9928 "Script Canvas: Pressing the Parse As Script Event button without having any graph open crashes the Editor"
**Describe the bug**
The _Parse As Script Event_ option is enabled even without having any graph open in Script Canvas. Pressing it in such state crashes the Editor.

Please refer to the attached video and log files for more details.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Script Canvas tool.
2. Without opening any graph select _Script Event [PREVIEW]_ -> _Parse As Scrip

[2022-06-06 15:53] hultonha commented on #2263
Note: Adding `kind/feature` label as this is a more complicated task with a large surface area to test and update. This will be need to be planned work.

[2022-06-06 15:56] hultonha commented on #2581
Adding RTE and WF3 label as this is a usability issue that needs to be discussed and a new design proposed. Tagging @yuyihsu for visibility.

[2022-06-06 16:27] #9827 closed

[2022-06-06 18:41] AMZN-alexpete opened #9931 "Project Manager fails to build a project after re-install"
**Describe the bug**
Project Manager builds fail with the error `Could not find a package configuration file provided by "o3de"`

**Assets required**
o3de release and nightly installers from official location https://o3debinaries.org/download/windows.html

**Steps to reproduce**
Steps to reproduce the behavior:
1. install o3de release build
1. create and build a project and launch the editor
1. in

[2022-06-06 18:48] #9928 closed, assigned to carlitosan

[2022-06-06 20:39] jckand-amzn commented on #9520
This affects both Local and World scale.

[2022-06-06 21:11] yuyihsu commented on #9322
@cgalvan @AMZN-daimini , do you know what is the size for the hit area we have currently for user to grab and resize a application window? Also, are they the same size in EMFX and other applications?

[2022-06-06 21:17] AMZN-daimini commented on #9322
Hey Yuyi, yes the hit area for resizing is the same throughout the whole application. Unfortunately it's not something that Qt exposes and allows to edit easily - which is why we went for thicker splitter lines in the main editor window, for example, as the drag behavior is tied to the visual side.

It is definitely an issue for accessibility, but it may need a patch to the Qt library to allow it

[2022-06-06 22:32] onecent1101 commented on #9736
I have tested the delay node without spawning prefab, the behavior looks correct to me.
There are some guesses for your graph:
1. Both Spawn and Despawn complete are asynchronous actions, and you are nested these two actions, so the behavior is hard to control (which may not behave as you expect, and you should know as you try to Despawn prefab under OnSpawnComplete, you basically queue up bunch o

[2022-06-06 23:40] gadams3 opened #9937 "Changing an entity and marking it dirty with an undo batch causes the entity to be destroyed and inspector UI to be rebuilt"
**Describe the bug**
it was recently discovered that modifying properties in the material component instance inspector resulted in the UI getting collapsed, destroyed, and rebuilt. Making changes, marking an entity dirty with an undo batch, caused the prefab system to destroy and recreate the entities.

Previously, making changes in the material component instance inspector occurred smoothly, with

[2022-06-07 01:51] AMZN-daimini commented on #8013
This is by design. As signified by the cursor not changing, the magnifying glass in the field is merely a decoration and not a button.

Tagging UX to double check whether this should be reconsidered or can just be closed.
@o3de/sig-ui-ux @yuyihsu

[2022-06-07 01:52] AMZN-daimini commented on #2668
Fixing this as part of a different task (migrating the widget to the new Action Manager)

[2022-06-07 03:39] amzn-changml opened #9943 "The benchmark_test_profile job runs all test suites called SUITE_benchmark"
**Describe the bug**
The `benchmark_test_profile` job in the periodic pipeline runs all test suites starting with `SUITE_benchmark`, while the intention is to run only the test named `SUITE_benchmark`

**Assets required**
Run where this occurs: https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/3/pipeline/1019 on a CPU only build node.

**S

[2022-06-07 04:15] pollend commented on #9904
@LB-ArturZieba  here are some other places that will probably be broken in the same way.

- PhysicsSceneQueries.cpp
- EditorMeshComponent.cpp
- EditorPostFxLayerComponent.cpp
- UiCheckboxComponent.cpp
- UiDropdownComponent.cpp
- UiDropdownOptionComponent.cpp
- UiMaskComponent.cpp
- UiNavigationSettings.cpp
- UiRadioButtonComponent.cpp
- PopulateChildEntityList.cpp
- TerrainLayerSpawnerConfig.cpp
-

[2022-06-07 06:41] #9550 closed

[2022-06-07 07:18] amzn-jillich commented on #8603
#9881 got submitted to the development branch. @galibzon, could you please test if you can still reproduce this issue?

[2022-06-07 08:53] hultonha commented on #9904
Thanks for the extra info @pollend, I'm closing this specific issue now though as your PR has been successfully merged (Fixed by https://github.com/o3de/o3de/pull/9923)

[2022-06-07 08:53] #9904 closed

[2022-06-07 10:28] amzn-jillich commented on #8182
There have been a few fixes to attachments and this one is not reproducable anymore, closing as fixed.

[2022-06-07 11:21] LB-TomaszSerwanski commented on #9928
Issue verified as fixed in Development (a9c9b02).

[2022-06-07 11:48] LB-RostyslavGavryliuk opened #9947 "[Linux] Engine register command provided by cmake build command error is missing file extension"
**Describe the bug**
CMake error that occurs when attempting to build a project without a registered engine contains an engine register command that is missing the .sh file extension.

It should be noted that this issue only applies to Linux, as the command is functional on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install the latest .deb package.
2. Do not register the

[2022-06-07 11:51] GraphiteSIX commented on #9736
@onecent1101 I understand the suggestions to improve the graph and will test them.
Regards the 1400 I was just investigating managing manual garbage collection of prefab spawning and seeing the max amount before frames drop below 60fps.
What I couldn't understand is why a a less complex graph with more set delay was unable to produce less than quarter of the spawned objects.
This suggestion maybe

[2022-06-07 12:09] moraaar commented on #9869
Increasing this bug to critical since it's causing AR to fail often. This is the root cause of test `test_Multiplayer_AutoComponent_RPC` in `AutomatedTesting::MultiplayerTests_Main.main` suite to fail.

Examples:
- https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2469/pipeline/599
- https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2

[2022-06-07 12:10] amzn-jillich opened #9948 "AR Bug Report: AutomatedTesting/ScriptCanvas/T92567321A.scriptcanvas failed to process"
**Describe the bug**
Failed to process script canvas graph T92567321A.scriptcanvas.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/job/O3DE/job/development/2470/
(https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2470/pipeline)

**Attachments**
[code]

[2022-06-07 12:38] LB-JaroslawGaweda opened #9950 "Editor crashes when double-clicking the prefab icon in the upper left corner of the Viewport after changing the layout and using the Maximized option"
**Describe the bug**
Editor crashes when double-clicking the prefab icon in the upper left corner of the Viewport after changing the number of Viewport windows in the Layout Configuration and using the Maximized option on the Viewport window.

It should be noted that Linux build does not generate error.log or error.dmp.

It should also be noted that Windows editor.log contains asserts that are not

[2022-06-07 12:42] LB-BartoszCwiek commented on #9614
Created a pull request which will resolve this issue: [#9949](https://github.com/o3de/o3de/pull/9949)

[2022-06-07 13:10] LB-JaroslawGaweda opened #9951 "Planet icon in the top left corner of the Viewport changes to prefab icon after changing the number of Viewport windows"
**Describe the bug**
After changing the number of Viewport windows in the Configure Layout menu, the planet icon in the top left corner of the Viewport changes to the prefab icon and the level name disappears.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Right-click on the Viewport top bar and select the Configure Layout.
2. Select any option with multiple Viewports.
*Expected behav

[2022-06-07 15:05] GraphiteSIX commented on #9736
Ok I found why there is a performance difference.
I found if you have a box shape with game view set to true as the spawning object it takes a massive performance hit.
If you have a mesh added also you don't have the performance hit.
Interesting that if you have the filled option on the shape set to false it doesn't show the wireframe and doesn't seem to be as inefficient but still loses frames re

[2022-06-07 16:45] amzn-changml commented on #9943
Code change merged

[2022-06-07 16:45] #9943 closed

[2022-06-07 17:09] AMZN-alexpete opened #9956 "Entities re-activate when component properties are changed"
**Describe the bug**
When component properties are changed the entire entity is deactivated and re-activated

**Assets required**
n/a

**Steps to reproduce**
Steps to reproduce the behavior:
1. Set a breakpoint in Entity::Deactivate()
1. Open the editor and create a new level
2. Select the Atom Default Environment entity in the Entity Outliner
3. In the Entity Inspector, toggle the "Static" Transf

[2022-06-07 17:12] galibzon commented on #9540
This is a common problem on all Qt properties that accept floating point numbers like Vector3 fields, etc.

[2022-06-07 17:16] galibzon commented on #9120
Will move to ASV

[2022-06-07 17:17] galibzon commented on #9116
Needs to be move to AZSLc repo

[2022-06-07 17:20] galibzon commented on #8550
For the Roadmap.

[2022-06-07 17:28] galibzon commented on #8518
There's a file with the old code fully commented. It needs to be replaced with APIs call per AuxGeom API. Atom already provides all the necessary functions to replace the functionality. It is up to the AP team to figure out how to present this debug data.

[2022-06-07 18:01] smurly opened #9957 "TressFX Atom Hair property has a trailing space in it's name "Shadow LOD Start Distance ""
**Describe the bug**
The property path name "Shadow LOD Start Distance " has a trailing space in it that shouldn't be there. Users will be likely to omit the trailing space which may result in unexpected behavior when calling the EditorComponentAPIBus "SetComponentProperty" to interact with the property.

**Assets required**
none

**Steps to reproduce**
Steps to reproduce the behavior:
1. https://

[2022-06-07 18:06] AMZN-stankowi commented on #9475
Is there a specific FBX file you're seeing this with? I'm trying to reproduce this right now, I'm not getting any crashes trying to follow these steps with multiple different FBX files.

[2022-06-07 18:12] onecent1101 commented on #9736
I don't think you need to do GC manually, as ScriptCanvas translated graph into LUA script and execute script directly on backend. (And LUA does automatic memory management, refer to https://www.lua.org/pil/17.html)

But ScriptCanvas won't help to despawn entity unless you specifically ask system to do it by using Despawn node. In your graph, you just remove the SpawnEntityTicket from list (which

[2022-06-07 18:26] AMZN-alexpete commented on #9956
Possibly related issue #9855

[2022-06-07 18:38] shawstar opened #9958 "Nightly 6-7-2022 - Editor crashes loading older projects but works fine creating new project."
**Describe the bug**
O3DE Editor crashes loading older projects (6-6-2002 and older) but works fine creating new project (6-7-2022)

**Assets required**
An project older than 6-7-2022

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install nightly 6-7-2022
2. Open a older project in the O3DE Project Manager
3. Project will go through the AP fine but fail with a White Screen then crash

[2022-06-07 19:03] GraphiteSIX commented on #9736
@onecent1101 Your right I totally missed the despawn I have fixed now.
![Corrct_DeSpawning](https://user-images.githubusercontent.com/105223355/172461723-2313a9f4-97ef-4c8c-a13f-4b06096f257a.png)

Sorry by manual garbage collection I mean the SpawnTicket gets cleaned up by Lua after some arbitrary time so you need to cache it and dispose of it yourself.
Otherwise The entity just despawns whenever

[2022-06-07 19:40] #6270 closed

[2022-06-07 19:41] #6269 closed

[2022-06-07 19:58] GraphiteSIX commented on #9736
https://user-images.githubusercontent.com/105223355/172471154-993d0778-d44f-4b5e-8d5d-c9928b412609.mp4

https://user-images.githubusercontent.com/105223355/172471197-4dfd73b3-32e2-43f4-91af-ec04f0fc1b04.mp4

[2022-06-07 19:58] ParasiteSt opened #9960 "Actor Component Messes with Entity Outliner."
**Describe the bug**
If you add an actor component to an entity that has a child entity and assign an actor to the actor component the arrow for dropdown to child entities disappears.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add an entity with a child entity attached to it.
2. Add an actor component and assign an actor asset to the component on the parent entity.
3. The dropdown

[2022-06-07 20:09] ParasiteSt opened #9961 "Actor Component Reparents entity."
**Describe the bug**
If you have a parent entity with a child entity that has an actor component with an actor assigned to it, and start the game in editor on exit the child entity with the actor component in it reparents it to its own entity and is no longer part of the parent entity.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an entity named Parent Entity and add an entit

[2022-06-07 20:10] ParasiteSt commented on #9961
This might also be solved when this issue gets fixed since they both have to do with actor components and the Entity Outliner,
https://github.com/o3de/o3de/issues/9960

[2022-06-07 22:34] #2668 closed

[2022-06-07 22:58] michleza commented on #8381
This still occurs in latest dev. Updating GHI details.

[2022-06-07 23:25] amzn-tmryan opened #9966 "New ScriptCanvas assets saved from the ScriptCanvas editor fail in the asset pipeline"
**Description**
There is an error and a warning when saving a newly created scriptcanvas asset from the ScriptCanvas editor.

Example logs from the screenshot below:
[code]

**Steps to reproduce**
1. Open the ScripCanvas editor.
2. Select File > New Script.
3. Select File > Save.
4. Name the script and save it.
5. ---> There is an error about failed parsing and a warning about the asset being miss

[2022-06-08 00:18] Kadino commented on #8875
Infeasible to share across classes in a module, package, or session. There also appears to be few tests which attempt this today, and the workaround would be to add such tests into the same EditorTestSuite parent-class.

Reducing redundant work across multiple remains a hurdle, which should be overcome by using a different approach to collection and scheduling documented in https://github.com/o3de

[2022-06-08 00:18] #8875 closed

[2022-06-08 00:28] srikappa-amzn opened #9969 "Unit tests fail intermittently when trying to access o3de_manifest.json file"
**Describe the bug**
Some unit tests fail when trying to access o3de_manifest.json file

**Failed Jenkins Job Information:**
The name of the job that failed, job build number, and code snippit of the failure.
Name of the job : test_profile_nounity (Linux)
job build number : 2477
Failure snippet:
[code]

**Attachments**
[test_failure_log.txt](https://github.com/o3de/o3de/files/8857305/test_failure_

[2022-06-08 00:44] allisaurus commented on #9075
I've been poking at this and don't have a fix yet, but wanted to record some debugging observations here in case they flip on a light bulb for anyone else:

* The Editor gets stuck in this `while` loop [here](https://github.com/o3de/o3de/blob/development/Code/Framework/AzFramework/AzFramework/Script/ScriptRemoteDebugging.cpp#L424) (repros observation by @lsemp3d )
* `TargetManagementComponent::Dis

[2022-06-08 07:27] LB-BartoszCwiek commented on #9707
Verified the issue does not occur in Development (9a63716).

[2022-06-08 07:52] LB-JaroslawGaweda commented on #9950
We also found that when launching the Editor with multiple Viewport layout, and using the "Maximized" option, the Viewports become unresponsive on Linux, and greyed out on Windows. It should be noted that the Editor is still responsive after using the "Maximized" option again. Should this be reported as a separate issue?

[2022-06-08 08:35] moraaar opened #9971 "AR Bug Report: test_EditorWorkflow_ParentEntityTransform_Affects_ChildEntityTransform"
**Describe the bug**
Test `test_EditorWorkflow_ParentEntityTransform_Affects_ChildEntityTransform` from `AutomatedTesting::EditorTests_Main.main` test run failed in AR.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2482/pipeline/617

**Attachments**
[log.txt](https://github.com/o3de/o3de/files/8859817/log.txt)

**Additional c

[2022-06-08 09:17] greerdv opened #9972 "Unknown sub mode error in PhysX Hinge Joint cluster UI"
An error occurs if you create an entity with a PhysX hinge joint and other required components and enter the hinge joint's component mode.

The error is happening because the SnapPosition mode type is not being handled in the switch statement on line 379 of Gems\PhysX\Code\Editor\Source\ComponentModes\Joints\JointsComponentMode.cpp

[2022-06-08 10:32] LB-ArturZieba opened #9973 "Project Manager freezes when project's location is set to O3DE's Projects folder"
**Describe the bug**
If a project's location is set to the O3DE's Projects folder, the Project Manager will freeze indefinitely, and the project will be removed from the Project Manager.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new project.
2. Right-click the created project tile in the Project Manager, and select "Edit Project Settings..." from the dropdown menu.
3. Ch

[2022-06-08 11:49] LB-BartoszCwiek opened #9974 "[Linux] Python Script's preview thumbnail on the taskbar is improperly scaled"
**Describe the bug**
When the User double clicks the Editor's icon on the taskbar the Python Script's preview thumbnail is displayed improperly.
The issue does not occur on Windows.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Tools > Python Scripts > Select any script from the folder QtForPython (e.g. hello_world).
2. Click execute.
3. Double click the Editor's icon on the tas

[2022-06-08 11:58] hultonha commented on #9950
@LB-JaroslawGaweda Could you please create a separate issue for this as this does sound slightly different though it is related. Thanks!

[2022-06-08 11:58] hultonha commented on #9950
It would be helpful to link the issues though to help see they're related, thanks!

[2022-06-08 12:34] LB-MateuszSzweda opened #9975 "Terrain: Setting Terrain World Renderer component detail material scale to value of 0.0004 and lower shows invalid input"
**Describe the bug**
Setting the detail material scale property of the Terrain World Renderer component to value of 0.0004 and lower will show the inputted value as 0.0 in the property textbox and will display _Invalid Input_ prompt when the text box is hovered over with the mouse cursor.

For further information please refer to the attached video file.

**Prerequisites**

* **Terrain** Gem is ena

[2022-06-08 12:35] LB-MateuszSzweda opened #9976 "Undo action can not be performed in Asset Editor, PhysX Configuration and Blast Configuration tools"
**Describe the bug**
Trying to perform the undo action when _Asset Editor_, _PhysX Configuration_ or _Blast Configuration_ tools are in focus fails to undo any action performed in these tools.

For further information please refer to the attached video file.

**Steps to reproduce**

1. Open the Editor and launch a level.
2. Open the _Tools > PhysX Configuration (PREVIEW)_ tool.
3. Change the _Max

[2022-06-08 13:37] LB-JaroslawGaweda opened #9978 "Launching the Editor with a multiple-Viewport layout causes it to become unresponsive after using the Maximized option"
**Describe the bug**
Using the Maximized option after launching the Editor with multiple-Viewport layout causes it to become unresponsive. Using the Maximized option again reverts this state. It should be noted that on Linux this freezes the Viewport on the last frame, while on Windows it causes the Viewports to become greyed-out.
This issue is related to https://github.com/o3de/o3de/issues/9950.

[2022-06-08 13:46] hultonha commented on #8194
I have not been able to reproduce this locally, inclined to close (tagging @benblack75 and @HogJonny-AMZN if they have any more info on this, if not I'll close at the end of the week). Thanks!

[2022-06-08 13:46] LB-JaroslawGaweda commented on #9950
Thanks for the response, the issue reported can be found here: https://github.com/o3de/o3de/issues/9978.

[2022-06-08 14:02] ValPKFX opened #9979 "Gems: Dependencies not working in 22.05.0 installed version"
**Describe the bug**
Adding gem dependencies in the gem.json prevents to build the project with 22.05.0 installed version downloaded here : [https://o3debinaries.org/download/windows.html]()
It works correctly with the Github version.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an external gem: `C:\O3DE\22.05.0\scripts\o3de.bat create-gem -gp C:\o3de-gems\TestGem`
2. Add Lmb

[2022-06-08 14:41] ValPKFX opened #9980 "Gems: Adding a Gem Repository on 22.05.0 using the ProjectManager crash"
**Describe the bug**
When we try to add a Gem Repository URL in the project manager, it crashes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the ProjectManager
2. Go to the `Engine` tab, then `Gem Repositories` tab
3. Add the URL `https://downloads.popcornfx.com/o3de-repo`
5. Crash

**Found in Branch**
Branch `main`, tag `2205.0`

**Additional context**
Here is the callstack o

[2022-06-08 15:39] monroegm commented on #9906
Related to #9809

[2022-06-08 15:45] monroegm commented on #9960
@ParasiteSt can you get latest and see if #9881 resolves your issue?

[2022-06-08 15:46] monroegm commented on #9960
@amzn-jillich FYI

[2022-06-08 15:46] #9960 closed

[2022-06-08 15:55] monroegm commented on #9976
Do RPE related tools have undo?

[2022-06-08 16:08] lumberyard-employee-dm commented on #9150
@macy12825 Pinging again, to see if you have anymore feedback on this issue

[2022-06-08 16:29] lumberyard-employee-dm commented on #9969
The error occured in the AzFramework.Tests `SpawnableEntitiesManagerTest.SpawnAllEntities_Call_AllEntitiesSpawned` test which is maintained by sig/core, so adding that label as well as sig/testing for the issue

[code]

My preliminary hypothesis is that there is a python test that is writing to the o3de_manifest.json file that is running in parallel

The tests with the most likely hood to be writi

[2022-06-08 16:32] srikappa-amzn commented on #9971
This seems to be happening for one other test as well.
test_EditorWorkflow_ChildEntityTransform_Persists_After_ParentEntityTransform

Something about the setup of these tests could be causing these failures.
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2479/pipeline

[2022-06-08 16:41] hultonha commented on #9867
Adding needs-ux-info. Tagging @rainbj for visibility. Could this please be added to the agenda to discuss in the sig-ui-ux bi-weekly office hours.

[2022-06-08 16:44] hultonha commented on #9381
@LB-MateuszSzweda Please would you be able to attach a PVD capture to this ticket (please reach out to @greerdv for information on how to do this as this could be very useful for future simulation/physics issues)

[2022-06-08 16:52] hultonha commented on #9883
Note: This is related to #9672

[2022-06-08 16:54] hultonha commented on #9884
Adding sig/graphics-audio as there may be feature work we need from that team to update AuxGeom to support these features.

[2022-06-08 16:57] hultonha commented on #9621
Tagging @amzn-jillich for visibility. Need more info from sig/ui-ux before working on this too. Thanks!

[2022-06-08 17:03] greerdv commented on #9781
Tagging @mbalfour-amzn and @SergeyAMZN

[2022-06-08 17:06] greerdv commented on #9868
@moraaar can confirm but I think this was a weird workflow problem with the old material system and his recent change should address this.

[2022-06-08 17:24] moraaar commented on #9868
@shawstar when physx collider has a PhysicsAsset by default it uses the materials that the asset was configured with in FBX Settings.

To change the materials that the asset has do these steps:
- open the physics asset in the FBX Settings (you can go directly by clicking of the most right button on PhysX Mesh property)
- FBX Settings will open, go to PhysX Group tab.
- In the Materials list proper

[2022-06-08 17:24] #9868 closed

[2022-06-08 17:34] jckand-amzn commented on #9789
Re-opening as tests still intermittently fail on both Windows and Linux.

[2022-06-08 17:48] #9676 closed

[2022-06-08 18:02] AMZN-daimini commented on #9907
#9982 Will disable the multi-viewport functionality as it's not working correctly and currently unsupported, which will lower the impact of this issue.

[2022-06-08 18:21] dshmz commented on #7278
SIG/Build needs to triage this and provide an update.

[2022-06-08 18:31] jckand-amzn commented on #9789
Ran the Prefab test suite 100x on both Windows and Linux with 0 local failures. @chiyenteng has encountered failures when running locally, and on AR.

[2022-06-08 18:32] chiyenteng commented on #9789
On AR: https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-9933/3/pipeline/665

[2022-06-08 18:33] chiyenteng commented on #9789
E   [editor_test.log]  <10:31:11> (python_test) -
E   [editor_test.log]  <10:31:11> (python_test) - Info: Spawned Entity Scale: Found 8.889683573327787e-18, expected 5.0
E   [editor_test.log]  <10:31:11> (python_test) -
E   [editor_test.log]  <10:31:11> (python_test) - Info: Spawned Entity Scale: Found 8.889683573327787e-18, expected 5.0
E   [editor_test.log]  <10:31:11> (python_test) -
E   [edito

[2022-06-08 18:52] GraphiteSIX commented on #9075
@allisaurus Another issue but don't know if there connected
1.) Start a new level.
2.) Create a new entity
3.) Add Rot.lua script
4.) Check it works
5.) Swap script with Check.lua
6.) Observe error

The scripts are the same apart from a variable changed.
[Lua_IDE_File_Swap_Bug.zip](https://github.com/o3de/o3de/files/8864301/Lua_IDE_File_Swap_Bug.zip)

[2022-06-08 19:30] mbalfour-amzn commented on #9781
@LB-ArturZieba I believe this got fixed last week with https://github.com/o3de/o3de/commit/2c966ccac8dfbf0cecf9ccfa6adc36e87bfb6c56, can you please retest it?

[2022-06-08 20:51] jckand-amzn opened #9986 "Linux profile_nounity builds are failing due to undefined reference to AZ::Render::ActorSystemComponent::ActorSystemComponent() and AZ::Render::Hair::HairAssetHandler::HairAssetHandler"
**Describe the bug**
Linux profile_nounity builds are failing due to undefined reference to AZ::Render::ActorSystemComponent::ActorSystemComponent and AZ::Render::Hair::HairAssetHandler::HairAssetHandler.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-9981/2/pipeline/346
Linux profile_nounity

[code]
**Attachments**
[log.txt](https://g

[2022-06-08 21:01] AMZN-stankowi commented on #9853
I talked to @srikappa-amzn about this one, he'll take a look.
This line here: https://github.com/o3de/o3de/blob/development/Code/Tools/SceneAPI/SceneUI/RowWidgets/ManifestNameHandler.cpp#L29

EBUS_EVENT(AzToolsFramework::PropertyEditorGUIMessages::Bus, RequestWrite, instance);

causes the prefab system to pause all propagation and spawning of entities: https://github.com/o3de/o3de/blob/development

[2022-06-08 23:39] jckand-amzn commented on #9986
A clean_output_directory build resolved this issue in https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-9981/3/pipeline/258/, however leaving this ticket open for investigation into the incremental build issue.

[2022-06-09 01:22] NiklasHenricson opened #9991 "Prefab content is not saved"
When editing a network prefab (e.g. Multiplayer Example) and change the initial movement speeds and then save, you exit the prefab-edit mode by pressing ESC.

The values are not saved. Checking the JSON file all settings are not only reverted to previous values, but completely gone (using code versioning and comparing with repo version).

This happens also on our own project (the issue is reproduc

[2022-06-09 01:35] AMZN-mnaumov commented on #9736
Yes you are correct, using Despawn node forces entity to despawn immediately, however losing reference to a ticket lets Lua GC take care of it. On C++ side when tickets are destroyed, anything spawned by them will get automatically despawned. There is no limit to number of entities you can spawn at once.

Regarding game view, setting it looks like once enabled it adds BoxShapeDebugDisplayComponent

[2022-06-09 09:35] LB-ArturZieba opened #9997 "Feature Request: Add "Entities selected" and "Entities in level" counters"
**Is your feature request related to a problem? Please describe.**
Currently there is no simple way of counting how many entities are selected, or how many are present in the scene. If for example the workflow requires duplication of some entities in vast numbers, it gets hard to keep track of how many are currently present.

**Describe the solution you'd like**
Add counters displaying how many en

[2022-06-09 11:26] LB-ArturZieba commented on #9997
I have noticed that currently there is an entity counter implemented - if multiple entities are selected, the entity's "Name"  property in the Entity Inspector changes to "<number of entities selected> entities selected". It does not feel intuitive to look to a "Name" property for information on number of entities selected. It works without issue, however, the Entity Inspector is not always open,

[2022-06-09 11:56] GraphiteSIX commented on #9736
@AMZN-mnaumov Thanks for looking into this and sorry about all the questions.
One other thing to ask the rendering team is the wireframe does not show with visible or gameview set to true.
 I believe it should show the wireframe in both editor and gameview.

[2022-06-09 12:10] xiapeng78 opened #9998 "[MultiplayerSample]The process of MultiplayerSample.ServerLauncher.exe crash when client connect to server"
**Describe the bug**
The process of MultiplayerSample.ServerLauncher.exe crash when client connect to server. The server has the script of create and destroy network entities. SpawnEntity.scriptcanvas will create one network entity every one second, and the network entity will be destroyed after 15 seconds.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the iss

[2022-06-09 12:29] xiapeng78 opened #9999 "[MultiplayerSample]Destroy network entity on server, but client does not remove it immediately"
**Describe the bug**
Destroy network entity on server, but client does not remove it immediately. Sever has one network entity with script that will destroy it after 30 seconds. The network entity destroyed on server, but client does not remove it immediately, client still display it for a few seconds.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, e

[2022-06-09 13:26] LB-ArturZieba opened #10000 "Changing physxmesh's export to Triangle Mesh causes physx_debug wiremeshes to flicker if many entities using the physxmesh are present in the level"
**Describe the bug**
If there are many (100+, may be dependent on the hardware) entities with PhysX Collider in the level that have have the same physxmesh assigned, and that physxmesh's export method is changed to Triangle Mesh, then debug wiremeshes generated by the `physx_debug 1` command will start to flicker.

It should also be noted that during the reproduction of this issue `[Warning] (AuxG

[2022-06-09 13:28] LB-BartoszCwiek opened #10001 "PhysX Mesh from PhysX Collider component does not disappear after unassigning it for the first time"
**Describe the bug**
When the same .fbx asset with added PhysX mesh is assigned to the entity consisting of Mesh and PhysX Collider components, The User can not unassign the PhysX mesh of the PhysX Collider component with the GUI X button on the first attempt.
Only the second attempt to use GUI X button will result in removal of the PhysX mesh from the component.
Additionally, assigning a new .fbx

[2022-06-09 13:51] LB-MateuszSzweda commented on #9976
I could perform the undo action in Entity Outliner,Console, Entity Inspector and Asset Browser.

[2022-06-09 15:22] mbalfour-amzn opened #10003 "AR Bug Report: Intermittently-failing AssetBundler and AssetProcessor tests"
**Describe the bug**
The following tests intermittently failed on an AR run:

[Build / Linux [profile_nounity_pipe] / test_profile_nounity_results / AutomatedTesting.Gem.PythonTests.smoke.test_CLITool_AssetBundlerBatch_Works.TestCLIToolAssetBundlerBatchWorks.test_CLITool_AssetBundlerBatch_Works](https://jenkins.build.o3de.org/job/O3DE/view/change-requests/job/PR-10002/1/testReport/junit/AutomatedT

[2022-06-09 15:59] lmbr-pip commented on #10003
Log shows that " AutomatedTesting::SmokeTest.smoke::TEST_RUN (Failed)"

[2022-06-09 16:02] AMZN-Olex commented on #9999
The right way to delete an entity on the server is to call MarkForRemoval API. I am not sure this is exposed to BehaviorContext, though.

[2022-06-09 16:04] AMZN-Olex commented on #9998
Network entities require calling MarkForRemoval when removing them on the server. Could you try using that from C++ instead?

[2022-06-09 16:07] AMZN-Olex opened #10006 "Expose MarkForRemoval for BehaviorContext (add a warning when a network entity is deleted without such a call)"
**Is your feature request related to a problem? Please describe.**
I am unable to correctly destroy a network entity on the server.

**Describe the solution you'd like**
Expose `INetworkEntityManager::MarkForRemoval` to BehaviorContext, so that a network entity can be removed from scripting.
Note: calling DestroyGameEntity directly on a networt entity is incorrect.

**Additional context**
Network

[2022-06-09 16:07] AMZN-Olex commented on #9998
This may be related to https://github.com/o3de/o3de/issues/10006

[2022-06-09 16:33] mbalfour-amzn opened #10007 "AR Bug Report: Intermittently failing Prefab automated tests"
**Describe the bug**
The following tests intermittently failed on an AR run:
2022-06-09T15:01:17.212Z] D:\workspace\o3de\python\python.cmd -m pytest --build-directory D:/workspace/o3de/build/windows/bin/profile  D:\workspace\o3de\AutomatedTesting\Gem\PythonTests\Prefab\TestSuite_Main_Optimized.py::TestAutomationNoAutoTestMode::test_CreatePrefab_UnderAnEntity[windows-crash_log_watchdog0-AutomatedTe

[2022-06-09 16:47] #9662 closed

[2022-06-09 16:50] AMZN-mnaumov commented on #9736
from rendering team:
[code]

[2022-06-09 17:00] GraphiteSIX commented on #9736
Thanks for the response and sorry for the lack of knowledge on my part I will close this issue now.

[2022-06-09 17:00] #9736 closed

[2022-06-09 17:39] lmbr-pip commented on #10006
Lowest impact script, will impact single player scripts moving to networking scripting.

Preferred fix would be to have entities self clean up, but that work needs more investigation.

[2022-06-09 17:45] lmbr-pip commented on #9991
Reviewed by sig/network but it seems this is entirely prefab related for now. Please let us know if there is anything specific to networked prefabs.

[2022-06-09 17:46] #9797 closed

[2022-06-09 17:46] AMZN-alexpete commented on #9991
Possibly related PR #9795

[2022-06-09 18:06] shawstar opened #10010 "3DS Max Morph Targets not working but do import with Animation Editor Controls."
**Describe the bug**
I have tested Maya, Blender and Max. Max is the only DCCs .FBX export with issues. Animation Editor Controls can be seen under Morph Targets, but do not morph mash as expected. Test files attached.
See attached video.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/w

[2022-06-09 18:31] carlitosan opened #10011 "ScriptCanvas Parse Errors return a failed AP job, causing re-attempts at job without source changes."
Make ScriptCanvas Parse Errors return a successful AP job, report parse errors and warnings differently from builder.

ScriptCanvas parse errors currently fail an AP job, but it would be better to report the job as having succeeded. This way the job doesn't restart without dependency our source changes. A successful job that emits no products will still delete last known good assets.

[2022-06-09 18:34] monroegm commented on #9781
@LB-ArturZieba please reopen if this is not fixed

[2022-06-09 18:34] #9781 closed

[2022-06-09 18:38] amzn-tommy commented on #9598
This work is in progress. It regressed due to this change https://github.com/o3de/o3de/commit/e85ec9baf870c613b360a85f64a7b13ef064522f

As part of the fix, I will add a new test to ensure this doesn't happen.

Though the description says the expected behavior is <= 153,720 vertices, which is the vertex count Blender shows, I took a look at the asset and the zipper has split normals (as is expected

[2022-06-09 18:40] monroegm commented on #9997
According to @cgalvan this was purposefully removed some time ago. @o3de/sig-ui-ux should we consider bringing this back?

[2022-06-09 18:46] monroegm commented on #8974
@NicholasVanSickle closing for now based on @srikappa-amzn 's comment. If you find that something still needs to be done after reevaluating feel free to reopen or file a new ticket

[2022-06-09 18:46] #8974 closed

[2022-06-09 18:48] monroegm commented on #8960
@shawstar consider splitting into two issue: 1. a bug about not informing the user of the incompatibility and 2. this feature request about adding support for the updated sdk

[2022-06-09 18:49] monroegm commented on #8960
Also, @shawstar can you add information about what we gain from upgrading?

[2022-06-09 18:56] monroegm commented on #8691
This probably needs an RFC

[2022-06-09 18:59] lmbr-pip opened #10013 "Feature Request: ScriptCanvas notification event when application is closing"
**Is your feature request related to a problem? Please describe.**
ScriptCanvas should expose API to scripts to allow them to handle shutdown events. This is split from https://github.com/o3de/o3de/issues/8976

**Describe the solution you'd like**
ScriptCanvas exposes some API to handle UserWantsToQuit / ExitMainLoop so canvas graphs have a chance to take action.

**Describe alternatives you've co

[2022-06-09 19:01] lmbr-pip commented on #8976
Assigned to SIG/core for triage as this impacts all launchers. For networked games need this to work in both launchers.

[2022-06-09 19:37] yuyihsu opened #10014 "[Feature Request] The visual indicator for window docking isn"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-09 19:53] yuyihsu opened #10015 "[Feature Request] Lack of auto file saving behavior causing the interruption of the creative flow and unnecessary troubleshooting process."
**Is your feature request related to a problem? Please describe.**
O3DE is lacking of the auto file saving behavior. In places like Material Editor, Script Canvas, Animation Editor, Asset Editor, etc. users have to constantly remember to save the files manually. However, we found that users often forgot to do so, which would cause them thinking that they didn't configure the settings correctly, as

[2022-06-09 20:04] yuyihsu opened #10016 "[Feature Request] Users want to see the material shown on their own model in the Material Editor"
**Is your feature request related to a problem? Please describe.**
Users want to see how the material looks like on their own model in the Material Editor, instead of on the generic shapes that we provided. Although there is a workaround solution by creating the material in the material editor, and review the material on the model in the O3DE editor. This workaround solution isn't intuitive, becau

[2022-06-09 20:08] yuyihsu opened #10017 "[Feature Request] O3DE hotkey settings are inconsistent from the industry standard"
**Is your feature request related to a problem? Please describe.**
The hotkey settings in O3DE is often different from the settings in other commonly used DCC tools. For example, the hotkey for zoom on object is F in O3DE, while it is Z in other DCC tools.

**Describe the solution you'd like**
We should to an audit of our current hotkey settings to make sure the hotkeys for the commonly used actio

[2022-06-09 20:11] forhalle commented on #9502
@spham-amzn - Can you please confirm next steps and close if necessary?

[2022-06-09 20:46] #9541 closed

[2022-06-09 20:47] #9732 closed

[2022-06-09 20:47] #9339 closed

[2022-06-09 20:50] gadams3 commented on #9734
All of the code related updates have been submitted. Reassigning to @yuyihsu who will provide a new icon for the indicator.

[2022-06-09 20:52] yuyihsu opened #10019 "Inconsistent material editor behavior"
**Describe the bug**
In several of the WTE sessions, the material editor didn't behave consistently. We've seen the following:

1. The Material Editor would take more than 3 seconds to show up (note that users normally had several DCC tools, such as Maya, Blender, Photoshop, opened at the same time)
2. The Material Editor would open behind the main editor, instead of at the front. This would cause

[2022-06-09 21:24] shawstar commented on #9958
Nightly 6-9-22 also has this issue.

[2022-06-09 21:24] chiyenteng commented on #8994
Resolved by https://github.com/o3de/o3de/pull/9492

[2022-06-09 21:24] #8994 closed

[2022-06-09 21:42] lmbr-pip commented on #9628
Relates https://github.com/o3de/o3de/issues/9045

[2022-06-09 21:48] HogJonny-AMZN commented on #9672
Why not a Box Shape Editor component and/or component edit mode, that has the ideal user interaction mechanisms.  This could still collapse down to the optimized box data for runtime?

If the reflection probe 'really' needs these additional features, like the ability to set/store the capture point center separately from the origin of the box, or even storing a pivot point that is separate from the

[2022-06-09 22:01] mbalfour-amzn commented on #9850
Test is still intermittently failing.

[2022-06-09 22:12] lmbr-pip commented on #9674
Suggestion is that LoadLevel takes either a file path or a dir path. If a dir path then auto infer .spawnable based on level name

[2022-06-09 22:29] benblack75 opened #10023 "More apparent Z-fighting/flicker on overlapping geometry inside *single* imported assets"
**Is your feature request related to a problem? Please describe.**
This was exposed in a Walk the Engine session, and could potentially be a feature looking into. DCC applications typically show some type of visual cue when there are identical pieces of overlapping geometry. This is usually in scenarios when there might be an item that has mistakenly been duplicated one or more times, or when vert

[2022-06-10 00:09] benblack75 opened #10028 "Material Editor thumbnails do not consistently update when changes to material are made"
**Describe the bug**
When making modifications to materials in the Material Editor, the thumbnail of edited materials often will not update (typically they will not show diffuse map changes, which should be the most visible). In this particular case (this is new to me) the thumbnail of the material on shader ball is replaced with a file icon, which appears to be a bug. Updating the material also d

[2022-06-10 00:32] benblack75 opened #10029 "Better handling of skybox texture image browsing and assignment"
**Is your feature request related to a problem? Please describe.**

Here is a quick screen capture of the Skybox image assignment process:

https://user-images.githubusercontent.com/50616575/172966942-94e56508-f3bf-4b15-8d70-8dae08445274.mp4

If you watch the video, you will see that I am attempting to change the Skybox images in order to relight the scene from different source. When I enter "Skyb

[2022-06-10 01:20] xiapeng78 opened #10030 "[MultiplayerSample]Client can not connect to Server if using TCP protocol and enable MulitplayerCompression Gem"
**Describe the bug**
Clinet can not connect to Server if using TCP protocol and enable MulitplayerCompression Gem. If disable MulitplayerCompression Gem MultiplayerSample can work on TCP protocol.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Enable  MulitplayerCompression Gem in the Project Management, and rebuild project
![image](https://user-images.githubusercontent.com/17897322/1

[2022-06-10 02:16] xiapeng78 opened #10031 "[MultiplayerSample]The network entities created by SpawnIfAuthority.scriptcanvas will disappear after almost forty seconds"
**Describe the bug**
The network entities created by SpawnIfAuthority.scriptcanvas will disappear after almost forty seconds.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run MultiplayerSample.ServerLauncher.exe, SpawnIfAuthority.scriptcanvas create some network entities in level
![1](https://user-images.githubusercontent.com/17897322/172976002-dd06b6e8-0e66-49e1-9525-c317f461843d.J

[2022-06-10 03:58] lmbr-pip opened #10032 "Feature Request: Configure O3DE to work with LGTM static analysis"
**Is your feature request related to a problem? Please describe.**
LGTM ( a well know code static analyzer) is trying to and failing to analyze O3DE's C++ code:
https://lgtm.com/projects/g/o3de/o3de/logs/languages/lang:cpp

Seems to be failing due to cmake mismatch:
[code]

**Describe the solution you'd like**
Provide custom lgtm.yml configuration file that enables LGTM to analyze O3DE's C++ Code.

[2022-06-10 05:13] lmbr-pip opened #10033 "Feature Request: Provide a platform neutral AZ::Utils::GetEnv"
**Is your feature request related to a problem? Please describe.**
When working with environmental variables, AZ::Utils::SetEnv can be used, but there is no platform neutral equivalent to read an environmental variable. In a particular code flow, we want to set an environmental variable if and only if its not been set, however there is no general util to read an environment variable.

**Describe t

[2022-06-10 07:36] ACGDreamer commented on #9245
I also meet the same question about to change RenderSettings.MultisampleState.samples to 1。

D3D12 ERROR: ID3D12CommandList::DrawIndexedInstanced: The depth stencil sample desc does not match that specified by the current pipeline state.(pipeline state = count 4 quality 0, depth stencil view = count 1 quality 0, ID3D12Resource* = 0x0000015AA77D74A0:'Root.PreviewRendererSystemComponent Preview Pipe

[2022-06-10 08:12] prophetl33t opened #10036 "Editor crashes if Script Events recieve node ( "Connect" slot) is connected to another node"
**Describe the bug**
Editor crashes if Script Events receive node ( "Connect" slot) is connected to another node

**Assets required**
[SC_Crash.zip](https://github.com/o3de/o3de/files/8876872/SC_Crash.zip)

**Steps to reproduce**

1. Launch Script Canvas.
2. Add Script Event receive node to the graph.
3. Connect "Connect" slot of SE node to another node (e.g. On Graph Start).
4. Save the script.

[2022-06-10 08:20] LB-HubertUberman opened #10037 "Animation Editor: Tabs from Actor Manager and Motion Sets cannot be resized"
**Describe the bug**
When placing the mouse cursor at the bottom of the upper tab in the Motion Sets and Actor Manager windows, it is indicated that the tab can be resized but there is no such functionality. The issue occurs on both Windows and Linux.

**Steps to reproduce**
1. Open Animation Editor
2. Navigate to one of the affected windows.
3. Place mouse cursors at the bottom of the upper tab a

[2022-06-10 09:10] LB-BartoszCwiek opened #10045 "[Linux] Added Required Component has its name bar inconsistently marked as missing a dependent component"
**Describe the bug**
When the User clicks Add Required Component, the added component has its name bar marked as missing a dependent component. Restarting the Entity Inspector results in its disappearance. Issue does not occur on Windows.

**Steps to reproduce**
1. Create an entity.
2. Open Pinned Inspector for the created entity.
3. Add any component that will need a dependent component (e.g. Phy

[2022-06-10 10:34] LB-RostyslavGavryliuk opened #10047 "[Linux] Moving Material Editor's Run Script window moves the entire Material Editor instead of only the Run Script window itself"
**Describe the bug**
Material Editor's Run Script window appears to be locked in place when attempting to move it. However, when user attempts to move it further away, the Material Editor window becomes unmaximized, and starts moving along with the Run Script window.

It should be noted that this issue only applies to Linux.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Materi

[2022-06-10 11:26] LB-RostyslavGavryliuk opened #10048 "[Linux] Editor’s Maximize button icon does not update when maximizing the window"
**Describe the bug**
If the Editor is maximized, the Maximize button does not change it's appearance to represent it.

It should be noted that this issue only occurs on Linux.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch the Editor.
2. Maximize the Editor’s window.
3. Observe the Maximize button icon.

**Expected behavior**
Maximize button icon changes it's appearance.

**Act

[2022-06-10 11:33] LB-BartoszCwiek opened #10049 "Fbx Settings' documentation hyperlinks lead to a wrong documentation page"
**Describe the bug**
When the User clicks the Documentation option from the Help menu, it redirects to https://www.o3de.org/docs/user-guide/assets/ instead of https://www.o3de.org/docs/user-guide/assets/scene-settings/. Additionally, when the User restarts the Editor
with Fbx Settings opened, it displays a "Learn More..." hyperlink that also leads to https://www.o3de.org/docs/user-guide/assets/.

[2022-06-10 12:54] LB-KatarzynaDylska opened #10051 "Hovering over a number field of a component prevents scrolling in the Entity Inspector"
**Describe the bug**
When scrolling through components in the Entity Inspector, if the mouse is hovering over a number field of a component, scrolling is stopped. The number in the field does not change, unless the field is selected. This leads to sudden stops in scrolling of the Entity Inspector window. Issue occurs on both Windows and Linux.

**Steps to reproduce**
1. Create an Entity.
2. Open t

[2022-06-10 13:40] LB-KatarzynaDylska opened #10054 "Inconsistent scrolling behavior caused by the PhysX Collider component"
**Describe the bug**
When a PhysX Collider component is added to an entity, its number fields cannot be changed smoothly by scrolling while the fields are selected. They can only be changed by a single step (1 or 0.01, depending on the field), and then the field deselects. The same happens to the PhysX Rigid Body component, but only as long as the PhysX Collider component is present on the entity.

[2022-06-10 14:08] galibzon commented on #9334
I have a similar issue. I'm using latest "development" branch as of 1 hour ago:

[2022-06-10 14:49] galibzon commented on #9334
The problem is that the command line arguments for the Editor as configured by CMake end up being:

[2022-06-10 15:25] pradkrish commented on #9453
Is this issue still open? I am new to the project, happy to work on this with some guidance. :)

[2022-06-10 15:31] pradkrish commented on #9453
I see the `Set()` method is marked for deprecation in the development branch. Is this issue about replacing it with copy assignment operator and updating tests?

[2022-06-10 15:37] pollend commented on #9453
its doing the same as an copy assignment so its just muddying the api.

[2022-06-10 15:58] moraaar opened #10061 "AR Bug Report: test_Multiplayer_AutoComponent_NetworkInput fails periodically"
**Describe the bug**
`test_Multiplayer_AutoComponent_NetworkInput` automated test fails periodically on AR.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-10009/1/pipeline/715

[code]

**Attachments**
[log.txt](https://github.com/o3de/o3de/files/8880373/log.txt)

[2022-06-10 16:02] pradkrish commented on #9453
okay, so we are using default provided copy assignment. In that case, there is nothing to do here.

[2022-06-10 16:11] pradkrish commented on #4194
Is this issue still open? I am new to the project and I am happy to work on this.

[2022-06-10 17:39] AMZN-Olex opened #10064 "NavigationTest.AsyncSecondWhileFirstIsInProgress is flaky on Linux"
**Describe the bug**
Occasionally AR on Linux fails with:

[code]

**Assets required**
RecastNavigation unit tests

**Steps to reproduce**
1. On Linux, run RecastNavigation.Tests in profile configuration.

**Expected behavior**
The test is stable and not flaky.

**Actual behavior**
The test is flaky.

**Found in Branch**
development

**Desktop/Device (please complete the following information):**

[2022-06-10 18:26] AMZN-Olex commented on #10064
I was able to repro the issue on Windows, I believe, with a more extensive test. I am working on the fix now.

[2022-06-10 18:44] cgalvan opened #10066 "Feature Request - O3DE script support external subdirectory for enable-gem"
**Is your feature request related to a problem? Please describe.**
There are several places in our documentation (e.g. https://www.o3de.org/docs/learning-guide/tutorials/extend-the-editor/shape-example-py/) that make reference to specifying the project path on the `o3de` command-line script via both `-espp` and `-pp`. The `-es` flag denotes an external subdirectory. This external subdirectory flag

[2022-06-10 19:06] lmbr-pip opened #10067 "Feature Request: Allow Automated Review to be Skipped for blessed file types"
**Is your feature request related to a problem? Please describe.**
As a contributor I want to change update "process" files, such as README.md, SECURITY.MD or the .github files. Having to get AR to pass for these files wastes both time and resources.

**Describe the solution you'd like**
AR check can be skipped either:
* Via the AR override process: https://github.com/o3de/community/pull/135 - thi

[2022-06-10 22:01] allisaurus opened #10070 "Re-enabling ScriptCanvas component results in full path being saved to level .prefab"
**Describe the bug**
Adding a script canvas component to an entity results in the full(ish?) file path being added to the component's entry in the level's .prefab file. This breaks portability of the path reference, since anything before the project name will not necessarily be the same on other machines.

Also: removing the "path" argument completely breaks things.

Example:
[code]

_Workaround_:

[2022-06-10 22:10] #9809 closed

[2022-06-10 22:10] #9950 closed

[2022-06-10 22:57] lumberyard-employee-dm commented on #10070
@carlitosan
This should be able to be fixed by updating the [SanitizePath](https://github.com/o3de/o3de/blob/development/Gems/ScriptCanvas/Code/Include/ScriptCanvas/Core/Core.cpp#L288-L292) function in the SourceHandle class to not use the AZ::IO::RelativePath function, but instead use the AssetSystemBus [GenerateRelativeSourcePath](https://github.com/o3de/o3de/blob/development/Code/Framework/AzTo

[2022-06-10 23:25] AMZN-alexpete commented on #9980
Thanks for reporting this issue @ValPKFX, unfortunately it looks like there isn't a fix we can make without a new release because what is happening is we're trying to `AZ_TracePrintf` the output but it has a lone % character in there which causes the crash because it's being treated as a formatted string.  We need to escape all % characters or output a different way that doesn't format.

[2022-06-11 14:45] galibzon opened #10075 "Entity Outliner Redraws With Missing Entities"
**Describe the bug**
This is redraw / refresh bug of the Entity Outliner panel. Seems to occurs for levels that have several entities and several prefabs. When I open the level I don't always get the Entity Outliner to show all the entities in the right place. Sometimes they appear "outside" of the root "Level" entity, etc. Closing and reopening the Entity Outliner produces different visual result

[2022-06-12 01:11] BytesOfPiDev commented on #9788
It looks like the following line of code causes the issue:
[code]

I was attempting to make an array of Tags(Crc32) available for use in the AssetEditor.

(Sorry for the close/re-open, misclick)

[2022-06-12 14:16] galibzon opened #10076 "Bug: New lua scripts fail to get values in self.Properties"
**Describe the bug**
In game mode, new lua scripts get nil values within the `Properties`  table.

**Assets required**
Here is a test level that contains all the pieces: [spawnable_with_lua_property_test.zip](https://github.com/o3de/o3de/files/8886002/spawnable_with_lua_property_test.zip)

**Steps to reproduce**
Use `AutomatedTesting` project, or any other game project.
Unzip the attached level un

[2022-06-12 14:19] galibzon commented on #10076
This is a lua scripting bug, but seems heavily influenced by the prefab system.

[2022-06-12 20:42] AMZN-Olex opened #10077 "[Install SDK] RecastNavigation.API target is missing access to external headers when used by targets outside of the RecastNavigation gem"
**Describe the bug**
When using O3DE installer with RecastNavigation gem (latest development branch), it is not possible to include the header `#include <RecastNavigation/RecastNavigationMeshBus.h>` due to missing path to '#include <DetourNavMesh.h>' which comes from external depedency on recast-navigation FetchContent targets.

Note: this works with an engine-centric configuration, but it appears

[2022-06-12 20:43] AMZN-Olex commented on #10077
Note, RecastNavigation gem has the following section:

[code]

That produces the following targets:
[code]

One of these target provide access to '#include <DetourNavMesh.h>' However, these targets are not available through an installer.

[2022-06-12 21:00] AMZN-Olex commented on #10077
For the record, I can see the headers and libs being installed, just not actual CMake targets.

[code]

[2022-06-13 02:56] pollend commented on #10048
would it make sense to have an asset for the maximized version of the o3de window. I guess this problem is not really exclusive to linux since the frame is custom?

[2022-06-13 05:43] NiklasHenricson commented on #9991
Hello,

1. From the entity outlines instantiate a network prefab
![image](https://user-images.githubusercontent.com/5524755/173286024-a9fbb7bb-34f4-486f-9991-07cc3ec3cd89.png)
2. From the 'Pick Prefab' screen select the network prefab
![image](https://user-images.githubusercontent.com/5524755/173286125-7156e572-34c0-478c-ae2c-b58e57bbca83.png)
3. Double-click the prefab in the entity outliner to e

[2022-06-13 08:34] moraaar commented on #9927
I couldn't reproduce this bug using development branch (commit 0c633652f4), all the materials under  Gems\PhysX\Assets\PhysX showed the right value in linux.

FYI @LB-MateuszSzweda, AutomatedTesting project has many materials asset using the same names under its source folders. Please double check you're opening the materials under  `o3de\Gems\PhysX\Assets\PhysX\` and not from any other folder, wh

[2022-06-13 09:48] LB-BartoszCwiek opened #10080 "[Linux] Hyperlinks are not launching on Source configuration"
**Describe the bug**
When the User tries to open any hyperlink or clicks any menu option that would open specific documentation page, nothing happens. This issue does not occur on Linux Pre-built configuration and Windows (both configurations). Please note, that this was reproduced with Mozilla Firefox and Chromium.
For more detailed information please refer to the Terminal output:

[code]
**Prere

[2022-06-13 12:14] galibzon commented on #10075
Changed the priority to blocker because there are some loose entities (no idea how they appeared in the level) that were part of Prefabs and I can not delete anymore because the Entity Outliner still believes the entity is associated with a prefab. Those entities, don't have a a Parent in the Transform component either.

[2022-06-13 13:31] LB-BartoszCwiek opened #10082 "Fbx Settings is fully functional despite Scene Processing Gem marked as disabled in Configure Gems"
**Describe the bug**
Enabling Scene Processing Gem in Configure Gems does not provide any changes to Fbx Settings functionality. There is also an inconsistency between the documentation for Scene Processing Gem as there is an information about this gem being enabled by default, while in the newly created project it is disabled.

1. Create and build a new project.
2. RMB on the project and go to Co

[2022-06-13 13:50] LB-ArturZieba opened #10083 "Terrain: Terrain World Renderer and Terrain World Debugger level components are not drawing terrain properly"
**Describe the bug**
Terrain drawn by the Terrain World Renderer level component is invisible, unless a PhysX Heightfield component entity is created on it, and a Game Mode is launched. Wireframe of the Terrain World Debugger is drawn only around boundaries of the terrain, but not separate colliders. It should be noted that the PhysX Heightfield Collider - Draw collider property, and the `physx_de

[2022-06-13 14:57] shawstar opened #10084 "GLB is currently turned on by delfault in o3de, but when importing mesh it will not render."
**Describe the bug**
GLB and GLTF are formats that are currently turned on in the sceneassetimporter.setred and used to work (GLB). However recently I have noticed they are no longer rendering the mesh when importing.

**Assets required**
![image](https://user-images.githubusercontent.com/87207603/173381538-8df81514-2b65-4ed4-80a7-ea5c13af965e.png)

**Steps to reproduce**
Steps to reproduce the be

[2022-06-13 15:23] HogJonny-AMZN opened #10085 "Some .tga files process incorrectly"
**Describe the bug**
Some .tga image files seem to not process correctly in the image builder, these can be opened in photoshop but due to failing processing could not be loaded in material. Material was default generated by FBX, so the material failed as well.

The user retried the image a s a.tiff, but this can into o3de inverted.

User had to switch the image to .png to work with it correctly.

[2022-06-13 15:34] AMZN-daimini commented on #10075
Could you attach the level/prefab? This sounds like the result of a corrupted prefab file that is not loaded correctly.

Looping in @srikappa-amzn @monroegm to see what we could do to handle these cases more gracefully.

[2022-06-13 15:38] HogJonny-AMZN opened #10086 "Bug Report"
**Describe the bug**
Material Component material previews are often broken.

**Assets required**
To Do: get RV assets and level from carbonated

**Steps to reproduce**
Steps to reproduce the behavior:
1. build the loft sample project
2. load the loft level
3. select the "interior_03" prefab in the outliner
4. double-click to open the prefab
5. inspect the interior_03 mesh and material component
6.

[2022-06-13 15:38] mbalfour-amzn commented on #10083
Everything up through 0:45 in the video is "as designed" - the previous behavior of drawing a ground plane across the entire world was a bug. It should *only* draw terrain inside of terrain layer spawners, which is what you're now seeing.

There are a few bugs still being demonstrated in the video though:
* At 0:45, when the Terrain Layer Spawner is added, it has "Use Ground Plane" checked, which

[2022-06-13 15:42] amzn-mike commented on #10084
@shawstar from the last screenshot it looks like the issue might just be because of a conflict between `Assets/test.gltf` and `Assets/test.glb`.  Since they're both scene files, they'll both produce the same output files (such as `Cache/pc/assets/test.azmesh`), which would overwrite each other.  To fix this, you should either rename the file or move it to a different relative path (the current rel

[2022-06-13 15:48] mbalfour-amzn commented on #10083
(See https://github.com/o3de/o3de/pull/9936 for the fix to only draw inside of terrain layer spawners)

[2022-06-13 15:54] hultonha commented on #9780
Tagging @AMZN-daimini and @srikappa-amzn - this is something that we thing should be investigated by the game objects team. Is this something you'd be able to investigate? The workaround that was attempted by @moraaar did not work unfortunately (please see above for more details).

[2022-06-13 16:02] byrcolin commented on #9877
I'm not sure we can even fix this, it might be qt behavior on linux. needs investigation.

[2022-06-13 16:07] jckand-amzn opened #10087 "Nightly: test_Docking_BasicDockedTools is consistently failing in Nightly runs"
**Describe the bug**
test_Docking_BasicDockedTools is consistently failing in Nightly runs

**Failed Jenkins Job Information:**
Windows test_gpu_profile

[code]

[2022-06-13 16:10] byrcolin commented on #9509
The script is executed from an engine so that specifying the engine is not needed in this case, but I will check into it and make sure.

[2022-06-13 16:12] hultonha commented on #9700
Poking @amzn-tommy to see if there's any update on this or if you need support from the character/animation team. Thanks!

[2022-06-13 16:17] hultonha commented on #9066
Hey @sysuNie, we are going to close this issue after seven days if there have been no further updates/comments.

[2022-06-13 16:24] byrcolin commented on #8241
A community member worked on some similar stuff here: https://github.com/loherangrin/o3tanks/wiki/cheat-sheet

[2022-06-13 16:26] byrcolin commented on #8195
This could be related to: https://github.com/o3de/o3de/issues/8771

[2022-06-13 16:30] #8992 closed

[2022-06-13 16:38] AMZN-alexpete opened #10089 "Recast nav headers end up in root of SDK"
**Describe the bug**
When creating an SDK the Recast navigation headers end up in  /include/recastnavigation

**Assets required**
n/a

**Steps to reproduce**
Steps to reproduce the behavior:
1. Follow the instructions for making a pre-build SDK from https://www.o3de.org/docs/welcome-guide/setup/setup-from-github/building-windows/

**Expected behavior**
headers end up in the RecastNavigation gem

*

[2022-06-13 16:38] GraphiteSIX commented on #9700
@hultonha
I am just revisited this and believe it is partially my fault in not knowing how to export from DCC and how to import to o3de.
Saying that the model should fire off warnings and fail to import if possible and not crash the editor.
What was confusing is it is visible in 22.05.
Commit https://github.com/o3de/o3de/commit/7c0e902a8a01f652345a29be68050d5bba52f4ec  currently adds asserts:
<17:

[2022-06-13 17:17] HogJonny-AMZN opened #10090 "Document IBL & Cubemap Workflow"
There are several variations of workflows related to Image Based Lighting (IBL), used in the GlobalSkylight (IBL) and HDRiSkybox components.

There are a number of naming conventions that determine the output types of cubemaps that are generated:
1. _iblskyboxcm
2. _iblglobalcm
3. _skyboxcm
4. etc

Description of requests:
1. Doc for a component that utilizes an asset with naming conventions shoul

[2022-06-13 17:39] HogJonny-AMZN commented on #10029
Just some thoughts/notes:
1. It's important to be specific ... skyboxes do not require three cubemaps, only one. The global lighting is a separate system, they are related by workflow and potentially shared asset inputs.
2. There is a difference between complex and complicated; the renderer is inherently a complex set of rendering passes and component, with a very large potential set of configurat

[2022-06-13 17:50] HogJonny-AMZN commented on #9672
Moving a side is just a user interaction and presentation; dragging on a side could re-calc the box origin each frame.  I understand I am being a bit naive, you would need to shift the adjusted boxes transform and that itself might not jive with other aspects or components of that shared entity.

I'm just trying to think of how we can get to where we want to be, and the Reflection Probe itself see

[2022-06-13 20:54] shawstar opened #10095 "Feature Request - Retargeting Motions Bone Remapper tool with GUI."
**Is your feature request related to a problem? Please describe.**
Use the Animation Editor to re-target motions to a motion in which it has different bone names than the source. With a GUI that will use a Source / Target area where a customer can re-target one bone to another with different names:

We do have some of the re targeting, but you need to have the same bone names currently.
https://ww

[2022-06-13 22:16] shawstar commented on #10084
@amzn-mike I tested another GLB. I can repo the results, did not make a GLTF this time:
![image](https://user-images.githubusercontent.com/87207603/173455116-342851aa-8e52-4767-81e0-4f3339dfbf0a.png)

[2022-06-13 22:27] #10077 closed

[2022-06-13 23:29] AMZN-Olex opened #10101 "Entering game mode throws an assert if a level has a prefab instance on it"
**Describe the bug**
When entering game mode, the following assert gets hit. I suspect this only occurs if a level has a prefab in it.
I have confirmed that if I remove all prefab instances from the level, this assert does not get hit.

[code]

**Assets required**
AutomatedTesting project, I can repro it in NavigationSample.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Edit

[2022-06-14 07:40] LB-BartoszCwiek opened #10106 "Copy Link Location option of the hyperlink in the Aws Resource Mapping Tool window is not highlighted when hovered over"
**Describe the bug**
When the User opens the context menu by clicking RMB on the Aws Resource Mapping Tool window's hyperlink, the Copy Link Location option appears, but when hovered over it is not highlighted, which is inconsistent with other context menus. The option itself is working as intended.

**Steps to reproduce**
1. Go to AWS > Aws Resource Mapping Tool.
2. RMB on the hyperlink.
3. Hover

[2022-06-14 08:45] LB-BartoszCwiek opened #10108 "Gem description context menu looks inconsistently when compared with other context menus in the Project Manager and Editor"
**Describe the bug**
Gem description context menu looks inconsistently with other context menus in the Project Manager or Editor. It has black borders around and "Copy", "Copy Link Location" menu options have an inconsistent font. Additionaly, both "Copy" and "Copy Link Location" menu options have no highlight when hovered over.

**Steps to reproduce**
1. Create a project.
2. RMB on the created pr

[2022-06-14 08:46] Darkinggq commented on #8711
Ok, check tomorrow

[2022-06-14 08:53] LB-BartoszCwiek commented on #10106
We found another place where the context menu options are not highlighted. It is the "Copy" and "Copy Link Location" options in the Gem description context menu. It was found alongside this issue [#10108](https://github.com/o3de/o3de/issues/10108). If this should be logged separately, please let us now.

[2022-06-14 09:49] amzn-ahmadkrm opened #10110 "Feature Request - add integration test for locking camera while selecting box"
**Is your feature request related to a problem? Please describe.**

I made a change: https://github.com/o3de/o3de/pull/10109 which stops the camera from moving when boxSelect is happening. This can't be tested in \AzToolsFramework\Tests\EditorTransformComponentSelectionTests.cpp because the code doesn't enter ViewportControllerList so the camera behavior cannot be tested.

**Describe the solution

[2022-06-14 10:55] LB-KacperBieniek commented on #9627
When trying to reproduce this issue by following the exact steps from the description I was unable to encounter it. The reason behind it is that by simply opening the actor it is automatically selected. Deselecting the actor in Actor Manager tab, selecting a Motion, and then pressing the Play Button on the Time View tab results in the issue as described in Actual behavior. I believe this is the co

[2022-06-14 11:34] LB-RostyslavGavryliuk opened #10111 "Tools' windows do not restore their un-maximized size when dragged"
**Describe the bug**
Dragging window of any maximized tool does not restore their un-maximized size and keeps the original maximized one. On the contrary, the maximized Project Manager window does restore its un-maximized size when being dragged.This issue occurs on both Windows and Linux.

**Steps to reproduce**
1. Open the Editor.
2. Open any Tool from the Tools menu (e.g. Tools > Other > Audio

[2022-06-14 12:53] LB-HubertUberman opened #10115 "[Linux] Editor crashes after changing the viewport resolution to a high one when using a high-resolution display"
**Describe the bug**
When using a high-resolution display, changing the viewport resolution to a high one such as 2k, 4k, 6k, etc. causes the editor to crash. This issue occurs only on Linux.

Reproduced with the following displays:
- LG 27UL500-W
- Samsung UE43MU6190UXZG

**Steps to reproduce**
1. Set your monitor display to a high resolution, for example 4k.
2. Set your monitor display Scale to

[2022-06-14 13:27] LB-HubertUberman opened #10116 "[Linux] Viewport is not affected after changing its ratio and resolution when the editor is maximized"
**Describe the bug**
Changing the ratio or resolution of the viewport does not affect either of these parameters while the Editor's window is maximized. This issue occurs only on Linux.

**Steps to reproduce**

1. Open any level.
2. Maximize the Editor's window.
3. Change viewport's ratio, and resolution to any values.

**Expected behavior**
The viewport changes its ratio, and resolution according

[2022-06-14 13:57] LB-JakubSkorupka opened #10119 "Editor crash after deleting the Event Data from the Motion Event in the Inspector"
**Describe the bug**
The Editor crashes after deleting any **Event Data** from the **Motion Event** in the Inspector. This issue occurs after deleting the **Event Data** two times, the first deletion does **not** result in removing the **Event Data** from the **Motion Event**.
This issue affects both the **TwoStringEventData** and **EventDataFootIK**.
Deleting the **Event Data** from the **Motion

[2022-06-14 14:38] hultonha commented on #9700
Thanks for the additional info @GraphiteSIX, this is really helpful. Tagging @amzn-rhhong and @amzn-tommy for visibility. I know Roman has been looking at this recently but might not have time right now to dig into it. We'll keep you updated :+1:

[2022-06-14 15:01] hultonha commented on #9672
Adding a specialized box might be the quickest/easiest solution but would not be ideal long term and other components will have this problem. Adjusting the box component data affecting the overall entity transform sounds like a horrible idea to me to I'm afraid. This is solvable, it's just not as easy as it might seem on the surface, that's all I'm trying to get across. To do this properly there i

[2022-06-14 16:45] galibzon commented on #10075
It's a very heavy project, it has lots of assets. I think the best way would be to create a level in AutomatedTesting with lost of entities and nested prefabs etc. Do you guys have python scripts to generate such levels for validation?

[2022-06-14 17:11] galibzon commented on #9119
The plan is to move all these image diff based tests to AutomatedTesting

[2022-06-14 17:11] #9119 closed

[2022-06-14 17:21] galibzon commented on #3271
@mcphedar To try  StandardMultilayerPbr material type

[2022-06-14 17:21] #3266 closed

[2022-06-14 17:22] galibzon commented on #3266
Closing, as needs a description.

[2022-06-14 17:23] galibzon commented on #3265
Closing as there's no description.

[2022-06-14 17:23] #3265 closed

[2022-06-14 17:23] galibzon commented on #3264
Closing as lacking description.

[2022-06-14 17:23] #3264 closed

[2022-06-14 17:37] tonybalandiuk commented on #2078
This bug was highlighted as a "thing we should change" under the retro for the 22.05.0 Release. https://github.com/o3de/sig-release/issues/59

In addition, this was noted in a Games From Scratch video that stated it was his no1 thing to change apart from stability.

[2022-06-14 17:38] tonybalandiuk commented on #3536
as a "Thumbs Up", This request was also highlighted as a "thing we should change" under the retro for the 22.05.0 Release. https://github.com/o3de/sig-release/issues/59

[2022-06-14 18:51] smurly opened #10121 "editor_entity_utils.py and prefab_utils.py have a circular import issue"
**Describe the bug**
in https://github.com/o3de/o3de/commit/f1479668cb59b7721c36168b526290e493f42917 a circular import was introduced into editor_entity_utils.py in that the `import editor_python_test_tools.prefab_utils as PrefabUtils` was placed at the bottom of the file because prefab_utils itself imports EditorEntity from editor_entity_utils. This is a circular import because the import as each

[2022-06-14 18:57] chanmosq opened #10122 "Bug Report: O3DE Editor's 'Help' search bar goes to incorrect website URL"
**Describe the bug**
Searching in the "Help" menu in the Editor does not lead to the correct URL.

**Steps to reproduce**
Search for something (e.g. "postfx") in the "Help" menu of the Editor.
  ![image](https://user-images.githubusercontent.com/75444793/173666712-38a6c821-5932-429f-9e68-17cb6c74b9df.png)

**Expected behavior**
Browser opens to URL: `https://www.o3de.org/search/?query=postfx`
![im

[2022-06-14 20:37] galibzon opened #10124 "[Linux] The Editor crashes when switching to Game Mode And Returning To Editor."
**Describe the bug**
The Editor crashes and becomes unresponsive upon entering/exiting Game mode.

**Assets required**
I reproduced it with a default new level. I used the `AutomatedTesting` project.

**Steps to reproduce**
Compile the Editor. Create a new level. Enter game mode and exit game mode.

**Expected behavior**
Entering & Exiting Game mode should work

**Actual behavior**
The Editor beco

[2022-06-14 20:42] forhalle commented on #9958
@monroegm - This crash occurs post Project Manager - it is an Editor crash, so we are assigning back to sig/content to address.

[2022-06-14 20:54] srikappa-amzn commented on #9780
Folks with prefab knowledge would be the people to debug this and explain why this is happening and potentially provide ways to fix this too. Assigning this to @monroegm so that he can reassign accordingly.

[2022-06-14 21:51] lmbr-pip commented on #5545
This may be fixed, we should try to repro with latest.

[2022-06-14 21:53] lmbr-pip commented on #4813
Should repro if this still occurs.

[2022-06-14 21:55] jckand-amzn opened #10126 "Landscape Canvas: test_LandscapeCanvas_Edit_DisabledNodeDuplication can cause an Editor crash"
**Describe the bug**
test_LandscapeCanvas_Edit_DisabledNodeDuplication can cause an Editor crash. This has only occurred locally, but has been reproduced on several machines. Unclear why the test is passing without issue on Jenkins.

**Failed Jenkins Job Information:**
Local failure only (so far).

**Attachments**
[code]

[2022-06-14 21:56] lmbr-pip commented on #9475
@lihongjun25 - Can we get a sample FBX asset that shows this behaviour and/or logs that show the crash?

[2022-06-14 21:58] jckand-amzn opened #10127 "Landscape Canvas: test_LandscapeCanvas_LayerBlender_NodeConstruction intermittently fails"
**Describe the bug**
test_LandscapeCanvas_LayerBlender_NodeConstruction intermittently fails.

**Failed Jenkins Job Information:**
development - https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2530/pipeline/612

**Attachments**
Attach the Jenkins job log as a .txt file and any other relevant information.
[consoleText.txt](https://github.com/o3de/o3de/files/8904161

[2022-06-14 22:00] lmbr-pip commented on #6731
Test was sandboxed in https://github.com/o3de/o3de/pull/7438

[2022-06-14 22:04] lmbr-pip commented on #4967
Team has spent a lot of time trying to reproduce without success, marking as did not reproduce. Please reopen if this still occurs.

[2022-06-14 22:04] #4967 closed

[2022-06-14 22:16] Kadino commented on #6731
This issue with AssetBuilder should remain open, despite the test being disabled.

[2022-06-14 22:57] AMZN-puvvadar commented on #9075
I've managed to diagnose the error to this while loop: https://github.com/o3de/o3de/blob/development/Code/Framework/AzFramework/AzFramework/Script/ScriptRemoteDebugging.cpp#L424-L429

Presently this loop does not exit without receiving a continue breakpoint message. This loop has the side effect of stalling out all Ticks (including SystemTick) so that no network traffic is ever received. I'll look

[2022-06-14 23:25] #9980 closed

[2022-06-14 23:25] pollend commented on #4813
I did patch this in development a while ago should be fixed I believe.

[2022-06-15 04:10] ParasiteSt opened #10137 "Feature Request : Viewport Camera Selector: Selecting Camera but prevent movement."
**Is your feature request related to a problem? Please describe.**
Yes, I want to be able to view a camera view and see how something will look in a locked view, accidental movement while moving other entities in that camera view results in having to backtrack.

**Describe the solution you'd like**
I would like something like a toggle switch so I am unable to use WASD movement and camera rotation

[2022-06-15 05:05] pollend commented on #10122
this was already resolved with this PR: https://github.com/o3de/o3de/pull/9939

[2022-06-15 07:22] Darkinggq opened #10140 "[Linux] Run project in O3DE display the problem display does not see anything"
**Describe the bug**
Problem with black display when starting a project due to Vulkan (22.05.0 was fine)

**Steps to reproduce**
1. Run O3DE Editor
2. Black display

**Screenshots/Video**

https://user-images.githubusercontent.com/17591539/173762551-c7999907-b30b-42cd-94c2-ee632d415018.mp4

**Found in Branch**
development nightly build: 9ff52ad99bd737156be52667a7a6107de36a32d4

**Desktop/Device (p

[2022-06-15 07:44] Darkinggq opened #10142 "[Linux] Adding any component in Editor on non-ubuntu distributions causes unwanted duplicated components"
**Describe the bug**
Ubuntu add a component at once one works, and the other Arch Linux/OpenSUSE distributions has two components at once

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add a component
2. Click select any component two is duplicated bug

**Screenshots/Video**

https://user-images.githubusercontent.com/17591539/173769963-dc06d410-f275-4997-a02e-7fcc8aa5faf6.mp4

**Found

[2022-06-15 11:24] #9516 closed

[2022-06-15 12:17] hultonha commented on #9627
This is great thank you very much @LB-KacperBieniek, really appreciate you looking into this. I'm going to close this issue for now as it can no longer be reproduced.

[2022-06-15 12:17] #9627 closed

[2022-06-15 12:32] galibzon commented on #9075
I took latest "development" branch, as of this morning, and cherry-picked this PR into it:
https://github.com/o3de/o3de/pull/10132
Loaded AutomatedTesting. Upon entering a breakpoint only "Run/Continue" option works (an improvement).
Unfortunately both "Step Over" and "Step In" don't work, but this time around they open a `LUADockWidget` tab, along with a large animated and semi-transparent progre

[2022-06-15 12:48] LB-RostyslavGavryliuk opened #10143 "Mesh Component is moved to the bottom of Entity Inspector when editing any other component"
**Describe the bug**
Mesh Component is rearranged to the bottom of the list in Entity Inspector whenever any other component is edited.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an Entity, add Mesh, and any other component to it (for example PostFX Layer).
2. Move the Mesh component in the Entity Inspector, so that it is not on the bottom of the component list.
3. Edit any

[2022-06-15 13:08] LB-JakubSkorupka opened #10144 "Script Canvas: Additional temporary properties appear in the Transform variable after changing its Initial Value Source in the Node Inspector"
**Describe the bug**
When changing the **Initial Value Source** of the **Transform** variable in the **Node Inspector**, additional Position, Rotation, Scale **temporary** properties appear in the variable.
The properties that appear are temporary and disappear after deselecting the variable and selecting the variable again.

**Steps to reproduce**
1. Open **Script Canvas** tool.
2. Create a new g

[2022-06-15 13:28] Hsuehnj opened #10145 "Script Canvas: every time undo, there will be one more slot in the outslot of MULTI_RESULTS_NODE"
**Describe the bug**
If there is MULTI_RESULTS_NODE in script, every time you operate Undo, there will be one more slot in the outslot of MULTI_RESULTS_NODE.

**Assets required**
NA

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Script Canvas Editor
2. Add node BoxCastWithGroup to script
3. Change the value of an input parameter
4. Undo the operation of step 3
5. there will be on

[2022-06-15 13:52] LB-ArturZieba commented on #9904
Issue verified as fixed on the Development (b0cfce0) build.

[2022-06-15 13:56] greerdv opened #10146 "Improve safety of math library uninitialized constructors"
Currently the pattern for types in AzCore/math is to have constructors which do not initialize (for performance reasons), but this is dangerous because a user may do something like

AZ::Vector3 vector3;
float x = vector3.GetX();

@lumberyard-employee-dm had a nice suggestion, which is to make the default constructor private and provide a method for creating an uninitialized instance whose name exp

[2022-06-15 14:20] LB-MateuszSzweda commented on #9927
Today I've rechecked this on Development (b0cfce0) on two separate PC and Linux machines.

Again when physics materials from o3de\Gems\PhysX\Assets\PhysX folders were opened in Asset Browser different values were observed on PC and Linux.

Freshly cloned PC build was built with source engine workflow and run AutomatedTesting project with new level
and freshly cloned Linux build was built with sour

[2022-06-15 14:51] moraaar commented on #9927
You mention in linux you've tested it with a new project. I tested it in linux with AutomatedTesting project, like you did on PC and it worked. Maybe it has something to do with a new project and being separate from the engine.

Can you test it on pc using a new project @LB-MateuszSzweda?
I'll test linux using a new project and see if I can reproduce your bug.

Thanks

[2022-06-15 15:11] lmbr-pip commented on #10122
@pollend Linked PR is marked closed rather than merged, is there a plan for a new PR?

[2022-06-15 15:15] lmbr-pip commented on #10142
Tagged in both SIG/content and SIG/Platform here. Looks like it should be an issue for SIG/platform as it only occurs on some linux distributions, but will let SIGs decide.

[2022-06-15 15:17] lmbr-pip commented on #10140
Graphics issue but on specific Linux distribution.

[2022-06-15 15:24] lmbr-pip commented on #10121
Assigned to sig/content as most likely owners of EditorPythonTests (not called in codeowners), please assign to sig/testing if this actually framework related.

[2022-06-15 15:51] monroegm commented on #10121
@srikappa-amzn Looks like this was caused by your commit. Can you take a look?

[2022-06-15 15:53] monroegm commented on #10122
Fixed by #9939

[2022-06-15 15:53] #10122 closed

[2022-06-15 15:58] monroegm commented on #10145
Routing to SIG-Simulation as this is a physics related node

[2022-06-15 16:10] lumberyard-employee-dm commented on #8976
@o3de/sig-core will add a lifecycle notification event inside the [ExitMainLoop](https://github.com/o3de/o3de/blob/development/Code/Framework/AzFramework/AzFramework/Application/Application.h#L124) function which the @o3de/sig-content group should bind to BehaviorContext.

[2022-06-15 16:15] lumberyard-employee-dm commented on #9334
We should add a NativeUI message to output the user supplied invalid path to the Windowing system to notify the user of the invalid path.

[2022-06-15 16:52] lumberyard-employee-dm commented on #10066
@cgalvan The enable-gem command can only be used with a project.

Only Projects can explicitly activate or not activate a gem.

For registration, the external subbdirectory is being added to a particular "o3de object".
Be that the engine.json, o3de_manifest.json, or the gem.json, the project.json

[2022-06-15 16:54] hultonha commented on #9695
@ppinfel Could you please respond to the questions for more info. If we don't hear anything back by 2022/06/27 we will close this issue.

If additional info is added after that date we will reopen the issue. Thanks for your time!

[2022-06-15 16:58] hultonha commented on #9701
Tagging @amzn-rhhong for visibility to take a look at this issue if possible (also tagging @amzn-jillich for visibility)

[2022-06-15 16:59] hultonha commented on #9701
@GraphiteSIX - we reviewed this in sig/simulation triage, if you do have any additional info or repro steps to add that would be very helpful

[2022-06-15 17:08] FiniteStateGit commented on #10090
@HogJonny-AMZN Please file a corresponding issue or transfer to o3de.org

[2022-06-15 17:10] GraphiteSIX commented on #9701
@hultonha Unfortunately I haven't any steps to repro this and didn't have the understanding I do now of how important It is to capture and supply all the info.
I totally understand and advise to close this as there has been so many updates to the emotionfx editor I doubt the dump is relevant now but leave that up to you.

[2022-06-15 17:13] monroegm opened #10147 "Show/Hide and Lock/Unlock affect all prefab instances"
**Describe the bug**
Show/Hide and Lock/Unlock affect all instances of the same prefab. These should be treated like transforms and always be unique per instance.

**Assets required**
N/A

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create or instantiate a prefab with a visible model. One way to do this is to search for "_Box_1x1.fbx" in the Asset Browser and drag it into the viewpo

[2022-06-15 17:44] AMZN-puvvadar commented on #9075
That seems to have nothing to do with the network layer as it turns out. It's likely pre-existing. What's happening here is the implicit breakpoint generated to handle Steps are searching for their target file by lua vs luac which is failing Asset lookup. Unsure when or why that became the case but I added a quick and dirty catch to https://github.com/o3de/o3de/pull/10132 to handle it.

[2022-06-15 18:06] lmbr-pip commented on #7469
Does not appear to be an issue, no longer reproduces.

[2022-06-15 18:06] #7469 closed

[2022-06-15 18:08] lmbr-pip commented on #9105
@hultonha - We have not gotten any recent reports on this test being flakey, any objects to clostng?

[2022-06-15 18:08] AMZN-alexpete commented on #9958
From the log, looks like a possible crash in the ComponentEntityEditorPlugin.
[code]

[2022-06-15 18:11] lmbr-pip commented on #9630
Should move .cfg files to setreg rather than invest in this area.

[2022-06-15 18:12] amzn-rhhong opened #10149 "Add automation test for actor component switching actor asset"
https://github.com/o3de/o3de/pull/10059

This change added the ability to switch actor asset for the runtime actor component as well as set it to null to destroy actor for the given entity. It would be great to add automation test to verify it.

[2022-06-15 20:00] #9855 closed

[2022-06-15 20:04] #9957 closed, assigned to smurly

[2022-06-15 20:04] srikappa-amzn commented on #9956
Closed by https://github.com/o3de/o3de/pull/9994

Feel free to reopen if you still see some issues.

[2022-06-15 20:04] #9956 closed

[2022-06-15 21:56] CSteel22 opened #10152 "Multiplayer Gem/Multiplayer Sample: Entity with Network Hierarchy Root with two or more children throws unhandled exception"
## Bug Description
At level load in multiplayer, when spawning a Network Prefab with a Network Hierarchy Root and two or more childed entities with the Network Hierarchy Child component, an unhandled exception occurs.

## Steps to Reproduce
1. Create and Save a Prefab comprised of a Root Entity with the Network Hierarchy Root component and two childed entities with Network Hierarchy Child componen

[2022-06-15 22:21] galibzon commented on #9075
Validated the new version of the PR and it works! Thanks a lot @AMZN-puvvadar .

[2022-06-15 22:29] HogJonny-AMZN opened #10154 "Project Manager Should Prompt Project Rebuild After Enabling Gem"
During a User Test, we had the User use the CLI (o3de.bat, o3de.py) to:
1. create a python tool gem from template
2. register the new gem with the engine
3. then enable the gem with their project

Then the User went to the Project Manager to validate the change.  The project manager did not indicate to the User that the project needed to be rebuilt.  But because a new Gem was added we think it doe

[2022-06-15 22:35] galibzon commented on #10124
Attached is the log after running with validation:
[code]
[Editor.log](https://github.com/o3de/o3de/files/8913591/Editor.log)

[2022-06-15 22:39] moudgils commented on #10124
Tagging @spham-amzn and @jiaweig-amzn. The log shows new swapchains being created and smalled heights repeatedly. Are these resize event coming from Qt. Have either of you seen this. This is happening with the latest. I can sync up (hopefully tom) and check out pc vk to see if it also exhibits this behavior.

(Vulkan) - Swapchain created. Width: 2992, Height: 1823.
(Swapchain) - Obtained presentab

[2022-06-15 22:49] galibzon commented on #10124
@moudgils I was changing the viewport size.

[2022-06-15 22:49] moudgils commented on #10124
@spham-amzn I think this crash is happening because qt is changing the surface dim under the hood and Atom is missing the event. Are you able to repro this crash? If yes we can see what events Qt emits and scrub through it to see if Atom is somehow missing an important resize like event.

[2022-06-15 22:50] galibzon commented on #10124
Here is a new Editor.Log where I never changes the viewport. Interestingly, in this case I was able to enter/exit game mode once with success, but the second time around the Editor froze.
[Editor.log](https://github.com/o3de/o3de/files/8913983/Editor.log)

[2022-06-15 22:58] galibzon commented on #10124
New discovery:
Case 1 (Consistent):
If I open the Editor and do not resize the viewport. Simply enter Game mode and exit game mode it always works the first time. If I enter game mode again it works but when I exit it always freezes with no error in the Log.

Case 2 (Consistent):
On the other hand, if I open the Editor, resize the viewport, Enter game mode, it works, but when exiting Game mode I g

[2022-06-15 22:58] #10101 closed

[2022-06-16 07:28] Hsuehnj commented on #10145
https://github.com/o3de/o3de/pull/9318 has fixed the bug.

[2022-06-16 08:05] CyaNinix opened #10156 "Merge common Nsight Aftermath between DX12 & Vulkan RHIs"
**Is your feature request related to a problem? Please describe.**
Currently, only DX12 RHI has Nsight Aftermath support. We added it to Vulkan (and updated Aftermath support) in #10058, however we did this quickly by duplicating the files.

**Describe the solution you'd like**
It would be better to put common code elsewhere if possible, and keep only required code in each RHI backend, as suggeste

[2022-06-16 11:13] hultonha commented on #9701
No worries @GraphiteSIX, thanks for the info! I'll leave this open for now and see if it comes up again, if we don't see it again anytime soon we can close in a couple of weeks. Thanks for your help!

[2022-06-16 13:13] hultonha commented on #9105
Hey @lmbr-pip , thanks for letting me know. Yes sure thing, maybe this was a Jenkins/infrastructure issue after all, I'm happy to close this for now (we can always re-open in future if need be). Thanks!

[2022-06-16 13:13] #9105 closed

[2022-06-16 15:14] shawstar opened #10160 "ALT Key/Left mouse click to Rotate Camera-Pivot will not override over an 'selected' object."
**Describe the bug**
ALT Key/Left mouse click to Rotate Camera-Pivot will not override over an 'selected' object.  Sometime ALT is not recognized, you will accidentally move the selected object. Only notice over an Selected Object.

**Assets required**
No assets required, this can be tested inside of o3de.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a level in O3DE
2. Click on

[2022-06-16 15:40] lumberyard-employee-dm commented on #10146
Another alternative is to add a tag type that results in default-initialization, while having the default constructor result in value initialization
[code]

[2022-06-16 15:40] jckand-amzn commented on #9505
This is still occurring. Can someone please take a look? Got an additional test failure in the suite as well:

[code]

https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/PR-10098/4/pipeline/568

[2022-06-16 16:06] #9890 closed

[2022-06-16 16:46] #9971 closed

[2022-06-16 16:46] #10087 closed

[2022-06-16 16:56] #9075 closed

[2022-06-16 16:57] AMZN-puvvadar commented on #10030
Thanks for reporting this, it should be fixed as of changes made in https://github.com/o3de/o3de/pull/10153.

[2022-06-16 16:57] #10030 closed

[2022-06-16 17:01] srikappa-amzn commented on #10121
Thanks for pointing out the coding standards around imports. I'll put a follow up PR to fix this.

[2022-06-16 17:29] santorac opened #10163 "Expose Material Description Field"
**Is your feature request related to a problem? Please describe.**
The .material file format supports a "description", but this is not exposed in the Material Editor. It does show up in the tooltip for the "Overview" panel, but I suspect most users won't notice that.

**Describe the solution you'd like**
We need to add a way for the user to view and edit the material description in the Material Ed

[2022-06-16 17:30] lmbr-pip commented on #9497
Fixed in https://github.com/o3de/o3de/pull/9650

[2022-06-16 17:30] #9497 closed

[2022-06-16 17:35] lmbr-pip commented on #10031
@xiapeng78 Would be great to share scripts to aid reproduction of issue.

[2022-06-16 17:37] shawstar opened #10165 "Feature Request - The ability for the material editor to use Packed Textures."
**Is your feature request related to a problem? Please describe.**
Many material pipelines will pack many different textures into the individual channels of a texture.
![image](https://user-images.githubusercontent.com/87207603/174127376-5a15f01c-2508-46eb-830f-eb4f92f64da6.png)
In the above example, notice the use of three texture in one texture, split in the RGB channels. AO,Roughness and Metall

[2022-06-16 17:38] #9921 closed

[2022-06-16 17:50] lmbr-pip commented on #9779
Should restest post merging of the force ticking of the LuaIDE.

Seems that this may require more work in target manager.

[2022-06-16 18:09] galibzon commented on #10124
A new discovery, removing the "Shader Ball" Entity fixes the bug. Will now retry with latest development branch.

[2022-06-16 18:12] shawstar opened #10166 "Feature Request - Artist would like to swap the material type for StandardPBR to EnhancedPBR etc.."
**Is your feature request related to a problem? Please describe.**
Artist would like to swap the material type, as in Lumberyard you could change the type to a collision material. Need a no create a new material.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/87207603/174137101-a9dfbc53-d433-461d-afee-0c6387f8593c.png)

This is also common in our DCCs tool

[2022-06-16 18:41] GraphiteSIX commented on #9779
@lmbr-pip tested on commit https://github.com/o3de/o3de/commit/046995140f0b1d44f3f4bc30ec1e11018245b711
The issue is still there unfortunately.

[2022-06-16 18:42] monroegm commented on #10015
There is already a global setting to enable auto saving. Worth checking that all the editors tools support it and file separate tickets for the ones that don't

[2022-06-16 18:49] monroegm commented on #8512
This exists in the current version of O3DE

[2022-06-16 18:52] monroegm commented on #7827
This will probably require an RFC to determine how best to design this functionality

[2022-06-16 18:54] monroegm commented on #7245
@shawstar Does SIG content own this tool? Is it part of the project? If not, can we close this and track the work somewhere else?

[2022-06-16 18:54] monroegm commented on #7244
@shawstar Does SIG content own this tool? Is it part of the project? If not, can we close this and track the work somewhere else?

[2022-06-16 18:56] monroegm commented on #3907
This doesn't need to be tracked here

[2022-06-16 18:56] monroegm commented on #3906
This is an internal ticket that doesn't need to be in O3DE

[2022-06-16 18:56] #3906 closed

[2022-06-16 18:58] monroegm commented on #3182
This is related to documentation. Rerouting to SIG-Docs-Community

[2022-06-16 19:48] shawstar opened #10169 "Feature Request - When artist adds a PhysX Collider it will not default as a primitive object but a Blank PhysX Mesh"
**Is your feature request related to a problem? Please describe.**
During RTE an artist wish to have a collider, when adding the PhysX Collider it will not default as a primitive object but a Blank PhysX Mesh. The artist did not know about adding the _phys extension on a mesh in the DCC tool.

![image](https://user-images.githubusercontent.com/87207603/174151468-9569185f-1596-49c4-9752-83ae5eef6f7

[2022-06-16 22:02] AMZN-alexpete commented on #9956
Looks like the issue is fixed, thanks!

[2022-06-16 22:13] AMZN-puvvadar commented on #10031
I've repro'd this locally. The script referred to is the default SpawnIfAuthority used in the SampleBase level. The prefab spawned from that script (FilteredGroup) disappears from the server first followed by the client.

[2022-06-16 22:25] spham-amzn commented on #9502
This is no longer supported by default by Nautilus ( https://www.omgubuntu.co.uk/2018/05/nautilus-remove-ability-launch-binaries-apps ). There are work-arounds ( https://fostips.com/double-click-run-elf-ubuntu/ ) but it is not standard behavior and not something we should try to hack

[2022-06-16 22:25] #9502 closed

[2022-06-16 22:33] AMZN-puvvadar commented on #10031
After further investigation, this seems like an issue involving Prefabs and Scripting.

[code]

Essentially, the script creates an EntitySpawnTicket. At some point lua deems it's time to garbage collect it which leads to the creation of a Destruction command for the item spawned. It seems like ownership of the ticket needs to be handed off or GC should not be occurring for this script at the time

[2022-06-16 23:43] ParasiteSt opened #10174 "Bug Report : Simple Motion with Attachment ; Saving Level"
**Describe the bug**
When using the simple motion component with another component attached to a bone with the attachment component and activating preview in editor, you can save your level, but since the entity is always moving it shows the * symbol on the level making it hard to know if it actually saved or not.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new entity with

[2022-06-16 23:52] AMZN-puvvadar commented on #10152
I did some digging on this. The reason this happens is because some of the child entities being processed aren't in the Activated state. Consequently they haven't connected to the TransformBus so the Transform get fails. A workaround here is falling back to directly grabbing the TransformComponent. I imagine the correct solution however, is that this code should not be entered until the entire hie

[2022-06-17 00:01] ParasiteSt opened #10175 "Feature Request : Reroute pins in Script Canvas"
**Is your feature request related to a problem? Please describe.**
It is a quality of life request because the connecting lines/wires get in the way while trying to grab other wires or Alt deleting wires others get in the way. This mainly comes into play when you are going back with the wires it messes with a lot of visibility for other nodes.

**Describe the solution you'd like**
I would like to

[2022-06-17 00:13] ParasiteSt opened #10176 "Feature Request : Add color to Script Canvas wires."
**Is your feature request related to a problem? Please describe.**
No, but it could help with how groups work in script canvas with how different colors mean different things, so could wires to keep an organized connection between nodes just by looking at the color and not having to follow it to see what the connection does.
![image](https://user-images.githubusercontent.com/100494538/174197253-7f

[2022-06-17 02:29] fufushang opened #10180 "[Track View] The fog color of deferred fog is not directly related to the R, G, and B parameters of K frames."
Describe the bug
[Track View] The fog color of deferred fog is not directly related to the R, G, and B parameters of K frames.
The key frame is not the R, G and B color value, but the X,Y and Z value.

Assets required
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-for

[2022-06-17 07:21] LB-ArturZieba opened #10184 "Certain GitHub O3DE repositories contain licenses named "Unknown" and are inconsistent"
**Describe the bug**

Multiple GitHub O3DE repositories contain one or two licenses named "Unknown", and are inconsistent in which other licenses are present.

Licenses in repositories:
* o3de/o3de (https://github.com/o3de/o3de):
   * Unknown (https://github.com/o3de/o3de/blob/development/LICENSE.txt)
   * Apache-2.0 (https://github.com/o3de/o3de/blob/development/LICENSE_APACHE2.TXT)
   * MIT (htt

[2022-06-17 07:59] LB-BartoszCwiek commented on #10049
Issue verified as fixed, pull request https://github.com/o3de/o3de/pull/10081 resolved the bug succesfully. Closing the issue.

[2022-06-17 07:59] #10049 closed

[2022-06-17 08:00] LB-BartoszCwiek commented on #9614
Issue verified as fixed, pull request https://github.com/o3de/o3de/pull/9949 resolved the bug succesfully. Closing the issue.

[2022-06-17 08:00] #9614 closed

[2022-06-17 10:05] moraaar opened #10185 "AR Bug Report: DynamicVegetationTests_Main_Optimized failed"
**Describe the bug**
Tests `test_PositionModifier_AutoSnapToSurfaceWorks` and `test_RotationModifier_InstancesRotateWithinRange` failed in AR.

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/2552/pipeline/617

**Attachments**
[log.txt](https://github.com/o3de/o3de/files/8926595/log.txt)

[2022-06-17 10:13] piotr-zyskowski-rai opened #10186 "Bug Report: Loft scene with GI component crashes when using camera sensor"
**Describe the bug**
When testing the camera sensor, the crash happens on the loft scene when GI group elements are present.
The camera sensor is implemented by creating an additional rendering pipeline

**Assets required**
See **Found in Branch** section for complete repositories configuration

**Steps to reproduce**
1. Clone [o3de-demo-project on camera branch](https://github.com/RobotecAI/o3de-

[2022-06-17 13:42] LB-ArturZieba opened #10188 "Hovering over certain Script Canvas nodes can cause brief visual glitches"
**Describe the bug**
If a Script Canvas node has an output pin, where a variable is assigned, hovering over it causes that output pin to flicker. It should be noted that on Linux the output pin seems to be displaced, while on Windows the node itself can shrink to its original size for a brief moment.

**Steps to reproduce**
1. Go to Tools > Script Canvas.
2. In the Script Canvas go to File > New S

[2022-06-17 13:57] LB-KacperBieniek commented on #9537
Opening the "Edit Platform Settings..." window results in the following warning:
`[Warning] (DPE) - No name found for CRC, falling back to CRC value: <value>`
![Editor_OpenEditPlatfrom](https://user-images.githubusercontent.com/87059746/174312586-c38917dd-c25e-49b4-ab58-f82506986e4f.png)

[2022-06-17 14:25] LB-MateuszSzweda commented on #9927
I've tested it today on another PC machine copying the Linux workflow and building new project. The values for materials were just like previously spotted in PC Automated Testing so **Dynamic Friction:0.85**, **Static Friction:0.85** and **Restitution:1.0** in case of rubber material.

I've also tried to clone and build linux again, cleaning every O3DE possible residue together with o3de-packages

[2022-06-17 14:45] moraaar commented on #9927
Thanks @LB-MateuszSzweda, this is an odd one.

On the Linux machine, can you open with a text editor the files (.physxmaterial) inside `o3de\Gems\PhysX\Assets\PhysX` and check if they are the same as in pc?

Also, on linux, once the Asset Processor has finished processing the assets of your project, please go and open with a text editor the files (.physicsmaterial and .physxmaterial) inside your p

[2022-06-17 16:24] monroegm commented on #10031
Currently you need to hold a reference to the spawn ticket to keep spawned entities alive. See https://www.o3de.org/docs/learning-guide/tutorials/entities-and-prefabs/spawn-a-prefab/ for details on how to store the spawn ticket in a variable. Let us know if this doesn't solve your issue.

[2022-06-17 16:26] monroegm commented on #10031
Related to #9690

[2022-06-17 16:27] rainbj commented on #10115
We agree with the ticket problem that is being reported . So please work on that part. However! We also noticed that the play button in the video also is not showing the dropdown as if it wasn't the latest build. I assume either play button is broken OR this is an older build. Please confirm which problem this is.
![capture-016-17-2022](https://user-images.githubusercontent.com/82551958/174338749-

[2022-06-17 16:42] rainbj commented on #9884
@jonawals we believe that this issue can be resolved when your new entity /prefab outline view goes into effect. I couldn't find videos to show online. However it is currently just showing item block with no selection state in its current form (focus mode with no outline). This blocking effect without a clear indication of selection state  is causing customer confusion during walk the engine testi

[2022-06-17 17:01] AMZN-puvvadar commented on #10031
Thanks @monroegm , that had exactly the detail being missed. Fix proposed in https://github.com/o3de/o3de-multiplayersample/pull/156.

[2022-06-17 17:04] rainbj commented on #10116
This issue feeds into the larger issue here, which is. We should not be trying to scale the editor window but scale the viewport window to match the resolution and ration for the user. Example. I'm creating a moble game. I need to see the correct ratio of what the users will be seeing from the camera view and or mobile device.
![capture-026-17-2022](https://user-images.githubusercontent.com/825519

[2022-06-17 17:07] #9969 closed

[2022-06-17 17:07] AMZN-puvvadar commented on #10031
Fix merged.

[2022-06-17 17:07] #10031 closed

[2022-06-17 18:12] AMZN-puvvadar commented on #10152
There is a WIP change to address this here: https://github.com/o3de/o3de/pull/10193. The change so far addresses entities not in the Active state. For now, non-Active entities are skipped with the expectation that the hierarchy will be rebuilt again off an event from those entities Activating.

I'd like to also sort out the further issue around failure to examine the entirety of the hierarchy. The

[2022-06-17 18:53] ParasiteSt commented on #10188
This is actually more than a visual glitch, some nodes (like the switch node) with enough output pins when the visual glitch happens it makes it so you are not able to grab the output unless you wait on the node and slowly try to grab the output from the inside of the node out, so the glitch does not happen.

[2022-06-17 18:56] ParasiteSt commented on #10176
I would like to hear others opinions on this feature request as it is strange, but I am not sure if it would help others or be more of a distracting feature. (been thinking of that myself)

[2022-06-17 21:23] #10185 closed

[2022-06-17 21:30] AMZN-puvvadar opened #10196 "SpawnableUtils::SortEntitiesByTransformHierarchy fails to sort hierarchies of depth greather than 2"
**Describe the bug**
Given a prefab of the following construction
![image](https://user-images.githubusercontent.com/32854265/174402693-68e22ec9-cd2a-4954-b86c-99ec32319ab5.png)
such that Hierarchy Root looks like
![image](https://user-images.githubusercontent.com/32854265/174402790-88e08712-2103-480c-8e65-8d2a957163e5.png)
and all other entities look like
![image](https://user-images.githubuserco

[2022-06-17 21:36] AMZN-puvvadar commented on #10152
I've taken https://github.com/o3de/o3de/pull/10193 out of draft and created https://github.com/o3de/o3de/issues/10196 to track the AssetBuilder issue on hierarchy sort order.

[2022-06-17 22:30] FuzzyCarterAWS opened #10197 "Feature Request: When importing a scene via drag and drop into the viewport, automatically add that mesh to the viewport"
**Is your feature request related to a problem? Please describe.**
It was observed that a user attempted to drag a scene file from their file system into the view port and expected it to appear in the scene with a new entity with appropriate components without additional setup.

**Describe the solution you'd like**
When a scene file is dragged into the scene from the file system for importing, the

[2022-06-17 23:14] FuzzyCarterAWS opened #10198 "Asset Browser Navigation starts from Driver Letter instead of starting from Scan Folders"
**Describe the bug**
Asset Browser will start the navigation tree from the drive letter of the scan folders it supports, making it difficult to navigate to supported files with extra clicks. This also makes it look like you're navigating your drive instead of your usable assets.

Additionally, any files outside the scan folders are not visible to the Asset Browser, making these extra tree navigati

[2022-06-17 23:35] FuzzyCarterAWS opened #10199 "Feature Request: Group Related Warnings/Errors/Info into a collapsible element in Editor Console"
**Is your feature request related to a problem? Please describe.**
Editor Console Spam for the same reported issue, or related issues, over and over is a repeating problem.

**Describe the solution you'd like**
An interactive element in the editor console that allows grouping of related elements so they can be collapsed/grouped/handled in a cleaner fashion.

**Describe alternatives you've consider

[2022-06-17 23:41] FuzzyCarterAWS opened #10200 "Feature Request: Animation Editor Drag n Drop importing"
**Is your feature request related to a problem? Please describe.**
It was observed that a user was attempting to import characters and animations into the animation editor by dragging and dropping the files from the file system to the animation editor.

**Describe the solution you'd like**
When dragging and dropping supported files into the animation editor, those files will automatically be impor

[2022-06-17 23:47] FuzzyCarter opened #10201 "Feature Request: Asset Importing: Dragging and Dropping files from the files system into the asset browser imports the assets into the selected folder"
**Is your feature request related to a problem? Please describe.**
It was observed that a user attempted to import files from their file system into the asset browser by dragging and dropping selected files from a file explorer onto a folder in Asset Browser.

**Describe the solution you'd like**
When files are dragged and dropped from the file system folder onto a folder in asset browser, those f

[2022-06-18 00:31] FuzzyCarterAWS opened #10202 "Feature Request: Animation Editor Time View should show both the currently selected animation and the currently playing animation"
**Is your feature request related to a problem? Please describe.**
It was observed that a user was confused by the fact that an animation that was playing on the viewport after selecting another motion that the animation recently selected wasn't the one currently playing and the time view was not showing motion.

**Solution 1**
Show the currently playing animation and the currently selected animat

[2022-06-18 01:15] santorac opened #10203 "RHI::ComparisonFunc Not Reflected to BehaviorContext"
**Describe the bug**
It appears that RHI::ComparisonFunc is not reflected to BehaviorContext, and is therefore not available to lua material functors or other scripts.

**Steps to reproduce**
This was noticed by code inspection.

**Expected behavior**
ComparisonFunc should be handled more like other render state structs in RenderStates.h, like StencilOp.

**Actual behavior**
ComparisonFunc is decl

[2022-06-18 12:43] galibzon commented on #10075
I just tried with latest development branch at commit 6f5e553acab390f907625898b4d28bce04268743
and initially only entities with Actor component appeared outside of the Level prefab tree. I re-parented them back to the Level prefab entities and now I have 0 issues with the Entity Outliner. Closing this issues as resolved.

[2022-06-18 12:43] #10075 closed

[2022-06-19 19:54] ParasiteSt opened #10211 "Bug Report : Script Events and Script Canvas reloading"
**Describe the bug**
When I go into a script events to add a new event to it, I should not have to go back to all the scripts utilizing this script event as long as it did not change anything about the events they use. For a developer aspect this takes a lot of time to go into each script just to Ctrl+S to re-save them even though nothing has changed in the scripts when a new event is added.

**St

[2022-06-20 01:23] gadams3 commented on #10203
I noticed this while reflecting other rhi classes to edit and behavior context. If all of the enums are updated to use AZ_ENUM_CLASS_WITH_UNDERLYING_TYPE and AZ_ENUM_DEFINE_REFLECT_UTILITIES then functions will be generated to automatically register them with edit and behavior context. I also added a new utility function to register them with edit context with a simple template function call.

See

[2022-06-20 01:27] gadams3 commented on #10166
There is a task sitting in my backlog to implement this. Need to discuss what the behavior should be when trying to change the material type for a material that has a parent. Should the user only be allowed to change the material type for a material that does not have a parent? There is also another task in my backlog to allow changing the parents of a material.

[2022-06-20 01:53] gadams3 commented on #10165
The behavior and properties for each material are defined by the material type and referenced shaders. The material editor surfaces all the properties through the inspector and provides a preview for the final result. Support for packed textures would need to be implemented by each material type and shader for each texture input and sample. With material canvas, it will eventually be easier for us

[2022-06-20 02:06] gadams3 commented on #10015
What is the setting? Is it saved in the settings registry? If it is, the same setting can be used for the material editor and related tools, or we can add one specific to those tools. As long as it's exposed.

[2022-06-20 02:38] gadams3 commented on #10016
The material editor already supports adding custom models but the workflow is not as described.
Users can register their own models by adding model presets from the viewport settings panel.
There are default presets for all of the models provided by the material editor.
Model presets were originally supposed to have other parameters like scaling and offsets.
We can get rid of the concept of model

[2022-06-20 10:45] LB-HubertUberman opened #10212 "Play Game button disappears after adding any command to the Play Controls toolbar and rebooting the Editor"
**Describe the bug**
Adding any command to the Play Controls toolbar and rebooting the Editor causes the Play Game button to disappear from the toolbar. Note that after resetting the toolbar the button is present again. The issue occurs on both Windows and Linux.

**Steps to reproduce**

1. Open any level.
2. Right-click on any toolbar and select Customize.
3. Add any command to the Play Controls

[2022-06-20 10:58] LB-HubertUberman commented on #10115
Hello @rainbj, the issue with the Play Game button that you mentioned was investigated further and a new ticket was created for it, https://github.com/o3de/o3de/issues/10212.

[2022-06-20 12:04] LB-BartoszCwiek opened #10213 "Editor crashes when clicking "shape" button in the Shape Example (C++) tool while no level is loaded"
**Describe the bug**
After adding Shape Example (C++) tool from https://github.com/o3de/sample-code-gems while no level is loaded, clicking the "shape" button in said tool, results in a crash.

**Steps to reproduce**
1. Open CMD in the o3de directory.
2. Execute the following command: `scripts\o3de.bat create-gem -gp C:\Gems\CppTool --template-name CppToolGem` to create a new Gem.
3. Execute the f

[2022-06-20 14:33] LB-MateuszSzweda commented on #9927
@moraaar  I've compared the .physicsmaterial and .physxmaterial files from both PC and Linux directories and strangely enough they indeed were the same and uniform values for material properties. Yet again when opened in Asset Editor on Linux the values were differing.

[PC AutomatedTesting PhysX.zip](https://github.com/o3de/o3de/files/8941494/PC.AutomatedTesting.PhysX.zip)
[Linux AutomatedTesting

[2022-06-20 15:32] moraaar commented on #9368
Physics tests are going through a major refactor. The tests will be redone. Closing this GHI.

[2022-06-20 15:34] moraaar commented on #9365
Physics tests are going through a major refactor. The tests will be redone. Closing this GHI.
Tagging @FuzzyCarterAWS

[2022-06-20 15:34] #9365 closed

[2022-06-20 15:34] #9364 closed

[2022-06-20 15:38] pollend commented on #9927
sounds like another pathing issue. the path was probably changed to all lower case, I'm not sure exactly where this is happening but I've seen similar problems in the past.

[2022-06-20 15:45] moraaar commented on #9582
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:45] #9582 closed

[2022-06-20 15:46] moraaar commented on #9579
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:46] #9579 closed

[2022-06-20 15:46] moraaar commented on #9566
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:46] #9566 closed

[2022-06-20 15:46] moraaar commented on #9565
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:46] #9565 closed

[2022-06-20 15:46] #9484 closed

[2022-06-20 15:46] moraaar commented on #9304
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:46] #9304 closed

[2022-06-20 15:46] moraaar commented on #9301
All physics tests are going through a major refactor and all these tests won't be used. Closing this bug.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-20 15:57] moraaar commented on #4215
This bug is blocked by this task https://github.com/o3de/o3de/issues/4394

[2022-06-20 16:14] mbalfour-amzn opened #10215 "Prefabs: Creating a new entity at the root of a level causes level components to deactivate / activate"
**Describe the bug**
When creating a new entity at the root of a level in the Editor, all existing level components deactivate and reactivate. If the new entity is created underneath any other entity this doesn't occur.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Editor.
2. Create a new level.
3. Add Terrain World, Terrain World Renderer components to the level.
4. Create

[2022-06-20 16:22] jcurtisk opened #10216 ""Exceeds OS max path limit" error while building Editor in VS2022"
Bug Description:

While building O3DE editor via Visual Studio, build failed due with code MSB3491 with message "Could not write lines to file "x64\profile\SceneProcessingTests.PythonAssetBuilderTests\ScenePro.27B4554B.tlog\SceneProcessingTests.PythonAssetBuilderTests.lastbuildstate".
Path: x64\profile\SceneProcessingTests.PythonAssetBuilderTests\ScenePro.27B4554B.tlog\SceneProcessingTests.PythonA

[2022-06-20 16:55] AMZN-puvvadar commented on #10152
https://github.com/o3de/o3de/pull/10193 has been merged. Please refer to https://github.com/o3de/o3de/issues/10196 for issues around hierarchy sort order that can prevent the hierarchy from rebuilding properly.

[2022-06-20 16:55] #10152 closed

[2022-06-20 17:31] ParasiteSt commented on #10176
After working with color coded groups I can see this feature would be more obsolete and more work than is needed. The group color coding is a great feature that really helps separate nodes to show what is happening in a graph.

[2022-06-20 17:31] #10176 closed

[2022-06-20 17:47] srikappa-amzn commented on #10196
Couple of things to investigate while fixing this bug:

1. Does this happen for any prefab or  does it happen only when there are network components on the entities. This is important to find out because the prefab processing stack builds a network spawnable containing entities with network components. So, this might be an issue of some missing logic in network spawnable generation
2. Add tests to

[2022-06-20 18:15] lmbr-pip commented on #9634
@AMZN-Gene added Debug draw debug which shows these messages clearly in the Game viewport, when playing-in-editor mode. Text progression is:

1. Launching server
2. Editor tcp connection attempt
3. Editor is sending level server the level data packet

cid:262164*image001.png@01D88496.60A497F0

This gives really useful guidance to the user. We could make some minor edits ie:
1. Launching server
2.

[2022-06-20 18:17] lmbr-pip commented on #9634
Still needs a persistent UI element to show connection status (address and port).

[2022-06-20 18:32] AMZN-puvvadar commented on #10196
I can add some context to these.

1. I haven't confirmed this but I would think it's any prefab given that this function isn't unique to Networking.
2. The order is important due to how parent - child relationships are formed for entities. A child entity will locate its parent by Entity ID search. If the parent is not yet activated, this fails entirely which can lead to the child being orphaned. I

[2022-06-20 19:39] tonybalandiuk opened #10221 "Request for a "kind/project-management" label in Github"
**Is your feature request related to a problem? Please describe.**
We have a member of the community interested in contributing towards project management work for O3DE. We do not currently have a way to track this sort of work across the project. As a result, we do not have any "queue" of this type of work that we can point someone to so they may begin contributing.

**Describe the solution you'd

[2022-06-20 22:26] chiyenteng commented on #9780
#10222 can help resolve the issues. Go ahead to add your workaround back with #10222.

[2022-06-21 00:35] ParasiteSt opened #10226 "Bug Report : Look At component scales back to 1 when used during runtime."
**Describe the bug**
I have an entity that has a uniform scale of 0.1 while trying to utilize the Look At component during runtime it scales the entity back to 1.0.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add an entity with a mesh component and a look at component and a uniform scale of 0.1.
2. Make sure it is set to an entity in your level and is looking at it when you move th

[2022-06-21 02:49] LesaelR opened #10230 "Hashes for Network.Spawnable made from level prefabs are different every time they are processed"
**Describe the bug**
While investigating failures for test_ProcessByBothApAndBatch_Md5ShouldMatch in asset_processor_batch_tests.py, the same prefab processed 4 times without changes produced the following hashes:
`{'extra_file.network.spawnable':
b'\x02\xa21T\xbc\xf2A<\xe5H\xf6\xd6\xde\x16VFv\x02\xe2\x96O\x92R\xe9\xc2\xd4|L\x18\xee@y'
{'extra_file.network.spawnable':
b')\xab8\xac\xa5G\xb5\xf5d\x8

[2022-06-21 08:59] moraaar commented on #9780
Thanks @chiyenteng I'll add the workaround back and test it. Cheers.

[2022-06-21 09:52] moraaar commented on #3373
All Physics, Whitebox and `*.o3de.action.*` entries are fixed in development at commit 8d04988aa09a3b4a782b080c24ac0fdff3585ba6.

Closing this bug to represent these fixes and opening new ones for the remaining failing entries (graphics, graphnode and lyshine) per area, so each sig can fix them at their convenience.

[2022-06-21 09:56] LB-ArturZieba opened #10232 "Script Canvas Divide (/) node has wrong value slot colors"
**Describe the bug**
Script Canvas Math node Divide (/) has brown pins suggesting that they accept more than one variable type, however it is not possible to assign variables other than Numbers to them. It should be noted that Add (+), Subtract (-), and Multiply (*) have the same coloration, but they can accept for example Vector or Matrix type variables as well as Number type variables.

**Prereq

[2022-06-21 09:56] moraaar opened #10233 "[AtomLyIntegration] Several instances of AZ_CRC macro are actually the wrong CRC"
This is a problem in the code, but does not appear to be generating errors at the moment.

Summary:

The AZ_CRC macro comes in two forms
AZ_CRC("x")
or
AZ_CRC("x",y)

The former will call a runtime CRC32 function on the string x, and return the uint32 CRC32 of it lowercase, at runtime, coming at a runtime cost.

The latter actually just returns y. "x" is unused. Its supposed to be generated by a t

[2022-06-21 10:02] moraaar opened #10234 "[GraphModel] Several instances of AZ_CRC macro are actually the wrong CRC"
This is a problem in the code, but does not appear to be generating errors at the moment.

Summary:

The AZ_CRC macro comes in two forms
AZ_CRC("x")
or
AZ_CRC("x",y)

The former will call a runtime CRC32 function on the string x, and return the uint32 CRC32 of it lowercase, at runtime, coming at a runtime cost.

The latter actually just returns y. "x" is unused. Its supposed to be generated by a t

[2022-06-21 10:03] moraaar opened #10235 "[LyShine] Several instances of AZ_CRC macro are actually the wrong CRC"
This is a problem in the code, but does not appear to be generating errors at the moment.

Summary:

The AZ_CRC macro comes in two forms
AZ_CRC("x")
or
AZ_CRC("x",y)

The former will call a runtime CRC32 function on the string x, and return the uint32 CRC32 of it lowercase, at runtime, coming at a runtime cost.

The latter actually just returns y. "x" is unused. Its supposed to be generated by a t

[2022-06-21 10:04] moraaar commented on #3373
GHIs opened for remaining failing entries:
- https://github.com/o3de/o3de/issues/10233
- https://github.com/o3de/o3de/issues/10234
- https://github.com/o3de/o3de/issues/10235

[2022-06-21 10:16] LB-BartoszCwiek opened #10236 "Project Manager: Clicking Save button results in "Project should be rebuilt" prompt window despite no changes made in the Configure Gems menu"
**Describe the bug**
When the User opens Configure Gems menu and does not provide any changes in the said menu, "Project should be rebuilt" prompt window appears and the project tile changes to the one informing the user about the need of rebuilding the project.

**Steps to reproduce**
1. Go to Project Manager > Configure Gems.
2. Click "Save" button.

**Expected behavior**
The prompt window "Proj

[2022-06-21 10:57] LB-BartoszCwiek opened #10237 "Inconsistency with linking hyperlinks to the source code"
**Describe the bug**
Some hyperlinks have provided URL with www domain, while others do not.
There is also a related documentation issue already reported: https://github.com/o3de/o3de.org/issues/1705.

**Steps to reproduce**
1. Open Visual Studio (or another IDE) and open o3de folder.
2. In the Visual Studio go to Edit > Find and Replace > Find in Files.
3. In the search bar type [o3de.org](http:/

[2022-06-21 11:23] LB-ArturZieba opened #10238 "Dragging and hovering a Variable over incompatible value slot can obscure the error message"
**Describe the bug**
If the Variable Manager pane is wide, or the variable is dragged while holding it at certain spots, the incompatibility message can be obscured by the variable bar on the cursor.

**Steps to reproduce**
1. Go to Tools > Script Canvas.
2. In the Script Canvas go to File > New Script.
3. Right-click the graph, and create a node with value slots (for example Divide (/)).
4. In th

[2022-06-21 11:48] LB-ArturZieba opened #10239 "Script Canvas incompatible variable type message has a wording error"
**Describe the bug**
Error message that shows up when hovering over a Script Canvas node's value slot with incompatible variable has a wording error.

Error message:
[code]
**Steps to reproduce**
1. Go to Tools > Script Canvas.
2. In the Script Canvas go to File > New Script.
3. Right-click the graph, and create a node with value slots (for example Divide (/)).
4. In the Variable Manager click the

[2022-06-21 12:26] greerdv commented on #9299
All physics tests are going through a major refactor and all these tests won't be used. Closing this task.
Tagging @hultonha @FuzzyCarterAWS

[2022-06-21 12:32] LB-MateuszSzweda commented on #9927
@moraaar  No. Unfortunately they behave according to the values shown in Asset Editor not the .physxmaterial file.
So Rubber.physxmaterial which shows Restitution: 0 in Linux Asset Editor will not trigger bouncing behavior in entities when assigned.

In fact this is how the issue was initially found. I've noticed that very similar entities with assigned \Gems\PhysX\Assets\PhysX materials behaved d

[2022-06-21 12:33] greerdv commented on #2994
Closing this issue as it has been inactive for months, and the feature is already supported, it's just that PhysX has restrictions on when you can use triangle mesh colliders.

[2022-06-21 12:33] #2994 closed

[2022-06-21 12:43] LB-BartoszCwiek opened #10240 "Inconsistency with punctuation marks and capitalization in the prompt windows"
**Describe the bug**
In some prompt windows there is a punctuation mark at the end of the sentence, while in others there isn't one. Additionally, in some words there is an inconsistency with word capitalization.

**Steps to reproduce**
1. Open Project Manager.
2. RMB on any created project and go to Configure Gems.
3. Press "Save" button.
4. Observe that "Project should be rebuilt." has "." at th

[2022-06-21 12:52] moraaar opened #10241 "Provide solution for level prefab saving outdated component data of PhysX Collider without workarounds"
Editor PhysX Collider Component has a list of materials, which is reflected to edit context. It also has a physx asset property and when Edit Context triggers `ChangeNotify` callback (when the asset has been changed) we update the material list and we call `ToolsApplicationEvents::InvalidatePropertyDisplay` with `AzToolsFramework::Refresh_EntireTree` so all the component reflection is updated prop

[2022-06-21 12:56] LB-ArturZieba opened #10242 "Certain Script Canvas Developer options are not grayed out while unusable"
**Describe the bug**
Most of the options provided in the Script Canvas via the Script Canvas Developer Gem remain clickable even when not functional. These options are:
* Create All Variables
* Create Node Palette
* Mass Populate Dynamic Nodes
* Mass Populate and Connect Dynamic Nodes
* Dump EBus Nodes
* Reload Text

**Prerequisites**
Script Canvas Developer Gem enabled in the project.

**Steps to

[2022-06-21 12:59] moraaar commented on #9780
@chiyenteng @monroegm @srikappa-amzn @hultonha
This issue will be fixed by https://github.com/o3de/o3de/pull/10231

I've created another ticket to provide a more stable solution without having to do the workaround (which leaves the undo stack unamended): https://github.com/o3de/o3de/issues/10241

[2022-06-21 13:01] LB-BartoszCwiek opened #10243 "About O3DE window closes whenever the User clicks with LMB in any place in the said window"
**Describe the bug**
When the User clicks in the About O3DE window, it closes despite not clicking the "X" button.

**Steps to reproduce**
1. Go to Help > About O3DE.
2. Click anywhere on the About O3DE window.

**Expected behavior**
About O3DE window closes only when the "X" button is clicked.

**Actual behavior**
About O3DE window closes when clicked in any place in the said window.

**Video**

[2022-06-21 13:18] LB-MateuszSzweda opened #10244 "Material Editor icon cannot be removed from Toolbar"
**Describe the bug**
It is impossible to manually remove _Material Editor_ icon from the **Edit Mode Toolbar**.

Please note that all other tools icons and commands can be removed from toolbars by dragging and dropping them into the **Toolbar customization menu**.

For further information please refer to the attached video file.

**Steps to reproduce**

1. Open the Editor and launch a level.
2. Ri

[2022-06-21 13:27] LB-ArturZieba opened #10245 "Feature Request: Add an option to pack all dependencies of the prefab along with it"
**Is your feature request related to a problem? Please describe.**
Currently, if a .prefab asset contains dependencies on some additional assets, for example a .scriptcanvas file, the user has to know, and remember about these assets when moving the prefab between projects.

**Describe the solution you'd like**
Add an option when creating a prefab to additionally save it as a package that would co

[2022-06-21 14:42] moraaar commented on #9927
@LB-MateuszSzweda I just tested latest development (commit 8d04988aa0) on my Linux machine, using both AutomatedTesting and a new default project, and the materials have valid values. I've also assigned the materials to an sphere collider and it bounces as expected. So I can't still reproduce this bug.

From this point I suggest the following:
1. I think it'd be great to ask another person to try

[2022-06-21 16:06] moraaar opened #10248 "Nightly Build: PC fails to compile on debug with a OpenImageIO error"
**Describe the bug**
PC is failing to compile on debug on nightly build due the following an error with OpenImageIO while creating Atom_RPI.Builders library:

[code]

**Failed Jenkins Job Information:**
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/15/pipeline/1087/

**Attachments**
[log.txt](https://github.com/o3de/o3de/files/8950560/

[2022-06-21 16:26] lmbr-pip commented on #8330
Implemented in https://github.com/o3de/o3de/pull/10177

[2022-06-21 17:16] smurly commented on #10156
send this to @moudgils if you need more information or to review

[2022-06-21 17:22] #8330 closed

[2022-06-21 17:23] smurly commented on #8559
Triage: perhaps we can have the epic recreated on GHI if possible. visibility to roadmap would be ideal

[2022-06-21 17:33] lmbr-pip commented on #9536
Need wireframes and UX mocks for work

[2022-06-21 17:41] svitlani commented on #9669
This should be a parent issue for https://github.com/o3de/o3de/issues/9041 and will be addressed in one effort

[2022-06-21 17:57] shawstar opened #10252 "Root Motion Animation Editor has a new issue with Follow Character preview"
**Describe the bug**

Root Motion Animation Editor has a new issue with Follow Character preview, this is been seen at lest 3 nightly builds in a row.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files) or as a link to a pub

[2022-06-21 18:07] Kadino commented on #10067
Either way this would still need to go through PR to get merged, so this would be a minor process convenience to not require a maintainer to use the Override.

If implemented, suggest this be limited to files in specific locations, and not all files of an extension.

[2022-06-21 18:15] Kadino commented on #10032
It would be good to have a process defined for how static analysis findings are followed-up on or ignored as a false-positive / too-minor issue. Recommend @o3de/sig-security weigh in on this, as the stake of ownership seems to fall more in their court for driving such fixes.

[2022-06-21 20:52] #9687 closed, assigned to michabr

[2022-06-21 20:54] FuzzyCarterAWS opened #10255 "Recast Nav Mesh Editor Projection extends outside the axis aligned box in two directions"
**Describe the bug**
The nav mesh is projected outside the axis aligned box shape on only two directions of the axis. In this case -x and +y. All other directions the mapping is within the axis aligned box.

**Prerequisite**
* You've read through the [Recast Navigation](https://deploy-preview-1693--o3deorg.netlify.app/docs/user-guide/interactivity/navigation-and-pathfinding/recast-navigation/) doc

[2022-06-21 22:07] #7567 closed

[2022-06-21 23:44] rainbj commented on #10116
After reviewing this issue with our DT's, PM's, and UX group we would like to follow the resolution gate example used by other DCC tools. This means the resolution gate should fit the resolution ratio inside the camera window but not resize the customer windows.

This also means in situations where a customer is request to view a resolution or a ratio that is higher than the user screen resolution

[2022-06-22 01:19] AMZN-daimini opened #10261 "Editor crashes when ending Game Mode in a Slice level"
**Describe the bug**
When using the Editor in slice mode, exiting Game Mode results in a crash.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the Editor in slice mode (go to `YourProject\user\Registry\editorpreferences.setreg` and change `Amazon/Preferences/EnablePrefabSystem` to false);
2. Create a new level or open an existing one;
3. Start Game Mode with the toolbar button, t

[2022-06-22 06:34] dshmz commented on #9775
sig/core, do we have any updates on this issue?

[2022-06-22 06:35] dshmz commented on #9010
sig/network, do we have any updates on this issue?

[2022-06-22 06:35] dshmz commented on #9009
sig/core, do we have any updates on this issue?

[2022-06-22 08:08] LB-BartoszCwiek opened #10264 "Maximize, minimize and close buttons are not present in some of the undocked windows"
**Describe the bug**
There is an inconsistency with displaying maximize, minimize and close buttons in some of the undocked tool's windows. For example in the Landscape Canvas, any undocked window from the View menu has the aforementioned buttons displayed, while in the Script Canvas any undocked window from the Tools menu does not have the aforementioned buttons.

**Steps to reproduce**
1. Go to

[2022-06-22 11:10] LB-ArturZieba opened #10268 "Feature Request: Add a functionality that allows the Input Event Groups in the .inputbindings file to be sorted manually"
**Is your feature request related to a problem? Please describe.**
Currently the Input Event Groups cannot be easily sorted in the Asset Editor. Only option to rearrange them is to delete existing ones, and readd them in the desired order. This issue was noticed in a workflow where input for forward/backward movement, and two separate mouse axes for rotation were implemented, and when adding left/

[2022-06-22 12:09] LB-BartoszCwiek commented on #9106
Created a pull request which will resolve this issue: https://github.com/o3de/o3de/pull/10265

[2022-06-22 12:54] LB-JakubSkorupka opened #10269 "EMotion FX: Motion Event Preset Creation window is too small"
**Describe the bug**
The **Motion Event Preset Creation** window is too small - as a result, after adding **Event Data** to the **Motion Event**, the name of text fields are not visible until the previously-mentioned window is resized.

Please note that on Linux OS, it is **not** possible to resize the **Motion Event Preset Creation** window.

**Steps to reproduce**
Steps to reproduce the behavior

[2022-06-22 12:57] LB-ArturZieba opened #10270 "Feature Request: Add a volumetric fog component"
**Is your feature request related to a problem? Please describe.**
Currently there is only a screen space fog (Deferred Fog component), but no volumetric fog component. This would allow to create localized patches of fog, instead of applying them to the whole viewport as in the case of the Deferred Fog.

**Describe the solution you'd like**
Add a volumetric fog component to the O3DE engine.

**Add

[2022-06-22 13:14] LB-JaroslawGaweda opened #10271 "Motion Event Preset Creation window cannot be scrolled"
**Describe the bug**
After adding multiple Event Data in the Motion Event Preset Creation window and reaching the maximum that can fit in the screen, any subsequent additional Event Data will be added below the last one.
It should be noticed that the Motion Event Preset Creation window lacks any scroll function. Making any Event Data placed off screen unreachable.

**Steps to reproduce**
Steps to

[2022-06-22 13:20] LB-JakubSkoczylas opened #10272 "Invalid project settings incorrect message"
**Describe the bug**
The "Invalid project settings" message pops up despite all settings being correct. After enabling the Gamelift gem and pressing the "Create Project" button a message pops up that the Gamelift gem requires additional configuration. If the the Gamelift gem is disabled afterwards, creating the project results in an incorrect message being displayed.

**Steps to reproduce**
Steps

[2022-06-22 15:42] AMZN-daimini commented on #10238
@o3de/sig-ui-ux Should the drag overlay for a variable be the entire row as seen on the widget, or should it be smaller?

[2022-06-22 15:45] AMZN-daimini commented on #10237
Moving to @o3de/sig-docs as this sounds more like something that would need specific guidelines.

The proper url to the o3de website should be the one with the `www.` spelled out, but the other format will also work (and redirect to the correct one).

[2022-06-22 18:48] yuyihsu commented on #9885
Convert this ticket to feature request, per conversation with @AMZN-stankowi

[2022-06-22 19:13] yuyihsu commented on #9885
This issue will show when a fbx file has multiple mesh groups in it.

Chatted with @AMZN-stankowi , here's our conclusion:
1. for the .FBX file with joints in it-
    - If user drag and drop the .fbx file to the scene, an actor component should be auto added.
    - If user drag and drop the .procprefab to the scene, the ".actor" file should be auto-added to the procprefab in the outliner **_(this

[2022-06-22 19:23] jckand-amzn opened #10284 "AssetProcessor: Final test in batched Python test suites fails due to an error cleaning up the Asset Processor"
**Describe the bug**
Final test in batched Python test suites fails due to an error cleaning up the Asset Processor.

[code]

**Steps to reproduce**
1. Run any batched test suite:
[code]

**Expected behavior**
AssetProcessor is cleaned up without issue.

**Actual behavior**
An error occurs when stopping the AssetProcessor, causing the last test in the batched suite to fail with the error message p

[2022-06-22 19:23] #9488 closed

[2022-06-22 20:11] smurly commented on #10284
the issue occurs with all batched tests using the editor_test.py EditorBatchedTest type. I'm seeing this with all 4 atom null render suites
[code]
not sure that's specifically related to the test change, but AP is clearly not shutting down correctly and raises `E   ly_test_tools.o3de.asset_processor.AssetProcessorError`

[2022-06-22 20:19] jckand-amzn commented on #10284
Also seeing this in multiple test suites, and none involve any specific/custom AP usage.

[2022-06-22 20:29] AMZN-stankowi opened #10286 "Procedural Prefabs have no thumbnails in the Asset Browser"
**Is your feature request related to a problem? Please describe.**
Procedural prefabs do not yet have thumbnails in the Asset Browser
![image](https://user-images.githubusercontent.com/4838196/175130088-7fec2259-60b3-4b2c-955f-ee05cbaac718.png)

**Describe the solution you'd like**
It would be useful to have a thumbnail rendered for these, to show a preview of the procedural prefab.

**Describe al

[2022-06-22 20:30] AMZN-stankowi opened #10288 "Actor files have no thumbnail in the Asset Browser"
**Is your feature request related to a problem? Please describe.**
Actor files do not yet have thumbnails in the Asset Browser
![image](https://user-images.githubusercontent.com/4838196/175130378-f47cafe1-938b-41d1-b972-cab7e0b6756a.png)

**Describe the solution you'd like**
It would be useful to have a thumbnail rendered for these, to show a preview of the actor.

**Describe alternatives you've c

[2022-06-22 20:43] AMZN-stankowi opened #10289 "Error - Failed to open manifest for FBX file"
**Describe the bug**
When opening the Scene Settings for OneMeshOneMaterial.fbx, the Editor displays an error:
[Error] (SceneManifest) - Failed to open 'C:\git2\o3de\AutomatedTesting\joe_test\fbx\OneMeshOneMaterial\OneMeshOneMaterial.fbx.assetinfo'.

**Assets required**
The OneMeshOneMaterial.fbx file from the asset pipeline automated test shows this behavior, I've attached it to the ticket, and i

[2022-06-22 20:47] Kadino commented on #10284
Appears to be an error in the asset processor management utility in the LyTestTools package while interacting with the AP. Assigning to @sig-content to investigate.

[2022-06-22 21:01] AMZN-stankowi opened #10290 "Warnings on making changes to a simple FBX scene"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
I reproduced this with the FBX file in this folder, minus the assetinfo file https://github.com/o3de/o3de/tree/development/AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/assets/TwoMeshTwoMa

[2022-06-22 21:23] Kadino commented on #9792
Confirmed no crash logs are being generated on Linux when using `sys_crashtest 1`

Digging into the CVars: `sys_dump_type` is properly defaulting to generating a stacktrace, and `sys_dump_aux_threads` is defaulting to enabled. Everything seems to be on, but is not writing to the expected location. Perhaps the cache is disabled, misconfigured, or not where I expect it? Continuing investigation.

Ma

[2022-06-22 21:26] AMZN-stankowi opened #10291 "Default Procedural Prefab for multiple_mesh_multiple_material.fbx is incorrect"
**Describe the bug**
The default procedural prefab generated for the multiple_mesh_multiple_material.fbx has incorrect placement for the azmodels within it.

**Assets required**
I reproduced this with the FBX file in this folder, minus the assetinfo file https://github.com/o3de/o3de/tree/development/AutomatedTesting/Gem/PythonTests/assetpipeline/fbx_tests/assets/TwoMeshTwoMaterial
[MultipleMeshesM

[2022-06-22 23:41] yuyihsu commented on #9634
Sig-networking will propose the text to display on viewport, and sig-ui-ux will review and approve.

[2022-06-23 02:45] yuyihsu commented on #10286
The procprefab file should display a "procprefab" icon at front. Please let @rainbj  know if you don't have the right icon to display.

[2022-06-23 02:50] yuyihsu commented on #9537
Here's another ticket reporting the error message issue: https://github.com/o3de/o3de/issues/10289

[2022-06-23 02:50] yuyihsu commented on #10289
The main error message issue is tracked here: https://github.com/o3de/o3de/issues/9537

[2022-06-23 02:52] yuyihsu commented on #9537
Here's another ticket reporting the error message issue: https://github.com/o3de/o3de/issues/10290

[2022-06-23 02:57] yuyihsu commented on #9537
Here's another ticket reporting the error message issue: https://jira.agscollab.com/browse/LYN-13462

[2022-06-23 09:03] amzn-jillich commented on #9066
Closing as we cannot reproduce this anymore after the fix and did not hear back from @sysuNie.

[2022-06-23 09:03] #9066 closed

[2022-06-23 09:06] amzn-jillich commented on #9042
#9310 looks related, shall we close this one as duplicate?

[2022-06-23 09:37] amzn-jillich commented on #10252
Just tried this using the Burt model (as well as Rin) on development and was not able to reproduce it. Can you please attach the assets? Maybe it is related to them or an import setting.

Can you also please check if this works with other characters/animations on your end of if this is specifically to the shown asset, @shawstar?