[2022-09-15 04:25] ParasiteSt commented on #12003
This is my way around right now, but I am curious what the other node does under the hood as it seems like it should be quite simple to replicate this idea for that node.
![image](https://user-images.githubusercontent.com/100494538/190314237-e29a517b-cb61-47fb-88de-3021550f5948.png)

[2022-09-15 06:36] LB-JakubSkoczylas commented on #11925
I created my own Project with default settings plus MotionMatching gem. Also, verified this on Project with all gems enabled.

[2022-09-15 06:41] LB-ArturZieba commented on #11740
It is in the dropdown menu under the "eye" button in the Atom Render Window.

[2022-09-15 06:45] vincent6767 opened #12005 "O3DE 22.10.0 Release: UI/UX Features Grid Updates"
Hi @rainbj and @yuyihsu ,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file. Ca

[2022-09-15 06:54] vincent6767 opened #12006 "O3DE 22.10.0 Release: Core Features Grid Updates"
Hi @amzn-pratikpa @lumberyard-employee-dm  (sorry I don't know your GitHub username)

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instructio

[2022-09-15 07:07] LB-JakubSkorupka commented on #11924
Verified the issue as fixed on build Stabilization/2210 (37c7b44)

[2022-09-15 09:37] SergeyAMZN commented on #11848
Done in #11797

[2022-09-15 09:37] #11848 closed

[2022-09-15 09:39] hultonha commented on #11262
Closing this issue now https://github.com/o3de/o3de/pull/11822 is merged. Awesome work @michabr! 🥳

[2022-09-15 09:39] #11262 closed

[2022-09-15 10:11] LB-HubertUberman opened #12011 "Installer displayed version is not updated to newest release"
**Describe the bug**
The latest Stabilization/2210 installer is displaying 0.0.0.0 Development build version instead of 2.2.1.0 Release in various areas. The issue occurs on both Windows and Linux.

Affected areas:

- Installation window.
- Engine directory.
- Splash screen when launching the project.
- Project manager.
- Editor window.

**Steps to reproduce**
1. Download and install the latest St

[2022-09-15 11:55] hultonha commented on #11444
@jonawals Could you please double check this and see if it's still not working? Should this be fixed in stabilization? Thanks!

[2022-09-15 12:25] LB-JakubSkorupka commented on #11824
Verified the issue as fixed on builds Development (74bb8dd), and Stabilization/2210 (37c7b44)

[2022-09-15 12:28] LB-JakubSkorupka commented on #11309
Verified the issue as fixed on builds Development (74bb8dd), and Stabilization/2210 (37c7b44).

[2022-09-15 13:00] LB-KacperSzczepanski commented on #11972
Issue did not reproduce when project was build through the terminal in Android Studio on build Stabilization/2210 (37c7b44).

[2022-09-15 13:05] LB-JakubSkorupka commented on #9445
Verified the issue as fixed on build Stabilization/2210 (37c7b44).
Note - This issue still occurs on Development branch, verified on Development (74bb8dd).

[2022-09-15 14:36] amzn-changml commented on #12011
Taking a look at the installer pipeline

[2022-09-15 15:54] adamdbrw commented on #10754
On my machine and env (as in the description) it is happening every time:
[Editor.log](https://github.com/o3de/o3de/files/9576877/Editor.log)

[2022-09-15 15:55] rgba16f commented on #11225
@pollend I'm seeing this issue on AMD as well

[2022-09-15 16:01] pollend commented on #11225
We need to tweak the barriers on that call. Pipeline barrier is getting ignored when we try to set it

[2022-09-15 16:13] lgleim commented on #11905
@greerdv Will add an RFC to propose the details of this feature and how to approach it from a workflow, API, and implementation perspective.

[2022-09-15 16:15] forkercat opened #12013 "Creating a prefab requires the user to save the level twice"
**Describe the bug**

Creating a prefab requires the user to save the level twice

**Steps to reproduce**
1. Open any level
2. Create an entity and select it
3. Create a prefab for the entity
4. Hit Ctrl+S or file->save. Notice that the level is still marked dirty
5. Hit Ctrl+S again. Notice that it is saved now.

**Expected behavior**
Level is not marked dirty after hitting ctrl+s for the first t

[2022-09-15 16:32] spham-amzn commented on #11842
Fix has been propagated to development, closing issue

[2022-09-15 16:32] #11842 closed

[2022-09-15 16:37] rainbj commented on #12005
@yuyihsu for visibility

[2022-09-15 16:47] greerdv commented on #11925
I hit a deadlock in the animation editor yesterday which may possibly be the same problem. @amzn-tommy has more details.

[2022-09-15 17:28] ParasiteSt commented on #12013
A second case of this is when you already have a prefab created and alter the prefab. Once altered if you save the level it will save the prefab's changes, but not the level, a second save is needed for the level here as well.

[2022-09-15 17:34] #11979 closed

[2022-09-15 17:38] lmbr-pip commented on #11844
Need to discuss with SIG/UI-UX and editor team. Users are clear why we have RigidBodyNetwork components but not a collider component?

How could we show what needs to be networked or not in editor, currently confusing to user ie These properties are going to change, and so we probably need to be networked.

[2022-09-15 17:38] galibzon commented on #10699
I just added 1000 entities without crashes. I think PyIdleWaitFrames() is now working. Most likely due to the many improvements done since I opened this ticket.

BUT, My Process Memory is now at 74.3GB (Per VS2019) !

o3de version:

[2022-09-15 17:39] #10699 closed

[2022-09-15 17:39] lmbr-pip commented on #11889
There are specific needs to network autocomponents.

[2022-09-15 17:42] lmbr-pip commented on #4415
Will split into new issue for item raised on May 12th for editor server disabled and close out this one as done.

[2022-09-15 17:44] lmbr-pip commented on #10858
Some of this will addressed as part of https://github.com/o3de/sig-content/issues/69

[2022-09-15 17:45] lmbr-pip commented on #10857
This is now covered by many other issues including https://github.com/o3de/o3de/issues/10858

SIG/content has plan to improve console log experience: https://github.com/o3de/sig-content/issues/69

[2022-09-15 17:45] #10857 closed

[2022-09-15 17:46] forkercat commented on #12013
From what I understand in the workflow, the right state after create-prefab operation is only the level is marked as dirty, not the prefab itself. The prefab does not need to be saved because it was already saved to disk in this operation. In-memory and on-disk representations should be in sync already.

[2022-09-15 18:14] #11987 closed

[2022-09-15 18:47] jonawals commented on #11444
I cannot reproduce this issue locally on `a1ba826eec37b238cc236ef940d06cef3aadeb30`. It might have been fixed with `b455b1bd526ac252659266baef7d56afb8388954` (merged yesterday Wed Sep 14 19:54:20 2022 +0100).

[2022-09-15 18:49] monroegm commented on #11616
This was reported against dev before stabilization was created. Need to confirm that this issue repros in stabilization.

[2022-09-15 18:56] monroegm commented on #11684
Already resolved by above PR

[2022-09-15 18:56] #11684 closed

[2022-09-15 19:05] AMZN-daimini commented on #11444
Tried again on latest stabilization, I still see this.

![LosingFocusVisualizationOnComponentEdit](https://user-images.githubusercontent.com/82231674/190488172-4bffa6e9-efb5-481a-b412-ac222c1ef740.gif)

[2022-09-15 19:35] AMZN-Olex opened #12015 "Editor crashes in AZ::TraskGraphEvent::Signal occasionally"
**Describe the bug**
Occasionally the following crash occurs in the Editor:

[code]

![parallel_stacks_of_editor_crash_in_dev](https://user-images.githubusercontent.com/5432499/190493586-0228d1bf-1019-4b6d-af1a-ab997d96081f.png)

**Assets required**
Was seen in o3de-multiplayersample level

**Steps to reproduce**
Steps to reproduce the behavior:
1. use the Editor with vulkan backend on Windows

**

[2022-09-15 19:44] AMZN-Olex commented on #12015
I let the Editor run for a while, after I came back from lunch, I saw the debugger greet me.

[2022-09-15 19:47] ParasiteSt commented on #12013
Ok, I understand what your saying now. I misunderstood the issue, yes these two are unrelated, and you are correct that the level is all that should need to be saved after creating a prefab as that prefab is not dirty upon creation (or at least it shouldn't be.)

[2022-09-15 19:56] santorac opened #12018 "AssetSystemRequestBus Should Be Able To Report AssetStatus_Failed"
**Is your feature request related to a problem? Please describe.**
When an asset builder fails because a dependency asset could not be loaded, it would be helpful to report exactly why it couldn't be loaded. If it the asset was not loaded because some other asset builder failed, the error message should clear like "Some asset '{...}' could not be loaded because processing of the source file 'foo'

[2022-09-15 19:58] amzn-changml commented on #12011
Temporarily resolved by resetting the `O3DE_VERSION` and `O3DE_BUILD_VERSION` environment variables and rebuilding. This PR will more permanently solve the issue: https://github.com/o3de/o3de/pull/12017

[2022-09-15 20:11] santorac commented on #11893
I will not be able to improve this error message with the current system, I opened a feature request to unblock it: https://github.com/o3de/o3de/issues/12018

This is all I can do for now.

[2022-09-15 20:13] NiklasHenricson commented on #11893
Thanks @santorac I appreciate your help. In meanwhile we'll live with the workaround. Based on that knowledge alone we've made some progress and moved on for now.

[2022-09-15 20:19] santorac commented on #11989
I'm pretty sure this is a duplicate of https://github.com/o3de/o3de/issues/9418

We need more logging to figure out why the ShaderAsset is not getting loaded, I'm hoping someone from @o3de/sig-core can help us figure out a good place to add it.

[2022-09-15 20:38] chiyenteng commented on #11746
Related PR:
- hiding the assignment through node inspector for now:  https://github.com/o3de/o3de/pull/12014
- adding error handling/logs when prefab is not valid: https://github.com/o3de/o3de/pull/11991

[2022-09-15 20:54] shawstar opened #12021 "ProcPrefab issues with complex Hierarchy with empty transforms and child transforms with local transforms."
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

Hierarchy works great if all the mesh transforms pivots are 0,0,0.
![image](https://user-images.githubusercontent.com/87207603/190502948-33e22611-192e-435f-a09d-27faa77a8465.png)

When Exporting a model with a more comp

[2022-09-15 20:58] santorac commented on #11792
Yeah, once you have it narrowed down to a single plane, we should start with a comparison of the register count for root variant vs fully baked variant. We should expect a significant difference there.

Then the next step would be to test individual shader options, baked vs dynamic, to see how much each one impacts register count. Some might be interdependent though, like multiple shader options t

[2022-09-15 21:45] lawsonamzn commented on #9418
on step 5 of repro
wait for asset processor to finish. click continue through any break mode stops you encounter

There aren't supposed to be any break mode stops in AP or other crash issues during processing, so this might also be a hint.

[2022-09-16 00:02] santorac commented on #9418
There might be some deviation from the original post, maybe even a completely separate issue. The crash that everyone is seeing now is immediate (once processing is done), there are no break mode stops to skip through.

[2022-09-16 01:48] ParasiteSt opened #12025 "Feature Request: Draw Order for Opaque Meshes."
**Is your feature request related to a problem? Please describe.**
If you are trying to create a first person project you will realize that certain meshes that are suppose to always be in your view can clip with meshes in the scene, this has a few solutions, but the best one that would be the most performant is if you would be able to use the sort key on the mesh component to assign the draw order

[2022-09-16 02:12] FuzzyCarterAWS commented on #11708
@hultonha I was unable to get these upgraded through either the Script Canvas UI tool nor the script mentioned in that other PR.

Manually updating these could be complicated since a few of them are missing nodes, or are completely blank. However, when looking at these scripts in notepad, there is indeed a JSON blob there.

We may need assistance from @lsemp3d @onecent1101 to get assistance fixing

[2022-09-16 02:16] FuzzyCarterAWS commented on #11709
@hultonha this no longer repros. I wonder if this was actually due to the prefab changes that came in for a bunch of test levels.

@LB-MateuszSzweda , does this still repro for you?

[2022-09-16 02:20] ParasiteSt commented on #12025
This is all hypothetical, I have not worked with shaders before, and went purely off of what I could find different between the two passes and shaders. If this is not a possible solution I would love to hear how to get the same end results with another solution in o3de, any help online is based off of other engines, nothing of use for o3de.

[2022-09-16 02:23] santorac opened #12027 "Merge RPI.Public and RPI.Reflect Code Folders"
Some years ago, RPI.Public and RPI.Reflect were separate libraries. Before the public release of O3DE, we merged these into one library "Gem::Atom_RPI.Public". However, all the source code is still in separate RPI.Public and RPI.Reflect folders. We should move everything under RPI.Reflect into RPI.Public, and finally remove all traces of "RPI.Reflect".

[2022-09-16 05:29] siliconvoodoo commented on #11792
Maybe the 2080ti is too powerful to manifest performance discrepancies by variant, because of too fast ALU. There's got to be a bottleneck in the ROPs. Or, inversely, the size(code) is >>> wrt size(flow-graph-code) which hides the cost gained by branchless. The options are constant (uniforms) so branch hardware is 100% predictive isn't it; VGPR pressure is the only thing that theoretically can hav

[2022-09-16 05:35] lumberyard-employee-dm opened #12030 "The Compression Gem Compression and Decompression Factory incorrectly handles registration"
**Describe the bug**
The Compression Gem contains two factory classes of [CompressionFactory](https://github.com/o3de/o3de/blob/development/Gems/Compression/Code/Source/Tools/CompressionFactoryImpl.h#L31-L38) and [DecompressionFactory](https://github.com/o3de/o3de/blob/development/Gems/Compression/Code/Source/Clients/DecompressionFactoryImpl.h#L30-L38) which is responsible for registration compres

[2022-09-16 06:28] L4exp commented on #10855
Cool! Thanks!

[2022-09-16 06:28] #10855 closed

[2022-09-16 06:39] LB-KacperSzczepanski commented on #11972
Issue did not reproduce when using Visual Studio 2019 16.11.19  with build Stabilization/2210 (https://github.com/o3de/o3de/commit/37c7b44ceb096d502692bed0b9b38223a682514a).

[2022-09-16 07:27] vincent6767 opened #12031 "O3DE 22.10.0 Release: Content Features Grid Updates"
Hi @monroegm and @lsemp3d ,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file.

[2022-09-16 07:30] vincent6767 opened #12032 "O3DE 22.10.0 Release: Build Features Grid Updates"
Hi @dshmz @amzn-changml  ,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file. C

[2022-09-16 07:37] vincent6767 opened #12033 "O3DE 22.10.0 Release: Testing Features Grid Updates"
Hi @Kadino @AMZN-Dk  ,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file. Can w

[2022-09-16 07:42] vincent6767 opened #12034 "O3DE 22.10.0 Release: Platform Features Grid Updates"
Hi @byrcolin @RoddieKieley ,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file.

[2022-09-16 07:47] vincent6767 opened #12035 "O3DE 22.10.0 Release: Graphics Audio Features Grid Updates"
Hi everyone,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file. Can we have thi

[2022-09-16 07:49] vincent6767 opened #12036 "O3DE 22.10.0 Release: Network Features Grid Updates"
Hi everyone,

As part of the 22.10.0 release action, we need your help to update [the features grid](https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/) with the latest updates. [Here ](https://github.com/o3de/community/tree/main/features)is the repo that contains the features grid. There is also instruction on how to update the features grid in the readme file. Can we have thi

[2022-09-16 08:51] LB-KacperSzczepanski commented on #12011
The same issue occurs in build Stabilization/2210 (840e1f4)

- Splash screen when launching the project.
- Project manager.
- Editor window.

[2022-09-16 10:03] LB-KacperKapusta opened #12037 "[Android] DefaultProject application crashes with assert after coming back from device's screen timeout or screen being locked"
**Describe the bug**
Android application of DefaultProject crashes after coming back from device's screen timeout or screen lock.

The following assert is printed in the Game.log (found on PC - /DefaultProject/user/log):
[code]
Please refer to the attached logs. Video is not attached as locking the screen stops the recording.

**Prerequisites**
- Follow Project Requirements and any of the Workflow

[2022-09-16 10:20] tkothadev commented on #3415
This issue has been marked open for the past year, and per the author's last comment, it can now be closed as he's found a sufficient answer for the original issue.

As such I will be closing this.

[2022-09-16 10:20] #3415 closed

[2022-09-16 10:56] #10875 closed

[2022-09-16 11:33] LB-JakubSkoczylas commented on #11616
I verified that this issue occurs on stabilization build. Verified this on build Stabilization/2210 (840e1f4).

[2022-09-16 11:48] LB-JakubSkorupka opened #12038 "Removing required Shape component from entity with Light component results in errors in console and Light component still being enabled"
**Describe the bug**
After removing the required **Shape** component from the entity with Light component results in errors being printed in the console and **Light** component still being enabled.

Note that this issue also occurred on Development build.

Following errors are printed in the console:

[code]

**Steps to reproduce**

1. Create a new level.
2. Create a new entity.
3. Add **Light** c

[2022-09-16 11:52] hultonha commented on #11444
Isn't this intentional @AMZN-daimini? Do we not want to show the 'Prefab Edit Mode' visual queue when you're in Component Mode, or should it 'nest' (so if you're in Prefab Edit Mode and then start Component Mode is should stay on). Might be a good question for @rainbj.

[2022-09-16 12:48] LB-ArturZieba commented on #8268
We have noticed a similar issue today on the Stabilization/2210 (840e1f4) build, where White Box face highlight cuts off when viewed at a certain angle. Attaching a relevant video to this comment. Should this be reported separately?

https://user-images.githubusercontent.com/86952082/190642214-0b37b920-0178-4f64-8792-e238991e3e08.mp4

[2022-09-16 12:56] LB-KacperKapusta opened #12039 "[Android] The .log files are not properly generated on the device after running the app"
**Describe the bug**
After execution of the app folder (\Card\Android\data\org.o3de.DefaultProject\files) remains completely empty, showing 0 files inside.
Folder (\Phone\Android\data\org.o3de.DefaultProject\files\user\log) has Game.log file inside, but also completely empty (0 bytes).

Please refer to the attached screenshots.

**Prerequisites**
- Follow Project Requirements and either the "Asset

[2022-09-16 13:06] LB-ArturZieba opened #12040 "Color picker on duplicated Light entities does not always open on the first click"
**Describe the bug**
If an entity with a Light component is duplicated, and a color picker in the Color property is clicked, then the Color picker window will fail to open, and the component arrangement will be changed in the Entity Inspector. It should be noted that this issue is inconsistent, but no apparent cause for this was found. It should also be noted that the arrangement of the components

[2022-09-16 13:20] LB-ArturZieba opened #12042 "Set Model Asset Id Script Canvas node requires Dynamic Slices as an asset"
**Describe the bug**
Script Canvas node Set Model Asset Id (Rendering > Render Mesh Component) is using the Dynamic Slices as a source for its Asset Id property. Slices are currently deprecated by Prefabs (unless in UI Editor context), so the expected file format would be .prefab, or since this is Mesh Model path, an .fbx asset.

This issue is also present on the Development (1b7e57d) build.

**St

[2022-09-16 15:18] amzn-mike opened #12044 "EMFX - Crash while reloading mesh"
**Describe the bug**
A crash sometimes occurs when updating the mesh nodes of an in-use actor

**Assets required**
Tested with https://github.com/o3de/o3de/files/9539188/Main_Player.zip

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create entity with actor component
2. Assign mesh to actor component
3. Edit scene settings for FBX that produced mesh from step 2
4. Change selected mesh

[2022-09-16 15:49] rgba16f commented on #11446
One additional point is that vertex welding/deduplication was broken in the asset pipeline in Dec 2021. That has recently been fixed and we are now seeing memory usage come on geometry come down.

[2022-09-16 15:58] AMZN-Dk commented on #12033
No updates from me since last release on the SIG Testing feature grid, @Kadino take a look and see if there are any from you.

[2022-09-16 16:16] #10655 closed

[2022-09-16 16:16] #10654 closed

[2022-09-16 16:16] #3458 closed

[2022-09-16 18:25] AMZN-alexpete commented on #11843
Possible duplicate of #3532

[2022-09-16 18:27] AMZN-alexpete opened #12045 "Project Manager: Ability to set download location and settings while download dialog is waiting"
**Is your feature request related to a problem? Please describe.**
The dialog for downloading a remote project does not allow the user to interact while it downloads repo.json and related files

**Describe the solution you'd like**
Let the user update fields that do not depend on the files that are being downloaded.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-09-16 18:31] AMZN-alexpete opened #12046 "Project Manager: Link to Remote Repo Docs"
**Is your feature request related to a problem? Please describe.**
When a remote repository fails to download or has an error there is no link out to a documentation site with troubleshooting steps.

**Describe the solution you'd like**
A button or link exists on the Download remote Project dialog to an o3de.org/docs related page with troubleshooting information

**Describe alternatives you've con

[2022-09-16 18:38] AMZN-daimini commented on #11444
No, this is not intentional. The different "modes" should nest.

Which is also why I don't really like the fact that we call both "modes" since it can cause some confusion in this kind of discussion :)

[2022-09-16 19:15] gadams3 commented on #11307
Resolved by adding support for setting assets from script canvas nodes and node inspector. Also created a property handler that will allow editing asset IDs in any RPE. For script canvas, the one limitation is that the asset picker will not be filtered to the specific asset type until there is a mechanism to feed the asset type from behavior context to script canvas node.
https://github.com/o3de/o

[2022-09-16 19:15] #11307 closed

[2022-09-16 20:47] robhaco opened #12048 "[Project Manager] User cannot create a new gem from the gem catalog"
**Describe the bug**
If the user attempts to create a new gem from the general gem catalog, nothing happens when they select "Create New Gem"

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open o3de.exe (Project Manager)
2. Select the Gems tab
3. Left click the hamburger menu in the top right
4. Select "Create New Gem"

**Expected behavior**
The new create a gem dialog appears and the

[2022-09-16 21:28] Kadino commented on #12033
The table is a bit inaccurate, so I'm updating it.

[2022-09-16 21:33] greerdv opened #12050 "Picking in animation editor does not work until render options are changed"

[2022-09-16 22:04] robhaco opened #12054 "[Project Manager] Gem creation navigation tools appear above previous screen controls and all are active"
**Describe the bug**
When the user goes into the gem creation wizard, the navigation buttons are placed above the navigation buttons from the previous screen.  All buttons are active so the user can navigate to something unrelated to gem creation and close the wizard without meaning to.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to an existing project and select "Configure Gems

[2022-09-16 22:41] willihay opened #12056 "Improve descriptions for Atom gems"
**Describe the bug**
User feedback from WTE sessions indicate that some users would like better descriptions for the Atom gems. Many of the gem descriptions contain nothing more than a few words, which makes it hard for users browsing the gem catalog in Project Manager, for example, to determine what a gem is providing and whether or not they might want to enable it.

**Steps to reproduce**
Steps

[2022-09-16 23:18] AMZN-Phil opened #12058 "Project Manager: Download location is ignored"
When downloading a remote project, the project install location is ignored

**Steps to reproduce**
1. Click add a remote project
2. Add a remote source and make sure that the automatically build project is toggled on
3. Set the install location to something other than the default
4. Download the project

**Expected behavior**
The project is installed to the chosen location.

**Actual behavior**
Th

[2022-09-16 23:30] AMZN-Phil opened #12059 "Project Manager: Unable to cancel project build"
There is no way to cancel a currently building project.

**Steps to reproduce**
1. Start a project build
2. See available actions.

**Expected behavior**
A cancel build button is visible while a project is building which cancels the project.

**Actual behavior**
No cancel button is visible.

[2022-09-16 23:43] AMZN-Gene commented on #3532
I somehow don’t have CMTrace on my Windows install :c
Ended up using SnakeTail

[2022-09-18 15:05] tonybalandiuk commented on #11639
@ParasiteSt do you know if this exists in the stabilization branch? I'm guessing so.

@lsemp3d based this was reported the night that we cut stabilization. My guess is that it exists there. which means as a critical we should resolve this for stabilization branch.

@AMZN-Dk for visibility

[2022-09-18 15:15] tonybalandiuk commented on #11640
@spham-amzn  is this still an issue? Should this be fixed in stabilization?

[2022-09-18 15:22] tonybalandiuk commented on #11667
@Kadino @AMZN-Dk Do we think this needs to be resolved in the upcoming release? If so, we should add it to the "Release/2210" milestone

[2022-09-18 15:25] tonybalandiuk commented on #11712
@AMZN-alexpete , @lmbr-pip , @AMZN-Dk  based on the timing of this being create, I think it could exist in stabilization. If so, fo you think this needs to be resolved in the upcoming release? If so, we should add it to the "Release/2210" milestone. If not, please add it to the "Backlogged Issues" milestone. Thanks. @AMZN-Dk  and I are working to understand what's still required to fix for the upc

[2022-09-18 15:27] tonybalandiuk commented on #11789
@AMZN-Phil  @Ulrick28   based on the timing of this being created, I think it could exist in stabilization. If so, do you think this needs to be resolved in the upcoming release? If so, we should add it to the "Release/2210" milestone. If not, please add it to the "Backlogged Issues" milestone. Thanks. @AMZN-Dk  and I are working to understand what's still required to fix for the upcoming release

[2022-09-18 15:30] tonybalandiuk commented on #11893
@santorac based on the timing of this being created, I think it likely exists in stabilization. If so, do you think this needs to be resolved in the upcoming release? If so, we should add it to the "Release/2210" milestone. If not, please add it to the "Backlogged Issues" milestone. Thanks. @AMZN-Dk  and I are working to understand what's still required to fix for the upcoming release - your assis

[2022-09-18 15:33] tonybalandiuk commented on #11922
Do you think this needs to be resolved for the upcoming release? If so, we should add it to the "Release/2210" milestone. If not, please add it to the "Backlogged Issues" milestone. Thanks. @AMZN-Dk  and I are working to understand what's still required to fix for the upcoming release - your assistance here will help us in that endeavor.

[2022-09-18 15:34] tonybalandiuk commented on #12021
Does this exist in stabilization? If so, do you think this needs to be resolved in the upcoming release? If so, we should add it to the "Release/2210" milestone. If not, please add it to the "Backlogged Issues" milestone. Thanks. @AMZN-Dk  and I are working to understand what's still required to fix for the upcoming release - your assistance here will help us in that endeavor.

[2022-09-18 16:34] Ulrick28 commented on #11789
We will check in stab, but it was likely already fixed there as I remembering seeing this. Either way, we will make sure this is addressed.

On Sep 18, 2022, at 8:28 AM, Tony Balandiuk ***@***.***> wrote:

﻿

@AMZN-Phil<https://github.com/AMZN-Phil> @Ulrick28<https://github.com/Ulrick28> based on the timing of this being created, I think it could exist in stabilization. If so, do you think this ne

[2022-09-18 19:39] Kadino commented on #11667
No. Initial investigation indicated this is due to 1-2 specific files of poorly written tests. These are self-tests of an experimental addition to the test framework, and not tests of O3DE production code.

The misbehaving tests are currently disabled in development and stabilization.

[2022-09-19 02:40] robhaco opened #12063 "[Project Manager] User cannot enter spaces into the Gem Display Name when creating a Gem"
**Describe the bug**
When the user creates a new gem using the project manager, they are unable to put spaces in the Gem Display Name using the creation wizard.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Configure gems for an existing project
2. Using the hamburger menu in the top right corner, select Create New Gem
3. Select a gem template type and click Next
4. Enter a Gem Displ

[2022-09-19 08:39] #11704 closed

[2022-09-19 15:30] willihay opened #12064 "[Project Manager] Move o3de manifest settings to a new Settings menu"
**Is your feature request related to a problem? Please describe.**
During WTE sessions, several participants made note that they expected settings to appear in a more universally recognized settings menu, such as behind a gear icon.

**Describe the solution you'd like**
A gear icon would be a good choice here, and I recommend that it appear right-justified along the menu bar of Project Manager. As

[2022-09-19 16:09] jckand-amzn commented on #11987
Verified fix on development@ 757b544be06b30fd70ab664c314ef49f25eacb77.

[2022-09-19 16:14] AMZN-Phil commented on #11789
Fixed by linked PR

[2022-09-19 16:14] #11789 closed

[2022-09-19 17:38] #11654 closed

[2022-09-19 17:41] #11648 closed

[2022-09-19 18:09] AMZN-Gene opened #12069 "Project Manager: Remote Template Add Button Disabled"
**Describe the bug**
The project manager doesn't allow users to add a remote template.

**Steps to reproduce**
1. Open Project Mananger (o3de.exe)
2. Click "Create New Project" button
![image](https://user-images.githubusercontent.com/32776221/191084645-c48095e3-de86-45b7-8ab0-453747b2c1a5.png)
3. Add remote template
![image](https://user-images.githubusercontent.com/32776221/191084699-67c1504e-16

[2022-09-19 18:47] Kadino commented on #11667
Could be occurring due to the tests of the (unused) CTest CLI wrapper which would be using CTest+PyTest to then internally re-invoke a script which uses CTest+PyTest

[2022-09-19 20:19] forhalle commented on #12039
@moraaar - Can you see if the logs are perhaps generated in a different path (and perhaps the docs need to be updated?)?

[2022-09-19 20:24] santorac commented on #11893
@tonybalandiuk IMO this does not need to be addressed for the upcoming release. It's just about improving error messaging a bit, but the current messaging is sufficient for now.

https://github.com/o3de/o3de-azslc/issues/39 might deserve consideration for the release though.

[2022-09-19 20:28] forhalle commented on #11923
@AMZN-Olex - Are you able to look into this?

[2022-09-19 20:58] forhalle commented on #11972
@lumberyard-employee-dm - Are you able to take a look at this?

[2022-09-19 21:26] spham-amzn commented on #11972
That file is here: https://github.com/o3de/o3de/blob/development/Code/Tools/Android/ProjectBuilder/build.gradle.in

[2022-09-19 21:29] lumberyard-employee-dm commented on #11972
I'll make a PR with adding the zip64 true change within that file.

[2022-09-19 21:31] spham-amzn commented on #11972
Although, a 4 GB APK is concerning

[2022-09-19 21:51] #10163 closed

[2022-09-19 22:09] AMZN-daimini commented on #11818
I took some time to investigate this further.

Our current version of Qt in O3DE is 5.15.1. NVD vulnerability reports are highlighting issues that are present on versions of Qt up to 5.15.8 (included) and 6.2.3 (included).

First usable version of Qt5 that we could upgrade to to resolve this vulnerability is 5.15.9, released **for commercial license holders** on April 06, 2022: https://www.qt.io/b

[2022-09-19 22:32] Kadino commented on #12033
Submitted for approval in @o3de/sig-docs community repo

[2022-09-19 22:32] #12033 closed

[2022-09-19 22:39] FuzzyCarterAWS commented on #11709
@hultonha closing this as no repro.

[2022-09-19 22:39] #11709 closed

[2022-09-19 23:01] tonybalandiuk commented on #11093
Nothing here that would block the technical preparedness for the launch on 10/11. marketing requirements could impact their marketing launch on 10/13. Adding notes under the appropriate tasks.

[2022-09-19 23:02] tonybalandiuk commented on #11429
discussed with Marketing committee. No marketing requirements that should block our technical launch on 10/11.

[2022-09-19 23:02] #11429 closed

[2022-09-19 23:06] willihay opened #12072 "[Multiplayer Gem] Consider adding a base player spawner"
**Is your feature request related to a problem? Please describe.**

Feedback received during a WF6 WTE session:
"As a content creator / level designer, I'm surprised there is not a base player spawner in the Multiplayer Gem. It seems odd that we have to write our own spawner."

**Describe the solution you'd like**
Consider offering a simple base player spawner component.

**Additional context**
WT

[2022-09-19 23:07] willihay commented on #12072
More docs explaining the design choices made in the Multiplayer Gem would also help.

Doc request filed in https://github.com/o3de/o3de.org/issues/1985

[2022-09-19 23:41] #10879 closed

[2022-09-19 23:44] willihay commented on #11993
Related to #11687

[2022-09-20 00:16] spham-amzn opened #12073 "Missing python package when running pytest"
**Describe the bug**
When running pytest on the O3DE from the base path, a ```ModuleNotFoundError: No module named 'hypothesis'``` occurs

**Steps to reproduce**
1. From the command line, change the current working directory to o3de
2. type in ```python\python.cmd -m pytest```
3. Pytest will start up and begin collecting the tests
4. An error occurs instead

**Expected behavior**
Python unit tests

[2022-09-20 00:20] willihay opened #12074 "[Multiplayer Gem] All multiplayer components should have links to documentation"
**Is your feature request related to a problem? Please describe.**
There are no links from any of the Multiplayer Gem components to a corresponding reference page in the o3de.org documentation.

**Describe the solution you'd like**
Add a doc help link in each component by adding a "?" icon in the upper right, the way other components have.

**Additional context**
Of course, we would also want comp

[2022-09-20 01:28] santorac commented on #11893
I'm closing this due to a combination of:

1. Workaround guidance provided.
2. Error message improved in this PR https://github.com/o3de/o3de/pull/12019
3. New ticket open for further error message improvement: https://github.com/o3de/o3de/issues/12018

[2022-09-20 01:28] #11893 closed

[2022-09-20 01:58] spham-amzn commented on #12073
This is a simple update to python/requirements.txt

[2022-09-20 07:47] greerdv commented on #11703
That looks like the same callstack I was seeing for the main thread when I ran into a freeze in the editor.

jeremyong-az, rgba16f and amzn-tommy diagnosed the problem as a deadlock related to the dual quat skinning being called to update the actor's AABB when an asset is loaded which takes out a lock preventing the rendering simulate call from completing.

The callstacks for the relevant threads

[2022-09-20 07:53] hultonha commented on #11703
Thank you very much for the info @greerdv, can @amzn-jillich sync-up with @amzn-tommy and/or @jeremyong-az to see what the best way to resolve this is.

[2022-09-20 09:13] moraaar commented on #12039
Yeah, I will verify it on my next Android execution.

[2022-09-20 09:22] moraaar opened #12076 "Nightly Build Bug Report: windows debug fail compilation error due to OpenImageIO library"
**Describe the bug**
Windows debug is failing to build on Nightly Build with a compilation error coming from OpenImageIO 3rdParty library.

**Failed Jenkins Job Information:**
Windows debug, 106 build number: https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE_periodic-incremental-daily/detail/development/106/pipeline/1176

[code]

**Attachments**
[log.txt](https://github.com/o3de/o3de/

[2022-09-20 12:32] hultonha opened #12077 "Add support for gameplay materials"
### Description

As a content author using Open 3D Engine, I want to be able to create complex objects, like a car, and have physics materials be assignable to specific portions of its geometry.  For example, if I were to have a player fire a shotgun at the car, I would want each shot to correctly interact with the glass, metal, upholstery, tires, etc. of the car to play appropriate sounds or plac

[2022-09-20 12:38] hultonha commented on #2897
Aside: We updated this ticket to better reflect recent physics work - please see original ticket details that have been migrated to https://github.com/o3de/o3de/issues/12077.

[2022-09-20 12:45] moraaar commented on #2897
PhysX Material refactor work to remove physics material library was submitted by the following PR:
- https://github.com/o3de/o3de/pull/9856

The same refactor was done for blast materials:
- https://github.com/o3de/o3de/pull/9211

[2022-09-20 12:49] moraaar commented on #2897
[Impactful Change] Physics material refactor

**What’s changing?**
Physics material assets are now managed independently. The concept of physics material library has been removed and now one asset is one physics material. A physics material is created using Asset Editor tool.

**Why is this change being made?**
To simplify the workflow of authoring and using physics materials, we're making it more

[2022-09-20 13:16] mbalfour-amzn commented on #11904
The ocean_component and ocean_trackview levels just need to get deleted, we don't have an Ocean component in O3DE.

[2022-09-20 15:06] jckand-amzn opened #12079 "Landscape Canvas: Allow adding wrapped nodes via script without creating new entities"
**Is your feature request related to a problem? Please describe.**
Currently, when using the following code, rather than simply becoming wrapped nodes, new entities are created to hold the new node information, resulting in a lot of unwanted duplication.

[code]

**Describe the solution you'd like**
Some way to specify a node to be created/wrapped at the same time, so new entities aren't created f

[2022-09-20 15:53] LB-ArturZieba commented on #10879
Issue verified as fixed on the Stabilization/2210 (2a5ac3d) build.

[2022-09-20 16:43] #11604 closed

[2022-09-20 17:05] michabr commented on #11741
The crash happens during instance propagation when entities are being removed from the outliner to be replaced with new ones.

[2022-09-20 17:09] AMZN-Gene opened #12084 "Multiplayer Component: Update Derived Class CreateInput and ProcessInput Comment"
**Is your feature request related to a problem? Please describe.**
Whenever making a multiplayer auto-component that has network input I have to remember how to retrieve my specific input struct.

**Describe the solution you'd like**
Update the code comment for CreateInput and ProcessInput to include grabbing the network input and getting values.

[code]

[code]

[2022-09-20 17:21] galibzon commented on #11989
Closing as duplicate.

[2022-09-20 17:21] #11989 closed

[2022-09-20 17:29] galibzon commented on #11857
@ouxiaoyang Please let us know if Following Eric's instructions helped you. Otherwise we can reopen this ticket.

[2022-09-20 17:29] #11857 closed

[2022-09-20 17:32] AMZN-Gene commented on #12025
Is it only draw order? Is a different camera field-of-view required too in order to get good looking FPS hands?

[2022-09-20 17:33] AMZN-stankowi commented on #10835
This can no longer occur because the dialog has been replaced with log cards in the window

[2022-09-20 17:33] #10835 closed

[2022-09-20 17:43] adiblev commented on #11965
Building from the last meshlet branch gave the expected results.  I will review this from a fresh build without the meshlet, connect the library fresh and see if I get the same behavior reported here.
I'm guessing that due to Atom changes in the shader model the material and debug shader got broken - if this is the case I will fix it.  I also found a small bug in the meshlet creation due to 'holes

[2022-09-20 18:02] lumberyard-employee-dm commented on #9295
Determining the areas where parallel runs of applications causes test failures also aren't obvious as to which SIG group should be  responsible for either adding support for parallel execution within the runtime applications or changing the test to not run in parallel.

In this case the Blast python automated test are maintained by the @o3de/sig-simulation group, but the failure in running those t

[2022-09-20 18:06] amzn-tommy commented on #12025
Draw order isn't quite enough here. You can draw the (let's assume) gun/hands in any order. Whether it comes first or second, if a wall is also drawn that covers the same pixel, but that wall is closer to the camera than the barrel of the gun, the gun is always going to clip because a depth test will determine that the wall is closer to the camera, and thus the pixels from the wall will win out. O

[2022-09-20 19:23] ParasiteSt commented on #12025
Even if the actual files are not available, having a tutorial others could follow would allow them to create the file while learning this part of the engine more. Tutorials are lacking right now in a lot of areas of the engine.

[2022-09-20 19:31] ParasiteSt commented on #12025
I heard a lot about this way of doing it, and have done this in the past in Unity, the upside of this way is it would fit nicely in the main o3de repo as a feature, the downside is this sounds like a lot more work to get a working example.

[2022-09-20 19:51] AMZN-daimini opened #12087 "Feature Request - Make ImGui and Viewport UI mutually exclusive"
**Is your feature request related to a problem? Please describe.**
After discussing this PR: https://github.com/o3de/o3de/pull/11570
I am growing increasingly concerned with the interaction between ImGui and Viewport UI in the Editor. The PR mentioned above introduced logic to ensure that when ImGui is enabled, the Viewport UI moves out of view to allow users to click those menus. Similarly, ImGui

[2022-09-20 20:44] mbalfour-amzn opened #12089 "Camera position gets reset when choosing Restore Default Layout"
**Describe the bug**
When choosing "Reset Default Layout" from the Viewport menu, the location of the camera in the viewport gets reset as well.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a level in the Editor.
2. Move the camera in the viewport.
3. Choose View->Layouts->Restore Default Layout
4. Press Restore Defaults

**Expected behavior**
The window layouts get restored to

[2022-09-20 20:50] AMZN-daimini opened #12090 "Prefabs Focus Breadcrumb is reset when using Restore Default Layout"
**Describe the bug**
When choosing "Reset Default Layout" from the Viewport menu, the Prefab Focus Breadcrumb is re-initialized with no path.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a level in the Editor.
2. Choose View->Layouts->Restore Default Layout
3. Press Restore Defaults

**Expected behavior**
The window layouts get restored to the defaults, including the state of t

[2022-09-20 20:51] lmbr-pip opened #12091 "Feature Request: Upgrade to AssImp to 5.2.5 from 5.1.6"
**Is your feature request related to a problem? Please describe.**
AssImp just released a large collection of bug fixes as part of their 5.2.5 release: https://github.com/assimp/assimp/releases/tag/v5.2.5

**Describe the solution you'd like**
* Asses the stability of 5.2.5
* Update to take advantage of all the goodness

**Describe alternatives you've considered**
* Stay on old 5.1.6 version: https

[2022-09-20 21:00] cgalvan commented on #11531
I ran into this issue as well, so was trying to do a quick fix, but it turned out to not be so simple.

This patch fixed the initial crash as seen above:
[code]

But I got a different crash instead when I tried to load a level, that I then fixed with an additional null dereference check in `o3de\Gems\AtomLyIntegration\AtomBridge\Code\Source\PerViewportDynamicDrawManager.cpp`:

[code]

It then no l

[2022-09-20 21:37] amzn-leenguy opened #12093 "Feature Request: Updating Verbiage for Configure Gems CTA on Create a New Project Page"
**Is your feature request related to a problem? Please describe.**
It was observed that the similar terminology of two buttons called: "Configure with more Gems" and the nearby "Configure Gems" do the same thing, but a titled differently.

**Describe the solution you'd like**
Update both button labels to "Configure Gems"

**Describe alternatives you've considered**
n/a

**Additional context**
![co

[2022-09-20 21:42] amzn-leenguy opened #12094 "Feature Request: Add more clarity on what Gem's are to new users workflow"
**Is your feature request related to a problem? Please describe.**
It was noted through Walk the Engine testing that new users discovering O3DE for the first time, may not know what Gems are. There is no clear explanation of what a Gem is or what their purpose are. Gem is not industry standard terminology.

**Describe the solution you'd like**
Add either a question mark explanation icon that a use

[2022-09-20 21:45] amzn-leenguy opened #12095 "Feature Request: Decrease the tooltip delay so users can observe explanations better"
**Is your feature request related to a problem? Please describe.**
During the recent Walk the Engine research testing for onboarding, a user didn't hover over the status toggle long enough in the Gem catalog to see the tooltip appear to explain why it was disabled. Because of the requirement of the hover state delay was more than expected, the user didn't see the tooltip explanation of why the tog

[2022-09-20 21:51] amzn-leenguy opened #12096 "Feature Request: To align the Add new Remote Projects UI to be similar to the Create a New Project Workflow UI"
**Is your feature request related to a problem? Please describe.**
During the Walk the Engine testing, it was suggested that there was an option where the UX and UI of the add a new remote project workflow, could be similar to the "Create a New Project" workflow GUI.

They also suggested that there could be either tabs or radio buttons on the UI screen to change the UI options based on what the us

[2022-09-20 21:59] amzn-leenguy opened #12098 "Feature Request: Adjustment to New Project Dropdown options in O3DE Project Manager"
**Is your feature request related to a problem? Please describe.**
When a user selects the "New Project" Dropdown in the O3DE Project Manager, they were confused at the options that said:

- Add Project
- Remote Project

They both sound similar. (if the user's task was to add a remove project). This was discovered during the Walk the Engine Onboarding Research Testing.

**Describe the solution you

[2022-09-20 21:59] amzn-leenguy commented on #12096
this issue is related to https://github.com/o3de/o3de/issues/12098 as well

[2022-09-20 22:14] AMZN-daimini opened #12100 "Asset Browser - Editor asserts when clearing a search filter"
**Describe the bug**
On a debug build of the Editor, clearing the search filter in the Asset Browser causes an assert (and a subsequent crash).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Start the Editor
2. Type in a search filter in the Asset Browser
3. Clear the search field with the X button

**Expected behavior**
The search is cleared

**Actual behavior**
An assert happens and

[2022-09-20 22:16] lumberyard-employee-dm opened #12101 "Update incorrect uses of chrono::system_clock within the codebase to use chrono::steady_clock"
**Describe the bug**
Currently there 100s of places within the O3DE codebase which uses the [AZStd::chrono::system_clock](https://sourcegraph.com/search?q=context:global+repo:github%5C.com/o3de/o3de+system_clock&patternType=standard) function for measuring a duration of time, which is the incorrect clock function to use.
The AZStd/std::chrono::system_clock functions returns the wall clock time on

[2022-09-20 22:26] AMZN-daimini opened #12103 "Dragging a ScriptCanvas script into the Entity Inspector creates a Lua Component with the script."
**Describe the bug**
When dragging and dropping a `.scriptcanvas` file into the Entity Inspector, the Editor used to create a ScriptCanvas component for you and assign the `.scriptcanvas` file to it. Now, though, it instead creates a Lua component.

**Assets required**
Any scriptcanvas script.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open any level
2. Create an entity and select

[2022-09-20 22:30] michabr opened #12104 "Move Prefab dependency out of editor outliner code"
**Is your feature request related to a problem? Please describe.**
We don't want editor code to be aware of or depend on the prefab interface directly.

**Describe the solution you'd like**
Currently the entity outliner depends on the prefab interface to prevent drag & drops across prefab instances when in focus mode. We need to move or change this logic so the editor only uses concepts it should

[2022-09-20 22:40] AMZN-daimini commented on #8019
Created a new PR to fix the issue of editing a procedural prefab via drag&drop in the Inspector
https://github.com/o3de/o3de/pull/12105

Will keep coming back for this to address the rest as time allows.

[2022-09-20 23:47] AMZN-daimini commented on #12100
@amzn-tmryan FYI :D

[2022-09-20 23:56] AMZN-daimini commented on #12100
Some extra details:
![image](https://user-images.githubusercontent.com/82231674/191384677-bff7a576-929c-466a-96f0-b13a2fef1497.png)

![image](https://user-images.githubusercontent.com/82231674/191384729-bc9d10e3-d14e-4297-9baf-b3ce3a6e0352.png)

Call Stack
[code]

[2022-09-21 00:02] FuzzyCarterAWS commented on #11395
Verified fixed

[2022-09-21 00:02] #11395 closed

[2022-09-21 00:02] FuzzyCarterAWS commented on #11393
Verified fixed

[2022-09-21 00:02] #11393 closed

[2022-09-21 00:02] FuzzyCarterAWS commented on #11392
Verified fixed

[2022-09-21 00:02] #11392 closed

[2022-09-21 00:02] FuzzyCarterAWS commented on #11391
Verified fixed

[2022-09-21 00:02] #11391 closed

[2022-09-21 00:02] FuzzyCarterAWS commented on #11390
Verified fixed

[2022-09-21 00:02] #11390 closed

[2022-09-21 00:02] FuzzyCarterAWS commented on #11389
Verified fixed

[2022-09-21 00:02] #11389 closed

[2022-09-21 00:05] FuzzyCarterAWS commented on #11387
Verified fixed

[2022-09-21 00:05] #11387 closed

[2022-09-21 00:05] FuzzyCarterAWS commented on #11326
Verified fixed

[2022-09-21 00:05] #11326 closed

[2022-09-21 00:05] FuzzyCarterAWS commented on #11391
Verified fixed

[2022-09-21 00:13] amzn-tmryan commented on #12100
This doesn't affect usage of the editor/AssetBrowser in profile or release, but we shouldn't be encountering this assert. I'll take a look.

[2022-09-21 00:17] AMZN-daimini commented on #12100
If we can verify that, I can get this off the 2210 milestone

[2022-09-21 00:20] michleza opened #12109 "Feature Request: Script canvas make automated test for asset editor drag and drop issue"
**Is your feature request related to a problem? Please describe.**
dragging a script canvas file to asset editor then to entity inspector adds a lua component instead of a script canvas component

**Describe the solution you'd like**
let's build a test script to cover this use case

**Additional context**
[original issue link.](https://github.com/o3de/o3de/issues/12103)

[2022-09-21 00:42] amzn-tmryan commented on #12100
Here is a gif of the editor not crashing when the filter is cleared as of bbca16f005596624dda860ada8b1f0ac32350295 (tip of upstream from sometime today):

![assetBrowser_clearFilter_debugAssert](https://user-images.githubusercontent.com/104796591/191389320-be24aa5a-4cea-4cd0-8375-b1403e16f2d0.gif)

[2022-09-21 00:43] amzn-tmryan commented on #12100
Just to reiterate for anyone else looking at this ticket, this won't affect users but definitely should be fixed.

[2022-09-21 09:28] amzn-changml commented on #12011
@LB-KacperSzczepanski https://github.com/o3de/o3de/pull/12017 has been merged and I've noted that the installer is now displaying the 2210 version number. Can you verify that this is the case?

[2022-09-21 10:25] LB-HubertUberman commented on #12011
@amzn-changml Verified that Engine is now displaying the 22.10.0 version on latest Stabilization/2210 installer. Also the issue still occurs in build Stabilization/2210 (https://github.com/o3de/o3de/commit/1a540addf51410165f5e05fab275d3ccc9579ace).

[2022-09-21 11:24] LB-TomaszSerwanski commented on #11648
The issue verified as fixed in Stabilization/2210 branch (1a540ad), however it still occurs in the latest Development (d6342fb).

[2022-09-21 11:31] LB-TomaszSerwanski commented on #11704
The issue verified as fixed in Development (https://github.com/o3de/o3de/commit/d6342fb74b53c13b7e10356e10ca9748375494a4) branch, however it still occurs in the latest Stabilization/2210 (https://github.com/o3de/o3de/commit/1a540addf51410165f5e05fab275d3ccc9579ace)

[2022-09-21 13:30] HogJonny-AMZN commented on #12076
I'll build locally in debug and see if I can replicate

[2022-09-21 14:15] HogJonny-AMZN commented on #12076
I am locally on latest development branch (this morning)
I built the Editor project and dependencies in debug without error (lVS output og attached)
I built engine-centric non-unity

my cmake config:
cmake .. -G "Visual Studio 16" -A x64 -DLY_3RDPARTY_PATH="%LY_3RDPARTY_PATH%" -DLY_UNITY_BUILD=OFF -DLY_PROJECTS="C:\depot\o3de-dev\AutomatedTesting;C:\depot\loft-arch-vis-sample\Project"

[o3de_debug

[2022-09-21 16:09] lumberyard-employee-dm commented on #8642
Project Manager could run a command such as ldd (on Linux/Unix) or dumpbin on Windows to determine if the file type is executable.

I don't think this is a sig-core issue however, so I am removing the sig-core tag

[2022-09-21 16:13] lumberyard-employee-dm commented on #11816
The AssetProcessor issues could be an issue where a snapshot was taking on the development branch with a newer version of the Asset Database cache and then the stabilization branch is built with an older version of the AP
Here is the error message

[2022-09-21 16:14] lumberyard-employee-dm commented on #11816
The AzCore.Tests also has a failure in the concurrent_static allocator

[2022-09-12T10:25:15.994Z] D:\workspace\o3de\Code\Framework\AzCore\AzCore/std/parallel/allocator_concurrent_static.h(122): error: AZStd::static_pool_concurrent_allocator - Pointer is out of range!
[2022-09-12T10:25:15.994Z] D:\workspace\o3de\Code\Framework\AzCore\AzCore/std/parallel/allocator_concurrent_static.h(94): error: AZ

[2022-09-21 16:16] lumberyard-employee-dm commented on #11816
@o3de/sig-content Can you traige this issue with respect to the AutomatedTesting python test failures

[2022-09-21 16:16] lumberyard-employee-dm commented on #11902
This is a duplicate of #11816

[2022-09-21 16:16] #11902 closed

[2022-09-21 16:57] hultonha commented on #11709
Sounds good thanks @FuzzyCarterAWS 👍

[2022-09-21 17:06] hultonha commented on #11703
Thanks for looking into this @amzn-tommy :+1: Let me know if there's anything we can help with

[2022-09-21 17:20] dshmz commented on #11974
Build SIG has triaged this issue. Shirang from Build SIG is working on Auto Assigning the Git Hub Issues to their particular SIGs and he will take up this along with that work.

[2022-09-21 17:23] dshmz commented on #7383
This issue is not a high priority as it is only for distributed build systems that we don't have at the moment. Build SIG has triaged it and moved to backlog.

[2022-09-21 17:25] dshmz commented on #7384
This issue is not a high priority as it is a nice to have feature. Current Build Failure system captures the error and shows it. Build SIG has triaged it and moved to backlog.

[2022-09-21 17:25] lsemp3d commented on #11894
`InputSystemCursorRequestBus` used to be exposed to the Behavior Context which enables this support but I can't find it, I'm unaware if someone removed it, or if it's in a gem that I don't currently have enabled. @AMZN-alexpete do you know?

[2022-09-21 17:30] dshmz commented on #8136
Build SIG has triaged this issue and it is not owned by Build SIG, we need to find the right SIG ownership and assign it to that.

[2022-09-21 17:34] #8145 closed

[2022-09-21 17:34] #11972 closed

[2022-09-21 17:36] dshmz commented on #8227
This is not a Sig/Build Issue but SIg/ui-ux issue, Sig/ui-ux needs to triage this.

[2022-09-21 18:14] amzn-changml commented on #12011
@LB-HubertUberman There is an environmental variable used on build to define the version (as we don't pin the version directly with the git tag), so building stabilization alone without it will not result in a version number. Here's what you'll need to do for testing it:

In Windows:
[code]

In Ubuntu:
[code]

This can also be defined in the CMake variables as well

[2022-09-21 18:37] onecent1101 opened #12120 "Feature Request: ScriptCanvas needs to support custom behavior context object initialization through node slot"
**Is your feature request related to a problem? Please describe.**
Currently ScriptCanvas Node doesn't support slot initialization (or through node inspector) for custom behavior context object. In order to achieve it, user has to create graph variable and assign graph variable to the slot.

Related GHI https://github.com/o3de/o3de/pull/12014

**Describe the solution you'd like**
Support custom be

[2022-09-21 18:38] onecent1101 commented on #11746
Created a long term plan for this issue https://github.com/o3de/o3de/issues/12120

[2022-09-21 18:49] monroegm commented on #11877
Starting with feature/viewport based on call stack. Please redirect if the issue is with another feature area.

[2022-09-21 18:52] GanidhuAbey commented on #7026
I wanted to let everyone know that I don’t think I will be able to work on this issue anymore as I am currently busy with other projects, if anyone else wants to take a shot at this please feel free to do so. Sorry about this.

[2022-09-21 19:53] jckand-amzn opened #12122 "Prefabs: Prefabs can be reparented via script"
**Describe the bug**
Prefabs can be reparented via script. This is no longer possible via drag and drop operations in the Editor, however can still be performed via utilizing the following on a prefab's container entity:

[code]

Previously, this behavior was possible via UI interactions, so an automated test (test_ReparentPrefab_UnderPrefabAndEntityHierarchies) exists to validate the workflow.

*

[2022-09-21 19:54] jckand-amzn commented on #12122
When this is fixed, the test noted in the issue description should be disabled. Additionally, helpers exist for reparenting prefabs in AutomatedTesting\Gem\PythonTests\EditorPythonTestTools\editor_python_test_tools\prefab_utils.py that should be updated/removed.

[2022-09-21 20:29] lumberyard-employee-dm commented on #12006
This is now up for PR

[2022-09-21 20:37] lmbr-pip commented on #12094
Assume this issue relates to the Project Manager as description is not specific.

[2022-09-21 20:38] lmbr-pip commented on #12095
Assume is related to gem catalog in project manager. Description is somewhat unclear or if this tooltip duration is a wider issue. @amzn-leenguy can you confirm if this is just in relation to the project manager?

[2022-09-21 20:44] lmbr-pip commented on #6804
This has been fixed, cleaning up stale issues

New issue will show the option to report

[code]

[2022-09-21 20:44] #6804 closed

[2022-09-21 22:29] monroegm commented on #11761
Marking as resolved based on linked PR being merged

[2022-09-21 22:29] #11761 closed

[2022-09-21 22:29] monroegm commented on #11773
Marking as resolved based on linked PR being merged

[2022-09-21 22:29] #11773 closed

[2022-09-22 00:11] amzn-leenguy commented on #12095
These were observed when a user was using the project manager, but I would like to address this problem that would blanket across the whole O3DE Experience

[2022-09-22 02:05] amzn-tmryan commented on #12100
The test results below are from a profile build showing that we aren't losing any data due to the issue that triggers the assert in debug. Filter used was "fbx" as seen in Danilo's gif above; I am able to repro the assert 100% in debug using that filter.

Child count for AssetBrowserModel (BASE) and AssetBrowserFilterModel (FILTER):
- Before filtering
  - BASE model children - 22427
  - FILTER mod

[2022-09-22 03:31] amzn-leenguy opened #12132 "Feature Request/Suggestion: Show the README in the remote projects workflow dialog box"
**Is your feature request related to a problem? Please describe.**
During the walk the engine testing for adding a remote project, it was suggested by the user that wanted to see or know about the details from the README info from the remote source that you pasted during the add a remote project GUI dialog box.

**Describe the solution you'd like**
We could add either a link or the details about t

[2022-09-22 03:35] amzn-leenguy opened #12133 "Feature Request: Vague explanation text during editor load up on Splash Screen"
**Is your feature request related to a problem? Please describe.**
During the start up of the editor, the splash screen appears. When the Asset Processor is working and processing assets, the wording on the left that appears on the splash screen is vague and unclear.

**Describe the solution you'd like**
It would be better if the wording was a little more clear and less vague of what is currently

[2022-09-22 03:37] amzn-leenguy commented on #12133
Related to https://github.com/o3de/o3de/issues/7837

[2022-09-22 03:41] amzn-leenguy opened #12134 "Feature Request: Flag the shader ball and the plane to be included as Critical Assets"
**Is your feature request related to a problem? Please describe.**
When the editor is opening up and the asset processor saids loading assets, it will say loading assets, and then when its counting down from the 3000 ish, it just jumps straight into loading the editor at around 100 ish left.

This is fine. Except O3DE has not flagged the plane and the shader ball as critical assets. So sometimes t

[2022-09-22 03:41] amzn-leenguy commented on #12134
semi related to this https://github.com/o3de/o3de/issues/7837

[2022-09-22 03:42] amzn-leenguy opened #12135 "Feature Request:"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-22 03:56] amzn-leenguy opened #12136 "Feature Request: Would like to see the Remote source URL on the Manage source page"
**Is your feature request related to a problem? Please describe.**
Currently on the project manager, there is a page where users can manage their remote sources that they have added (Remote Projects, Remote Templates and Remote Gems), there is not enough information shown to help the user understand each row item is which remote source that they had added. Even though the details are listed on the

[2022-09-22 04:58] AMZN-Gene opened #12137 "Reliable RPC Isn't Received If Called OnActivate()"
**Describe the bug**
Sending a reliable RPC from authority to client wont be received by the client if it's called on entity activation.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a Multiplayer autocomponent with an RPC that's sent from Authority to Client
   Example, sending clients the current player id for them to display locally.
[code]

**Expected behavior**
The RPC Ha

[2022-09-22 06:23] vincent6767 commented on #12006
Thanks @lumberyard-employee-dm ! I think this will be merged together with 22.10.0. Can you confirm? @tonybalandiuk

[2022-09-22 09:05] #11254 closed

[2022-09-22 09:09] moraaar commented on #11254
By disabling the default render pipeline when there is an XR system there were no vulkan validation errors anymore.

FYI the very first vulkan validation error about `VUID-VkFenceCreateInfo-flags-parameter`, that error is still reported, it happens internally from the OpenXR library when creating the XR session. The same error happens when running the hello_xr sample from OpenXR library, so it's s

[2022-09-22 09:26] moraaar commented on #11898
@hultonha and I discussed this further and this is the roadmap item that covers this functionality: https://github.com/o3de/o3de/issues/2897
The part 2 of that item covers "Physics MAterial Editor Instance Tool", which will allow to create physics materials directly from the physics components, the same way that it works for the Material Components.

The goal is to unify workflows to make render m

[2022-09-22 12:10] LB-HubertUberman commented on #12011
@amzn-changml I have verified that after setting the environmental variables the version displayed in the affected areas are correct on both Linux and Windows on the latest Stabilization/2210 branch (https://github.com/o3de/o3de/commit/8aa659da364d7fe5f994e192441fbb2b93b0122d).

[2022-09-22 13:03] moraaar opened #12142 "[PC][Quest2] Vulkan validation error: VUID-vkCmdDrawIndexed-renderPass-02684"
**Steps to reproduce**
Steps to reproduce the behavior:
1. Necessary repos:
    o3de/o3de:development https://github.com/o3de/o3de
    o3de/o3de-extras:development https://github.com/o3de/o3de-extras
    aws-lumberyard-dev/o3de-atom-sampleviewer:openxr https://github.com/aws-lumberyard-dev/o3de-atom-sampleviewer/tree/openxr
2. Build editor and launcher on PC on profile with AtomSampleViewer projec

[2022-09-22 14:20] moraaar commented on #12142
I can confirm that this issue also happens in Quest 2 running natively on Android.

[2022-09-22 15:27] amzn-changml commented on #12011
Thanks! I'll go ahead and close this issue as resolved.

[2022-09-22 15:27] #12011 closed, assigned to amzn-changml

[2022-09-22 15:35] #12101 closed

[2022-09-22 15:37] moraaar opened #12145 "Asset Processor to scan '<project>/user/Registry' folder to detect changes in .setreg files"
**Is your feature request related to a problem?
After having the cache generated by Asset Processor, further changes to .setreg files in `<project>/user/Registry` are not picked up by Asset Processor and not baked into `bootstrap.game.profile.setreg`. This seemed like a bug, but after reaching @lumberyard-employee-dm it turned out that AP doesn't scan `<project>/user/Registry` for changes in setre

[2022-09-22 16:18] amzn-leenguy commented on #11873
Need further description @yuyihsu

[2022-09-22 16:32] piotr-zyskowski-rai opened #12147 "Setting cylinder collider radius or height to zero terminates the Editor"
**Describe the bug**
When the cylinder collider radius or length is set to zero, the Editor terminates

**Assets required**
n/a

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a cylinder collider using `createComponent` API and set the length or radius to 0
[code]
2. When executed the `'std::bad_optional_access'` exception will be thrown

Another way to reproduce:
1. Open any pr

[2022-09-22 16:48] amzn-leenguy commented on #10015
It is suggested that instead of implementing a short term solution, we should consider providing a framework to register which tools are open: and then apply a save to all tools. This is a longer term proposition and may require a RFC and larger effort attempt.

We should also create a table and ask each team to fill out how their file saving process works. After this is identified, we should also

[2022-09-22 16:53] amzn-leenguy commented on #9885
UX to confirm to resolve this ticket. Please feel free to create new tickets for any other requested changes mentioned in this thread. (If you want you can add comments here to relate the tickets)

[2022-09-22 17:03] AMZN-Gene opened #12148 "Prefab Editor Crash: Delete and Save New Prefab"
**Describe the bug**
The editor will crash if you delete an old prefab and save a new one with the same name.
I was doing this because my old prefab was totally broken and i just wanted to start one from scratch; it wasn't a viable solution to just push an update to the existing prefab

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Editor.exe
2. Save a prefab named: Player.prefab

[2022-09-22 17:04] #11756 closed

[2022-09-22 17:22] #11746 closed

[2022-09-22 17:23] forkercat commented on #11756
[ Update 9/22 ]

1. For **instantiate-prefab**, verified fixed in both **development** and **stabilization**.
2. For **delete-prefab**, verified fixed in **development** after the rework commit for deletion. But that was before stab cut-off and it is a bit risky to cherry-pick it into stab at this time.

[2022-09-22 17:39] lmbr-pip commented on #12072
Request is valid, as users shouldn't have to write own their own.

As designed, this is in the MultiplayerSample, this would be candidate for starter kit.

Suggestion is to change to a level component so you can have multiple player spawners registered.

[2022-09-22 17:45] lmbr-pip commented on #12137
This maybe valid behaviour, may require a warning that its not callable in OnActivate. Entity activation is generally too early, may need more investigation.

[2022-09-22 17:46] lmbr-pip commented on #12137
Or provide new "ready for network traffic" call.

[2022-09-22 17:46] AMZN-Gene commented on #12137
1. Add a warning if calling RPC too soon
2. Create new a method called "ReadyForNetworkMessages()" so you know when it's okay

[2022-09-22 17:57] AMZN-alexpete commented on #11894
`UiCursorBus` Has the following exposed to Behavior Context:
[code]
That's one possible place to add `SetUiCursorPosition`

[2022-09-22 18:34] monroegm commented on #12100
The fix is no trivial and would risk destabilizing the stabilization branch ahead of the release. Removing from the release milestone.

[2022-09-22 18:38] monroegm commented on #11926
@o3de/sig-graphics-audio Based on the error message, do you think this is a graphics issue?

[2022-09-22 18:43] AMZN-daimini commented on #11956
This is likely the result of this change: https://github.com/o3de/o3de/pull/11300/files
Which removed this line which was causing issues:
[code]

The fix may be as simple as just restoring this function
[code]
or the expand portion of the other one
[code]

[2022-09-22 18:46] monroegm commented on #11921
Related to #8505

[2022-09-22 18:47] monroegm commented on #11921
Rerouting to graphics-audio to look at this first to see if rendering support is there. There may be some overlap with LYShine.

[2022-09-22 18:52] jromnoa opened #12152 "Non-zero return code after test success when running MaterialCanvas automated tests (successes should return exit code 0)."
**Describe the bug**
Exit code 0xc0000005 is being returned from the MaterialCanvas automated tests referencing a crash in C:/git/o3de/Gems/AtomTressFX/Code/Passes/HairGeometryRasterPass.cpp. The tests are not yet merged to our repo but are currently in a PR: https://github.com/o3de/o3de/pull/11915
I may mark the tests skip if the bug is hard to fix or requires substantial time. I can remove the s

[2022-09-22 18:53] cgalvan commented on #11917
Fixed by https://github.com/o3de/o3de/pull/12067

[2022-09-22 18:53] #11917 closed

[2022-09-22 18:54] monroegm commented on #11971
Fixed by #12086

[2022-09-22 18:58] monroegm commented on #11988
@michabr Is this supported behavior?

[2022-09-22 19:06] jackalbe commented on #11926
[code]
There is an AZ_Assert but then the code continues until it hits the m_visualizationModel nullptr. This will result in an instant crash outside the debugger. Right?

[2022-09-22 19:09] AMZN-alexpete commented on #10811
Marking as fixed as the group gem path has been added to the o3de-multiplayersample-assets to address this issue.

[2022-09-22 19:09] #10811 closed

[2022-09-22 20:26] jromnoa commented on #11629
This is fixed once I can merge https://github.com/o3de/o3de/pull/11915

[2022-09-22 20:51] jckand-amzn opened #12155 "Landscape Canvas: Allow for querying if a connection between 2 node slots exist via script"
**Is your feature request related to a problem? Please describe.**
Currently trying to validate an existing terrain spawner setup is graphed properly once its prefab is instantiated into a level and the graph opened. Need a way to query if a connection between 2 node slots exists to validate things are graphed properly.

**Describe the solution you'd like**
Allow for some sort of "IsConnected" fun

[2022-09-22 22:20] dshmz commented on #8251
Build SIG has triaged the issue, SIG will try to re produce it before taking next action as it may not be an issue as of now.

[2022-09-22 22:28] dshmz commented on #8642
Build SIG does not have a way to flag Project Manager, we are assigning it to SIG UI/UX.

[2022-09-22 22:30] dshmz commented on #8707
SIG Build does not own dedicated server, assigning it to SIG Platform.

[2022-09-22 22:36] dshmz commented on #9076
We should not have this Bug now, Build SIG has addressed this issue with a PR to retry it. Closing the issue.

[2022-09-22 22:36] #9076 closed

[2022-09-22 22:38] HogJonny-AMZN opened #12163 "Bug Report"
**Describe the bug**
The GI grid visualization spheres, warp their position incorrectly based on the view, which makes them more difficult to use.
The closer you are to the origin, the more correct their placement, the further away you are the more incorrect their placement becomes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Assumes: project built and a level open
2. Make a fairly

[2022-09-22 22:39] HogJonny-AMZN commented on #12163
![image](https://user-images.githubusercontent.com/23222931/191863615-db9b2dea-924d-472e-b5c0-2550acaf4e1a.png)

[2022-09-22 22:53] dshmz commented on #11316
SIG Build triaged this issue, SIG Build has an RFC for it that we will link with the issue.

[2022-09-23 00:43] amzn-changml commented on #9947
@LB-RostyslavGavryliuk this is the correct behavior under Linux, as all commands require the full path, including any extensions.

We can either drop this, or if we want to be consistent with documentation, we would have to remove the extension from all shell scripts (would break existing build scripts) or symlink extension-less versions

[2022-09-23 02:22] AMZN-daimini commented on #11239
I got a repro this evening, will work on it and post my findings asap.

[2022-09-23 02:39] AMZN-alexpete opened #12166 "Crash in ImageProcessingAtom ImageProcessingSystemComponent::OpenSourceTextureFile"
**Describe the bug**
Somehow when I double right clicked on the asset to open the texture settings `textureSourceID` was invalid which caused a crash in `AssetBrowserEntry::GetFullPath()`

Normally this doesn't crash, but this once randomly it did.  I think the Asset Processor may have been processing the asset when this happened.

Call stack:
[code]
![image](https://user-images.githubusercontent.

[2022-09-23 04:18] pollend commented on #11639
I can look at this if I have some time over the weekend if no one has fixed this by then.

[2022-09-23 04:33] santorac opened #12170 "AtomSampleViewer MultiScene Test Fails"
**Describe the bug**
The screenshot test fails for multiscene.bv.lua

**Assets required**
AtomSampleViewer project

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run AtomSampleViewer
2. Run multiscene.bv.lua test script

**Expected behavior**
All tests pass.

**Actual behavior**
Screenshot test Start_MultiScene2 failed.

**Screenshots/Video**
![image](https://user-images.githubusercon

[2022-09-23 04:35] santorac commented on #12170
This happens on both dx12 and vulkan.

[2022-09-23 05:17] pollend commented on #11639
@ParasiteSt I can reproduce this if I hold right click and then left click.

[2022-09-23 05:24] pollend commented on #11639
here is a stack trace I managed to capture
[code]

[2022-09-23 06:37] vincent6767 commented on #11695
@tonybalandiuk @AMZN-Dk What's the next step for this issue? Are we going to close it?

[2022-09-23 13:21] LB-KacperSzczepanski opened #12172 "Launching Game Mode when script canvas misses script entity crashes the editor"
**Describe the bug**
This issue occurs when moving the script events related to script canvas. If the script canvas is saved with a warning then script event node will not be triggered. Adding this Script canvas to an entity and launching the Game Mode results in Editor crash. The workaround is to keep script events on the same relative path to the root of the project. Please refer to the attached

[2022-09-23 14:22] cgalvan commented on #12079
I've added a fix (https://github.com/o3de/o3de/pull/12174) where you will now be able to use the existing API above to call `WrapNode` on a newly created node and it won't trigger a new entity being created in Landscape Canvas. We no longer need to call `AddNode` before `WrapNode`. There was actually already logic in GraphModel that properly adds the node to the graph when you call `WrapNode` if i

[2022-09-23 14:41] cgalvan commented on #10955
Pollend is correct. In the above screenshot the sample size is too small for the dither to provide something useful. Here I've linked them to a Box Shape that is 10x10x1. The more you increase the size of the shape they are sampling from (or could also do it by increasing the sampling rate), you will get a more granular image.

![DitherExample](https://user-images.githubusercontent.com/7519264/191

[2022-09-23 15:49] AMZN-stankowi commented on #12134
I'd like to explore alternate solutions to this problem.

Right now we're over-committing on critical assets, and we want to do a pass to reduce the number of critical assets.

[2022-09-23 16:04] tonybalandiuk commented on #11695
@lmbr-pip  or @kberg-amzn  - as the sig-network chairs, can you confirm that PR #11755 addresses this and close this issue if so? thanks

[2022-09-23 16:07] lmbr-pip commented on #7837
IMHO we do not want to lean on critical assets as many "critical things" are not marked critical, many things are marked critical when thats not the case. We need to re-look at the need for critical assets and what the system is really trying to achieve (esp in areas where code bypasses the AssetCache).

[2022-09-23 16:08] tonybalandiuk commented on #12059
@AMZN-Phil looks like some condition in GHI behind the scenes is not being met to automatically close this issue upon merge of the PR. I'm closing it.

[2022-09-23 16:08] #12059 closed

[2022-09-23 16:17] #11971 closed

[2022-09-23 16:18] #11549 closed

[2022-09-23 16:19] #11637 closed

[2022-09-23 16:26] gadams3 commented on #8511
@HogJonny-AMZN @santorac @lsemp3d @cgalvan @AMZN-daimini I'm not sure what the priority on this request is. In order to implement the feature, it will require the following:

- additional metadata in the material type source data so that we can specify preferred image file suffixes/patterns
-- we might be able to deduce this data based on the name of the property or group within the context of the

[2022-09-23 16:36] AMZN-Dk commented on #11749
@galibzon There is no priority set on this ticket, are we still tracking this for fixing for the upcoming release 2210?

[2022-09-23 16:39] #12058 closed

[2022-09-23 16:39] AMZN-Dk commented on #11693
@monroegm @AMZN-daimini  this looks like it was duped to https://github.com/o3de/o3de/issues/8019 which has an open PR https://github.com/o3de/o3de/pull/12105 for Stabilization, but the comment on 8019 says the PR only fixes "some of the issues". What's the current status for this?

[2022-09-23 16:41] AMZN-Dk commented on #11851
@monroegm Since you bumped this to critical, is this something we want to target for the Release 2210 build?

[2022-09-23 17:38] HogJonny-AMZN opened #12181 "DCCsi editor bootstrap fails"
**Describe the bug**
The DCCsi needs access to parts of the engine, like 3rdParty python packages.  The DCCsi includes a feature for a settings.local.json for these envar path mappings to be set.  Currently, if this json file doesn't exist, bootstrap will simply fail.

A dev, like me, might have multiple engine builds, might build in a project centric way, or engine centric way;  and may have a no

[2022-09-23 18:37] Ulrick28 commented on #11818
Give the comments I do not feel it is reasonable to expect this for the impending release as there is more research needed and a plan needs to be created. This update (particularly if we move to 6.x) does not appear to be trivial. @tonybalandiuk @AMZN-Dk @lmbr-pip I propose we move this issue out of the release, but work to resolve this asap in the Development branch.

[2022-09-23 18:40] #12079 closed

[2022-09-23 18:52] tonybalandiuk commented on #12006
@vincent6767  I'm not sure.
@chanmosq do you know the process for bringing in a snapshot of the feature grid for the release? Typically it's part of the release notes. @Ulrick28  may know as well.

[2022-09-23 20:05] Kadino commented on #9295
Reassigning this issue back to @o3de/sig-content to determine their preferred course. This is not a bug in the test framework.

[2022-09-23 20:23] AMZN-Dk commented on #11818
No issues with moving this out of the release from me.

[2022-09-23 21:07] #7909 closed

[2022-09-23 22:41] AMZN-Olex commented on #11988
FYI: this is currently blocking the use of SC in UI. And in turns breaks Navigation Sample level in Automated Testing project that tests Recast Navigation gem.

[2022-09-24 04:40] ParasiteSt commented on #10685
I am going to close this issue as I believe I have found what was causing it. I now launch the AP separate from the editor, so I have all assets processed before starting the editor, this seemed to solve any crashing issues that use to happen. This issue could have also been caused by something else totally unrelated as it was a very confusing crash, but it has not happened for a couple months now

[2022-09-24 04:40] #10685 closed

[2022-09-24 04:45] ParasiteSt commented on #9232
@amzn-tommy I noticed this was assigned to you, if you have not started on this it may not be needed as the screen space coverage in the mesh component can do basically what this would be doing, just with a little more adjusting and trial and error. If you feel it could be needed that's great, but I am not sure if it is worth putting the time into as an alternative is already available and works v

[2022-09-24 04:52] ParasiteSt commented on #9696
@Getue
Is this getting closer to what you are looking for?
https://github.com/o3de/o3de/pull/10533
I noticed this PR a while back and remembered about this issue request.

[2022-09-24 04:57] ParasiteSt commented on #11895
Just curious if this has been looked into in case it wants to be prioritized for the stabilization branch. It's not the biggest issue for me right now, but if it does not make it into the stabilization branch or the new release it should hopefully be added to the known issues page on release to let people know that this is an issue.

[2022-09-24 06:26] santorac opened #12191 "Don't Disable Pipelines When Removing Them"
**Is your feature request related to a problem? Please describe.**
When a RenderPipeline is removed from a Scene, PassSystem::RemoveRenderPipeline disables the pipeline's pass tree. If the pipeline is ever used again, it won't do anything (unless it is manually enabled). See https://github.com/o3de/o3de-atom-sampleviewer/issues/519 .

**Describe the solution you'd like**
I'd like this line of code

[2022-09-24 18:19] pollend commented on #11639
seems like its a defect with Qt: https://stackoverflow.com/questions/38458830/crash-after-qgraphicssceneremoveitem-with-custom-item-class

[2022-09-25 19:12] pollend commented on #11521
I wonder if another object above is consuming the event? there is so equally broken behavior with the spinner box. if you try to use the arrow drag your cursor will appear on the far left screen on my machine.

[2022-09-26 03:36] MoMoPF opened #12196 "Bug Report"
**Describe the bug**
In my scene, Foot IK is not that effective when the character is down from the slope that the foot is not fitted along the slope. But it works well when the character is up along the slope. This maybe not a bug but how could I improve it?

**Steps to reproduce**
Steps to reproduce the behavior:

1. Open the engine, create a new Level, create a new inclined plane and a bumpy gr

[2022-09-26 03:59] AMZN-Gene opened #12198 "Multiplayer: sv_isTransient Doesn't Shut Down Dedicated Server"
**Describe the bug**
sv_isTransient true should shut down the dedicated if all existing connections disconnect, but it doesn't

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open ServerLauncher.exe
2. Set sv_isTransient true
3. Open and connect a client using your favorite method. Ex: open ImGui [home] > Multiplayer > Launch Local Client
4. Open the client console (~) and run the Disc

[2022-09-26 11:00] #11904 closed

[2022-09-26 11:12] etherealchain commented on #11792
Update
I did a simple experiment to test the impact of shader variant on registers
Here is the full list
![image](https://user-images.githubusercontent.com/4178768/192258831-7e23c63c-f213-4ae0-83cb-8df91118221e.png)

With full baked the PS register is 128, and root variant is 168
First I test on delete variant one at a time, but there is not much difference on register number,
usually they stay th

[2022-09-26 11:45] MoMoPF commented on #12196
I read the algorithm in BlendTreeFootIKNode.cpp and notice that maybe this algorithm should be applied to the skeleton where the foot and the toe are in the same height as follow SKELETON 1.
              A     ----upper leg
              |
              |
              B     ----knee
              |
toe         |
  D------C     ----foot
     SKELETON 1

However, my skeleton is like follow SKELETO

[2022-09-26 12:03] MoMoPF commented on #12196
I'm confused about this part when calculating foot rotation after setting foot node to the target position.
From my understanding about it , in the condition that foot node is below the surface that we do raycast to while toe node is not, the toe position will minus an offset determined by height difference of foot and toe in bind pose(line 460) after set onto the surface (line 458 and line 459).

[2022-09-26 13:08] zhangbaochong commented on #7203
[code]
why `distanceToOneMin` also calculate the `texCoord.z`,  if just use `distanceToOneMin = min(1.0f - texCoord.x, 1.0f - texCoord.y);`, there is not the invalid shadow issue.

[2022-09-26 13:21] hultonha commented on #11619
This issue has been resolved thanks to the fix by @michabr

[2022-09-26 13:21] #11619 closed

[2022-09-26 14:09] LB-TomaszSerwanski commented on #11971
The issue verified as Fixed in Stabilization/2210 (7fa9f5d), however it still occurs in Development (6b9465d).

[2022-09-26 14:09] LB-TomaszSerwanski commented on #7909
The issue verified as Fixed in Stabilization/2210 (7fa9f5d), however it still occurs in Development (6b9465d).

[2022-09-26 14:26] HogJonny-AMZN opened #12200 "Editor Camera Bookmarks Need an Update on 'Save as...' New Level"
**Describe the bug**
When you take your current level and 'Save as..'' a new level, the new level will still reference the original levels camera bookmark setreg.  There is no way to flush and/or generate a new unique camera bookmark file (this should probably be done during the save as?)

**Assets required**
Any project, any level.

**Steps to reproduce**
Steps to reproduce the behavior:
1. With

[2022-09-26 15:09] hultonha commented on #8268
Thanks for reporting this @LB-ArturZieba. I wonder if this is something @pollend might want to have a little look at as I know they worked on this in the past. It could be the offset distance we move the polygon highlight from the face is a little too small (or maybe we could get around it by another trick). Tagging @rgba16f for visibility too if they have any ideas.

[2022-09-26 15:39] hultonha commented on #11703
Hi @amzn-tommy, we just wanted to check if there was any update on this issue of an ETA (or date for a date - DFAD) on when there might be a resolution? Thanks!

[2022-09-26 15:42] rgba16f commented on #8268
@hultonha where is the drawing code for this?

[2022-09-26 16:08] galibzon commented on #4971
Thanks @junbo75 , looking good now!

[2022-09-26 16:08] #4971 closed

[2022-09-26 16:36] pollend commented on #8268
We need to do something different. I don't think adding an offset is a great solution.

[2022-09-26 16:38] cgalvan commented on #11802
Verified this is fixed by https://github.com/o3de/o3de/pull/12085

[2022-09-26 16:38] #11802 closed

[2022-09-26 17:14] AMZN-Olex commented on #11988
Something fixed it since last week. Win!

[2022-09-26 17:14] #11988 closed

[2022-09-26 17:16] santorac commented on #11792
That's really interesting. I would do some extra testing around the thresholds where you saw the register counts jump considerably. I wonder if there is significance to those particular registers. In the blue box, the threshold is around directional light shadow options, which is not surprising, I think remember someone else saying they noticed shadow filtering having a significant impact on regis

[2022-09-26 17:27] santorac commented on #11792
I would also recommend doing a test to make sure that code optimization is working the way we want. The variant system assumes that DXC's dead-code-elimination will remove the code for baked shader options. But if this assumption is wrong for some reason, and DXC isn't doing all the optimization we expect, this could cripple the benefit of the variant system.

Here is how I would test that: Start

[2022-09-26 18:14] chanmosq commented on #12006
@vincent6767 The instructions here might help: https://github.com/o3de/community/tree/main/features

[2022-09-26 18:54] hultonha commented on #8268
I believe this is the Manipulator View for polygons. I'll lookup the file tomorrow sorry, don't have access to it right now @rgba16f

[2022-09-26 20:02] ParasiteSt commented on #11895
Thanks @greerdv, that worked like a charm.

[2022-09-26 20:08] jckand-amzn commented on #11616
On stabilization@ 6f65b80fc0caa26ae83a38152621037169ed6924, I'm able to see information on the Curve Editor while both docked/undocked. There do appear to be missing icons above the Curve Editor graph area, however I can add/manipulate keys on curves in the Editor without issue.

![image](https://user-images.githubusercontent.com/82226555/192370109-272fd421-340d-4134-8ebe-354116627d6c.png)

The be

[2022-09-26 20:49] AMZN-daimini commented on #11693
Fixed in stabilization by https://github.com/o3de/o3de/pull/12105

[2022-09-26 20:49] #11693 closed

[2022-09-26 21:02] forkercat commented on #11748
Fixed in stabilization/2210

[2022-09-26 21:03] byrcolin commented on #11939
Dupe of https://github.com/o3de/o3de/issues/11942

[2022-09-26 21:03] #11939 closed

[2022-09-26 21:34] lumberyard-employee-dm commented on #11825
This sounds like some gem is required by the prefab system that is missing.

[2022-09-26 21:53] eyedoteye opened #12208 "Visual-nodes with data out flicker on first hover-over by cursor."
**Describe the bug**
Visual-nodes with data out flicker on first hover-over by cursor.

**Assets required**
No assets required. Occurs with any visual script.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Drag a 'Multiply By Number' node or any node with a data out.
2. Deselect nodes.
3. Hover over node.
4. The node width will flicker.

**Expected behavior**
Visual nodes should not f

[2022-09-26 21:55] monroegm commented on #12148
Duplicate of #2376

[2022-09-26 21:56] jckand-amzn opened #12209 "Track View: New sequences cannot be created"
**Describe the bug**
New sequences cannot be created.

**Steps to reproduce**
1. Launch the Editor, and open a new or existing level.
2. Open Track View.
3. Click the New Sequence button, and name the sequence.

**Expected behavior**
A new entity is added with a Sequence component, and the new sequence is opened in Track View.

**Actual behavior**
A new entity with the sequence name is created, ho

[2022-09-26 23:09] ParasiteSt commented on #12208
This issue has been solved, and will be in the new upcoming release.
Here is the PR : https://github.com/o3de/o3de/pull/10952

[2022-09-26 23:44] Kadino commented on #12073
What tests are defining this dependency? Are these tests inside the Python interpreter's cache of third party dependencies?

It may be more appropriate to add/update the pytest.ini to prevent collecting these tests by default, depending on where they live.

[2022-09-26 23:46] Kadino commented on #12073
I believe this is now showing up due to the python version update not including an update to https://github.com/o3de/o3de/blob/development/pytest.ini#L11

[2022-09-26 23:47] spham-amzn commented on #12073
I was unable to find this module referenced anywhere in the code

[2022-09-26 23:53] spham-amzn commented on #12073
Good catch. Do we need to add that norecurse in pytest.ini at all?

[2022-09-26 23:54] Kadino commented on #12073
Commented on the PR what I believe the correct change is: `python/runtime` instead of `python/3.10.5`

[2022-09-27 05:57] vincent6767 commented on #12034
Hi @byrcolin @RoddieKieley, are there any updates?

[2022-09-27 05:57] vincent6767 commented on #12036
Hi @lmbr-pip @kberg-amzn Are there any updates?

[2022-09-27 06:01] vincent6767 commented on #12031
Hi @monroegm and @lsemp3d , are there any updates?

[2022-09-27 06:01] vincent6767 commented on #12032
hi @dshmz @amzn-changml , are there any updates?

[2022-09-27 06:02] vincent6767 commented on #12005
Hi @rainbj and @yuyihsu, are there any updates?

[2022-09-27 06:07] vincent6767 commented on #12006
Thanks @chanmosq ! I'll share this with the SIG members.

[2022-09-27 08:44] lgleim opened #12217 "Conditional jump or move depends on uninitialised value(s) in HphaSchema.cpp"
**Describe the bug**
Running valgrind on the O3DE `./Editor` binary yields

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the `Editor` target
2. run `valgrind ./Editor`
3. observe warnings

**Expected behavior**
Conditionals should not depend on uninitiated memory

**Actual behavior**
Conditional depends on uninitialized memory

**Found in Branch**
stabilization/2210 @ b

[2022-09-27 09:03] LB-TomaszSerwanski commented on #11904
The issue verified as Fixed in Stabilization/2210 (b83f535), however it still occurs in Development (134fe32).

[2022-09-27 09:05] #12209 closed

[2022-09-27 09:24] hultonha commented on #11444
Thanks for the info @rainbj, I am pretty certain the change from @jonawals resolves this ambiguity and follows the pattern you described. Could you please confirm @jonawals? Thanks!

[2022-09-27 10:57] LB-JakubSkoczylas opened #12219 "UI Editor: Manipulation of keys can crash the Editor"
**Describe the bug**
Keys that are removed in Curve Editor and added again in Track Editor may crash the Editor when modified.

**Steps to reproduce**

1. Open UI Editor.
2. Add an Empty Element.
3. Create a new sequence.
4. Add the Element to the sequence.
5. Enable recording and move the Element to create Offset nodes.
6. Switch tab to Curve Editor.
7. Double-click all keys to make them disappea

[2022-09-27 11:07] lgleim commented on #12217
Running valgrind with `--track-origins=yes` flag on the current `development` branch @ 134fe3294980adba88d8df6f8e437099889dd0f3 yields

[code]

This error is raised over a hundred times just during launch of the Editor

[2022-09-27 11:33] jonawals commented on #11444
I can confirm having manually tested on commit `b83f5351b8009b76da62aba23b96ca2ce1b5915b` (latest stab branch at time of writing) that these changes are in and behaving as described by @rainbj

[2022-09-27 11:39] jonawals commented on #11444
https://user-images.githubusercontent.com/77458631/192515601-110e9fb1-9368-4324-ac55-c2b327fcb849.mp4

[2022-09-27 11:42] hultonha commented on #11898
Thanks very much for the update @moraaar :+1:

[2022-09-27 12:33] LB-TomaszSerwanski opened #12221 "Adding the White Box component to an entity for the first time crashes the Editor"
**Describe the bug**
The Editor crashes after the White Box component is added to an entity for the first time on a project.
Please note that the crash does not occur after launching the Editor again on the same project.

Please refer to the attached video and log files for more details.

**Steps to reproduce**
1. Create and build a new project.
2. Launch the Editor and create a new level.
3. Crea

[2022-09-27 13:06] greerdv commented on #5203
The white box collider generates a triangle mesh, which can't be added to a dynamic PhysX rigid body.

The white box collider was made incompatible with the rigid body component to prevent that scenario in https://github.com/o3de/o3de/pull/10397

[2022-09-27 13:06] #5203 closed

[2022-09-27 13:06] LB-TomaszSerwanski opened #12222 "Projects with the same name as a Gem included in the engine fail to build"
**Describe the bug**
It is possible to create a project named the same as the Gems included in the engine (i.e. *PhysX*, *Whitebox*, *AWSCore*). This results in a failure during the project building process.

Please refer to the attached video and example log files for more details.

**Steps to reproduce**
1. Open Project Manager.
2. Create a new project named after one of the gems included in the

[2022-09-27 13:39] LB-KacperSzczepanski commented on #11972
Issue verified as Fixed in build Stabilization/2210 (b83f535).

[2022-09-27 14:50] hultonha commented on #8268
@rgba16f The code to draw the polygon is in `WhiteBoxManipulatorViews.cpp` (see `ManipulatorViewPolygon::Draw`). This is where the drawing code actually happens. The code to create the manipulator view is in `WhiteBoxPolygonTranslationModifier`, see line `306`

[code]

This was added in an attempt to try and improve the z/depth fighting problem. We didn't used to have this problem with the old ren

[2022-09-27 15:31] pollend commented on #8268
it looks like its still z-fighting. umm I think we need to do something different. I know this can be easily done with a shader and using the depth buffer to determine the face.

[2022-09-27 15:35] hultonha commented on #12221
@LB-TomaszSerwanski would it please be possible to quickly test this with EditorModeVisualFeedback disabled (this can be done in the settings registry). Let me know if you need instructions on how to do this.

@jonawals will be taking a look shortly

[2022-09-27 15:47] HogJonny-AMZN opened #12224 "BasePBR, StandardPBR, Sometimes BaseColor (swatch and textures) Do Not Update"
**Describe the bug**
Adding a BaseColor value, or texture, sometimes may not visually update correctly for a material open in the MaterialEditor, while authoring the material data.  I have seen this with both BasePBR and StandardPBR.

Steps to reproduce the behavior:
1. create a BasePBR material
2. add basecolor map texture

See video
![MaterialEditor_TxeRqzalfC](https://user-images.githubusercont

[2022-09-27 15:50] AMZN-Gene opened #12225 "Prefab Can't Be Edited After Adding a Required Component Service"
**Describe the bug**
If a prefab contains a component, and then that component is updated to require a new service, the prefab becomes un-editable. Users must delete the prefab, and create a new one.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new component
2. Add the new component to an entity and create prefab
3. Update the component to require a new component service
[c

[2022-09-27 16:16] #10662 closed

[2022-09-27 16:25] jonawals commented on #12221
Fixed here: https://github.com/o3de/o3de/pull/12226

[2022-09-27 16:30] HogJonny-AMZN opened #12227 "BaseColor incorrect"
**Describe the bug**
Something seems fishy with this BaseColor value

StanrdardPBR, with Basecolor color swatch value: #323333
- this values sampled from a texture in photoshop
- the color swatch preview looks correct, the material visual preview does not
- closing and reopening does not correct this
![image](https://user-images.githubusercontent.com/23222931/192574240-ad2ad1ee-058b-41c6-ab57-3aa8

[2022-09-27 16:37] AMZN-daimini commented on #12219
Call stack:
[code]

Crash:
![image](https://user-images.githubusercontent.com/82231674/192584707-659a7249-abd1-4cd1-a8d8-d0bc2bd7b26c.png)
![image](https://user-images.githubusercontent.com/82231674/192584849-32e123d1-1fca-4b9e-9ff8-8110849933ed.png)

[2022-09-27 16:47] HogJonny-AMZN commented on #2980
@Jackie9527 can we get a screenshot or video of the different?

[2022-09-27 16:58] HogJonny-AMZN commented on #12227
![MaterialEditor_tKT269jGiR](https://user-images.githubusercontent.com/23222931/192588780-fe03311f-b81d-4dc1-aeb8-13110aa62d6b.gif)

In this case here ....
the color swatch preview value closely matches the texture preview value
they are slightly different, so there may be a rounding error?
![image](https://user-images.githubusercontent.com/23222931/192589116-3dce4032-22a5-49f7-af60-649e9fbb1d1b.p

[2022-09-27 17:01] HogJonny-AMZN commented on #12227
just the previews alone in sRGB screenspace, are slightly different

the preview for the color swatch is
![image](https://user-images.githubusercontent.com/23222931/192589796-8e10b19f-c5d9-4fb2-be55-ba16ba5eef45.png)

the color for the texture preview is
![image](https://user-images.githubusercontent.com/23222931/192589871-ebd8f64a-4db8-4a20-b1eb-74afce5b3563.png)

This indicates that it's possibl

[2022-09-27 17:01] amzn-changml commented on #12032
Hi, there are no current updates for this release. All current work are bug fixes or cross-cutting initiatives not directly related to the SIG-Build roadmap. I will close issue and move it to done.

[2022-09-27 17:01] #12032 closed

[2022-09-27 17:05] HogJonny-AMZN commented on #12227
The texture preview color is correct, see this image below the where I sample the texture value directly in photoshop.
This indicates that in fact color value conversion with the color picker / color swatch is where the error is introduced.

![image](https://user-images.githubusercontent.com/23222931/192590926-d617615d-7aac-4b2a-aa8c-6867d4055473.png)

[2022-09-27 17:06] HogJonny-AMZN commented on #2980
https://github.com/o3de/o3de/issues/12227

I think this is the same issue based on your description, please verify.

[2022-09-27 17:15] galibzon commented on #12087
Assigned to @hultonha for further assignment within his team.

[2022-09-27 17:25] #12073 closed

[2022-09-27 18:09] moudgils commented on #9399
After discussing with Akio here is the new proposed solution

Tier 1 - We can do this right now to address this issue
 - PAL-ify the shader for Android to use non-linear sampler. This will afffect all android devices.

Tier 2 -

- Add support within Azslc that gives us reflection data related to textures used by a sampler
- At runtime during PSO creation time we get the formats associated with the

[2022-09-27 18:15] galibzon commented on #12227
Changed priority to critical. Assigned to @santorac and @gadams3 to start investigating in parallel if it’s an issue in the Material System or in the Material Editor.

[2022-09-27 18:56] amzn-leenguy commented on #10662
🎉

[2022-09-27 19:49] dmcdiarmid-ly commented on #11926
The visualization model is a critical asset, which is why the code is written that way.  The model must be there when the Editor starts.

Based on these AssetManager warnings, it appears there is a problem with the model in the build:

[Warning] (AssetContainer) - Error loading asset {94A0878A-DBD6-5B0E-994E-BEB870442F9F}:0[Warning] (AssetContainer) - Error loading asset {96CFA695-08D7-59EB-AA3E-8

[2022-09-27 20:24] NeilGitGud opened #12231 "Bloom postfx component has a harsh cutoff"
**Describe the bug**
Bloom postfx component has a harsh cutoff

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Select attached asset '...'
4. Scroll down to '...'
5. See error

**Expected behavior**
Normal camera's allow you to control the camera aperture F-stop in 1/3 stop values from F0.7 to F22 (de

[2022-09-27 20:30] NeilGitGud opened #12232 "Depth of field aperture control is too coarse"
**Describe the bug**
Depth of field aperture control is too coarse

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**

1. Steps to reproduce the behavior:
2. Create a new level
3. Add an Entity
4. Add a PostFX layer and depth of field components to the entity.
5. Modify the Aperture f control value

**Expected behavior**
Normal camera's allow you to control the camera ape

[2022-09-27 20:33] NeilGitGud opened #12233 "Sky Atmosphere component reports errors in console when is added to entity"
**Describe the bug**
Sky Atmosphere component reports errors in console when is added to entity

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files) or as a link to a public asset in Github.

**Steps to reproduce**
1. Launch

[2022-09-27 20:36] NeilGitGud opened #12234 "Stars component needs more informative tooltips"
**Describe the bug**
Stars component needs more informative tooltips

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch Editor
2. Create an entity
3. Add a "Stars" component to your entity
4. Hover over and of the comonent property names

**Expected behavior**
Detailed tooltip appears

**Actual behavior**
Tooltip just repeats nam

[2022-09-27 20:41] NeilGitGud opened #12236 "PostFX Layer: Tags for Excluded Camera do not work"
**Describe the bug**
User cannot exclude cameras using tags from Excluded Cameras option in the PostFX Layer component. For further information please refer to the attached video.

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:

1. Create a new level.
2. Add a Tag to the Camera entity.
3. Give the Tag a name.
4. Create a new entity.
5.

[2022-09-27 20:45] NeilGitGud opened #12237 "Material Editor: Lights' properties change to odd values when adding lighting settings preset"
**Describe the bug**
In the Material Editor after addition of a Lighting Settings preset the existing lights change properties to odd numbers; afterwards, the lights are no longer visible in the viewport even if the user changes the values to more realistic ones.

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Material Editor.
2

[2022-09-27 20:57] NeilGitGud opened #12238 "Sky Atmosphere component has lighting glitches"
**Describe the bug**
After adding the Sky Atmosphere component to an entity, and viewing the planet from afar, visual glitches on the surface of the atmosphere can be observed. These glitches do not appear when viewing the atmosphere from below.

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:

1. Launch the Editor and create a new level

[2022-09-27 21:00] NeilGitGud opened #12239 "In Stencil sample Stencil buffer is rendering incorrect colors"
**Describe the bug**
In Stencil sample, triangle in top-left corner is constantly white, other triangles are fully colored. This is inconsistent to the expected behavior

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files) or

[2022-09-27 21:03] NeilGitGud opened #12240 "AtomSampleViewer: RHI/BindlessPrototype sample crashes when changing its debug options after the sample is reopened"
**Describe the bug**
Reopening the RHI/BindlessPrototype sample and changing any of its debug options leads to a crash. Please note that the same issue occurs on Linux.

For further information please refer to the attached video. No crash log is created.

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:

1. Launch AtomSampleViewerStandalo

[2022-09-27 21:06] NeilGitGud opened #12242 "[Linux] Assets fail to load in MaterialHotReloading sampleBug Report"
**Describe the bug**
On Linux OS, the MaterialHotReloading sample launched in AtomSampleViewerStandalone fails to load assets.
At the top of the right sidebar the "Waiting for assets" message is displayed constantly.
Each asset listed under previously mentioned message have "Status: Unknown".

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavi

[2022-09-27 21:09] NeilGitGud opened #12243 "[Linux] "Switch Texture" button is missing in StreamingImage sample"
**Describe the bug**
[Linux] "Switch Texture" button is missing in StreamingImage sample

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch AtomSampleViewerStandalone
2. Navigate to Samples -> RPI -> StreamingImage.

**Expected behavior**
"Switch Texture" button is functional and present under "Hot Reload Test" text.

**Actual be

[2022-09-27 21:11] santorac opened #12244 "Asset Processor Should Skip Building Downstream Dependencies After Error"
**Is your feature request related to a problem? Please describe.**
I often see people ask for help about a failed asset, and I look at the log and it says it failed to load some other asset. So I have to ask the person to go look for errors about that other asset. Sometimes even that other asset failed because it couldn't load a _third_ asset and I have to direct the person to go look at _that_ lo

[2022-09-27 21:14] NeilGitGud opened #12245 "[Linux] AtomSampleViewerStandalone crashes after switching to visualizer in CPU Profiler"
**Describe the bug**
In AtomSampleViewerStandalone, opening the CPU Profiler and switching to visualizer causes the AtomSampleViewerStandalone crash.

Note that this issue did not occur on Windows OS.

Please note that no logs are generated after the crash.

**Assets required**
 - Editor.exe built and running

**Steps to reproduce**
Steps to reproduce the behavior:
1. Launch AtomSampleViewerStanda

[2022-09-27 21:20] NeilGitGud opened #12246 "AtomSampleViewer: Shader Metrics and Toggle Full Screen options missing from the View menu"
**Describe the bug**
AtomSampleViewerStandalone is missing the Shader Metrics option on Windows and both the Shader Metrics and the Toggle Full Screen options are missing from Linux.

According to Step 3 in the test case the options mentioned above should be present.

Please refer to the attached screenshots for more information.

**Assets required**
 - AtomSampleViewer.exe built and running

**St

[2022-09-27 22:10] tonybalandiuk commented on #11825
is this a major or a critical? it has both labels

[2022-09-27 22:22] forhalle opened #12247 "TEST ISSUE - WILL DELETE"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching

[2022-09-27 22:27] srikappa-amzn commented on #11737
PR https://github.com/o3de/o3de/pull/12184/files fixes this issue but it does it in a brute-force approach that can have performance issues down the lane.

This can also be solved by simply removing [these lines](https://github.com/o3de/o3de/blob/bb8971a3addd11eb803cebb1287f9741c2ece612/Code/Framework/AzToolsFramework/AzToolsFramework/UI/Outliner/EntityOutlinerSortFilterProxyModel.cpp#L48-L51) . B

[2022-09-27 22:33] #12247 closed

[2022-09-27 22:33] forhalle opened #12248 "TEST 2 - WILL DELETE"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching

[2022-09-27 22:34] HogJonny-AMZN opened #12249 "Exposure Component Inconsistant In/Out of Game Mode"
**Describe the bug**
Entering game mode does not apply the same exposure as my camera view and exposure applied in editor when wysiwyg editing PostFX. (Does this mean the editor view is wrong, or the game view?)  When I exit game mode, the exposure is not restored.  If I disbale the exposure control component, then re-enable it, the exposure is restored.

In Editor Live Tweaking
![Editor_THTyuJZpU

[2022-09-27 22:45] #12248 closed

[2022-09-27 22:51] HogJonny-AMZN opened #12250 "Storage of a favorites' collection for component settings, and retrieval of a favorite to apply those settings."
**Is your feature request related to a problem? Please describe.**
Some PostFX component such as 'HDR Color Grading' have many settings and are 'look based', however there is no way to store a collection of looks for easy access to apply them to other levels.

**Describe the solution you'd like**
A way to store a specific component's settings as a 'favorite' (serialize the settings somewhere in a

[2022-09-27 22:55] Kadino commented on #10346
This is blocking multiple failure investigations per week, including those in Stabilization.

[2022-09-27 22:57] amzn-mike commented on #11926
The resource builder is not marking its jobs as critical, that would explain why these aren't ready:

[code]

[2022-09-27 23:35] jeremyong-az commented on #11792
@etherealchain I have a few suggestions to help your workflow here.

First, I suggest downloading a recent RGA release (link: https://gpuopen.com/rga/#download). Installed with RGA is an `rga.exe` executable which may be used to compile shaders directly to AMD's ISA (you specify the asic), which can then be used to determine the register count. Note that an AMD card and driver are _not needed_ to

[2022-09-27 23:49] amzn-leenguy commented on #12005
I have updated this @vincent6767 sorry for the delay!

[2022-09-27 23:53] HogJonny-AMZN commented on #12227
One of the issues in thi ticket, is isoltaed in this ticket (having to close, reopen a material to update visuals):
https://github.com/o3de/o3de/issues/12224

[2022-09-27 23:59] AMZN-alexpete commented on #12238
@NeilGitGud Do you still see this issue when you update the `Mie exponential distribution` and `Rayleigh exponential distribution` to be within the new atmosphere height of .01 km?  Those numbers dictate the height in the atmosphere where the respective scattering types reach a falloff in their distributions, so having them be way outside the atmosphere height might be contributing to the error.
A

[2022-09-28 03:23] smurly opened #12253 "[Linux] ./Atom/tests/hydra_AtomEditorComponents_ReflectionProbeAdded.py fails in undo/redo intermittently"
**Describe the bug**
ReflectionProbeAdded test fails about 50% of the time on LInux Ubuntu

**Assets required**
[!Important!] Please provide sample assets needed to reproduce the issue, either as an [attachment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files) or as a link to a public asset in Github.

**Steps to reproduce**
Steps to reprod

[2022-09-28 06:14] amzn-changml opened #12257 "Building O3DE on VS2022 slower than VS2019 depending on configuration"
**Describe the bug**
If a build that previously was running with code and artifacts from VC142 (Visual Studio 2019's C++ compiler) is switched to VC143 (Visual Studio 2022's compiler) on the same machine, there may be unexpectedly longer build times. This is inconsistent from build to build, however.

**Assets required**
O3DE code base from the Development branch

**Steps to reproduce**
Steps to r

[2022-09-28 06:29] amzn-changml commented on #12257
I've gotten some reports that this does not *appear* to affect project build times, but it's anecdotal evidence at best

[2022-09-28 06:35] santorac commented on #12224
I am able to repro this issue and I see that it is accompanied by the following error messages...
[code]

[2022-09-28 06:38] santorac commented on #12224
There is an issue in the Asset<T>(Asset<U>) copy constructor which is used in Material::SetPropertyValue. If the AssetData is valid, then it will get the actual asset type ID from the AssetData. However, if it is null then it will continue using the original type ID. The InstanceDatabase will end up asking the AssetManager for the asset using the wrong type (ImageAsset).

I will implement a workar

[2022-09-28 08:45] moraaar commented on #8896
Closing this since https://github.com/o3de/o3de-atom-sampleviewer/issues/408 was closed too.

[2022-09-28 08:45] #8896 closed

[2022-09-28 08:47] LB-TomaszSerwanski commented on #12221
@hultonha yes, disabling the EditorModeFeedback in setreg file fixes the issue. Will verify again with the default settings once the above PR has been merged into the branch.

[2022-09-28 09:00] moraaar commented on #7314
This issue seems pretty old. I tested this today with the latest code, the editor didn't crash when clicking on Reload and the o3de icons were present.

@LB-TomaszSerwanski can you verify and close the bug if it doesn't reproduce anymore please? Thanks.

[2022-09-28 09:01] moraaar commented on #3881
@LB-TomaszSerwanski this bug seems pretty old. Could you please verify this issue still happens? Thanks.

I tested this today with the latest code and all the o3de icons were present. I didn't try with the installer though.

[2022-09-28 09:30] moraaar commented on #9398
I debugged this and the buffer size it's complaining about is controlled by the CVAR `r_skinnedMeshInstanceMemoryPoolSize` in `SkinnedMeshOutputStreamManager.cpp`. I tested to change the default value from 256MB to 128MB and that fixed the issue.

After discussing with @moudgils and @amzn-tommy we are going to address this in 2 steps:

1. To fix the issue now, we're going to PAL-ify the max buffer

[2022-09-28 09:50] etherealchain commented on #11792
I think I can confirem dead-code-elimination is working correctly by following test:
This form shows the result of vgpr with different lighting option and material setting
The test is done with shader variant list fully baked
image

And when I manually remove code in ApplyDirectLighting, I also get a vgpr count = 57

[2022-09-28 10:16] etherealchain commented on #11792
But in the case of o_directional_shadow_filtering_method, I did get a smaller vgpr count = 124, when I remove GetVisibilityFromLightNoFilter(), GetVisibilityFromLightEsm() and GetVisibilityFromLightEsmPcf() manually.

[2022-09-28 10:31] etherealchain commented on #11792
In the case of parallax mapping, it's more difficult to find all the code that should be deleted, but I havn't get a smaller vpgr value so far.

[2022-09-28 10:43] LB-TomaszSerwanski commented on #3881
Hi @moraaar, I have verified that the icons are in fact present on the source engine build, however, are still missing on the pre-built SDK.

[2022-09-28 10:49] LB-TomaszSerwanski commented on #7314
@moraaar I have verified that the issue still occurs on both Source as well as the Pre-built SDK engine, however it now requires an extra step. The modified reproduction steps are as follows:

1. Build the Pre-built SDK Engine using the [official guide](https://www.o3de.org/docs/welcome-guide/setup/setup-from-github/building-windows/).
2. Create a new Project (either a Standard Template or with al

[2022-09-28 11:05] hultonha commented on #12221
Awesome thank you @LB-TomaszSerwanski, I've just merged the branch (https://github.com/o3de/o3de/pull/12226) so hopefully you should be able to verify shortly. Thanks!

[2022-09-28 12:13] LB-ArturZieba opened #12258 "Set Property Value Script Canvas node does not accept common variable types"
**Describe the bug**
Set Property Value (Render > Material Component Request Bus) Script Canvas node does not accept any common variable types onto it's "Property Value" slot. When attempting to do so the following warning is shown on the tooltip:
[code]
It should be noted that converting the pin to Reference does not recognize common variable types as valid options (the selection dropdown remains

[2022-09-28 12:49] galibzon opened #12259 "Bug Report: Lua Editor (LuaIDE.exe) Can't Connect With Editor.exe For Debugging"
**Describe the bug**
Can not debug Lua scripts because LuaIDE.exe can not connect to the running Editor instance.

**Assets required**
Any level that contains a Lua script.

**Steps to reproduce**
1. Open a level that has an entity with a Lua script component with a valid Lua script.
2. From the Lua script component open the Lua Editor.
3. From the Lua Editor try to connect to the Editor.

**Expec

[2022-09-28 12:57] moraaar commented on #9398
That's awesome @akioCL! Great to know, thanks! I'll check that out.

[2022-09-28 13:05] LB-TomaszSerwanski commented on #12221
@hultonha, unfortunately, the crash still occurs on the latest Stabilization/2210 (943ea1f) with exactly the same logs (attaching them again just in case). I double checked that the changes from the #12226 are in fact present in the build.

[Editor.log](https://github.com/o3de/o3de/files/9665199/Editor.log)
[error.log](https://github.com/o3de/o3de/files/9665200/error.log)
[error.zip](https://githu

[2022-09-28 13:11] LB-ArturZieba opened #12260 "Color variable type accepts 0 - 255 channel values but returns 0 - 1 values"
**Describe the bug**
Color variable value is selected using the color picker, or typing in a value similar to Vector3 (x,y,z), where all numbers have a range of 0 - 255. When returning this value to a different node it is interpreted as a 0 - 1 value range, which can make it confusing to the end user.

It should be noted that this issue can be related to https://github.com/o3de/o3de/issues/8622.

[2022-09-28 14:02] LB-ArturZieba opened #12261 "Basic math operation Script Canvas nodes interact inconsistently with Color type variables"
**Describe the bug**
Different basic math operation nodes (*Add (+)*, *Subtract (-)*, *Multiply (\*)* and *Divide (/)*) interact inconsistently if the variable used in their Value pins is of Color type.

Interactions are as follows:
* *Add (+)* and *Subtract (-)* nodes print errors to the Console (as can be seen on the attached Editor.log in the **Video, Editor.log and Script Canvas graph** sectio

[2022-09-28 14:24] hultonha commented on #12221
Thanks for the update @LB-TomaszSerwanski, can you please look into this again @jonawals, it seems like this is still causing a problem. Thanks!

[2022-09-28 14:25] hultonha commented on #12221
@LB-TomaszSerwanski I just caught up with @jonawals and as the stabilization branch is red it's possible you don't have the latest build with this change (unless you built from source?) Can you please confirm? Thanks!

[2022-09-28 14:58] hultonha commented on #11311
PR https://github.com/o3de/o3de/pull/12041

[2022-09-28 15:01] robhaco commented on #12259
@galibzon I'm trying to repro this, but wanted to confirm. Debugging with Lua requires the Remote Tools Connection gem to be enabled, and the AutomatedTesting project doesn't have it enabled by default.  Was this gem enabled?

[2022-09-28 16:37] tonybalandiuk commented on #11818
Agree on moving this out. I'm removing it from the 2210 milestone.

[2022-09-28 16:37] santorac commented on #12227
I thinks issue is a duplicate https://github.com/o3de/o3de/issues/11166

[2022-09-28 16:51] santorac commented on #3736
I think this is duplicate: https://github.com/o3de/o3de/issues/2980

[2022-09-28 16:52] santorac commented on #2980
Actually I don't think so, I think this is a duplicate of https://github.com/o3de/o3de/issues/3736 which is the cause of #12227

[2022-09-28 17:07] amzn-tommy commented on #11703
I'm working on a fix now. We should be able to use the aabb from the model, but there is an issue that's causing the original model aabb to be transformed incorrectly, which I'm trying to track down.

[2022-09-28 17:08] michleza opened #12262 "Python: QToolButton name for delete icon is blank"
**Describe the bug**
The name of the delete button in the Asset Editor row hierarchy for Script Events is a blank string ( "").

**Steps to reproduce**
Steps to reproduce the behavior:
1. navigate to a automated python test that uses the delete button in the asset editor UI.
AutomatedTesting\Gem\PythonTests\EditorPythonTestTools\editor_python_test_tools -> QtPyAssetEditor is a good example
2. Scri

[2022-09-28 17:20] monroegm commented on #11825
@tonybalandiuk It is supposed to be a critical. Fixed.

[2022-09-28 17:25] moraaar commented on #3881
Thanks for confirming @LB-TomaszSerwanski.

@byrcolin is sig/content still the right SIG for issues on pre-built SDK?

Tagging @jjjoness and @amzn-leenguy

[2022-09-28 17:29] moraaar commented on #7314
Thanks for confirming @LB-TomaszSerwanski.

I will remove the platform/android label, since the issue occurs on PC, not on android.

sig/content seems to be the better fit to look at this issue, since it's editor related.

For the icons missing on pre-build sdk that seems to be covered by this other GHI https://github.com/o3de/o3de/issues/3881 so it'd be better to not mix them both and focus this

[2022-09-28 17:29] moraaar commented on #3881
I will remove the platform/android label, since the issue occurs on PC, not on android.

[2022-09-28 17:35] FuzzyCarterAWS commented on #11708
@hultonha had a conversation with @onecent1101. They haven't had a chance to look at things yet but believes that this is likely an issue with nodes that were upgraded/replaced without providing a replacement logic path.  They're going to investigate further and provide information on how to proceed or determine if it's something they can submit a quick PR fix for.

[2022-09-28 17:46] galibzon commented on #12259
@robhaco Was not aware of it. Will give it a try.

[2022-09-28 17:52] AMZN-puvvadar commented on #12259
There was an Impactful Change announcement made on August 4th, 2022 regarding this change. Documentation has been submitted to the development branch of o3de.org but has not yet made it to main. You can find that documentation at https://github.com/o3de/o3de.org/blob/development/content/docs/user-guide/scripting/lua/debugging-tutorial.md for reference.

[2022-09-28 17:56] AMZN-Gene opened #12265 "Edit-Context: ProductAssetFilterPattern"
**Is your feature request related to a problem? Please describe.**
I want to customize what shows up in my EditContext asset picker window? My component has a AZ::Asset::Data<AzFramework::Spawnable>, but I only want .network.spawnables to show up in the picker list.

**Describe the solution you'd like**
Add a regular expression pattern filter for product files. There already exists the same featur

[2022-09-28 18:06] galibzon commented on #12259
Validated it actually works after enabling the Remote Tools Connection gem. Closing.

[2022-09-28 18:06] #12259 closed

[2022-09-28 18:29] HogJonny-AMZN commented on #12200
There is definitely a workaround for this in the short-term. If you go to the .prefab file for your new level and search for `LocalViewBookmarkComponent`, you can then delete the field `LocalBookmarkFileName`
[code]
becomes...
[code]
If you then open the level again, make an edit, and then save the level, the `LocalBookmarkFileName `will be regenerated and will be using a separate file.

[2022-09-28 18:37] monroegm commented on #9295
Reassigning to SIG-Simulation to see if as the owner of the tests it wants to run them serially instead of in parallel

[2022-09-28 18:41] monroegm commented on #12038
Reassigning to SIG-Graphics-Audio as this seems to have more to do with how the light component responds to the shape component being removed.

[2022-09-28 18:44] monroegm commented on #12042
Reassigning to SIG-Graphics-Audio to see about updating the node to accept a prefab/spawnable asset

[2022-09-28 19:12] greerdv opened #12267 "Revisit ragdoll mass ratio clamping"
Large mass ratios currently make ragdolls very unstable, and are easy to run into because the default setting for ragdoll bodies is to use density rather than specifying mass, which will lead to big differences in mass if the volumes of the colliders vary significantly.

A setting to automatically clamp mass ratios was added in https://github.com/o3de/o3de/pull/5645 but it is currently turned off

[2022-09-28 19:44] #9639 closed

[2022-09-28 20:30] santorac opened #12270 "Editor Crash After Filtering Python Scripts"
**Describe the bug**
If you close the Python Scripts tool after filtering for a file, it will crash inside QT code.

**Assets required**
I tested with the AtomSampleViewer project. I suspect it will happen with other projects though.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run the Editor
2. Don't open any levels. Just close the "Welcome to O3DE" dialog.
3. Tools > Other > Pytho

[2022-09-28 21:00] vincent6767 commented on #12005
No worry! Can you link your PR to the community repo? @amzn-leenguy

[2022-09-28 21:04] forkercat commented on #11741
## Update 9/28

I am still able to repro it in recent dev/stab with ***SimplifiedAssets.zip*** I provided above.

https://user-images.githubusercontent.com/11157226/192887901-4230bd8c-9e81-42f1-aaae-41cc361bfe44.mp4

I entered and exited the focus mode by clicking the icon. The editor freezes after couple attempts.

[2022-09-28 21:06] lsemp3d opened #12273 "Script Canvas: While node only works in limited operations"
**Describe the bug**
The while node in Script Canvas only works as long as anything connected to it is non-latent. Which is rarely the case when developing in a visual environment. Furthermore, the situation is not clear to the user, the only error presented being:

![image](https://user-images.githubusercontent.com/58790905/192886700-dd2d55fb-ce3e-4457-b183-387b8c098503.png)

[code]

A while loop

[2022-09-28 21:12] forkercat commented on #11741
I did some verifications that might be helpful.

***1. It only crashes on this particular hierarchy with 3 nested prefabs.***

[code]

Other hierarchies like the one below are okay.

[code]

***2. It did not crash before, so it could be related to some changes we introduced recently.***

These are some related PRs in my mind:
- July 19 - @AMZN-daimini put up #10730 to fix a similar issue. I verifi

[2022-09-28 21:18] AMZN-alexpete commented on #7203
@zhangbaochong are you able to reproduce this in the latest development branch? I cannot seem to repro it anymore

[2022-09-28 21:21] galibzon commented on #12259
Here is the PR that enables Remote Tools Gem in AutomatedTesting: https://github.com/o3de/o3de/pull/12274

[2022-09-28 21:30] amzn-leenguy commented on #12005
Oops. it seems that my file upload didn't go through properly. I am pretty new to Github. Can you help me make the PR? Thanks

[SIG-UI-UX-Development-21.11.2.json.zip](https://github.com/o3de/o3de/files/9669048/SIG-UI-UX-Development-21.11.2.json.zip)

[2022-09-28 21:36] galibzon commented on #12253
@smurly , can you please attach the Logs?

[2022-09-28 21:51] smurly commented on #12253
https://jenkins.build.o3de.org/blue/organizations/jenkins/O3DE/detail/development/3189/pipeline
[code]

[2022-09-28 22:03] santorac commented on #12224
A similar issue can occur in the main Editor while trying to edit the material properties on a Material Component. In that case, it shows a dialog box with assertion failure:
![image](https://user-images.githubusercontent.com/55155825/192896924-5d0469da-4d34-47d6-84fc-1e182098c827.png)

[2022-09-28 23:04] amzn-leenguy commented on #12005
I have just updated the sig ui ux file directly on github. it has updated the content on the form grey form page. But i am waiting to see it update on the webpage seen here: https://www.o3de.org/docs/release-notes/archive/22-05-0/feature-state/

[2022-09-28 23:14] tonybalandiuk commented on #11749
@invertednormal is this being worked on? Is it targeted for the upcoming release?

[2022-09-28 23:16] AMZN-Gene commented on #11239
Fixed #12189

[2022-09-28 23:16] #11239 closed

[2022-09-28 23:20] tonybalandiuk commented on #11747
@lsemp3d is this planned to be fixed for this upcoming release?

[2022-09-28 23:24] lsemp3d opened #12276 "Script Canvas: Nodeable <Property> should behave like a member variable"
**Describe the bug**
When creating a Nodeable if the `<Property>` tag is used it creates a field that is meant to be exposed as an input slot into the node. This should become a member variable of the node, this allows us to assign a variable reference onto the node, or provide the value during execution. This provides the ability to create nodes that can make decisions based on the value of graph

[2022-09-29 00:04] lsemp3d commented on #11747
No, sorry

[2022-09-29 00:21] #12054 closed

[2022-09-29 00:21] #12048 closed

[2022-09-29 00:28] michleza opened #12277 "Feature Request: Expose OnAssetNodeRemoved to python"
**Is your feature request related to a problem? Please describe.**
The delay on filtering the Script Canvas node palette causes test scripts to return inaccurate results unless we force the test code to wait. The wait time could be affected by other factors and we want to avoid having to adjust the wait time or slowing down the test suite.

**Describe the solution you'd like**
we would like to be

[2022-09-29 03:27] zhangbaochong commented on #7203
![image](https://user-images.githubusercontent.com/16303584/192931767-0d6f4853-aecb-466e-8eff-fb6624ece069.png)
there is invalid shadow area.

[2022-09-29 04:18] gadams3 commented on #12152
@jromnoa Before I investigate this deeper, could you please make another attempt at running the test after your latest refactor is done? Looking at the logs in the issue, it looks like the material canvas tests are referencing material editor logs. Other than enabling or disabling graph canvas and graph model gems, the projects are set up in the same way. Running the same series of tests should re

[2022-09-29 05:10] micronAMZN opened #12281 "Asset Browser context menu access for FBX files is inconsistent"
If you browse for FBX assets in Asset Browser, you can right-click on any asset to open the context menu and access tools like Edit Settings.

If you use the search box in Asset Browser to filter the list, right-click doesn't work on FBX files in the results. You have to double left-click or double right-click on a result FBX file to open the context menu.

This has been reported by more than one

[2022-09-29 10:06] hultonha commented on #12221
@LB-TomaszSerwanski have you had a chance to try this again sorry with the latest green development build? Is it still happening? Thanks!

[2022-09-29 10:21] moraaar commented on #9295
The blast tests are already running serially as workaround, this ticket is not to fix blast tests, but to investigate why running them in parallel fail randomly. The blast tests are very simple (open level, run game mode, check entities moved, exit game mode) that brings the question if running tests in parallel is actually reliable at all, either from the editor point of view or the test framewor

[2022-09-29 11:09] LB-TomaszSerwanski commented on #12221
@hultonha sorry for delay, but I wanted to verify on both source engine as well as on the pre-built SDK. The crash occurs on both setups on the latest stabilization/2210 (67014ed). We have used the steps from the [official guide](https://www.o3de.org/docs/welcome-guide/setup/setup-from-github/building-windows/) after wiping the following folders out of the machine:
- C:/git/o3de/build
- C:/o3de-in

[2022-09-29 12:12] LB-KatarzynaDylska opened #12283 "Feature Request: Make Third Person template easier to find"
**Is your feature request related to a problem? Please describe.**
Mentioned in the [Stabilization 2210 feature list](https://github.com/o3de/sig-release/blob/main/releases/22.10.0/22100%20feature%20list.md), the new Third Person project template is a showcase of some of the engine's capabilities and techniques developers can use. Despite this, the visibility of the template is low. It is mentione

[2022-09-29 12:22] LB-ArturZieba opened #12284 "Feature Request: Add an option to manipulate other values of the Color type variables other than RGBA in the Script Canvas"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to modify Color type variables in Script Canvas graph is to affect the RGBA values, while it is possible to modify other values via the color picker. If the color picker is used, other parameters such as Hue or Saturation can be used (RGB, HSL, and HSV).

**Describe the solution you'd like**
Add nodes to the

[2022-09-29 14:41] hultonha commented on #11703
Thank you very much for the update @amzn-tommy, that sounds great. Let me know if there's anything I can do to help. Also as I understand it this should also fix https://github.com/o3de/o3de/issues/11925? I believe they're the same problem. Thanks!

[2022-09-29 14:42] hultonha commented on #11708
That sounds great @FuzzyCarterAWS, thank you for the update

[2022-09-29 15:21] HogJonny-AMZN commented on #12284
Needs to take into account not just the color model (RGB v HSV), but also include color space (sRGB, LinRGB, ACEScg, etc.)

[2022-09-29 15:46] hultonha commented on #9295
Thanks for the info @moraaar. I would agree this does seem to be a potential problem with the framework as opposed to a specific test. Perhaps a session with myself, @moraaar and @Kadino could be setup to discuss this in more detail and maybe we could all do a pair (or 'mob' 🙂) programming session to try and get to the bottom of the issue without this ticket continuing to move around? Thanks!

[2022-09-29 15:48] gadams3 commented on #12258
As mentioned, there are set property functions for specific types that should be used with script canvas. The generic function that accepts AZStd::any works in C++ and lua. This is a minor issue because there are other functions that accomplish the expected functionality. The best option would be for a method to hide this specific function from script canvas.

[2022-09-29 15:55] gadams3 commented on #10907
I have added health text and options that will allow the user to enable or disable minimal shader build settings. Enabling this setting from the tools->settings menu dialog and restarting material canvas and the asset processor will automatically manage the settings mentioned in the link above to allow better viewport responsiveness.

[2022-09-29 15:55] #10907 closed

[2022-09-29 15:56] hultonha commented on #12221
Thanks for the update @LB-TomaszSerwanski. This is really odd as with the latest change @jonawals has not been able to reproduce this. It would be great to triple check you definitely have the fix in https://github.com/o3de/o3de/pull/12226. Do please reach out to me and/or @jonawals for more info tomorrow. Thanks!

[2022-09-29 15:58] shawstar commented on #10623
Would be cool to have this, as I wanted to use the VegetationBending in the RosCon project, but see that it will require customers to add in a absolute path in at lest 13 different imports. Or.. roll the dice and assume that the engine is installed in the default location.

[2022-09-29 16:10] lgleim commented on #12270
Assigning both sig/content & sig/graphics-audio for further triage

[2022-09-29 16:15] invertednormal commented on #11749
@tonybalandiuk I'm looking at this bug today.

[2022-09-29 16:15] HogJonny-AMZN commented on #10623
I agree, we should re-open this.  I also wanted to use the veg tutorial shaders, but it was too much hassle, which makes it a distraction.

[2022-09-29 17:39] AMZN-Gene commented on #12137
Verified, this _should_ be working.

[2022-09-29 17:42] allisaurus commented on #12198
Triage note: consider renaming variable to make it clearer what behavior this effects (if true, dedicated should shut down), adding more explanation to docs

[2022-09-29 17:48] jckand-amzn opened #12287 "UI Canvas on Mesh: .attimage assets can no longer be assigned to a Material Base Color texture"
**Describe the bug**
.attimage assets can no longer be assigned to a Material Base Color texture.

**Assets required**
User must create a source .attimage file locally to use as a render target as described in https://www.o3de.org/docs/user-guide/interactivity/user-interface/canvases/canvas-properties/#attachment-image-assets

**Steps to reproduce**
1. Launch the Editor, and create a new or existi

[2022-09-29 18:02] shirangj opened #12288 "CLI tool installed using O3DE Python cannot be executed"
**Describe the bug**
After installing a CLI tool using O3DE Python, the cli tool cannot be executed from any location. This is because O3DE Python Script folder is not in Path environment variable.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download a Python CLI tool, like s3sis https://github.com/aws-lumberyard/s3sis
2. Install the CLI tool using O3DE Python
3. Run the CLI tool f

[2022-09-29 18:07] amzn-tommy opened #12289 "CPU skinning is performed on the Actor, not the ActorInstance"
**Describe the bug**
If you have multiple instances of the same actor performing CPU skinning, they are going to overwrite each other. Since CPU skinning has limited usage and is not used for rendering, the actual impact will be subtle/limited.

Things impacted by CPU skinning will be ray-object intersection (editor picking, though if the skinning is done in a more serial manner for this use case,

[2022-09-29 18:22] lmbr-pip opened #12290 "Feature Request: Rename sv_isTransient and update description"
**Is your feature request related to a problem? Please describe.**
Split from https://github.com/o3de/o3de/issues/12198

The netowrking CVAR `sv_isTransient` does not accurately describe what this CVAR controls. Suggest adding more semantic context to CVAR to highlight this will cause the server to close once all connected players leave.

The CVAR is important when running on cloud compute to ensu

[2022-09-29 18:22] lmbr-pip commented on #12198
Split rename request to https://github.com/o3de/o3de/issues/12290

[2022-09-29 18:35] monroegm commented on #12258
Reassigning to SIG-Graphics-Audio, the owners of the node

[2022-09-29 18:53] monroegm commented on #11465
The current recommendation is to always have the user pick source assets. We need a way to filter the list of source assets to just the ones that produce a certain product asset (in this case a network spawnable).

[2022-09-29 18:56] monroegm commented on #11722
We need UX to weigh in on what the behavior of CTRL+S in prefab edit mode should be

[2022-09-29 18:58] galibzon commented on #12253
I get a 20% failure rate when running locally on my Linux machine:
[code]

[2022-09-29 19:00] #10601 closed

[2022-09-29 19:00] monroegm commented on #11726
Need UX to weigh in here on what to attach the tooltip to. Perhaps there should be an extra level of grouping

[2022-09-29 19:18] cgalvan commented on #4648
Closed as duplicate of https://github.com/o3de/o3de/issues/8933

[2022-09-29 19:18] #4648 closed

[2022-09-29 19:23] cgalvan commented on #4603
Closing as this issue no longer occurs in latest commit `1649414d5f6e027a30e8da7074fd85b127cb0a8f`

Also creating new nodes in Landscape Canvas uses the general create entity API, so it doesn't control what the name will be. It will follow the general naming behavior for creating entities in the Editor.

[2022-09-29 19:23] #4603 closed

[2022-09-29 19:57] jromnoa commented on #12152
@gadams3  Sure, I will update you after I finish the re-factor and re-run the tests.

[2022-09-29 20:08] smurly commented on #12253
the failure also occured in Diffuse Probe in a development branch. the common factor for these is the axis aligned box shape component add then undo of the add. the test reports that the reflection component is disabled, but nothing reports on the subsequent addition of box shaped component that should follow
[code]

[2022-09-29 20:28] cgalvan commented on #6526
Can no longer reproduce this issue in commit [1905697](https://github.com/o3de/o3de/commit/19056977eb1a0f8260afe2c4c733e9bb90337ec6)

[2022-09-29 20:28] #6526 closed

[2022-09-29 20:29] AMZN-alexpete opened #12293 "Gems added from project manager cannot be added to projects"
**Describe the bug**
After using the 'Add existing gem' option in the Gem Catalog.  You cannot create the project that uses that gem because you get the error: `Cannot add gem that isn't downloaded` - but this gem already exists on the hard drive.

After exiting the 'Create Project' flow, it turns out the project was actually created and if you go back into the configure gems for the project you c

[2022-09-29 20:48] amzn-tommy commented on #11703
This is fixed in stabilization with https://github.com/o3de/o3de/pull/12286, and should be fixed in development after the next stabilization->development merge.

[2022-09-29 20:48] #11703 closed

[2022-09-29 20:49] amzn-tommy commented on #11925
This is fixed in stabilization with https://github.com/o3de/o3de/pull/12286, and should be fixed in development after the next stabilization->development merge.

[2022-09-29 20:49] #11925 closed

[2022-09-29 21:05] cgalvan commented on #3928
Fixed by https://github.com/o3de/o3de/pull/12182

[2022-09-29 21:05] #3928 closed

[2022-09-29 21:07] cgalvan commented on #4239
Fixed by https://github.com/o3de/o3de/pull/12182

[2022-09-29 21:07] #4239 closed

[2022-09-29 21:09] santorac commented on #11792
@rgba16f did some investigation into register counts a while back. He was testing deleting parts of the shader code, rather than baking variants, and checked register counts. Here is what he reported seeing:
![image](https://user-images.githubusercontent.com/55155825/193142460-da59f735-88b3-489c-8392-66342309464f.png)

He also noted that he dug further into Direct Lighting and shadow visibility te

[2022-09-29 21:14] mcphedar opened #12296 "Roadmap Test"
[Migrated from JIRA LYN-15721]
Roadmap Test

[2022-09-29 21:19] #10126 closed

[2022-09-29 21:19] #3922 closed

[2022-09-29 21:19] #10746 closed

[2022-09-29 21:20] AMZN-alexpete opened #12297 "View in directory does not work for remote gems"
**Describe the bug**
When you click the `View in Directory` link in the details panel of the Gem Catalog for a remote gem it tries and fails to open the gem location.

**Assets required**
Download a remote gem like the PopcornFX gem

**Steps to reproduce**
Steps to reproduce the behavior:
1. After adding the remote PopcornFX gem, open the Gem Catalog and select the PopcornFX Gem
2. Click on '`View

[2022-09-29 21:27] AMZN-alexpete opened #12298 "No feedback after adding an existing gem"
**Describe the bug**
When you add an existing gem successfully in the Gem Catalog, there is no notification or message saying you successfully added the gem.
This might be related to a bug where if a remote gem with the same name exists in the cache it assumes you already have the gem.

**Assets required**
Clone the PopcornFX Gem https://github.com/PopcornFX/O3DEPopcornFXPlugin/tree/development

*

[2022-09-29 21:34] AMZN-alexpete opened #12299 "Cannot add a gem with the same name as one from a remote gem repository"
**Describe the bug**
After having added the remote PopcornFX gem and then removing it from the remote gem repo list, you cannot clone the gem and add it as an existing gem.  The gem catalog/o3de still seems to think the local gem is the remote repo gem that was removed/uninstalled.

**Assets required**
Clone https://github.com/PopcornFX/O3DEPopcornFXPlugin

**Steps to reproduce**
Steps to reproduc

[2022-09-29 21:35] tkothadev opened #12300 "Project Manager - Gem Catalog Screen incorrectly renders blank summary field for gem"
**Describe the bug**
Upon fresh install of O3DE with an existing set of gems made by me, I noticed a visual error where if a gem had a blank summary, I instead get back the following text: `${Summary}`

This is the image of such an event occurring:
![image (6)](https://user-images.githubusercontent.com/112996779/193145243-9221a207-7e27-4bb7-bd52-2b9ea837ff2c.png)

And upon further inspection, this

[2022-09-29 21:51] cgalvan opened #12301 "Landscape Canvas Preview Bounds connections getting removed"
**Describe the bug**
When connections are made to a `Preview Bounds` input slot in Landscape Canvas, the connection gets removed inadvertently after the user modifies properties on the Entity that node corresponds to (or closes/re-opens the graph). The underlying property data remains correct though.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Landscape Canvas
2. Create a Box

[2022-09-29 21:51] tkothadev opened #12302 "Project Manager - Gem Catalog Annoying Scroll halfway after uninstalling a gem"
**Describe the bug**
When I try to uninstall a local getm from my machine, if it's at the bottom of the page, the catalog screen scrolls halfway through. This requires me to continuously scroll down the bottom of the page for each successive gem I want to uninstall.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Use the following installer to install O3DE: https://o3debinaries.org/sta

[2022-09-29 22:31] invertednormal commented on #11749
I've spent several hours looking into this today, and I've mostly ruled out terrain having anything to do with the problem. It's likely some deeper bug in how the pipeline or pass system handles things, or possibly how a specific feature processor responds to pipeline changes.

As part of my testing, I disabled the internals of the terrain feature processor so that it doesn't actually do anything,

[2022-09-29 22:50] amzn-mike opened #12305 "Add automated unit test for actor hot-reloading"
**Is your feature request related to a problem? Please describe.**
https://github.com/o3de/o3de/pull/12228 fixed an issue with actor hot-reloading where updating the model scene settings did not cause the model asset to reload

**Describe the solution you'd like**
An automated test of some sort should verify that changes to AzModel or its dependencies cause the Actor's ModelAsset to reload

[2022-09-29 23:00] amzn-tommy commented on #7588
Fixed by https://github.com/o3de/o3de/pull/11082

[2022-09-29 23:00] #7588 closed

[2022-09-29 23:01] AMZN-Phil opened #12307 "Project Manager: Template download is incorrectly using the default project folder"
Downloading a template sets the download location to the O3DE project folder. There is no way of getting the folder a template is located within Project Manager after it is installed so there is no easy way to find this on disk due to it being in an unexpected location.

[2022-09-29 23:06] #12006 closed

[2022-09-29 23:11] lumberyard-employee-dm opened #12309 "Feature Request: Update the Gem Templates CMakeLists.txt to portably reference the "gem_name" field from the gem.json"
**Is your feature request related to a problem? Please describe.**
So the issue is that the name of a gem is used by CMake to search for specific gem variant targets based on the convention of `<gem-name>.<variant>`. This causes problems if the gem is renamed in the gem.json by updating the "gem_name" field.
If the CMakeLists.txt that declares the gem targets aren't updated as well, then activatin

[2022-09-29 23:49] santorac commented on #11380
Yup, looks good. Even though we didn't make the dialog prompt, it's close enough to the original intent.

[2022-09-29 23:49] #11380 closed

[2022-09-30 00:01] santorac commented on #11383
I think there is one problem with the current implementation that needs to be fixed. Because the registry setting uses a map, you can only have one script per folder. See https://github.com/o3de/o3de/blob/19056977eb1a0f8260afe2c4c733e9bb90337ec6/Gems/Atom/Tools/AtomToolsFramework/Code/Source/Util/Util.cpp#L640

The current script GenerateShaderVariantListForMaterials.py uses key "" and no other sc

[2022-09-30 00:06] santorac commented on #11388
There are a couple issues with the current implementation:
1. Once you click Save or Save As and the dialog is open, there is no way to cancel. If you click the "X" it does "Save to engine". There should be a cancel button, and clicking "X" should cancel as well.
2. Save all produces an error message:
![image](https://user-images.githubusercontent.com/55155825/193162838-8c2a3534-9ec9-45c7-b5e4-65e

[2022-09-30 00:21] santorac commented on #11792
I like the testing you did above with turning off some features in the material and comparing baked vs not-baked. Most of the other tests so far have been using more of a default StandardPBR material, with a fair number of features enabled. Going forward, I suggest focusing on testing a material with as _many features turned off_ as possible in the material data. That will give us better insight i

[2022-09-30 00:40] galibzon opened #12310 "[Linux] [Ubuntu 22.04] Can not compile the Editor in Debug configuration"
**Describe the bug**
Can not compile the Editor in Debug configuration.

**Assets required**
None.

**Steps to reproduce**
Configure command:
`cmake -B build -G "Ninja Multi-Config" -DLY_3RDPARTY_PATH=/mnt/data/o3de-packages -DLY_PROJECTS="AutomatedTesting;AtomSampleViewer"
`
Build command:
`cmake --build build --target Editor --config debug -j 16`

**Expected behavior**
The Editor target builds

[2022-09-30 01:53] galibzon commented on #12253
The crash can be reproduced manually using the Editor by following this EXACT steps:

1. Open Editor.
2. Open base_empty.prefab level
3. Add new entity.
4. Add Reflection Probe component.
5. undo several times so entity is gone
6. redo several times so Reflection probe is back
7. Add axis aligned box shape component to the entity
8. undo to remove axis aligned box shape
9. add box shaped component

[2022-09-30 03:57] pollend commented on #8476
I think this is already fixed.

[2022-09-30 04:20] santorac commented on #12253
I don't know if I trust that callstack. It goes from ComponentModeSwitcher::AddComponentButton to CommandList::SetViewports, which are completely unrelated as far as I can tell.

[2022-09-30 04:52] jiaweig-amzn commented on #12253
I can confirm it is not related to the reflection probe, but the box shape only.
New repro step is:
1. Create entity
2. Add box shape, or axis aligned box shape
3. Undo 2 so that the box (or aab) is removed (deleting to remove won't trigger the crash btw)
4. Add box shape, or axis aligned box shape again (not redo, redo won't crash)

[2022-09-30 05:05] L4exp commented on #9813
Seems, that problem dissapeared

[2022-09-30 05:05] #9813 closed

[2022-09-30 05:32] tonybalandiuk commented on #11749
Can someone assign a label for the priority?

[2022-09-30 06:07] vincent6767 commented on #12035
@galibzon Are there any updates around this?

[2022-09-30 06:09] vincent6767 commented on #12005
Alright. Thanks for the confirmation. I'll close the ticket for now then.

[2022-09-30 06:09] #12005 closed

[2022-09-30 06:44] santorac commented on #12253
My reliable repro steps are:
1. Create entity
2. Add a Box Shape
3. Undo to remove the box shape
4. Add a White Box Shape

[2022-09-30 08:14] moraaar commented on #12310
This will be fixed by https://github.com/o3de/o3de/issues/12310

[2022-09-30 08:48] hultonha commented on #9295
I've setup a call for us to have a catch-up about this, we'll report back after.

[2022-09-30 08:54] hultonha commented on #11703
Great to hear, thanks @amzn-tommy! 🥳

[2022-09-30 08:55] hultonha commented on #11925
Awesome news, thanks @amzn-tommy!

[2022-09-30 09:01] ParasiteSt commented on #11152
After thinking about it and using the rotation nodes in script canvas a lot more recently, I am not sure if Quaternions would be the best choice for the standard. They are much harder to understand when having to debug, and now seeing there is a Radian to Degrees node I believe Radians would be the best way to approach this as there is everything needed for conversions from radians to degrees, and

[2022-09-30 10:34] LB-JakubSkoczylas commented on #11925
This issue no longer occurs. Verified this on build Stabilization/2210 (731cff1).

[2022-09-30 10:36] LB-JakubSkoczylas commented on #3928
This issue no longer occurs. Verified this on build Stabilization/2210 (731cff1).

[2022-09-30 10:38] LB-JakubSkoczylas commented on #6526
This issue no longer occurs. Verified this on build Stabilization/2210 (731cff1).

[2022-09-30 12:28] LB-KacperKapusta commented on #11703
This issue no longer occurs. Verified this on build Stabilization/2210 (3560315).

[2022-09-30 12:55] galibzon commented on #12253
I was able to reproduce with @jiaweig-amzn step, but it is very important to follow the steps as soon as the Editor opens:

[2022-09-30 12:57] galibzon commented on #12253
Assigned to @hultonha , @lsemp3d & @monroegm as it is a problem of the Undo/Redo system + shape components.

[2022-09-30 14:01] #11584 closed

[2022-09-30 14:17] burelc-amzn opened #12313 "AssetProcessor tests fail when repeated"
**Describe the bug**
The AssetProcessor tests will fail if repeated enough times. Sometimes they will fail in a single run of all the tests. I find that I can usually trigger a failure in under 10 repeats of the tests `JobDependencySubIdTest.*:IntermediateAssetTests.*`.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Build the `AssetProcessor.Tests` target in the profile configuration

[2022-09-30 14:21] #9398 closed

[2022-09-30 15:43] #11827 closed

[2022-09-30 15:57] #12296 closed

[2022-09-30 16:00] mcphedar opened #12314 "Roadmap Test 2"
Roadmap Test

[2022-09-30 16:05] jromnoa commented on #12152
@gadams3 As discussed, the re-factor did not address the underlying problem. Pushed re-factor update to https://github.com/o3de/o3de/pull/11915 and also marked the MaterialCanvas tests there as skip until we can resolve this issue. It appears that we're always getting a non-zero return code when using this code inside `multi_test_framework.py` and only when running MaterialCanvas tests (MaterialEd

[2022-09-30 16:12] #12314 closed

[2022-09-30 16:12] mcphedar opened #12315 "Roadmap Test 2"
Roadmap Test

[2022-09-30 16:49] tjmichaels opened #12317 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 16:52] santorac commented on #12221
This issue might be related to https://github.com/o3de/o3de/issues/12253. I noted similar repro steps here https://github.com/o3de/o3de/issues/12253#issuecomment-1263172647. However, I'm not sure whether my repro steps deviate from the original bug being reported in 12253. I will continue to look into this.

[2022-09-30 16:57] forkercat commented on #11741
## Update 9/30

- I was trying to identify when the crash started happening. From the list above, the crash can be reproduced on and after this PR. I verified that one commit before does not crash. Now, I am looking into the commit to see which change is related. Tagging @chiyenteng @AMZN-daimini for visibility
    - https://github.com/o3de/o3de/pull/10943
- @alexmontAmazon can also repro it and i

[2022-09-30 16:59] tjmichaels opened #12320 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:08] tjmichaels opened #12321 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:09] tjmichaels opened #12322 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:11] tjmichaels opened #12323 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:12] tjmichaels opened #12324 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:14] tjmichaels opened #12325 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:20] #12293 closed

[2022-09-30 17:21] santorac commented on #12224
@galibzon I recommend we upgrade this priority to critical.

[2022-09-30 17:21] tjmichaels opened #12326 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:22] tjmichaels opened #12327 "Roadmap Test 2"
[Migrated from JIRA LYN-15736]
Roadmap Test

[2022-09-30 17:23] santorac commented on #11166
Heads up @galibzon the duplicate https://github.com/o3de/o3de/issues/12227 is marked critical, but this ticket is marked minor.

[2022-09-30 17:23] #12327 closed

[2022-09-30 17:23] #12326 closed

[2022-09-30 17:23] #12325 closed

[2022-09-30 17:23] #12324 closed

[2022-09-30 17:23] #12323 closed

[2022-09-30 17:24] #12317 closed

[2022-09-30 17:24] #12320 closed

[2022-09-30 17:24] #12322 closed

[2022-09-30 17:26] guillaume-haerinck commented on #2583
Related to https://github.com/o3de/o3de/issues/9192

[2022-09-30 17:37] santorac commented on #12310
@galibzon we should probably get this into the next release right?

[2022-09-30 17:42] spham-amzn commented on #12310
I think so, it looks like this bug made it into stabilization as well

[2022-09-30 17:42] hultonha commented on #12221
We have discovered this is most likely to do with a shader/material asset not being ready when the editor first launches with a new project. We've been working with various teams to try and find the best way to handle this (ideally we'd like to make the shader/material a critical asset but apparently this isn't possible). I am aware both @amzn-mike and @jonawals are discussing it and hopefully we

[2022-09-30 17:51] santorac commented on #12310
Hm, I just ran into this issue today on stabilization. Was it fixed _very_ recently?

[2022-09-30 17:52] santorac commented on #12221
Okay, it's probably not the same thing then.

[2022-09-30 17:52] spham-amzn commented on #12310
The bug was introduced in this [commit](https://github.com/o3de/o3de/commit/7c6e24d193efc41ae15491df21ab3a61a484eaa8)

[2022-09-30 17:54] santorac commented on #10623
I marked needs-triage to make sure the sig is seeing these comments. ;)

[2022-09-30 18:01] spham-amzn commented on #12310
Since this is a build failure, I suggest making this a critical bug

[2022-09-30 18:02] lumberyard-employee-dm commented on #10623
Adding a call to [FileIO::ReplaceAlias](https://github.com/o3de/o3de/blob/development/Code/Framework/AzCore/AzCore/IO/FileIO.h#L223-L226)  in the JsonImporter [ResolveImports](https://github.com/o3de/o3de/blob/eb4c6fb24c8429bfafca4a6a51613abb3a2756bb/Code/Framework/AzCore/AzCore/Serialization/Json/JsonImporter.cpp#L170) function will allow filesystem aliases such as `@gemroot:<gem-name>@` to be us

[2022-09-30 18:05] lumberyard-employee-dm commented on #10623
@santorac The issue has been triaged already.
Are looking for a priority bump to the issue?

[2022-09-30 18:07] santorac commented on #10623
Yes, that's kind of what I was getting at. Sorry if I'm being a nuisance :)

[2022-09-30 18:09] AMZN-alexpete opened #12328 "Gem Catalog doesn't refresh after saving changes"
**Describe the bug**
After enabling a gem in the Gem Catalog and pressing Save, if you return to the Gem Catalog, it still shows all the gem changes in the "shopping cart".  One way to fix this is to show the gem catalog for a different project and then return to the original project to get the catalog to refresh.  This is likely my fault due to some performance improvements I made to prevent refr

[2022-09-30 18:10] yuyihsu commented on #8513
Related to LYN-5329.

[2022-09-30 18:13] galibzon commented on #11749
Reassigned to @michabr. @invertednormal investigated and seems to be a problem of LyShine. @VickyAtAZ can provide support as needed.

[2022-09-30 18:14] galibzon commented on #11749
@jckand-amzn , does this works if the terrain components are never added?

[2022-09-30 18:16] rainbj commented on #8513
![AB Improved search expirence part 1](https://user-images.githubusercontent.com/82551958/193332153-86755d85-fab5-460b-abfb-88f7ff84c555.png)

![AB Improved search expirence part 2](https://user-images.githubusercontent.com/82551958/193332154-8aeb4f1d-b06b-4267-9cca-84ad07be9b32.png)

[2022-09-30 18:18] invertednormal commented on #11749
@galibzon it does work if the terrain components aren't added, but the mere act of adding any feature processor, or doing anything that could cause feature processors to have ApplyRenderPipelineChange() called on them when switching to game mode would likely break LyShine.

[2022-09-30 18:24] pollend commented on #11152
I think you just expand how to configure/set a quaternion. you can set it in degrees/radians/xyzw just make it as transparent to use euler angles. just need to know a couple things i.e multiplying quaternions together and you should be most of the way there.  just allow for all those options when setting a quaternion. there is a lot of stuff you would need to overcome if everything was in Euler an

[2022-09-30 18:24] invertednormal commented on #11749
From my investigations today, I tried disabling `ApplyRenderPipelineChange()` from being triggered by feature processors being added or removed, and when I do that LyShine works with terrain. However, I need to assume that event was added for a reason, and it points more to LyShine not handling `ApplyRenderPipelineChange()` correctly in some way. LyShine uses `ApplyRenderPipelineChange()` to set u

[2022-09-30 18:25] lumberyard-employee-dm commented on #10623
I have updated the priority to Critical.
I proposed a solution to the issue in the comment above my previous comment.

[2022-09-30 18:42] HogJonny-AMZN opened #12330 "Feature Request: Vegetation Asset List Supports Procprefabs"
**Is your feature request related to a problem? Please describe.**
The Vegetation Asset List Component, does not support the loading of procprefabs (procedural prefabs.)
These are prefabs generated by default, and in the case of many props (like a rock) there is no real need to go make a prefab (the procprefab has everything needed.)

**Describe the solution you'd like**
I would like the Vegetatio

[2022-09-30 18:52] HogJonny-AMZN opened #12332 "Can't Drag n Drop Prefab into Prefab Asset Slot of Vegetation Asset List Component"
**Describe the bug**
User can not drag and drop an prefab from the outliner into a prefab asset assignment slot in the Vegetation Asset List Component.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Select an Entity with a Vegetation Asset List Component
2. From the Entity Outliner, click-hold on a prefab entity, drag and drop into the prefab asset assignment slot on the Vegetation As

[2022-09-30 19:06] #12307 closed

[2022-09-30 19:19] santorac commented on #12224
This is now fixed in the release stabilization branch.

[2022-09-30 19:19] #12224 closed

[2022-09-30 19:24] amzn-leenguy opened #12334 "Bug Report: Application Tools not represented as opened on Editor"
**Describe the bug**
When a user opens a tool from either the toolbar or the tools file menu, 3 applications are not represented as opened (with the tick icon). This is most likely because these 3 tools do not open as a child panel of the editor, but in their own exe.

**Assets required**
O3DE Editor

**Steps to reproduce**
Steps to reproduce the behavior:
1. On Editor, goto the File Menu > Tools

[2022-09-30 19:32] mcphedar opened #12335 "Roadmap Test 3"

[2022-09-30 19:48] #4210 closed

[2022-09-30 19:50] santorac commented on #4210
The difference in values is intentional. https://github.com/o3de/o3de/pull/12292 should help alleviate some of the confusion, by showing more color space information in the dialog.

[2022-09-30 19:50] santorac commented on #3736
The difference in values is intentional. https://github.com/o3de/o3de/pull/12292 should help alleviate some of the confusion, by showing more color space information in the dialog.

[2022-09-30 19:50] #3736 closed

[2022-09-30 19:56] HogJonny-AMZN opened #12337 "Feature Request: Bulk actions on Prefabs"
**Is your feature request related to a problem? Please describe.**
I would like to select multiple procprefabs and perform 'detatch prefab...' as a bulk action across the selection set.

**Describe the solution you'd like**
I have dragged an entire set of environmental decorative objects into my outliner, so I can visually check the art.

![image](https://user-images.githubusercontent.com/23222931

[2022-09-30 20:04] #12335 closed

[2022-09-30 20:09] jckand-amzn commented on #11749
[CanvasOnMeshTest.zip](https://github.com/o3de/o3de/files/9687366/CanvasOnMeshTest.zip)

Adding an example level. This can be unzipped to AutomatedTesting/Levels and should be setup to properly display a canvas on a mesh in the level. If anything seems missing, verify the material instance Base Color texture has been updated to the .attimage in the level folder.

[2022-09-30 20:23] amzn-tommy opened #12339 "Frequent use of GetFeatureProcessor function causes performance issues"
**Describe the bug**
GetFeatureProcessor is not a free lookup function due to its use of RTTI, and generally speaking pointers to feature processors should be cached and re-used. This has a noticeable performance impact when the transform of many mesh components are updated every frame, since UpdateObjectSrg is calling GetFeatureProcessor many times per frame.

Several Pass::IsEnabled() functions

[2022-09-30 20:27] tonybalandiuk commented on #12221
** Exception Tracking**

* [ ] 1. Owning SIG requests the exception, by a Sig Representative (Chair/co-chair) adding the PR to the exception requests queue board.
* [ ] 2. Owning SIG comments on the PR explaining impact if this code does not go into stabilization along with the blast radius of this code.
* [ ] 3. Unrelated SIG representative (chair/cochair) approves the exception, adding a comment

[2022-09-30 20:29] santorac commented on #12227
Okay, everything should be fixed now, except for "the color swatch preview value closely matches the texture preview value,
they are slightly different, so there may be a rounding error?". That one is a result of compression. If you change to a lossless image preset then the difference goes away.

[2022-09-30 20:29] #12227 closed

[2022-09-30 20:31] santorac commented on #11166
This is fixed in the release stabilization branch. It should be integrated back to the development branch in a couple days.

[2022-09-30 20:32] tonybalandiuk commented on #11741
thank you @forkercat  please provide another update at end of day 9/30 if possible.

[2022-09-30 20:57] tonybalandiuk commented on #12310
@spham-amzn  it looks like once https://github.com/o3de/o3de/pull/12333 goes into development you'll stage a PR for stabilization?

[2022-09-30 21:08] amzn-tommy opened #12341 "Several systems are using AZ_PROFILE markers at fine granularity, causing performance issues"
**Describe the bug**
Vegetation::InstanceSystemComponent::CreateInstanceNode and IsInstanceSkippable both use AZ_PROFILE_FUNCTION macros, while those functions only take .001ms to .004ms to execute. The profile markers are not free, and CPU sampling shows that during InstanceSystemComponent::ExecuteTasks, 50% of the time is spent creating and destroying the profile scopes (see screenshot below)

V

[2022-09-30 21:13] #10526 closed

[2022-09-30 21:13] #10547 closed

[2022-09-30 21:15] onecent1101 commented on #11708
Have investigated some of graphs:
* Physics\ScriptCanvas_MultipleRaycastNode\Raycast.scriptcanvas - because of non-existing old node, current system doesn't have ability to replace it
* Physics\ScriptCanvas_SetKinematicTargetTransform\Signal.scriptcanvas - this file is still in xml format, it can be opened, but ebus handler node is unable to get constructed correctly. (sorry not really sure which

[2022-09-30 21:19] shawstar opened #12342 "Morph Target Animation will fail if Animation Nodes have . in their names."
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

**Assets required**
Working Asset:
[TreeActor_Low.zip](https://github.com/o3de/o3de/files/9687495/TreeActor_Low.zip)
I found that just a none name with a . will break the Morph Target Animation.
Not Working Asset:
[Tree

[2022-09-30 22:03] spham-amzn commented on #12310
I thought I did target stabilization. I'll have to redo this again

[2022-09-30 22:35] AMZN-daimini opened #12347 "Rects are painted via debug draw in the 3D scene for no reason."
**Describe the bug**
At some size ratios for the viewport, debug draw lines are displayed in the 3D scene.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open any level
2. Resize the viewport and move the camera around

**Actual behavior**
Debug draw lines are painted in a corner (see images)

**Screenshots/Video**
![image](https://user-images.githubusercontent.com/82231674/193364807-

[2022-09-30 22:38] santorac commented on #12253
I was finally able to trap the issue with a debugger attached! (using my repro steps above https://github.com/o3de/o3de/issues/12253#issuecomment-1263172647)

I might know what's going on. ComponentModeSwitcher::AddComponentButton searches m_addedComponents for existing matching entries, and crashes when it hits componentInfo.m_component->RTTI_GetType() because that's the Box Shape which was delet

[2022-09-30 22:46] amzn-tommy opened #12349 "Frequent use of local AZ::Name variables causes performance issues"
**Describe the bug**
Creating and destroying an AZ::Name involve lookups in the name database. Oftentimes these can be replaced with a static Name, which is initialized once and avoids inserting/removing the name from the name database over and over again.

**Assets required**

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a scene with a lot of instances via the vegetation syst

[2022-09-30 22:51] amzn-tommy opened #12350 "InstanceDatabase::Create uses FindOrCreate under the hood, causing a performance issue"
**Describe the bug**
InstanceDatabase::Create uses FindOrCreate with a random Uuid. This involves checking the database to see if the instance already exists, even though we know we're creating a new instance so we should just be doing the insert.

**Assets required**

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a scene with a lot of instances via the vegetation system
2. Pro

[2022-09-30 22:59] mbalfour-amzn commented on #12253
Another possible avenue to look at - ViewportUiWidgetCallbacks::AddWidget adds to m_updateCallbacks, but RemoveWidget doesn't remove from m_updateCallbacks, which I believe leaves some invalid update callbacks lying around. These would point into lambdas created in ViewportUiSwitcher::AddButton that reference a raw Button* pointer that comes from a unique_ptr<> that I think has already been delete

[2022-09-30 23:20] galibzon commented on #12253
I was able to confirm that by disabling ComponentModeSwitcher from ebus notifications the bug doesn't occur. In other words, fixing this problem can be narrowed down to ComponentModeSwitcher , which is the new feature that's been introduced in the code base. It seems @santorac also have a good lead for @amzn-ahmadkrm to follow up with.

This is what I did to disable ComponentModeSwitcher :

[2022-10-01 00:16] forkercat commented on #11741
**EOD Update:** PR is up to fix and it is pending for review and passing AR. Once it is green, it will be merged next Monday 10/3.

[2022-10-01 00:24] michabr commented on #11825
Update: I was able to remote to an existing Linux instance that already has the necessary O3DE setup, and will debug from there.

[2022-10-01 01:10] spham-amzn commented on #12310
Fixed in stabilization with commit https://github.com/o3de/o3de/commit/dcea2980d6d1a8eed7111c894bd5db5b7298bd0d

[2022-10-01 02:36] AMZN-Olex opened #12352 "Natvis files are not installer with profile installers"
**Describe the bug**
*.natvis files are missing from the installers

Specifically, these files:
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an installer
2. Look for natvis files

**Expected behavior**
Natvis files are inside the installer folder

**Actual behavior**
Natvis files are not part of the installer

**Found in Branch**
development

**Desktop/Device (please c

[2022-10-01 02:48] akioCL opened #12355 "[Android][Quest2] Vulkan validation error: VUID-vkResetFences-pFences-01123"
Describe the bug
When running an O3DE level on Oculus Quest 2 with Vulkan validation layer enabled the following error appears:

`2022-09-30 17:03:07.882 17358-17996/org.o3de.AtomSampleViewer I/: [Error] (vkDebugMessage) - ERROR: [Validation] Code 0 : Validation Error: [ VUID-vkResetFences-pFences-01123 ] Object 0: handle = 0x6218d20000000239, type = VK_OBJECT_TYPE_FENCE; | MessageID = 0x68a5074e

[2022-10-01 02:52] akioCL opened #12356 "[Android][Quest2] The "Features/OpenXR" sample runs really slow on device (1 fps)"
**Describe the bug**
The Features/OpenXR sample runs really slow (maybe 1 fps) on the Quest 2.

Steps to reproduce
Steps to reproduce the behavior:

Build O3DE for Android
Add Vulkan-ValidationLayer binaries to the apk and enable it.
i. Download Vulkan-ValidationLayer binaries from https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases
ii. Copy the folder "arm64-v8a" into "LY_BUILD_DIR\a

[2022-10-01 03:58] lumberyard-employee-dm commented on #12352
We need to add an `ly_install_files(FILES <filename>)` call to the appropriate CMakeList.txt for the natvis files

[2022-10-01 04:17] tonybalandiuk commented on #12221
The PR for this will need an exception @hultonha  . Can you see that it gets prepared with the exception checklist? Thanks.

[2022-10-01 04:21] tonybalandiuk commented on #11825
thanks for the update. Note @monroegm that once this PR is prepared, it will require an exception which should be easy to get.

[2022-10-01 04:31] tonybalandiuk commented on #11749
@invertednormal submitted the fix for this.

[2022-10-01 04:31] #11749 closed

[2022-10-01 04:36] tonybalandiuk commented on #11741
thanks for the update. Note @monroegm (Sig-Content) that once this PR is prepared, it will require an exception which should be easy to get.

[2022-10-01 04:37] tonybalandiuk commented on #12310
thanks for addressing this @spham-amzn ! closing this issue

[2022-10-01 04:37] #12310 closed

[2022-10-01 04:44] tonybalandiuk commented on #11926
per feedback from @galibzon "This is an Atom issue with assets not being marked as critical. The Atom ResourcePoolBuilder needs to be updated. We could probably mark this is a known issue as there is an "easy" workaround (ie don't close editor while assets are processed first time)."

[2022-10-01 06:51] vincent6767 commented on #12036
Talked with @lmbr-pip . He said he will update it around Monday.

[2022-10-01 07:04] vincent6767 commented on #12031
Hi @monroegm and @lsemp3d , are there any updates around this? We need this to be completed before the communication goes out on October 13th. Target to complete October 7th.

[2022-10-01 21:46] hultonha commented on #12253
Please don't check-in that code to disable it, we have a settings registry value that can disable it - Just set `/Amazon/Preferences/Editor/ComponentSwitcherEnabled` to `false`. In the short term we can add that to the .setreg file in AutomatedTesting project to resolve this while I look into the issue with ahmadkrm.

[2022-10-02 07:21] ParasiteSt commented on #11639
@pollend any news if that PR has fixed this issue? I am not sure if I should close this post just yet as I cannot update to the newest dev because the dev branch has not been stable for the last week. I can do a thorough check once the dev branch seems stable and close this issue afterward otherwise.

[2022-10-02 07:28] ParasiteSt commented on #9087
I gave this another go after a few months and the issue no longer occurs. If you try to use Pressed and not Held for the Input handler on either Maximized or Viewport runtime it does not work and you must use Held now going forward for both which makes the most sense and fixes the difference between the two.

[2022-10-02 07:28] #9087 closed

[2022-10-02 15:31] pollend commented on #11639
I made a fix but i'm not sure it actually resolves the problem. I tried it for quite some time and was unable to reproduce the crash.

[2022-10-03 10:01] etherealchain commented on #11792
Update
I try to setup the pipeline state and get Spir-V binary using `dxc -spirv -T vs_6_2 -E VertexShader D:\o3de-project\myproject\Cache\pc\shaders\materials\enhancedpbr\enhancedpbr_forwardpass_eds_vulkan.hlsl`

but so far I am unable to build with rga, even with a simple command like
`rga.exe -s vk-spv-offline -c gfx1035 --isa "D:\output\isa.txt" --il "D:\output\il.txt" -a "D:\output\stats.csv"

[2022-10-03 11:03] hultonha commented on #12253
@santorac Were you able to reproduce this problem on Windows or is this just Linux too?

[2022-10-03 11:13] hultonha commented on #12253
@santorac and @galibzon - @amzn-ahmadkrm and myself attempt to reproduce on Windows but couldn't so it seems this is a Linux only issue. One suggestion I have is to switch the `QTimer::singleShot(` in `ComponentModeSwitcher::AfterUndoRedo()` with connecting to the TickBus and then disconnecting on the next frame. This should be more reliable and might potentially fix the problem. I can make a PR w

[2022-10-03 12:08] hultonha commented on #12253
@santorac @galibzon @mbalfour-amzn - I have a potential fix available on this branch - https://github.com/aws-lumberyard-dev/o3de/tree/hultonha_GHI-12253_switcher-ontick (if you do `git fetch origin` and `git switch hultonha_GHI-12253_switcher-ontick` you can quick change to it and see if the issue is resolved). @amzn-ahmadkrm is working on getting a Linux machine up and running to verify.

I also

[2022-10-03 12:11] hultonha commented on #12221
@tonybalandiuk see https://github.com/o3de/o3de/pull/12364 for PR and exception checklist

[2022-10-03 13:15] LB-KrzysztofPinkowski opened #12365 "UI Editor: Elements zoom incorrectly when Editor's window is out of focus"
**Describe the bug**
When the UI Editor's window is out of focus, scrolling it does not zoom UI elements. Focusing the Editor afterwards, updates the size and position of the elements.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open UI Editor.
2. Add element with a component to the canvas (e.g. Image or text).
3. Click on the desktop/other window.
4. With the Editor out of focus,

[2022-10-03 13:53] LB-TomaszSerwanski commented on #11584
Verified that the issue does not occur on the latest Development (780d8fc), however it is still active in Stabilization/2210 (38005c3).

[2022-10-03 13:55] LB-TomaszSerwanski commented on #8476
Verified that the issue is fixed on both Development (780d8fc) and Stabilization/2210 (38005c3) branches.

[2022-10-03 14:57] burelc-amzn opened #12366 "Non-unity debug builds fail on Linux"
**Describe the bug**
Building the non-unity debug configuration on Linux fails

**Steps to reproduce**
Steps to reproduce the behavior:
1. Attempt to build `AzCore` on Linux:
[code]

**Expected behavior**
Build succeeds

**Actual behavior**
Build fails

**Found in Branch**
`stabilization/2210`

**Desktop/Device (please complete the following information):**
 - Device: PC
 - OS: Linux
 - Version Ub

[2022-10-03 15:16] MiKom commented on #10961
The WIP branch from @aambrosano is located here: https://github.com/o3de/o3de/compare/development...aambrosano:o3de:10961-animgraph-use-context-menu-options-for-node-groups

[2022-10-03 15:25] #12090 closed

[2022-10-03 15:29] #9513 closed

[2022-10-03 15:43] lmbr-pip commented on #12342
This seems like a good candidate for export tools as we do not support `.` in node names. Assume node is getting renamed and then the reference can't be found.

[2022-10-03 15:44] jckand-amzn commented on #11749
Verified fix on stabilization/2210@ 38005c3cac3e266e776350e15b2db8bc56a086aa.

[2022-10-03 15:53] byrcolin commented on #11698
This is on the roadmap

[2022-10-03 15:53] #11698 closed

[2022-10-03 15:58] mcphedar opened #12368 "Performance Automation, alerts and reporting - Milestone 1 (Local capture of profiling data)"
**Description**
 - Deliver API for recording metrics in C++ / scripting.
 - Enable platform specific profilers to use same API for low level profiling.

**Acceptance Criteria**
 * Feature is delivered to Dev
 * Release Notes are documented

[2022-10-03 15:59] mcphedar opened #12369 "Scene Settings UX Refresh"
The Editor [Scene Settings UX](https://github.com/o3de/o3de/tree/development/Code/Editor/Plugins/EditorAssetImporter) is used to mange the processing settings when working imported scene files in a project.

This roadmap item breaks down updating the Scene Settings UX to improve the user experience including polishing the UX, fixing known issues around the save workflow and providing much clearer

[2022-10-03 15:59] mcphedar opened #12370 "Low-level Shape Offset Support"
## Summary

Add the ability to asymmetrically adjust the dimensions of shape components in O3DE.

### Description

This will initially be reserved to Box, Capsule and Sphere shape. This will achieved by adding an additional offset to the Shapes to allow dimensions to be adjusted asymmetrically.

This initial Roadmap item covers the low-level plumbing to add this to Shapes and propagate the change

[2022-10-03 15:59] mcphedar opened #12371 "Network: Usability improvements for working with clients and servers"
Roadmap item covers a number of key issues usability issues for networking. These included improving the play-in-editor experience, adding ImGUI based helper tools, providing safety bumpers around the use of load level and providing a mechanism to detect for client and server networking mismatch. Items in initiative were all identified through WF6 testing for the walk-the-engine initiative.

[2022-10-03 15:59] mcphedar opened #12372 "OpenXR Platform Support - Milestone 2"
Initial integration of OpenXR with support for Meta Quest 2. It will feature a simple level with multiple meshes using the full VR pipeline.

Note that the performance will not be optimal to build a full application at this stage. That will come in a subsequent deliverable.

[2022-10-03 15:59] mcphedar opened #12373 "O3DE Versioning Framework"
As a developer or user of O3DE I want to be able to specify what versions of O3DE my components, systems, and assets are compatible with. I want the Development branch to have a version, allowing me to test my code against versioning, and I want to be able to install multiple versions of O3DE on the same drive without conflicts.

[2022-10-03 15:59] mcphedar opened #12374 "Network/Cloud: Deliver AWS C++ SDK Updates"
Roadmap item plans to deliver at least two updates to the AWS C++ SDK used in O3DE so its never more than 6 months old. Second update in 2022 may be delayed by AWS Gem migration from O3DE/O3DE.

[2022-10-03 15:59] mcphedar opened #12375 "[DCCsi] Create DCC Extensions to Help Creators Optimize Exported Content"
**Description:**  An O3DE Game Project can enable the DccScriptingInterface Gem (DCCsi), to provide workflow integrations with many popular DCC applications, so users can more easily work with O3DE content creation workflows and generate clean asset data.

**RTE requirement:** A Technical Artist and Character Artist can use the O3DE DCC Studio Tools in Blender, to manage the export of clean error

[2022-10-03 15:59] mcphedar opened #12376 "Support for multiple versions of the engine installed"
As a user of O3DE I can install multiple versions of the engine side by side without confusing my projects.

[2022-10-03 15:59] mcphedar opened #12377 "Expand Python support to access and modify components and widgets created using AzQtComponents library"
The AzQtComponents library has many frequently used widgets, message boxes, dialogues, etc. Adding python support to these components will enable extensibility of the O3DE engine and improve integration with DCC tools.

[2022-10-03 15:59] mcphedar opened #12378 "Project upgrades to new engine versions"
As a developer of O3DE I want a framework available that allows me to create 'upgrade' functionality for features and assets in my purview. As a customer I would like to know if my project is compatible with a specific version of O3DE and, if not, be given a path to upgrade my project. The path could be automatic conversions for specific features and assets or instructions on how to manually upgra

[2022-10-03 15:59] mcphedar opened #12379 "Asset Browser: Improve asset browser CRUD (Create, Update, Read, Delete) operations"
Improve the Asset Browser to handle common asset operations (Create, Read, Update, Delete) using industry recognized patterns. Add Asset Creation infrastructure to support creation of supported asset types, support asset renaming, relocation and deletion. 

 

 

[2022-10-03 15:59] mcphedar opened #12380 "Replace the legacy action manager with an extensible, scriptable action management framework"
The legacy action manager is fairly ingrained directly into many parts of the editor, the goal is to replace this system with a new Action Manager that is extensible. The new Action Manager will allow registering new actions (menus, hotkeys, contextual actions) from Gems, or, from Python scripts. This will improve custom editor extensions and integrations with DCC tools.

[2022-10-03 15:59] mcphedar opened #12381 "Replace the Reflected Property Editor with a Document Property Editor built using DOM (Document Object Model)"
The Reflected Property Editor (RPE) is directly tied to the O3DE reflection system, making it cumbersome to use and extend. The Document Property Editor (DPE) will use the Document Object Model  (DOM) to create, use, display, extend, and manipulate properties editors. The DPE will supersede the RPE and once all existing use-cases of RPE have been migrated the RPE will be removed.

[2022-10-03 15:59] mcphedar opened #12382 "Texture Streaming"
Develop the infrastructure and APIs for texture streaming and restricting which mip levels to load according to the GPU memory budget. This feature should be supported by both DX12 and Vulkan.

[2022-10-03 15:59] mcphedar opened #12383 "Decouple Materials, Lights, and Geometry"
We will create a new abstraction in Atom to decouple material and light evaluation, from the underlying rendering pipeline (e.g. deferred, forward, visibility buffer, etc.), enabling material reuse between different pipelines (within or across different projects) and simplifying the implementation of new material types. RFC: [https://github.com/o3de/sig-graphics-audio/blob/main/rfcs/rfc-prs-202109

[2022-10-03 15:59] mcphedar opened #12384 "OpenXR Stereoscopic Rendering Support"
Functional prototype of OpenXR stereoscopic rendering support, using Meta Quest2 as first hardware target.

[2022-10-03 15:59] mcphedar opened #12385 "Material Canvas"
Material Canvas (MC) will empower users and eliminate pain points associated with hand authoring material types, materials, and shaders. It will offer intuitive, easy to use, node based, visual scripting interfaces that are consistent with other node-based tools in O3DE. Through MC, users will be able to define modular, material and shader centric nodes, create graphs by dragging the nodes onto a

[2022-10-03 16:08] #12309 closed

[2022-10-03 16:09] #10623 closed

[2022-10-03 16:19] tonybalandiuk commented on #11825
@monroegm Can this be worked around by duplicating the entities the deleting the originals? If so this may be a candidate for a Known Issues.

[2022-10-03 16:45] mcphedar opened #12386 "Terrain M3 - Improved workflows"

[2022-10-03 16:46] mcphedar opened #12387 "Animation support for common third party tools: Phase 2 - Asset import improvements"
This separate Roadmap item is to divide the remaining work needed for further fixes/improvements to the animation import process.

With the initial delivery of root motion extraction complete, the character team has returned to addressing several small pain points concerning animation import issues and usability problems. This work is combining with input from UX, the DTs and QA to help harden and

[2022-10-03 16:47] mcphedar opened #12388 "Viewport Experience Improvements"
This roadmap item covers improvements to the overall editor viewport to make it easier and more flexible to use. It also covers an overhaul and rewrite of the O3DE viewport documentation to make it much clearer and easier to understand for customers.

[2022-10-03 17:09] galibzon commented on #11926
@VickyAtAZ , can you please mark resourcepool assets as critical and see if it fixes the issue?

[2022-10-03 17:12] michabr commented on #11825
After some investigation it turns out this is already fixed indirectly by this PR https://github.com/o3de/o3de/pull/11822. Before, the prefab deserializer halted when hitting an unrecognizable component which put the level prefab in a weird state, but with this PR the deserializer skips and continues.

I've verified that none of the issues in this ticket occur anymore (and that they used to occur

[2022-10-03 17:28] hultonha commented on #12387
Relates to https://github.com/o3de/o3de/issues/10661

[2022-10-03 17:30] rainbj commented on #8513
Hi @superkitcath. I've attached a couple images from the UX workflow on another set of tickets I'm working on for the long term updates for Asset Browser. This update is in phase 4 which is about a year out. Please let me know if I missed any details here. Thanks.

[2022-10-03 17:47] rainbj commented on #12005
@amzn-leenguy thanks for working on this.

[2022-10-03 17:54] rainbj commented on #10115
@LB-HubertUberman - Just curious if this issue was ever resolved. I still see this ticket open. Thanks

[2022-10-03 17:54] lsemp3d opened #12390 "Map variables in Script Canvas don't allow modifying the Key"
**Describe the bug**
A clear and concise description of what the bug is. Try to isolate the issue to help the community to reproduce it easily and increase chances for a fast fix.

![image](https://user-images.githubusercontent.com/58790905/193645281-868670ea-748a-482b-98de-150927a81a3a.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Script Canvas
2. Create a Variable of typ

[2022-10-03 17:56] amzn-leenguy commented on #12005
Thanks should go out to @AMZN-daimini as well. He did 51% of the work.

[2022-10-03 17:57] burelc-amzn commented on #12366
This was caused by a build directory I created a long time ago, that was still configured to use clang 6.

[2022-10-03 17:57] #12366 closed

[2022-10-03 18:01] jromnoa commented on #11629
This is resolved now.

[2022-10-03 18:01] #11629 closed

[2022-10-03 18:03] #11825 closed, assigned to michabr

[2022-10-03 18:11] forhalle commented on #6476
SIG - Can you please re-prioritize given that Mac is an experimental platform?

[2022-10-03 18:27] AMZN-Gene commented on #12265
yes. label added. editor feel free to move if edit-context doesn't actually fall under editor. maybe it's core?

[2022-10-03 18:28] rainbj commented on #10201
Hi @FuzzyCarterAWS - so we actually have this ticket already put into our backlog for Asset Browser roadmap.  You can find it here, LYN-11693.

@yuyihsu or @svitlani - this task status is "Accepted - Jira Needed". Jira's number is LYN-11693. Unsure how to set this task is it's now prioritized in the AB long term roadmap.

[2022-10-03 18:29] tonybalandiuk commented on #11825
thank you for the update. Glad to see this is fixed. @AMZN-Dk FYI

[2022-10-03 18:31] tonybalandiuk commented on #11926
decision has been made to attempt to fix this in stabilization since this could result in a poor first time user experience

[2022-10-03 18:36] #12315 closed

[2022-10-03 18:48] rainbj commented on #9884
Hi @mbalfour-amzn apologies for the late follow-up. So the transparency question you had has a few use cases that I can think of.  @hultonha for visibility.

- First and foremost. The ability to adjust the transparency wouldn't be just too to give the user more opacity, but also give less opacity. So for example, if you have several nested entities and prefabs and each of those objects has a Box f